<?php if($this->isEnabled() && $tweets = $this->getLateTweets()): ?>

<div class="widget-media-plain widget-media-tweet">
    <div class="content">
        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="0 0 105.84 86.115"><path fill-rule="evenodd" clip-rule="evenodd" d="M102.63 1.737c-1.764 4.873-4.74 8.435-8.502 11.485 3.82-.206 7.354-1.57 11.075-2.548-.19.3-.367.616-.58.904-2.442 3.33-5.264 6.308-8.522 8.838-.89.694-1.24 1.413-1.25 2.493-.09 4.73-.4 9.44-1.46 14.07-3.79 16.45-12.28 29.78-26.37 39.31-7.55 5.1-15.92 8.25-24.98 9.25-8.5.94-17 .88-25.36-1.41-5.52-1.51-10.69-3.82-15.66-6.65-.34-.2-.66-.44-1.01-.86 11.47.714 21.9-1.98 31.35-9.076C21.6 66.42 14.82 61.67 11.27 52.38c3.21.074 6.16.36 9.297-.424C9.94 48.53 4.28 41.516 3.72 30.46c2.93 1.36 5.94 2.21 9.195 2.366-4.34-3.454-7.39-7.73-8.514-13.183C3.29 14.266 3.94 9.1 6.66 4.103l5.22 5.11C22.73 19.86 35.84 25.44 50.918 26.62c.13.012.27.002.55.002-.03-.402-.06-.757-.09-1.11-.395-4.38-.248-8.668 1.67-12.77C56.465 5.414 64.58-.92 74.985.114c4.746.47 8.866 2.24 12.355 5.425 1.11 1.01 2.203 1.33 3.565.81 3.058-1.16 6.117-2.31 9.166-3.49.77-.3 1.51-.67 2.56-1.13z"></path></svg>

        <ul>
            <?php foreach($tweets as $tweet): ?>
                <li class="std">
                    <p>
                        <?php if(Mage::getStoreConfig('tweets/displaysettings/show_name')) { ?>
                            <strong><?php echo (string) trim($tweet["user_name"]); ?></strong> <?php echo $tweet["screen_name"]; ?>
                        <?php } ?>
                    </p>

                    <p class="tweet-data">
                        <?php echo str_replace('target="_blank"rel="nofollow"href', 'target="_blank" rel="nofollow" href', (string) trim($tweet["tweet"])); ?>
                    </p>

                </li>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
<?php endif; ?>
