<?php //if ($this->isCOD()): ?>
<?php $permission = Mage::getSingleton('admin/session')->isAllowed('sales/invoice/cod'); ?>
<?php $paymentgrid_rows = $this->_getPaymentGrid() ?>
    <div class="add-payment">
        <div class="content-header">
            <h3 class="icon-head head-sales-order-invoice"><?php echo $this->__('Add Invoice Payment') ?></h3>
        </div>
        <div id="order-items"><div class="entry-edit">
                <div class="entry-edit-head">
                    <h4 class="icon-head head-cart"><?php echo $this->__('Payment Method') ?></h4>
                    <?php if($permission){ ?>
                    <div class="form-buttons btn-add-payment"><button class="add add-payment-btn" type="button"><span><?php echo $this->__('Add Payment') ?></span></button></div>
                    <div style="margin-right:5px" class="form-buttons btn-add-payment"><button class="add update-payment-btn" type="button" onclick="payment.paymentSubmitUpdatePayment(payment)"><span><?php echo $this->__('Update Payment') ?></span></button></div>
                    <?php } ?>
                </div>
                <form action="<?php echo Mage::helper("adminhtml")->getUrl("cod/adminhtml_order_payment/updatepayment", array('_current' => true)); ?>" method="post" id="updatepayForm" name="updatepayForm" enctype="multipart/form-data">
                    <div id="order-items_grid" class="grid">
                        <table cellspacing="0" class="data order-tables">
                            <colgroup>
                                <col width="100">
                                <col width="100">
                                <col width="80">
                                <col width="80">
                                <col width="50">
                            </colgroup><thead>
                                <tr class="headings">
                                    <th class="no-link"><?php echo $this->__('Payment Method') ?></th>
                                    <th class="no-link"><?php echo $this->__('Note') ?></th>
                                    <th class="no-link"><?php echo $this->__('Total') ?></th>
                                    <th class="no-link"><?php echo $this->__('Received Date') ?></th>
                                    <?php if($permission){ ?>
                                    <th style="text-align:right" class="no-link last"><?php echo $this->__('Delete') ?></th>
                                    <?php } ?>
                                </tr>
                            </thead>
                            <tbody>
                            <?php $j = 0 ?>
                            <?php if ($paymentgrid_rows->count() > 0): ?>
                            <?php foreach ($paymentgrid_rows as $item): ?>
                            <?php
                                    $j++;
                                    $paymenrow = Mage::getModel('cod/payment')->load($item->getPayment_id());
                            ?>
                                    <tr class="even">
                                        <td><?php echo $paymenrow->getName() ?></td>
                                        <td>
                                            <?php if($permission){ ?>
                                                <input type="text" name="number" class="input-text" value="<?php echo $item->getNumber() ?>" />
                                            <?php }else{ ?>
                                                <span><?php echo $item->getNumber() ?></span>
                                            <?php } ?>
                                        </td>
                                        <td>
                                            <?php if($permission){ ?>
                                                <input type="text" name="total" class="input-text isnum" value="<?php echo $item->getTotal() ?>" />
                                            <?php }else{ ?>
                                                <span><?php echo $item->getTotal() ?></span>
                                            <?php } ?>
                                        </td>
                                        <td>
                                            <?php if($permission){
                                                if($item->getReceived_date()=='1970-01-01'){
                                                    $format_date = '';
                                                }else{
                                                    $format_date = Mage::helper('core')->formatDate($item->getReceived_date());
                                                }
                                                 
                                             ?>
                                                <input id="received_date_<?php echo $j ?>" type="text" name="update_date_recei" class="input-text" value="<?php echo $format_date ?>" />
                                            <?php }else{ ?>
                                                <span><?php echo $format_date ?></span>
                                            <?php } ?>
                                            <img id="received_date_trig_<?php echo $j ?>" src="<?php echo Mage::getBaseUrl('skin')?>adminhtml/default/default/images/grid-cal.gif" />
                                        </td>
                                        <td style="text-align:right">
                                            <?php if($permission){ ?>
                                            <input name="del-check" type="checkbox" class="del-check checkbox" value="<?php echo $item->getPayment_grid_id() ?>" />
                                            <?php } ?>
                                        </td>
                                    </tr>
                                    <?php $format =  $this->getDateFormatStr()?>
                                <script type="text/javascript">
                                    //<![CDATA[
                                    Calendar.setup({
                                        inputField: "received_date_<?php echo $j ?>",
                                        ifFormat: "<?php echo $format?>",
                                        showsTime: false,
                                        button: "received_date_trig_<?php echo $j ?>",
                                        align: "Bl",
                                        singleClick : true
                                    });
                                    //]]>
                                </script>

                        <?php endforeach ?>
                        <?php else: ?>
                                        <tr class="even">
                                            <td colspan="100" class="empty-text a-center">No payment method</td>
                                        </tr>
                        <?php endif ?>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="hidden-field2">
                                    <input name="hd_invoice_id" type="hidden" value="<?php echo $this->_getInvoice()->getId(); ?>" />
                                    <input id="hd_num_row_update" name="hd_num_row_update" type="hidden" value="" />
                                    <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

<?php //endif ?>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS)?>onlinebiz/cod/jquery-1.8.2.min.js"></script>
<script>
    $j(window).load(function(){
        var _totaldueElement = null;
        var _totalpaidElement = null;
        var _totalpaid = null;
        var _totaldue = null;

        $j('.label').each(function(){
            var _label = $j(this).find('strong').html();
            if(_label == 'Total Due'){
                _totaldue = $j(this).next().find('strong span').html();
                _totaldueElement = $j(this).next().find('strong span');
            }else if(_label == 'Total Paid'){
                _totalpaid = $j(this).next().find('strong span').html();
                _totalpaidElement = $j(this).next().find('strong span');
            }
        });
        if(_totaldue == '$0.00' && _totalpaid == '$0.00'){
            var _invoiceid = <?php $this->_getInvoice()->getId();?>;
            new Ajax.Request("<?php echo Mage::getBaseUrl()?>cod/adminhtml_order_invoice/ajaxupdatefee", {
                method: "post",
                parameters: { invoiceid: _invoiceid },
                onComplete: function(data) {
                    var _data = data.responseText;
                    _data = _data.split('?');
                    var _amount = _data[0];
                    var _state = _data[1];
                    if(_state == 1){
                        _totaldueElement.html(_amount);
                    }else{
                        _totalpaidElement.html(_amount)
                    }
                }
            });
        }
    });
</script>

