<?php
/**
 * MageWorx
 * Admin Order Editor extension
 *
 * @category   MageWorx
 * @package    MageWorx_OrdersEdit
 * @copyright  Copyright (c) 2016 MageWorx (http://www.mageworx.com/)
 */
?>
<div class="content">
    <form name="ordersedit_edit_form" id="ordersedit_edit_form">
        <div id="coupon-code-input">
            <label for="coupons:code"><?php echo $this->__('Enter coupon code:')?></label>
            <p><input type="text" class="input-text required-entry" id="coupons:code" value="" name="coupon_code" style="width:200px"/></p>
            OR <a href="#" onclick="showCreateCoupon(); return false;"><?php echo $this->__('Adjustment coupon code (fixed amount or %)')?></a>
        </div>
        <div id="create_coupon_code" style="display: none">
            <table class="form-list">
                <tr>
                    <td class="label"><label for="coupons:op_coupon_action">Apply</label></td>
                    <td class="value">
                        <select id="coupons:op_coupon_action" name="op_coupon_action" class="select" disabled="">
                            <option value="cart_fixed" selected="selected"><?php echo $this->__("Fixed amount discount for whole cart")?></option>
                            <option value="by_percent"><?php echo $this->__("Percent of product price discount")?></option>
                            <!--<option value="by_fixed">Fixed amount discount</option>-->
                         </select>
                    </td>
                </tr>
                <tr>
                    <td class="label"><label for="coupons:op_coupon_amount">Discount Amount <span class="required">*</span></label></td>
                    <td class="value"><input id="coupons:op_coupon_amount" name="op_coupon_amount" value="" class="validate-not-negative-number input-text required-entry" type="text" disabled=""></td>
                </tr>
            </table>
            <a href="#" onclick="showCouponCodeInput(); return false;"><?php echo $this->__('Back')?></a>
        </div>
        <input type="hidden" id="coupons:off_coupon_code" name="off_coupon_code" value="0"/>
        <?php if ($this->getCouponCode()): ?>
            <p><strong><?php echo $this->escapeHtml($this->getCouponCode()) ?></strong> [<a href="#"
                                                                                            onclick="removeCouponCode(); return false;"
                                                                                            title="<?php echo Mage::helper('sales')->__('Remove Coupon Code') ?>"><?php echo Mage::helper('sales')->__('Remove') ?></a>]
            </p>
        <?php endif; ?>
    </form>
</div>
