<div class="nav-category-head">
	<?php echo $this->__('Categories'); ?>
</div>
<div class="block vertnav-container">
	<div class="category-list content">
		<ul id="vertnav">
			<?php $arry = array(829,753); ?>
			<?php $store_categories = $this->toLinearArray($this->getStoreCategories()); ?>
			<?php $count = count($store_categories); ?>
			<?php foreach($store_categories as $i=>$_category): ?>
			<?php $class = array(); ?>
			<?php if($count == 1): ?>
			<?php $class[] = 'only'; ?>
			<?php elseif(! $i): ?>
			<?php $class[] = 'first'; ?>
			<?php elseif($i == $count-1): ?>
			<?php $class[] = 'last'; ?>
			<?php endif; ?>
			<?php if(isset($store_categories[$i+1]) && $this->isCategoryActive($store_categories[$i+1])) $class[] = 'prev'; ?>
			<?php if(isset($store_categories[$i-1]) && $this->isCategoryActive($store_categories[$i-1])) $class[] = 'next'; ?>
			<?php if(!in_array($_category->getId(),$arry)): ?>
			<?php echo $this->drawOpenCategoryItem($_category,0,$class); ?>
			<?php endif; ?>
			<?php endforeach; ?>
		</ul>
	</div>
</div>
