<?php

/**
 * Export Product data to xml data
 *
 * @category   OnlineBiz
 * @package    OnlineBiz_Facebookstore
 * @author     Nguyen Viet Tung (http://onlinebizsoft.com)
 */
?>
<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_helper = $this->helper('facebookstore/output');

?>
<div class="clearfix"></div>
<?php if(Mage::helper('facebookstore')->isHomepage() && Mage::getStoreConfig('facebookstore/homepage/text_content')):?>
<div class="home-page-text">
	<?php echo Mage::getStoreConfig('facebookstore/homepage/text_content')?>
</div>
<?php if(!sizeof($_productCollection)): ?>
<?php die;?>
<?php endif;?>
<?php endif;?>
<?php
$this->getLayout()->getMessagesBlock()->setMessages(Mage::getSingleton('customer/session')->getMessages(true));
echo $this->getMessagesBlock()->getGroupedHtml();
?>
<?php if(!sizeof($_productCollection)): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
	<?php echo $this->getToolbarHtml() ?>
	<?php if(Mage::getStoreConfig('facebookstore/general/listview')=='list'):?>
    <div class="products-list" id="products-list">
	<?php else: ?>
	<div class="products-grid" id="products-grid">
	<?php endif;?>
	<?php $_iterator = 0; ?>
    <?php foreach ($_productCollection as $_product):?>
            <?php // Product description ?>
            <?php if(Mage::getStoreConfig('facebookstore/general/listview')=='list'):?>
				<div class="product <?php if( ++$_iterator == sizeof($_productCollection) ): ?> product-last<?php endif; ?>">
					<div class="product-right">
						<div class="product-info">
							<?php //echo $_product->getProductUrl()?>
							<?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
							<div class="product-title"><a href="<?php echo $_helper->getProductUrl($_product) ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a>
							</div>
							<div class="product-description">
								<?php echo substr($this->stripTags($_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description')),0,150) ?>...
								<a href="<?php echo $_helper->getProductUrl($_product) ?>" title="<?php echo $_productNameStripped ?>" class="link-learn"><?php echo $this->__('Learn More') ?></a>
							</div>
						<?php echo $this->getPriceHtml($_product, true) ?>
						<?php if($_product->isSaleable()): ?>
							<p><button class="button btn-cart" onclick="setLocation('<?php echo $this->getUrl('facebookstore/index/add/id/'.$_product->getId(), array('_secure'=>true))?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></p>
						<?php else: ?>
							<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
						<?php endif; ?>
						</div>
					</div>
					<div class="product-image">
							<a href="<?php echo $_helper->getProductUrl($_product) ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(155); ?>" width="155" height="155" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
					</div>
					<div class="clear"></div>
				</div>
			<?php else:?>
			<?php if( $_iterator++%3==0 ) { ?> <ul class="products-grid <?php if($_iterator==1 ){ echo "first"; } elseif( $_iterator==sizeof($_productCollection) ){ echo "last"; } ?>"> <?php } ?>
			<li class ="product-item <?php if($_iterator%3==1 ){ echo "item-first"; } elseif( $_iterator%3==0 ){ echo "item-last"; } ?> ">
				<a href="<?php echo $_helper->getProductUrl($_product) ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(155); ?>" width="155" height="155" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
				<div class="item-bottom">
					<div class="item-product-name">
						<?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
						<a href="<?php echo $_helper->getProductUrl($_product) ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a>
					</div>

					<div class="product-price">					
						<?php echo $this->getPriceHtml($_product, true) ?>
					</div>
					<?php if($_product->isSaleable()): ?>
						<p><button class="button btn-cart" onclick="setLocation('<?php echo $this->getUrl('facebookstore/index/add/id/'.$_product->getId(), array('_secure'=>true))?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></p>
					<?php else: ?>
						<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
					<?php endif; ?>
				</div>
			</li>
			<?php if($_iterator%3==0 || $_iterator==sizeof($_productCollection) ) { ?> </ul> <div class="clearer"></div> <?php } ?>
			<?php endif;?>
    <?php endforeach; ?>
    </div>
<?php endif;?>

<script type="text/javascript">
window.onload = function(){
	if($$('.price-label')){
		var results = $$('.price-label');
			results.each(function(elem){
			elem.hide();
		 });
	}
}
</script>
<?php if(Mage::getStoreConfig('facebookstore/general/listview')=='grid'):?>
<script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
<?php endif;?>
