<?php
$id = $this->getRecaptchaId();
?>
<div class="recaptcha" style="overflow:hidden;position:relative;margin-bottom:10px;">
    <input type="checkbox" id="cb-<?php echo $id ?>" name="cb-<?php echo $id ?>" value="" class="required-entry" style="visibility:hidden; position:absolute; left:-1000000px" />
    <div id="el-<?php echo $id ?>"></div>
    <script type="text/javascript">
        if (typeof recaptchaRenderCallbacks === 'undefined') {
            var recaptchaRenderCallbacks = [];
        }
        recaptchaRenderCallbacks.push(function () {
            grecaptcha.render('el-<?php echo $id ?>', {
                'sitekey': "<?php echo $this->getSiteKey(); ?>",
                'theme': "<?php echo $this->getTheme(); ?>",
                'type': "<?php echo $this->getType(); ?>",
                'size': "<?php echo $this->getSize(); ?>",
                'callback': function(response) {
                    if (response.length > 0) {
                        $('cb-<?php echo $id ?>').writeAttribute('value', 'checked');
                        $('cb-<?php echo $id ?>').checked = true;
                    }
                }
            });
        });
    </script>
</div>
