<?php 
/**
 * Tangoxp 
 * Slidercontentpro
 * 
 * @category    Tangoxp
 * @package     Tangoxp_Slidercontentpro
 * @copyright   Copyright (c) 2011 Tangoxp (http://www.magentoxp.com)
 * @author      Tangoxp (Tangoxp)Tangoxp Team <support@magentoxp.com>
 */

$_id = 'id_' . md5(microtime()) 
?>
<input type="hidden" name="<?php echo $this->getInputElementName()?>"  value="" id="<?php echo $_id?>" />
<script type="text/javascript">
// create serializer controller, that will syncronize grid checkboxes with hidden input
new productLinksController('<?php echo $_id?>', <?php echo $this->getProductsJSON() ?>, <?php echo $this->getGridBlock()->getJsObjectName() ?>);
</script>
