<?php
$_helper          =  Mage::helper('catalogsearch');
$_value           = $_helper->getEscapedQueryText();
$_currentCategory = Mage::getSingleton('core/app')->getRequest()->getParam('cat');
$_currentAttribute = Mage::getSingleton('core/app')->getRequest()->getParam('attr');
$_filterType      = $this->getFilterType();
$_url             = $this->getAjaxUrl();
?>
<form id="search_mini_form" action="<?php echo $_helper->getResultUrl() ?>" method="get"
    class="searchautocomplete UI-SEARCHAUTOCOMPLETE js-search-form"
    data-tip="<?php echo $this->__(Mage::getStoreConfig('searchautocomplete/general/tip')) ?>"
    data-url="<?php echo $_url ?>"
    data-minchars="<?php echo Mage::getStoreConfig('searchautocomplete/general/min_chars') ?>"
    data-delay="<?php echo Mage::getStoreConfig('searchautocomplete/general/delay') ?>">

    <div class="form-search">
        <label for="search"><?php echo $this->__('Search:') ?></label>

        <?php if ($_filterType == 'category'): ?>
        <div class="nav-search-in">
            <span class="category-fake UI-CATEGORY-TEXT"><?php echo $this->__('All') ?></span>
            <span class="nav-down-arrow"></span>
            <select name="cat" class="category UI-CATEGORY">
                <option value="0"><?php echo $this->__('All') ?></option>
                <?php foreach ($this->getCategories() as $_category): ?>
                <option value="<?php echo $_category->getId() ?>" <?php if ($_currentCategory == $_category->getId()): ?>selected<?php endif ?>>
                    <?php echo $_category->getName() ?>
                </option>
                <?php endforeach ?>
            </select>
        </div>
        <?php elseif ($_filterType == 'attribute'): ?>
            <div class="nav-search-in">
                <span class="category-fake UI-CATEGORY-TEXT"><?php echo $this->__('All') ?></span>
                <span class="nav-down-arrow"></span>
                <select name="attr" class="category UI-CATEGORY">
                    <option value="0"><?php echo $this->__('All') ?></option>
                    <?php foreach ($this->getAttributes() as $_code => $_name): ?>
                    <option value="<?php echo $_code ?>" <?php if ($_currentAttribute == $_code): ?>selected<?php endif ?>>
                        <?php echo $_name ?>
                    </option>
                    <?php endforeach ?>
                </select>
            </div>
        <?php endif ?>
        <input aria-label="<?php echo $this->__('Search Input')?>" id="search" type="text" autocomplete="off"  name="<?php echo $_helper->getQueryParamName() ?>" value="<?php echo $_helper->getEscapedQueryText() ?>" class="input-text UI-SEARCH UI-NAV-INPUT" maxlength="<?php echo $_helper->getMaxQueryLength();?>" placeholder="<?php echo $this->__(Mage::getStoreConfig('searchautocomplete/general/tip')) ?>"/>

        <button aria-label="Search" type="submit" title="<?php echo $this->quoteEscape($this->__('Search')) ?>" class="button search-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 100 100"><path d="M83.535 76.464L64.438 57.368C67.935 52.462 70 46.468 70 40c0-16.542-13.458-30-30-30S10 23.458 10 40s13.458 30 30 30c6.47 0 12.462-2.065 17.368-5.562l19.097 19.097C77.44 84.512 78.72 85 80 85s2.56-.488 3.535-1.464c1.953-1.953 1.953-5.12 0-7.072zM40 60c-11.046 0-20-8.954-20-20s8.954-20 20-20 20 8.954 20 20-8.954 20-20 20z"/></svg>
        </button>

        <div class="searchautocomplete-loader UI-LOADER">
            <div id="g01"></div>
            <div id="g02"></div>
            <div id="g03"></div>
            <div id="g04"></div>
            <div id="g05"></div>
            <div id="g06"></div>
            <div id="g07"></div>
            <div id="g08"></div>
        </div>
        <div style="display:none" id="search_autocomplete" class="UI-PLACEHOLDER search-autocomplete searchautocomplete-placeholder skip-popup"></div>
    </div>
</form>
