<?php
$data = $this->getItemData();
$helper = Mage::helper('custom');
$totalNumberItems = 0;
?>
<div class="shipmentpdf">
    <div style="width: 100%; padding: 10.5px 10.5px 10.5px 4px;">
      
        <span><?php echo $helper->__('Order #').$data['order_id'] ?></span><br>
        <span><?php echo $helper->__('Order Date: ').$data['order_date'] ?></span>
    </div>

    <div class="wrap-table">
        <table class="table">
            <tr class="thead">
                <th style="width:145px"></th>
                <th class="qty" style="width:30px"><?php echo $helper->__('Qty')?></th>
                <th style="width:330px;"><?php echo $helper->__('Product')?></th>
                <th><?php echo $helper->__('SKU')?></th>
            </tr>
            <?php foreach ($data['invoice_items'] as $item){
                if ($item->getOrderItem()->getParentItem() || ($item->getOrderItem()->getQtyInvoiced() - $item->getOrderItem()->getQtyRefunded() <= 0)) {
                    continue;
                }
                $product = Mage::getModel('catalog/product')->load($item->getProductId());
                if($product->getIsVirtual() || !$product->getId()) continue;
                $product->setSku($item->getSku());
                $productString = "<div>".$item->getName().'</div><br/>';
                $options = $item->getOrderItem()->getProductOptions();
                $totalNumberItems += (int)$item->getOrderItem()->getQtyInvoiced();
                if(!is_array($options)) $options = unserialize($options);
                if(isset($options['options'])){
                    foreach ($options['options'] as $option){
                        if($option['label'] == "Engraving"){
                            $productString .="<br/>";
                        }
                        $productString .= "<strong>".$option['label']."</strong>".': '.$option['value'].'<br>';
                    }
                }
                $item_image = parse_url(Mage::helper('opentechiz_salesextend')->getImageByColor($product,$item->getSku()));
                $item_image_path = ltrim($item_image['path'], '/');
            ?>
            <tr>
                <td style="width:145px; vertical-align: top;">

    <!--                --><?php
    //                $external_link = Mage::helper('catalog/image')->init($product, 'image');
    //                if (getimagesize($external_link)) { ?>
                    <img src="<?php echo Mage::helper('opentechiz_salesextend')->getImageByColor(null, $item->getSku(), $item_image_path) ?>" style="width: 135px">
    <!--                --><?php //} ?>
                </td>
                 <td style="width:30px;  vertical-align: top;text-align:center"><?php echo (int)$item->getOrderItem()->getQtyInvoiced();?></td>
                <td style="width:330px; vertical-align: top;"><?php echo $productString?></td>
                <td style="position: relative; vertical-align: top;"><?php echo $item->getSku()?>
                    <br>
                    <br>
                    <br>
                    <br>
                    <span style="position: absolute; bottom: 0; right: 0;"><?php echo $helper->__('Packaged By')?>......................</span>
                </td>
            </tr>
            <?php } ?>
            <?php if($data['customer_comment'] !=''){?>
                <tr class="customer">
                    <td colspan="4"><strong><?php echo $data['customer_comment'];?></strong> </td>
                </tr>
            <?php } ?>
            <tr class="footer">
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align: right;">
                    <br>
                    <br>
                    <?php echo $helper->__('Total # of Items').': '.$totalNumberItems?></td>
            </tr>
            
        </table>
    </div>
    <div class="footer-bottom">
        <p><?php echo $this->__("Return Policy:")?></p>
        <p><?php echo $this->__("All items must be returned unworn, accompanied by the original invoice, packaging and un-detached tags within 30 days from shipping. Please Note:")?></p>
        <p><?php echo $this->__("Custom Orders are not returnable and not refundable. Please call us at 212-398-3123 Mon-Fri 10am-7pm EST to get a Return For Inspection (RFI)")?></p>
        <p><?php echo $this->__("number prior to returning the merchandise. Packages without RFI numbers will not be accepted. Engraved and Sized Items are not returnable.")?></p>
        <p><?php echo $this->__("(Items are considered sized if the standard size has been changed to either lesser or greater. Women’s Standard Ring Size is 7-7.5; Men’s Standard Ring Size is 10).")?></p>
        <p><?php echo $this->__("You will receive a full refund minus the shipping and handling charges. Shipping and handling charges are not refundable. Refund will be issued")?></p>
        <p><?php echo $this->__("in the form of original payment (bank wire transfers will be refunded by check). All exchanges are final and are not returnable.")?></p>
    </div>
    
</div>
<style>
.wrap-table{
    padding-left: 4px;width: 100%; display: inline-block; margin-top: 10.5px; margin-bottom: 10.5px;

}
.table{
    width: 100%;
    border-collapse:collapse;
    font-size: 13px;
}
.shipmentpdf td{
  border:1px solid #aaa;
  padding:10.5px;
}
.shipmentpdf th {

  padding:5px 10.5px;
  font-size: 16px;
  border: 1px solid #aaa;
}
.shipmentpdf th.qty {
    padding:5px;
}
.shipmentpdf .footer td{
  border:none;

}
.thead{
    border:1px solid #aaa;
}
.shipmentpdf{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.shipmentpdf td,.shipmentpdf th{
    font-family: 'Open Sans', sans-serif;
}
.footer-bottom{
    margin-left:10px;
}
.footer-bottom p{
    font-size: 10.5px;font-style:italic;margin:0px 0px 5px 0px;
    color:#000;
}
</style>