<?php
$orderTypesJson = json_encode(OpenTechiz_SalesExtend_Helper_Data::ORDER_TYPE);
$session = Mage::getSingleton('core/session');

?>

<div id="opentechiz-order-management" style="display:none;">
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="fieldset-legend head-catalog-product icon-head">Order Management</h4>
        </div>
        <div class="fieldset">
            <table class="form-list" cellspacing="0">
                <tbody>
                    <tr>
                        <td class="label"><label><?php echo $this->__("Order Type");?>:</label></td>
                        <td class="value">
                            <span id="order_type"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="source"><?php echo $this->__("Order Source");?>:</label></td>
                        <td class="value">
                            <select id="source" name="order[source]" class="required-entry required-entry select" onchange="addToSession()">
                                <?php foreach ($this->getSources() as $key => $value){
                                    if($session->getData('source') && $key == $session->getData('source')){
                                        echo '<option value="' . $key . '" selected>' . $value . '</option>';
                                    }else {
                                        echo '<option value="' . $key . '">' . $value . '</option>';
                                    }
                                } ?>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="increment_id"><?php echo $this->__("Order Number");?>:</label></td>
                        <td class="value">
                            <input id="increment_id" name="order[increment_id]" class="input-text" onfocusout="addToSession()" <?php if($increment = $session->getData('increment')){ echo "value='".$increment."'"; } ?>/>
                        </td>
                    </tr>

                    <?php $type = Mage::app()->getRequest()->getParam('type'); ?>
                    <input id="opentechiz_order_type" type="hidden" name="order_type" class="input-text" value="<?php echo $type ?>"/>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript">jQuery.noConflict();</script>

<script type="text/javascript">
    var orderItemsObj = $('order-items');

    if (typeof orderItemsObj !== 'undefined') {
        var orderItemsTdObj = orderItemsObj.up('td');

        if (typeof orderItemsTdObj !== 'undefined') {
            orderItemsTdObj.insert({top: $('opentechiz-order-management')});
            $('opentechiz-order-management').show();
        }
    }

    var url = window.location.href;
    var orderType = document.getElementById('order_type');
    var orderTypeArray = JSON.parse('<?php echo $orderTypesJson ?>');
    url = url.replace('#/','');
    if(url.match(".*[/]$")) url = url.slice(0, -1);
    var string = /[^/]*$/.exec(url)[0];
    type = capitalizeFirstLetter(string);
    if (orderTypeArray.includes(type)){
        orderType.innerText = type;
    }

    var myVar = setInterval(function(){
            var url = window.location.href;
            if(url.includes("layaway")){
                document.getElementById('opentechiz_order_type').value = 'layaway';
            }else if(url.includes("standard")){
                document.getElementById('opentechiz_order_type').value = 'standard';
            }
        if(document.getElementById('opentechiz_order_type').value !== ''){
            clearInterval(myVar);
        }
        console.log(document.getElementById('opentechiz_order_type').value);
    }, 500);

    function capitalizeFirstLetter(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }
    
    function addToSession() {
        jQuery("#loading-mask").show();
        var source = '';
        var increment = '';

        if(document.getElementById('source')) {
            source = document.getElementById('source').value;
        }
        if(document.getElementById('increment_id')) {
            increment = document.getElementById('increment_id').value;
        }

        jQuery.ajax({
            type: "POST",
            url: "<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/sales_order_create/addToSession'); ?>",
            data: {
                increment:increment,
                source:source,
            },
            success:function(transport){
                jQuery('#loading-mask').hide();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                jQuery('#loading-mask').hide();
            }
        });
    }
</script>