<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2016 Amasty (https://www.amasty.com)
 * @package Amasty_Conf
 */
$_product = $this->getProduct();
$isPersonalized = Mage::helper('personalizedproduct')->isPersonalizedProduct($_product);
$_helper = $this->helper('catalog/output');

$productImage = $this->helper('catalog/image')->init($_product, 'image');
$imageWidth = (int) Mage::getStoreConfig('amconf/size/preview_width');
$imageHeight = (int) Mage::getStoreConfig('amconf/size/preview_height');
$smallImageSize = (int) Mage::getStoreConfig('amconf/size/thumb');
$itemCount = (int) Mage::getStoreConfig('amconf/carousel/visible_items');
$imageLabels = array(
    'main' => 'Main Image',
    'mainwh' => 'Main White Image',
    'mainye' => 'Main Yellow Image',
    'mainro' => '',
    'mainbl' => 'Main Black Image',
    'maintt' => 'Main ',
    'mainwyr' => 'Main White Yellow Rose Image',
    'mainwr' => 'Main White Rose Image',
    'mainwy' => 'Main White Yellow Image',
    'mainwhye' => 'Main White Yellow Image',
    'mainwhro' => 'Main White Rose Image',
    'wh' => 'White Image',
    'ye' => 'Yellow Image',
    'ro' => 'Rose Image',
    'bl' => 'Black Image',
    'tt' => 'Two Tone Image',
    'wyr' => 'White Yellow Rose Image',
    'wr' => 'White Rose Image',
    'wy' => 'White Yellow Image',
    'back' => 'Back Image',
    'backwh' => 'Back White Image',
    'backye' => 'Back Yellow Image',
    'backro' => 'Back Rose Image',
    'backbl' => 'Back Black Image',
    'backtt' => 'Back Two Tone Image',
    'backwyr' => 'Back White Yellow Rose Image',
    'backwr' => 'Back White Rose Image',
    'backwy' => 'Back White Yellow Image',
    'bod' => 'Body Image',
    'bodwh' => 'Body White Image',
    'bodye' => 'Body Yellow Image',
    'bodro' => 'Body Rose Image',
    'bodbl' => 'Body Black Image',
    'bodtt' => 'Body Two Tone Image',
    'bodwyr' => 'Body White Yellow Rose Image',
    'bodwr' => 'Body White Rose Image',
    'bodwy' => 'Body White Yellow Image',
    'box' => 'Box Image',
    'boxwh' => 'Box White Image',
    'boxye' => 'Box Yellow Image',
    'boxro' => 'Box Rose Image',
    'boxbl' => 'Box Black Image',
    'boxtt' => 'Box Two Tone Image',
    'boxwyr' => 'Box White Yellow Rose Image',
    'boxwr' => 'Box White Rose Image',
    'boxwy' => 'Box White Yellow Image',
    'ruler' => 'Ruler Image',
    'rulerwh' => 'Ruler White Image',
    'rulerye' => 'Ruler Yellow Image',
    'rulerro' => 'Ruler Rose Image',
    'rulerbl' => 'Ruler Black Image',
    'rulertt' => 'Ruler Two Tone Image',
    'rulerwry' => 'Ruler White Rose Yellow Image',
    'rulerwy' => 'Ruler White Yellow Image',
    'rulerwr' => 'Ruler White Rose Image',
    'aa' => 'Additional Image',
    'ab' => 'Additional Image 2',
    'ac' => 'Additional Image 3',
    'ad' => 'Additional Image 4',
    'clasp' => 'Clasp Image',
    'claspye' => 'Clasp Yellow Image',
    'claspro' => 'Clasp Rose Image',
    'chain' => 'Chain Image',
    'whye' => 'White Yellow Image',
    'whro' => 'White Rose Image',
    'backwhro' => 'Back White Rose Image',
    'backwhye' => 'Back White Yellow Image',
    'bodwhro' => 'Body White Rose Image',
    'bodwhye' => 'Body White Yellow Image',
    'boxwhro' => 'Box White Rose Image',
    'boxwhye' => 'Box White Yellow Image',
    'chainro' => 'Chain Rose Image',
    'rulerwhro' => 'Ruler White Rose Image',
    'chainwh' => 'Chain White Image',
    'chainye' => 'Chain Yellow Image',
    'rulerwhye' => 'Ruler White Yellow Image'
);
?>
<?php if ((Mage::getStoreConfig('amconf/zoom/enable') || Mage::getStoreConfig('amconf/lightbox/enable'))) : ?>
    <script type="text/javascript" src="<?php echo Mage::getDesign()->getSkinUrl('js/amasty/amconf/zoomer.js', array()) ?>"></script>
<?php endif; ?>
<?php if ('true' == (string) Mage::getConfig()->getNode('modules/Amasty_Label/active')): ?>
    <div class="amlabel-div">
        <?php echo Mage::helper('amlabel')->getLabels($_product, 'product') ?>
    <?php endif; ?>
    <?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>
        <div class="product-image">
            <?php
            $label = isset($imageLabels[$this->getImageLabel()]) ? $imageLabels[$this->getImageLabel()] : $this->getImageLabel();
            $_img = '<img class="main-' . $this->getImageLabel() . '" id="amasty_zoom"
					width="' . $imageWidth . '"
					data-zoom-image="' . $this->helper('catalog/image')->init($_product, 'image') . '"
					src="' . Mage::getModel('catalog/product_media_config')->getMediaUrl($_product->getSmallImage()) . '"
					alt="' . $this->htmlEscape($_product->getName()) . ' ' . $label . '"
					title="' . $this->htmlEscape($_product->getName()) . ' ' . $label . '"
					zoom-alt="' . $this->htmlEscape($this->getImageLabel()) . '"
				/>';
            echo $_helper->productAttribute($_product, $_img, 'image');
            ?>
        </div>

    <?php else: ?>
        <div class="product-image">
            <?php
            $_img = '<img class="main-image main-' . $this->getImageLabel() . '" id="amasty_zoom" data-zoom-image="' . $this->helper('catalog/image')->init($_product, 'image') . '" src="' . Mage::getModel('catalog/product_media_config')->getMediaUrl($_product->getSmallImage()) . '" alt="' . $this->htmlEscape($_product->getName()) . '" title="' . $this->htmlEscape($_product->getName()) . '" />';
            echo $_helper->productAttribute($_product, $_img, 'image');
            ?>
        </div>

    <?php endif; ?>
    <?php if ('true' == (string) Mage::getConfig()->getNode('modules/Amasty_Label/active')): ?>
    </div>
<?php endif; ?>

<?php if (count($this->getGalleryImages()) > 0): ?>
    <div class="more-views" style="width: 203px; float: left;">
        <div style="position: relative; <?php if($isPersonalized){ ?> display: flex; <?php } ?>">
            <div id="amasty_gallery" <?php if($isPersonalized){ ?> style="padding-top: 12px" <?php } ?>>
                <?php $i = 0; ?>
                <?php foreach ($this->getGalleryImages() as $_image): ?>
                    <?php $title = isset($imageLabels[$_image->getLabel()]) ? $this->htmlEscape($_product->getName()) . " " .$imageLabels[$_image->getLabel()] : $_image->getLabel(); ?>
                    <a rel="group"  title="<?php echo $this->htmlEscape($_image->getLabel()) ?>"  <?php echo Mage::getStoreConfig('amconf/lightbox/thumbnail_lignhtbox') ? ' class="fancybox product-image-class" href="' . $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile()) . '"' : 'class="product-image-class"'; ?> data-image="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize($imageWidth, $imageHeight); ?>" data-zoom-image="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile()); ?>"  >
                        <img
                            imagelabel="<?php echo $_image->getLabel(); ?>" 
                            src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize($smallImageSize); ?>" 
                            width="<?php echo $smallImageSize; ?>" 
                            height="<?php echo $smallImageSize; ?>" 
                            alt="<?php echo $title ?>"  
                            title="<?php echo $title ?>"/>
                    </a>
                <?php endforeach; ?>
            </div>
            <?php if ($_product->getData('c2c_video_object')) : ?>
                <?php $video_url = $_product->getData('c2c_video_object'); ?>
                <button type="button" aria-label="Play Video" title="Play Video" href="<?php echo $video_url ?>" class="video-thumb button btn-short button-light js-video">
                    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('video_button_image_pdp')->toHtml(); ?>
                </button>

                <script type="text/javascript">
                    var player;
                    <?php if($isPersonalized){ ?>
                        var optionsVideo = {
                            type: 'iframe',
                            closeBtnInside: true,
                            mainClass: 'mfp-fade',
                            disableOn: 700,
                            removalDelay: 160,
                            preloader: false,
                            fixedContentPos: false
                        };
                        <?php
                        $matches = array();
                        if(preg_match("/^(?:http(?:s)?:\/\/)?(?:www\.)?(?:m\.)?(?:youtu\.be\/|youtube\.com\/(?:(?:watch)?\?(?:.*&)?v(?:i)?=|(?:embed|v|vi|user)\/))([^\?&\"'>]+)/", $video_url, $matches)):?>
                            optionsVideo = Object.assign({}, optionsVideo, {
                                iframe: {
                                    markup: '<div class="mfp-iframe-scaler">'+
                                        '<div class="mfp-close"></div>'+
                                        '<div id="yt-player"></div>'+
                                        '</div>',
                                },
                                callbacks: {
                                    open: function() {
                                        setTimeout(function() {
                                            player = new YT.Player('yt-player', {
                                                videoId: '<?php echo $matches[1]?>',
                                                playerVars: {rel: 0, showinfo: 0},
                                                events: {
                                                    'onReady': function(e) {
                                                        e.target.playVideo();
                                                    },
                                                    'onStateChange': function(e) {
                                                        if(e.data == YT.PlayerState.ENDED) {
                                                            $.magnificPopup.close();
                                                        }
                                                    }
                                                }
                                            });
                                        }, 50);
                                    }
                                }
                            });
                        <?php endif?>
                        jQuery('.js-video').magnificPopup(optionsVideo);
                    <?php } else{ ?>
                        jQuery(document).ready(function($) {
                            // Product video popup
                            var optionsVideo = {
                                type: 'iframe',
                                closeBtnInside: true,
                                mainClass: 'mfp-fade',
                            };
                            <?php
                            $matches = array();
                            if(preg_match("/^(?:http(?:s)?:\/\/)?(?:www\.)?(?:m\.)?(?:youtu\.be\/|youtube\.com\/(?:(?:watch)?\?(?:.*&)?v(?:i)?=|(?:embed|v|vi|user)\/))([^\?&\"'>]+)/", $video_url, $matches)):?>
                                    if(true){
                                        optionsVideo = Object.assign({}, optionsVideo, {
                                            iframe: {
                                                markup: '<div class="mfp-iframe-scaler">'+
                                                     '<div class="mfp-close"></div>'+
                                                     '<div id="yt-player"></div>'+
                                                 '</div>',
                                             },
                                             callbacks: {
                                                 open: function() {
                                                     setTimeout(function() {
                                                         player = new YT.Player('yt-player', {
                                                         videoId: '<?php echo $matches[1]?>',
                                                         playerVars: {rel: 0, showinfo: 0},
                                                         events: {
                                                           'onReady': function(e) {
                                                               e.target.playVideo();
                                                           },
                                                           'onStateChange': function(e) {
                                                               if(e.data == YT.PlayerState.ENDED) {
                                                                   $.magnificPopup.close();
                                                               }
                                                           }
                                                         }
                                                       });
                                                     }, 50);
                                                 }
                                             }
                                        });
                                    }
                            <?php endif?>
                            $('.js-video').magnificPopup(optionsVideo);
                        });
                    <?php } ?>
                </script>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>
<script type="text/javascript" >
    try {
        AmZoomerObj = new AmZoomer(<?php echo Mage::helper('amconf/zoom')->jsParam() ?>);
        AmZoomerObj.loadCarousel();
    } catch (ex) {
        console.debug(ex);
    }
</script>

<div class="product-media-gallery">

    <div class="order-success-share-icons">
        <a href="#0" onclick="popWin('https://twitter.com/intent/tweet?text=<?php echo urlencode($this->__('Check this out!')); ?>&url=<?php echo urlencode($_product->getProductUrl()); ?>', 'compare', 'top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes')">
            <img class="social-logo lazy" data-src="<?php echo $this->getSkinUrl('images/email/twitter_colour.png'); ?>" src="<?php echo $this->getSkinUrl('images/mgt_lazy_image_loader/px.gif'); ?>"/>
        </a>
        <a href="#0" onclick="popWin('https://www.facebook.com/sharer.php?u=<?php echo urlencode($_product->getProductUrl()); ?>&p[title]=<?php echo urlencode($this->__('Check this out!')); ?>', 'compare', 'top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes')">
            <img class="social-logo lazy" data-src="<?php echo $this->getSkinUrl('images/email/fb_colour.png'); ?>" src="<?php echo $this->getSkinUrl('images/mgt_lazy_image_loader/px.gif'); ?>"/>
        </a>
        <a href="#0" onclick="popWin('http://pinterest.com/pin/create/button/?url=<?php echo urlencode($_product->getProductUrl()); ?>&description=<?php echo urlencode($this->__('Check this out!')); ?>&media=<?php echo urlencode(Mage::getModel('catalog/product_media_config')->getMediaUrl($_product->getSmallImage())); ?>', 'compare', 'top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes')">
            <img class="social-logo lazy" data-src="<?php echo $this->getSkinUrl('images/email/pinterest_colour.png'); ?>" src="<?php echo $this->getSkinUrl('images/mgt_lazy_image_loader/px.gif'); ?>"/>
        </a>
        <a href="#0" onclick="popWin('mailto:?subject=<?php echo urlencode($this->__('Check this out!')); ?>&body=<?php echo urlencode($_product->getProductUrl()); ?>', 'compare', 'top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes')">
            <img class="social-logo lazy" data-src="<?php echo $this->getSkinUrl('images/email/email_colour.png'); ?>" src="<?php echo $this->getSkinUrl('images/mgt_lazy_image_loader/px.gif'); ?>"/>
        </a>
    </div>
    <p class="social-heading">Earn up to 3,000 points for sharing!</p>
</div>