<div class="content-header">
    <table cellspacing="0">
        <tbody>
        <tr>
            <td style="width:50%;"><h3 class="icon-head head-report-sold-refunded">Check/Cash Order <?php echo Mage::helper('core')->formatDate(); ?></h3></td>
        </tr>
        </tbody>
    </table>
</div>
<?php
$orderItems = Mage::helper('opentechiz_salesextend/email')->getCashOrderData();
?>
<div class="grid">
    <div class="hor-scroll">
        <table class="data" id="itemGrid_table" cellspacing="0" border="1">
            <colgroup>
                <col width="50">
                <col width="50">
                <col width="100">
                <col width="100">
                <col width="100">
            </colgroup><thead>
            <tr class="headings">
                <th><span class="nobr"><span class="sort-title"><b>Order Id</b></span></span></th>
                <th><span class="nobr"><span class="sort-title"><b>Grand Total</b></span></a></span></th>
                <th><span class="nobr"><span class="sort-title"><b>Order Stage</b></span></span></th>
                <th><span class="nobr"><span class="sort-title"><b>Internal Status</b></span></span></th>
                <th><span class="nobr"><span class="sort-title"><b>Created At</b></span></span></th>
            </tr>
            </thead>

            <tbody>
            <?php foreach ($orderItems as $orderItem){

                ?>
                <tr title="#" class="even pointer">
                    <td class="a-center ">
                        <?php echo $orderItem['increment_id'] ?>
                    </td>
                    <td class="a-center ">
                        $<?php echo $orderItem['base_grand_total'] ?>
                    </td>
                    <td class=" ">
                        <?php echo $orderItem['order_stage'] ?>
                    </td>
                    <td class=" ">
                        <?php echo $orderItem['internal_status'] ?>
                    </td>
                    <td class=" ">
                        <?php echo $orderItem['created_at'] ?>
                    </td>
                </tr>
            <?php } ?>
            </tbody>
        </table>
    </div>
</div>
