<div class="content-header">
    <table cellspacing="0">
        <tbody>
        <tr>
            <td style="width:50%;"><h3 class="icon-head head-report-sold-refunded">Daily Sold Report</h3></td>
        </tr>
        </tbody>
    </table>
</div>
<?php echo $this->getLayout()->createBlock('opentechiz_reportExtend/adminhtml_emailTemplateGrid_dailySoldGrid')->setBlockId('dailysold')->toHtml();
?>