<?php

$supplier_id = $this->getSupplierId();
$late_purchase = Mage::getModel('opentechiz_purchase/purchase')->getCollection()->getLatePurchasePerSupplier($supplier_id);
$dateData = [];
foreach ($late_purchase as $item){
    $data = [];
    $data['po_increment_id'] = $item->getPoIncrementId();
    $data['created_at'] = explode(' ', $item->getCreatedAt())[0];
    $data['delivery_date'] = explode(' ', $item->getDeliveryDate())[0];
    $data['day_late'] = $item->getDayLate();

    $po_id = $item->getPoId();
    $poItemCollection = Mage::getModel('opentechiz_purchase/orderitem')
        ->getCollection()->addFieldToFilter('po_id', $po_id)
        ->addFieldToFilter('qty', array('gt' => new Zend_Db_Expr('delivered_qty')));
    foreach ($poItemCollection as $poItem){
        $product = mage::getModel('catalog/product')->load($poItem->getProductId());
        $product->setSku($poItem->getSku());
        $imageUrl = Mage::helper('catalog/image')->init($product, 'thumbnail')->resize(120, 120)->__toString();

        $data['sku'] = $poItem->getSku();
        $data['product_name'] = $product->getName();
        $data['image'] = $imageUrl;
        $data['supplier_sku'] = Mage::getModel('opentechiz_purchase/productsupplier')
            ->load($product->getId(), 'product_id')->getSupSku();
        $data['qty_delivered'] = $poItem->getDeliveredQty().'/'.$poItem->getQty();
        $data['note'] = $poItem->getNote();

        array_push($dateData, $data);
    }


}
?>

<div class="sale_report responsive test">

    <div style="margin:0 auto">
        <table class="data" cellspacing="0" style="width:100%">
            <colgroup>
                <col width="100">
                <col width="100">
                <col width="100">
            </colgroup>
            <thead>
                <tr class="headings">
                    <th class=" no-link" style="font-family: Verdana, Arial; font-weight: bold; background: #ccc; border: 1px solid #ccc; padding: 10px;"><span class="nobr"><?php echo $this->__("Image");?></span></th>
                    <th class=" no-link" style="font-family: Verdana, Arial; font-weight: bold; background: #ccc; border: 1px solid #ccc; padding: 10px;"><span class="nobr"><?php echo $this->__("Product Name");?></span></th>
                    <th class=" no-link" style="font-family: Verdana, Arial; font-weight: bold; background: #ccc; border: 1px solid #ccc; padding: 10px;"><span class="nobr"><?php echo $this->__("SKU");?></span></th>
                    <th class=" no-link" style="font-family: Verdana, Arial; font-weight: bold; background: #ccc; border: 1px solid #ccc; padding: 10px;"><span class="nobr"><?php echo $this->__("Supplier SKU");?></span></th>
                    <th class=" no-link" style="font-family: Verdana, Arial; font-weight: bold; background: #ccc; border: 1px solid #ccc; padding: 10px;"><span class="nobr"><?php echo $this->__("Quantity Delivered/Requested");?></span></th>
                    <th class=" no-link" style="font-family: Verdana, Arial; font-weight: bold; background: #ccc; border: 1px solid #ccc; padding: 10px;"><span class="nobr"><?php echo $this->__("Note");?></span></th>
                    <th class=" no-link" style="font-family: Verdana, Arial; font-weight: bold; background: #ccc; border: 1px solid #ccc; padding: 10px;"><span class="nobr"><?php echo $this->__("PO Number");?></span></th>
                    <th class=" no-link" style="font-family: Verdana, Arial; font-weight: bold; background: #ccc; border: 1px solid #ccc; padding: 10px;"><span class="nobr"><?php echo $this->__("Created Date");?></span></th>
                    <th class=" no-link" style="font-family: Verdana, Arial; font-weight: bold; background: #ccc; border: 1px solid #ccc; padding: 10px;"><span class="nobr"><?php echo $this->__("Expected Delivery Date");?></span></th>
                    <th class=" no-link" style="font-family: Verdana, Arial; font-weight: bold; background: #ccc; border: 1px solid #ccc; padding: 10px;"><span class="nobr"><?php echo $this->__("Days Late");?></span></th>
                </tr>
            </thead>

            <tbody id="table-body">
                <?php foreach ($dateData as $item){ ?>
                    <tr title="#" class="pointer">
                        <td style="width: 15%; font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 10px; margin: 0; border: 1px solid #ccc; background: #fff;"><img src="<?php echo $item['image']; ?>"/></td>
                        <td style="width: 15%; font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 10px; margin: 0; border: 1px solid #ccc; background: #fff;"><?php echo $item['product_name']; ?>&nbsp;</td>
                        <td style="width: 15%; font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 10px; margin: 0; border: 1px solid #ccc; background: #fff;"><?php echo $item['sku']; ?>&nbsp;</td>
                        <td style="width: 15%; font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 10px; margin: 0; border: 1px solid #ccc; background: #fff;"><?php echo $item['supplier_sku']; ?>&nbsp;</td>
                        <td style="width: 15%; font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 10px; margin: 0; border: 1px solid #ccc; background: #fff;"><?php echo $item['qty_delivered']; ?>&nbsp;</td>
                        <td style="width: 15%; font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 10px; margin: 0; border: 1px solid #ccc; background: #fff;"><?php echo $item['note']; ?>&nbsp;</td>
                        <td style="width: 15%; font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 10px; margin: 0; border: 1px solid #ccc; background: #fff;"><?php echo $item['po_increment_id']; ?>&nbsp;</td>
                        <td style="width: 15%; font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 10px; margin: 0; border: 1px solid #ccc; background: #fff;"><?php echo $item['created_at'];?>&nbsp;</td>
                        <td style="width: 15%; font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 10px; margin: 0; border: 1px solid #ccc; background: #fff;"><?php echo $item['delivery_date']; ?>&nbsp;</td>
                        <td style="width: 15%; font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 10px; margin: 0; border: 1px solid #ccc; background: #fff;"><?php echo $item['day_late']; ?></td>
                    </tr>
                <?php } ?>
            </tbody>
        </table>
    </div>
</div>