<?php $orders = $this->getOrders(); ?>
<div class="content-header">
    <table cellspacing="0">
        <tbody>
        <tr>
            <td style="width:50%;"><h3 class="icon-head head-report-sold-refunded">Waiting on Vendor Orders</h3></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="sale_report">
    <div class="hor-scroll">
        <table class="data" id="itemGrid_table" cellspacing="0" border="1">
            <colgroup>
                <col class="a-center" width="50">
                <col width="50">
                <col width="80">
            </colgroup>
            <thead>
                <tr class="headings">
                    <th><span class="nobr"><span class="sort-title">Order Id</span></span></th>
                    <th><span class="nobr"><span class="sort-title">Grand Total</span></span></th>
                    <th><span class="nobr"><span class="sort-title">Created At</span></span></th>
                </tr>
            </thead>

            <tbody>
            <?php foreach ($orders as $order): ?>
                <tr title="#" class="even pointer">
                    <td>
                        <?php echo $order->getIncrementId() ?>
                    </td>
                    <td>
                        <?php echo $order->formatPrice($order['base_grand_total']) ?>
                    </td>
                    <td>
                        <?php echo $order->getCreatedAtFormated('short') ?>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>
