<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    jQuery.noConflict();
</script>

<div class="content-header">
    <table cellspacing="0">
        <tbody>
        <tr>
            <td style="width:50%;"><h3 class="icon-head head-report-sales-refunded">Weekly Sales Report</h3></td>
        </tr>
        </tbody>
    </table>
</div>

<!--<div class="entry-edit">-->
<!--    <form id="filter_form" action="--><?php //echo $this->getAjaxUrl() ?><!--" method="post"><div></div><div class="entry-edit-head">-->
<!--            <h4 class="icon-head head-edit-form fieldset-legend">Filter</h4>-->
<!--            <div class="form-buttons"></div>-->
<!--        </div>-->
<!--        <div class="fieldset ">-->
<!--            <div class="hor-scroll">-->
<!--                <table class="form-list" cellspacing="0">-->
<!--                    <tbody>-->
<!--                    <tr>-->
<!--                        <td class="label"><label for="sales_report_show_order_statuses">Period </label></td>-->
<!--                        <td class="value">-->
<!--                            <select  name="period" class=" select">-->
<!--                                <option value="day" selected="selected" >Day</option>-->
<!--                                <option value="month"  >Month</option>-->
<!--                                <option value="year"  >Year</option>-->
<!--                            </select>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td class="label"><label for="sales_report_from">From <span class="required">*</span></label></td>-->
<!--                        <td class="value">-->
<!--                            <input name="from" id="report_from" value="" title="From" type="text" class=" required-entry input-text" style="width:110px !important;">-->
<!--                            <img src="--><?php //echo $this->getSkinUrl('images/grid-cal.gif') ?><!--" class="v-middle" id="report_from_trig" />-->
<!--                            <script type="text/javascript">-->
<!--                                //<![CDATA[-->
<!--                                Calendar.setup({-->
<!--                                    inputField: "report_from",-->
<!--                                    ifFormat: "%e/%m/%Y",-->
<!--                                    showsTime: false,-->
<!--                                    button: "report_from_trig",-->
<!--                                    align: "Bl",-->
<!--                                    singleClick : true-->
<!--                                });-->
<!--                                //]]>-->
<!--                            </script>            </td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td class="label"><label for="sales_report_to">To <span class="required">*</span></label></td>-->
<!--                        <td class="value">-->
<!--                            <input name="to" id="report_to" value="" title="To" type="text" class=" required-entry input-text" style="width:110px !important;">-->
<!--                            <img src="--><?php //echo $this->getSkinUrl('images/grid-cal.gif') ?><!--" class="v-middle" id="report_to_trig" />-->
<!--                            <script type="text/javascript">-->
<!--                                //<![CDATA[-->
<!--                                Calendar.setup({-->
<!--                                    inputField: "report_to",-->
<!--                                    ifFormat: "%e/%m/%Y",-->
<!--                                    showsTime: false,-->
<!--                                    button: "report_to_trig",-->
<!--                                    align: "Bl",-->
<!--                                    singleClick : true-->
<!--                                });-->
<!--                                //]]>-->
<!--                            </script>            </td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td><br></td>-->
<!--                        <td><br></td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <td></td>-->
<!--                        <td>-->
<!--                            <button id="submitFilter" title="Filter" type="submit" class="scalable " style=""><span><span><span>Filter</span></span></span></button>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->

<div class="grid">

    <div class="hor-scroll">
        <table class="data" id="id_d79f811c0073b16e0ef13670480840ba_table" cellspacing="0">
            <colgroup><col width="100">
                <col width="100">
                <col width="100">
            </colgroup><thead>
            <tr class="headings">
                <th class=" no-link"><span class="nobr">Source</span></th>
                <th class=" no-link"><span class="nobr">Total amount</span></th>
                <th class=" no-link"><span class="nobr">Total excluding tax and charges</span></th>
                <th class=" no-link"><span class="nobr">Tax amount</span></th>
                <th class=" no-link"><span class="nobr">Shipping Charges</span></th>
                <th class=" no-link"><span class="nobr">Discount</span></th>
                <th class=" no-link"><span class="nobr">Order #</span></th>
                <th class=" no-link"><span class="nobr">Order Item #</span></th>
            </tr>
            </thead>

            <tbody id="table-body">
            <?php
            $total = $subtotal = $tax = $ship = $discount = $order = $item = 0;
            ?>
            <?php foreach ($this->getWeeklySalesData() as $key => $data){ ?>
                <tr title="#" class="pointer">
                    <td rowspan="1" class=" ">
                        <span class="nobr"><?php echo OpenTechiz_ReportExtend_Helper_Data::ORDER_SOURCE[$key]; ?>&nbsp;</span>
                    </td>
                    <td class=" a-right " style="width: 10%;"><?php echo $data['total']; $total+=$data['total']; ?>&nbsp;</td>
                    <td class=" a-right " style="width: 15%;"><?php echo $data['subtotal']; $subtotal += $data['subtotal'];?>&nbsp;</td>
                    <td class=" a-right " style="width: 15%;"><?php echo $data['tax']; $tax+=$data['tax']; ?>&nbsp;</td>
                    <td class=" a-right " style="width: 15%;"><?php echo $data['ship']; $ship += $data['ship'] ?>&nbsp;</td>
                    <td class=" a-right " style="width: 15%;"><?php echo $data['discount']; $discount += $data['discount'] ?>&nbsp;</td>
                    <td class=" a-right " style="width: 15%;"><?php echo $data['order']; $order += count(explode(',', $data['order'])); if($data['order'] == '') $order-- ?>&nbsp;</td>
                    <td class=" a-right " style="width: 15%;"><?php echo $data['item']; $item += count(explode(',', $data['item'])); if($data['item'] == '') $item--?>&nbsp;</td>
                </tr>
            <?php } ?>

            <tr class="totals">
                <th class="">Total&nbsp;</th>
                <th class=" a-right"><?php echo $total ?>&nbsp;</th>
                <th class=" a-right"><?php echo $subtotal ?>&nbsp;</th>
                <th class=" a-right"><?php echo $tax ?>&nbsp;</th>
                <th class=" a-right"><?php echo $ship ?>&nbsp;</th>
                <th class=" a-right"><?php echo $discount ?>&nbsp;</th>
                <th class=" a-right"><?php echo $order ?>&nbsp;</th>
                <th class=" a-right"><?php echo $item ?>&nbsp;</th>
            </tr>

            <?php
            $refundtotal = $refundsubtotal = $refundorder = $refunditem = 0;
            ?>
            <?php foreach ($this->getWeeklyRefundData() as $key => $data){ ?>
                <tr title="#" class="pointer">
                    <td rowspan="1" class=" ">
                        <span class="nobr"><?php echo OpenTechiz_ReportExtend_Helper_Data::ORDER_SOURCE[$key]; ?>&nbsp;</span>
                    </td>
                    <td class=" a-right " style="width: 10%;"><?php echo $data['total']; $refundtotal+=$data['total']; ?>&nbsp;</td>
                    <td class=" a-right " style="width: 15%;"><?php echo $data['subtotal']; $refundsubtotal += $data['subtotal'];?>&nbsp;</td>
                    <td class=" a-right " style="width: 15%;">0&nbsp;</td>
                    <td class=" a-right " style="width: 15%;">0&nbsp;</td>
                    <td class=" a-right " style="width: 15%;">0&nbsp;</td>
                    <td class=" a-right " style="width: 15%;"><?php echo $data['order']; $refundorder += count(explode(',', $data['order'])); if($data['order'] == '') $refundorder-- ?>&nbsp;</td>
                    <td class=" a-right " style="width: 15%;"><?php echo $data['item']; $refunditem += count(explode(',', $data['item'])); if($data['item'] == '') $refunditem--?>&nbsp;</td>
                </tr>
            <?php } ?>
            </tbody>

            <tfoot>
            <tr class="totals">
                <th class="">Total&nbsp;</th>
                <th class=" a-right"><?php echo $refundtotal + $total ?>&nbsp;</th>
                <th class=" a-right"><?php echo $subtotal + $refundsubtotal ?>&nbsp;</th>
                <th class=" a-right"><?php echo $tax ?>&nbsp;</th>
                <th class=" a-right"><?php echo $ship ?>&nbsp;</th>
                <th class=" a-right"><?php echo $discount ?>&nbsp;</th>
                <th class=" a-right">Total incl refunded: <?php echo $refundorder + $order ?>&nbsp;</th>
                <th class=" a-right">Total incl refunded: <?php echo $refunditem + $item ?>&nbsp;</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<!--<script>-->
<!--    jQuery("#filter_form").submit(function(e) {-->
<!--        var form = jQuery(this);-->
<!--        var url = form.attr('action');-->
<!--        inputBarcode = jQuery('#barcode').val();-->
<!---->
<!--        var data = form.serializeArray();-->
<!---->
<!--        jQuery("#loading-mask").show();-->
<!--        jQuery.ajax({-->
<!--            type: "POST",-->
<!--            url: url,-->
<!--            data: data,-->
<!--            success: function(data)-->
<!--            {-->
<!--                document.getElementById('table-body').innerHTML = '';-->
<!--                var i = 0;-->
<!--                var process = 0;-->
<!--                var error = 0;-->
<!--                var broke = 0;-->
<!--                for(var key in data) {-->
<!--                    if (data.hasOwnProperty(key)) {-->
<!--                        document.getElementById('table-body').innerHTML += '<tr title="#" class="' + isEven(i) + ' pointer">\n' +-->
<!--                            '                <td rowspan="1" class=" ">\n' +-->
<!--                            '                    <span class="nobr">' + key + '</span>\n' +-->
<!--                            '                </td>\n' +-->
<!--                            '                <td class=" a-right " style="width: 17%;">\n' +-->
<!--                            '                    ' + data[key]['process'] + '\n' +-->
<!--                            '                </td>\n' +-->
<!--                            '                <td class=" a-right " style="width: 17%;">\n' +-->
<!--                            '                    '+ data[key]['broke'] +'&nbsp;\n' +-->
<!--                            '                </td>\n' +-->
<!--                            '            </tr>';-->
<!--                        i++;-->
<!--                        process += parseInt(data[key]['process']);-->
<!--                        broke += parseInt(data[key]['broke']);-->
<!--                    }-->
<!--                }-->
<!---->
<!--                if(document.getElementById('table-body').innerHTML === ''){-->
<!--                    document.getElementById('table-body').innerHTML += '<tr class="even">\n' +-->
<!--                        '                <td class="empty-text a-center" colspan="5">No records found.</td>\n' +-->
<!--                        '            </tr>';-->
<!--                }-->
<!---->
<!--                document.getElementById('total-production').innerHTML = process + '&nbsp';-->
<!--                document.getElementById('total-broke').innerHTML = broke + '&nbsp';-->
<!---->
<!--                jQuery("#loading-mask").hide();-->
<!--            }-->
<!--        });-->
<!---->
<!--        e.preventDefault();-->
<!--    });-->
<!---->
<!--    function isEven(n) {-->
<!--        if( n % 2 == 0) return 'even';-->
<!--    }-->
<!--</script>-->