<?php

/**
 * @author Tuanlv
 * @copyright 2014
 */
?>
<div class="dashboard">
	<div class="page-title page-head">
    	<h1><?php echo $this->__('Affiliate Report') ?></h1>
	</div>
    <p class="switcher a-right">
        <label for="store_switcher"><?php echo $this->__('Date Range:') ?></label>
        <select name="aff_report_range" id="aff_report_range">
            <option value="1"><?php echo $this->__('Last 24h')?></option>
            <option value="2"><?php echo $this->__('Last Week')?></option>
            <option value="3"><?php echo $this->__('Last Month')?></option>
            <option value="4" selected="selected"><?php echo $this->__('Last 7 days')?></option>
            <option value="5"><?php echo $this->__('Last 30 days')?></option>
            <option value="7"><?php echo $this->__('Custom')?></option>
        </select>
        <span id="aff_custom_range" style="display: none">
            <label for="aff_from_date"><?php echo $this->__('From:') ?></label>
            <input type="text" name="aff_report_from" id="aff_report_from" style="width: 80px;"/>
            <label for="aff_to_date"><?php echo $this->__('To:') ?></label>
            <input type="text" name="aff_report_to" id="aff_report_to" style="width: 80px;"/>
            <input type="button" id="aff_report_refresh" value="<?php echo $this->__('Refresh') ?>" style="background: #E9E3E3;border: 1px solid #ccc;padding: 2px;">
        </span>
    </p>
    <div id="aff-container" style="height: 300px"></div>
    <p class="switcher a-right" id="aff_debug"></p>
    <div class="box-left" style="width: 48%;">
            <!--Order Information-->
            <div class="entry-edit">
                <div class="entry-edit-head">
                    <h4><?php echo Mage::helper('affiliate')->__('My Commission Source')?></h4>
                </div>
                
                <div id="aff-container-commission-bymembers" style="min-height: 300px"></div>
                
            </div>
    </div>
    <div class="box-right" style="width: 48%;margin: 0 0 0 25px;">
            <!--Order Information-->
            <div class="entry-edit">
                <div class="entry-edit-head">
                    <h4><?php echo Mage::helper('affiliate')->__('My Commission by programs')?></h4>
                </div>
                
                <div id="aff-container-commission-byprograms" style="min-height: 300px"></div>
                
            </div>
    </div>
    <div class="box-left" style="width: 100%;padding-top:10px;">
            <!--Order Information-->
            <div class="entry-edit">
                <div class="entry-edit-head">
                    <h4><?php echo Mage::helper('affiliate')->__('Statistics')?></h4>
                </div>
                <table class="data-table" id="aff-report-statistics" >
            		<colgroup>
            			<col width="1%"/>
            			<col width="25%"/>
            			<col width="15%"/>
            			<col width="10%"/>
            		</colgroup>
            	    <thead>
            	        <tr>
            				<th style="text-align:center;"><?php echo $this->__('My Total Sales') ?></th>
            				<th style="text-align:center;"><?php echo $this->__('My Total Order') ?></th>
            				<th style="text-align:center;"><?php echo $this->__('My Total Commission') ?></th>
            				<th style="text-align:center;"><?php echo $this->__('My Total Affiliate Child') ?></th>
            	        </tr>
            	    </thead>
            	    <tbody>
            	            <tr style="text-align:left">
            	            	<td id="aff_total_sales" style="text-align:center;width:15px;"></td>
            					<td id="aff_total_order" style="text-align:center;width:100px"></td>
            					<td id="aff_total_commission" style="text-align:center"></td>
            	            	<td id="aff_total_child" style="text-align:center">
            					</td>
            	            </tr>
            	    </tbody>
            	</table>
            </div>
    </div>
</div>

