<div id="div_payments" name="div_payments">

    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Payment status'); ?></h4>
        </div>
        <fieldset id="my-fieldset">
            <center>
                <table border="0" width="100%">
                    <tr>
                        <td align="center" width="33%"><h3><?php echo $this->__('Payment status'); ?> : <?php echo $this->getPaymentStatus(); ?></h3></td>
                        <td align="center" width="33%"><h3><?php echo $this->__('Total paid'); ?> : <?php echo $this->getTotalPaid(); ?></h3></td>
                        <td align="center" width="33%"><h3><?php echo $this->__('Total due'); ?> : <?php echo $this->getTotalDue(); ?></h3></td>
                    </tr>
                </table>
            </center>
        </fieldset>
    </div>

    <?php if ($this->canAddPayment()): ?>
        <div class="entry-edit">
            <div class="entry-edit-head">
                <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Add payment'); ?></h4>
            </div>
            <fieldset id="my-fieldset">
                <center>
                    <form id="frm_add_payment" name="frm_add_payment">
                        <input type="hidden" name="order_id" value="<?php echo $this->getOrder()->getId(); ?>">
                        <div class="grid">
                            <table cellspacing="0" class="data" >
                                <thead>
                                    <tr class="headings">
                                        <th class="a-center"><?php echo $this->__('Method'); ?></td>
                                        <th class="a-center"><?php echo $this->__('Amount'); ?></td>
                                        <th class="a-center"><?php echo $this->__('Date'); ?></td>
                                        <th class="a-center"><?php echo $this->__('Comments'); ?></td>
                                        <th class="a-center"><?php echo $this->__('Add'); ?></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td align="center">
                                            <select name="method" class="required-entry required-entry select">
                                                <option></option>
                                                <?php foreach ($this->getPaymentMethods() as $key => $label): ?>
                                                    <option value="<?php echo $key; ?>"><?php echo $label; ?></option>
                                                <?php endforeach; ?>
                                                </select>
                                            </td>
                                            <td align="center">
                                                <input type="text" name="amount" class="required-entry input-text validate-not-negative-number" value="<?php echo $this->getTotalDue(false); ?>" />
                                            </td>
                                            <td align="center">
                                                <input type="text" name="date" class="required-entry input-text" value="<?php echo date('Y-m-d'); ?>" />
                                            </td>
                                            <td align="center">
                                                <textarea name="comments" cols="50"></textarea>
                                            </td>
                                            <td align="center">
                                                <input type="button" value="<?php echo $this->__('Save'); ?>" onclick="objPaymentTracker.addPayment();" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </center>
                </fieldset>
            </div>
        <?php endif; ?>

        <div class="entry-edit">
            <div class="entry-edit-head">
                <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Payment records'); ?></h4>
            </div>
            <fieldset id="my-fieldset">
                <center>
                <?php echo $this->getPaymentsBlock(); ?>
                                            </center>
                                        </fieldset>
                                    </div>


                                    <script>

                                        objPaymentTracker = new paymentTracker('<?php echo $this->getAddPaymentUrl(); ?>', <?php echo $this->getOrder()->getId(); ?>, '<?php echo $this->getUpdateTabUrl(); ?>', '<?php echo $this->getDeletePaymentUrl(); ?>');
        addPaymentForm = new varienForm('frm_add_payment', '');

    </script>

</div>