<?php $referral_edit = Mage::getSingleton('affiliate/affiliatecustomers')->load(Mage::getSingleton('customer/session')->getCustomer()->getId());
      $status =$referral_edit->getStatus(); 
      if($status == MW_Affiliate_Model_Statusreferral::LOCKED)
      {?>
      	<p class="error-msg">
      		<?php echo $this->__('Affiliate Account was disabled, please contact us to solve this problem.') ?>						
		</p>
     <?php }else 
     {
      $storeId = Mage::app()->getStore()->getStoreId();
      $customer = Mage::getSingleton('customer/session')->getCustomer();
	  $name = $customer->getName();
	  $affiliate_customer = Mage::getModel('affiliate/affiliatecustomers')->load($customer->getId());
	  $credit_customer = Mage::getModel('mwcredit/creditcustomer')->load($customer->getId());
	  $payment_gateway = $affiliate_customer->getPaymentGateway();
      $fee = Mage::helper('affiliate')->getFeePaymentGateway($affiliate_customer ->getPaymentGateway(),$storeId);
	  $payment_email = $affiliate_customer->getPaymentEmail();
	  $auto_withdrawn = $affiliate_customer->getAutoWithdrawn();
	  $withdrawn_level = $affiliate_customer->getWithdrawnLevel();
	  $reserve_level = $affiliate_customer->getReserveLevel();
	  $bank_name = $affiliate_customer->getBankName();
	  $name_account = $affiliate_customer->getNameAccount();
	  $bank_country = $affiliate_customer->getBankCountry();
	  $swift_bic = $affiliate_customer->getSwiftBic();
	  $account_number = $affiliate_customer->getAccountNumber();
	  $re_account_number = $affiliate_customer->getReAccountNumber();
	  $referral_site = $affiliate_customer->getReferralSite();
	  $balance = $credit_customer->getCredit();?>
<div id="tabajax">	  
<form action="<?php echo $this->getUrl('affiliate/index/referral') ?>" method="post" name="mw_referral_account" id="form-validate" >
<div class="dashboard">
	<div class="page-title    page-head">
    	<h1><?php echo $this->__('My Account Info') ?></h1>
	</div>
	<div class="account-box ad-account-info    box-account box-info">
	    <div class="head    box-head">
	    	<h2><?php echo $this->__('Affiliate Account Information') ?></h2>
	    </div>
	    <div class="col2-set">
	    	<div>
	    		<span class="amount" style="font-size:13px;font-weight:bold">
		    		Current Balance:
		    		<span id="your_balance" class="price"><?php echo Mage::helper('core')->currency($balance,true,false);?></span>
		    	</span>	
		    	<a href="<?php echo Mage::getUrl('mwcredit/index/index')?>">View History</a>
		    	
				<!--1Check Affiliate Withdrawal config-->
				<?php if(Mage::getStoreConfig('affiliate/money/enable_withdrawal')){?>
				<?php 
		    		$withdrawnType = Mage::getModel('affiliate/affiliatecustomers')->load($customer->getId())->getAutoWithdrawn();
		    		
		    		//If withdrawn type is manual
		    		if(intval($withdrawnType) == MW_Affiliate_Model_Autowithdrawn::MANUAL) { ?>
		    			<span> | </span>
						<a href="<?php echo Mage::getUrl('affiliate/index/withdrawn')?>">Request Withdrawn</a>			    			
		    		<?php } else if(intval($withdrawnType) == MW_Affiliate_Model_Autowithdrawn::AUTO) { ?>
		    			<p>
		    				<span class="note_withdrawn">
		    					<?php echo $this->__('*Auto payment when account balance reaches '), '<b>', Mage::helper('core')->currency($withdrawn_level,true,false), '</b>'; ?>
		    				</span>
		    			</p>			
		    		<?php }?>
				
				<?php }	?>
				<!--1Check Affiliate Withdrawal config-->
			</div>
	    </div>
		
		<div class="fieldset">
		 	<h2 class="legend"><?php echo $this->__('My Account Info') ?></h2>  
		    <ul class="form-list">
		         <li class="fields">		             
		             <div class="field">
		             	<label for="name" ><em></em><?php echo $this->__('Affiliate Name') ?></label>
		             	<div class="input-box">
		             		<span id="name" style="font-size:14px"><?php echo $name;?></span>
		             		<a href="<?php echo Mage::getUrl('customer/account/edit')?>" style="margin-left:5px">Edit</a>
		        		</div>
		             </div>   
		        </li>
				<!--2Check Affiliate Withdrawal config-->
				<?php if(Mage::getStoreConfig('affiliate/money/enable_withdrawal')){?>
	       		<li class="fields">
                    <div class="field">
                         <label for="getway_withdrawn" class="required"><em>*</em><?php echo $this->__('Payment Method') ?></label>
	                     <div class="input-box">
	                     	<select id="getway_withdrawn" name="getway_withdrawn" class="required-entry">
	                     		<option value=""><?php echo $this->__('Please select a payment method') ?></option>
								<?php $gateways = unserialize(Mage::helper('affiliate/data')->getGatewayStore());?>
	                        	<?php foreach ($gateways as $gateway) {
	                        		if(strtolower(trim($gateway['mw_status'])) == 'yes'){
	                        	?>
								<option <?php if($payment_gateway == $gateway['gateway_value']) echo 'selected="selected"'?> value="<?php echo $gateway['gateway_value'];?>"><?php echo $gateway['gateway_title'];?></option>
						    	<?php }
	                        	}?>
							</select>
      	                     <p>
    		    				<span id="aff-fee-note" class="note_withdrawn">
    		    					<?php echo $this->__('*Processing Fee '), '<b><span id="aff-gateway-fee">', $fee, '</span></b>'; ?>
    		    				</span>
    		    			</p>
	                    </div>
                    </div>
                    <div class="field" id="mw_paypal_email">
						<label for="email_address" class="required"><em>*</em><?php echo $this->__('Withdrawal Notification Email') ?></label>
	                    <div class="input-box">
	                        <input type="text" name="paypal_email" id="paypal_email" value="<?php echo $payment_email;?>"title="<?php echo $this->__('Paypal Email') ?>" class="input-text validate-email required-entry" />
	                    
	                    </div>
				    </div>
                </li>
                <ul id="form_account_bank">
	                <li class="fields">
	                     <div class="field">
							<label for="bank_name" class="required"><em>*</em><?php echo $this->__('Bank Name') ?></label>
		                    <div class="input-box">
		                        <input type="text" name="bank_name" id="bank_name" value="<?php echo $bank_name;?>" title="<?php echo $this->__('Bank Name') ?>" class="input-text required-entry" />
		                    
		                    </div>
					    </div>
	                    <div class="field">
							<label for="name_account" class="required"><em>*</em><?php echo $this->__('Name on account') ?></label>
		                    <div class="input-box">
		                        <input type="text" name="name_account" id="name_account" value="<?php echo $name_account;?>" title="<?php echo $this->__('Name on account') ?>" class="input-text required-entry" />
		                    </div>
					    </div>
	                </li>
	                <li class="fields">
	                     <div class="field">
							<label for="bank_country" class="required"><em>*</em><?php echo $this->__('Bank Country') ?></label>
		                    <div class="input-box">
		                    	<!--  <input type="text" name="bank_country" id="bank_country" value="<?php //echo $this->htmlEscape($this->getFormData()->getCity()) ?>" title="<?php //echo $this->__('Bank Country') ?>" class="input-text required-entry"/>-->
		                    	<?php echo Mage::getBlockSingleton('directory/data')->getCountryHtmlSelect($bank_country,'bank_country','bank_country','Bank Country') ?>
		                    </div>
					    </div>
	                    <div class="field">
							<label for="swift_bic" class="required"><em>*</em><?php echo $this->__('SWIFT code') ?></label>
		                    <div class="input-box">
		                        <input type="text" name="swift_bic" id="swift_bic" value="<?php echo $swift_bic;?>" title="<?php echo $this->__('SWIFT code') ?>" class="input-text required-entry" />
		                    
		                    </div>
					    </div>
	                </li>
	                <li class="fields">
	                     <div class="field">
							<label for="account_number" class="required"><em>*</em><?php echo $this->__('Account Number') ?></label>
		                    <div class="input-box">
		                        <input type="text" name="account_number" id="account_number" value="<?php echo $account_number;?>" title="<?php echo $this->__('Account Number') ?>" class="input-text required-entry" />
		                    
		                    </div>
					    </div>
					    <div class="field">
							<label for="re_account_number" class="required"><em>*</em><?php echo $this->__('Re-enter Account Number') ?></label>
		                    <div class="input-box">
		                        <input type="text" name="re_account_number" id="re_account_number" value="<?php echo $re_account_number;?>" title="<?php echo $this->__('Re-enter Account Number') ?>" class="input-text required-entry validate-re_account_number" />
		                    
		                    </div>
					    </div>
					</li>
				</ul>
                <li class="fields">
                	<div class="field">
                        <label for="auto_withdrawn" class="required"><em>*</em><?php echo $this->__('Auto Withdrawal') ?></label>
	                    <div class="input-box">
	                        <select id="auto_withdrawn" name="auto_withdrawn">
	                            <?php $autowithdrawns = MW_Affiliate_Model_Autowithdrawn::getOptionArray();?>
	                        	<?php foreach ($autowithdrawns as $value=>$autowithdrawn) {?>
								<option <?php if($auto_withdrawn == $value) echo 'selected="selected"'?> value="<?php echo $value;?>"><?php echo $autowithdrawn;?></option>
						    	<?php }?>
							</select>
	                    </div>
                    </div>
                	<div class="field" id="payment_release_level_">
                		<?php  $store_id = Mage::app()->getStore()->getId();
                			   $max = Mage::helper('affiliate/data')->getWithdrawMaxStore($store_id);
	  					       $min = Mage::helper('affiliate/data')->getWithdrawMinStore($store_id);?>
						<label for="payment_release_level" class="required"><em>*</em><?php echo $this->__('Auto payment when account balance reaches (%s - %s)',Mage::helper('core')->currency($min),Mage::helper('core')->currency($max))?></label>
						<div class="input-box">
							<input type="text" name="payment_release_level" id="payment_release_level" value="<?php echo round($withdrawn_level,0);?>" title="<?php echo $this->__('Auto payment when account balance reaches') ?>" class="input-text validate-digits required-entry" />
						</div>
				    </div>
                </li>
                <li class="fields">
                	<div class="field">
						<label for="reserve_level" ><?php echo $this->__('Reserve Level') ?><br /><?php echo $this->__('(to be kept in account)') ?></label>
						
	                    <div class="input-box">
	                        <input type="text" name="reserve_level" id="reserve_level" value="<?php echo round($reserve_level,0);?>"title="<?php echo $this->__('Reserve Level') ?>" class="input-text validate-digits" />
	                    	
	                    </div>
				    </div>
				    <!-- 
				    <div class="field">
						<label for="referral_site"><?php //echo $this->__('Affiliate\'s Website(s)') ?></label>
	                    <div class="input-box">
	                    	<textarea class="input-text" title="<?php //echo $this->__('Affiliate Website(s)') ?>" name="referral_site" id="referral_site" ><?php //echo $referral_site;?></textarea>
	                    </div>
				    </div>
				     -->
                </li>
				<?php } ?>
				<!--2Check Affiliate Withdrawal config-->
	     </ul>
	    <br />
	    <label class="page-title" for="note_affiliate" ><?php echo $this->__('* Note: Affiliate may use balance as store credit in shopping cart.') ?></label>
		</div>
		
	  <div class="buttons-set">   	
  	     <button type="submit" title="<?php echo $this->__('Save') ?>" id="referral_acount" class="button"><span><span><?php echo $this->__('Save') ?></span></span></button>
  	  </div>		  
  </div>
 
</div>
</form>
</div>
<!--3Check Affiliate Withdrawal config-->
<?php if(Mage::getStoreConfig('affiliate/money/enable_withdrawal')){?>
<script type="text/javascript">
	var dataForm = new VarienForm('form-validate', true);
	var url = "<?php echo Mage::getUrl('affiliate/index/ajaxgetfee') ?>";
	if($('auto_withdrawn').value=='2')
    {
    	$('payment_release_level_').hide(); 
    }
	else
    {
    	$('payment_release_level_').show();
    };
	if($('getway_withdrawn').value=='banktransfer')
    {
    	$('form_account_bank').show();
    	$('mw_paypal_email').hide(); 
    	
    }
	else if($('getway_withdrawn').value=='check'){
    	$('form_account_bank').hide(); 
    	$('mw_paypal_email').hide();
    }
    else
    {
    	$('mw_paypal_email').show(); 
    	$('form_account_bank').hide();
    };
    $('auto_withdrawn').observe('change', function () {		
            if($('auto_withdrawn').value=='2')
            {
            	$('payment_release_level_').hide(); 
            }
            else
            {
            	$('payment_release_level_').show();
            }
			 
	});
	$('getway_withdrawn').observe('change', function () {
	    var gateway = $('getway_withdrawn').value;
		if(gateway=='banktransfer')
        {
        	$('form_account_bank').show(); 
        	$('mw_paypal_email').hide();
        }
		else if(gateway=='check'){
        	$('form_account_bank').hide(); 
        	$('mw_paypal_email').hide();
        }
        else
        {
        	$('mw_paypal_email').show();
        	$('form_account_bank').hide();
        }
        if(gateway){
            new Ajax.Request(url,{
                method: 'post',
                parameters: {ajax: true, gateway: gateway},
                onSuccess: function(transport){
                    if(transport.responseText){
                        var fee = transport.responseText.evalJSON();  
                        $('aff-gateway-fee').innerHTML = fee;
                    }
                }
            });
        }else{
             $('aff-gateway-fee').innerHTML = '';
        }
			 
	});

</script>
<?php } ?>
<!--3Check Affiliate Withdrawal config-->
<?php }?>