<?php
 /**
 * GoMage.com
 *
 * GoMage Feed Pro
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2015 GoMage.com (http://www.gomage.com)
 * @author       GoMage.com
 * @license      http://www.gomage.com/licensing  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 3.6
 * @since        Class available since Release 1.0
 */
?>
<?php
	$feed = $this->getFeed();
	
	$data = array();
	
	if($feed->getFilter()){
		$data = json_decode($feed->getFilter(), true);
	}
	
	$rows_count = 0;
	
	if(!empty($data)){
		
		$rows_count = count($data);
		
	}
?>
<div class="entry-edit">
	<div class="entry-edit-head">
    	<h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Products Filter Configuration')?></h4>
    	<div class="form-buttons">
    		<button style="" onclick="window.open('http://www.gomage.com/faq/extensions/feed-pro')" class="scalable go" type="button" id="feed_pro_help"><span>Feed Pro Help</span></button>
    	</div>
	</div>
	<div id="filter_fieldset" class="fieldset ">
	
		<table cellspacing="0" class="form-list">
            <tbody>    
				<tr>
				   <td class="label"><label for="filter_type"><?php echo $this->__('Filter All') ?></label></td>
				   <td class="value">
				       <select id="filter_type" name="filter_type" title="<?php echo $this->__('Filter All') ?>" class="select">
				          <?php foreach (Mage::getModel('gomage_feed/adminhtml_system_config_source_filter')->toOptionArray() as $filter_type): ?>		
							<option value="<?php echo $filter_type['value'] ?>" <?php if($feed->getFilterType() == $filter_type['value']): ?>selected="selected"<?php endif; ?>><?php echo $filter_type['label'] ?></option>							
						  <?php endforeach; ?>	
					   </select>
				   </td>
				</tr>
            </tbody>
        </table>
		<br/>
		<div class="grid">
			<script type="text/javascript">
				
				var totalRows = <?php echo $rows_count?>;
								
				function getAttributeValueField(attribute_code, area, element_name, iterator) {
				    if($(area)) {
				        
				        var data = {attribute_code:attribute_code,
						        	element_name:element_name,
						        	store_id:$('store_id').value,
						        	iterator:iterator};
				        
				        var url = '<?php echo $this->getUrl('*/*/getattributevaluefield');?>';
				        
				        url = url + (url.match(new RegExp('\\?')) ? '&isAjax=true' : '?isAjax=true');
				        new Ajax.Request(url, {
				            parameters: data,
				            loaderArea: area,
				            onSuccess: function(transport) {
				                try {				                    
			                        var response = transport.responseText.evalJSON();
			                        if (response.error) {
			                            alert(response.message);
			                        }else if(response.ajaxExpired && response.ajaxRedirect) {
			                            setLocation(response.ajaxRedirect);			                        
				                    } else {				        				        				
				                        $(area).update(response.attributevalue);
                        				$($('filter-' + response.iterator + '-condition')).update(response.condition);
				                    }
				                }
				                catch (e) {
				                    
				                }
				            }
				        });
				        
				    }
				}
				
				function removeFilterRow(e){
					e.parentNode.parentNode.parentNode.removeChild(e.parentNode.parentNode);
				}
				
				function addColumn(tr, content){
					
					td = document.createElement('td');
					td.innerHTML = content;
					tr.appendChild(td);
					
				}
				
				function addFilterRow(){
					
					
					if(totalRows == 0){
						e = $('no-filter');
						e.parentNode.removeChild(e);
					}
					
					var i = totalRows;
					var tr = document.createElement('tr');
					
					var attribute = '<?php echo addslashes($this->getAttributeSelect("[iterator]", null, true, "onchange=\"getAttributeValueField(this.value, $('filter-[iterator]-value-wraper'), 'filter[[iterator]][value]', [iterator])\""));?>';
					var condition = '<?php echo $this->getConditionSelect("[iterator]");?>';
					
					
					addColumn(tr, attribute.replace(/\[iterator\]/g, i));
					addColumn(tr, condition.replace(/\[iterator\]/g, i));
					addColumn(tr, '<div class="gfp-input-wrapper" id="filter-'+i+'-value-wraper"><input type="text" class="input-text" name="filter['+i+'][value]" value=""/></div>');
					addColumn(tr, '<button onclick="removeFilterRow(this);return false;" class="button"><span><span><?php echo $this->__('Remove')?></span></span></button>');
					
					$('filter-table-body').appendChild(tr);
					totalRows++;
					
				}
				
			</script>
			
			<table cellspacing="0" cellpadding="0" class="data" style="width:auto">
				<thead>
					<tr class="headings">
						
						<th><?php echo $this->__('Attribute')?></th>
						<th style="width:160px;"><?php echo $this->__('Condition')?></th>
						<th><?php echo $this->__('Value')?></th>
						<th style="width:66px;"><?php echo $this->__('Action')?></th>
					</tr>
				</thead>
				<tbody id="filter-table-body">
					
					<?php if($rows_count): ?>
					
					<?php for($i=0;$i<$rows_count;$i++):?>
					<tr>
						<td style="width:200px;"><?php echo $this->getAttributeSelect($i, @$data[$i]['attribute_code'], true, "onchange=\"getAttributeValueField(this.value, $('filter-".$i."-value-wraper'), 'filter[".$i."][value]',".$i.")\"")?></td>
						<td>
							<?php if (@$data[$i]['attribute_code'] == 'product_type'): ?>
								<?php echo $this->getConditionSelectLight($i, @$data[$i]['condition'])?>
							<?php else: ?>
								<?php echo $this->getConditionSelect($i, @$data[$i]['condition'])?>
							<?php endif; ?>	
						</td>
						<td>
							<div id="filter-<?php echo $i;?>-value-wraper" style="padding:0 2px;border-color:#AAAAAA #C8C8C8 #C8C8C8 #AAAAAA;border-style:solid;border-width:1px;">							
								<?php echo $this->getAttributeValueField(@$data[$i]['attribute_code'], 'filter['.$i.'][value]', @$data[$i]['value'], $feed->getStoreId());?>
							</div>
						</td>
						<td>
							<button onclick="removeFilterRow(this);return false;" class="button"><span><span><?php echo $this->__('Remove')?></span></span></button>
						</td>
					</tr>
					<?php endfor;?>
					<?php else:?>
					<tr id="no-filter">
						<td colspan="4"><?php echo $this->__('No active filters');?></td>
					</tr>
					<?php endif;?>
				</tbody>
			</table>
			<div class="button-set">
				<p style="margin-top:10px;"><button onclick="addFilterRow();return false;" class="button"><span><span><?php echo $this->__('Add Filter Row')?></span></span></button></p>
			</div>
		</div>
	</div>
</div>