<?php
$orderItems = $this->getAllOrderItems();
?>
<div class="grid">
    <div class="hor-scroll">
        <table class="data" id="itemGrid_table" cellspacing="0">
            <colgroup>
                <col class="a-center" width="20">
                <col width="150">
                <col width="20">
                <col width="200">
                <col width="250">
                <col width="100">
                <col width="100">
                <col width="50">
                <col width="80">
            </colgroup><thead>
            <tr class="headings">
                <th><span class="nobr"><span class="sort-title">Thumbnail</span></span></th>
                <th><span class="nobr"><span class="sort-title">Order Item ID</span></a></span></th>
                <th><span class="nobr"><span class="sort-title">Order Date</span></span></th>
                <th><span class="nobr"><span class="sort-title">Product Name</span></span></th>
                <th><span class="nobr"><span class="sort-title">SKU</span></span></th>
                <th><span class="nobr"><span class="sort-title">Items Barcode</span></span></th>
                <th><span class="nobr"><span class="sort-title">Items State</span></span></th>
                <th><span class="nobr"><span class="sort-title">Price (Incl. Tax)</span></span></th>
                <th><span class="nobr"><span class="sort-title">Is Skip Cost Check</span></span></th>
            </tr>
            </thead>

            <tbody>
            <?php foreach ($orderItems as $orderItem){
//                var_dump($orderItem);
                $_product = Mage::getModel('catalog/product')->load($orderItem['product_id']);
                $_product->setSku($orderItem['sku']);
                $imageUrl = Mage::helper('catalog/image')->init($_product, 'thumbnail');

                $states = OpenTechiz_Inventory_Helper_Data::ITEM_STATE;
                if(isset($states[$orderItem['state']])){
                    $state = $states[$orderItem['state']];
                }else{
                    $state = '';
                }
                ?>
                <tr title="#" class="even pointer">
                    <td class="a-center ">
                        <img src="<?php echo $imageUrl ?>" width="120px" height="120px">
                    </td>
                    <td class="a-center ">
                        <?php echo $orderItem['item_id'] ?>
                    </td>
                    <td class=" ">
                        <?php echo $orderItem['created_at'] ?>
                    </td>
                    <td class=" ">
                        <?php echo $orderItem['name'] ?>
                    </td>

                    <td class=" ">
                        <?php echo $orderItem['sku'] ?>
                    </td>

                    <td class=" ">
                        <?php echo $orderItem['barcode'] ?>
                    </td>

                    <td class=" ">
                        <?php echo $state ?>
                    </td>

                    <td class=" ">
                        <?php echo $orderItem['price_incl_tax'] ?>
                    </td>

                    <td class="a-center ">
                        <?php echo $orderItem['skip_cost_check'] ?>                    </td>

                </tr>
            <?php }?>
            </tbody>
        </table>
    </div>
</div>