<div class="content-header">
    <table cellspacing="0">
        <tr>
            <td style="<?php echo $this->getHeaderWidth() ?>"><?php echo $this->getHeaderHtml() ?></td>
            <td class="form-buttons">
                Create Order Type:
                <select name="order_type_to_create" id="order_type_to_create" style="width:8em;" onchange="changeCreateUrl()">
                    <option value="<?php echo $this->getStandardOrderCreateUrl() ?>">Standard</option>
                    <option value="<?php echo $this->getLayawayOrderCreateUrl() ?>">Layaway</option>
                    <option value="<?php echo $this->getRepairOrderCreateUrl() ?>">Repair</option>
                    <option value="<?php echo $this->getExchangeOrderCreateUrl() ?>">Exchange</option>
                </select>
                <button title="Create New Order" type="button" id="order_create_button"
                        class="scalable add" onclick="setLocation('<?php echo $this->getStandardOrderCreateUrl() ?>')"
                        style=""><span><span><span>Create New Order</span></span></span></button>
            </td>
        </tr>
    </table>
</div>
<div>
    <?php echo $this->getGridHtml() ?>
</div>
<script>
    var selector = document.getElementById('order_type_to_create');
    var createBtn = document.getElementById('order_create_button');

    function changeCreateUrl() {
        console.log(selector.value);
        createBtn.onclick = function () {
            setLocation( selector.value );
        }
    }
</script>
