<?php $_order = $this->getOrder() ?>
<?php 
	$pin_comment  = $this->showComment($_order);
	if($pin_comment->count() > 0):?>
		<div class="pin-comment-block">

		        <div class="entry-edit-head">
		            
		            <h4 class=""><?php echo Mage::helper('sales')->__('Pinned Comment') ?></h4>
		            
		        </div>
		        <div class="fieldset" id="pinned-comment">
		           
                    	<?php foreach($pin_comment as $comment):?>
                    		<?php echo $comment->getComment().'<br/>';?>
                    	<?php endforeach;?>
		            
		        </div>

		</div>
	<?php endif;?>