<?php
$params = $this->getRequest()->getParams();
if(isset($params['id'])){ //edit
    $ShipFrom = $this->getCurrentAddress();
    $currentSource = OpenTechiz_ReportExtend_Helper_Data::ORDER_SOURCE[$ShipFrom->getSource()]?>
    <div class="content-header">
        <table cellspacing="0">
            <tbody>
            <tr>
                <td style="width:50%;"><h3 class="icon-head head-adminhtml-inventory-item">Editing Address for <?php echo $currentSource ?></h3></td>
                <td class="form-buttons">
                    <button title="Delete" type="button" class="scalable delete" onclick="deleteConfirm('Are you sure you want to delete this?', '<?php echo Mage::helper("adminhtml")->getUrl("adminhtml/shipFrom/delete", array('id' => $ShipFrom->getId()))?>')" style=""><span><span><span>Delete</span></span></span></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="entry-edit">
        <div class="fieldset " id="purchase_gold_form">
            <div class="hor-scroll" style="padding-left: 10%">
                <form id="item-edit-form" name="item-edit-form" method="post" action="<?php echo $this->getFormAction() ?>">
                    <table class="form-list" cellspacing="0">
                        <tbody>
                        <tr>
                            <td class="label"><label for="source"><?php echo $this->getHelper()->__('Order Source') ?><span class="required">*</span>:</label></td>
                            <td class="value">
                                <select required id="source" name="source" title="source">
                                    <option value=""></option>
                                    <?php
                                    foreach ($this->getPossibleSource() as $key => $value){ ?>
                                        <?php if($key == $ShipFrom->getSource()){ ?>
                                            <option selected value="<?php echo $key ?>"><?php echo $value ?></option>
                                        <?php }else{ ?>
                                            <option value="<?php echo $key ?>"><?php echo $value ?></option>
                                    <?php }} ?>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label for="name"><?php echo $this->getHelper()->__('Name') ?><span class="required">*</span>:</label></td>
                            <td class="value">
                                <input required id="name" name="name" title="name" value="<?php echo $ShipFrom->getName() ?>"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label for="company"><?php echo $this->getHelper()->__('Company') ?><span class="required">*</span>:</label></td>
                            <td class="value">
                                <input required id="company" name="company" title="company" value="<?php echo $ShipFrom->getCompany() ?>"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label for="address_line_1"><?php echo $this->getHelper()->__('Address') ?><span class="required">*</span>:</label></td>
                            <td class="value">
                                <input required id="address_line_1" name="address_line_1" title="address_line_1" value="<?php echo $ShipFrom->getData('address_line_1') ?>"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label"></td>
                            <td class="value">
                                <input id="address_line_2" name="address_line_2" title="address_line_2" value="<?php echo $ShipFrom->getData('address_line_2') ?>"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label for="city"><?php echo $this->getHelper()->__('City') ?><span class="required">*</span>:</label></td>
                            <td class="value">
                                <input required id="city" name="city" title="city" value="<?php echo $ShipFrom->getCity() ?>"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label for="state"><?php echo $this->getHelper()->__('State') ?><span class="required">*</span>:</label></td>
                            <td class="value">
                                <select required id="state" name="state" title="state">
                                    <option value=""></option>
                                    <?php
                                    foreach ($this->getStates() as $key => $value){ ?>
                                        <?php if($key == $ShipFrom->getState()){ ?>
                                            <option selected value="<?php echo $key ?>"><?php echo $value ?></option>
                                        <?php }else{ ?>
                                            <option value="<?php echo $key ?>"><?php echo $value ?></option>
                                    <?php }} ?>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><label for="zipcode"><?php echo $this->getHelper()->__('Zipcode') ?><span class="required">*</span>:</label></td>
                            <td class="value">
                                <input required id="zipcode" name="zipcode" title="zipcode" value="<?php echo $ShipFrom->getZipcode() ?>"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <div style="padding-left: 210px">
                        <input type="hidden" value="<?php echo $ShipFrom->getId() ?>" name="id">
                        <button type="submit"><?php echo $this->getHelper()->__('Submit') ?></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<?php }else{ //new ?>
<div class="content-header">
<table cellspacing="0">
    <tbody>
    <tr>
        <td style="width:50%;"><h3 class="icon-head head-adminhtml-inventory-item">New Ship From Address</h3></td>
        <td class="form-buttons"></td>
    </tr>
    </tbody>
</table>
</div>

<div class="entry-edit">
    <div class="fieldset " id="purchase_gold_form">
        <div class="hor-scroll" style="padding-left: 10%">
            <form id="item-edit-form" name="item-edit-form" method="post" action="<?php echo $this->getFormAction() ?>">
                <table class="form-list" cellspacing="0">
                    <tbody>
                    <tr>
                        <td class="label"><label for="source"><?php echo $this->getHelper()->__('Order Source') ?><span class="required">*</span>:</label></td>
                        <td class="value">
                            <select required id="source" name="source" title="source">
                                <option value=""></option>
                                <?php
                                    foreach ($this->getPossibleSource() as $key => $value){ ?>
                                        <option value="<?php echo $key ?>"><?php echo $value ?></option>
                                 <?php } ?>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="name"><?php echo $this->getHelper()->__('Name') ?><span class="required">*</span>:</label></td>
                        <td class="value">
                            <input required id="name" name="name" title="name"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="company"><?php echo $this->getHelper()->__('Company') ?><span class="required">*</span>:</label></td>
                        <td class="value">
                            <input required id="company" name="company" title="company"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="address_line_1"><?php echo $this->getHelper()->__('Address') ?><span class="required">*</span>:</label></td>
                        <td class="value">
                            <input required id="address_line_1" name="address_line_1" title="address_line_1"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"></td>
                        <td class="value">
                            <input id="address_line_2" name="address_line_2" title="address_line_2"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="city"><?php echo $this->getHelper()->__('City') ?><span class="required">*</span>:</label></td>
                        <td class="value">
                            <input required id="city" name="city" title="city"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="state"><?php echo $this->getHelper()->__('State') ?><span class="required">*</span>:</label></td>
                        <td class="value">
                            <select required id="state" name="state" title="state">
                                <option value=""></option>
                                <?php
                                foreach ($this->getStates() as $key => $value){ ?>
                                    <option value="<?php echo $key ?>"><?php echo $value ?></option>
                                <?php } ?>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="zipcode"><?php echo $this->getHelper()->__('Zipcode') ?><span class="required">*</span>:</label></td>
                        <td class="value">
                            <input required id="zipcode" name="zipcode" title="zipcode"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <div style="padding-left: 210px">
                    <button type="submit"><?php echo $this->getHelper()->__('Submit') ?></button>
                </div>
            </form>
        </div>
    </div>
</div>
<?php } ?>