<?php $order = $this->getOrder();$checked = 'false'; ?>
<div class="entry-edit box-left">
<!--    <div class="entry-edit-head">-->
<!--        <h4 class="icon-head">--><?php //echo $this->__('Actual Shipping Method') ?><!--</h4>-->
<!--    </div>-->
<!--    <fieldset>-->
        <div id="mymodule_custom_block">
            <?php $_shippingRateGroups = $this->getShippingRates(); ?>

            <?php if ($this->getQuote()->isVirtual()): ?>
                <div>
                    <span><?php echo $this->__('Shipping method selection is not applicable') ?></span>
                </div>
            <?php elseif ($_shippingRateGroups): ?>
<!--                <form id="order_shipping_form" enctype="multipart/form-data" method="post" action="--><?php //echo $this->getUpdateOrderUrl() ?><!--">-->
                    <?php if($this->isEditable()):?>
                        <div id="order-shipping-method">
                            <dl class="shipment-method-list">
                                <?php foreach ($_shippingRateGroups as $code => $_rates):
                                    if($code=='matrixrate')
                                        continue; ?>
                                    <dt><strong><?php
                                            echo $this->escapeHtml($this->getCarrierName($code)) ?></strong></dt>
                                    <dd>
                                        <ul>
                                            <?php foreach ($_rates as $_rate): ?>
                                                <?php $_radioProperty = 'name="shipping[shipping_method]" type="radio"' ?>
                                                <?php $_code=$_rate->getCode() ?>
                                                <?php if($this->isMethodActive($_code)) $checked = 'true'; ?>
                                                <li>
                                                    <?php if ($_rate->getErrorMessage()): ?>
                                                        <ul class="messages">
                                                            <li class="error-msg"><?php echo $this->escapeHtml($_rate->getErrorMessage()) ?></li>
                                                        </ul>
                                                    <?php else: ?>
                                                        <?php $_checked = $this->isMethodActive($_code) ? 'checked="checked"' : '' ?>
                                                        <input <?php echo $_radioProperty ?> form="order_shipping_form" value="<?php echo $_code ?>" id="s_method_<?php echo $_code ?>" <?php echo $_checked ?>/>
                                                        <label class="normal" for="s_method_<?php echo $_code ?>">
                                                            <?php echo $this->escapeHtml($_rate->getMethodTitle() ? $_rate->getMethodTitle() : $_rate->getMethodDescription()) ?> -
                                                            <strong>
                                                                <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                                                                <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>

                                                                <?php echo $_excl; ?>
                                                                <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                                                                    (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                                                                <?php endif; ?>
                                                            </strong>
                                                        </label>
                                                    <?php endif ?>
                                                </li>
                                            <?php endforeach; ?>
                                        </ul>
                                    </dd>
                                <?php endforeach; ?>
                            </dl>
                            <div class="ordersedit-buttons">
                                <span class="f-left">
                                    This is required for creating shipping label.
                                </span>
                                <button class="f-right mw-submit-button" form="order_shipping_form" type="submit" title="Submit">
                                    <span><span>Submit</span></span>
                                </button>
                            </div>
                        </div>
                    <?php endif ?>
<!--                    --><?php //if ($_rate = $this->getActiveMethodRate($_shippingRateGroups)): ?>
<!--                    <div id="order-shipping-rate-info">-->
<!--                        <strong>--><?php //echo $this->escapeHtml($this->getCarrierName($_rate->getCarrier())) ?><!--</strong> --->
<!--                        --><?php //echo $this->escapeHtml($_rate->getMethodTitle() ? $_rate->getMethodTitle() : $_rate->getMethodDescription()) ?>
<!--                        <br />-->
<!---->
<!--                        --><?php //$_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
<!--                        --><?php //$_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>
<!--                        --><?php //$customPrice = Mage::getSingleton('adminhtml/session_quote')->getShippingCustomPrice(); ?>
<!--                        --><?php //$shippingPrice = ($customPrice > 0) ? $customPrice : $_rate->getPrice(); ?>
<!---->
<!--                        <label id="shipping_rate">--><?php //echo $this->__('Price'); ?><!--:--><?php //echo $shippingPrice ?><!-- </label>-->
<!---->
<!---->
<!--                        <br/>-->
<!--                        --><?php //if($this->isEditable()):?>
<!--                            <a href="#" onclick="$$('#order-shipping-form').each(function(el){ el.hide() });$('order-shipping-method').show();$('order-shipping-rate-info').hide();return false">-->
<!--                                --><?php //echo Mage::helper('sales')->__('Click to change shipping method') ?>
<!--                            </a>-->
<!--                        --><?php //endif; ?>
<!--                    </div>-->
<!--                </form>-->
<!--            --><?php //else: ?>
<!--                <script type="text/javascript">$('order-shipping-method').show();</script>-->
<!--            --><?php //endif; ?>
            <?php else: ?>
                <strong><?php echo Mage::helper('sales')->__('Sorry, no quotes are available for this order at this time.') ?></strong>
            <?php endif; ?>
        </div>

<!--    </fieldset>-->

</div>
<div class="clear"></div>
<script>
    var checked = ('<?php echo $checked ?>' !== 'true');
    if (checked) {
        var html = '<style> .save{background: gray;border-color:gray;pointer-events: none;}</style>';
        document.getElementById('order-shipping-method').innerHTML+=html;
    }
</script>