<?php
    $gold = $this->getGold();
?>
<div class="entry-edit">
    <div class="entry-edit-head"><h4
                class="icon-head head-stone-main-info"><?php echo Mage::helper('opentechiz_material')->__('Main Information') ?></h4>
    </div>
    <fieldset class="fieldset fieldset-wide" style="min-height: 200px">
        <div class="hor-scroll">
            <table cellspacing="0" class="form-list">
                <tbody>
                <tr>
                    <td class="label"><label>Type <span class="required">*</span></label></td>
                    <td class="value">
                        <select name="gold_type" id="gold-type-option" class="required-entry">
                            <option value="" selected="selected">-- Select Option --</option>
                            <?php
                                $gold_types = OpenTechiz_Material_Helper_Data::OPPENTECHIZ_MATERIAL_GOLD_TYPE;
                                foreach ($gold_types as $key => $gold_type)
                                {
                                    echo '<option value='.$key.'>'.$gold_type.'</option>';
                                }
                            ?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label"><label>Color <span class="required"></span></label></td>
                    <td class="value">
                        <select name="gold_color" id="gold-color-option">
                            <option value="" selected="selected">-- Select Option --</option>
                            <?php
                            $gold_colors = OpenTechiz_Material_Helper_Data::OPPENTECHIZ_MATERIAL_GOLD_COLOR;
                            foreach ($gold_colors as $key => $gold_color)
                            {
                                echo '<option value='.$key.'>'.$gold_color.'</option>';
                            }
                            ?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label"><label>Price <span class="required">*</span></label></td>
                    <td class="value">
                        <input id="gold-price" name="price" value="<?php echo $gold->getPrice(); ?>" class="required-entry" type="text"
                               style="min-width: 275px;">
                    </td>
                </tr>
                <tr>
                    <td class="label"><label>Weight (gr) <span class="required">*</span></label></td>
                    <td class="value">
                        <input id="weight" name="weight" value="<?php echo $gold->getWeight(); ?>" type="text" style="min-width: 275px" disabled="true">
                        <p class="note" id="note_is_global"><span>When gold bar has change, the weight will automatically calculate.</span></p>
                    </td>
                </tr>
                <tr>
                    <td class="label"><label>Reorder Point</label></td>
                    <td class="value">
                        <input id="gold_reorderpoint" name="reorder_point"
                               value="<?php echo $gold->getReorderPoint(); ?>" type="text"
                               style="min-width: 275px">
                    </td>
                </tr>
                <tr>
                    <td class="label"><label>Status</label></td>
                    <td class="value">
                        <select name="status" id="gold-status-option">
                            <?php
                            $status = OpenTechiz_Material_Helper_Data::OPPENTECHIZ_MATERIAL_STATUS;
                            foreach ($status as $key => $status_type) {
                                echo '<option value=' . $key . '>' . $status_type . '</option>';
                            }
                            ?>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>

<script>
    jQuery(document).ready(function ($) {
        var statusVal = '<?php echo $gold->getStatus(); ?>';
        if (statusVal == 2 || statusVal == 3) {
            var currentStatus = 1;
        } else {
            var currentStatus = 0;
        }

        $('#gold-status-option option').each(function (i) {
            if ($(this).attr('value') == currentStatus) {
                $(this).attr('selected', 'selected');
            }
        });

        var goldTypeVal = '<?php echo $gold->getGoldType(); ?>';
        $('#gold-type-option option').each(function (i) {
            if ($(this).val() == goldTypeVal) {
                $(this).attr('selected','selected');
            }
        });

        var goldColorVal = '<?php echo $gold->getGoldColor(); ?>';
        $('#gold-color-option option').each(function (i) {
            if ($(this).val() == goldColorVal) {
                $(this).attr('selected','selected');
            }
        });

        var selector = $('#gold-type-option');
        if (selector.val() == '10k' || selector.val() == '14k' || selector.val() == '18k')
            $('#gold-color-option').removeAttr('disabled');
        else
            $('#gold-color-option').attr('disabled', 'disabled');

        $('#gold-type-option').on('change', function () {
            if ($(this).val() == '10k' || $(this).val() == '14k' || $(this).val() == '18k')
                $('#gold-color-option').removeAttr('disabled');
            else
                $('#gold-color-option').attr('disabled', 'disabled');
        });
    })
</script>
