<!--@subject Your review was approved!@-->
<!-- 
<pre>
[[ help ]]
logo : {{var logo_url}}
logo alt : {{var logo_alt}}
store url : {{store url}}
customer_name : {{var customer_name}}
customer_email : {{var customer_email}}
store_name : {{var store_name}}
points_balance : {{var points_balance}}
points_earned : {{var points_earned}}
has_pending_points : {{var has_pending_points}}
pending_points : {{var pending_points}}
review_title : {{var review_title}}
review_detail : {{var review_detail}}
review_created_at : {{var review_created_at}}
product : {{var product}}
points_caption : {{var points_caption}}
unsubscribe_url : {{var unsubscribe_url}}
</pre>
-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="eeeeee" style="background-size: 100% 100%; background-position: top center; padding: 0px 20px;" class="main-bg">
    <tbody>
        
        <tr>
            <td>
                <table border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="ffffff" class="container590 bg_color">
                    <tbody>
                        <tr>
                            <td height="40" style="font-size: 40px; line-height: 40px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="center" style="color: #181c27; font-size: 30px; font-family: 'Oxygen', sans-serif; mso-line-height-rule: exactly; line-height: 30px;" class="title_color main-header">
                                <!-- ======= section header ======= -->
                                <div class="editable_text" style="line-height: 38px;">
                                    <div class="text_container" style="padding: 0px 20px;">Hey <strong>{{var customer_name}}</strong>,</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td height="30" style="font-size: 30px; line-height: 30px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="center" style="color: #818c92; font-size: 16px; font-family: 'Varela', sans-serif; mso-line-height-rule: exactly; line-height: 24px;" class="resize-text text_color">
                                <div class="editable_text" style="line-height: 24px">
                                    <!-- ======= section text ======= -->
                                    <span class="text_container">
                                        Your review was submitted on 
                                        <strong><b>{{var review_created_at}}</b></strong> for <strong><b>"{{var product}}"</b></strong> 
                                        has been approved and you have earned <strong><b>{{var points_earned}}</b></strong>.
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td height="30" style="font-size: 30px; line-height: 30px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="center">
                                <span class="resize-text text_color" style="color: #818c92; font-size: 14px; font-family: 'Varela', sans-serif; mso-line-height-rule: exactly; line-height: 24px;">
                                    You currently have <strong><b>{{var points_balance}}</b></strong> in your account, 
                                    which you can spend at <a href="{{store url}}">{{var store_name}}</a>.
                                </span>
                            </td>
                        </tr>
                        
                        <tr>
                            <td height="30" style="font-size: 30px; line-height: 30px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td align="center">
                                <span class="resize-text text_color" style="color: #818c92; font-size: 14px; font-family: 'Varela', sans-serif; mso-line-height-rule: exactly; line-height: 24px;">
                                    Thank you for shopping with us!
                                </span>
                            </td>
                        </tr>
                        
                        <tr>
                            <td height="50" style="font-size: 50px; line-height: 50px;">&nbsp;</td>
                        </tr>

                        <tr>
                            <td align="center" style="background-size: 100% 100%; background-position: top center;">
                                <table border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="center" style="-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;" bgcolor="#6db220">
                                            <a href="{{store url}}" target="_blank" style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding: 15px 30px; border: 1px solid #6db220; display: inline-block;">
                                                <!--[if mso]>&nbsp;&nbsp;&nbsp;<![endif]-->
                                                Spend your points
                                                <!--[if mso]>&nbsp;&nbsp;&nbsp;<![endif]-->
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td height="40" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        
        <tr>
            <td height="30" style="font-size: 30px; line-height: 30px;">&nbsp;</td>
        </tr>

        <tr>
            <td align="center" style="color: #8d94a3; font-size: 14px; font-family: 'Questrial', sans-serif; line-height: 22px;" class="text_color">
                <div class="editable_text" style="line-height: 22px;">
                    <span class="text_container">
                        <a href="{{var unsubscribe_url}}" style="color: #8d94a3; text-decoration: none;" class="text_color">Unsubscribe from all {{var points_caption}} notifications</a>
                    </span>
                </div>
            </td>
        </tr>
        
        <tr>
            <td height="35" style="font-size: 35px; line-height: 35px;">&nbsp;</td>
        </tr>
    </tbody>
</table>
{{template config_path="design/email/footer"}}
