<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Relatedproducts
 * @version    1.4.4
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php $collection = $this->getRelatedProductsCollection(); ?>
<?php if($this->getEnabled() && count($collection)): ?>
<div class="category-new-wrapper aw-box aw-mini-related-items block">
    <p class="h2 bordered-title bordered-title-center"><?php echo $this->__('Who Bought This Also Bought') ?></p>
    <div class="aw-content" <?php if (Mage::helper('relatedproducts')->checkVersion('1.4.1.0')) { echo "id=\"after1400\""; }?>>
        <div class="block-content aw-arp-block-content">
            <div class="products-grid">
                <?php foreach($collection as $_product): ?>
                    <div class="item">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>" class="product-image"><img class="lazy" data-src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(210) ?>" src="<?php echo $this->getSkinUrl('images/mgt_lazy_image_loader/px.gif'); ?>" width="210" height="210" alt="<?php echo $this->escapeHtml($_product->getName()) ?>" /></a>
                        <div class="product-info-description">
                            <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>"><?php echo $this->escapeHtml($_product->getName()) ?></a></h3>
                            <?php if ($_product->getData('c2c_call_for_price') !== '1') : ?>
                            <?php $productBlock = $this->getLayout()->createBlock('catalog/product_price'); ?>
                            <?php echo $productBlock->getPriceHtml($_product) ?>
                            <?php else: ?>
                            <p class="price-contact-notice"><?php echo $this->__('Please contact us for price and availability') ?></p>
                            <?php endif; ?>
                            <?php echo Mage::getBlockSingleton('catalog/product_view')->getReviewsSummaryHtml($_product, 'short'); ?>
                            <div class="actions">
                                <?php if($_product->isSaleable()): ?>
                                    <a title="<?php echo $this->quoteEscape($this->__('View Details')) ?>" class="button btn-short" href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__('View Now') ?></a>
                                    <button type="button" title="<?php echo $this->quoteEscape($this->__('Quick Buy')) ?>" class="button btn-cart btn-short" onclick="setLocation('<?php echo Mage::helper('checkout/cart')->getAddUrl($_product); ?>')"><span><span><?php echo $this->__('Quick Buy') ?></span></span></button>
                                <?php else: ?>
                                    <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                <?php endforeach ?>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
<!--
$$('.aw-related-checkbox').each(function(elem){
    Event.observe(elem, 'click', addAwRelatedToProduct)
});

var relatedAwProductsCheckFlag = false;
function selectAllAwRelated(txt){
    if (relatedAwProductsCheckFlag == false) {
        $$('.aw-related-checkbox').each(function(elem){
            elem.checked = true;
        });
        relatedAwProductsCheckFlag = true;
        txt.innerHTML="<?php echo $this->__('unselect all') ?>";
    } else {
        $$('.aw-related-checkbox').each(function(elem){
            elem.checked = false;
        });
        relatedAwProductsCheckFlag = false;
        txt.innerHTML="<?php echo $this->__('select all') ?>";
    }
    addAwRelatedToProduct();
}

function addAwRelatedToProduct(){
    var checkboxes = $$('.aw-related-checkbox');
    var values = [];
    for(var i=0;i<checkboxes.length;i++){
        if(checkboxes[i].checked) values.push(checkboxes[i].value);
    }

    if($('related-products-field')){
        $('related-products-field').value = values.join(',');
    }

}
//-->
</script>
<?php endif ?>