<?php
$alsoviewProduct = $this->getAlsoViewedProduct(3);
?>
<div class="category-new-wrapper aw-arp-block">
    <p class="h2 bordered-title bordered-title-center"><?php echo $this->__('Related Products') ?></p>
    <div class="block-content aw-arp-block-content">
        <?php if (count($alsoviewProduct) > 0): ?>
            <ul class="products-grid">
                <?php
                foreach ($alsoviewProduct as $_product):
                    ?>
                    <li class="item">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>" class="product-image"><img class="lazy" data-src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(210)
                    ?>" src="<?php echo $this->getSkinUrl('images/mgt_lazy_image_loader/px.gif'); ?>" width="210" height="210" alt="<?php echo $this->escapeHtml($_product->getName()) ?>"/></a>
                        <div class="product-info-description">
                            <h4 class="product-name">
                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>"><?php echo $this->escapeHtml($_product->getName()) ?></a>
                            </h4>
                            <div class="price-box">
                                <span class="regular-price" >
                                    <span class="price"><?php echo Mage::helper('core')->currency($_product->getSpecialPrice(), true, false); ?></span>                                    
                                </span>
                            </div>
                            <?php echo $this->getLayout()->createBlock('review/helper')->getReviewsSummaryHtml($_product, 'short');
                            ?>
                            <div class="actions">
                                <?php if ($_product->isSaleable()): ?>
                                    <a title="<?php echo $this->quoteEscape($this->__('View Details')) ?>" class="button btn-short" href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__('View Now') ?></a>
                                    <button type="button" title="<?php echo $this->quoteEscape($this->__('Quick Buy')) ?>" class="button btn-cart btn-short" onclick="setLocation('<?php echo Mage::helper('checkout/cart')->getAddUrl($_product); ?>')">
                                        <span><span><?php echo $this->__('Quick Buy') ?></span></span></button>
                                <?php else: ?>
                                    <p class="availability out-of-stock">
                                        <span><?php echo $this->__('Out of stock') ?></span></p>
                                <?php endif; ?>
                            </div>
                        </div>
                    </li>
                    <?php
                endforeach;
                ?>
            </ul>
        <?php endif ?>
    </div>
</div>