<?php
/**
 * Magento Partialpayment Extension
 *
 * @category   Magecomp
 * @package    Magecomp_Partialpayment
 * @author     Magecomp Partialpayment 
**/

    $this->setPriceDataObject($this->getSource());
    $order =  $this->getSource()->getOrder();
?>
<?php if ($order->getIsPartialpayment()): ?>
    <tr>
        <td class="label">
			<?php $feelabel = Mage::helper('partialpayment')->getPartialLabels('partialfeetext');
			echo Mage::helper('partialpayment')->__($feelabel) ?>
        </td>
        <td>
            <?php echo $this->displayPrices($order->getBasePartialpaymentFee(), $order->getPartialpaymentFee()); ?>
        </td>
    </tr>
<?php endif; ?>