<?php
/**
 * Magento Partialpayment Extension
 *
 * @category   Magecomp
 * @package    Magecomp_Partialpayment
 * @author     Magecomp Partialpayment 
**/

    $this->setPriceDataObject($this->getSource());
    $order =  $this->getSource()->getOrder();
?>
<?php if($order->getIsPartialpayment()): ?>
    <tr>
        <td class="label">
			<?php 
			$remainfeelabel = Mage::helper('partialpayment')->getPartialLabels('partialremaintext');
			echo Mage::helper('partialpayment')->__($remainfeelabel) ?>
        </td>
        <td>
            <?php echo "-".$this->displayPrices($order->getBasePartialpaymentRemaining(), $order->getPartialpaymentRemaining()); ?>
        </td>
    </tr>
<?php endif; ?>