
<?php 
/**
 * Magento Partialpayment Extension
 *
 * @category   Magecomp
 * @package    Magecomp_Partialpayment
 * @author     Magecomp Partialpayment 
**/
?>
<?php 
$_order = $this->getOrder(); 
$helper = Mage::helper('partialpayment'); 
$items = $_order->getAllVisibleItems();	
	
if(count($items) > 1)
{
	foreach($items as $i) :
		if(count($helper->getPartialpaymentProductData($i->getProductId())))
		{
				$_item = $i;
		}
	endforeach;
}
else
{
   	$_item = $helper->getOrderProduct($_order);
}

$_partialpaymentData = $helper->getPartialpaymentProductData($_item->getProductId());
$nxttimestamp = $helper->getPartialpaymentTimeLeft($_partialpaymentData, $_order->getCreatedAtStoreDate());
$nxtdate = 0;
if($nxttimestamp)
{
    $nxtdate = date('d M Y', $nxttimestamp);
}
$maxinstallments = $helper->getPartialpaymentData('partialpayment_maxinstallments',$_partialpaymentData); 


$_installments = Mage::getResourceModel('sales/order_collection')
            ->addFieldToSelect('*')
	    	->addFieldToFilter('partialpayment_order',$_order->getId())
            ->addFieldToFilter('customer_id', $_order->getCustomerId())
            ->addFieldToFilter('state', array('in' => Mage::getSingleton('sales/order_config')->getVisibleOnFrontStates()))
            ->setOrder('created_at', 'desc'); ?>
<style>
.box-content ul li strong { display:inline-block; min-width:180px; }
.buttonclass { margin-top:10px; }
</style>
<div class="col-1">
    <div class="box box-payment">
        <div class="box-title">
            <h2><?php echo $helper->__('Partialpayment Info:') ?></h2>
        </div>
        <div class="box-content">
            <ul>
                <li>
                	<strong><?php echo $helper->__('Paid NO. of Installments') ?></strong> 
					<?php echo " : ".$_installments->getSize(); ?>
                </li>
                <br />
                <?php if($_order->getPartialpaymentRemaining() > 0) {//if($maxinstallments){ ?>
                    <li>
                        <strong><?php echo $helper->__('Max NO. of Installments') ?></strong> 
                        <?php echo " : ".$maxinstallments; ?>
                    </li>
                    <br />
                    <li>
                        <strong><?php echo $helper->__('Remaining NO. of Installments') ?></strong> 
                        <?php echo " : ".($maxinstallments - $_installments->getSize()); ?>
                    </li>
                    <br />
                    <li>
                		<strong><?php echo $helper->__('Duration Allowed') ?></strong> 
						<?php echo " : ".$helper->getPartialpaymentDuration($_partialpaymentData); ?>
                	</li>
                	<br />
                    <?php if($nxtdate):?>
                    	<li>
                    		<strong><?php echo $helper->__('Last Date') ?></strong> 
							<?php echo " : ".$nxtdate; ?>
                    	</li>
                    	<br />
                	<?php endif; ?>
                <?php } else { ?>
                	<li>
                        <strong><?php echo $helper->__('All Installments are Paid') ?></strong> 
                    </li>
                    <br />
                <?php } ?>
            </ul>
        </div>
    

<?php if($_order->getPartialpaymentRemaining() > 0): ?>
	<form id="installmentpayform" name="installmentpayform" method="post">
    <input type="hidden" name="custid" id="custid" value="<?php echo $_order->getCustomerId(); ?>" />
    <input type="hidden" name="custemail" id="custemail" value="<?php echo $_order->getCustomerEmail(); ?>" />
	<input type="hidden" name="order" value="<?php echo $_order->getId(); ?>" />
	<input type="hidden" name="order_increment" value="<?php echo $_order->getIncrementId(); ?>" />
	<input type="hidden" name="installment" value="<?php echo ($_installments->getSize() + 1); ?>" />
	<?php if($maxinstallments){ ?>
	<input type="hidden" name="remaining_installments" value="<?php echo ($maxinstallments - $_installments->getSize()); ?>" />
	<?php } ?>

    <div class="box-content">
        <ul>
           <li>
                <strong><?php echo $helper->__('Outstanding Amount') ?></strong> 
                <?php echo " : ".$helper->getOutstandingamount($_order); ?>
           </li>
           <br />
           <li>
                <strong><?php echo $helper->__('Enter Amount') ?></strong> 
           </li>
           <li><br />
           <input type="text" title="<?php echo $helper->__('Enter Amount') ?>" name="amount" id="amount" value="<?php  ?>" class="input-text required-entry" />
           </li>
           <li>	
                <button type="button" title="<?php echo $this->__('Pay Installment') ?>" class="button buttonclass" onclick="installmentpay();">
                    <span><span><?php echo $helper->__('Pay Installment') ?></span></span>
                </button>
                
                <span class="please-wait" id="loading-please-wait" style="display:none;">
                    <img src="<?php echo $this->getSkinUrl('images/ajax-loader-tr.gif') ?>" alt="<?php echo $this->__('Paying Installment...') ?>" title="<?php echo $helper->__('Saving Data...') ?>" class="v-middle" /> <?php echo $helper->__('Paying Installment...') ?>
                </span>
            </li>
            <br />
            <li>
           		<p id="installmentsuccess" style="display:none">
                	<strong><?php echo $helper->__('Installment Paid Successfully') ?></strong>
                </p>
           	</li>
            <li>
           		<p id="installmenterror" style="display:none; color:#ff0000"></p>
           	</li>
           
        </ul>
    </div>
    </form>
    <script type="text/javascript" language="javascript">
	function installmentpay()
	{
   		var formToValidate = $('installmentpayform');
        var validator = new Validation(formToValidate);
        if(validator.validate()) 
		{
			document.getElementById('installmentsuccess').style.display = 'none';
			document.getElementById('installmenterror').style.display = 'none';
			
			new Ajax.Request('<?php echo Mage::helper("adminhtml")->getUrl('adminhtml/partialpayment/adminpayinstallment') ?>', {
  				method: 'post',
  				parameters: $('installmentpayform').serialize(true), 
				onSuccess: function(transport) 
				{
    				var response = transport.responseText;
    				if(response == 1)
					{
						document.getElementById('installmentsuccess').style.display = 'block';
					}
					else
					{
						document.getElementById('installmenterror').innerHTML = response;
						document.getElementById('installmenterror').style.display = 'block';
					}
  				},
  				onFailure: function(transport) 
				{
					alert('Some error has been generated.');
				}
			});
		}
	}
	</script>
    
<?php endif; ?>

</div>
</div>
   