<?php
/**
 * Magento Partialpayment Extension
 *
 * @category   Magecomp
 * @package    Magecomp_Partialpayment
 * @author     Magecomp Partialpayment 
**/
?>

<?php $this->setPriceDataObject($this->getSource()) ?>
<?php if ((float) $this->getSource()->getIsPartialpayment()): ?>
    <tr>
        <td class="label">
		<?php $remainfeelabel = Mage::helper('partialpayment')->getPartialLabels('partialremaintext');
		echo Mage::helper('partialpayment')->__($remainfeelabel) ?></td>
        <td>
            <?php echo "-".$this->displayPrices($this->getSource()->getBasePartialpaymentRemaining(), $this->getSource()->getPartialpaymentRemaining()); ?>
        </td>
    </tr>
<?php endif; ?>