
<?php
/**
 * Template for Mage_Page_Block_Html
 */
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->getLang() ?>" lang="<?php echo $this->getLang() ?>">
<head>
	<?php echo $this->getChildHtml('head') ?>
</head>
<body class="<?php echo $this->getBodyClass()?$this->getBodyClass():'' ?>">

<div id="fb-root"></div>
<script type="text/javascript">
//<![CDATA[
window.fbAsyncInit = function() {
	FB.init({
		appId  : <?php echo json_encode(Mage::getBlockSingleton('facebookstore/template')->getApiKey()) ?>,
		status : true, // check login status
		oauth  : true,
		cookie : true, // enable cookies to allow the server to access the session
		xfbml  : true,  // parse XFBML
		channelUrl : '<?php echo Mage::getBlockSingleton('facebookstore/template')->getChannelUrl() ?>'  // custom channel
	});
	FB.Canvas.setAutoGrow(3000);
	//document.fire(window, "facebook:fbAsyncInit");
};
(function(d){
	var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
	js = d.createElement('script'); js.id = id; js.async = true;
	js.src = "//connect.facebook.net/<?php echo Mage::getBlockSingleton('facebookstore/template')->getLocale() ?>/all.js";
	d.getElementsByTagName('head')[0].appendChild(js);
}(document));
document.observe('click', function(e){
	var target = e.findElement('a[rel^=facebook-connect]') || e.findElement('button[rel^=facebook-connect]') || e.findElement('a[rel^=fb_share]');
	if (target && target.readAttribute('rel')=='facebook-connect') {
		e.stop();
		try{
			FB.login(function(response){
				if(response.status=='connected'){
					Mage.Cookies.set('fb-referer', '<?php echo $this->getUrlBase64('*/*/*', array('_current' => true)); ?>');
					setLocation('<?php echo Mage::getBlockSingleton('facebookstore/template')->getConnectUrl() ?>');
				}
			}, {scope:<?php echo Mage::getBlockSingleton('facebookstore/template')->getRequiredPermissions() ?>});
		}catch(error){}
	}
});
//]]>
</script>
<div class="wrapper" style="height:100%">
	<div id="search-area">
		<div id="search-box">
		<form method="get" action="<?php echo $this->getUrl('facebookstore/index/search', array('_secure'=>Mage::app()->getStore()->isCurrentlySecure()?true : false))?>" id="search_mini_form">
			<div class="form-search">
				<input onfocus="search_onfocus();" onblur="search_onblur();" value="<?php echo $this->__('Search...')?>" name="q" id="search" style="">
				<button class="button" title="Search" type="submit"><span><span><?php echo $this->__('Search')?></span></span></button>
				
			</div>
		</form>
		<script type="text/javascript">
		//<![CDATA[

		function search_onfocus() {
			if (document.getElementById("search").value == "<?php echo $this->__('Search...')?>") {
				document.getElementById("search").value = "";
				document.getElementById("search").style['color'] = "#000000";
			}
		}

		function search_onblur() {
			if (document.getElementById("search").value == "") {
				document.getElementById("search").value = "<?php echo $this->__('Search...')?>";
				document.getElementById("search").style['color'] = "";
			}
		}
		//]]>
		</script>

		</div>
		<?php if(Mage::getStoreConfig('facebookstore/like_discount/enabled')):?>
		<div id="like-discount">
		<?php if($this->helper('facebookstore')->isFanpage()):?>
		<div class="likedStoreMessage">
			<div class="couponList">
				<?php echo Mage::getStoreConfig('facebookstore/like_discount/discount')?>
			</div>
		</div>
		<?php else:?>
		<div class="notLikedStoreMessage">
			<div class="makeALater">
				<span class="notLikedImage"></span>
				<span class="notLikedMessage"><?php echo $this->__('Like our Facebook Page for special discount pricing!')?></span>
				<span style="display: block; clear: both;"></span>
			</div>
		</div>
		<?php endif;?>
		</div>
		<?php endif;?>
		<div id="navigation"><?php echo $this->getLayout()->createBlock('facebookstore/navigation')->setTemplate('onlinebizsoft/facebooktimeline/navigation/top.phtml')->toHtml() ?></div>
	</div>
	
	<div id="content">
		<?php if(Mage::helper('facebookstore')->isCheckout()):?>
			<div id="left_column">
				<?php echo $this->getChildHtml('right') ?>
			</div>
		<?php endif;?>
		<?php if(Mage::helper('facebookstore')->isCatalog()):?>
			<div id="left_column">
				<?php echo $this->getLayout()->createBlock('facebookstore/navigation')->setTemplate('onlinebizsoft/facebooktimeline/navigation/left.phtml')->toHtml() ?>
				<?php echo $this->getLayout()->createBlock('reports/product_viewed')->setTemplate('onlinebizsoft/facebooktimeline/product/product_viewed.phtml')->toHtml() ?>
			</div>
		<?php endif;?>
		<div id="right_column" <?php if(Mage::helper('facebookstore')->isCatalog() || Mage::helper('facebookstore')->isCheckout()):?> style="width:70%; float:right"<?php endif;?>>
			<?php echo $this->getChildHtml('global_messages') ?>
			<?php echo $this->getChildHtml('content') ?>
		</div>
    </div>
</div>

<div class="authority"><?php echo $this->__('Powered by')?><a href="https://store.onlinebizsoft.com/facebook-store-pro.html?utm_medium=referral&utm_campaign=general&utm_source=facebook_store_customers" target="_blank"> Facebook Store Pro</a></div>
</body>
</html>
