<meta name="robots" content="noindex, nofollow">
<?php if(Mage::getStoreConfig('facebookstore/general/turnoffhttps') == 0){
	$http = "https:";	
}else{
	$http = "http:";
}
?>
<link rel="stylesheet" type="text/css" href="<?php echo str_replace('http:', $http, $this->getSkinUrl('onlinebizsoft/facebookstore/css/facebooktimeline.css'))?>" media="all" />

<script type="text/javascript" src="<?php echo str_replace('http:', $http, Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS))?>onlinebizsoft/facebookstore/prototype.js"></script>
<script type="text/javascript" src="<?php echo str_replace('http:', $http, Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS))?>lib/ccard.js"></script>
<script type="text/javascript" src="<?php echo str_replace('http:', $http, Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS))?>prototype/validation.js"></script>
<script type="text/javascript" src="<?php echo str_replace('http:', $http, Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS))?>scriptaculous/builder.js"></script>
<script type="text/javascript" src="<?php echo str_replace('http:', $http, Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS))?>scriptaculous/effects.js"></script>
<script type="text/javascript" src="<?php echo str_replace('http:', $http, Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS))?>scriptaculous/dragdrop.js"></script>
<script type="text/javascript" src="<?php echo str_replace('http:', $http, Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS))?>scriptaculous/controls.js"></script>
<script type="text/javascript" src="<?php echo str_replace('http:', $http, Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS))?>scriptaculous/slider.js"></script>
<script type="text/javascript" src="<?php echo str_replace('http:', $http, Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS))?>varien/js.js"></script>
<script type="text/javascript" src="<?php echo str_replace('http:', $http, Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS))?>varien/product.js"></script>
<script type="text/javascript" src="<?php echo str_replace('http:', $http, Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS))?>varien/form.js"></script>
<script type="text/javascript" src="<?php echo str_replace('http:', $http, Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS))?>varien/menu.js"></script>
<script type="text/javascript" src="<?php echo str_replace('http:', $http, Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS))?>mage/translate.js"></script>
<script type="text/javascript" src="<?php echo str_replace('http:', $http, Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS))?>mage/cookies.js"></script>
<script type="text/javascript" src="<?php echo str_replace('http:', $http, Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS))?>calendar/calendar.js"></script>
<script type="text/javascript" src="<?php echo str_replace('http:', $http, Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS))?>calendar/calendar-setup.js"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/bundle.js', array('_secure'=>true))?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('onlinebizsoft/facebookstore/js/fblightbox.js', array('_secure'=>true))?>"></script>
<script type="text/javascript">
	<?php if(Mage::app()->getRequest()->getParam('par') == 'success' && Mage::getStoreConfig('facebookstore/general/pagetab_url')):?>
		 window.location = '<?php echo Mage::getStoreConfig('facebookstore/general/pagetab_url')?>';
	<?php endif;
		  if(Mage::getStoreConfig('facebookstore/general/turnoffdirectaccess') == 1):?>
			var isInIFrame = (window.location != window.parent.location) ? true : false;

			if(!isInIFrame){
				window.location = '<?php echo Mage::getBaseUrl()?>';
			}
	<?php endif; ?>

</script>
<?php $product = Mage::registry('current_product'); ?>
<?php if ($product): ?>
<meta property="og:title" content="<?php echo htmlspecialchars(trim($product->getName())); ?>"/>
<meta property="og:type" content="product"/>
<meta property="og:image" content="<?php echo Mage::helper('catalog/image')->init($product, 'small_image')->resize(100,100);?>"/>  
<?php endif; ?>
<?php echo $this->getChildHtml() ?>
<?php echo $this->helper('core/js')->getTranslatorScript() ?>
<?php echo $this->getIncludes() ?>
