<?php if ($this->canRefundToCredit()): ?>
<p>
    <label for="refund_to_credit_enabled">
        <?php echo Mage::helper('credit')->__('Refund to Store Credit') ?>
    </label>

    <input type="hidden" name="creditmemo[refund_to_credit_enabled]" value="0">
    <input type="checkbox" name="creditmemo[refund_to_credit_enabled]" value="1" id="refund_to_credit_enabled"<?php if (Mage::helper('credit')->isAutoRefundEnabled()): ?> checked="checked"<?php endif ?>>
    <input type="text" name="creditmemo[refund_to_credit_amount]" value="<?php echo $this->getReturnValue() ?>" id="refund_to_credit_amount" class="input-text not-negative-amount" style="width: 60px; text-align: right;">

    <script type="text/javascript">
        function toggleCreditRefundAmount() {
            if ($('refund_to_credit_enabled').checked) {
                $('refund_to_credit_amount').disabled = false;
                $('refund_to_credit_amount').value = <?php echo $this->getReturnValue(); ?>;
            } else {
                $('refund_to_credit_amount').disabled = true;
                $('refund_to_credit_amount').value = 0;
            }
        }
        Event.observe($('refund_to_credit_enabled'), 'change', toggleCreditRefundAmount);
        toggleCreditRefundAmount();
    </script>
</p>
<?php endif ?>
