<?php
$charge = $this->getCurrentChargeBackEntity();
?>
<div class="content-header">
    <table cellspacing="0">
        <tbody><tr>
            <td style="width:50%;"><h3 class="icon-head head-adminhtml-inventory-item">Edit Chargeback for order <?php echo $charge->getOrderIncrementId() ?></h3></td>
            <td class="form-buttons">

            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="entry-edit">
    <div class="fieldset " id="purchase_gold_form">
        <div class="hor-scroll" style="padding-left: 10%">
            <form id="item-edit-form" name="item-edit-form" method="post" action="<?php echo $this->getFormAction() ?>"
                  onsubmit="disableSubmitBtn()">
                <table class="form-list" cellspacing="0">
                    <tbody>
                    <tr>
                        <td class="label"><label for="po_increment_id"><?php echo $this->getHelper()->__('Reason') ?>:</label></td>
                        <td class="value">
                            <select required id="reason" name="reason" title="reason">
                                <option value=""></option>
                                <?php foreach (OpenTechiz_ChargeBack_Helper_Data::REASONS as $key => $value){ ?>
                                    <option value="<?php echo $key ?>" <?php if($key == $charge->getReason()){ echo 'selected'; } ?>><?php echo $value ?></option>
                                <?php } ?>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="po_increment_id"><?php echo $this->getHelper()->__('Date replied') ?>:</label></td>
                        <td class="value">
                            <input name="charge_back_date_replied" id="charge_back_date_replied" value="<?php echo Mage::helper('opentechiz_chargeback')->dateFormat($charge->getDate()) ?>" title="From" type="text" class="input-text" required>
                            <img src="<?php  echo $this->getSkinUrl('images/grid-cal.gif') ?>" class="v-middle" id="charge_back_date_replied_trig" />
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="outcome"><?php echo $this->getHelper()->__('Outcome') ?>:</label></td>
                        <td class="value">
                            <select id="outcome" name="outcome" title="outcome">
                                <option value=""></option>
                                <?php foreach (OpenTechiz_ChargeBack_Helper_Data::OUTCOME as $key => $value){ ?>
                                    <option value="<?php echo $key ?>" <?php if($key == $charge->getOutcome()){ echo 'selected'; } ?>><?php echo $value ?></option>
                                <?php } ?>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="sign_cover"><?php echo $this->getHelper()->__('Sign Covered') ?>:</label></td>
                        <td class="value">
                            <select id="sign_cover" name="sign_cover" title="sign_cover">
                                <option value=""></option>
                                <?php foreach (OpenTechiz_ChargeBack_Helper_Data::SIGN_COVERED as $key => $value){ ?>
                                    <option value="<?php echo $key ?>" <?php if($key == $charge->getSignCover()){ echo 'selected'; } ?>><?php echo $value ?></option>
                                <?php } ?>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="note"><?php echo $this->getHelper()->__('Note') ?>:</label></td>
                        <td class="value">
                            <textarea style="width: 575px;height: 230px;" id="note" name="note" title="note"><?php echo $charge->getNote(); ?></textarea>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <div style="padding-left: 210px">
                    <input type="hidden" value="<?php echo $charge->getId() ?>" name="charge_id">
                    <button type="submit" ><?php echo $this->getHelper()->__('Submit') ?></button>
                    <button title="Back" type="button" class="scalable" onclick="setLocation('<?php echo $this->getUrl('adminhtml/order/chargeBackIndex', array('_secure' => true));?>')" style=""><?php echo $this->__("Cancel")?></button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    Calendar.setup({
        inputField: "charge_back_date_replied",
        ifFormat: "%m/%e/%Y",
        showsTime: false,
        button: "charge_back_date_replied_trig",
        align: "Bl",
        singleClick : true
    });
</script>
