<!-- charge back button pop up -->

<div id="opentechiz-chargeback-modal" class="opentechiz-chargeback-modal">
    <div class="opentechiz-chargeback-modal-content">
        <span class="opentechiz-chargeback-close-modal">&times;</span>
        <span style="float: left; font-weight: bold">Chargeback form</span>
        <form id="opentechiz_chargeback_form" action="<?php echo Mage::helper("adminhtml")->getUrl("adminhtml/order/saveChargeBack"); ?>" method="post">
            <table style="width: 100%;">
                <tbody>
                <tr>
                    <td>
                        <input name="order_id" type="hidden" id="order_id" value="<?php echo Mage::app()->getRequest()->getParam('order_id'); ?>"/>
                        <input name="form_type" type="hidden" id="order_id" value="new"/>
                        <label for="reason">Reason</label>
                    </td>
                    <td>
                        <select name="reason" id="reason" required>
                            <option value="">Select</option>
                            <?php foreach (OpenTechiz_ChargeBack_Helper_Data::REASONS as $key => $value){ ?>
                                <option value="<?php echo $key ?>"><?php echo $value ?></option>
                            <?php } ?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="charge_back_date_replied">Replied date</label>
                    </td>
                    <td>
                        <input name="charge_back_date_replied" id="charge_back_date_replied" value="" title="From" type="text" class="input-text" required>
                        <img src="<?php  echo $this->getSkinUrl('images/grid-cal.gif') ?>" class="v-middle" id="charge_back_date_replied_trig" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="outcome">Outcome</label>
                    </td>
                    <td>
                        <select name="outcome" id="outcome">
                            <option value="">Select</option>
                            <option value="won">Won</option>
                            <option value="lost">Lost</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="sign_covered">Sign Covered</label>
                    </td>
                    <td>
                        <select name="sign_covered" id="sign_covered">
                            <option value="">Select</option>
                            <option value="1">Yes</option>
                            <option value="2">No</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="note">Note</label>
                    </td>
                    <td>
                        <textarea style="width: 100%;height: 200px;" name="note" id="note"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button form="opentechiz_chargeback_form" type="submit">Save</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<script type="text/javascript">
    Calendar.setup({
        inputField: "charge_back_date_replied",
        ifFormat: "%m/%e/%Y",
        showsTime: false,
        button: "charge_back_date_replied_trig",
        align: "Bl",
        singleClick : true
    });
</script>

<style>
    .opentechiz-chargeback-modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }

    .opentechiz-chargeback-modal-content {
        background-color: #fefefe;
        width: 600px;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
    }

    .opentechiz-chargeback-close-modal {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .opentechiz-chargeback-close-modal:hover,
    .opentechiz-chargeback-close-modal:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
</style>