<?php
/**
 * Currency switcher
 *
 * @see Mage_Directory_Block_Currency
 */
?>
<?php if($this->getCurrencyCount()>1): ?>
<div class="currency-switcher">
    <p class="skip-title h3"><?php echo $this->__('Select your currency') ?></p>
    <ul>
    <?php foreach ($this->getCurrencies() as $_code => $_name): ?>
        <li>
            <?php $_symbol = Mage::app()->getLocale()->currency($_code)->getSymbol(); ?>
            <a rel="nofollow" href="<?php echo $this->getSwitchCurrencyUrl($_code) ?>" class="currency-<?php echo strtolower($_code); ?> <?php if($_code==$this->getCurrentCurrencyCode()): ?> is-active <?php endif; ?>">
                <?php echo $_name; ?> (<?php echo $_symbol; ?>)
            </a>
        </li>
    <?php endforeach; ?>
    </ul>
</div>
<?php endif; ?>
