<table class="table">
    <?php if (count($this->getPayments()) > 0): ?>
        <?php foreach($this->getPayments() as $payment): ?>
            <tr>
                <td>&nbsp;<?php echo $payment->getptp_method(); ?></td>
                <td align="right"><?php echo $this->formatAmount($payment->getptp_amount()); ?></td>
            </tr>
        <?php endforeach; ?>
    <?php else: ?>
    <tr>
        <td colspan="2" align="center"><?php echo $this->__('No payment record available'); ?></td>
    </tr>
    <?php endif; ?>
    <tr>
        <td><b>&nbsp;<?php echo $this->__('Total due'); ?></b>  </td>
        <td align="right"><b><font color="<?php echo $this->getTotalDueColor(); ?>"><?php echo $this->formatAmount($this->getTotalDue()); ?></font></b></td>
    </tr>
</table>