<div class="field captcha">
	<label for="enter_code" class="required"> Enter code<em>*</em> :</label>
	<div class="input-box">
	<img src="<?php echo $this->getBaseUrl();?>captcha/index/getcaptch/rand/<?php echo rand(); ?>rand=<?php echo rand(); ?>" id="captchaimg" style="margin-bottom:5px;border:1px solid #3D8889;">
	</div>
</div>
<div class="field captcha-field">
	<label for="captcha_code" class="required">&nbsp;</label>
	<div class="input-box">
		<small style="color:#555555;font-size:0.9em;font-style:italic;">Can't read the image? click <a href='javascript:refreshCaptcha();'>here</a> to refresh</small>
		<br />
		<span id="captcha-loader" style="display:none; margin-top:10px;"><img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif'); ?>" class="v-middle" alt="" /></span>
		<input id="6_letters_code" maxlength="6" name="6_letters_code" type="text" class="capcha-area input-text required-entry">
	</div>
</div>
<script  type="text/javascript">
jQuery = jQuery.noConflict();
function refreshCaptcha() {
	jQuery('#captcha-loader').show();
	var url = "<?php echo $this->getBaseUrl();?>captcha/index/getcaptch";
	req = new Ajax.Request(url,{
			  parameters:{},
			  onSuccess:function(t) {
				  jQuery('#captcha-loader').hide();
			  }
		  });
	var img = document.images['captchaimg'];
	img.src = "<?php echo $this->getBaseUrl();?>captcha/index/getcaptch/rand/"+Math.random()*1000;
}
</script>
