<?php $items = $this->getItems() ?>
<?php if (count($items)): ?>
    <ul>
        <?php foreach ($this->getItems() as $_item): ?>
            <?php if(!$this->validWordsMaxLength($_item->getName())) continue;?>
            <?php echo $this->getItemHtml('mage_catalog_product', $_item) ?>
        <?php endforeach ?>
    </ul>
    <div class="clearfix"></div>
<?php endif; ?>
