<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Shopby
 */
?>
<?php
/**
 * @var $this Amasty_Shopby_Block_Catalog_Layer_Filter_Attribute
 */

$stoneType = OpenTechiz_Material_Helper_Data::OPPENTECHIZ_MATERIAL_STONE_TYPE;
$goldType = OpenTechiz_Material_Helper_Data::GOLD_NAME_FRONT_END;
$srcImageStone = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'image/personalizedproduct/stone';
$srcImageGold = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'image/personalizedproduct/alloy';

?>
<ol class="
<?php if ($this->getCollapsed() && !$this->getHasSelection()): ?>no-display-current <?php endif ?>
<?php
if ($this->getSingleChoice()) {
    echo " single-choice ";
} ?>
<?php
if ($this->getSortFeaturedFirst() && in_array($this->getDisplayType(), array(Amasty_Shopby_Model_Source_Attribute::DT_LABELS_ONLY, Amasty_Shopby_Model_Source_Attribute::DT_IMAGES_AND_LABELS))):
    ?>sort-featured-first-<?php echo $this->getRequestValue(); endif ?>
">
    <?php if ($this->getSortFeaturedFirst()): ?><input type="hidden"
                                                       id="field_sort_featured_<?php echo $this->getRequestValue(); ?>"
                                                       value="default_sort"><?php endif ?>
    <?php
    switch ($this->getDisplayType()) {
        case Amasty_Shopby_Model_Source_Attribute::DT_LABELS_ONLY:
            if ($this->getShowSearch()) {
                echo '<li rel="search"><input type="text" class="amshopby_attr_search input-text" onkeyup="amshopby_attr_search(this)" /></li>';
            }
            foreach ($this->getItemsAsArray() as $item) {
                echo '<li' .
                    (isset($item['style']) ? ' ' . $item['style'] : '') .
                    (isset($item['default_sort']) ? ' data-default_sort="' . $item['default_sort'] . '"' : '') .
                    (isset($item['featured_sort']) ? ' data-featured_sort="' . $item['featured_sort'] . '"' : '') .
                    ' data-text="' . htmlspecialchars($item['label']) . '">';
                if (array_key_exists($item['label'], $stoneType)) { ?>
                    <div class="filter-btn filter-btn-<?php echo str_replace(' ', '', strtolower($this->getname())) ?>" onclick="specialFilter(this, '<?php echo $item['label'] ?>', '<?php echo strtolower($this->getname()) ?>', 's')">
                        <img src='<?php echo $srcImageStone . '/' . $item['label'] . '.png' ?>' class="ot-hover-pointer"/>
                        <label class="<?php echo str_replace(' ', '', strtolower($item['label'])) ?> ot-hover-pointer"><?php echo $stoneType[$item['label']] . $item['count'] ?></label>
                    </div>
                <?php } elseif (array_key_exists($item['label'], $goldType)) { ?>
                    <div class="filter-btn filter-btn-<?php echo str_replace(' ', '', strtolower($this->getname())) ?>" onclick="specialFilter(this, '<?php echo $item['label'] ?>', '<?php echo strtolower($this->getname()) ?>', 'a')">
                        <img src='<?php echo $srcImageGold . '/' . $item['label'] . '.png' ?>'  class="ot-hover-pointer"/>
                        <label class="<?php echo str_replace(' ', '', strtolower($item['label'])) ?> ot-hover-pointer"><?php echo $goldType[$item['label']] . $item['count'] ?></label>
                    </div>
                <?php } else {
                    echo '<a class="' . strtolower($this->getname()) . ' ' . $item['css'] . '"' . $item['rel'] . ' href="' . $item['url'] . '"   data-config=\'' . $item['data-config'] . '\' ><label>' . $item['label'] . $item['count'] . '</label></a>';
                }
                echo '</li>';
            }
            break;

        case Amasty_Shopby_Model_Source_Attribute::DT_IMAGES_ONLY:
            echo '<li>';
            foreach ($this->getItemsAsArray() as $item) {
                if (isset($item['image_hover']) && $item['image_hover'] != '') {
                    echo '<img src="' . $item['image_hover'] . '" style="display: none;" />';
                    $onHover = 'onmouseover=this.src="' . $item['image_hover'] . '"';
                    $onHover .= ' onmouseout=this.src="' . $item['image'] . '"';
                } else {
                    $onHover = '';
                }
                echo '<a ' . $item['style'] . $item['rel'] . ' class="' . $item['css'] . '" href="' . $item['url'] . '" data-config=\' ' . $item['data-config'] . '\' ><img src="' . $item['image'] . '" ' . $onHover . ' title="' . $item['label'] . '" alt="' . $item['label'] . '"></a>';

            }
            echo '</li>';
            break;

        case Amasty_Shopby_Model_Source_Attribute::DT_IMAGES_AND_LABELS:
            if ($this->getShowSearch()) {
                echo '<li rel="search"><input type="text" class="amshopby_attr_search" /></li>';
            }
            foreach ($this->getItemsAsArray() as $item) {
                echo '<li ' . $item['style'] .
                    (isset($item['default_sort']) ? ' data-default_sort="' . $item['default_sort'] . '"' : '') .
                    (isset($item['featured_sort']) ? ' data-featured_sort="' . $item['featured_sort'] . '"' : '') .
                    ' data-text="' . htmlspecialchars($item['label']) . '"><a class="' . $item['css'] . '" ' . $item['rel'] . ' href="' . $item['url'] . '" data-config=\' ' . $item['data-config'] . '\' >';

                if (isset($item['image_hover']) && $item['image_hover'] != '') {
                    echo '<img src="' . $item['image_hover'] . '" style="display: none;" />';
                    $onHover = 'onmouseover=this.src="' . $item['image_hover'] . '"';
                    $onHover .= ' onmouseout=this.src="' . $item['image'] . '"';
                } else {
                    $onHover = '';
                }

                if (!empty($item['image'])) {
                    echo '<img src="' . $item['image'] . '" ' . $onHover . ' title="' . $item['label'] . '" alt="' . $item['label'] . '">';
                }
                echo $item['label'] . $item['count'] . '</a>' . '</li>';
            }
            break;

        case Amasty_Shopby_Model_Source_Attribute::DT_DROPDOWN:
            echo '<li><select onchange="if (this.value) window.location.href = this.value" class="amshopby-select amshopby-ajax-select">';
            echo '<option value="' . $this->getRemoveUrl() . '" data-config=\' ' . $this->getRemoveOptionConfig() . ' \'>' . Mage::helper('amshopby')->__('Please Select ...') . '</option>';
            foreach ($this->getItemsAsArray() as $item) {
                echo '<option ' . $item['css'] . $item['rel'] . ' value="' . $item['url'] . '" data-config=\' ' . $item['data-config'] . '\'>' . $item['label'] . $item['count'] . '</option>';
            }
            echo '</select></li>';
            break;

        case Amasty_Shopby_Model_Source_Attribute::DT_LABELS_IN_2_COLUMNS:
            $items = $this->getItemsAsArray();
            $size = sizeof($items);
            $half = ceil($size / 2);

            echo '<li>';
            echo '<div class="amshopby-column">';
            for ($i = 0; $i < $half; $i++) {
                $item = $items[$i];
                echo '<a class="' . $item['css'] . '" ' . $item['rel'] . ' href="' . $item['url'] . '" data-text="' . htmlspecialchars($item['label']) . '" data-config=\' ' . $item['data-config'] . '\' >' . $item['label'] . $item['count'] . '</a>' . '<br/>';
            }
            echo '</div>';
            echo '<div class="amshopby-column">';
            for ($i = $half; $i < $size; $i++) {
                $item = $items[$i];
                echo '<a class="' . $item['css'] . '" ' . $item['rel'] . ' href="' . $item['url'] . '" data-text="' . htmlspecialchars($item['label']) . '" data-config=\' ' . $item['data-config'] . '\'   >' . $item['label'] . $item['count'] . '</a>' . '<br/>';
            }
            echo '</div>';
            echo '</li>';
            break;
    }

    if ($this->getShowLessMore() && in_array($this->getDisplayType(), array(
            Amasty_Shopby_Model_Source_Attribute::DT_LABELS_ONLY,
            Amasty_Shopby_Model_Source_Attribute::DT_IMAGES_ONLY,
            Amasty_Shopby_Model_Source_Attribute::DT_IMAGES_AND_LABELS,
        ))) {

        $total = count($this->getItemsAsArray());
        $short = $this->getMaxOptions();
        $add = $total - $short;
        if ($add > 0) {
            $text = sprintf($this->__('View %d More'), $add);
            echo '<li class="amshopby-clearer"><a id="amshopby-more-' . $this->getRequestValue() . '" class="amshopby-more" href="#">' . $text . '</a></li>';
        }
        echo '<li class="amshopby-clearer"><a id="amshopby-less-' . $this->getRequestValue() . '" class="amshopby-less" href="#" style="display:none">' . $this->__('Show Less') . '</a></li>';
    }
    ?>
</ol>

<script>
    function specialFilter(element, dataname, type, btn){
        var currentUrl = window.location.href;
        var split = currentUrl.split('?');
        var url = split[0];
        var otherParam = split[1];
        var parts = url.split('/');
        for(var i = 0; i< parts.length; i++){
            if(parts[i] === btn){
                parts.splice(i, 2);
            }
        }
        url = parts.join('/');
        url += '/'+btn+'/'+ dataname.toLowerCase().replace(/ /g,'');
        if(otherParam) url += '?' + otherParam;
        location.href = url;
    }

    function getQueryVariable(variable)
    {
        var currentUrl = window.location.href;
        var split = currentUrl.split('?');
        var url = split[0];
        var parts = url.split('/');
        for(var i = 0; i< parts.length; i++){
            if(parts[i] === variable){
                return parts[i];
            }
        }
        return(false);
    }

    document.addEventListener('DOMContentLoaded', (event) => {
        var items = document.querySelectorAll(".filter-btn");
        for (i = 0; i < items.length; i++) {
            var attrType = items[i].children[1].className;
            if (getQueryVariable(attrType)) {
                items[i].classList.add('_current');
            } else {
                items[i].classList.remove('_current');
            }
        }
    })
</script>

<style>
    .ot-hover-pointer{
        cursor: pointer;
    }
    .ot-hover-pointer:hover {
        font-weight: bold;
    }
</style>