<?php $affiliates = $this->getAffiliates(); ?>
<div class="content-header">
    <table cellspacing="0">
        <tbody>
        <tr>
            <td style="width:50%;"><h3 class="icon-head head-report-sold-refunded"><?php echo $this->__("New Affiliates Added ( ".$affiliates->count()." affiliates)")?></h3></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="sale_report">
    <div class="hor-scroll">
        <table class="data" id="itemGrid_table" cellspacing="0" border="1">
            <colgroup>
                <col class="a-center" width="50">
                <col width="50">
                <col width="80">
            </colgroup>
            <thead>
                <tr class="headings">
                    <th><span class="nobr"><span class="sort-title"><?php echo $this->__("Name")?></span></span></th>
                    <th><span class="nobr"><span class="sort-title"><?php echo $this->__("Email")?></span></span></th>
                </tr>
            </thead>

            <tbody>
            <?php foreach ($affiliates as $affiliate): ?>
                <?php $customer = Mage::getModel('customer/customer')->load($affiliate->getId());?>
                <?php if($customer->getId()):?>
                
                <tr title="#" class="even pointer">
                    <td>
                        <?php echo $customer->getName() ?>
                    </td>
                    <td>
                        <?php echo $customer->getEmail() ?>
                    </td>
                   
                </tr>
                <?php endif; ?>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>
