<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Relatedproducts
 * @version    1.4.4
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php $_helper = $this->helper('catalog/output'); ?>
<?php if($this->getEnabled() && count($this->getRelatedProductsCollection())): ?>
<div class="aw-box aw-base-mini aw-mini-related-items aw-mini-related-cart block">
    <div class="block block-list block-viewed">
        <p class="h2 bordered-title bordered-title-center"><?php echo $this->__('Related') ?></p>
        <div <?php if (Mage::helper('relatedproducts')->checkVersion('1.4.1.0')) { echo "id=\"after1400\""; }?>>
            <ol class="products-grid products-grid-fullwidth js-viewed">
                <?php foreach($this->getRelatedProductsCollection() as $_product): ?>
                    <li class="item">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName()) ?>" class="product-image">
                            <?php $_imgSize = 145; ?>
                            <img id="product-collection-image-<?php echo $_product->getId(); ?>"
                                 src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_imgSize); ?>"
                                 alt="<?php echo $this->stripTags($_product->getName()) ?>" />
                        </a>
                        <div class="product-info">
                            <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h3>
                            <?php
                            // Provides extra blocks on which to hang some features for products in the list
                            // Features providing UI elements targeting this block will display directly below the product name
                            if ($this->getChild('name.after')) {
                                $_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
                                foreach ($_nameAfterChildren as $_nameAfterChildName) {
                                    $_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
                                    $_nameAfterChild->setProduct($_product);
                                    echo $_nameAfterChild->toHtml();
                                }
                            }
                            ?>
                            <?php if ($_product->getData('c2c_call_for_price') !== '1') : ?>
                            <?php echo $this->getPriceHtml($_product, true) ?>
                            <?php else: ?>
                            <p class="price-contact-notice"><?php echo $this->__('Please contact us for price and availability') ?></p>
                            <?php endif; ?>
                            <div class="actions-secondary">
                                <?php if($_product->isSaleable()): ?>
                                    <button type="button" title="<?php echo $this->quoteEscape($this->__('Buy Now')) ?>" class="button btn-cart btn-short" onclick="setLocation('<?php echo Mage::helper('medialounge_checkout/cart')->getAddToCartUrl($_product); ?>')"><span><span><?php echo $this->__('Buy Now') ?></span></span></button>
                                <?php endif; ?>
                            </div>
                        </div>
                    </li>
                <?php endforeach ?>
            </ol>
        </div>
    </div>
</div>
<?php endif ?>