<?php
/**
 * Amazon Payments
 *
 * @category    Amazon
 * @package     Amazon_Payments
 * @copyright   Copyright (c) 2014 Amazon.com
 * @license     http://opensource.org/licenses/Apache-2.0  Apache License, Version 2.0
 */

?>
<?php if ($this->isAmazonPayButtonEnabled()): ?>

  <div id="<?php echo $this->getAmazonPayButtonId(); ?>" class="amazon-pay-button" style="display:inline-block;margin:0 auto 10px;text-align:center;"></div>

  <script type="text/javascript">
    var authRequest;
    var amazonButton = function() {
        if(jQuery('#<?php echo $this->getAmazonPayButtonId(); ?>').length ==0 || jQuery('#<?php echo $this->getAmazonPayButtonId(); ?>').html().length > 0){
            return;
        }
        var AmazonButtonOptions = {
            type: "<?php echo $this->getButtonType(); ?>",
            color: "<?php echo $this->getButtonColor(); ?>",
            size: "<?php echo $this->getButtonSize(); ?>",
            <?php if ($this->getLanguage()) : ?>
            language: "<?php echo $this->getLanguage(); ?>",
            <?php endif; ?>
            authorization: function() {
                loginOptions = {
                    scope: "profile payments:widget payments:shipping_address<?php print $this->getAdditionalScope(); ?>",
                    response_type: 'token',
                    popup: <?php print $this->isPopup(); ?>
                };
                authRequest = amazon.Login.authorize (loginOptions, "<?php echo (!$this->isPopup()) ? $this->getLoginAuthUrl() : $this->getCheckoutUrl(); ?>");
            },
            <?php if ($this->isTokenEnabled()) : ?>
            agreementType: 'BillingAgreement',
            onSignIn: function (billingAgreement) {
                amazonBillingAgreementId = billingAgreement.getAmazonBillingAgreementId();
                Mage.Cookies.set("amazonBillingAgreementId", amazonBillingAgreementId);
            },
            <?php endif; ?>
            onError: function(error) {
                console.log(error);
            }
        };
        OffAmazonPayments.Button("<?php echo $this->getAmazonPayButtonId(); ?>", "<?php echo $this->getSellerId(); ?>", AmazonButtonOptions);
    }
    window.onAmazonPaymentsReady = function() {
        jQuery.noConflict();
        amazonButton();
    }
    document.observe("aw_ajaxcartpro_cart_update", amazonButton);
  </script>

<?php endif; ?>