<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><?php echo $this->__('Cash drawer'); ?></h4>
    </div>
    <div class="modal-body">
        <center>
                    <span style="margin-right: 10px">
                        <?php echo $this->getInitCashPaymentMethodAsCombo() ?>
                    </span>
        <label for="cash-init-amount"></label> <input style="font-weight: normal; text-align: right;" type="text" size="3" id="cash-init-amount" name="cash-init-amount" value="<?php echo $this->getCashInitAmount(); ?>" />
        <span style="margin-left: 10px"><?php echo $this->getCurrency()->getCode(); ?></span>
        </center>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-<?php echo Mage::helper('PointOfSales/Appearance')->getButtonColor(); ?>" class="close" data-action="change-cash-init"><?php echo $this->__('Ok'); ?></button>
        <button type="button" class="btn btn-danger" class="close" data-dismiss="modal"><?php echo $this->__('Cancel'); ?></button>
    </div>
</div>