<?php $attributes = $this->getConfigurableOptions(); ?>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title"><?php echo $this->getProduct()->getName() ?></h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <tr>
                    <th></th>
                    <th><?php echo $this->__('Sku'); ?></th>
                    <th><?php echo $this->__('Name'); ?></th>
                    <?php foreach ($attributes as $attributeCode => $attribute) : ?>
                        <th class="text-center"><?php echo $attribute['label']; ?></th>
                    <?php endforeach; ?>
                    <th class="text-center"><?php echo $this->__('Stock'); ?></th>
                    <th class="text-right"><?php echo $this->__('Price'); ?></th>
                    <th class="text-center"><?php echo $this->__('Action'); ?></th>
                </tr>
                <?php foreach ($this->getChildren() as $product) : ?>
                    <?php $product = Mage::getModel('catalog/product')->load($product->getId()); ?>
                    <tr>
                        <td>
                            <?php if(($imageUrl = $this->getImage($product)) != '') : ?>
                            <img src="<?php echo $imageUrl ?>"/>
                            <?php endif; ?>
                        </td>
                        <td><?php echo $product->getSku(); ?></td>
                        <td><?php echo $product->getName(); ?></td>
                        <?php foreach ($attributes as $attributeCode => $attribute) : ?>
                            <td class="text-center"><?php echo $this->getProductAttributeLabel($product, $attributeCode); ?></td>
                        <?php endforeach; ?>
                        <?php
                        $productNameSuffix = mage::helper('PointOfSales/ProductInfo')->getProductAttributeLabelsAsText($product);
                        $productToAdd = mage::helper('PointOfSales/ProductInfo')->getProductToAdd($product, $productNameSuffix)
                        ?>
                        <td class="text-center"><?php echo (int) Mage::getModel('cataloginventory/stock_item')->loadByProduct($product)->getQty(); ?></td>
                        <td class="text-right"><?php echo number_format($product->getPrice(), 2, '.', ''); ?></td>

                        <td class="text-center"><button class="btn btn-<?php echo Mage::helper('PointOfSales/Appearance')->getButtonColor(); ?>" data-json='<?php echo json_encode($productToAdd, JSON_HEX_APOS); ?>' data-action="add"><i class="fa fa-plus"></i></button></td>
                    </tr>
                <?php endforeach; ?>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" class="close" data-dismiss="modal"><?php echo $this->__('Close'); ?></button>
</div>

<!--<table width="100%">
    <tr>
        <td align="left" style="vertical-align: top">
            <table id="myform">
                <tr>
                    <td colspan="2"><p style="font-size: 1.3em"><?php echo $this->getProduct()->getName() ?>
                            (<?php echo $this->getProduct()->getSku() ?>)</p></td>
                </tr>
                <tr>
                    <th colspan="2">Select product attributes :</th>
                </tr>

                <?php foreach ($attributes as $attributeCode => $attribute) : ?>
                    <tr>
                        <td><?php echo $attribute['label']; ?></td>
                        <td>
                            <select id="<?php echo $attributeCode; ?>" name="attributes[<?php echo $attributeCode; ?>]"
                                    class="productAttributeSelect">
                                <?php foreach ($attribute['options'] as $value => $label) : ?>
                                    <option value="<?php echo $value; ?>"><?php echo $label; ?></option>
                                <?php endforeach; ?>
                            </select>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </table>
        </td>
        <td style="text-align:right; vertical-align: top; margin-top: 20px;">
            <?php
            $imgUrl = $this->getProduct()->getSmallImageUrl();
            if (!empty($imgUrl)) :
                ?>
                <img src="<?php echo $imgUrl; ?>"/>
            <?php endif; ?>
        </td>
    </tr>
</table>-->


