<script>
	var currency = '<?php echo $this->getCurrency()->getCode(); ?>';
</script>


<div class="modal-content">
    <div class="modal-header">

        <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>-->
        <button type="button" class="btn btn-sm btn-default pull-right" data-action="close-from-<?php echo $this->getFrom() ?>"><?php echo $this->__('Close'); ?></button>
        <button style="margin-right: 5px" class="btn btn-sm btn-<?php echo Mage::helper('PointOfSales/Appearance')->getButtonColor(); ?> pull-right" type="button" onclick="document.location.href='<?php echo $this->getDownloadReceiptUrl(); ?>'"><?php echo $this->__('Receipt')?></button>
        <?php if ($this->getDownloadInvoiceLink()): ?>
            <button style="margin-right: 5px" class="btn btn-sm btn-<?php echo Mage::helper('PointOfSales/Appearance')->getButtonColor(); ?> pull-right" type="button" onclick="document.location.href='<?php echo $this->getDownloadInvoiceLink(); ?>'"><?php echo $this->__('Invoice')?></button>
        <?php endif; ?>
        <?php if ($this->getDownloadShipmentLink()): ?>
            <button style="margin-right: 5px" class="btn btn-sm btn-<?php echo Mage::helper('PointOfSales/Appearance')->getButtonColor(); ?> pull-right" type="button" onclick="document.location.href='<?php echo $this->getDownloadShipmentLink(); ?>'"><?php echo $this->__('Packing slip')?></button>
        <?php endif; ?>
        <?php if ($this->getDownloadCreditmemoLink()): ?>
            <button style="margin-right: 5px" class="btn btn-sm btn-<?php echo Mage::helper('PointOfSales/Appearance')->getButtonColor(); ?> pull-right" type="button" onclick="document.location.href='<?php echo $this->getDownloadCreditmemoLink(); ?>'"><?php echo $this->__('Credit Memo')?></button>
        <?php endif; ?>
        <?php if($this->getOrder()->canCreditmemo()): ?>
            <button style="margin-right: 5px" class="btn btn-sm btn-<?php echo Mage::helper('PointOfSales/Appearance')->getButtonColor(); ?> pull-right" data-action="return" data-id="<?php echo $this->getOrder()->getId()?>"><i class="fa fa-undo"></i>&nbsp;&nbsp;<?php echo $this->__('Return'); ?></button>
        <?php endif; ?>

        <h4 class="modal-title"><?php echo $this->__('Order #%s', $this->getOrderId()); ?></h4>
    </div>
    <div class="modal-body">

        <?php echo $this->getChildHtml('order_info'); ?>
        <?php echo $this->getChildHtml('order_items'); ?>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-<?php echo Mage::helper('PointOfSales/Appearance')->getHeaderColor(); ?>" id="customer-section">
                    <div class="panel-heading"><?php echo $this->helper('sales')->__('Payment Information') ?></div>
                    <?php echo $this->getChildHtml('order_payment') ?>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-<?php echo Mage::helper('PointOfSales/Appearance')->getHeaderColor(); ?>" id="customer-section">
                    <div class="panel-heading"><?php echo Mage::helper('sales')->__('Order Totals') ?></div>
                        <?php echo $this->getChildHtml('order_totals') ?>
                </div>
            </div>
        </div>
    </div>
</div>

<?php if ($this->autoReceiptDownload()): ?>
    <script>
        document.location.href = '<?php echo $this->getDownloadReceiptUrl(); ?>';
    </script>
<?php endif; ?>


<?php if ($this->autoInvoiceDownload()): ?>
    <script>
        document.location.href = '<?php echo $this->getDownloadInvoiceLink(); ?>';
    </script>
<?php endif; ?>
