<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title"><?php echo $this->getProduct()->getname()?></h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <img src="<?php echo $this->getProductImageUrl(); ?>" class="img-responsive"/>
        </div>
        <div class="col-md-6">
            <table class="table table-striped" style="margin-top: 2em;">
                <tbody>
                    <tr>
                        <td><?php echo $this->__("SKU"); ?></td>
                        <td><?php echo $this->getProduct()->getsku() ?></td>
                    </tr>
                    <tr>
                        <td><?php echo $this->__("Description"); ?></td>
                        <td><?php echo $this->getProduct()->getshort_description() ?></td>
                    </tr>
                    <tr>
                        <td><?php echo $this->__("Cost"); ?></td>
                        <?php $ostohinta = 1.24 * $this->getProduct()->getcost(); ?>
                        <td><?php echo number_format($ostohinta, 2, '.', ''); ?></td>
                    </tr>
                    <?php if(!mage::helper('PointOfSales/Stock')->erpIsInstalled()) :?>
                        <tr>
                            <td><?php echo $this->__("Available stock qty"); ?></td>
                            <td><?php echo Mage::helper('PointOfSales/Stock')->getAvailableQuantityForSale($this->getProduct()); ?></td>
                        </tr>
                    <?php endif; ?>
                </tbody>
            </table>
            <?php if(mage::helper('PointOfSales/Stock')->erpIsInstalled()) :?>
                <table class="table table-striped" style="margin-top: 2em;">
                    <thead><tr>
                        <th><?php echo $this->__("Warehouse"); ?></th>
                        <th style="text-align: right"><?php echo $this->__("Qty"); ?></th>
                        <th style="text-align: right"><?php echo $this->__("Available Qty"); ?></th>
                    </tr></thead>
                    <tbody>
                    <?php foreach(mage::helper('AdvancedStock/Product_Base')->getStocks($this->getProduct()->getId()) as $stock) :?>
                        <tr>
                            <td><?php echo $stock->getStockName(); ?></td>
                            <td style="text-align: right"><?php echo (int)$stock->getqty(); ?></td>
                            <td style="text-align: right"><?php echo $stock->getAvailableQty(); ?></td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            <?php endif; ?>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-<?php echo Mage::helper('PointOfSales/Appearance')->getButtonColor(); ?> pull-right" style="margin-left: 5px" onclick="window.open('<?php echo mage::helper('adminhtml')->getUrl('adminhtml/catalog_product/edit', array( 'id' => $this->getProduct()->getId())); ?>')"><?php echo $this->__('View product'); ?></button>
    <button type="button" class="btn btn-default pull-right" style="margin-left: 5px" data-dismiss="modal"><?php echo $this->__('Close'); ?></button>
</div>