<div class="row">
    <div class="col-lg-12">
        <table class="table table-condensed table-condensed table-striped table-hover" id="order-list">
            <thead>
            <tr>
                <th><?php echo $this->__('Order#')?></th>
                <th><?php echo $this->__('Date')?></th>
                <th><?php echo $this->__('Customer')?></th>
                <th><?php echo $this->__('Products')?></th>
                <th><?php echo $this->__('Payment method')?></th>
                <th><?php echo $this->__('Total')?></th>
                <th><?php echo $this->__('Seller')?></th>
            </tr>
            </thead>
            <body>
                <?php foreach($this->getOrders() as $order) :?>
                    <tr data-action="show-order-modal-from-list" data-id="<?php echo $order->getId()?>">
                        <td><?php echo $order->getIncrementId()?></td>
                        <td><?php echo Mage::helper('core')->formatDate($order->getData('created_at'), 'short', true);?></td>
                        <td><?php echo $order->getData('billing_name')?></td>
                        <td><?php echo $this->renderProducts($order); ?></td>
                        <td><?php echo $this->renderPayments($order); ?></td>
                        <td align="right"><?php echo $order->formatPrice($order->getgrand_total()); ?></td>
                        <td><?php echo $this->renderUser($order); ?></td>
                    </tr>
                <?php endforeach;?>
            </body>
        </table>
        <?php if($this->getPageCount() > 1) : ?>
        <nav>
            <ul class="pagination" id="orderlist-pager" style="margin: 0">
                <li data-page="1" <?php if($this->getCurrentPage() == 1) echo 'class="disabled"' ?>><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <?php
                $displayFirstEtc = ($this->getCurrentPage() > 5 ? true : false);
                $displayLastEtc =  ($this->getCurrentPage() < $this->getPageCount() - 5 ? true : false);
                for($i = 1; $i <= $this->getPageCount(); $i++) :
                    if($i > 1 && $i < $this->getPageCount())
                    {
                        if( ($i < $this->getCurrentPage() - 5) || ($i > $this->getCurrentPage() + 5))
                            continue;
                    }
                    ?>
                    <?php if($i == $this->getPageCount() && $displayLastEtc) : ?>
                        <li><a href="#">...</a></li>
                    <?php endif; ?>
                    <li data-page="<?php echo $i; ?>" <?php if($this->getCurrentPage() == $i) echo 'class="active"' ?>><a href="#"><?php echo $i ?><?php if($this->getCurrentPage() == $i) echo ' <span class="sr-only">(current)</span>' ?></a></li>
                    <?php if($i == 1 && $displayFirstEtc) : ?>
                    <li><a href="#">...</a></li>
                    <?php endif; ?>
                <?php endfor;?>
                <li data-page="<?php echo $this->getPageCount(); ?>" <?php if($this->getCurrentPage() == $this->getPageCount()) echo 'class="disabled"' ?>><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
            </ul>
        </nav>
        <?php endif; ?>
    </div>
</div>
