    <div class="row">
        <div class="col-lg-6">
            <div class="input-group input-group-lg search-order">
                <input type="text" class="form-control" id="search-order" name="search-order" placeholder="<?php echo $this->__('Search for orders : number, client name or email...'); ?>">
                <span class="input-group-btn">
                    <button id="search-order-btn" class="btn btn-default" type="button"> <i class="fa fa-search fa-lg"></i></button>
                </span>
            </div><!-- /input-group -->
        </div>

    </div>
    <br />