<div id="item-edit-container" class="item-content">
    <?php echo $this->getChildHtml('form') ?>
</div>

<script type="text/javascript">
//<![CDATA[

    function itemReset(url,useAjax){
        if(useAjax){
            var params = {active_tab_id:false};
            updateContent(url, params);
        }else{
            location.href = url;
        }
    }

    function itemDelete(url, useAjax, itemId) {
        if (confirm('<?php echo Mage::helper('catalog')->__('Are you sure you want to delete this Item?') ?>')){
            if (useAjax){
                tree.nodeForDelete = itemId;
                updateContent(url, {}, true);
            } else {
                location.href = url;
            }
        }
    }

    function updateContent(url, params, refreshTree) {
        if (!params) {
            params = {};
        }
        if (!params.form_key) {
            params.form_key = FORM_KEY;
        }

        toolbarToggle.stop();

        var itemContainer = $('item-edit-container');
        var messagesContainer = $('messages');
        var thisObj = this;
        new Ajax.Request(url + (url.match(new RegExp('\\?')) ? '&isAjax=true' : '?isAjax=true' ), {
            parameters:  params,
            evalScripts: true,
            onComplete: function () {
                /**
                 * This func depends on variables, that came in response, and were eval'ed in onSuccess() callback.
                 * Since prototype's Element.update() evals javascripts in 10 msec, we should exec our func after it.
                 */
                setTimeout(function() {
                    try {
                        if (refreshTree) {
                            thisObj.refreshTreeArea();
                        }
                        toolbarToggle.start();
                    } catch (e) {
                        alert(e.message);
                    };
                }, 25);
            },
            onSuccess: function(transport) {
                try {
                    if (transport.responseText.isJSON()) {
                        var response = transport.responseText.evalJSON();
                        var needUpdate = true;
                        if (response.error) {
                            alert(response.message);
                            needUpdate = false;
                        }
                        if(response.ajaxExpired && response.ajaxRedirect) {
                            setLocation(response.ajaxRedirect);
                            needUpdate = false;
                        }
                        if (needUpdate){
                            if (response.content){
                                $(itemContainer).update(response.content); //.bind(this)
                            }
                            if (response.messages){
                                $(messagesContainer).update(response.messages);
                            }
                            thisObj.refreshTreeArea();
                        }
                    } else {
                        $(itemContainer).update(transport.responseText);
                    }
                }
                catch (e) {
                    $(itemContainer).update(transport.responseText);
                }
            }
        });
    }

     // creo que esta funcion no se esta usando
    function refreshTreeArea(transport)
    {
        if (tree && window.editingItemBreadcrumbs) {
            if (tree.nodeForDelete) {
                console.log(tree.nodeForDelete);
                var node = tree.getNodeById(tree.nodeForDelete);
                tree.nodeForDelete = false;
                if (node) { // Check maybe tree became somehow not synced with ajax and we're trying to delete unknown node
                    node.parentNode.removeChild(node);
                    tree.currentNodeId = false;
                }
            }
            else if (tree.addNodeTo) {
                var parent = tree.getNodeById(tree.addNodeTo);
                tree.addNodeTo = false;

                if (parent) { // Check maybe tree became somehow not synced with ajax and we're trying to add to unknown node
                    var node = new Ext.tree.AsyncTreeNode(editingItemBreadcrumbs[editingItemBreadcrumbs.length - 1]);
                    node.loaded = true;
                    tree.currentNodeId = node.id;
                    parent.appendChild(node);

                    if (parent.expanded) {
                        tree.selectCurrentNode();
                    } else {
                        var timer;
                        parent.expand();
                        var f = function(){
                            if(parent.expanded){ // done expanding
                                clearInterval(timer);
                                tree.selectCurrentNode();
                            }
                        };
                        timer = setInterval(f, 200);
                    }
                }
            }

            for (var i = 0; i < editingItemBreadcrumbs.length; i++) {
                var node = tree.getNodeById(editingItemBreadcrumbs[i].id);
                if (node) {
                    node.setText(editingItemBreadcrumbs[i].text);
                }
            }
        }
    }

    function displayLoadingMask()
    {
       var loaderArea = $$('#html-body .wrapper')[0]; // Blocks all page
        Position.clone($(loaderArea), $('loading-mask'), {offsetLeft:-2});
        toggleSelectsUnderBlock($('loading-mask'), false);
        Element.show('loading-mask');
    }
//]]>
</script>
