<?php
      $isRwdTheme = Mage::helper('rewards/theme')->getPackageName() === "rwd"; 
?>
<script type="text/javascript">
    var showReferralFieldForGuests = '<?php echo json_encode($this->getShowGuestReferralField()); ?>' === 'true';
</script>

<?php if ($this->getShowReferralBlock()) : ?>
    <script type="text/javascript" src="<?php echo $this->getSkinUrl('js/rewardsref/rewardsReferralCheckout.js') ?>"></script>

    <div class="input-box rewards_referral_information <?php echo $isRwdTheme? "rwd" : ""; ?>" id="rewards_referral_information">
        <label for="rewards_referral">
        <?php
            if ($this->showReferralEmail() && !($this->showReferralCode())) {
                echo $this->__('Referral E-mail');
            } elseif (!$this->showReferralEmail() && ($this->showReferralCode())) {
                echo $this->__('Referral Code');
            } else {
                echo $this->__('Who referred you to us? Enter e-mail or code.');
            }
        ?>
        </label>
        <input type="text" name="billing[rewards_referral]" id="rewards_referral" class="input-text" value="<?php echo $this->getCurrentAffiliate(); ?>"/>

        <BR />
    </div>
<?php endif; ?>