<!--@subject {{var store.getFrontendName()}}: Payment Failed Notification # {{var order.increment_id}} @-->
<!--@styles
@-->
<table>
    <tbody>
    <tr>
        <td>
            <p>
                <b>The is an admin notification for the order <span class="no-link">#{{var order.increment_id}}</span></b><br />
                <p>Placed on {{var order.getCreatedAtFormated('long')}}</p>
            </p>
        </td>
    </tr>
    </tbody>
</table>