<?php
	if(Mage::getSingleton('customer/session')->isLoggedIn()){
        $url = $this->getUrl('affiliate/index/referralaccount/');
        $url_create = $this->getUrl('affiliate/index/referralaccount/');
    }else{
    	$url = $this->getUrl('customer/account/login/');
    	$url_create = $this->getUrl('customer/account/create/');
    }
?>
<p style="text-align: center;"><a href="<?php echo $url_create?>" target="_blank"><strong><?php echo $this->__("Join Now");?></strong></a></p>
<p style="text-align: center;">Or</p>
<p style="text-align: center;"><a href="<?php echo $url?>"><strong><?php echo $this->__("Click here to log in");?></strong></a><?php echo $this->__(" if you already have an account.");?> </p>