<?php
	if(Mage::getSingleton('customer/session')->isLoggedIn()){
        $url = $this->getUrl('affiliate/index/referralaccount/');
    }else{
    	$url = $this->getUrl('customer/account/login/');
    }
?>
<p><a href="<?php echo $url?>" target="_blank"><strong><?php echo $this->__("I agree to the terms");?></strong></a></p>