<?php $currUrl = (isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] === 'on' ? "https" : "http") . "://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]"; ?>
<?php $quoteProductModel = Mage::getModel('opentechiz_quotation/product'); ?>
<?php $variableArray = explode('/', trim($currUrl, '/')); ?>
<?php $quoteProduct = $quoteProductModel->load(array_pop($variableArray), 'qp_name'); ?>
<?php $firstImg = explode(',', $quoteProduct->getQpImage())[0] ?>

<script>
    var main_img = document.getElementById('amasty_zoom');
    main_img.outerHTML = '<img class="main-quotation product" id="amasty_zoom" data-zoom-image="<?php echo $firstImg; ?>" ' +
        'src="<?php echo $firstImg; ?>" alt="quotation product" ' +
        'title="quotation product" zoom-alt="quotation product" width="300">';

    var more_img = document.getElementById('amasty_gallery');

    more_img.innerHTML = '';
    <?php foreach(explode(',', $quoteProduct->getQpImage()) as $image): ?>
    more_img.innerHTML += '<a class="product-image-class" data-image="<?php echo $image ?>" ' +
        'data-zoom-image="<?php echo $image ?>">' +
        '<img src="<?php echo $image ?>" ' +
        'alt="quotation product" title="quotation product" width="56" height="56">' +
        '</a>';
    <?php endforeach; ?>
</script>
<?php $quoteProduct = Mage::registry('quoteProduct'); ?>
<?php $quoteProductModel = Mage::getModel('opentechiz_quotation/product') ?>
<?php $productOptions = Mage::getModel('opentechiz_quotation/productOption')->getCollection()->addFieldToFilter('quote_product_id', $quoteProduct->getId()) ?>
<table class="data-table" id="product-attribute-specs-table">
    <col width="25%" />
    <col />
    <tbody>
    <?php foreach ($productOptions as $option): ?>
        <?php if ($option->getOptionType() == 'stone') { ?>
            <?php
            $_stoneName = str_replace(' ', '', strtolower($quoteProductModel->getStoneName($option->getOptionValue())));
            $quality = '';
            if(strpos($_stoneName, 'diamond') !== false){
                $component = str_replace('diamond', '', $_stoneName);
                if(in_array($component, OpenTechiz_PersonalizedProduct_Helper_Data::QUALITY)){
                    $quality = $component;
                    $_stoneName = 'diamond';
                }
            }
            ?>
            <tr>
                <div class="ot-dropdown" onclick="toggleDiv('engrave-div')">
                    <div class="ot-dropdown-left">
                        <div class="label-items">
                            <div class="select-gold-btn">
                                <?php echo $option->getOptionName() ?></div>
                            <small style="float: left"><?php echo OpenTechiz_Material_Helper_Data::OPPENTECHIZ_MATERIAL_STONE_TYPE[$_stoneName];
                                if($quality != '') echo ' - '.OpenTechiz_PersonalizedProduct_Helper_Data::DEFAULT_QUALITY_ARRAY[$quality]?></small>
                        </div>
                    </div>
                    <div class="ot-dropdown-right">
                        <div class="icon-items">
                        </div>
                    </div>
                </div>
            </tr>
        <?php } elseif ($option->getOptionType() == 'gold') { ?>
            <?php
            $goldOptionName = trim(strtolower($quoteProductModel->getGoldName($option->getOptionValue())));
            $_goldName = str_replace(' ', '', $goldOptionName);
            ?>
            <tr>
                <div class="ot-dropdown" onclick="toggleDiv('engrave-div')">
                    <div class="ot-dropdown-left">
                        <div class="label-items">
                            <div class="select-gold-btn">
                                <?php echo $option->getOptionName() ?></div>
                            <small style="float: left"><?php echo OpenTechiz_Material_Helper_Data::GOLD_NAME_FRONT_END[$_goldName] ?></small>
                        </div>
                    </div>
                    <div class="ot-dropdown-right">
                        <div class="icon-items">
                        </div>
                    </div>
                </div>
            </tr>
        <?php } else { ?>
            <tr>
                <div class="ot-dropdown" onclick="toggleDiv('engrave-div')">
                    <div class="ot-dropdown-left">
                        <div class="label-items">
                            <div class="select-gold-btn">
                                <?php echo $option->getOptionName() ?></div>
                            <small style="float: left"><?php echo $option->getOptionValue() ?></small>
                        </div>
                    </div>
                    <div class="ot-dropdown-right">
                        <div class="icon-items">
                        </div>
                    </div>
                </div>
            </tr>
        <?php } ?>
    <?php endforeach; ?>
    </tbody>
</table>
<style>
    .col-left{
        display: block; !important;
    }
    .sidebar {
        border-bottom: 1px solid #d7d7d7;
    }
</style>