<?php
    $order_items = $this->getOrderItem();
    $order = Mage::getModel('sales/order')->load($order_items->getFirstItem()->getOrderId());
    $shippingAddress = $order->getBillingAddress();
    $returnable = 0;
    
 
?>
<div class="rma-view">
    <div class="page-title">
        <h1>NEW RMA </h1>
    </div>
    <form action="<?php echo Mage::getUrl('returns/return/create')?>" method="POST" id="return-form-validate" enctype="multipart/form-data" >
    <div class="fieldset">
        <h2 class="legend" id="request-information"> Information</h2>
        
        <input name="customer_id" type="hidden" value="<?= $order->getCustomerId()?$order->getCustomerId():'' ?>">

        <h2 class="legend">Account Information</h2>
        <p class="required">* Required Fields</p>
        <ul class="form-list">
            <li class="fields">
              <div class="customer-name">
                <div class="field name-firstname">
                    <label for="firstname" class="required"><em>*</em>First Name</label>
                    <div class="input-box">
                        <input type="text" id="firstname" name="first_name" value="<?= $shippingAddress->getData('firstname') ?>" title="First Name" maxlength="255" class="input-text required-entry">
                    </div>
                </div>
                <div class="field name-lastname">
                    <label for="lastname" class="required"><em>*</em>Last Name</label>
                    <div class="input-box">
                        <input type="text" id="lastname" name="last_name" value="<?= $shippingAddress->getData('lastname') ?>" title="Last Name" maxlength="255" class="input-text required-entry">
                    </div>
                </div>
            </div>
            </li>
            <li>
                <label for="email" class="required"><em>*</em>Email Address</label>
                <div class="input-box">
                    <input type="email" autocapitalize="off" autocorrect="off" spellcheck="false" name="email" id="email" value="<?= $shippingAddress->getData('email') ?>" title="Email Address" class="input-text required-entry validate-email">
                </div>
            </li>
            <li>
                <label for="phone" class="required"><em>*</em>Phone</label>
                <div class="input-box">
                    <input type="text" autocapitalize="off" autocorrect="off" spellcheck="false" name="phone" id="phone" value="<?= $shippingAddress->getData('telephone') ?>" title="Phone" class="input-text required-entry">
                </div>
            </li>
            <li>
                <label for="street" class="required"><em>*</em>Street</label>
                <div class="input-box">
                    <input type="text" autocapitalize="off" autocorrect="off" spellcheck="false" name="street" id="street" value="<?= $shippingAddress->getData('street') ?>" title="street" class="input-text required-entry">
                </div>
            </li>
             <li>
                <label for="city" class="required"><em>*</em>City</label>
                <div class="input-box">
                    <input type="text" autocapitalize="off" autocorrect="off" spellcheck="false" name="city" id="city" value="<?= $shippingAddress->getData('city') ?>" title="city" class="input-text required-entry">
                </div>
            </li>
             <li>
                <label for="region" class="required"><em>*</em>Region</label>
                <div class="input-box">
                    <input type="text" autocapitalize="off" autocorrect="off" spellcheck="false" name="region" id="region" value="<?= $shippingAddress->getData('region') ?>" title="region" class="input-text required-entry">
                </div>
            </li>
             <li>
                <label for="postcode" class="required"><em>*</em>Postcode</label>
                <div class="input-box">
                    <input type="text" autocapitalize="off" autocorrect="off" spellcheck="false" name="postcode" id="postcode" value="<?= $shippingAddress->getData('postcode') ?>" title="postcode" class="input-text required-entry">
                </div>
            </li>
            <li class="control">
               
            </li>
        </ul>
   
    </div>
    
    <div class="fieldset">
        <h2 class="legend" id="items-rma-request-for">Items RMA Requested for</h2>
        <table class="data-table" id="rma-table">
            <thead>
                <tr class="first last">
                    <th>Product Name</th>
                    <th>Order</th>
                    <th>SKU</th>
                    <th>Option</th>
                    <th>Price</th>
                    <th>Qty Ordered</th>
                    <th>Qty Return</th>
                    <th>Return type</th>
                    <th>Reason</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($order_items as $order_item) {
                    # code...
                    $barcodes = Mage::helper('opentechiz_return')->getReturnableBarcode($order_item->getId());

                    $returnable_qty = count($barcodes);
                    if($returnable_qty)
                        $returnable = 1;
               ?>
                <tr>
                    <td><?php echo $order_item->getName()?><input type="hidden" name="order_item[<?= $order_item->getId() ?>]"></td>
                    <td>
                        <a href="<?php echo Mage::getUrl('sales/order/view',['order_id' => $order->getId()])?>" target="_blank">#<?php echo $order_item->getIncrementId() ?></a> at <?php echo Mage::helper('core')->formatDate($order_item->getCreatedAt(), 'medium') ?>            
                    </td>
                    <td><?php echo $order_item->getSku() ?></td>
                    <td><?php echo $this->getOption($order_item->getProductOptions()) ?></td>
                    <td><?php echo $order_item->getPrice() ?></td>
                    <td><?php echo $order_item->getQtyOrdered() ?></td>
                    <td><?php if($returnable_qty) {?>
                        <input type="number" name="order_item[<?= $order_item->getId() ?>][qty_return]" max="<?php echo $returnable_qty ?>" min="1" >
                        <?php }else {
                        echo __('Not returnable');
                        }?>
                    </td>
                    <td class="rma-italic"> <select name="order_item[<?= $order_item->getId() ?>][return_type]"><?php $return_types = Mage::helper('opentechiz_return')->getReturnTypes();
                    foreach ($return_types as $key => $return_type) {
                         # code...
                     ?>
                      <option value="<?php echo $key ?>"><?php echo $return_type ?></option>
                      <?php
                        }
                      ?>
                    </select> </td>
                    <td class="rma-italic"> <select name="order_item[<?= $order_item->getId() ?>][reason]"><?php $reasons = Mage::helper('opentechiz_return')->getReturnReasons();
                    foreach ($reasons as $key => $reason) {
                         # code...
                     ?>
                      <option value="<?php echo $key ?>"><?php echo $reason ?></option>
                      <?php
                        }
                      ?>
                    
                    </select> </td>
                    
                </tr>
                <?php
                     } 
                ?>
            </tbody>
        </table>
    </div>
    <div class="fieldset">
            <h2 class="legend" id="add-comment">Add Comment</h2>
            <ul class="form-list">
                <li class="fields">
                    <div class="input-box" >
                        <textarea name="description" id="comment" class="input-text"  style="float: left;"></textarea>
                    </div>
                </li>

                <li class="fields" >
                    <label for="images">Attach files                    </label>
                    <div class="input-box">
                        <div  id="attachment_wrap"><input type="file" class="multi MultiFile-applied" name="images" id="images" accept="jpg|jpeg|gif|png|bmp|pdf|php" value=""><div  id="attachment_wrap_list"></div></div>                    </div>
                    Allowed extensions: jpg, jpeg, gif', png, bmp, pdf, php                </li>
                <li class="fields">
                    <div style="overflow-y:scroll; height:200px; ">
                    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('return_policy')->toHtml(); 
                    ?> </div><br>
                    <input type="checkbox" name="accept" id="accept_policy" value="1"  title="Accept" class="checkbox required-entry"><label for="accept">I agree to return policy </label>
                </li>
            </ul>
             
            <button type="submit" title="Submit" class="button" onclick="dataFormSubmit(this)" <?php if(!$returnable) echo 'disabled' ?> ><span><span>Submit</span></span></button>
        </div>
</form>

            <div class="fieldset rma-history">
          

<!--    -->    <div class="buttons-set">
        <p class="back-link"><a href="<?php echo Mage::getUrl('returns/return')?>"><small>« </small>Back to My Returns</a></p>
    </div>
<!--    -->
    <div class="rma-confirmation-form-overlay" id="rma-confirmation-form-overlay" style="display:none;">&nbsp;</div>
</div>
 <script type="text/javascript">
        var dataForm = new VarienForm('return-form-validate', false);
        function dataFormSubmit(button){
            if(dataForm.validator &&  dataForm.validator.validate()){
                Form.Element.disable(button);
                dataForm.submit();
            }
        }
    </script>