<?php
$order_item = $this->getOrderItem();
$order = Mage::getModel('sales/order')->load($order_item->getOrderId());
$shippingAddress = $order->getBillingAddress();
$rma = $this->getRma();


?>
<div class="rma-view">
    <div class="page-title">
        <h1>VIEW RMA </h1>
    </div>
    <form action="<?php echo Mage::getUrl('returns/return/save',array('id'=>$rma->getId()))?>" method="POST" id="return-form-validate" >
        <div class="fieldset">
            <h2 class="legend" id="request-information"> Information</h2>

            <h2 class="legend">Account Information</h2>
            <p class="required">* Required Fields</p>
            <ul class="form-list">
                <li class="fields">
                    <div class="customer-name">
                        <div class="field name-firstname">
                            <label for="firstname" class="required"><em>*</em>First Name</label>
                            <div class="input-box">
                                <input type="text" id="firstname" name="first_name" value="<?= $rma->getData('first_name') ?>" title="First Name" maxlength="255" class="input-text required-entry">
                            </div>
                        </div>
                        <div class="field name-lastname">
                            <label for="lastname" class="required"><em>*</em>Last Name</label>
                            <div class="input-box">
                                <input type="text" id="lastname" name="last_name" value="<?= $rma->getData('last_name') ?>" title="Last Name" maxlength="255" class="input-text required-entry">
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <label for="email" class="required"><em>*</em>Email Address</label>
                    <div class="input-box">
                        <input type="email" autocapitalize="off" autocorrect="off" spellcheck="false" name="email" id="email" value="<?= $rma->getData('email') ?>" title="Email Address" class="input-text required-entry validate-email">
                    </div>
                </li>
                <li>
                    <label for="phone" class="required"><em>*</em>Phone</label>
                    <div class="input-box">
                        <input type="text" autocapitalize="off" autocorrect="off" spellcheck="false" name="phone" id="phone" value="<?= $rma->getData('phone') ?>" title="Phone" class="input-text required-entry">
                    </div>
                </li>
                <li>
                    <label for="street" class="required"><em>*</em>Street</label>
                    <div class="input-box">
                        <input type="text" autocapitalize="off" autocorrect="off" spellcheck="false" name="street" id="street" value="<?= $rma->getData('street') ?>" title="street" class="input-text required-entry">
                    </div>
                </li>
                <li>
                    <label for="city" class="required"><em>*</em>City</label>
                    <div class="input-box">
                        <input type="text" autocapitalize="off" autocorrect="off" spellcheck="false" name="city" id="city" value="<?= $rma->getData('city') ?>" title="city" class="input-text required-entry">
                    </div>
                </li>
                <li>
                    <label for="region" class="required"><em>*</em>Region</label>
                    <div class="input-box">
                        <input type="text" autocapitalize="off" autocorrect="off" spellcheck="false" name="region" id="region" value="<?= $rma->getData('region') ?>" title="region" class="input-text required-entry">
                    </div>
                </li>
                <li>
                    <label for="postcode" class="required"><em>*</em>Postcode</label>
                    <div class="input-box">
                        <input type="text" autocapitalize="off" autocorrect="off" spellcheck="false" name="postcode" id="postcode" value="<?= $rma->getData('postcode') ?>" title="postcode" class="input-text required-entry">
                    </div>
                </li>
                <li class="control">

                </li>
            </ul>

        </div>

        <div class="fieldset">
            <h2 class="legend" id="items-rma-request-for">Items RMA Requested for</h2>
            <table class="data-table" id="rma-table">
                <thead>
                <tr class="first last">
                    <th>Product Name</th>
                    <th>Order</th>
                    <th>SKU</th>
                    <th>Option</th>
                    <th>Price</th>
                    <th>Return type</th>
                    <th>Reason</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><?php echo $order_item->getName()?></td>
                    <td>
                        <a href="<?php echo Mage::getUrl('sales/order/view',['order_id' => $order->getId()])?>" target="_blank">#<?php echo $order_item->getIncrementId() ?></a> at <?php echo Mage::helper('core')->formatDate($order_item->getCreatedAt(), 'medium') ?>
                    </td>
                    <td><?php echo $order_item->getSku() ?></td>
                    <td><?php echo $this->getOption($order_item->getProductOptions()) ?></td>
                    <td><?php echo $order_item->getPrice() ?></td>
                    <td class="rma-italic"> <select name="return_type"><?php $return_types = Mage::helper('opentechiz_return')->getReturnTypes();
                            foreach ($return_types as $key => $return_type) {
                                # code...
                                ?>
                                <option value="<?php echo $key ?>" <?php if($key==$rma->getReturnType()) echo 'selected'; ?>><?php echo $return_type ?></option>
                                <?php
                            }
                            ?>
                        </select> </td>
                    <td class="rma-italic"> <select name="reason"><?php $reasons = Mage::helper('opentechiz_return')->getReturnReasons();
                            foreach ($reasons as $key => $reason) {
                                # code...
                                ?>
                                <option value="<?php echo $key ?>" <?php if($key==$rma->getReason()) echo 'selected'; ?> ><?php echo $reason ?></option>
                                <?php
                            }
                            ?>

                        </select> </td>

                </tr>
                </tbody>
            </table>
        </div>
        <div class="fieldset">
            <h2 class="legend" id="add-comment">Add Comment</h2>
            <ul class="form-list">
                <li class="fields">
                    <div class="input-box" >
                        <textarea name="description" id="comment" class="input-text"  style="float: left;" ><?= $rma->getDescription() ?></textarea>
                    </div>
                </li>
            </ul>
            <a id="return_image" href="<?php echo Mage::getBaseUrl("media").'upload'.DS.$rma->getReturnImage() ?>"><?= $rma->getReturnImage() ?></a>
            <button type="submit" title="Submit" class="button" onclick="dataFormSubmit(this)"><span><span>Submit</span></span></button>
        </div>
    </form>



    <!--    -->    <div class="buttons-set">
        <p class="back-link"><a href="<?php echo Mage::getUrl('returns/return')?>"><small>« </small>Back to My Returns</a></p>
    </div>
    <!--    -->
    <div class="rma-confirmation-form-overlay" id="rma-confirmation-form-overlay" style="display:none;">&nbsp;</div>
</div>
<script type="text/javascript">
    var dataForm = new VarienForm('return-form-validate', false);
    function dataFormSubmit(button){
        if(dataForm.validator &&  dataForm.validator.validate()){
            Form.Element.disable(button);
            dataForm.submit();
        }
    }
</script>