<?php
if ($this->enabled()) :

    $id = $this->getBlockId();

    if (!empty($id)) :

        if ($this->enabledBlock()) :

            $_config = array();
            $this->_config = $this->getConfig($id);
?>
<div class="slideshow-container slideshow-container-<?php echo $id; ?>">

    <ul class="slideshow" id="slidercontent_<?php echo $id; ?>">

    <?php
        $sliders = $this->getSlidercontents($id);

        foreach ($sliders as $slider) :

           $html = $this->getContent($slider['content']);
    ?>

        <li><?php echo $html; ?></li>

    <?php endforeach; ?>

    </ul>

    <?php if ($this->_config['navigation_arrows'] && count($sliders) > 1) : ?>
        <span class="slideshow-prev"><span class="icon-left-open-big"></span></span> <span class="slideshow-next"><span class="icon-right-open"></span></span>
    <?php endif;?>

</div>

<script type="text/javascript">
//<![CDATA[
jQuery(function() {
    jQuery('#slidercontent_<?php echo $id; ?>').slick({
        accessibility: false,
        <?php if ($this->_config['navigation_arrows']) : ?>
        arrows: true,
        prevArrow: '.slideshow-prev',
        nextArrow: '.slideshow-next',
        <?php else: ?>
        arrows: false,
        <?php endif; ?>
    });
});
//]]>
</script>
<?php
        endif;

    endif;

endif;