<?php
if ($this->enabled()):
    $id = $this->getBlockId();
    if (!empty($id)):
        if ($this->enabledBlock()):
            $_productCollection = $this->getProducts();
            $_helper = $this->helper('catalog/output');
            if($_productCollection):
?>
<div class="wrapper-featured-products">
    <div class="widget-media-plain">
        <div class="content">
            <?php $_collectionSize = $_productCollection->count() ?>
            <ul class="products-grid" id="tab-1-carousel">
                <?php $_iterator = 0; ?>
                <?php $i=0; foreach ($_productCollection as $_product): ?>
                <li class="item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>">
                    <?php // Product Image ?>
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName()) ?>" class="product-image">
                        <img id="product-collection-image-<?php echo $_product->getId(); ?>"
                             src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(290, 135); ?>"
                             alt="<?php echo $this->stripTags($_product->getName()) ?>" />
                    </a>
                    <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h3>
                    <?php
                    // Provides extra blocks on which to hang some features for products in the list
                    // Features providing UI elements targeting this block will display directly below the product name
                    if ($this->getChild('name.after')) {
                        $_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
                        foreach ($_nameAfterChildren as $_nameAfterChildName) {
                            $_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
                            $_nameAfterChild->setProduct($_product);
                            echo $_nameAfterChild->toHtml();
                        }
                    }
                    ?>
                    <?php if ($_product->getData('c2c_call_for_price') !== '1') : ?>
                    <?php echo $this->getPriceHtml($_product, true) ?>
                    <?php else: ?>
                    <p class="price-contact-notice"><?php echo $this->__('Please contact us for price and availability') ?></p>
                    <?php endif; ?>
                </li>
                <?php endforeach ?>
            </ul>
        </div>
    </div>
</div>
<?php
            endif;
        endif;
    endif;
endif;
