<?php 
	$collections = $this->getCollection();
	$size = sizeof($collections);
?>
<div class="dashboard">
	<div class="page-title    page-head">
    	<h1><?php echo $this->__('Affiliate History')?></h1>
	</div>
	<div class="box-account box-recent account-box ad-orders">
		<?php echo $this->getPagerHtml(); ?>
        <div class="head box-head">
            <h2><?php echo $this->__('My Commission History')?></h2>
        </div>
        <?php if($size == 0) {?>
	    <div><?php echo $this->__('No Commission History Found')?></div>
	    <?php } else if($size > 0) {?>

		<div id="toggleSection">
			<table class="data-table" id="my-credits-table">
				<colgroup>
					<col width="25%">
					<col width="15%">
					<col width="5%">
					<col width="5%">
					<col width="30%">
					<col width="20%">
				</colgroup>
			    <thead>
			        <tr>
						<th style="text-align:center;"><?php echo $this->__('Date') ?></th>
						<th style="text-align:center;"><?php echo $this->__('Commission Type') ?></th>
						<th style="text-align:center;"><?php echo $this->__('Commission') ?></th>
						<th style="text-align:center;"><?php echo $this->__('Customer Discount') ?></th>
						<th style="text-align:center;"><?php echo $this->__('Detail') ?></th>
						<th style="text-align:center;"><?php echo $this->__('Status') ?></th>
			        </tr>
			    </thead>
			    <tbody>
				    <?php 
				    	foreach ($collections as $collection):
				    ?>
			            <tr style="text-align:left">
			            	<td><?php echo $this->formatDate($collection->getTransactionTime())." ".$this->formatTime($collection->getTransactionTime());?></td>
			            	<td><?php echo $this->getCommissionType($collection->getCommissionType());?></td>
			            	<td style="text-align:center">
			            			<?php echo Mage::helper('affiliate')->formatMoney($collection->getTotalCommission())?>
			            	</td>
			            	<td style="text-align:center">
			            		<?php echo Mage::helper('affiliate')->formatMoney($collection->getTotalDiscount())?>
			            	</td>
			            	<td>
			            		<?php
			            			echo $this->getTransactionDetail($collection->getCommissionType(),$collection->getOrderId(),false,$collection->getCustomerId());
			            		?>
			            	</td>
			            	<td style="text-align:center">
			            		<?php echo $this->getStatusText($collection->getStatus());?>
			            	</td>
			            </tr>
			            <?php 	
			        endforeach; 
			        ?>    
			    </tbody>
			</table>
			<script type="text/javascript">decorateTable('my-credits-table')</script>
		</div>
		<?php echo $this->getPagerHtml(); ?>
		<?php }?>
	</div>
</div>