<?php
/** @var Medialounge_Checkout_Block_Success $this */
?>
<div class="order-customer-detail">
    <h2 class="bordered-title bordered-title-center">Your details</h2>

    <dl class="order-details-list">
        <dt>
            <h5 class="h4"><?php echo $this->__('Billing Address') ?></h5>
        </dt>
        <dd>
            <p><?php echo $this->getBilling()->format('html') ?></p>
        </dd>

        <dt>
            <h5 class="h4"><?php echo $this->__('Shipping Address') ?></h5>
        </dt>
        <dd>
            <p><?php
                if($this->getShipping()) echo $this->getShipping()->format('html') ?></p>
        </dd>

        <dt>
            <h5 class="h4"><?php echo $this->__('Shipping Method') ?></h5>
        </dt>
        <dd>
            <p><?php echo $this->getShippingMethod() ?></p>
        </dd>
        <dt>
           <h5 class="h4"><?php echo $this->__('Payment Method') ?></h5>
        </dt>
        <dd>
            <?php echo $this->getPaymentHtml() ?>
        </dd>
    </dl>
</div>
