<?php $product  = $this->getProduct();
$_price  = (float)$product->getPrice();
$final_price  =  (float)$product->getFinalPrice();?>
<div class="op-badge-section"> 
	<div class="op-bestonline-shop"> 
		<img src="<?php echo $this->getSkinUrl("images/badge/best-online-shop.jpg");?>"> 
	</div>  
	<div class="op-hc-logo"> 
		<img src="<?php echo $this->getSkinUrl("images/badge/quality-guaranteed.png");?>">
	</div>
	<?php if($_price > $final_price ):?>
		<?php if ($final_price >= 500 && $final_price <= 1500):?>
			<div class="op-hc-certifications op-hc-cert-active" id="op-hc-authenticity"> 
				<img src="<?php echo $this->getSkinUrl("images/badge/certifcate-authenticity.png");?>"> 
			</div> 
		<?php elseif($final_price > 1500):?>
			<div class="op-hc-certifications op-hc-cert-active" id="op-hc-appraisal"> 
				<img src="<?php echo $this->getSkinUrl("images/badge/appraisal-certificate.png");?>"> 
			</div> 
      	<?php endif?>
    <?php elseif($_price <= $final_price ):?>
    	<?php if ($_price >= 500 && $_price <= 1500):?>
			<div class="op-hc-certifications" id="op-hc-authenticity"> 
				<img src="<?php echo $this->getSkinUrl("images/badge/certifcate-authenticity.png");?>"> 
			</div> 
		<?php elseif($_price > 1500):?>
			<div class="op-hc-certifications op-hc-cert-active" id="op-hc-appraisal"> 
				<img src="<?php echo $this->getSkinUrl("images/badge/appraisal-certificate.png");?>"> 
			</div> 
      	<?php endif?>
    <?php endif?>
	
	
	<div class="op-hc-vp"> 
		<ul> 
			<?php if($product->getData('c2c_met_filter') !=''):?>
			<?php $meta_attribute = $product->getResource()->getAttribute('c2c_met_filter')->getFrontend()->getValue($product);?>
			<?php if (strpos($meta_attribute, 'Gold') !== false):?>
				    <li class="op-offers-lst" id="op-isgold"><?php echo $this->__("100% Real Gold"); ?></li>
			<?php endif;?>
		<?php endif;?>
			
			<li class="op-offers-lst"><?php echo $this->__("Best Price Guarantee"); ?></li> 
			<li class="op-offers-lst"><?php echo $this->__("Free US Shipping"); ?></li> 
			<li class="op-offers-lst"><?php echo $this->__("30 Days Return"); ?></li> 
			<li class="op-offers-lst"><?php echo $this->__("WorldWide Shipping"); ?></li> 
		</ul> 
	</div> 
</div>