<?php
/* @var $this Mage_Reports_Block_Product_Viewed */
?>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php if ($_products = $this->getRecentlyViewedProducts()): ?>
    <div id="recently-viewed-products" class="recently-viewed-products block">
        <div id="recently-tab" class="recently-tab">
            <?php echo $this->__('Recently Viewed Products') ?>
            <i class="arrow up-arrow"></i>
            <i class="arrow down-arrow"></i>
        </div>
        <div class="block block-list block-viewed">
            <p class="h2 bordered-title bordered-title-center"><?php echo $this->__('Recently Viewed Products') ?></p>
            <div id="recently-viewed-products-list">
                <ol class="products-grid products-grid-fullwidth js-viewed">
                    <?php foreach ($_products as $_product): ?>
                        <li class="item">
                            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName()) ?>" class="product-image">
                                <?php $_imgSize = 145; ?>
                                <img id="product-collection-image-<?php echo $_product->getId(); ?>"
                                     src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_imgSize); ?>"
                                     alt="<?php echo $this->stripTags($_product->getName()) ?>" />
                            </a>
                            <div class="product-info">
                                <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h3>
                                <?php
                                // Provides extra blocks on which to hang some features for products in the list
                                // Features providing UI elements targeting this block will display directly below the product name
                                if ($this->getChild('name.after')) {
                                    $_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
                                    foreach ($_nameAfterChildren as $_nameAfterChildName) {
                                        $_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
                                        $_nameAfterChild->setProduct($_product);
                                        echo $_nameAfterChild->toHtml();
                                    }
                                }
                                ?>
                                <?php if ($_product->getData('c2c_call_for_price') !== '1') : ?>
                                    <?php echo $this->getPriceHtml($_product, true) ?>
                                <?php else: ?>
                                    <p class="price-contact-notice"><?php echo $this->__('Please contact us for price and availability') ?></p>
                                <?php endif; ?>
                                <div class="actions-secondary">
                                    <?php if($_product->isSaleable()): ?>
                                        <button type="button" title="<?php echo $this->quoteEscape($this->__('Buy Now')) ?>" class="button btn-cart btn-short" onclick="setLocation('<?php echo Mage::helper('medialounge_checkout/cart')->getAddToCartUrl($_product); ?>')"><span><span><?php echo $this->__('Buy Now') ?></span></span></button>
                                    <?php endif; ?>
                                </div>
                            </div>
                        </li>
                    <?php endforeach; ?>
                </ol>
            </div>
        </div>
    </div>
<?php endif; ?>
