<?php

/**
 * Export Product data to xml data
 *
 * @category   OnlineBiz
 * @package    OnlineBiz_Facebookstore
 * @author     Nguyen Viet Tung (http://onlinebizsoft.com)
 */
?>
<?php
/**
 * Top menu for store
 *
 * @see Mage_Catalog_Block_Navigation
 */
?>
<?php
/**
 * $this->renderCategoriesMenuHtml() supports optional arguments:
 * int Level number for list item class to start from
 * string Extra class of outermost list items
 * string If specified wraps children list in div with this class
 */
?>
<?php 
$cartTotal = null;
$total = $this->helper('checkout')->formatPrice(Mage::getSingleton('checkout/cart')->getQuote()->getGrandTotal()); 
if($total)
	$cartTotal = ' ('.$total.')';
?>
<?php $_menu = $this->renderCategoriesMenuHtml(1,'level-top') ?>
<?php if($_menu): ?>
<div id="headNav">
    <ul id="nav">
		<li class="level0 nav-1 level-top first parent" id="">
		<a class="level-top" href="#">
		<span><?php echo $this->__('Categories')?></span>
		</a>
		<ul class="level0">
        <?php echo $_menu ?>
		</ul>
		</li>
		<li class="level0 nav-1 level-top first parent" id="">
			<a href="" onclick="setLocation('<?php echo $this->getBaseUrl()?>facebookstore?limit=all'); return false;"><?php echo $this->__('All Products')?></a>
		</li>
    </ul>
	<div class="cart"><?php echo $this->__('Your Basket')?><a title="Basket" href="<?php echo $this->getUrl('facebookstore/index/cart', array('_secure'=>Mage::app()->getStore()->isCurrentlySecure() ? true : false))?>"><?php echo $cartTotal?></a></div>
</div>
<?php endif ?>
