<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('catalog')->__('Add/Update Order') ?></h4>
    </div>
	<div style="margin-top:20px;"><label for="order_id">Magento Order Id:</label><input type="text" class="input-text" id="order_id" name="order_id" style="margin-left:60px" value="<?php echo $this->getOrderId();?>" size=75></div>
	
	<div style="margin-top:20px;"><label for="increment_id">Order #</label><input type="text" class="input-text" id="increment_id" name="increment_id" value="<?php echo $this->getIncrementId();?>" style="margin-left:67px" size=75></div>
	
	<div style="margin-top:20px;"><label>Status</label><select name="status" id="status" class="select" style="margin-left:87px;width:150px;">
	<option value="1" <?php if($this->getStatus()==1):?>selected<?php endif;?>>Sync</option>
	<option value="2" <?php if($this->getStatus()==2):?>selected<?php endif;?>>Not Sync</option>
	</select>
	</div>
</div>
<?php //echo $this->getCheck();?>

