<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Previousnext
 * @version    1.3.1
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php if ($this->isDisplayControls() && Mage::helper('medialounge_catalog/category')->isCategoryReferer()): ?>
    <div class="aw_prevnext">
        <?php if ($this->isDisplayProductThumbnails() || $this->isDisplayCategoryThumbnails()): ?>
            <div class="awpn_prev">
                <?php if ($this->isDisplayProductThumbnails()): ?>
                    <?php if ($this->getPreviousProductLink() != ''): ?>
                        <?php if ($this->getPreviousProductThumbUrl()): ?>
                            <a id="awpn_prev_product_img" href=<?php echo $this->getPreviousProductLink() ?> title="<?php echo $this->getPreviousProductLabel() . " " . $this->__('(Ctrl+Right)') ?>">
                                <img src="<?php echo $this->getPreviousProductThumbUrl(); ?>" title="<?php echo $this->getPreviousProductLabel(); ?>" alt="<?php echo $this->getPreviousProductLabel(); ?>" style="width:<?php echo $this->getProductThumbnailWidth(); ?>px;height:<?php echo $this->getProductThumbnailHeight(); ?>px;" />
                                <?php echo $this->getPreviousProductText(); ?>
                                <svg xmlns="http://www.w3.org/2000/svg" width="42" height="27" viewBox="0 0 98.384 59.337"><path d="M98.384 10.257L88.126 0 49.19 38.936 10.257 0 0 10.257l49.08 49.08.11-.11.112.11"></path></svg>
                            </a>
                        <?php endif; ?>
                    <?php endif; ?>
                <?php endif; ?>
            </div>
            <div class="awpn_next">
                <?php if ($this->isDisplayProductThumbnails()): ?>
                    <?php if ($this->getNextProductLink() != ''): ?>
                        <?php if ($this->getNextProductThumbUrl()): ?>
                            <a id="awpn_next_product_img" href=<?php echo $this->getNextProductLink() ?> title="<?php echo $this->getNextProductLabel() . " " . $this->__('(Ctrl+Right)') ?>">
                                <svg xmlns="http://www.w3.org/2000/svg" width="42" height="27" viewBox="0 0 98.384 59.337"><path d="M98.384 10.257L88.126 0 49.19 38.936 10.257 0 0 10.257l49.08 49.08.11-.11.112.11"></path></svg>
                                <img src="<?php echo $this->getNextProductThumbUrl(); ?>" title="<?php echo $this->getNextProductLabel(); ?>" alt="<?php echo $this->getNextProductLabel(); ?>" style="width:<?php echo $this->getProductThumbnailWidth(); ?>px;height:<?php echo $this->getProductThumbnailHeight(); ?>px;" />
                                <?php echo $this->getNextProductText(); ?>
                            </a>
                        <?php endif; ?>
                    <?php endif; ?>
                <?php endif; ?>
            </div>
        <?php endif; ?>
    </div>
<?php else: ?>
    <div class="aw_prevnext">
        <?php if ($this->isDisplayProductThumbnails() || $this->isDisplayCategoryThumbnails()): ?>
        <?php $current_product = $this->getProduct();
            if ($current_product):
                $prevnextBlock = Mage::getBlockSingleton('opentechizcatalog/previousnext');
                $category_id = $prevnextBlock->getCurrentCategory();
                if ($category_id !== false):
                    $products = Mage::getModel('catalog/category')->load($category_id);
                    $productslist = $products->getProductCollection()
                        ->addAttributeToSelect('sku')
                        ->addAttributeToSelect('name')
                        ->addAttributeToSelect('thumbnail')
                        ->setPageSize(3);
                    if ($productslist->count() == 3):
                        $pre_product = $prevnextBlock->getPreProduct($productslist,$current_product);
                        $next_product = $prevnextBlock->getNextProduct($productslist,$pre_product,$current_product);
                        ?>
                        <div class="awpn_prev">
                            <a id="awpn_prev_product_img" href=<?php echo $prevnextBlock->getProductLinkUrl($pre_product); ?> title="<?php echo $this->getPreviousProductLabel($pre_product) . " " . $prevnextBlock->__('(Ctrl+Right)') ?>">
                                <img src="<?php echo $prevnextBlock->getProductThumbUrl($pre_product); ?>" title="<?php echo $prevnextBlock->getPreviousProductLabel($pre_product); ?>" alt="<?php echo $prevnextBlock->getPreviousProductLabel($pre_product); ?>" style="width:<?php echo $this->getProductThumbnailWidth(); ?>px;height:<?php echo $this->getProductThumbnailHeight(); ?>px;" />
                                <?php echo $prevnextBlock->getProductText($pre_product); ?>
                                <svg xmlns="http://www.w3.org/2000/svg" width="42" height="27" viewBox="0 0 98.384 59.337"><path d="M98.384 10.257L88.126 0 49.19 38.936 10.257 0 0 10.257l49.08 49.08.11-.11.112.11"></path></svg>
                            </a>
                        </div>
                        <div class="awpn_next">
                            <a id="awpn_next_product_img" href=<?php echo $prevnextBlock->getProductLinkUrl($next_product); ?> title="<?php echo $prevnextBlock->getPreviousProductLabel($next_product) . " " . $prevnextBlock->__('(Ctrl+Right)') ?>">
                                <img src="<?php echo $prevnextBlock->getProductThumbUrl($next_product); ?>" title="<?php echo $prevnextBlock->getPreviousProductLabel($next_product); ?>" alt="<?php echo $prevnextBlock->getPreviousProductLabel($next_product); ?>" style="width:<?php echo $this->getProductThumbnailWidth(); ?>px;height:<?php echo $this->getProductThumbnailHeight(); ?>px;" />
                                <?php echo $prevnextBlock->getProductText($next_product); ?>
                                <svg xmlns="http://www.w3.org/2000/svg" width="42" height="27" viewBox="0 0 98.384 59.337"><path d="M98.384 10.257L88.126 0 49.19 38.936 10.257 0 0 10.257l49.08 49.08.11-.11.112.11"></path></svg>
                            </a>
                        </div>
                    <?php endif;?>
                <?php endif;?>
            <?php endif;?>
        <?php endif; ?>
    </div>
<?php endif; ?>
