<!--@subject Take a look at {{var customer.name}}'s gift registry @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var message":"Gift Registry Message",
"var items":"Gift Registry Items"}
@-->
<!--@styles
@-->

{{inlinecss file="amasty/amgiftreg/share_email.css"}}

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}" border="0"/></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="action-content">
                            <h1>Hey, take a look at my gift registry from {{var store.getFrontendName()}}.</h1>
                            <table cellspacing="0" cellpadding="0" class="message-container">
                                <tr>
                                    <td>{{var message}}</td>
                                </tr>
                            </table>
                            {{var items}}
                            {{depend salable}}
                            <p><strong><a href="{{var addAllLink}}">Add all items to shopping cart</a></strong> |
                                {{/depend}}
                                <strong><a href="{{var viewOnSiteLink}}">View all gift registry items</a></strong></p>
                        </td>
                    </tr>

                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Thank you, <strong>{{htmlescape var=$customer.name}}</strong></p></center></td>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>