{{inlinecss file="email-inline.css"}}
<p class="title-email">{{var message}}</p>
<br>
{{block type='core/template' area='adminhtml' template='opentechiz/purchase/email/vendor.phtml' }}
<br>
<table class="content-footer">
    <tbody>
    <tr >
        <td class="label cell-content">Notes:</td><td class="value cell-content">{{var note}}</td>
    </tr>

    <tr>
        <td class="label cell-content">Total # of Items ordered: </td><td class="value cell-content">{{var total_number_item}}</td>
    </tr>
    <tr>
        <td class="label cell-content">Delivery Requested by date: </td><td class="value cell-content">{{var delivery_date}}</td>
    </tr>
    <tr>
        <td class="label cell-content">Status of the PO: </td><td class="value cell-content">{{var status}}</td>
    </tr>
    </tbody>
</table>


<br>
<p class="title-email">ItsHot.com</p>
