{{inlinecss file="email-inline.css"}}
<p class="title-email">{{var message}}</p>
<br>
{{block type='core/template' area='adminhtml' template='opentechiz/purchase/email/vendor.phtml' }}
<br>
<p class="title-email">ItsHot.com</p>
