{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="action-content">
                        {{if admin}}
                        <h3>Hello,</h3>
                        <p>You have a messeage about <strong>quotation #{{var quotation_id}}</strong>!</p>
                        {{else}}
                        <h3>Hello {{var customer_name}},</h3>
                        <p>You have a messeage about <strong>quotation #{{var quotation_id}}</strong>!</p>
                        <p>You can check out comment from our expert by <a href="{{store url='customer/account/}}">logging into your account</a>.</p>
                        <p>
                            If you have any questions, please feel free to contact us at
                            <a href="mailto:{{var store_email}}">{{var store_email}}</a>
                            {{depend store_phone}} or by phone at <a href="tel:{{var phone}}">{{var store_phone}}</a>{{/depend}}.
                        </p>
                        {{/if}}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}