<p>Hello,{{var customer_name}} </p>

We have received the item for your return #{{var increment_id}}.
But the state of the item is not in our agreed state.
We will send another email to give you the details.

<style>
    .label{
        border: 0 !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        padding-left: 5px !important;
        background: 0 !important;
        width: 200px;
    }

    .value{
        border: 0 !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        padding-left: 5px !important;
        background: 0 !important;
        width: 300px;
    }
</style>