<p>Hello,{{var customer_name}} </p>

Your return #{{var increment_id}} has been reviewed and updated.
please log in to your account and pay for the return fee <a href="{{var payment_link}}">here</a>.

<style>
    .label{
        border: 0 !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        padding-left: 5px !important;
        background: 0 !important;
        width: 200px;
    }

    .value{
        border: 0 !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        padding-left: 5px !important;
        background: 0 !important;
        width: 300px;
    }
</style>