<p>Hello,{{var customer_name}} </p>

Your return #{{var increment_id}} has been review and updated status to {{var status}}. 
    Please log in to check out your return and get in touch with our experts.
 
<style>
    .label{
        border: 0 !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        padding-left: 5px !important;
        background: 0 !important;
        width: 200px;
    }

    .value{
        border: 0 !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        padding-left: 5px !important;
        background: 0 !important;
        width: 300px;
    }
</style>