<?php
    $itemCount = count($this->getRequest()->getParam('item_id'));
    $barcodes = '';
    $sku = '';
    foreach ($this->getRequest()->getParam('item_id') as $itemId){
        $item = Mage::getModel('opentechiz_inventory/item')->load($itemId);
        $barcodes .= ', '.$item->getBarcode();

        if($sku == '') $sku = $item->getSku();
    }

    $sku = explode(OpenTechiz_SalesExtend_Helper_Sku::SKU_SEPARATOR, $sku)[0];
    $product = Mage::getModel('catalog/product')->loadByAttribute('sku', $sku);

    $barcodes  = trim($barcodes, ', ');
?>
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript">jQuery.noConflict();</script>

<div class="content-header">
    <table cellspacing="0">
        <tbody><tr>
            <td style="width:50%;"><h3 class="icon-head head-adminhtml-inventory-item">Editing <?php echo $itemCount ?> item(s)</h3></td>
            <td class="form-buttons"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="entry-edit">
    <div class="fieldset " id="purchase_gold_form">
        <div class="hor-scroll">
            <form id="item-edit-form" name="item-edit-form" method="post" action="<?php echo $this->getFormAction() ?>">
                <table class="form-list" cellspacing="0">
                    <tbody>
                    <tr>
                        <td class="label"><label for="po_increment_id">Selected Barcode</label></td>
                        <td class="value">
                            <span id="po_increment_id"><?php echo $barcodes ?></span>            </td>
                    </tr>
                    <tr>
                        <input type="hidden" name="barcode" value="<?php echo $barcodes ?>"/>
                    </tr>
                    <tr>
                        <td class="label"><label for="supplier_name">Select Product</label></td>
                        <td class="value">
                            <a href="#/" onclick="toggleProductGrid()">Open/Close Grid</a>
                            <div id="product-grid" class="hidden">
                                <?php echo $this->getLayout()->createBlock('opentechiz_production/adminhtml_request_manufacture_products')->setBlockId('request_manufacture_product_grid')->toHtml(); ?>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div id="product-info">

                </div>
                <table class="form-list" cellspacing="0">
                    <tbody>
                    <tr>
                        <td class="label"></td>
                        <td class="value"><button id="save-btn" title="Go" type="submit" class="scalable save hidden" form="item-edit-form"
                                    style="float: left"><span><span><span>Submit</span></span></span></button></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('save-btn').disabled = true;

    function toggleProductGrid() {
        document.getElementById('product-grid').classList.toggle('hidden');
    }

    function jsGetProduct($productId) {
        var productInfoDiv = document.getElementById('product-info');
        var url = '<?php echo $this->getAjaxAction() ?>';

        var data = {'product_id' : $productId};
        jQuery("#loading-mask").show();
        jQuery.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function(data)
            {
                productInfoDiv.innerHTML = data;
                document.getElementById('save-btn').disabled = false;
                document.getElementById('save-btn').classList.remove('hidden');
                jQuery("#loading-mask").hide();
            }
        });

    }
</script>

<style>
    .hidden{
        display: none;
    }
</style>