<?php
    $stock = $this->getCurrentStockEntity();
?>
<div class="content-header">
    <table cellspacing="0">
        <tbody><tr>
            <td style="width:50%;"><h3 class="icon-head head-adminhtml-inventory-item">Editing Stock #<?php echo $stock->getId() ?></h3></td>
            <td class="form-buttons">
               
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="entry-edit">
    <div class="fieldset " id="purchase_gold_form">
        <div class="hor-scroll" style="padding-left: 10%">
            <form id="item-edit-form" name="item-edit-form" method="post" action="<?php echo $this->getFormAction() ?>"
                onsubmit="return checkQty()">
                <table class="form-list" cellspacing="0">
                    <tbody>
                    <tr>
                        <td class="label"><label for="po_increment_id"><?php echo $this->getHelper()->__('Product SKU') ?>:</label></td>
                        <td class="value">
                            <span id="po_increment_id"><?php echo $stock->getSku() ?></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="po_increment_id"><?php echo $this->getHelper()->__('Total QTY') ?>:</label></td>
                        <td class="value">
                            <span id="po_increment_id"><?php echo $stock->getQty() ?></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="po_increment_id"><?php echo $this->getHelper()->__('Reserved QTY') ?>:</label></td>
                        <td class="value">
                            <span id="po_increment_id"><?php echo $stock->getOnHold() ?></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="po_increment_id"><?php echo $this->getHelper()->__('Action') ?><span class="required">*</span>:</label></td>
                        <td class="value">
                            <select required id="reason" name="reason" title="reason">
                                <option value=""></option>
                                <?php foreach (OpenTechiz_Inventory_Helper_Data::CHANGE_STOCK_ACTION as $key => $value){ ?>
                                    <option value="<?php echo $key ?>"><?php echo $value ?></option>
                                <?php } ?>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="po_increment_id"><?php echo $this->getHelper()->__('Quantity') ?><span class="required">*</span>:</label></td>
                        <td class="value">
                            <input required id="amount" type="number" name="amount" title="amount" min="0"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="po_increment_id"><?php echo $this->getHelper()->__('Note') ?><span class="required">*</span>:</label></td>
                        <td class="value">
                            <textarea name="note" title="note" form="item-edit-form" required></textarea>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <div style="padding-left: 210px">
                    <input type="hidden" value="<?php echo $stock->getId() ?>" name="stock_id">
                    <button type="submit" id="stock_submit_btn"><?php echo $this->getHelper()->__('Submit') ?></button>
                     <button title="Back" type="button" class="scalable" onclick="setLocation('<?php echo $this->getUrl('adminhtml/instockProduct/index', array('_secure' => true));?>')" style=""><?php echo $this->__("Cancel")?></button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    jQuery.noConflict();
</script>
<script>
    var currentQty = parseInt('<?php echo $stock->getQty() ?>');

    function checkQty() {
        var newQty = document.getElementById('amount').value;
        newQty = parseInt(newQty);
        if(Math.abs(currentQty - newQty) > 100){
            alert('Cannot add/remove over 100 items at once.');
            return false;
        }else {
            disableSubmitBtn();
            return true;
        }
    }

    function disableSubmitBtn() {
        jQuery("#loading-mask").show();
        var btn = document.getElementById('stock_submit_btn');
        btn.disabled = true;
        btn.style.background = 'grey';
        btn.style.borderColor = 'grey';
        jQuery("#stock_submit_btn").removeClass('hover');
    }
</script>
