<div class="page-title">
    <h1><?php echo Mage::helper('credit')->__('Store Credit') ?></h1>
</div>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<?php echo $this->getChildHtml('balance') ?>

<?php if (Mage::getSingleton('credit/config')->isSendToFriendEnabled()): ?>
<?php echo $this->getChildHtml('send_to_friend') ?>
<?php endif ?>

<?php echo $this->getChildHtml('transactions') ?>