<!--@subject Email - Footer @-->
                    <!-- End Content -->
                    </td>
                </tr>
            </table>

            <table cellpadding="0" cellspacing="0" border="0" class="container-table">
                <tr>
                    <td class="email-bottom" align="center">
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr class="footer-details">
                                <td class="footer-top-columns">
                                    <p>Have a Question 24x7 Live Chat</p> <img class="social-logo" src="{{skin url="images/email/chat.png"}}" />
                                </td>
                                <td class="footer-top-columns">
                                    <p>Send to a friend </p> <img class="social-logo" src="{{skin url="images/email/mail.png"}}" />
                                </td>
                                <td class="footer-top-columns last">
                                    <p>Follow us</p>
                                    <a href="{{config path='configuration/social/twurl'}}">
                                        <img class="social-logo" src="{{skin url="images/email/twitter.png"}}" />
                                    </a>
                                    <a href="{{config path='configuration/social/gpurl'}}">
                                        <img class="social-logo" src="{{skin url="images/email/g+.png"}}" />
                                    </a>
                                    <a href="{{config path='configuration/social/piurl'}}">
                                        <img class="social-logo" src="{{skin url="images/email/pinterest.png"}}" />
                                    </a>
                                    <a href="{{config path='configuration/social/inurl'}}">
                                        <img class="social-logo" src="{{skin url="images/email/insta.png"}}" />
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="footer-details">
                    <td colspan="3" style="text-align: center;">
                        <p class="footer-address">
                            {{config path='general/store_information/address'}}
                            {{config path='general/store_information/hours'}}
                        </p>
                        <p class="footer-copyright">
                            Please add {{var store_email}} to your address book to ensure you receive email updates from {{var store_url}}.<br/>
                            If you do not wish to receive any further communication.<br/>
                            @2016 ItsHot.com
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>
