<!--@subject Email - Header @-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
</head>
<body>
{{var non_inline_styles}}
<!-- Begin wrapper table -->
<table width="100%" cellpadding="0" cellspacing="0" border="0" id="background-table">
    <tr>
        <td valign="top" class="container-td" align="center">
            <table cellpadding="0" cellspacing="0" border="0" align="center" class="container-table">
                <tr>
                    <td>
                        <table cellpadding="0" cellspacing="0" border="0" class="logo-container">
                            <tr class="header-details">
                                <td class="logo" width="170">
                                    <a href="{{store url=""}}">
                                        <img width="170" src="{{var logo_url}}" alt="{{var logo_alt}}" border="0"/>
                                    </a>
                                </td>
                                <td class="header-column">
                                    <p>
                                        Call Us Toll Free in USA: <b>{{var store_phone}}</b><br/>
                                        Outside USA: <b>{{config path='general/store_information/non_us_phone'}}</b>
                                    </p>
                                </td>
                                <td class="social">
                                    <a href="{{config path='configuration/social/twurl'}}">
                                        <img class="social-logo" src="{{skin url="images/email/twitter.png"}}" />
                                    </a>
                                    <a href="{{config path='configuration/social/gpurl'}}">
                                        <img class="social-logo" src="{{skin url="images/email/g+.png"}}" />
                                    </a>
                                    <a href="{{config path='configuration/social/piurl'}}">
                                        <img class="social-logo" src="{{skin url="images/email/pinterest.png"}}" />
                                    </a>
                                    <a href="{{config path='configuration/social/inurl'}}">
                                        <img class="social-logo" src="{{skin url="images/email/insta.png"}}" />
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <table cellpadding="0" cellspacing="0" border="0" class="menu-container">
                            <tr>
                                <td>
                                    <table cellpadding="0" cellspacing="0" border="0" class="category-container">
                                        <tr>
                                            <td>
                                                <a href="{{store url=""}}mens-ladies-diamond-watches.aspx">
                                                    <span>Diamond Watches</span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{{store url=""}}mens-diamond-jewelry.aspx">
                                                    <span>Men's Jelwery</span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{{store url=""}}womens-jewelry.aspx">
                                                    <span>Women's Jelwery</span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{{store url=""}}diamond-engagement-rings.aspx">
                                                    <span>Engagement Rings</span>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{{store url=""}}diamond-wedding-rings-bands.aspx">
                                                    <span>Wedding Bands</span>
                                                </a>
                                            </td>
                                            <td class="last">
                                                <a href="{{store url=""}}sale.aspx">
                                                    <span>Sale</span>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="top" class="top-content">
                    <!-- Begin Content -->
