<?php
/**
 * Magento Partialpayment Extension
 *
 * @category   Magecomp
 * @package    Magecomp_Partialpayment
 * @author     Magecomp Partialpayment
 * */
$_product = Mage::registry('current_product');
$productId = $_product->getId();
$partialpaymentHelper = Mage::helper('partialpayment/partialpayment');
// Partial Payment Calculations
$calculationModel = Mage::getModel("partialpayment/calculation");

$isFlexyAllow = $partialpaymentHelper->isAllowFlexyPayment($_product);
$allow = FALSE;
if (($partialpaymentHelper->isApplyPartialPayment($_product) || $partialpaymentHelper->isPartialPaymentForAllProduct() || ($partialpaymentHelper->isPartialPaymentForOutOfStockProducts() && $partialpaymentHelper->isOutOfStockProduct($_product->getId()))) && $partialpaymentHelper->isEnabled()) {
    $allow = TRUE;
}
$valid = $partialpaymentHelper->isValidCustomer();
$price = (float) $this->helper('tax')->getPrice($_product, $_product->getFinalPrice(), false);
if ($price == 0) {
    $price = (float) Mage::helper('tax')->getPrice($_product, $_product->getFinalPrice());
}
if ($_product->getTypeId() == 'bundle') {// to get bundle product price
    $price = (float) Mage::getModel('bundle/product_price')->getTotalPrices($_product, 'min', 0);
} else if ($_product->getTypeId() == 'grouped') {// to get grouped product price;
    $grouped_product_model = Mage::getModel('catalog/product_type_grouped');
    $groupedParentId = $grouped_product_model->getParentIdsByChild($_product->getId());
    $_associatedProducts = $_product->getTypeInstance(true)->getAssociatedProducts($_product);

    foreach ($_associatedProducts as $_associatedProduct) {
        if ($_associatedProduct->getPrice() && ($price > $_associatedProduct->getPrice() || $price == 0)) {
            $price = (float) Mage::helper('tax')->getPrice($_associatedProduct, $_associatedProduct->getFinalPrice());
        }
    }
}
if ($isFlexyAllow) {
    $dpayment = $calculationModel->getDownPaymentAmount($price, $_product, $partialpaymentHelper->getTotalIinstallments($_product)); //get down payment
} else {
    $dpayment = $calculationModel->getDownPaymentAmount($price, $_product);
}
//if (!$allow || $valid != 1 || ((float) $dpayment >= $price )) {
if (false) {
    
} else {
    ?>
    <input type="hidden" name="allow_partial_payment" id="allow_partial_payment" disabled="disabled" value="<?php echo $partialpaymentHelper->getTotalIinstallments($_product) ?>" />
    <div class="button-wrap">
        <button id="purchase-with-partialpayment" class="button" type="button" onclick="document.getElementById('allow_partial_payment').removeAttribute('disabled'); productAddToCartForm.submit(this)">
            <?php echo $this->__(sprintf('Layaway for %s', Mage::helper('core')->currency($dpayment, true, false))); ?>
        </button>
        <small><?php echo $this->__('180 days to pay') ?> - <a href="<?php echo $this->getUrl('') . 'financing-and-layaway'; ?>" class="js-partialpayment"><?php echo $this->__('Layaway Plan') ?></a></small>
    </div>
    <div id="layaway-popup" class="mfp-popup mfp-hide mfp-medium std">
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('layaway_popup')->toHtml() ?>
    </div>
    <script type="text/javascript">
        var reloadLayaway = function () {
            if (jQuery('#product-price-' +<?php echo $productId; ?>)) {
                var amount = jQuery('#product-price-' +<?php echo $productId; ?>).html();
                var priceNumber = Number(amount.replace(/[^0-9\.-]+/g, ""));
                jQuery.ajax({
                    url: '/partialpayment/index/reloadPrice',
                    method: 'post',
                    data: {price: priceNumber, product_id: '<?php echo $productId; ?>'},
                    success: function (resp) {
                        if (resp.errno == 0) {
                            jQuery('#purchase-with-partialpayment').html(resp.down_payment_text);
                        }
                    }
                })
            }
        };

        document.observe("dom:loaded", reloadLayaway);
        jQuery(".super-attribute-select, select.product-custom-option").on('change', reloadLayaway);
    </script>
<?php } ?>
