<div id="toggleSection">
<?php 
	$_credits = $this->getCollection();
?>
<?php if($_credits->getSize()): ?>
	<?php echo $this->getPagerHtml(); ?>
	<table class="data-table" id="my-credits-table1">
	    <thead>
	        <tr>
				<th style="text-align: center;"><?php echo $this->__('Date') ?></th>
				<th style="text-align: center;"><?php echo $this->__('Amount') ?></th>
				<th style="text-align: center;"><?php echo $this->__('Balance') ?></th>
				<th style="text-align: center;"><?php echo $this->__('Transaction Detail') ?></th>
	        </tr>
	    </thead>
	    <tbody>
	        <?php foreach ($_credits as $_credit): ?>
	            <tr style="text-align:left">
					<td style="width: 60px;"><?php echo $this->formatDate($_credit->getCreatedTime())." ".$this->formatTime($_credit->getCreatedTime());?></td>
					<td style="text-align: center;">
					<?php if($_credit->getAmount() >0)echo "+".Mage::helper('mwcredit')->formatMoney($_credit->getAmount());
						  else	echo Mage::helper('mwcredit')->formatMoney($_credit->getAmount());?>
					</td>
					<td class="a-right"><?php echo Mage::helper('mwcredit')->formatMoney($_credit->getEndTransaction()); ?></td>
					<td><?php echo $this->getTransactionDetail($_credit->getTypeTransaction(),$_credit->getTransactionDetail())?></td>	
	            </tr>
	        <?php endforeach; ?>
	    </tbody>
	</table>
	<?php echo $this->getPagerHtml(); ?>
	<script type="text/javascript">decorateTable('my-credits-table1')</script>
<?php endif ?>
</div>