<div id="wishlist-popup" class="wishlist-popup mfp-hide">
    <p class="review-nologged" id="review-form">
        <?php echo $this->__('Sorry, only registered users can add to wishlist. Please <a href="javascript:void(0)" data-type="login" class="wishlist-login-require" title="Login">log in</a> or <a href="javascript:void(0)" data-type="register" class="wishlist-login-require" title="Register">register</a>.') ?>
    </p>
</div>

<script>
    jQuery(document).ready(function ($) {
        $('body').on('click', '.login-required', function () {
            var pid = $(this).data('pid');
            var entity_type = $(this).data('entity-type') || 'product';
            $('.review-nologged').data('pid', pid);
            $('.review-nologged').data('entity-type', entity_type);
        });

        $('body').on('click', '.like', function () {
            var pid = $(this).data('pid');
            var ele = $(this);
            $.ajax({
                url: '/ot_wishlist/ajax/react/p/' + pid + '/type/like',
                success: function (resp) {
                    if (resp.code === 0) {
                        ele.addClass('active');
                        ele.addClass('unlike');
                        ele.removeClass('like');
                        ele.find('.fa-heart-o').removeClass('fa-heart-o').addClass('fa-heart');
                    }
                }
            });
        });

        $('body').on('click', '.unlike', function () {
            var pid = $(this).data('pid');
            var ele = $(this);
            $.ajax({
                url: '/ot_wishlist/ajax/react/p/' + pid + '/type/unlike',
                success: function (resp) {
                    if (resp.code === 0) {
                        ele.removeClass('active');
                        ele.removeClass('unlike');
                        ele.addClass('like');
                        ele.find('.fa-heart').removeClass('fa-heart').addClass('fa-heart-o');
                    }
                }
            });
        });

        $('body').on('click', '.wishlist-login-require', function () {
            var type = $(this).data('type');
            var pid = $('.review-nologged').data('pid');
            var entity_type = $('.review-nologged').data('entity-type');
            document.location.href = '/ot_wishlist/index/loginRequired/p/' + pid + '/type/' + type + '/entity_type/' + entity_type;
        });
        $('body').on('mouseover', '.like', function(){
            $(this).find('.fa-heart-o').removeClass('fa-heart-o').addClass('fa-heart');
        });
         $('body').on('mouseout', '.like', function(){
            $(this).find('.fa-heart').removeClass('fa-heart').addClass('fa-heart-o');
        });
    });
</script>