<?php
/** @var Opentechiz_Return_Block_Adminhtml_Sales_Return_Create_OrderItemList $this */

?>
    <?php

        $order_id = $this->getData('order_id');
        $order = Mage::getModel('sales/order')->load($order_id);
        $order_items = Mage::getResourceModel('sales/order_item_collection')
            ->join('order', 'order.entity_id=main_table.order_id') ->addFieldToFilter('order.entity_id',array('eq'=>$order_id));
       
        ?>
           
                    
                   
                            <table cellspacing="0" class="data order-tables" id="rma_item">
                                <colgroup>
                                    <col width="15%">
                                    <col width="10%">
                                    <col width="10%">
                                    <col width="15%">
                                    <col width="10%">
                                    <col width="10%">
                                    <col width="10%">
                                    <col width="10%">
                                    <col width="10%">
                                </colgroup>
            
                                <thead>
                                <tr class="headings">
                                    <th class="no-link"><span
                                            class="nobr"><?php echo $this->__('Product Name') ?></span></th>
                                    <th class="no-link"><span class="nobr"><?php echo $this->__('Order') ?></span></th>
                                    <th class="no-link"><span class="nobr"><?php echo $this->__('Sku') ?></span></th>
                                    <th class="no-link"><span class="nobr"><?php echo $this->__('Option') ?></span></th>
                                    <th class="no-link"><span class="nobr"><?php echo $this->__('Price') ?></span></th>
                                    <th class="no-link"><span class="nobr"><?php echo $this->__('Qty Ordered') ?></span></th>
                                    <th class="no-link"><span class="nobr"><?php echo $this->__('Qty to Return') ?></span></th>
                                    <th class="no-link"><span class="nobr"><?php echo $this->__('Return type') ?></span></th>
                                    <th class="no-link"><span class="nobr"><?php echo $this->__('Reason for Return') ?></span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <?php foreach ($order_items as $order_item) {
                                        # code...
                                        $barcodes = Mage::helper('opentechiz_return')->getReturnableBarcode($order_item->getId());

                                        $returnable_qty = count($barcodes);
                                        if($returnable_qty)
                                            $returnable = 1;
                                   ?>
                                    <tr>
                                        <td><?php echo $order_item->getName()?><input type="hidden" name="order_item[<?= $order_item->getId() ?>]"></td>
                                        <td>
                                            <a href="<?php echo Mage::getUrl('adminhtml/sales_order/view/',['order_id'=>$order->getId()]) ?>" target="_blank">#<?php echo $order_item->getIncrementId() ?></a> at <?php echo Mage::helper('core')->formatDate($order_item->getCreatedAt(), 'medium') ?>            
                                        </td>
                                        <td><?php echo Mage::helper('opentechiz_purchase')->getTagSku($order_item->getSku()) ?></td>
                                        <td><?php echo Mage::helper('opentechiz_return')->getOption($order_item->getProductOptions()) ?></td>
                                        <td><?php echo $order_item->getPrice() ?></td>
                                        <td><?php echo $order_item->getQtyOrdered() ?></td>
                                        <td><?php if($returnable_qty) {?>
                                            <input type="number" class="return_qty" name="order_item[<?= $order_item->getId() ?>][qty_return]" max="<?php echo $returnable_qty ?>" min="1" >
                                            <?php }else {
                                            echo __('Not returnable');
                                            }?>
                                        </td>
                                        <td class="rma-italic"> <select name="order_item[<?= $order_item->getId() ?>][return_type]"><?php $return_types = Mage::helper('opentechiz_return')->getReturnTypes();
                                        foreach ($return_types as $key => $return_type) {
                                             # code...
                                         ?>
                                          <option value="<?php echo $key ?>"><?php echo $return_type ?></option>
                                          <?php
                                            }
                                          ?>
                                        </select> </td>
                                        <td class="rma-italic"> <select name="order_item[<?= $order_item->getId() ?>][reason]"><?php $reasons = Mage::helper('opentechiz_return')->getReturnReasons();
                                        foreach ($reasons as $key => $reason) {
                                             # code...
                                         ?>
                                          <option value="<?php echo $key ?>"><?php echo $reason ?></option>
                                          <?php
                                            }
                                          ?>
                                        
                                        </select> </td>
                                        
                                    </tr>
                                    <?php
                                         } 
                                    ?>
                                </tbody>
                            </table>
 <script type="text/javascript">
          jQuery('input[class="return_qty"]' ).keyup(function() {
          
              if(this.value>this.max){
                alert('Return quantity can not more than '+this.max );
                jQuery('.save' ).attr("disabled", true);
                }else{
                    jQuery('.save' ).attr("disabled", false);
                }
            });
       
         
      
    </script>                     
                     
                