<div>
    <div class="page-title">
        <h1><?php echo $this->__("Item Returns"); ?></h1>
    </div>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

    <br><br>
    <?php
$collection = $this->getRmaCollection();
?>
<?php if ($collection->count()): ?>
    <?php if ($this->getPagerHtml()): ?>
        <div class="return-lists-toolbar toolbar bottom"><?php echo $this->getPagerHtml(); ?></div>
    <?php endif ?>
    <table class="data-table" id="rma-table">
        <thead>
        <tr class="first last">
            <th><?php echo $this->__('#Return') ?></th>
            <th class="rma-date"><?php echo $this->__('Created at') ?></th>
            <th class="rma-date"><?php echo $this->__('Updated at') ?></th>
            <th><?php echo $this->__('Item') ?></th>
            <th><?php echo $this->__('Sku') ?></th>
            <th><?php echo $this->__('Order number') ?></th>
      <!--       <th><?php echo $this->__('Item Barcode') ?></th> -->
            <th><?php echo $this->__('Reason') ?></th>
            <th><?php echo $this->__('Return Type') ?></th>
            <th><?php echo $this->__('Status') ?></th>
            <th><?php echo $this->__('Return Fee') ?></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($collection as $rma): 
            $order = Mage::helper('opentechiz_return')->getRmaOrder($rma);
            $order_item = Mage::getModel('sales/order_item')->load($rma->getOrderItemId());
            ?>
                <tr>
                    <td><?php echo $rma->getIncrementId() ?>
                    </td>
                    <td class="rma-date">
                        <?php echo Mage::helper('core')->formatDate($rma->getCreatedAt(), 'medium') ?>
                    </td>
                    <td><?php echo Mage::helper('core')->formatDate($rma->getUpdatedAt(), 'medium')?></td>
                     <td><?php echo $order_item->getName()?></td>
                    <td><?php echo $order_item->getSku()?></td>
                    <td>
                        <a href="<?php echo Mage::getUrl('sales/order/view',['order_id' => $order->getId()])?>" target="_blank">#<?php echo $order->getIncrementId() ?></a> at <?php echo Mage::helper('core')->formatDate($order->getCreatedAt(), 'medium') ?>            
                    </td>
                    <!-- <td><?php echo $rma->getItemBarcode() ?></td> -->
                    <td><?php echo Mage::helper('opentechiz_return')->getReturnReason($rma->getReason()) ?></td>
                    <td><?php echo Mage::helper('opentechiz_return')->getReturnType($rma->getReturnType()) ?></td>
                    <td><?php echo Mage::helper('opentechiz_return')->getReturnStatus($rma->getStatus()) ?></td>
                    <td><?php echo Mage::helper('opentechiz_return')->getReturnFee($rma->getReturnFee()) ?></td>
                    <?php if($rma->getIsPaid() || !$rma->getReturnFee() || $rma->getReturnFee() <= 0): ?>
                        <td><?php echo $this->__('Paid') ?></td>
                    <?php else: ?>
                        <td><a href="<?php echo $this->getUrl('returns/return/pay',['id'=>$rma->getId()])?>"><?php echo $this->__('Pay') ?></a></td>
                    <?php endif; ?>
                    <td><a href="<?php echo $this->getUrl('returns/return/view',['id'=>$rma->getId()])?>"><?php echo $this->__('View Return') ?></a></td>
                </tr>
        <?php endforeach?>
        </tbody>
    </table>
    
    <script type="text/javascript">decorateTable('rma-table')</script>
<?php else: ?>
    <p><?php echo $this->__('There are no Returns') ?></p>
<?php endif ?>
</div>