<?php
$order_items = $this->getOrderItem();
$order = Mage::getModel('sales/order')->load($order_items->getFirstItem()->getOrderId());
$shippingAddress = $order->getBillingAddress();
$returnable = 0;
?>
<div class="rma-view">
    <div class="rma dashboard">
        <div class="page-title">
            <h1>New Return</h1>
        </div>
        <div class="page-content">
            <div class="rma-form">
                <fieldset>
                    <form action="<?php echo Mage::getUrl('returns/return/create') ?>" method="POST"
                          id="return-form-validate">
                        <div class="sub-title">
                            <h2 class="legend">Account Information</h2>
                        </div>
                        <div class="account-info">
                            <div class="rows">
                                <div class="label"></div>
                                <div class="value"><p class="required">* Required Fields</p></div>
                            </div>
                            <div class="rows">
                                <div class="label">
                                    <label for="firstname" class="required"><em>*</em>First Name</label>
                                </div>
                                <div class="value">
                                    <input type="text" id="firstname" name="first_name"
                                           value="<?= $shippingAddress->getData('firstname') ?>" title="First Name"
                                           maxlength="255" class="input-text required-entry">
                                </div>
                            </div>
                            <div class="rows">
                                <div class="label">
                                    <label for="lastname" class="required"><em>*</em>Last Name</label>
                                </div>
                                <div class="value">
                                    <input type="text" id="lastname" name="last_name"
                                           value="<?= $shippingAddress->getData('lastname') ?>" title="Last Name"
                                           maxlength="255" class="input-text required-entry">
                                </div>
                            </div>
                            <div class="rows">
                                <div class="label">
                                    <label for="email" class="required"><em>*</em>Email Address</label>
                                </div>
                                <div class="value">
                                    <input type="email" autocapitalize="off" autocorrect="off" spellcheck="false"
                                           name="email"
                                           id="email" value="<?= $shippingAddress->getData('email') ?>"
                                           title="Email Address"
                                           class="input-text required-entry validate-email">
                                </div>
                            </div>
                            <div class="rows">
                                <div class="label">
                                    <label for="phone" class="required"><em>*</em>Phone</label>
                                </div>
                                <div class="value">
                                    <input type="text" autocapitalize="off" autocorrect="off" spellcheck="false"
                                           name="phone"
                                           id="phone" value="<?= $shippingAddress->getData('telephone') ?>"
                                           title="Phone"
                                           class="input-text required-entry">
                                </div>
                            </div>
                            <div class="rows">
                                <div class="label">
                                    <label for="street" class="required"><em>*</em>Street</label>
                                </div>
                                <div class="value">
                                    <input type="text" autocapitalize="off" autocorrect="off" spellcheck="false"
                                           name="street" id="street" value="<?= $shippingAddress->getData('street') ?>"
                                           title="street" class="input-text required-entry">
                                </div>
                            </div>
                            <div class="rows">
                                <div class="label">
                                    <label for="city" class="required"><em>*</em>City</label>
                                </div>
                                <div class="value">
                                    <input type="text" autocapitalize="off" autocorrect="off" spellcheck="false"
                                           name="city"
                                           id="city" value="<?= $shippingAddress->getData('city') ?>" title="city"
                                           class="input-text required-entry">
                                </div>
                            </div>
                            <div class="rows">
                                <div class="label">
                                    <label for="region" class="required"><em>*</em>Region</label>
                                </div>
                                <div class="value">
                                    <input type="text" autocapitalize="off" autocorrect="off" spellcheck="false"
                                           name="region" id="region" value="<?= $shippingAddress->getData('region') ?>"
                                           title="region" class="input-text required-entry">
                                </div>
                            </div>
                            <div class="rows">
                                <div class="label">
                                    <label for="postcode" class="required"><em>*</em>Postcode</label>
                                </div>
                                <div class="value">
                                    <input type="text" autocapitalize="off" autocorrect="off" spellcheck="false"
                                           name="postcode" id="postcode"
                                           value="<?= $shippingAddress->getData('postcode') ?>"
                                           title="postcode" class="input-text required-entry">
                                </div>
                            </div>
                        </div>
                        <div class="sub-title">
                            <h2 class="legend" id="items-rma-request-for">Items RMA Requested for</h2>
                        </div>
                        <div class="items-rma-requested-for">
                            <table role="table">
                                <thead role="rowgroup">
                                <tr role="row">
                                    <th role="columnheader">PRODUCT NAME</th>
                                    <th role="columnheader">ORDER</th>
                                    <th role="columnheader">SKU</th>
                                    <th role="columnheader">OPTION</th>
                                    <th role="columnheader">PRICE</th>
                                    <th role="columnheader">QTY ORDERED</th>
                                    <th role="columnheader">QTY RETURN</th>
                                    <th role="columnheader">RETURN TYPE</th>
                                    <th role="columnheader">REASON</th>
                                </tr>
                                </thead>
                                <tbody role="rowgroup">
                                <?php foreach ($order_items as $order_item) {
                                    # code...
                                    $barcodes = Mage::helper('opentechiz_return')->getReturnableBarcode($order_item->getId());

                                    $returnable_qty = count($barcodes);
                                    if ($returnable_qty)
                                        $returnable = 1;
                                    ?>
                                    <tr role="row">
                                        <td role="cell"><?php echo $order_item->getName() ?><input type="hidden"
                                                                                                   name="order_item[<?= $order_item->getId() ?>]">
                                        </td>
                                        <td role="cell">
                                            <a href="<?php echo Mage::getUrl('sales/order/view', ['order_id' => $order->getId()]) ?>"
                                               target="_blank">#<?php echo $order_item->getIncrementId() ?></a>
                                            at <?php echo Mage::helper('core')->formatDate($order_item->getCreatedAt(), 'medium') ?>
                                        </td>
                                        <td role="cell"><?php echo $order_item->getSku() ?></td>
                                        <td role="cell"><?php echo $this->getOption($order_item->getProductOptions()) ?></td>
                                        <td role="cell"><?php echo Mage::helper('core')->currency($order_item->getPrice(), true, false); ?></td>
                                        <td role="cell"><?php echo $order_item->getQtyOrdered() ?></td>
                                        <td role="cell"><?php if ($returnable_qty) { ?>
                                                <input type="number"
                                                       class="return_qty"
                                                       name="order_item[<?= $order_item->getId() ?>][qty_return]"
                                                       max="<?php echo $returnable_qty ?>" min="1">
                                            <?php } else {
                                                echo __('Not returnable');
                                            } ?>
                                        </td>
                                        <td role="cell" class="rma-italic"><select
                                                    name="order_item[<?= $order_item->getId() ?>][return_type]"><?php $return_types = Mage::helper('opentechiz_return')->getReturnTypes();
                                                foreach ($return_types as $key => $return_type) {
                                                    # code...
                                                    ?>
                                                    <option value="<?php echo $key ?>"><?php echo $return_type ?></option>
                                                    <?php
                                                }
                                                ?>
                                            </select></td>
                                        <td role="cell" class="rma-italic"><select
                                                    name="order_item[<?= $order_item->getId() ?>][reason]"><?php $reasons = Mage::helper('opentechiz_return')->getReturnReasons();
                                                foreach ($reasons as $key => $reason) {
                                                    # code...
                                                    ?>
                                                    <option value="<?php echo $key ?>"><?php echo $reason ?></option>
                                                    <?php
                                                }
                                                ?>

                                            </select></td>

                                    </tr>
                                    <?php
                                }
                                ?>
                                </tbody>
                            </table>
                        </div>
                        <div class="sub-title">
                            <h2 class="legend" id="items-rma-request-for">COMMENTS</h2>
                        </div>
                        <div class="">
                            <div class="rows">
                                <div class="label">
                                    <label>Write comment</label>
                                </div>
                                <div class="value">
                                <textarea name="description" id="comment" class="input-text"
                                          style="float: left;"></textarea>
                                </div>
                            </div>

                            <div class="rows">
                                <div class="label">
                                    <label>Attach file</label>
                                </div>
                                <div class="value">
                                    <input type="file" class="multi MultiFile-applied" name="images"
                                           id="images" accept="jpg|jpeg|gif|png|bmp|pdf|php" value="">
                                    <div id="attachment_wrap_list"></div>
                                    Allowed extensions: jpg, jpeg, gif', png, bmp, pdf, php
                                </div>
                            </div>

                            <div class="rows">
                                <div class="label">

                                </div>
                                <div class="value">
                                    <div style="overflow-y:scroll; height:200px; ">
                                        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('return_policy')->toHtml();
                                        ?> </div>
                                    <br>
                                    <input type="checkbox" name="accept" id="accept_policy" value="1" title="Accept"
                                           class="checkbox required-entry" style="width: unset"><label for="accept">I
                                        agree
                                        to return policy </label>
                                </div>
                            </div>

                            <div class="rows">
                                <div class="label"></div>
                                <div class="value">
                                    <button id="submit_button"  type="submit" title="Submit" class="button"
                                            onclick="dataFormSubmit(this)" <?php if (!$returnable) echo 'disabled' ?> >
                                        <span><span>Submit</span></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- End form -->
                </fieldset>
            </div>
            <div class="buttons-set">
                <p class="back-link"><a href="<?php echo Mage::getUrl('returns/return') ?>">
                        <small>«</small>
                        Back to My Returns</a></p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var dataForm = new VarienForm('return-form-validate', false);

    function dataFormSubmit(button) {
        if (dataForm.validator && dataForm.validator.validate()) {
            Form.Element.disable(button);
            dataForm.submit();
        }
    }

    jQuery('input[class="return_qty"]').keyup(function () {

        if (this.value > this.max) {
            alert('Return quantity can not more than ' + this.max);
            jQuery('#submit_button').attr("disabled", true);
        } else {
            jQuery('#submit_button').attr("disabled", false);
        }
    });
</script>