<?php
$order_item = $this->getOrderItem();
$customer = Mage::getSingleton('customer/session')->getCustomer();
?>
<div class="rma-view">
    <div class="rma dashboard">
        <div class="page-title">
            <h1>RETURN ITEM</h1>
        </div>
        <div class="page-content">
            <div class="rma-form">
                <fieldset>
                    <form action="<?php echo Mage::getUrl('returns/return/new') ?>" method="POST" id="rma-form-validate">
                        <input name="form_key" type="hidden" value="qY7y4yFTH0lSSHxk">
                        <div class="rows">
                            <div class="label"></div>
                            <div class="value"><p class="required">* Required Fields</p></div>
                        </div>
                        <div class="rows">
                            <div class="label">
                                <label for="order_number" class="required"><em>*</em>Order number</label>
                            </div>
                            <div class="value">
                                <input type="text" id="order_number" name="order_number" title="Order number" class="input-text required-entry required-number">
                            </div>
                        </div>
                        <?php if(!$customer->getId()): ?>
                            <div class="rows">
                                <div class="label">
                                    <label for="email" class="required"><em>*</em>Email Address</label>
                                </div>
                                <div class="value">
                                    <input type="email" autocapitalize="off" autocorrect="off" spellcheck="false" name="email" id="email"  title="Email Address" class="input-text required-entry validate-email">
                                </div>
                            </div>
                        <?php endif; ?>
                        <div class="rows">
                            <div class="label"></div>
                            <div class="value">
                                <button type="submit" title="Submit" class="button"><span><span>Submit</span></span></button>
                            </div>
                        </div>
                    </form>
                    <script type="text/javascript">
                        //< ![CDATA[
                        var rmaFormValidate = new VarienForm('rma-form-validate');
                        //]]>
                    </script>
                </fieldset>
            </div>
        </div>
    </div>
</div>