<?php
$order_item = $this->getOrderItem();
$order = Mage::getModel('sales/order')->load($order_item->getOrderId());
$shippingAddress = $order->getBillingAddress();
$rma = $this->getRma();
?>
<div class="rma-view">
    <div class="rma dashboard">
        <div class="page-title">
            <h1>RETURN #<?php echo $rma->getIncrementId() ?></h1>
        </div>
        <div class="page-content">
            <div class="rma-form">
                <fieldset>
                    <form action="<?php echo Mage::getUrl('returns/return/save', array('id' => $rma->getId())) ?>"
                          method="POST" id="return-form-validate">
                        <div class="sub-title">
                            <h2 class="legend">Account Information</h2>
                        </div>
                        <div class="account-info">
                            <div class="rows">
                                <div class="label"></div>
                                <div class="value"><p class="required">* Required Fields</p></div>
                            </div>
                            <div class="rows">
                                <div class="label">
                                    <label for="firstname" class="required"><em>*</em>First Name</label>
                                </div>
                                <div class="value">
                                    <input type="text" id="firstname" name="first_name"
                                           value="<?= $rma->getData('first_name') ?>" title="First Name"
                                           class="input-text required-entry">
                                </div>
                            </div>
                            <div class="rows">
                                <div class="label">
                                    <label for="lastname" class="required"><em>*</em>Last Name</label>
                                </div>
                                <div class="value">
                                    <input type="text" id="lastname" name="last_name"
                                           value="<?= $rma->getData('last_name') ?>" title="Last Name"
                                           class="input-text required-entry">
                                </div>
                            </div>
                            <div class="rows">
                                <div class="label">
                                    <label for="email" class="required"><em>*</em>Email Address</label>
                                </div>
                                <div class="value">
                                    <input type="email" autocapitalize="off" autocorrect="off" spellcheck="false"
                                           name="email" id="email" value="<?= $rma->getData('email') ?>"
                                           title="Email Address" class="input-text required-entry validate-email">
                                </div>
                            </div>
                            <div class="rows">
                                <div class="label">
                                    <label for="phone" class="required"><em>*</em>Phone</label>
                                </div>
                                <div class="value">
                                    <input type="text" autocapitalize="off" autocorrect="off" spellcheck="false"
                                           name="phone" id="phone" value="<?= $rma->getData('phone') ?>" title="Phone"
                                           class="input-text required-entry">
                                </div>
                            </div>
                            <div class="rows">
                                <div class="label">
                                    <label for="street" class="required"><em>*</em>Street</label>
                                </div>
                                <div class="value">
                                    <input type="text" autocapitalize="off" autocorrect="off" spellcheck="false"
                                           name="street" id="street" value="<?= $rma->getData('street') ?>"
                                           title="street" class="input-text required-entry">
                                </div>
                            </div>
                            <div class="rows">
                                <div class="label">
                                    <label for="city" class="required"><em>*</em>City</label>
                                </div>
                                <div class="value">
                                    <input type="text" autocapitalize="off" autocorrect="off" spellcheck="false"
                                           name="city" id="city" value="<?= $rma->getData('city') ?>" title="city"
                                           class="input-text required-entry">
                                </div>
                            </div>
                            <div class="rows">
                                <div class="label">
                                    <label for="region" class="required"><em>*</em>Region</label>
                                </div>
                                <div class="value">
                                    <input type="text" autocapitalize="off" autocorrect="off" spellcheck="false"
                                           name="region" id="region" value="<?= $rma->getData('region') ?>"
                                           title="region" class="input-text required-entry">
                                </div>
                            </div>
                            <div class="rows">
                                <div class="label">
                                    <label for="postcode" class="required"><em>*</em>Postcode</label>
                                </div>
                                <div class="value">
                                    <input type="text" autocapitalize="off" autocorrect="off" spellcheck="false"
                                           name="postcode" id="postcode" value="<?= $rma->getData('postcode') ?>"
                                           title="postcode" class="input-text required-entry">
                                </div>
                            </div>
                        </div>
                        <div class="sub-title">
                            <h2 class="legend" id="items-rma-request-for">Items RMA Requested for</h2>
                        </div>
                        <div class="items-rma-requested-for">
                            <table role="table">
                                <thead role="rowgroup">
                                <tr role="row">
                                    <th role="columnheader">PRODUCT NAME</th>
                                    <th role="columnheader">ORDER</th>
                                    <th role="columnheader">SKU</th>
                                    <th role="columnheader">OPTION</th>
                                    <th role="columnheader">PRICE</th>
                                    <th role="columnheader">RETURN TYPE</th>
                                    <th role="columnheader">REASON</th>
                                </tr>
                                </thead>
                                <tbody role="rowgroup">
                                <tr role="row">
                                    <td role="cell"><?php echo $order_item->getName() ?></td>
                                    <td role="cell">
                                        <a href="<?php echo Mage::getUrl('sales/order/view', ['order_id' => $order->getId()]) ?>"
                                           target="_blank">#<?php echo $order_item->getIncrementId() ?></a>
                                        at <?php echo Mage::helper('core')->formatDate($order_item->getCreatedAt(), 'medium') ?>
                                    </td>
                                    <td role="cell"><?php echo $order_item->getSku() ?></td>
                                    <td role="cell"><?php echo $this->getOption($order_item->getProductOptions()) ?></td>
                                    <td role="cell"><?php echo Mage::helper('core')->currency($order_item->getPrice(), true, false); ?></td>
                                    <td role="cell">
                                        <select
                                                name="return_type"><?php $return_types = Mage::helper('opentechiz_return')->getReturnTypes();
                                            foreach ($return_types as $key => $return_type) {
                                                # code...
                                                ?>
                                                <option value="<?php echo $key ?>" <?php if ($key == $rma->getReturnType()) echo 'selected'; ?>><?php echo $return_type ?></option>
                                                <?php
                                            }
                                            ?>
                                        </select>
                                    </td>
                                    <td role="cell">
                                        <select
                                                name="reason"><?php $reasons = Mage::helper('opentechiz_return')->getReturnReasons();
                                            foreach ($reasons as $key => $reason) {
                                                # code...
                                                ?>
                                                <option value="<?php echo $key ?>" <?php if ($key == $rma->getReason()) echo 'selected'; ?> ><?php echo $reason ?></option>
                                                <?php
                                            }
                                            ?>

                                        </select>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="sub-title">
                            <h2 class="legend" id="items-rma-request-for">COMMENTS</h2>
                        </div>
                        <div class="">
                            <div class="rows">
                                <div class="label">
                                    <label>Write comment</label>
                                </div>
                                <div class="value">
                                    <textarea name="description" id="comment" class="input-text"
                                              style="float: left;"><?= $rma->getDescription() ?></textarea>
                                </div>
                            </div>
                            <div class="rows">
                                <div class="label"></div>
                                <div class="value">
                                    <a id="return_image"
                                       href="<?php echo Mage::getBaseUrl("media") . 'upload' . DS . $rma->getReturnImage() ?>"><?= $rma->getReturnImage() ?></a>
                                </div>
                            </div>
                            <div class="rows">
                                <div class="label"></div>
                                <div class="value">
                                    <button type="submit" title="Submit" class="button" onclick="dataFormSubmit(this)">
                                        <span><span>Submit</span></span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- End form -->

                    <script type="text/javascript">
                        var dataForm = new VarienForm('return-form-validate', false);

                        function dataFormSubmit(button) {
                            if (dataForm.validator && dataForm.validator.validate()) {
                                Form.Element.disable(button);
                                dataForm.submit();
                            }
                        }
                    </script>
                </fieldset>
            </div>
            <div class="buttons-set">
                <p class="back-link"><a href="<?php echo Mage::getUrl('returns/return') ?>">
                        <small>«</small>
                        Back to My Returns</a></p>
            </div>
        </div>
    </div>
    <div class="rma-confirmation-form-overlay" id="rma-confirmation-form-overlay" style="display:none;">&nbsp;</div>
</div>
