<?php
    $goldBar = Mage::getModel('opentechiz_material/goldbar')->load($this->getRequest()->getParam('id'));
    $goldId = $goldBar->getGoldId();
    $goldCollection = Mage::getModel('opentechiz_material/gold');
    $golds = $goldCollection->getCollection()->getData();
?>
<div class="entry-edit">
    <div class="entry-edit-head"><h4
                class="icon-head head-gold-main-info"><?php echo Mage::helper('opentechiz_material')->__('Main Information') ?></h4>
    </div>
    <fieldset class="fieldset fieldset-wide" style="min-height: 200px">
        <div class="hor-scroll">
            <table cellspacing="0" class="form-list">
                <tbody>
                <?php
                    if ($this->getRequest()->getParam('id')) {
                        ?>
                        <tr>
                            <td class="label"><label>Status</label></td>
                            <td class="value">
                                <label style="color: red; font-style: italic"><strong><?php if ($goldBar->getStatus() == 1) echo "Consumed"; else echo "Open"; ?></strong></label>
                            </td>
                        </tr>
                    <?php }
                ?>
                <tr>
                    <td class="label"><label>Serial no <span class="required">*</span></label></td>
                    <td class="value">
                        <input id="serial_no" name="serial_no" value="<?php echo $goldBar->getSerialNo(); ?>" class="required-entry"
                               type="text" style="min-width: 275px">
                    </td>
                </tr>
                <tr>
                    <td class="label"><label>Gold <span class="required">*</span></label></td>
                    <td class="value">
                        <select name="gold_id" id="gold-select" class="validate-select validation-failed">
                            <option value="" selected="selected">-- Select Gold --</option>
                            <?php
                                foreach ($golds as $gold) {
                                    if (!$gold['gold_color']) {
                                        echo '<option value='.$gold['gold_id'].'>'.$gold['gold_type'].'</option>';
                                    } else {
                                        echo '<option value='.$gold['gold_id'].'>'.$gold['gold_type']. ' / ' .$gold['gold_color'].'</option>';
                                    }
                                }
                            ?>
                        </select>
                        <p class="note" id="note_is_global"><span>Select the gold for saving gold bar.</span></p>
                    </td>
                </tr>
                <tr>
                    <td class="label"><label>PO Increment # <span class="required">*</span></label></td>
                    <td class="value">
                        <input id="purchase_order" name="po_increment_id" value="<?php echo $goldBar->getPoIncrementId(); ?>" class="required-entry"
                               type="text" style="min-width: 275px">
                    </td>
                </tr>
                <tr>
                    <td class="label"><label>Weight (gr) <span class="required">*</span></label></td>
                    <td class="value">
                        <input id="weight" name="weight" value="<?php echo $goldBar->getWeight(); ?>" class="required-entry"
                               type="text" style="min-width: 275px">
                    </td>
                </tr>
                <?php
                if (!$this->getRequest()->getParam('id')) {
                    ?>
                        <tr>
                            <td class="label"><label>Status</label></td>
                            <td class="value">
                                <select name="status" id="gold-status-option">
                                    <?php
                                    $status = OpenTechiz_Material_Helper_Data::OPPENTECHIZ_MATERIAL_GOLDBAR_STATUS;
                                    foreach ($status as $key => $status_type) {
                                        echo '<option value='.$key.'>'.$status_type.'</option>';
                                    }
                                    ?>
                                </select>

                            </td>
                        </tr>
                    <?php }
                ?>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>
<div class="clear"></div>

<script>
    jQuery(document).ready(function ($) {
        var goldId = '<?php echo $goldId; ?>';
        $('#gold-select option').each(function (i) {
            if ($(this).val() == goldId) {
                $(this).attr('selected','selected');
            }
        })
    })
</script>