<?php
/* @var $quote Mage_Sales_Model_Quote */
if (Mage::registry('ordersedit_quote')) {
    $quote = Mage::registry('ordersedit_quote');
} else {
    $quote = $this->getQuote();
}
$otherDiscountAmount = Mage::helper('rewards/sales_discount_summary')->getOtherDiscountAmount($quote);
$creditAmountUsed = $quote->getBaseCreditAmountUsed();
if ($creditAmountUsed > 0) {
    $otherDiscountAmount = $otherDiscountAmount - $creditAmountUsed;
}
?>
<?php foreach (Mage::helper('rewards/sales_discount_summary')->getRewardsDiscountMap($quote) as $rewardsDiscountRow) : ?>
    <tr class="rewards-cart-discounts-summary" style="">
        <td class="a-right label" colspan="<?php echo $this->getColspan(); ?>"><?php echo $rewardsDiscountRow['label']; ?></td>
        <td rowspan="1" class="a-right" style="">
            <span class="price"><?php echo Mage::helper('core')->formatPrice($rewardsDiscountRow['discount_amount'] * (-1)); ?></span>
        </td>
    </tr>
<?php endforeach; ?>
<?php if ($otherDiscountAmount > 0) : ?>
    <tr class="rewards-cart-discounts-summary" style="">
        <?php if ($quote->getAppliedRuleIds()): ?>
            <td class="a-right label" colspan="<?php echo $this->getColspan(); ?>"><?php echo $this->__("Discount (%s)", $this->helper('rewardsextended')->getRuleName(explode(",", $quote->getAppliedRuleIds()))); ?></td>
        <?php else: ?>
            <td class="a-right label" colspan="<?php echo $this->getColspan(); ?>"><?php echo $this->__("Discsount"); ?></td>
        <?php endif ?>
        <td class="a-right" style="">
            <span class="price"><?php echo Mage::helper('core')->formatPrice($otherDiscountAmount * (-1)); ?></span>
        </td>
    </tr>
<?php endif; ?>
<tr class="rewards-cart-discounts-summary" style="display: none;background-color: rgba(120, 120, 120, 0.1);">
    <td colspan="<?php echo $this->getColspan() + 1; ?>">&nbsp;</td>
</tr>