<?php if ((float) $this->getSource()->getDiscountAmount()): ?>

    <?php
    $summaryHelper = Mage::helper('rewards/sales_discount_summary');
    $hasRewardsDiscounts = $summaryHelper->hasRewardsDiscountMap($this->getSource());
    $shouldDisplayBoth = (bool) ($this->getTotal($this->getCode())->getValue() != $this->getSource()->getBaseDiscountAmount());
    ?>
    <?php foreach ($summaryHelper->getRewardsDiscountMap($this->getSource()) as $rewardsDiscountRow) : ?>
        <tr class="rewards-cart-discounts-summary">
            <td class="a-right label"><?php echo $this->__("Rewards") . ': ' . $rewardsDiscountRow['label']; ?></td>
            <td class="a-right" style="">
                <?php echo Mage::helper('core')->formatPrice($rewardsDiscountRow['base_discount_amount'] * (-1)); ?>
                <?php if ($shouldDisplayBoth) : ?>
                    <br>
                    <span class="price">
                        <?php echo '[' . $summaryHelper->getOrderCurrencyPrice($rewardsDiscountRow['discount_amount'] * (-1), $this->getSource()) . ']'; ?>
                    </span>
                <?php endif; ?>
            </td>
        </tr>
    <?php endforeach; ?>

    <?php
    list($otherDiscountAmount, $otherBaseDiscountAmount) = $summaryHelper->getOtherDiscountAmount($this->getSource(), true);
    ?>
    <?php if ($otherDiscountAmount > 0) : ?>
        <tr class="rewards-cart-discounts-summary">
            <?php if ($this->getOrder()->getAppliedRuleIds()): ?>
                <td class="a-right label"><?php echo $this->__("Discount (%s)", $this->helper('rewardsextended')->getRuleName(explode(",", $this->getOrder()->getAppliedRuleIds()))); ?></td>
            <?php else: ?>
                <td class="a-right label"><?php echo $this->__("Discount"); ?></td>
            <?php endif ?>
            <td class="a-right" style="">
                <?php echo Mage::getModel('sales/order')->formatPrice($otherBaseDiscountAmount * (-1)); ?>
                <?php if ($shouldDisplayBoth) : ?>
                    <br>
                    <span class="price">
                        <?php echo '[' . $summaryHelper->getOrderCurrencyPrice($otherDiscountAmount * (-1), $this->getSource()) . ']'; ?>
                    </span>
                <?php endif; ?>
            </td>
        </tr>
    <?php endif; ?>
<?php endif; ?>