<div class="std">
	<div class="page-title">
		<h1 style="float:left;"><?php echo Mage::helper('ipsecurity')->__('Error Occurred.'); ?></h1>
	</div>
	<p class="error-icon">Sorry for inconvience it seems like some issue with your order. Please check your Shiping, Billing information or check you Card information.</p>
</div>
