<?php if(Mage::helper('custom')->isCookieVersionExisting()):?>
	<div class="op-acima-block"> 
		<div class="op-main-sec"> 
			<img class="op-close-img" src="<?php echo  $this->getSkinUrl("images/acima/acima-close.png");?>"> 
			<?php echo $this->getChildHtml('top.acima.info');?>
		</div> 
	</div>
	<script nodefer type="text/javascript" data-footer-js-skip="true">

	    function setCookie(cname, cvalue, exdays) {
			  const d = new Date();
			  d.setTime(d.getTime() + (exdays*24*60*60*1000));
			  let expires = "expires="+ d.toUTCString();
			  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
		}
	    function getCookie(cname) {
			  let name = cname + "=";
			  let decodedCookie = decodeURIComponent(document.cookie);
			  let ca = decodedCookie.split(';');
			  for(let i = 0; i <ca.length; i++) {
			    let c = ca[i];
			    while (c.charAt(0) == ' ') {
			      c = c.substring(1);
			    }
			    if (c.indexOf(name) == 0) {
			      return c.substring(name.length, c.length);
			    }
			  }
			  return "";
		}
		if(getCookie("acima-info") === ''){
			var get_cookie = setCookie('acima-info', 'shown', 365);
	    	var check_cookie = getCookie("acima-info");
		}
		if(getCookie("acima-info")==="dontshowitagain"){
	        document.getElementsByClassName("op-acima-block")[0].style.display = 'none'; 
	    }else{
	        document.getElementsByClassName("op-acima-block")[0].style.display = 'block';
	    }
	    document.getElementsByClassName("op-close-img")[0].onclick = function() {
	    	setCookie('acima-info', 'dontshowitagain', 365);
	        document.getElementsByClassName("op-acima-block")[0].style.display = 'none';         
	    };
	</script>
<?php endif;?>

