<a href="#" class="scroll-link js-top" aria-label="<?php echo $this->__('Scroll to Top')?>">
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="23" viewBox="0 0 98.384 59.337"><path d="M98.384 10.257L88.126 0 49.19 38.936 10.257 0 0 10.257l49.08 49.08.11-.11.112.11"></path></svg>
    <span><?php echo $this->__('Top'); ?></span>
</a>