<?php if($this->isOnLiveSite()): ?>
<div class="notification-global" style="background-color: greenyellow;">
    <strong class="label"><?php echo $this->getWarningText() ?></strong>
</div>
<?php endif; ?>