<form id="all_item_edit" action="<?php echo $this->getFormAction(); ?>">
    <div id="all_item_form" class="process-header" style="display: ruby-text; width: 100%">
        <h3 class="icon-head page-header" style="float: left;margin: .3em .5em 0 0;color: #eb5e00 !important;font-size: 1.25em;line-height: 1.2em;"><?php echo $this->_headerText; ?></h3>
        <button type="submit" style="float: right; margin-right: 10px;">Save</button>
    </div>
    <br>
</form>

<?php
echo $this->getLayout()->createBlock('opentechiz_purchase/adminhtml_allItem_grid')->toHtml();
?>

<script>
    function addToForm(id) {
        document.getElementById('all_item_form').innerHTML += '<input type="hidden" form="all_item_edit" name="'+id+'" value="'+document.getElementById(id).value+'" />' ;
    }
</script>
