<?php
$numColumns = sizeof($this->getColumns());
?>
<style>
    .product-configure-popup {display:none;z-index: 9920;position: fixed;top: 40%;left:40%;background: #ffff; border-radius: 5px;box-shadow: 0 1px 2px rgba(0, 0, 0, .2);}
    /*.icon-head {background: #3bafda;padding: 2px 10px;margin: 0px; border-top-left-radius: 5px;border-top-right-radius: 5px; color: azure;}*/
    #product_composite_configure_form_fields {max-height: 600px;overflow: auto;margin-left: 0 !important;padding: 10px 15px;}
    /*.scalable {background-color: #8cc152; margin: 10px; border-radius: 5px;color: azure;font-size: 18px;}*/
    input.input-text{width: 100%;}
</style>
<script type="text/javascript">
    var configureProductToAddUrl = '<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/sales_order_create/configureProductToAdd', array('is_po' => 1, 'is_pending' => 1)); ?>'
</script>

<div id="popup-window-mask" style="display:none; position: absolute;"></div>
<div id="product_composite_configure" class="product-configure-popup" >
    <form action="" method="post" id="product_composite_configure_form" enctype="multipart/form-data" target="product_composite_configure_iframe" onsubmit=" OnSubmitForm(); return false;">
        <div class="entry-edit">
            <div class="entry-edit-head" >
                <h4 class="icon-head fieldset-legend" style=""><?php echo Mage::helper('catalog')->__('Product Option') ?></h4>
            </div>
            <input id="supplier_id_form_post" type="hidden" />
            <input id="product_id_form_post" type="hidden" />
            <div id="product_composite_configure_messages" style="display: none;" >
                <ul class="messages"><li class="error-msg"></li></ul>
            </div>
            <div id="product_composite_configure_form_fields" class="content" style="">
            </div>
            <div id="product_composite_configure_form_additional" style="display:none;"></div>
            <div id="product_composite_configure_form_confirmed" style="display:none;"></div>
            <div style="padding: 10px 15px;">
                <dl>
                    <dt>
                        <label style="font-weight: bold;font-size: 12px;" for="note_form_post">Note</label>
                        <textarea style="vertical-align: top; width: 100%;" id="note_form_post" name="note"></textarea>
                    </dt>
                </dl>
            </div>
            <div class="buttons-set a-right" style="text-align: right !important;">
                <button type="button" class="scalable" onclick="productConfigure.onCancelBtn()" id="product_composite_configure_form_cancel" ><span><span><span><?php echo Mage::helper('catalog')->__('Cancel') ?></span></span></span></button>
                <button id="add_and_view_po" type="submit" class="add_option scalable" onclick="moveToMasterPO();" ><span><span><span><?php echo Mage::helper('catalog')->__('Add and View PO') ?></span></span></span></button>
                <button type="submit" class="add_option scalable" onclick="closeComposite();" ><span><span><span><?php echo Mage::helper('catalog')->__('Add and Close') ?></span></span></span></button>
                <button type="submit" class="add_option scalable" onclick="keepComposite();"><span><span><span><?php echo Mage::helper('catalog')->__('Add and Continue') ?></span></span></span></button>
            </div>
        </div>

        <input type="hidden" name="product_id" />
        <input type="hidden" name="as_js_varname" value="iFrameResponse" />
        <input type="hidden" name="form_key" value="<?php echo $this->getFormKey() ?>" />
    </form>
    <div id="product_composite_configure_confirmed" style="display:none;"></div>

    <script type="text/javascript">
        var productCompositeConfigureForm = new varienForm('product_composite_configure_form');
    </script>
</div>


<?php if($this->canDisplayContainer()): ?>
    <?php if($this->getGridHeader()): ?>
        <div class="content-header">
            <table cellspacing="0">
                <tr>
                    <td style="width:50%;"><h2><?php echo $this->getGridHeader(); ?></h2></td>
                </tr>
            </table>
        </div>
    <?php endif ?>

    <div id="<?php echo $this->getId() ?>">
<?php else: ?>
    <?php echo $this->getMessagesBlock()->toHtml() ?>
<?php endif; ?>
<?php if($this->getPagerVisibility() || $this->getExportTypes() || $this->getFilterVisibility()): ?>
    <table cellspacing="0" class="actions">
        <tr>
            <?php if($this->getPagerVisibility()): ?>
                <td class="pager">
                    <?php echo $this->__('Page') ?>

                    <?php $_curPage  = $this->getCollection()->getCurPage() ?>
                    <?php $_lastPage = $this->getCollection()->getLastPageNumber() ?>
                    <?php if($_curPage>1): ?>
                        <a href="#" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Previous page')) ?>" onclick="<?php echo $this->getJsObjectName() ?>.setPage('<?php echo ($_curPage-1) ?>');return false;"><img src="<?php echo $this->getSkinUrl('images/pager_arrow_left.gif') ?>" alt="<?php echo Mage::helper('core')->quoteEscape($this->__('Go to Previous page')) ?>" class="arrow"/></a>
                    <?php else: ?>
                        <img src="<?php echo $this->getSkinUrl('images/pager_arrow_left_off.gif') ?>" alt="<?php echo Mage::helper('core')->quoteEscape($this->__('Go to Previous page')) ?>" class="arrow"/>
                    <?php endif; ?>

                    <input type="text" name="<?php echo $this->getVarNamePage() ?>" value="<?php echo $_curPage ?>" class="input-text page" onkeypress="<?php echo $this->getJsObjectName() ?>.inputPage(event, '<?php echo $_lastPage ?>')"/>

                    <?php if($_curPage < $_lastPage): ?>
                        <a href="#" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Next page')) ?>" onclick="<?php echo $this->getJsObjectName() ?>.setPage('<?php echo ($_curPage+1) ?>');return false;"><img src="<?php echo $this->getSkinUrl('images/pager_arrow_right.gif') ?>" alt="<?php echo Mage::helper('core')->quoteEscape($this->__('Go to Next page')) ?>" class="arrow"/></a>
                    <?php else: ?>
                        <img src="<?php echo $this->getSkinUrl('images/pager_arrow_right_off.gif') ?>" alt="<?php echo Mage::helper('core')->quoteEscape($this->__('Go to Next page')) ?>" class="arrow"/>
                    <?php endif; ?>

                    <?php echo $this->__('of %s pages', $this->getCollection()->getLastPageNumber()) ?>
                    <span class="separator">|</span>
                    <?php echo $this->__('View') ?>
                    <select name="<?php echo $this->getVarNameLimit() ?>" onchange="<?php echo $this->getJsObjectName() ?>.loadByElement(this)">
                        <option value="20"<?php if($this->getCollection()->getPageSize()==20): ?> selected="selected"<?php endif; ?>>20</option>
                        <option value="30"<?php if($this->getCollection()->getPageSize()==30): ?> selected="selected"<?php endif; ?>>30</option>
                        <option value="50"<?php if($this->getCollection()->getPageSize()==50): ?> selected="selected"<?php endif; ?>>50</option>
                        <option value="100"<?php if($this->getCollection()->getPageSize()==100): ?> selected="selected"<?php endif; ?>>100</option>
                        <option value="200"<?php if($this->getCollection()->getPageSize()==200): ?> selected="selected"<?php endif; ?>>200</option>
                    </select>
                    <?php echo $this->__('per page') ?><span class="separator">|</span>
                    <?php echo $this->__('Total %d records found', $this->getCollection()->getSize()) ?>
                    <span id="<?php echo $this->getHtmlId() ?>-total-count" class="no-display"><?php echo $this->getCollection()->getSize() ?></span>
                    <?php if($this->getRssLists()): ?>
                        <?php foreach ($this->getRssLists() as $_rss): ?>
                            <span class="separator">|</span><a href="<?php echo $_rss->getUrl() ?>" class="link-feed"><?php echo $_rss->getLabel() ?></a>
                        <?php endforeach ?>
                    <?php endif; ?>
                </td>
            <?php endif ?>
            <?php if($this->getExportTypes()): ?>
                <td class="export a-right">
                    <img src="<?php echo $this->getSkinUrl('images/icon_export.gif') ?>" alt="" class="v-middle"/>&nbsp; <?php echo $this->__('Export to:') ?>
                    <select name="<?php echo $this->getId() ?>_export" id="<?php echo $this->getId() ?>_export" style="width:8em;">
                        <?php foreach ($this->getExportTypes() as $_type): ?>
                            <option value="<?php echo $_type->getUrl() ?>"><?php echo $_type->getLabel() ?></option>
                        <?php endforeach; ?>
                    </select>
                    <?php echo $this->getExportButtonHtml() ?>
                </td>
            <?php endif; ?>
            <td class="filter-actions a-right">
                <?php echo $this->getMainButtonsHtml() ?>
            </td>
        </tr>
    </table>
<?php endif; ?>
<?php if($this->getMassactionBlock()->isAvailable()): ?>
    <?php echo $this->getMassactionBlockHtml() ?>
<?php endif ?>
<div class="grid">
    <div class="hor-scroll">
        <table cellspacing="0" class="data" id="<?php echo $this->getId() ?>_table">
            <?php foreach ($this->getColumns() as $_column): ?>
                <col <?php echo $_column->getHtmlProperty() ?> />
            <?php endforeach; ?>
            <?php if ($this->getHeadersVisibility() || $this->getFilterVisibility()): ?>
                <thead>
                <?php if ($this->getHeadersVisibility()): ?>
                    <tr class="headings">
                        <?php foreach ($this->getColumns() as $_column): ?>
                            <th<?php echo $_column->getHeaderHtmlProperty() ?>><span class="nobr"><?php echo $_column->getHeaderHtml() ?></span></th>
                        <?php endforeach; ?>
                    </tr>
                <?php endif; ?>
                <?php if ($this->getFilterVisibility()): ?>
                    <tr class="filter">
                        <?php $i=0;foreach ($this->getColumns() as $_column): ?>
                            <th<?php echo $_column->getHeaderHtmlProperty() ?>><?php echo $_column->getFilterHtml() ?></th>
                        <?php endforeach; ?>
                    </tr>
                <?php endif ?>
                </thead>
            <?php endif; ?>
            <?php if ($this->getCountTotals()): ?>
                <tfoot>
                <tr class="totals">
                    <?php foreach ($this->getColumns() as $_column): ?>
                        <th class="<?php echo $_column->getCssProperty() ?>"><?php echo ($_column->hasTotalsLabel()) ? $_column->getTotalsLabel() : $_column->getRowField($_column->getGrid()->getTotals()) ?>&nbsp;</th>
                    <?php endforeach; ?>
                </tr>
                </tfoot>
            <?php endif; ?>

            <tbody>
            <?php if (($this->getCollection()->getSize()>0) && (!$this->getIsCollapsed())): ?>
                <?php foreach ($this->getCollection() as $_index=>$_item): ?>
                    <tr title="<?php echo $this->getRowUrl($_item) ?>"<?php if ($_class = $this->getRowClass($_item)):?> class="<?php echo $_class; ?>"<?php endif;?> >
                        <?php $i=0;foreach ($this->getColumns() as $_column): ?>

                            <?php if ($this->shouldRenderCell($_item, $_column)):?>
                                <?php $_rowspan = $this->getRowspan($_item, $_column);?>
                                <td <?php echo ($_rowspan ? 'rowspan="' . $_rowspan . '" ' : '') ?>class="<?php echo $_column->getCssProperty() ?> <?php echo ++$i==$numColumns?'last':'' ?>">
                                    <?php echo (($_html = $_column->getRowField($_item)) != '' ? $_html : '&nbsp;') ?>
                                </td>
                                <?php if ($this->shouldRenderEmptyCell($_item, $_column)):?>
                                    <td colspan="<?php echo $this->getEmptyCellColspan($_item)?>" class="last"><?php echo $this->getEmptyCellLabel()?></td>
                                <?php endif;?>
                            <?php endif;?>

                        <?php endforeach; ?>
                    </tr>
                    <?php if ($_multipleRows = $this->getMultipleRows($_item)):?>
                        <?php foreach ($_multipleRows as $_i):?>
                            <tr>
                                <?php $i=0;foreach ($this->getMultipleRowColumns($_i) as $_column): ?>
                                    <td class="<?php echo $_column->getCssProperty() ?> <?php echo ++$i==$numColumns-1?'last':'' ?>">
                                        <?php echo (($_html = $_column->getRowField($_i)) != '' ? $_html : '&nbsp;') ?>
                                    </td>
                                <?php endforeach; ?>
                            </tr>
                        <?php endforeach;?>
                    <?php endif;?>

                    <?php if ($this->shouldRenderSubTotal($_item)): ?>
                        <tr class="subtotals">
                            <?php $i = 0; foreach ($this->getSubTotalColumns() as $_column): ?>
                                <td class="<?php echo $_column->getCssProperty() ?> <?php echo ++$i == $numColumns ? 'last' : '' ?>">
                                    <?php echo ($_column->hasSubtotalsLabel() ? $_column->getSubtotalsLabel() :
                                        $_column->getRowField($this->getSubTotalItem($_item))
                                    );
                                    ?>
                                </td>
                            <?php endforeach; ?>
                        </tr>
                    <?php endif; ?>
                <?php endforeach; ?>
            <?php elseif ($this->getEmptyText()): ?>
                <tr>
                    <td class="empty-text <?php echo $this->getEmptyTextClass() ?>" colspan="<?php echo $numColumns ?>"><?php echo $this->getEmptyText() ?></td>
                </tr>
            <?php endif; ?>
            </tbody>

        </table>
    </div>
</div>
<?php if($this->canDisplayContainer()): ?>
    </div>
<script type="text/javascript">
    //<![CDATA[
    <?php echo $this->getJsObjectName() ?> = new varienGrid('<?php echo $this->getId() ?>', '<?php echo $this->getGridUrl() ?>', '<?php echo $this->getVarNamePage() ?>', '<?php echo $this->getVarNameSort() ?>', '<?php echo $this->getVarNameDir() ?>', '<?php echo $this->getVarNameFilter() ?>');
    <?php echo $this->getJsObjectName() ?>.useAjax = '<?php echo $this->getUseAjax() ?>';
    <?php if($this->getRowClickCallback()): ?>
    <?php echo $this->getJsObjectName() ?>.rowClickCallback = <?php echo $this->getRowClickCallback() ?>;
    <?php endif; ?>
    <?php if($this->getCheckboxCheckCallback()): ?>
    <?php echo $this->getJsObjectName() ?>.checkboxCheckCallback = <?php echo $this->getCheckboxCheckCallback() ?>;
    <?php endif; ?>
    <?php if($this->getRowInitCallback()): ?>
    <?php echo $this->getJsObjectName() ?>.initRowCallback = <?php echo $this->getRowInitCallback() ?>;
    <?php echo $this->getJsObjectName() ?>.initGridRows();
    <?php endif; ?>
    <?php if($this->getMassactionBlock()->isAvailable()): ?>
    <?php echo $this->getMassactionBlock()->getJavaScript() ?>
    <?php endif ?>
    <?php echo $this->getAdditionalJavaScript(); ?>

    var submitted = false;
    var closedComposite = false;
    var movedToMasterPO = false;

    function ProductAdd(obj){
        var productId = jQuery(".massaction-checkbox")[0].value;

        configureProductToAddUrl += 'supplier_id/' + jQuery(obj).val() + '/is_quote/0/';
        document.getElementById('product_id_form_post').value = productId;
        jQuery.ajax({
            type: "POST",
            url: "<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/purchase_product/getPoIdToAddProduct'); ?>",
            data: {product_id: productId, sup_id: jQuery(obj).val()},
            success: function (response) {
                if(response){
                    var label = 'Add and View ' + response;
                    jQuery('#add_and_view_po').text(label);
                }else{
                    jQuery('#add_and_view_po').text('Add and View new PO');
                }
            }
        });
 
        productConfigure = new ProductConfigure();
        productConfigure.addListType('product_to_add', {
            urlFetch: configureProductToAddUrl
        });
        productConfigure.showItemConfiguration('product_to_add', productId);
    }

    jQuery('#product_composite_configure_form_fields').bind("DOMSubtreeModified",function(){
        jQuery(".price-notice").remove();
    });

    function checkValidForm() {
        var formInputs = document.getElementsByClassName('product-custom-option');
        for(var i = 0; i < formInputs.length; i++){
            if(!formInputs[i].value){
                return false;
            }
        }
        return true;
    }

    function closeComposite() {
        closedComposite = true;
        movedToMasterPO = false;
    }
    function keepComposite() {
        closedComposite = false;
        movedToMasterPO = false;
    }
    function moveToMasterPO() {
        movedToMasterPO = true;
    }

    function OnSubmitForm() {
        if(checkValidForm()) {
            var id = jQuery('#product_id_form_post').val();
            var checkbox = jQuery("input[name='product[" + id + "][id]']");
            checkbox.prop("checked", false);
            var ar = jQuery('#product_composite_configure_form').serializeArray();
            ar.reverse();
            ar.splice(0, 4);
            var qty = jQuery("input[id='product_composite_configure_input_qty']")[0].value;
            var sup_id = jQuery("select[name='supplier_id']")[0].value;
            var note = jQuery("textarea[id='note_form_post']")[0].value;
            jQuery.ajax({
                type: "POST",
                url: "<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/purchase_product/addProductToMasterPO'); ?>",

                data: {option: ar, product_id: id, sup_id: sup_id, qty: qty, note: note},
                success: function (response) {
                    //jQuery('#wait-modal').modal('hide');
                    if (!response.includes("Error")) {
                        if (closedComposite === true) {
                            jQuery("#product_composite_configure").css({"display": 'none'});
                        }
                        
                        if (movedToMasterPO === true) {
                            var url = '<?php echo $this->getUrl('adminhtml/purchase_product/edit') ?>' + 'id/' + response;
                            console.log(url);
                            window.location.href = url;
                            movedToMasterPO = false;
                        }

                        jQuery('#popup-window-mask').hide();
                    }else{
                        alert(response);
                        jQuery('#popup-window-mask').hide();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // error handling
                    console.log('ajax search error');
                    jQuery('#popup-window-mask').hide();
                }
            });
        }
    }

</script>
<?php endif; ?>

<script type="text/javascript">
    //add html for supplier select
    var buttonDiv = document.getElementsByClassName('form-buttons')[0];
    var html = '<?php echo $this->getSupplierHtml() ?>';
    buttonDiv.innerHTML = html;
    buttonDiv.style.textAlign = 'left';

    //check if 1 result => show select drop down
    var resultFilter = jQuery(".massaction-checkbox");
    if(resultFilter.length === 1){
        jQuery.ajax({
            type: "POST",
            url: "<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/erpProduct/getSupplierPurchasedListRadioBox'); ?>",

            data: {product_id: resultFilter[0].value },
            success:function(response){
                document.getElementById("supplier_select").innerHTML =  response['html'];

                jQuery('#popup-window-mask').hide();
                if(response['html'] !== 'No data'){
                    document.getElementById("supplier_select").style.display = 'block';
                }
            },
        });

    }else{
        document.getElementById("supplier_select").style.display = 'none';
    }
</script>