<?php
$po_id = $this->getRequest()->getParam('id');
$isEditing = false;
$collection = Mage::getModel('opentechiz_purchase/orderitem')->getCollection()->addFieldToFilter('po_id', $po_id);
$currentReturn = Mage::getModel('opentechiz_purchase/poreturn')->getCollection()->addFieldToFilter('po_id', $po_id);
if(count($currentReturn) > 0){
    $isEditing = true;
    $currentReturn = $currentReturn->getFirstItem();
}
?>

<div class="grid">
    <table id="purchaseorder-items_table" class="data order-tables" cellspacing="0">
        <colgroup><col>
            <col width="400">
            <col width="100">
            <col width="100">
            <col width="100">
            <col width="200">
        </colgroup><thead>
        <tr class="headings">
            <th class="no-link">Product</th>
            <th class="no-link">Delivered Qty</th>
            <th class="no-link">Price </th>
            <th class="no-link">Returned Qty</th>
            <th class="no-link">Total </th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($collection as $item){ ?>
            <?php $productId = $item->getProductId();
            $productSku = $item->getSku();?>
            <tr id="product_<?php echo $productSku; ?>" class="even item_purchase">
                <td class="first">
                    <div>
                        <strong>SKU:</strong><?php echo Mage::helper('opentechiz_purchase')->getTagSku($productSku); ?>
                        <input class="required-entry input-text" type="hidden" name="item[<?php echo $productSku ?>][sku]" value="<?php echo $productSku; ?>">
                    </div>
                </td>
                <td class="first" id="delivered_qty_<?php echo $productSku; ?>">
                    <?php echo $item->getDeliveredQty(); ?>
                </td>
                <td class="first" id="price_<?php echo $productSku; ?>">
                    <?php echo number_format((float)$item->getPrice(), 2, '.', ''); ?>
                </td>
                <td class="first">
                    <input id="return_qty_<?php echo $productSku; ?>" class="required-entry input-text return_qty" type="number" name="item[<?php echo $productSku ?>][return_qty]" value="0" onchange="updateTotal('<?php echo $productSku ?>')" min="0" max="<?php echo $item->getDeliveredQty(); ?>">
                </td>
                <td class="first" id="total_<?php echo $productSku; ?>">
                </td>
            </tr>
        <?php } ?>
        </tbody>
    </table>
</div>

<script>
    var skus = [];
    function updateTotal(sku) {
        var price = parseFloat(document.getElementById('price_'+sku).innerText);
        var qty = parseFloat(document.getElementById('return_qty_'+sku).value);
        var total = price*qty;
        if(isNaN(total)) total = 0;

        document.getElementById('total_'+sku).innerText = total;

        var finaltotal = 0;
        for (var i = 0; i< skus.length; i++){
            var price = parseFloat(document.getElementById('price_'+skus[i]).innerText);
            var qty = parseFloat(document.getElementById('return_qty_'+skus[i]).value);
            if(isNaN(price*qty)) {
                finaltotal += 0;
            }else {
                finaltotal += price * qty;
            }
        }

        document.getElementById('total').value = finaltotal;
    }

    <?php if($isEditing){?>
        <?php foreach (unserialize($currentReturn->getItem()) as $item){ ?>
            var qty = '<?php echo $item['return_qty'] ?>';
            document.getElementById('return_qty_<?php echo $item['sku'] ?>').value = qty;

            var delivered = document.getElementById('delivered_qty_<?php echo $item['sku'] ?>').innerText;
            document.getElementById('delivered_qty_<?php echo $item['sku'] ?>').innerText = parseInt(qty) + parseInt(delivered);
            document.getElementById('return_qty_<?php echo $item['sku'] ?>').max = parseInt(qty) + parseInt(delivered);
        <?php }?>
    <?php } ?>

    <?php foreach ($collection as $item){ ?>
    skus.push('<?php echo $item->getSku() ?>');
    <?php } ?>

    <?php foreach ($collection as $item){ ?>
    updateTotal("<?php echo $item->getSku() ?>");
    <?php } ?>

    <?php if($isEditing){?>
        document.getElementById('total').value = '<?php echo $currentReturn->getTotal() ?>';
        document.getElementById('reason').value = '<?php echo $currentReturn->getReason() ?>';
        document.getElementById('note').value = '<?php echo $currentReturn->getNote() ?>';
    <?php } ?>
</script>
