<div class="block block-login">
    <p class="skip-title h3">
        <?php echo $this->__('New customer? - Register') ?>
    </p>
    <div class="block-content">
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('new_account_popup')->toHtml(); ?>
        <a class="button button-register btn-short" href="<?php echo $this->getCreateAccountUrl() ?>" rel="nofollow">
            <?php echo $this->__('Register') ?>
        </a>
    </div>
</div>
