<div class="block block-login">
    <p class="skip-title h3">
        <?php echo $this->__('Existing customer? - Log In') ?>
    </p>
    <form action="<?php echo $this->getPostActionUrl() ?>" method="post">
        <?php echo $this->getBlockHtml('formkey'); ?>
        <div class="block-content">
            <label for="mini-login"><?php echo $this->__('Email Address') ?></label>
            <input type="email" autocapitalize="off" spellcheck="false" name="login[username]" id="mini-login" class="input-text" />

            <label for="mini-password"><?php echo $this->__('Password') ?></label>
            <input type="password" name="login[password]" id="mini-password" class="input-text" />
            <div class="actions">
                <a href="<?php echo $this->getForgotPasswordUrl() ?>" class="f-left popup-forgot-link" rel="nofollow"><?php echo $this->__('Forgot password?') ?></a>
                <button type="submit" class="button btn-short"><span><span><?php echo $this->__('Login') ?></span></span></button>
            </div>
        </div>
    </form>
</div>
