<?php
/** @var Cadence_Pinterest_Helper_Data $helper */
$helper = Mage::helper("cadence_pinterest");
if (!$helper->isConversionPixelEnabled()) {
    return;
}
$id = $helper->getTagId();
?>
<?php
$order_id = Mage::getSingleton('checkout/session')->getLastOrderId();
if (!$order_id || intval($order_id) < 1) {
    //Failsafe for bad order id
    return;
}
/** @var Mage_Sales_Model_Order $order */
$order = Mage::getModel('sales/order')->load($order_id);
$grand_total = round($order->getGrandTotal(), 2);
$currency_code = Mage::app()->getStore()->getCurrentCurrencyCode();
$qtyOrdered = $helper->getOrderItemsQty();
$orderItemJson = $helper->getOrderItemsJson();
?>
<!-- Pinterest Conversion Code for Conversions -->
<script>
    pintrk('track','checkout', {
        value: <?php echo $grand_total ?>,
        currency: '<?php echo $currency_code ?>',
        order_id: <?php echo $order->getIncrementId() ?>,
        promo_code:'<?php echo $order->getCouponCode() ?>',
        order_quantity: <?php echo $qtyOrdered; ?>,
        line_items: <?php echo $orderItemJson ?>
    });
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt=""
     src="https://ct.pinterest.com/v3/?tid=<?php echo $id ?>&event=checkout&ed[value]=<?php echo $grand_total ?>&ed[order_quantity]=<?php echo $qtyOrdered
     ?>&ed[currency]=<?php echo $currency_code ?>&ed[order_id]=<?php echo $order->getIncrementId() ?>&noscript=1"/>
</noscript>
