<?php
/** @var Cadence_Pinterest_Helper_Data $helper */
$helper = Mage::helper("cadence_pinterest");
if (!$helper->isVisitorPixelEnabled()) {
    return;
}
$id = $helper->getTagId();
?>
<script>
	pintrk('track', 'pagevisit');
</script>
<script>
	pintrk('track', 'lead', {
		search_query: 'boots',
		lead_type: 'Newsletter'
	});
</script>
<noscript>
  <img height="1" width="1" style="display:none;" alt="" src="https://ct.pinterest.com/v3/?tid=<?php echo $id ?>&event=pagevisit&noscript=1" />
</noscript>