<?php
/** @var Cadence_Pinterest_Helper_Data $helper */
$helper = Mage::helper("cadence_pinterest");
if (!$helper->isVisitorPixelEnabled()) {
    return;
}
$id = $helper->getTagId();
?>
<!-- fpc_pinterest_pixel_begin -->
<!-- Pinterest Pixel Base Code -->
<script nodefer type="text/javascript" data-footer-js-skip="true">
!function(e){if(!window.pintrk){window.pintrk=function(){window.pintrk.queue.push(Array.prototype.slice.call(arguments))};var n=window.pintrk;n.queue=[],n.version="3.0";var t=document.createElement("script");t.async=!0,t.src=e;var r=document.getElementsByTagName("script")[0];r.parentNode.insertBefore(t,r)}}("https://s.pinimg.com/ct/core.js");
<?php  if(Mage::getSingleton('customer/session')->isLoggedIn()){
	$customer = Mage::getSingleton('customer/session')->getCustomer();
	$email = $customer->getEmail();
	$email_hash  = md5($email);
?>
        pintrk('load','<?php echo $id ?>',{em: '<?php echo $email_hash;?>'});
<?php }else{?>
		pintrk('load','<?php echo $id ?>');
<?php }?>

pintrk('page');
</script>
<!-- End Pinterest Pixel Base Code -->
<noscript>
	<?php  if(Mage::getSingleton('customer/session')->isLoggedIn()){
	$customer = Mage::getSingleton('customer/session')->getCustomer();
	$email = $customer->getEmail();
	$email_hash  = md5($email);
?>
        <p style="display:none;" ><img height="1" width="1" style="display:none;" alt=""
			src="https://ct.pinterest.com/v3/?tid=<?php echo $id ?>&pd[em]=<?php echo $email_hash;?>&noscript=1" /></p>
<?php }else{?>
		<p style="display:none;" ><img height="1" width="1" style="display:none;" alt=""
			src="https://ct.pinterest.com/v3/?tid=<?php echo $id ?>&noscript=1" /></p>
<?php }?>

</noscript>
<!-- fpc_pinterest_pixel_end -->