<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Ajaxcartpro
 * @version    3.2.11
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div>
    <?php
        $_product = $this->getProduct();
        $_taxHelper = $this->helper('tax');
    ?>
    <?php $buttonTitle = !$_product->getC2cDispCustomStockMsg() ? $this->__('Add to Cart') : $this->helper('pre_order')->getPreOrderLabel(); ?>
    <script type="text/javascript">
        optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
        optionsPrice.productType = '<?php echo $_product->getTypeId() ?>';
        if (typeof(Enterprise) != 'undefined' && typeof(Enterprise.Bundle) != 'undefined') {
            (function(){
                var oldFn = Enterprise.Bundle.swapReloadPrice;
                Enterprise.Bundle.swapReloadPrice = function() {
                    if (Enterprise.Bundle.isSwaped === true) {
                        return;
                    }
                    oldFn();
                    Enterprise.Bundle.isSwaped = true;
                }
            })();
        }
        if (optionsPrice.productType == "bundle") {
            var taxCalcMethod = undefined;
            var CACL_UNIT_BASE = undefined;
            var CACL_ROW_BASE = undefined;
            var CACL_TOTAL_BASE = undefined;
        }
    </script>

    <form action="<?php echo Mage::helper('ajaxcartpro/catalog')->getSubmitUrl($this, $_product) ?>" method="post"
          id="product-addtocart-form-acp"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
        <input type="hidden" value="<?php echo $_product->getId() ?>" name="product">
        <input type="hidden" value="1" name="awacp-options-form" />
        <input type="hidden" value="0" name="options[partialpayment]" />
        <div id="bundle-product-wrapper">
            <div id="acp-product-options">
                <div id="product-options-wrapper">
                    <ul class="acp-msg-block ajaxcartpro-box-hide"></ul>
                    <div class="popup-gallery">
                        <h3 class="popup-title"><?php echo $_product->getName() ?></h3>
                        <?php
                        $_helper = $this->helper('catalog/output');
                        ?>
                        <div class="product-image product-image-zoom">
                            <div class="product-image-gallery">
                                <div class="js-popup-gallery">
                                    <?php foreach ($_product->getMediaGalleryImages() as $_image): ?>
                                        <?php $thumbnailUrl = $this->helper('catalog/image')
                                                ->init($_product, 'image', $_image->getFile())
                                                ->keepFrame(false)
                                                ->constrainOnly(true)->resize(375); ?>
                                        <img class="cart-gallery-image" src="<?php echo $thumbnailUrl; ?>" />
                                    <?php endforeach; ?>
                                </div>

                                <div class="popup-thumbnails js-popup-thumbnails <?php if (count($_product->getMediaGalleryImages()) <= 3): ?> no-padding <?php endif; ?>">
                                    <?php foreach ($_product->getMediaGalleryImages() as $_image): ?>
                                        <?php $thumbnailUrl = $this->helper('catalog/image')
                                                ->init($_product, 'image', $_image->getFile())
                                                ->keepFrame(false)
                                                ->constrainOnly(true)->resize(64); ?>
                                        <div class="popup-thumbnail">
                                            <img class="cart-thumbnail-image" src="<?php echo $thumbnailUrl; ?>" />
                                        </div>
                                    <?php endforeach; ?>
                                </div>
                            </div>
                        </div>
                        <div class="order-success-share-icons">
                            <a href="#0" onclick="popWin('https://twitter.com/intent/tweet?text=<?php echo urlencode($this->__('Check this out!')); ?>&url=<?php echo urlencode($_product->getProductUrl()); ?>','compare','top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes')">
                                <img class="social-logo" src="<?php echo $this->getSkinUrl('images/email/twitter_colour.png'); ?>" alt="twitter"/>
                            </a>
                            <a href="#0" onclick="popWin('https://www.facebook.com/sharer.php?u=<?php echo urlencode($_product->getProductUrl()); ?>&p[title]=<?php echo urlencode($this->__('Check this out!')); ?>','compare','top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes')">
                                <img class="social-logo" src="<?php echo $this->getSkinUrl('images/email/fb_colour.png'); ?>" alt="facebook"/>
                            </a>
                            <a href="#0" onclick="popWin('http://pinterest.com/pin/create/button/?url=<?php echo urlencode($_product->getProductUrl()); ?>&description=<?php echo urlencode($this->__('Check this out!')); ?>&media=<?php echo urlencode($this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize(500)); ?>','compare','top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes')">
                                <img class="social-logo" src="<?php echo $this->getSkinUrl('images/email/pinterest_colour.png'); ?>" alt="pinterest"/>
                            </a>
                            <a href="#0" onclick="popWin('mailto:?subject=<?php echo urlencode($this->__('Check this out!')); ?>&body=<?php echo urlencode($_product->getProductUrl()); ?>','compare','top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes')">
                                <img class="social-logo" src="<?php echo $this->getSkinUrl('images/email/email_colour.png'); ?>" alt="email"/>
                            </a>
                        </div>
                        <p class="social-heading">Login and earn up to 3,000 points for sharing!</p>
                    </div>
                    <div class="popup-content">
                        <h3 class="popup-title"><?php echo $_product->getName() ?></h3>

                        <?php if ($_product->getData('c2c_call_for_price') !== '1') : ?>
                        <?php echo $this->getChildHtml('product_price');?>

                        <?php
                            $_store = $_product->getStore();
                            $_convertedPrice = $_store->roundPrice($_store->convertPrice($_product->getPrice()));
                            $_convertedFinalPrice = $_store->roundPrice($_store->convertPrice($_product->getFinalPrice()));

                            $_price = $_taxHelper->getPrice($_product, $_convertedPrice);
                            $_finalPrice = $_taxHelper->getPrice($_product, $_convertedFinalPrice);
                        ?>

                        <?php if ($_finalPrice < $_price) : ?>
                        <?php $_savePercent = 100 - round(($_finalPrice / $_price) * 100); ?>
                            <p class="popup-savings">
                                <span class="label"><?php echo $this->__('Saving') ?></span>
                                <span class="percent">
                                    <?php echo $_savePercent; ?>%
                                </span>
                            </p>
                        <?php endif; ?>

                        <?php else: ?>
                        <div class="out-of-stock-notice contact-notice">
                            <div class="inner-stock-notice">
                                <p><?php echo $this->__('Please contact us for price and availability'); ?></p>
                            </div>
                        </div>
                        <?php endif; ?>

                        <?php echo Mage::getBlockSingleton('catalog/product_view')->getReviewsSummaryHtml($_product); ?>
                        <?php
                        if ($this->helper('pre_order')->canPreOrder($_product)) {
                            ?>
                            <div class="pre-order-label">
                                <?php $this->helper('pre_order')->showPreOrderMessage($_product); ?>
                            </div>
                            <?php
                        }
                        ?>
                        <div class="popup-info">
                            <p class="popup-code">
                                <strong><?php echo $this->__('Item Code: %s', $_product->getSku()); ?></strong>
                            </p>
                            <ul class="popup-actions">
                                <li>
                                    <a href="<?php echo $this->helper('amlist')->getAddUrl($_product) ?>" onclick="return am_add_to_list_popup(this.href)" rel="nofollow">
                                        <svg width="13" height="12" version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 91.46">
                                            <path d="M50 91.46c3.943-3.943 26.457-26.47 40.532-40.543 12.61-12.61 12.34-30.992.876-42.395-11.465-11.406-30.004-11.356-41.41.11-11.402-11.466-29.94-11.516-41.406-.11-11.465 11.403-11.732 29.784.876 42.395C23.54 64.99 46.058 87.517 50 91.46z"/>
                                        </svg>
                                        <?php echo $this->__('Add to Wishlist'); ?>
                                    </a>
                                </li>
                                <li>
                                    <a href="<?php echo $this->helper('catalog/product_compare')->getAddUrl($_product); ?>" rel="nofollow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="13" viewBox="0, 0, 81, 62.941">
                                            <path d="M76.798 34.646H56v-8.39c0-2.496-1.334-3.168-3.186-1.492l-17.122 15.58c-1.852 1.676-1.805 4.42.046 6.095l17.054 15.577C54.645 63.695 56 63.023 56 60.525v-8.88h20.798c2.498 0 4.202-1.782 4.202-4.28v-7.947c0-2.497-1.704-4.772-4.202-4.772z"/>
                                            <path d="M45.317 16.503L28.234.923C26.384-.753 25-.08 25 2.417v9.23H4.24c-2.496 0-4.24 1.433-4.24 3.93v7.947c0 2.495 1.743 5.12 4.24 5.12H25v8.04c0 2.496 1.353 3.168 3.205 1.49L45.335 22.6c1.853-1.676 1.834-4.42-.018-6.095z"/>
                                        </svg>
                                        <?php echo $this->__('Add to Compare'); ?>
                                    </a>
                                </li>
                                <li>
                                    <?php $this->getLayout()->getBlock('alert.urls')->getChild('productalert_price')->preparePriceAlertData(); ?>
                                    <a href="<?php echo $this->getLayout()->getBlock('alert.urls')->getChild('productalert_price')->getSignupUrl() ?>">
                                        <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 493 500">
                                            <path d="M246.602 90.02c52.135 0 98.44 24.944 127.648 63.546L318.603 210H493V33.134L437.826 89.09C391.986 34.647 323.346.035 246.602.035 122.172.035 19.017 91-.13 210h91.8c17.758-69 80.39-119.98 154.932-119.98z"/>
                                            <path d="M246.602 409.98c-51.04 0-96.49-23.904-125.78-61.124L179.6 290H0v179.836l56.964-57.04c45.83 53.36 113.78 87.168 189.638 87.168C371.034 499.964 474.185 409 493.337 290h-91.8C383.773 359 321.14 409.98 246.6 409.98z"/>
                                        </svg>
                                        <?php echo $this->__('Get Price Update'); ?>
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:?subject=<?php echo urlencode($this->__('Check this out!')); ?>&body=<?php echo urlencode($_product->getProductUrl()); ?>" target="_blank">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="11" viewBox="0, 0, 97.683, 63.674">
                                            <path d="M6.54 0C5.7 0 4.892.175 4.153.464L48.686 37.34 93.876.615C93.04.225 92.126 0 91.146 0H6.54z"/>
                                            <path d="M97.45 4.88L50.425 43.096c-.513.416-1.134.62-1.755.62-.633 0-1.26-.216-1.772-.638L.348 4.53C.138 5.172 0 5.84 0 6.54v50.595c0 .767.154 1.492.394 2.18L26.336 33.99c1.103-1.07 2.863-1.054 3.935.046 1.074 1.098 1.05 2.854-.043 3.932L4.317 63.264c.692.25 1.44.41 2.222.41h84.605c.877 0 1.71-.18 2.48-.49L67.6 37.774c-1.104-1.07-1.122-2.837-.045-3.932 1.07-1.104 2.827-1.12 3.933-.044l25.882 25.26c.19-.61.313-1.25.313-1.922V6.54c0-.575-.096-1.122-.233-1.66z"/>
                                            <path d="M97.45 4.88L50.425 43.096c-.513.416-1.134.62-1.755.62-.633 0-1.26-.216-1.772-.638L.348 4.53C.138 5.172 0 5.84 0 6.54v50.595c0 .767.154 1.492.394 2.18L26.336 33.99c1.103-1.07 2.863-1.054 3.935.046 1.074 1.098 1.05 2.854-.043 3.932L4.317 63.264c.692.25 1.44.41 2.222.41h84.605c.877 0 1.71-.18 2.48-.49L67.6 37.774c-1.104-1.07-1.122-2.837-.045-3.932 1.07-1.104 2.827-1.12 3.933-.044l25.882 25.26c.19-.61.313-1.25.313-1.922V6.54c0-.575-.096-1.122-.233-1.66z"/>
                                        </svg>
                                        <?php echo $this->__('Email a Friend'); ?>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <script>

                            var am_add_to_list_popup = function (lnk){
                                var block = $('product-addtocart-form-acp');
                                if(block) {
                                    var validator = new Validation(block);
                                    if (validator.validate()) {
                                        var	data = jQuery('#product-addtocart-form-acp').serializeArray();
                                        var   form = document.createElement("form"),
                                            node = document.createElement("input");

                                        form.action  = lnk;

                                        data.each(function(item) {
                                            node.name  = item.name;
                                            node.value = item.value;
                                            form.appendChild(node.cloneNode());
                                        });

                                        form.style.display = "none";
                                        form.setAttribute("method", "POST");
                                        document.body.appendChild(form);

                                        form.submit();
                                        document.body.removeChild(form);
                                    }
                                }
                                else
                                    document.location.href = lnk;

                                return false;
                            }
                        </script>

                        <?php if (!Mage::helper('medialounge_catalog')->canPurchaseProduct($_product)): ?>
                            <div class="out-of-stock-notice">
                                <div class="inner-stock-notice">
                                    <p><?php echo $this->__('Item is out of stock'); ?></p>
                                </div>
                            </div>
                        <?php endif; ?>

                        <div id="acp-product-type-data" class="ajaxcartpro-box-hide">
                            <?php echo $this->getChildHtml('product_type_data') ?>
                        </div>

                        <div class="popup-info">
                            <div class="popup-contact">
                                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('quick_buy_contact')->toHtml(); ?>
                            </div>
                            <div class="popup-attributes">
                                <dl>
                                    <dt>Warranty</dt>
                                    <dd><?php echo $this->getProductWarranty(); ?></dd>
                                    <dt class="alt">Size</dt>
                                    <dd class="alt"><?php echo $this->getProductSize(); ?></dd>
                                    <dt>Gift Box <span class="info" data-tooltip="<?php echo strip_tags($this->getLayout()->createBlock('cms/block')->setBlockId('gift_tooltip')->toHtml()); ?>">i</span></dt>
                                    <dd><?php echo $this->getProductGiftBox(); ?></dd>
                                </dl>
                            </div>
                        </div>

                        <?php if (Mage::helper('medialounge_catalog')->canPurchaseProduct($_product) && $_product->getData('c2c_call_for_price') !== '1'): ?>
                            <div class="popup-options">
                                <?php echo str_replace('var ', '', $this->getChildHtml('product_options'));?>
                                <?php echo $this->getChildHtml('product_configurable_options');?>
                                <?php echo $this->getChildHtml('product_downloadable_options');?>
                                <?php echo $this->getChildHtml('product_bundle_options');?>
                                <?php if(!$_product->isGrouped()): ?>
                                    <div class="popup-quantity">
                                        <label for="qty"><?php echo $this->__('Qty') ?></label>
                                        <input type="text" name="qty" id="qty" maxlength="12" value="<?php echo max($this->getProductDefaultQty() * 1, 1)?>" title="<?php echo $this->__('Qty') ?>" class="input-text qty" />
                                        <button type="button" class="qty-button js-button-up">+</button>
                                        <button type="button" class="qty-button js-button-down">-</button>
                                    </div>
                                <?php endif; ?>
                            </div>
                        <?php endif; ?>
                        <div class="aw-acp-btn-container">
                            <a href="#" class="aw-acp-continue"><?php echo $this->__('&times;')?></a>
                            <?php if (Mage::helper('medialounge_catalog')->canPurchaseProduct($_product) && $_product->getData('c2c_call_for_price') !== '1'): ?>
                                <a href="#" class="aw-acp-checkout focus">
                                    <?php echo $buttonTitle?>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="17" viewBox="5.292 20.218 95.233 64.768" class="icon"><path d="M42.33 68.755c-4.484 0-8.12 3.636-8.12 8.118 0 4.48 3.63 8.112 8.12 8.112 4.485 0 8.12-3.634 8.12-8.112 0-4.482-3.638-8.118-8.12-8.118zm41.73 0c-4.483 0-8.128 3.636-8.12 8.118 0 4.48 3.637 8.112 8.12 8.112 4.488 0 8.116-3.634 8.116-8.112 0-4.482-3.635-8.118-8.117-8.118zm-47.28-3.93c-1.67 0-3.194-.987-3.873-2.526L21.744 36.99l-6.535-8.308H9.52c-2.338 0-4.233-1.896-4.233-4.233s1.896-4.24 4.233-4.24h7.74c1.298 0 2.524.594 3.327 1.615l8.12 10.32 67.41-2.76c1.378-.054 2.714.57 3.55 1.68.838 1.11 1.078 2.56.64 3.88l-8.27 25.034c-.55 1.68-2.09 2.837-3.86 2.903l-51.24 1.93-.16.002z"></path></svg>
                                </a>
                            <?php else: ?>
                                <a href="#" style="display: none" class="aw-acp-checkout">
                                    <?php echo $this->__('Add to cart')?>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="17" viewBox="5.292 20.218 95.233 64.768" class="icon"><path d="M42.33 68.755c-4.484 0-8.12 3.636-8.12 8.118 0 4.48 3.63 8.112 8.12 8.112 4.485 0 8.12-3.634 8.12-8.112 0-4.482-3.638-8.118-8.12-8.118zm41.73 0c-4.483 0-8.128 3.636-8.12 8.118 0 4.48 3.637 8.112 8.12 8.112 4.488 0 8.116-3.634 8.116-8.112 0-4.482-3.635-8.118-8.117-8.118zm-47.28-3.93c-1.67 0-3.194-.987-3.873-2.526L21.744 36.99l-6.535-8.308H9.52c-2.338 0-4.233-1.896-4.233-4.233s1.896-4.24 4.233-4.24h7.74c1.298 0 2.524.594 3.327 1.615l8.12 10.32 67.41-2.76c1.378-.054 2.714.57 3.55 1.68.838 1.11 1.078 2.56.64 3.88l-8.27 25.034c-.55 1.68-2.09 2.837-3.86 2.903l-51.24 1.93-.16.002z"></path></svg>
                                </a>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            if (typeof(Enterprise) != 'undefined' && typeof(Enterprise.Bundle) != 'undefined') {
                $H(optionsPrice.containers).each(function(pair){
                    if (!$(pair.value) && $(pair.value + optionsPrice.duplicateIdSuffix)) {
                        $(pair.value + optionsPrice.duplicateIdSuffix).setAttribute('id', pair.value);
                    }
                });
            }
        </script>
    </form>
    <script type="text/javascript">
        decorateGeneric($$('#product-options-wrapper dl'), ['last']);
        var productAddToCartFormAcp = new VarienForm('product-addtocart-form-acp');
        var validateDownloadableCallback = function (elmId, result) {
            var container = $('downloadable-links-list');
            if (result == 'failed') {
                container.removeClassName('validation-passed');
                container.addClassName('validation-failed');
            } else {
                container.removeClassName('validation-failed');
                container.addClassName('validation-passed');
            }
        };

        var validateOptionsCallback = function(elmId, result) {
            var container = $(elmId).up('ul.options-list');
            if (result == 'failed') {
                container.removeClassName('validation-passed');
                container.addClassName('validation-failed');
            } else {
                container.removeClassName('validation-failed');
                container.addClassName('validation-passed');
            }
        };

        jQuery('.js-popup-gallery').slick({
            slidesToShow: 1,
            accessibility: false,
            draggable: false,
            arrows: false,
            responsive: [
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 1,
                        centerMode: true,
                        centerPadding: '25px'
                    }
                }
            ]
        });

        jQuery('.js-popup-thumbnails').slick({
            slidesToShow: 3,
            accessibility: false,
            draggable: false,
            focusOnSelect: true,
            asNavFor: '.js-popup-gallery',
            nextArrow: '<button type="button" class="slick-next" aria-label="Next" ><svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 98.384 59.337"><path d="M98.384 10.257L88.126 0 49.19 38.936 10.257 0 0 10.257l49.08 49.08.11-.11.112.11"/></svg></button>',
            prevArrow: '<button type="button" class="slick-prev" aria-label="Previous" ><svg xmlns="http://www.w3.org/2000/svg" width="18" height="12" viewBox="0 0 98.384 59.337"><path d="M98.384 10.257L88.126 0 49.19 38.936 10.257 0 0 10.257l49.08 49.08.11-.11.112.11"/></svg></button>'
        });

        var productOptions = jQuery('#acp-configurable-block .popup-options dl > *:not(script)');

        for (var i = 0; i < productOptions.length; i+=2) {
            productOptions.slice(i, i + 2).wrapAll('<div class="option-column"></div>');
        }

        jQuery('html').addClass('is-popup-shown');

    </script>
</div>
