<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Ajaxcartpro
 * @version    3.2.11
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */

?><div id="ajaxcartpro-progress" class="ajaxcartpro-box-hide">
    <?php if ($this->helper('ajaxcartpro/config')->getGeneralActivityIndicator()): ?>
    <img data-src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'ajaxcartpro/' . $this->helper('ajaxcartpro/config')->getGeneralActivityIndicator() ?>" alt=""class="lazy"/>
    <?php else: ?>
    <img data-src="<?php echo $this->getSkinUrl('ajaxcartpro/images/al.gif'); ?>" alt="" class="lazy"/>
    <?php endif; ?>
    <p><?php echo $this->__('Please wait...') ?></p>
</div>
