<div class="entry-edit">

<div class="content-header">
    <table cellspacing="0" class="grid-header">
        <tr>
            <td><h3><?php echo $this->__('Initialize payments')?></h3></td>
            <td align="right">
	            <button onclick="formInit.submit()" class="scalable save" type="button"><span><?php echo $this->__('Initialize')?></span></button>
            </td>
        </tr>
    </table>
</div>

<form name="form_init" id="form_init" method="POST" action="<?php echo $this->getUrl('adminhtml/PaymentTracker_Admin/ApplyInitialization'); ?>">

</form>

</div>