<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Affiliate
 * @version    1.1.4
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php
?>

<div class="generate-link fieldset">
    <h2 class="legend"><?php echo $this->__("Tracking Link"); ?></h2>
    <div class="row"><?php echo $this->getInputLinkField();?></div>
    <div class="row"><?php echo $this->getTrafficSourceLinkField();?></div>
    <div class="button-set">
        <button class="button" id="generate-link-btn">
            <span><span><?php echo $this->__('Generate Link'); ?></span></span>
        </button>
    </div>
    <div class="row"><?php echo $this->getResultLinkField();?></div>
</div>
<script type="text/javascript">
    var config = {
        url: '<?php echo $this->getUrlToRequest();?>',
        msg: {'generateLink' : '<?php echo $this->__('Link generation...');?>'}
    };
    AWGenerateLink.initialize(config);
</script>
