<?php
/** @var Affirm_Affirm_Block_Payment_Form $this **/
?>
<style>
    .affirm-module-version {
        display: none;
    }

    .affirm_payment_info1 {
        color: #034082;
        font-size: 16px;
    }
    .affirm_payment_info2 {
        color: #6f6f6f;
        font-size: 14px;
    }
</style>
<ul class="form-list affirm" id="payment_form_affirm" style="display:none;">
    <li class="form-alt">
        <div class="affirm_payment_info1"><?php echo $this->__('How does Affirm work ?'); ?></div>
            <div class="affirm_payment_info2">
                <br>
                <?php echo $this->__("Just enter your basic information and get approved instantly. You will complete your payment on the Affirm website."); ?>
                <br><br>
                <?php echo $this->__("Affirm is open to US residents only."); ?>
            </div>
    </li>
</ul>
<span class="affirm-module-version"><?php echo $this->helper('affirm')->getModuleConfigVersion(); ?></span>
