<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Productupdates
 * @version    2.0.8
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div id="pun-subscribe" class = 'aw_pun_success'>
    <div class="group-select">
        <form id="productupdates-form" method="post" action="<?php echo $this->getFormUrl() ?>">
            <div style="text-align:right;">
                <img style="cursor:pointer;" id="productupdates-cancel" onclick="window.Productupdates.prototype.deactivate(); return false;" src="<?php echo $this->getSkinUrl('images/btn_window_close.gif'); ?>" />
            </div>
            <h4 class="a-center"><?php echo $this->__('Thank you!') ?></h4>
            <h4 class="a-center"><?php echo $this->__('You have been successfully subscribed to %s updates!',$this->getProductName()) ?></h4>

        </form>
    </div>
</div>

<script type="text/javascript">
    var productupdatesForm = new ProductupdatesForm('productupdates-form');
</script>
