<div id="idle-popup" class="review-popup idle-popup mfp-hide std">
    <div class="idle-title">
        <h3>1,000 points and 5% off for first time buyers!</h3>
    </div>
    <div class="idle-content">
        <p>
            Receive 1,000 Its Hot Reward Points and 5% off your first offer!<br>
            Simply enter in your email address below.
        </p>
    </div>
    <div class="block block-subscribe">
        <form action="/newsletter/subscriber/new/" method="post" id="idle-newsletter-validate" class="idle-form">
            <label for="idle-newsletter">Subscribe</label>
            <div class="input-box">
               <input type="email" autocapitalize="off" spellcheck="false" name="email" id="idle-newsletter" placeholder="Please enter your email address here..." class="input-text required-entry validate-email">
            </div>
            <button type="submit" title="Sign Up" class="button"><span><span>Sign Up</span></span></button>
        </form>
        <script type="text/javascript">
        //<![CDATA[
            var newsletterSubscriberFormDetail = new VarienForm('idle-newsletter-validate');
        //]]>
        </script>
    </div>
    <div class="share-this-order">
        <p class="share-this-order-title"><?php echo $this->__('More ways to stay connected'); ?></p>
        <div class="order-success-share-icons">
            <?php if ($twurl = Mage::getStoreConfig('configuration/social/twurl')) : ?>
                <a href="<?php echo $this->escapeUrl($twurl); ?>">
                    <img class="social-logo" src="<?php echo $this->getSkinUrl('images/email/twitter_colour.png'); ?>" alt="twitter"/>
                </a>
            <?php endif; ?>
            <?php if ($fburl = Mage::getStoreConfig('configuration/social/fburl')) : ?>
                <a href="<?php echo $this->escapeUrl($fburl); ?>">
                    <img class="social-logo" src="<?php echo $this->getSkinUrl('images/email/fb_colour.png'); ?>" alt="facebook" />
                </a>
            <?php endif; ?>
            <?php if ($piurl = Mage::getStoreConfig('configuration/social/piurl')) : ?>
                <a href="<?php echo $this->escapeUrl($piurl); ?>">
                    <img class="social-logo" src="<?php echo $this->getSkinUrl('images/email/pinterest_colour.png'); ?>" alt="pinterest" />
                </a>
            <?php endif; ?>
        </div>
        <p class="share-this-order-subtitle"><?php echo $this->__('Follow us and get the latest news, deals and offers'); ?></p>
    </div>
</div>