<?php
/**
 * My Widget template description
 *
 * @category    design
 * @package     ml_itshot
 * @author      Javier Villanueva <javier@medialounge.co.uk>
 */
?>
<div class="widget widget-blogblocks">
    <div class="center-container">
        <?php if ($posts = $this->getBlogPosts()) : ?>
            <div class="blogblock blogblock-posts js-posts">
                <?php for ($i = 0; $i < 5 && $posts[$i]; $i++) : ?>
                    <div class="blogblock-posts-single">
                        <?php if($posts[$i]->thumb):?>
                            <img
                                class="lazy"
                                data-src="<?php echo $this->escapeHtml($posts[$i]->thumb); ?>"
                                alt="<?php echo $this->quoteEscape($posts[$i]->title); ?>"
                            >
                        <?php elseif ($image = $this->getPostImage($posts[$i]->children('content', true))) : ?>
                            <img
                                class="lazy"
                                data-src="<?php echo $this->escapeHtml($image); ?>"
                                alt="<?php echo $this->quoteEscape($posts[$i]->title); ?>"
                            >
                        <?php endif; ?>

                        <p class="blogblock-title blogblock-title-posts h3"><?php echo $this->escapeHtml($posts[$i]->title); ?></p>

                        <p class="blogblock-excerpt">
                            <?php echo $this->truncateWords(strip_tags($posts[$i]->description), 26,'...'); ?>
                        </p>

                        <a class="button button-primary button-small" href="<?php echo $this->escapeUrl($posts[$i]->link); ?>">
                            <?php echo $this->__('Read More'); ?>
                        </a>
                    </div>
                <?php endfor; ?>
            </div>
        <?php endif; ?>

        <?php echo $this->getText(); ?>
    </div>
</div>
