<?php
/**
 * Created by PhpStorm.
 * User: nguyenbach
 * Date: 07/01/2019
 * Time: 16:55
 */
?>
<?php $customer =  $this->getCustomer(); ?>
<div class="hor-scroll">
    <table cellspacing="0" class="form-list">
        <tbody>
        <tr>
            <td class="label"><label for="affiliate_id">Affiliate ID</label></td>
            <td class="value">
                <input id="affiliate_id" name="affiliate_id"
                       value="<?= $customer->getData('affiliate_id')? $customer->getData('affiliate_id'): '' ?>"
                       type="text" class=" input-text">
            </td>
        </tr>
        <tr>
            <td class="label"><label for="social_security">Social Security</label></td>
            <td class="value">
                <input id="social_security" name="social_security"
                       value="<?= $customer->getData('social_security')? $customer->getData('social_security'): '' ?>"
                       type="text" class=" input-text">
            </td>
        </tr>
        <tr>
            <td class="label"><label for="company_name">Company Name</label></td>
            <td class="value">
                <input id="company_name" name="company_name"
                       value="<?= $customer->getData('company_name')? $customer->getData('company_name'): '' ?>"
                       type="text" class=" input-text">
            </td>
        </tr>
        <tr>
            <td class="label"><label for="website_url">Website Url</label></td>
            <td class="value">
                <input id="website_url" name="website_url"
                       value="<?= $customer->getData('website_url')? $customer->getData('website_url'): '' ?>"
                       type="text" class=" input-text">
            </td>
        </tr>
        <tr>
            <td class="label"><label for="comments">Comments</label></td>
            <td class="value">
                <input id="comments" name="comments"
                       value="<?= $customer->getData('comments')? $customer->getData('comments'): '' ?>"
                       type="text" class=" input-text">
            </td>
        </tr>
        <tr>
            <td class="label"><label for="website_title">Website Title</label></td>
            <td class="value">
                <input id="website_title" name="website_title"
                       value="<?= $customer->getData('website_title')? $customer->getData('website_title'): '' ?>"
                       type="text" class=" input-text">
            </td>
        </tr>
        <tr>
            <td class="label"><label for="affiliate_type_id">Affiliate Type ID</label></td>
            <td class="value">
                <input id="affiliate_type_id" name="affiliate_type_id"
                       value="<?= $customer->getData('affiliate_type_id')? $customer->getData('affiliate_type_id'): '' ?>"
                       type="text" class=" input-text">
            </td>
        </tr>
        <tr>
            <td class="label"><label for="payment_method_id">Payment Method ID</label></td>
            <td class="value">
                <input id="payment_method_id" name="payment_method_id"
                       value="<?= $customer->getData('payment_method_id')? $customer->getData('payment_method_id'): '' ?>"
                       type="text" class=" input-text">
            </td>
        </tr>
        <tr>
            <td class="label"><label for="paypal_email">Paypal Email</label></td>
            <td class="value">
                <input id="paypal_email" name="paypal_email"
                       value="<?= $customer->getData('paypal_email')? $customer->getData('paypal_email'): '' ?>"
                       type="text" class=" input-text">
            </td>
        </tr>
        </tbody>
    </table>
</div>
