    <div class="row">
        <div class="col-lg-6">
             <form id="add-product-form">
              <div class="form-group">
                <label for="sku"><?php echo $this->__('Sku'); ?> : </label>
                <input type="text" class="form-control required-entry" id="sku" name="sku" placeholder="<?php echo $this->__('Sku'); ?>">
              </div>
              <div class="form-group">
                <label for="name"><?php echo $this->__('Name'); ?> : </label>
                <input type="text" class="form-control required-entry" id="name" name="name" placeholder="<?php echo $this->__('Name'); ?>">
              </div>
              <div class="form-group">
                <label for="barcode"><?php echo $this->__('Barcode'); ?> : </label>
                <input type="text" class="form-control" id="barcode" name="barcode" placeholder="<?php echo $this->__('Barcode'); ?>">
              </div>
              <div class="form-group">
                <label for="price"><?php echo $this->__('Price'); ?> : </label>
                <input type="text" class="form-control validate-number" id="price" name="price" placeholder="<?php echo $this->__('Price'); ?>">
              </div>
              <div class="form-group">
                <label for="qty"><?php echo $this->__('Qty'); ?> : </label>
                <input type="text" class="form-control validate-number" id="qty" name="qty" placeholder="<?php echo $this->__('0'); ?>">
              </div>
              <div class="form-group">
                <label for="description"><?php echo $this->__('Description'); ?> : </label>
                <textarea class="form-control" id="description" name="description" placeholder="<?php echo $this->__('Description'); ?>" rows="3"></textarea>
              </div>
              <button id="add-product-btn" class="btn btn-default" type="button"> <i class="fa fa-plus fa-lg"></i><?php echo $this->__('Create'); ?></button>
            </form>
        </div>

    </div>
    <br />
