<div id="cms-area">
<style>
@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
.dia_stu_ear_main{ padding: 0;  max-width:1170px; margin:0 auto;font-family: Arial,Helvetica,sans-serif; font-size: 13px;line-height: 17px;}
.earing_container{ width:100%; float:left; background: #fff; padding: 20px 0; }
.dia_stu_ear_main h2 { clear: both;   font-family: "Droid Serif",serif;  font-size: 24px;   font-weight: 400;  line-height: 34px; text-align:center;margin:20px 0 10px 0;   padding: 0; width:100%; clear:both;}
.dia_stud_row{ width:100%; float:left;  padding:0px 0 0px 0; display: table;}
.stud_lft_side{ float:left; width:65%;}
.dia_stud_col{width:33%; float:left;}
.dia_stud_col img{ max-width:78%; height:auto; display:block; margin:0 auto;}
.dia_stud_colr{width:35%; float:right;}
.dia_stud_colr ul{border-top:1px solid #ececec; margin:25px 0 0 0; padding:6px 0 0 0;}
.dia_stud_colr ul li { list-style:none; margin:4px 0; text-align:left;}
.pick_one_offer {display: table-cell;margin-bottom:5px;margin-right: 15px;min-width:100px;text-align: center; vertical-align: middle; font-size:14px;}
.pick_one_offer p{ padding:8px 0 0 0;}
.pick_one_offer strong {color:#010101; font-size:18px; display:block;}
.pick_one_offer img {display:block; margin:10px auto; max-width: 100% !important;width: inherit;}
.dia_stud_row > .pick_one_offer:nth-child(1)  img { width: 16px;}
.dia_stud_row > .pick_one_offer:nth-child(2)  img { width: 18px;}
.dia_stud_row > .pick_one_offer:nth-child(3)  img { width: 21px;}
.dia_stud_row > .pick_one_offer:nth-child(4)  img { width: 25px;}
.dia_stud_row > .pick_one_offer:nth-child(5)  img { width: 30px;}
.dia_stud_row > .pick_one_offer:nth-child(6)  img { width: 32px;}
.dia_stud_row > .pick_one_offer:nth-child(7)  img { width: 36px;}

.pick_one_offer span {color:#2d2d2d;display: block; font-size:14px;font-weight:normal;  margin:3px;}
.pick_one_offer a{color:#4fa4db; text-decoration:none;}
.pick_one_offer a:hover{ text-decoration:underline;color:#146ea6;}
.libert_box{ float:right;}
.libert_box > img {    height: auto;    max-width: 95%;}
.earing_container:last-child > .dia_stud_row:nth-child(3) {margin-bottom: 35px;}

.stud_lft_side_des { width:100%; clear:both;}
.stud_lft_side_des {box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; padding-right: 25px;  text-align: right;width: 100%;}
.stud_lft_side_des > img{ width:10px; height:14px; margin-left:4px;}

#main-container .category_banner.earring_top_banner { background-position: right top !important;background-repeat: no-repeat !important;  box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;  clear: both;  padding: 10px 0 0px 10px;width: 100%; min-height:215px;}
#main-container .category_banner.earring_top_banner > .cat_description {  width: 60%;}
#main-container .category_banner.earring_top_banner > .cat_description > h2,#main-container .category_banner.earring_top_banner > .cat_description > h1 {  margin: 15px 0;  text-align: center; color:#343434; font-size:24px;}
#main-container .category_banner.earring_top_banner > .cat_description > p { color:#343434;font-size: 14px;line-height: 28px;}


@media (max-width:1023px) {
.dia_stud_row{display: block;}
.pick_one_offer {display:inline-block; min-width: inherit;}
.dia_stud_col img{ max-width:100%;
}

@media (max-width:479px) {
.stud_lft_side{ width:100%;}
.dia_stud_col{ width:50%;}
.dia_stud_colr{ width:100%;}
}
    </style>

<script>
jQuery(document).ready(function () {
	categoryViewMoreLess();

	});

function categoryViewMoreLess() {
	var showChar = 300;
	var showChar1 = 85;
	var ellipsestext = "...";
	var moretext = "Read More";
	var lesstext = "Read Less";
	jQuery('.category-bannerDesc').each(function() {
		var content = jQuery(this).text();
		if(content.length > showChar) {
			var c = content.substr(0,showChar);
			var html = '<div id="less_desc">'+c+'<span class="moreellipses">'+ellipsestext+'</span>&nbsp;<a href="Javascript:;" class="morelink mlink less">'+moretext+'</a></div><div id="more_desc" style="display:none;">'+jQuery(this).html()+'<a href="Javascript:;" class="morelink mlink">'+lesstext+'</a></div>';
			jQuery(this).html(html);
		}
	});
	jQuery(".mlink").click(function() {
		if(jQuery(this).hasClass("less")) {
			jQuery('#less_desc').css('display','none');
			jQuery('#more_desc').css('display','block');
		}
		else {
			jQuery('#more_desc').css('display','none');
			jQuery('#less_desc').css('display','block');
		}
		return false;
	});

	jQuery(".mlink2").click(function() {
		if(jQuery(this).hasClass("less2")) {
			jQuery(this).removeClass("less2");
			jQuery(this).html(moretext);
		}
		else {
			jQuery(this).addClass("less2");
			jQuery(this).html(lesstext);
		}
		jQuery(this).parent().prev().toggle();
		jQuery(this).prev().toggle();
		return false;
	});
}

</script>
<div class="dia_stu_ear_main">

<div class="earing_container">
<h2>14K Gold Four-Prong Set Round Diamond Solitaire Earrings Studs</h2>
<div class="dia_stud_row">
<div class="stud_lft_side">
<div class="dia_stud_col"> <img   alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/roundcut14k-4.jpg'); ?>"> </div>
<div class="dia_stud_col"> <img   alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/roundcut14k-5.jpg'); ?>"> </div>
<div class="dia_stud_col"> <img   alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/roundcut14k-6.jpg'); ?>"> </div>
<div class="stud_lft_side_des">Select the size of your 14k Gold Prong Set Diamond Solitaire Earrings Below<img alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/earrings_des_down.png'); ?>">
</div>
</div>
<div class="dia_stud_colr"> <ul>
<li>- Quality: H color and SI clarity</li>
<li>- 14k gold four-prong setting</li>
<li>- Earrings are available in 14k yellow, rose and white gold</li>
</ul>
</div>
</div>

<div class="dia_stud_row">
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-white-gold-round-diamond-stud-earrings-025ct-p-297"><img  alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
 <span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-white-gold-round-diamond-stud-earrings-025ct-p-297">1/4 ct. tw.</a></span>
<span> $240 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-white-gold-earrings-round-diamond-studs-033ct-p-298"><img  alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-white-gold-earrings-round-diamond-studs-033ct-p-298">1/3 ct. tw.</a></span>
<span> $320 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-diamond-stud-earrings-round-diamonds-50ct-p-5626"><img  alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
 <span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-diamond-stud-earrings-round-diamonds-50ct-p-5626">1/2 ct. tw.</a></span>
<span> $595 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-discount-diamond-studs-earrings-round-075ct-p-5627"><img  alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-discount-diamond-studs-earrings-round-075ct-p-5627">3/4 ct. tw.</a></span>
<span> $1,150 </span>

</div>
<div class="pick_one_offer">

<a href="<?php echo Mage::getBaseUrl(); ?>1-ct-diamond-stud-earrings-w-round-diamonds-14k-gold-p-5628"><img  alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>1-ct-diamond-stud-earrings-w-round-diamonds-14k-gold-p-5628">1 ct. tw.</a></span>
<span> $2,000 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-white-gold-diamond-stud-earrings-round-cut-150ct-p-5629"><img  alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-white-gold-diamond-stud-earrings-round-cut-150ct-p-5629">1 1/2 ct. tw.</a></span>
<span> $3,900 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>2-carat-round-diamond-stud-earrings-14k-white-gold-p-5631"><img  alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>2-carat-round-diamond-stud-earrings-14k-white-gold-p-5631">2 ct. tw.</a></span>
<span> $8,300 </span>

</div>
<div class="libert_box">
<img  alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/liberty_coin.jpg'); ?>"></div>
</div>
</div>

<div class="earing_container">
<h2>14K Gold Bezel Set Round Diamond Solitaire Earrings Studs</h2>
<div class="dia_stud_row">
<div class="stud_lft_side">
<div class="dia_stud_col"> <img   alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/roundcut14k-1.jpg'); ?>"></div>
<div class="dia_stud_col"> <img   alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/roundcut14k-2.jpg'); ?>"> </div>
<div class="dia_stud_col"> <img   alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/roundcut14k-3.jpg'); ?>"> </div>
<div class="stud_lft_side_des">Select the size of your 14k Gold Bezel Set Diamond Solitaire Earrings Below<img alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/earrings_des_down.png'); ?>">
</div>
</div>
<div class="dia_stud_colr">
<ul>
<li> - Quality: I color and SI clarity</li>
<li> - 14k gold bezel setting</li>
<li> - Earrings are available in 14k yellow, rose and white gold</li>
</ul>
</div>
</div>

<div class="dia_stud_row">
<div class="pick_one_offer">
<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-solitaire-round-diamond-bezel-stud-earrings-025ct"><img border="0"  alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
 <span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-solitaire-round-diamond-bezel-stud-earrings-025ct">1/4 ct. tw.</a></span>
<span> $240 </span>
</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-round-diamond-bezel-stud-earrings-030ct-p-7057"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-round-diamond-bezel-stud-earrings-030ct-p-7057">1/3 ct. tw.</a></span>
<span> $320 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-round-diamond-bezel-stud-earrings-050ct-p-7058"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
 <span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-round-diamond-bezel-stud-earrings-050ct-p-7058">1/2 ct. tw.</a></span>
<span> $595 </span>

</div>
<div class="pick_one_offer">
<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-solitaire-round-diamond-bezel-stud-earrings-075ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-solitaire-round-diamond-bezel-stud-earrings-075ct">3/4 ct. tw.</a></span>
<span> $1,150 </span>

</div>
<div class="pick_one_offer">

<a href="<?php echo Mage::getBaseUrl(); ?>one-carat-14k-gold-solitaire-round-diamond-bezel-stud-earrings"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>one-carat-14k-gold-solitaire-round-diamond-bezel-stud-earrings">1 ct. tw.</a></span>
<span> $2,000 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-solitaire-round-diamond-bezel-stud-earrings-15ct-1"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-solitaire-round-diamond-bezel-stud-earrings-15ct-1">1 1/2 ct. tw.</a></span>
<span> $3,900 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>two-carat-14k-gold-solitaire-round-diamond-bezel-stud-earrings"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>two-carat-14k-gold-solitaire-round-diamond-bezel-stud-earrings">2 ct. tw.</a></span>
<span> $8,300 </span>

</div>
<div class="libert_box">
<img  alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/liberty_coin.jpg'); ?>"></div>
</div>
</div>

<div class="earing_container">
<h2>18K Gold Four-Prong Set Round Diamond Solitaire Earrings Studs</h2>
<div class="dia_stud_row">
<div class="stud_lft_side">
<div class="dia_stud_col"> <img   alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/roundcut14k-4.jpg'); ?>"> </div>
<div class="dia_stud_col"> <img   alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/roundcut14k-5.jpg'); ?>"> </div>
<div class="dia_stud_col"> <img   alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/roundcut14k-6.jpg'); ?>"> </div>
<div class="stud_lft_side_des">Select the size of your 18k Gold Prong Set Diamond Solitaire Earrings Below<img alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/earrings_des_down.png'); ?>">
</div>
</div>
<div class="dia_stud_colr"> <ul>
<li> - Quality: H color and SI clarity</li>
<li> - 18k gold four-prong setting</li>
<li> - Earrings are available in 18k yellow, rose and white gold</li>
</ul>
</div>
</div>

<div class="dia_stud_row">
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>18k-gold-solitaire-round-diamond-stud-earrings-025ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>18k-gold-solitaire-round-diamond-stud-earrings-025ct">1/4 ct. tw.</a></span>
<span>  $280	 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>18k-gold-solitaire-round-diamond-stud-earrings-033ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>18k-gold-solitaire-round-diamond-stud-earrings-033ct">1/3 ct. tw.</a></span>
<span> $420 </span>

</div>
<div class="pick_one_offer">

<a href="<?php echo Mage::getBaseUrl(); ?>18k-gold-solitaire-round-diamond-stud-earrings-050ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>18k-gold-solitaire-round-diamond-stud-earrings-050ct">1/2 ct. tw.</a></span>
<span> $680 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>18k-gold-solitaire-round-diamond-stud-earrings-075ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>18k-gold-solitaire-round-diamond-stud-earrings-075ct">3/4 ct. tw.</a></span>
<span>  $1,250 </span>

</div>
<div class="pick_one_offer">


 <a href="<?php echo Mage::getBaseUrl(); ?>18k-white-gold-4-prong-round-diamond-stud-earrings-15c-p-21"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>18k-white-gold-4-prong-round-diamond-stud-earrings-15c-p-21">1 ct. tw.</a></span>
<span> $2,100 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>18k-yellow-gold-4-prong-round-diamond-stud-earrings-15-p-24"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>18k-yellow-gold-4-prong-round-diamond-stud-earrings-15-p-24">1 1/2 ct. tw.</a></span>
<span> $3,980 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>18k-white-gold-4-prong-round-diamond-stud-earrings-2ct-p-22"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>18k-white-gold-4-prong-round-diamond-stud-earrings-2ct-p-22">2 ct. tw.</a></span>
<span> $8,500 </span>

</div>
<div class="libert_box">
<img  alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/liberty_coin.jpg'); ?>"></div>
</div>
</div>


<div class="earing_container">
<h2>Platinum Four-Prong Set Round Diamond Solitaire Earrings Studs</h2>
<div class="dia_stud_row">
<div class="stud_lft_side">
<div class="dia_stud_col"> <img   alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/roundcut14k-4.jpg'); ?>"> </div>
<div class="stud_lft_side_des">Select the size of your Platinum Prong Set Diamond Solitaire Earrings Below<img alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/earrings_des_down.png'); ?>">
</div>
</div>
<div class="dia_stud_colr"> <ul>
<li> - Quality: G color and VS clarity</li>
<li> -  Platinum four-prong setting</li>
</ul>
</div>
</div>

<div class="dia_stud_row">
<div class="pick_one_offer">

<a href="<?php echo Mage::getBaseUrl(); ?>platinum-solitaire-round-diamond-stud-earrings-025ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>platinum-solitaire-round-diamond-stud-earrings-025ct">1/4 ct. tw.</a></span>
<span>   $460	 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>platinum-solitaire-round-diamond-stud-earrings-033ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>platinum-solitaire-round-diamond-stud-earrings-033ct">1/3 ct. tw.</a></span>
<span> $580	 </span>

</div>
<div class="pick_one_offer">

<a href="<?php echo Mage::getBaseUrl(); ?>platinum-diamond-stud-earrings-with-round-diamonds-050ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>platinum-diamond-stud-earrings-with-round-diamonds-050ct">1/2 ct. tw.</a></span>
<span> $980 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>platinum-diamond-studs-earrings-075ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>platinum-diamond-studs-earrings-075ct">3/4 ct. tw.</a></span>
<span>  $1,900 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>platinum-diamond-studs-earrings-1ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>platinum-diamond-studs-earrings-1ct">1 ct. tw.</a></span>
<span> $3,400 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>platinum-diamond-studs-earrings-150ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>platinum-diamond-studs-earrings-150ct">1 1/2 ct. tw.</a></span>
<span> $6,400 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>2ct-round-cut-diamond-platinum-stud-earrings"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>2ct-round-cut-diamond-platinum-stud-earrings">2 ct. tw.</a></span>
<span> $11,900 </span>

</div>
<div class="libert_box">
<img  alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/liberty_coin.jpg'); ?>"></div>
</div>
</div>



<div class="earing_container">
<h2>14K Gold Four-Prong Set Princess Cut Diamond Solitaire Earrings Studs</h2>
<div class="dia_stud_row">
<div class="stud_lft_side">
<div class="dia_stud_col"> <img   alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/princess-cut14k-1.jpg'); ?>"> </div>
<div class="dia_stud_col"> <img   alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/princess-cut14k-2.jpg'); ?>"> </div>
<div class="dia_stud_col"> <img   alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/princess-cut14k-3.jpg'); ?>"> </div>
<div class="stud_lft_side_des">Select the size of your 14k Gold Prong Set Diamond Solitaire Earrings Below<img alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/earrings_des_down.png'); ?>">
</div>
</div>
<div class="dia_stud_colr"> <ul>
<li> - Quality: I color and SI clarity</li>
<li> - 14k gold four-prong setting</li>
<li> - Earrings are available in 14k yellow, rose and white gold</li>
</ul>
</div>
</div>

<div class="dia_stud_row">
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-white-gold-princess-diamond-stud-earrings-025ct-p-5640"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/square_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-white-gold-princess-diamond-stud-earrings-025ct-p-5640">1/4 ct. tw.</a></span>
<span>  $210	 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-diamond-studs-princess-cut-diamonds-033ct-p-5641"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/square_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-diamond-studs-princess-cut-diamonds-033ct-p-5641">1/3 ct. tw.</a></span>
<span> $280 </span>

</div>
<div class="pick_one_offer">
<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-diamond-stud-earrings-princess-diamonds-50ct-p-5642"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/square_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-diamond-stud-earrings-princess-diamonds-50ct-p-5642">1/2 ct. tw.</a></span>
<span> $530 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-discount-diamond-studs-earrings-princess-075-p-5643"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/square_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-discount-diamond-studs-earrings-princess-075-p-5643">3/4 ct. tw.</a></span>
<span>  $1,100 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>1-ct-diamond-stud-earrings-w-princess-diamonds-14k-p-5652"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/square_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>1-ct-diamond-stud-earrings-w-princess-diamonds-14k-p-5652">1 ct. tw.</a></span>
<span> $2,000 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-white-gold-diamond-stud-earrings-princess-150ct-p-5645"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/square_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-white-gold-diamond-stud-earrings-princess-150ct-p-5645">1 1/2 ct. tw.</a></span>
<span> $3,800 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>2-carat-princess-diamond-stud-earrings-14k-white-gold-p-5647"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/square_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>2-carat-princess-diamond-stud-earrings-14k-white-gold-p-5647">2 ct. tw.</a></span>
<span> $7,500 </span>

</div>
<div class="libert_box">
<img  alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/liberty_coin.jpg'); ?>"></div>
</div>
</div>


<div class="earing_container">
<h2>18K Gold Four-Prong Set Princess Cut Diamond Solitaire Earrings Studs</h2>
<div class="dia_stud_row">
<div class="stud_lft_side">
<div class="dia_stud_col"> <img   alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/princess-cut14k-1.jpg'); ?>"> </div>
<div class="dia_stud_col"> <img   alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/princess-cut14k-2.jpg'); ?>"> </div>
<div class="dia_stud_col"> <img   alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/princess-cut14k-3.jpg'); ?>"> </div>
<div class="stud_lft_side_des">Select the size of your 18k Gold Prong Set Diamond Solitaire Earrings Below<img alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/earrings_des_down.png'); ?>">
</div>
</div>
<div class="dia_stud_colr"> <ul>
<li> - Quality: H color and SI clarity</li>
<li> - 14k gold four-prong setting</li>
<li> - Earrings are available in 14k yellow, rose and white gold</li>
</ul>
</div>
</div>

<div class="dia_stud_row">
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>princess-cut-diamond-platinum-stud-earrings-025ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/square_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>princess-cut-diamond-platinum-stud-earrings-025ct">1/4 ct. tw.</a></span>
<span>$240</span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>platinum-diamond-stud-earrings-033ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/square_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>platinum-diamond-stud-earrings-033ct">1/3 ct. tw.</a></span>
<span> $320 </span>

</div>
<div class="pick_one_offer">

<a href="<?php echo Mage::getBaseUrl(); ?>platinum-diamond-stud-earrings-050ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/square_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>platinum-diamond-stud-earrings-050ct">1/2 ct. tw.</a></span>
<span> $595 </span>

</div>

<div class="pick_one_offer">
<a href="<?php echo Mage::getBaseUrl(); ?>18k-gold-solitaire-princess-cut-diamond-stud-earrings-075ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/square_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>18k-gold-solitaire-princess-cut-diamond-stud-earrings-075ct">3/4 ct. tw.</a></span>
<span>$1,150</span>
</div>

<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>princess-cut-diamond-platinum-stud-earrings-1ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/square_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>princess-cut-diamond-platinum-stud-earrings-1ct"> 1 ct. tw. </a></span>
<span> $2,000  </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>princess-cut-diamond-platinum-stud-earrings-150ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/square_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>princess-cut-diamond-platinum-stud-earrings-150ct">1 1/2 ct. tw.</a></span>
<span> $3,900 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>two-carat-18k-gold-solitaire-princess-cut-diamond-stud-earrings"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/square_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>two-carat-18k-gold-solitaire-princess-cut-diamond-stud-earrings">2 ct. tw.</a></span>
<span> $8,300 </span>

</div>
<div class="libert_box">
<img  alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/liberty_coin.jpg'); ?>"></div>
</div>
</div>


<div class="earing_container">
<h2>Platinum Four-Prong Set Princess Cut Diamond Solitaire Earrings Studs</h2>
<div class="dia_stud_row">
<div class="stud_lft_side">
<div class="dia_stud_col"> <img   alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/princess-cut14k-1.jpg'); ?>"> </div>

<div class="stud_lft_side_des">Select the size of your Platinum Prong Set Diamond Solitaire Earrings Below<img alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/earrings_des_down.png'); ?>">
</div>
</div>
<div class="dia_stud_colr"> <ul>
<li> - Quality: G color and VS clarity</li>
<li> - Platinum four-prong setting</li>
</ul>
</div>
</div>

<div class="dia_stud_row">
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>platinum-solitaire-princess-cut-diamond-stud-earrings-025ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/square_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>platinum-solitaire-princess-cut-diamond-stud-earrings-025ct">1/4 ct. tw.</a></span>
<span>  $420	 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>platinum-solitaire-princess-cut-diamond-stud-earrings-033ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/square_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>platinum-solitaire-princess-cut-diamond-stud-earrings-033ct">1/3 ct. tw.</a></span>
<span> $520 </span>

</div>
<div class="pick_one_offer">

<a href="<?php echo Mage::getBaseUrl(); ?>platinum-solitaire-princess-cut-diamond-stud-earrings-05ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/square_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>platinum-solitaire-princess-cut-diamond-stud-earrings-05ct">1/2 ct. tw.</a></span>
<span> $880 </span>

</div>

<div class="pick_one_offer">
<a href="<?php echo Mage::getBaseUrl(); ?>princess-cut-diamond-platinum-stud-earrings-075ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/square_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>princess-cut-diamond-platinum-stud-earrings-075ct">3/4 ct. tw. </a></span>
<span>$1,700</span>
</div>


<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>one-carat-platinum-solitaire-princess-cut-diamond-stud-earrings"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/square_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>one-carat-platinum-solitaire-princess-cut-diamond-stud-earrings">1 ct. tw.</a></span>
<span> $3,060  </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>platinum-solitaire-princess-cut-diamond-stud-earrings-15ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/square_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>platinum-solitaire-princess-cut-diamond-stud-earrings-15ct">1 1/2 ct. tw.</a></span>
<span> $5,800 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>2ct-princess-cut-diamond-platinum-stud-earrings"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/square_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>2ct-princess-cut-diamond-platinum-stud-earrings">2 ct. tw.</a></span>
<span> $10,800 </span>

</div>
<div class="libert_box">
<img  alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/liberty_coin.jpg'); ?>"></div>
</div>
</div>


<!--      Second part            -->

<div class="earing_container">
<h2>14K Gold Bezel Set Round Diamond Solitaire Earrings Studs</h2>
<div class="dia_stud_row">
<div class="stud_lft_side">
<div class="dia_stud_col"> <img   alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/gold-diamond-roundcut1.jpg'); ?>"></div>
<div class="dia_stud_col"> <img   alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/gold-diamond-roundcut2.jpg'); ?>"> </div>
<div class="dia_stud_col"> <img   alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/gold-diamond-roundcut3.jpg'); ?>"> </div>
<div class="stud_lft_side_des">Select the size of your 14k Gold Bezel Set Diamond Solitaire Earrings Below<img alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/earrings_des_down.png'); ?>">
</div>
</div>
<div class="dia_stud_colr"> <ul>
<li> - Quality: I color and SI clarity</li>
<li> - 14k gold bezel setting</li>
<li> - Earrings are available in 14k yellow, rose and white gold</li>
</ul>
</div>
</div>

<div class="dia_stud_row">
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-round-diamond-bezel-stud-earrings-025ct-p-5656"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
 <span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-round-diamond-bezel-stud-earrings-025ct-p-5656">1/4 ct. tw.</a></span>
<span> $240 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-round-diamond-bezel-earrings-studs-033ct-p-5657"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-round-diamond-bezel-earrings-studs-033ct-p-5657">1/3 ct. tw.</a></span>
<span> $320 </span>

</div>
<div class="pick_one_offer">

<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-round-diamond-bezel-stud-earrings-050ct-p-5658"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
 <span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-round-diamond-bezel-stud-earrings-050ct-p-5658">1/2 ct. tw.</a></span>
<span> $595 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-bezel-set-diamond-stud-earrings-round-cut-075ct-p-5659"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-bezel-set-diamond-stud-earrings-round-cut-075ct-p-5659">3/4 ct. tw.</a></span>
<span> $1,150 </span>

</div>
<div class="pick_one_offer">

<a href="<?php echo Mage::getBaseUrl(); ?>1-ct-diamond-stud-earrings-bezel-set-round-cut-p-5660"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>1-ct-diamond-stud-earrings-bezel-set-round-cut-p-5660">1 ct. tw.</a></span>
<span> $2,000 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-solitaire-round-diamond-bezel-stud-earrings-15ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-solitaire-round-diamond-bezel-stud-earrings-15ct">1 1/2 ct. tw.</a></span>
<span> $3,900 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>two-carat-14k-gold-solitaire-round-diamond-bezel-stud-earrings-1"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>two-carat-14k-gold-solitaire-round-diamond-bezel-stud-earrings-1">2 ct. tw.</a></span>
<span> $8,300 </span>

</div>
<div class="libert_box">
<img  alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/liberty_coin.jpg'); ?>"></div>
</div>
</div>

<div class="earing_container">
<h2> 18K Gold Bezel Set Round Diamond Solitaire Earrings Studs</h2>
<div class="dia_stud_row">
<div class="stud_lft_side">
<div class="dia_stud_col"> <img   alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/gold-diamond-roundcut1.jpg'); ?>"> </div>
<div class="dia_stud_col"> <img   alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/gold-diamond-roundcut2.jpg'); ?>"> </div>
<div class="dia_stud_col"> <img   alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/gold-diamond-roundcut3.jpg'); ?>"> </div>
<div class="stud_lft_side_des">Select the size of your 18k Gold Bezel Set Diamond Solitaire Earrings Below<img alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/earrings_des_down.png'); ?>">
</div>
</div>
<div class="dia_stud_colr"> <ul>
<li> - Quality: H color and SI clarity</li>
<li> - 18k gold bezel setting</li>
<li> - Earrings are available in 18k yellow, rose and white gold</li>
</ul>
</div>
</div>

<div class="dia_stud_row">
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>18k-gold-solitaire-round-diamond-bezel-stud-earrings-025ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
 <span> <a href="<?php echo Mage::getBaseUrl(); ?>18k-gold-solitaire-round-diamond-bezel-stud-earrings-025ct">1/4 ct. tw.</a></span>
<span> $280 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>18k-gold-solitaire-round-diamond-bezel-stud-earrings-033ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>18k-gold-solitaire-round-diamond-bezel-stud-earrings-033ct">1/3 ct. tw.</a></span>
<span> $420 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>18k-gold-solitaire-round-diamond-bezel-stud-earrings-05ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
 <span> <a href="<?php echo Mage::getBaseUrl(); ?>18k-gold-solitaire-round-diamond-bezel-stud-earrings-05ct">1/2 ct. tw.</a></span>
<span> $680 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>18k-gold-round-solitaire-diamond-bezel-stud-earrings-075ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>18k-gold-round-solitaire-diamond-bezel-stud-earrings-075ct">3/4 ct. tw.</a></span>
<span> $1,250 </span>

</div>
<div class="pick_one_offer">

<a href="<?php echo Mage::getBaseUrl(); ?>one-carat-18k-gold-solitaire-round-diamond-bezel-stud-earrings"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>one-carat-18k-gold-solitaire-round-diamond-bezel-stud-earrings">1 ct. tw.</a></span>
<span> $2,100 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>18k-gold-solitaire-round-diamond-bezel-stud-earrings-15ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>18k-gold-solitaire-round-diamond-bezel-stud-earrings-15ct">1 1/2 ct. tw.</a></span>
<span> $3,980 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>two-carat-18k-gold-solitaire-round-diamond-bezel-stud-earrings"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>two-carat-18k-gold-solitaire-round-diamond-bezel-stud-earrings">2 ct. tw.</a></span>
<span> $8,500 </span>

</div>
<div class="libert_box">
<img  alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/liberty_coin.jpg'); ?>"></div>
</div>
</div>


<div class="earing_container">
<h2>Platinum Bezel Set Round Diamond Solitaire Earrings Studs</h2>
<div class="dia_stud_row">
<div class="stud_lft_side">
<div class="dia_stud_col"> <img   alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/gold-diamond-roundcut7.jpg'); ?>"> </div>
<div class="stud_lft_side_des">Select the size of your Platinum Bezel Set Diamond Solitaire Earrings Below<img alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/earrings_des_down.png'); ?>">
</div>
</div>
<div class="dia_stud_colr"> <ul>
<li> - Quality: G color and VS clarity</li>
<li> - Platinum bezel setting</li>
</ul>
</div>
</div>

<div class="dia_stud_row">
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>platinum-round-diamond-bezel-stud-earrings-025ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>platinum-round-diamond-bezel-stud-earrings-025ct">1/4 ct. tw.</a></span>
<span>   $460	 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>platinum-round-diamond-bezel-earrings-studs-033ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>platinum-round-diamond-bezel-earrings-studs-033ct">1/3 ct. tw.</a></span>
<span> $580	 </span>

</div>
<div class="pick_one_offer">

<a href="<?php echo Mage::getBaseUrl(); ?>platinum-round-diamond-bezel-stud-earrings-050ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>platinum-round-diamond-bezel-stud-earrings-050ct">1/2 ct. tw.</a></span>
<span> $980 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>platinum-bezel-set-diamond-stud-earrings-round-cut-075ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>platinum-bezel-set-diamond-stud-earrings-round-cut-075ct">3/4 ct. tw.</a></span>
<span>  $1,900 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>platinum-round-diamond-bezel-stud-earrings-1ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>platinum-round-diamond-bezel-stud-earrings-1ct">1 ct. tw.</a></span>
<span> $3,400 </span>

</div>
<div class="pick_one_offer">

<a href="<?php echo Mage::getBaseUrl(); ?>platinum-round-diamond-bezel-stud-earrings-150ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>platinum-round-diamond-bezel-stud-earrings-150ct">1 1/2 ct. tw.</a></span>
<span> $6,400 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>2ct-diamond-platinum-stud-earrings-bezel-set-round-cut"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>2ct-diamond-platinum-stud-earrings-bezel-set-round-cut">2 ct. tw.</a></span>
<span> $11,900 </span>

</div>
<div class="libert_box">
<img alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/liberty_coin.jpg'); ?>"></div>
</div>
</div>


<div class="earing_container">
<h2>14K Gold Three-Prong Martini Setting Round Diamond Solitaire Earrings Studs</h2>
<div class="dia_stud_row">
<div class="stud_lft_side">
<div class="dia_stud_col"> <img alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/gold-diamond-roundcut8.jpg'); ?>"> </div>
<div class="dia_stud_col"> <img alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/gold-diamond-roundcut9.jpg'); ?>"> </div>
<div class="dia_stud_col"> <img alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/gold-diamond-roundcut10.jpg'); ?>"> </div>
<div class="stud_lft_side_des">Select the size of your 14k Gold Prong Set Diamond Solitaire Earrings Below<img alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/earrings_des_down.png'); ?>">
</div>
</div>
<div class="dia_stud_colr"> <ul>
<li> - Quality: I color and SI clarity </li>
<li> - 14k martini setting  </li>
<li> - Earrings are available in 14k white, yellow and Rose Gold</li>
</ul>
</div>
</div>

<div class="dia_stud_row">
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-solitaire-round-diamond-martini-stud-earrings-025ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
 <span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-solitaire-round-diamond-martini-stud-earrings-025ct">1/4 ct. tw.</a></span>
<span> $240 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-solitaire-round-diamond-martini-stud-earrings-033ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-solitaire-round-diamond-martini-stud-earrings-033ct">1/3 ct. tw.</a></span>
<span> $320 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-martini-setting-diamond-stud-earrings-p-40339"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
 <span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-martini-setting-diamond-stud-earrings-p-40339">1/2 ct. tw.</a></span>
<span> $595 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-solitaire-round-diamond-martini-stud-earrings-075ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-solitaire-round-diamond-martini-stud-earrings-075ct">3/4 ct. tw.</a></span>
<span> $1,150 </span>

</div>
<div class="pick_one_offer">

<a href="<?php echo Mage::getBaseUrl(); ?>one-carat-14k-gold-solitaire-round-diamond-martini-stud-earrings"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>one-carat-14k-gold-solitaire-round-diamond-martini-stud-earrings">1 ct. tw.</a></span>
<span> $2,000 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-solitaire-round-diamond-martini-stud-earrings-15ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-solitaire-round-diamond-martini-stud-earrings-15ct">1 1/2 ct. tw.</a></span>
<span> $3,900 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>two-carat-14k-gold-solitaire-round-diamond-martini-stud-earrings"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>two-carat-14k-gold-solitaire-round-diamond-martini-stud-earrings">2 ct. tw.</a></span>
<span> $8,300 </span>

</div>
<div class="libert_box">
<img alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/liberty_coin.jpg'); ?>"></div>
</div>
</div>

<div class="earing_container">
<h2>14K Gold Four-Prong Set Black Round Diamond Solitaire Earrings Studs</h2>
<div class="dia_stud_row">
<div class="stud_lft_side">
<div class="dia_stud_col"> <img  alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/black-roundcut14k-1.jpg'); ?>"></div>
<div class="dia_stud_col"> <img  alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/black-roundcut14k-2.jpg'); ?>"> </div>
<div class="dia_stud_col"> <img  alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/black-roundcut14k-3.jpg'); ?>"> </div>
<div class="stud_lft_side_des">Select the size of your 14k Gold Prong Set Diamond Solitaire Earrings Below<img alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/earrings_des_down.png'); ?>">
</div>
</div>
<div class="dia_stud_colr"> <ul>
<li> - Quality: AAA </li>
<li> - 14k gold four prong setting  </li>
<li> - Earrings are available in 14k white, yellow and Rose Gold</li>
</ul>
</div>
</div>

<div class="dia_stud_row">
<div class="pick_one_offer">

<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-solitaire-black-round-diamond-stud-earrings-025ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/black_round_cut.png'); ?>"></a>
 <span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-solitaire-black-round-diamond-stud-earrings-025ct">1/4 ct. tw.</a></span>
<span> $120 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-solitaire-black-round-diamond-stud-earrings-033ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/black_round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-solitaire-black-round-diamond-stud-earrings-033ct">1/3 ct. tw.</a></span>
<span> $150 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-black-diamond-earrings-prong-set-studs-050ct-p-6052"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/black_round_cut.png'); ?>"></a>
 <span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-black-diamond-earrings-prong-set-studs-050ct-p-6052">1/2 ct. tw.</a></span>
<span> $195 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-black-diamond-stud-earrings-prong-set-075ct-p-6053"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/black_round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-black-diamond-stud-earrings-prong-set-075ct-p-6053">3/4 ct. tw.</a></span>
<span> $225 </span>

</div>
<div class="pick_one_offer">

<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-stud-earrings-with-black-diamonds-1-carat-p-6059"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/black_round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-stud-earrings-with-black-diamonds-1-carat-p-6059">1 ct. tw.</a></span>
<span> $300 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-black-diamond-earrings-prong-set-studs-150ct-p-6056"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/black_round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-black-diamond-earrings-prong-set-studs-150ct-p-6056">1 1/2 ct. tw.</a></span>
<span> $395 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-black-diamond-stud-earrings-prong-set-200ct-p-6058"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/black_round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-black-diamond-stud-earrings-prong-set-200ct-p-6058">2 ct. tw.</a></span>
<span> $490 </span>

</div>
<div class="libert_box">
<img  alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/liberty_coin.jpg'); ?>"></div>
</div>
</div>

<div class="earing_container">
<h2>14K Gold Bezel Set Black Round Diamond Solitaire Earrings Studs</h2>
<div class="dia_stud_row">
<div class="stud_lft_side">
<div class="dia_stud_col"> <img  alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/black-roundcut14k-4.jpg'); ?>"> </div>
<div class="dia_stud_col"> <img width="228" height="100" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/black-roundcut14k-5.jpg'); ?>"> </div>
<div class="dia_stud_col"> <img width="228" height="100" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/black-roundcut14k-6.jpg'); ?>"> </div>
<div class="stud_lft_side_des">Select the size of your 14k Gold Bezel Set Diamond Solitaire Earrings Below <img alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/earrings_des_down.png'); ?>">
</div>
</div>
<div class="dia_stud_colr"> <ul>
<li> - Quality: AAA </li>
<li> - 14k gold Bezel setting  </li>
<li> - Earrings are available in 14k white, yellow and Rose Gold</li>
</ul>
</div>
</div>

<div class="dia_stud_row">
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-solitaire-black-round-diamond-bezel-stud-earrings-025ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/black_round_cut.png'); ?>"></a>
 <span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-solitaire-black-round-diamond-bezel-stud-earrings-025ct">1/4 ct. tw.</a></span>
<span> $130 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-solitaire-black-round-diamond-bezel-stud-earrings-033ct-1"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/black_round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-solitaire-black-round-diamond-bezel-stud-earrings-033ct-1">1/3 ct. tw.</a></span>
<span> $160 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-black-diamond-earrings-bezel-set-studs-050ct-p-6045"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/black_round_cut.png'); ?>"></a>
 <span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-black-diamond-earrings-bezel-set-studs-050ct-p-6045">1/2 ct. tw.</a></span>
<span> $200 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-black-diamond-stud-earrings-bezel-set-075ct-p-6046"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/black_round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-black-diamond-stud-earrings-bezel-set-075ct-p-6046">3/4 ct. tw.</a></span>
<span> $230 </span>

</div>
<div class="pick_one_offer">

<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-stud-earrings-with-black-diamonds-1-carat-p-6047"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/black_round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-stud-earrings-with-black-diamonds-1-carat-p-6047">1 ct. tw.</a></span>
<span> $300 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-black-diamond-earrings-bezel-set-studs-150ct-p-6049"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/black_round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-black-diamond-earrings-bezel-set-studs-150ct-p-6049">1 1/2 ct. tw.</a></span>
<span> $395 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-black-diamond-stud-earrings-bezel-set-200ct-p-6051"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/black_round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-black-diamond-stud-earrings-bezel-set-200ct-p-6051">2 ct. tw.</a></span>
<span> $490 </span>

</div>
<div class="libert_box">
<img  alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/liberty_coin.jpg'); ?>"></div>
</div>
</div>


<div class="earing_container">
<h2>14K Gold Bezel Set Black Round Diamond Solitaire Earrings Studs</h2>
<div class="dia_stud_row">
<div class="stud_lft_side">
<div class="dia_stud_col"> <img  alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/black-roundcut14k-7.jpg'); ?>"> </div>
<div class="dia_stud_col"> <img  alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/black-roundcut14k-8.jpg'); ?>"> </div>
<div class="dia_stud_col"> <img  alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/black-roundcut14k-9.jpg'); ?>"> </div>
<div class="stud_lft_side_des">Select the size of your 14k Gold Bezel Set Diamond Solitaire Earrings Below<img alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/earrings_des_down.png'); ?>">
</div>
</div>
<div class="dia_stud_colr"> <ul>
<li> - Quality: AAA </li>
<li> - 14k gold Bezel setting</li>
<li> - Earrings are available in 14k white, yellow and Rose Gold</li>
</ul>
</div>
</div>

<div class="dia_stud_row">
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-solitaire-black-round-diamond-bezel-stud-earrings-025ct-1"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/black_round_cut.png'); ?>"></a>
 <span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-solitaire-black-round-diamond-bezel-stud-earrings-025ct-1">1/4 ct. tw.</a></span>
<span> $120 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-solitaire-black-round-diamond-bezel-stud-earrings-033ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/black_round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-solitaire-black-round-diamond-bezel-stud-earrings-033ct">1/3 ct. tw.</a></span>
<span> $150 </span>

</div>
<div class="pick_one_offer">

<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-round-black-diamond-stud-earrings-bezel-12ct-p-6224"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/black_round_cut.png'); ?>"></a>
 <span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-round-black-diamond-stud-earrings-bezel-12ct-p-6224">1/2 ct. tw.</a></span>
<span> $195 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-round-black-diamond-stud-earrings-bezel-075ct-p-6223"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/black_round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-round-black-diamond-stud-earrings-bezel-075ct-p-6223">3/4 ct. tw.</a></span>
<span> $225 </span>

</div>
<div class="pick_one_offer">

<a href="<?php echo Mage::getBaseUrl(); ?>one-carat-14k-gold-solitaire-black-round-diamond-bezel-stud-earrings"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/black_round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>one-carat-14k-gold-solitaire-black-round-diamond-bezel-stud-earrings">1 ct. tw.</a></span>
<span> $300 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-solitaire-black-round-diamond-bezel-stud-earrings-15ct"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/black_round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-solitaire-black-round-diamond-bezel-stud-earrings-15ct">1 1/2 ct. tw.</a></span>
<span> $395 </span>

</div>
<div class="pick_one_offer">


<a href="<?php echo Mage::getBaseUrl(); ?>two-carat-14k-gold-solitaire-black-round-diamond-bezel-stud-earrings"><img border="0" alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/black_round_cut.png'); ?>"></a>
<span> <a href="<?php echo Mage::getBaseUrl(); ?>two-carat-14k-gold-solitaire-black-round-diamond-bezel-stud-earrings">2 ct. tw.</a></span>
<span> $490 </span>

</div>
<div class="libert_box">
<img  alt="" src="<?php echo $this->getSkinUrl('images/solitaire-earrings/liberty_coin.jpg'); ?>"></div>
</div>
</div>


</div>
</div>