<div id="cms-area">
  <style>
  .amount-box .pager{display:none!important; }
  #pageLocator .pager {padding: 5px 0; border-top: 1px solid #e5e5e5;}
  .paging-sort {display:none!important; }
  .hoop_ear_main {background: #fff; font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 17px; margin: 0 auto; max-width: 1170px; padding: 0; }
  .hoop_ear_main a {color: #292929;}
  .hoop_ear_main a:hover {color: #9c1818; text-decoration: none;}
  .hoop_ear_container { width: 100%; margin-bottom:15px; padding: 15px; }
  .hoop_ear_container:last-child{ border:0;}
  .hoop_ear_main h2 {clear: both; font-family: "Droid Serif",serif; font-size: 24px; font-weight: 400; line-height: 34px; margin: 20px 0 10px; padding: 0; text-align: center; width: 100%;}
  .hoop_ear_container ul{ width:100%; display:table; text-align:center;}
  .hoop_ear_container ul li{ display:table-cell; text-align:center;vertical-align: bottom;}
  .hoop_ear_container ul li span{ display:block; line-height:20px;}
  .hoop_ear_container ul li .sku{ color:#434343; font-size:12px; display:block; width:100%; font-weight: 400;}
  .hoop_ear_container ul li .sku span{ color:#434343; display:inline; width:auto;}
  .hoop_ear_container ul li img{ max-width:100%; height:auto;}
  .hoop_ear_container ul.hoop_2col {  margin:20px auto 0;  max-width: 650px;}
  .hoop_ear_container ul li .price span{ color:#b43938; font-size:14px; display:inline; padding:0px 0 8px 0; width:100%; font-weight: 700;}
  .product-grid-quick .actions{ text-align:left;}
  @media (max-width:640px){.hoop_ear_container ul { display:block;} .hoop_ear_container ul li{ display:inline-block; width:50%;} }
  @media (max-width:480px){.hoop_ear_container ul { display:block;} .hoop_ear_container ul li{ display:block; width:100%; margin-bottom:15px;} }
  </style>

  <?php
  $products = Mage::getModel('catalog/product');
  //$_Pdetails = $products->loadByAttribute('sku', '800485');
  //echo $_Pdetails->getPrice();
  //$this->helper('checkout')->formatPrice($_Pdetails->getSpecialPrice());

  //echo '==>'.$Price = $this->helper('checkout')->formatPrice($products->loadByAttribute('sku', '800485')->getSpecialPrice());
  //echo 'carat_weight_display==>'.$carat_weight_display = $products->loadByAttribute('sku', '800485')->getC2cCaratWeight();
  //echo $products->loadByAttribute('sku', '800485')->getC2cCaratWeight();
  ?>

  <div class="hoop_ear_main">

   <div class="hoop_ear_container">
    <h2>1.5mm to 2mm Wide Diamond Hoop Earrings</h2>
    <ul>
      <?php if($products->loadByAttribute('sku', '800485')):?>
        <li>
            <a href="<?php echo Mage::getBaseUrl(); ?>small-hoops-14k-diamond-hoop-earrings-inside-out-047-p-6931"><img src="<?php echo $this->getSkinUrl('images/hoop-earrings-new/yellow-rose-white-gold-3inch.jpg'); ?>" width="197" height="135" alt="" /> </a>
            <span><a href="<?php echo Mage::getBaseUrl(); ?>small-hoops-14k-diamond-hoop-earrings-inside-out-047-p-6931">Yellow, rose and white gold <br /> 3/4inch x 1.5mm <br /> <?php echo number_format((float)$products->loadByAttribute('sku', '800485')->getC2cCaratWeight(), 2, '.', '')."ct"; ?></a></span>
            <span class="sku"> <span> <strong> Item Code: </strong> </span> 800485 </span>
             <span class="price"> <span> Price: </span> <?php echo $this->helper('checkout')->formatPrice($products->loadByAttribute('sku', '800485')->getSpecialPrice());?> </span>
        </li>
      <?php endif;?>
      <?php if($products->loadByAttribute('sku', '802825')):?>
        <li> 
            <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-1-inch-inside-out-diamond-hoop-earrings-06ct-by-luxurman"><img src="<?php echo $this->getSkinUrl('images/hoop-earrings-new/yellow-rose-white-gold-1inch.jpg'); ?>" width="248" height="173" alt="" /> </a>
           <span><a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-1-inch-inside-out-diamond-hoop-earrings-06ct-by-luxurman">Yellow, rose and white gold<br /> 1inch x 2mm <br /><?php echo number_format((float)$products->loadByAttribute('sku', '802825')->getC2cCaratWeight(), 2, '.', '')."ct"; ?></a></span>
           <span class="sku"> <span> <strong> Item Code: </strong> </span> 802825 </span>
            <span class="price"> <span> Price: </span> <?php echo $this->helper('checkout')->formatPrice($products->loadByAttribute('sku', '802825')->getSpecialPrice());?> </span>
        </li>
      <?php endif;?>
      <?php if($products->loadByAttribute('sku', '800476')):?>  
        <li> <a href="<?php echo Mage::getBaseUrl(); ?>hoop-earrings-14k-diamond-hoop-earrings-inside-out-116-p-6930"><img src="<?php echo $this->getSkinUrl('images/hoop-earrings-new/yellow-rose-white-gold-16inch.jpg'); ?>" width="350" height="245" alt="" /> </a>
           <span><a href="<?php echo Mage::getBaseUrl(); ?>hoop-earrings-14k-diamond-hoop-earrings-inside-out-116-p-6930">Yellow, rose and white gold <br /> 1 1/2inch x 2mm <br /> <?php echo number_format((float)$products->loadByAttribute('sku', '800476')->getC2cCaratWeight(), 2, '.', '')."ct"; ?></a></span>
           <span class="sku"> <span> <strong> Item Code: </strong> </span> 800476 </span>
            <span class="price"> <span> Price: </span> <?php echo $this->helper('checkout')->formatPrice($products->loadByAttribute('sku', '800476')->getSpecialPrice());?> </span>
        </li>
      <?php endif;?>
      <?php if($products->loadByAttribute('sku', '802817')):?>
        <li> <a href="<?php echo Mage::getBaseUrl(); ?>2mm-175in-inside-out-diamond-hoop-earrings-for-women-16ct-14k-gold"><img src="<?php echo $this->getSkinUrl('images/hoop-earrings-new/yellow-rose-white-gold-17inch.jpg'); ?>" width="392" height="295" alt="" /> </a>
         <span><a href="<?php echo Mage::getBaseUrl(); ?>2mm-175in-inside-out-diamond-hoop-earrings-for-women-16ct-14k-gold">Yellow, rose and white gold <br /> 1 3/4inch x 2mm <br /> <?php echo number_format((float)$products->loadByAttribute('sku', '802817')->getC2cCaratWeight(), 2, '.', '')."ct"; ?></a></span>
         <span class="sku"> <span> <strong> Item Code: </strong> </span> 802817 </span>
          <span class="price"> <span> Price: </span> <?php echo $this->helper('checkout')->formatPrice($products->loadByAttribute('sku', '802817')->getSpecialPrice());?> </span>
        </li>
      <?php endif;?>
    </ul>

   </div>
    <div class="hoop_ear_container">
    <h2> 2mm Wide Diamond Hoop Earrings </h2>
    <ul>
      <?php if($products->loadByAttribute('sku', '800463')):?>
        <li>
         <a href="<?php echo Mage::getBaseUrl(); ?>small-hoops-14k-inside-out-diamond-hoop-earrings-106-p-6908"><img src="<?php echo $this->getSkinUrl('images/hoop-earrings-new/2mm1.jpg'); ?>" width="215" height="148" alt="" /> </a>
        <span><a href="<?php echo Mage::getBaseUrl(); ?>small-hoops-14k-inside-out-diamond-hoop-earrings-106-p-6908">Yellow, rose and white gold <br /> 3/4inch x 2mm <br /> <?php echo number_format((float)$products->loadByAttribute('sku', '800463')->getC2cCaratWeight(), 2, '.', '')."ct"; ?></a></span>
         <span class="sku"> <span> <strong> Item Code: </strong> </span> 800463  </span>
          <span class="price"> <span> Price: </span> <?php echo $this->helper('checkout')->formatPrice($products->loadByAttribute('sku', '800463')->getSpecialPrice());?> </span>
        </li>
      <?php endif;?>
      <?php if($products->loadByAttribute('sku', '802818')):?>
        <li> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-inside-out-diamond-hoop-earrings-for-women-13ct-34in-by-luxurman"><img src="<?php echo $this->getSkinUrl('images/hoop-earrings-new/2mm2.jpg'); ?>" width="261" height="176" alt="" /> </a>
         <span><a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-inside-out-diamond-hoop-earrings-for-women-13ct-34in-by-luxurman">Yellow, rose and white gold<br /> 1inch x 2mm <br /> <?php echo number_format((float)$products->loadByAttribute('sku', '802818')->getC2cCaratWeight(), 2, '.', '')."ct"; ?></a></span>
         <span class="sku"> <span> <strong> Item Code: </strong> </span>  802818 </span>
          <span class="price"> <span> Price: </span> <?php echo $this->helper('checkout')->formatPrice($products->loadByAttribute('sku', '802818')->getSpecialPrice());?> </span>
        </li>
      <?php endif;?>
      <?php if($products->loadByAttribute('sku', '802819')):?>
        <li> <a href="<?php echo Mage::getBaseUrl(); ?>1-inch-inside-out-2-carat-diamond-hoop-earrings-for-women-by-luxurman"><img src="<?php echo $this->getSkinUrl('images/hoop-earrings-new/2mm3.jpg'); ?>" width="304" height="206" alt="" /> </a>
        <span><a href="<?php echo Mage::getBaseUrl(); ?>1-inch-inside-out-2-carat-diamond-hoop-earrings-for-women-by-luxurman">Yellow, rose and white gold <br /> 1 1/8inch x 2mm <br /> <?php echo number_format((float)$products->loadByAttribute('sku', '802819')->getC2cCaratWeight(), 2, '.', '')."ct"; ?></a></span>
         <span class="sku">  <span> <strong> Item Code: </strong> </span> 802819 </span>
          <span class="price"> <span> Price: </span> <?php echo $this->helper('checkout')->formatPrice($products->loadByAttribute('sku', '802819')->getSpecialPrice());?> </span>
        </li>
      <?php endif;?>
      <?php if($products->loadByAttribute('sku', '802820')):?>
        <li> <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-inside-out-diamond-hoop-earrings-for-women-by-luxurman-21ct"><img src="<?php echo $this->getSkinUrl('images/hoop-earrings-new/2mm4.jpg'); ?>" width="360" height="238" alt="" /> </a>
        <span><a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-inside-out-diamond-hoop-earrings-for-women-by-luxurman-21ct">Yellow, rose and white gold <br /> 1 3 / 8inch x 2mm <br /> <?php echo number_format((float)$products->loadByAttribute('sku', '802820')->getC2cCaratWeight(), 2, '.', '')."ct"; ?></a></span>
        <span class="sku"> <span> <strong> Item Code: </strong> </span> 802820 </span>
         <span class="price"> <span> Price: </span> <?php echo $this->helper('checkout')->formatPrice($products->loadByAttribute('sku', '802820')->getSpecialPrice());?> </span>
        </li>
      <?php endif;?>

    </ul>

   </div>

   <div class="hoop_ear_container">
    <h2> 2mm to 2.5mm Wide Diamond Hoop Earrings</h2>
    <ul>
      <?php if($products->loadByAttribute('sku', '802821')):?>
        <li>
         <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-inside-out-diamond-hoop-earrings-for-women-15ct"><img src="<?php echo $this->getSkinUrl('images/hoop-earrings-new/2-5mm1.jpg'); ?>" width="203" height="143" alt="" /> </a>
         <span><a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-inside-out-diamond-hoop-earrings-for-women-15ct">Yellow, rose and white gold <br /> 13/16inch x 2mm <br /> <?php echo number_format((float)$products->loadByAttribute('sku', '802821')->getC2cCaratWeight(), 2, '.', '')."ct"; ?></a></span>
        <span class="sku"><span> <strong> Item Code: </strong> </span> 802821 </span>
         <span class="price"> <span> Price: </span> <?php echo $this->helper('checkout')->formatPrice($products->loadByAttribute('sku', '802821')->getSpecialPrice());?> </span>
        </li>
      <?php endif;?>
      <?php if($products->loadByAttribute('sku', '800478')):?>
        <li> <a href="<?php echo Mage::getBaseUrl(); ?>diamond-hoops-14k-diamond-hoop-earrings-inside-out-264-p-10"><img src="<?php echo $this->getSkinUrl('images/hoop-earrings-new/2-5mm2.jpg'); ?>" width="275" height="187" alt="" /> </a>
        <span><a href="<?php echo Mage::getBaseUrl(); ?>diamond-hoops-14k-diamond-hoop-earrings-inside-out-264-p-10">Yellow, rose and white gold<br /> 3/4inch x 2mm <br /> <?php echo number_format((float)$products->loadByAttribute('sku', '800478')->getC2cCaratWeight(), 2, '.', '')."ct"; ?></a></span>
        <span class="sku"><span> <strong> Item Code: </strong> </span> 800478 </span>
         <span class="price"> <span> Price: </span> <?php echo $this->helper('checkout')->formatPrice($products->loadByAttribute('sku', '800478')->getSpecialPrice());?> </span>
        </li>
      <?php endif;?>
      <?php if($products->loadByAttribute('sku', '800480')):?>
        <li> <a href="<?php echo Mage::getBaseUrl(); ?>diamond-hoops-14k-diamond-hoop-earrings-inside-out-444-p-7044"><img src="<?php echo $this->getSkinUrl('images/hoop-earrings-new/2-5mm3.jpg'); ?>" width="341" height="241" alt="" /> </a>
        <span><a href="<?php echo Mage::getBaseUrl(); ?>diamond-hoops-14k-diamond-hoop-earrings-inside-out-444-p-7044">Yellow, rose and white gold <br /> 1 1/4inch x 2.5mm <br /> <?php echo number_format((float)$products->loadByAttribute('sku', '800480')->getC2cCaratWeight(), 2, '.', '')."ct"; ?></a></span>
        <span class="sku"><span> <strong> Item Code: </strong> </span> 800480 </span>
         <span class="price"> <span> Price: </span> <?php echo $this->helper('checkout')->formatPrice($products->loadByAttribute('sku', '800480')->getSpecialPrice());?> </span>
        </li>
      <?php endif;?>

    </ul>

   </div>

   <div class="hoop_ear_container">
    <h2> 2mm to 3mm Wide Diamond Hoop Earrings</h2>
    <ul>
      <?php if($products->loadByAttribute('sku', '802822')):?>
        <li>
           <a href="<?php echo Mage::getBaseUrl(); ?>inside-out-diamond-hoop-earrings-small-in-14k-gold-15ct-by-luxurman"><img src="<?php echo $this->getSkinUrl('images/hoop-earrings-new/2-3mm-1.jpg'); ?>" width="217" height="144" alt="" /> </a>
           <span><a href="<?php echo Mage::getBaseUrl(); ?>inside-out-diamond-hoop-earrings-small-in-14k-gold-15ct-by-luxurman">Yellow, rose and white gold <br /> 13/16inch x 2mm <br /> <?php echo number_format((float)$products->loadByAttribute('sku', '802822')->getC2cCaratWeight(), 2, '.', '')."ct"; ?></a></span>
           <span class="sku"><span> <strong> Item Code: </strong> </span> 802822 </span>
            <span class="price"> <span> Price: </span> <?php echo $this->helper('checkout')->formatPrice($products->loadByAttribute('sku', '802822')->getSpecialPrice());?> </span>
        </li>
      <?php endif;?>
      <?php if($products->loadByAttribute('sku', '802823')):?>
        <li>
          <a href="<?php echo Mage::getBaseUrl(); ?>luxurman-14k-gold-two-carat-inside-out-diamond-hoop-earrings-for-women"><img src="<?php echo $this->getSkinUrl('images/hoop-earrings-new/2-3mm-2.jpg'); ?>" width="273" height="167" alt="" /> </a>
          <span><a href="<?php echo Mage::getBaseUrl(); ?>luxurman-14k-gold-two-carat-inside-out-diamond-hoop-earrings-for-women">Yellow, rose and white gold<br /> 1inch x 2.5mm <br /> <?php echo number_format((float)$products->loadByAttribute('sku', '802823')->getC2cCaratWeight(), 2, '.', '')."ct"; ?></a></span>
          <span class="sku"><span> <strong> Item Code: </strong> </span> 802823 </span>
           <span class="price"> <span> Price: </span> <?php echo $this->helper('checkout')->formatPrice($products->loadByAttribute('sku', '802823')->getSpecialPrice());?> </span>
        </li>
      <?php endif;?>
      <?php if($products->loadByAttribute('sku', '802824')):?>
        <li>
          <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-inside-out-3-carat-hoops-diamond-earrings-for-women-by-luxurman"><img src="<?php echo $this->getSkinUrl('images/hoop-earrings-new/2-3mm-3.jpg'); ?>" width="295" height="205" alt="" /> </a>
          <span><a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-inside-out-3-carat-hoops-diamond-earrings-for-women-by-luxurman">Yellow, rose and white gold <br /> 1 1/8inch x 3mm <br /> <?php echo number_format((float)$products->loadByAttribute('sku', '802824')->getC2cCaratWeight(), 2, '.', '')."ct"; ?></a></span>
          <span class="sku"><span> <strong> Item Code: </strong> </span> 802824 </span>
           <span class="price"> <span> Price: </span> <?php echo $this->helper('checkout')->formatPrice($products->loadByAttribute('sku', '802824')->getSpecialPrice());?> </span>
        </li>
      <?php endif;?>

    </ul>

   </div>

   <div class="hoop_ear_container">
    <h2>4mm Wide Diamond Hoop Earrings</h2>
    <ul>
      <?php if($products->loadByAttribute('sku', '800487')):?>
        <li>
            <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-small-inside-out-diamond-hoop-earrings-242ct-p-6933"><img src="<?php echo $this->getSkinUrl('images/hoop-earrings-new/4mm-1.jpg'); ?>" width="296" height="183" alt="" /> </a>
             <span><a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-small-inside-out-diamond-hoop-earrings-242ct-p-6933">Yellow, rose and white gold <br /> 1inch x 4mm <br /> <?php echo number_format((float)$products->loadByAttribute('sku', '800487')->getC2cCaratWeight(), 2, '.', '')."ct"; ?></a></span>
             <span class="sku"><span> <strong> Item Code: </strong> </span> 800487  </span>
              <span class="price"> <span> Price: </span> <?php echo $this->helper('checkout')->formatPrice($products->loadByAttribute('sku', '800487')->getSpecialPrice());?> </span>
        </li>
      <?php endif;?>
      <?php if($products->loadByAttribute('sku', '800289')):?>
        <li>
            <a href="<?php echo Mage::getBaseUrl(); ?>large-14k-gold-inside-out-diamond-hoop-earrings-460ct-p-6423"><img src="<?php echo $this->getSkinUrl('images/hoop-earrings-new/4mm-2.jpg'); ?>" width="392" height="244" alt="" /> </a>
            <span><a href="<?php echo Mage::getBaseUrl(); ?>large-14k-gold-inside-out-diamond-hoop-earrings-460ct-p-6423">Yellow, rose and white gold<br /> 1 3/8inch x 4mm <br /> <?php echo number_format((float)$products->loadByAttribute('sku', '800289')->getC2cCaratWeight(), 2, '.', '')."ct"; ?></a></span>
            <span class="sku"><span> <strong> Item Code: </strong> </span> 800289  </span>
             <span class="price"> <span> Price: </span> <?php echo $this->helper('checkout')->formatPrice($products->loadByAttribute('sku', '800289')->getSpecialPrice());?> </span>
        </li>
      <?php endif;?>
      <?php if($products->loadByAttribute('sku', '800288')):?>
        <li>
           <a href="<?php echo Mage::getBaseUrl(); ?>14k-dazzling-diamond-hoop-earrings-inside-out-690ct-p-6420"><img src="<?php echo $this->getSkinUrl('images/hoop-earrings-new/4mm-3.jpg'); ?>" width="496" height="320" alt="" /> </a>
            <span><a href="<?php echo Mage::getBaseUrl(); ?>14k-dazzling-diamond-hoop-earrings-inside-out-690ct-p-6420">Yellow, rose and white gold <br /> 2inch x 4mm <br /> <?php echo number_format((float)$products->loadByAttribute('sku', '800288')->getC2cCaratWeight(), 2, '.', '')."ct"; ?></a></span>
            <span class="sku"><span> <strong> Item Code: </strong> </span> 800288 </span>
             <span class="price"> <span> Price: </span> <?php echo $this->helper('checkout')->formatPrice($products->loadByAttribute('sku', '800288')->getSpecialPrice());?> </span>
        </li>
      <?php endif;?>


    </ul>

   </div>

   <div class="hoop_ear_container">
    <h2>  5mm Wide Diamond Hoop Earrings</h2>
    <ul>
      <?php if($products->loadByAttribute('sku', '406371')):?>
        <li>
            <a href="<?php echo Mage::getBaseUrl(); ?>pave-diamond-hoop-earrings-152ct-14k-gold-p-47955"><img src="<?php echo $this->getSkinUrl('images/hoop-earrings-new/5mm1.jpg'); ?>" width="247" height="237" alt="" /> </a>
            <span><a href="<?php echo Mage::getBaseUrl(); ?>pave-diamond-hoop-earrings-152ct-14k-gold-p-47955">Yellow, rose and white gold <br /> 1 3/8inch x 5mm <br /> <?php echo number_format((float)$products->loadByAttribute('sku', '406371')->getC2cCaratWeight(), 2, '.', '')."ct"; ?></a></span>
            <span class="sku"><span> <strong> Item Code: </strong> </span> 406371   </span>
             <span class="price"> <span> Price: </span> <?php echo $this->helper('checkout')->formatPrice($products->loadByAttribute('sku', '406371')->getSpecialPrice());?> </span>
        </li>
      <?php endif;?>
      <?php if($products->loadByAttribute('sku', '406372')):?>
        <li>
            <a href="<?php echo Mage::getBaseUrl(); ?>2-inch-diamond-hoop-earrings-238ct-14k-gold-p-48284"><img src="<?php echo $this->getSkinUrl('images/hoop-earrings-new/5mm2.jpg'); ?>" width="325" height="353" alt="" /> </a>
             <span><a href="<?php echo Mage::getBaseUrl(); ?>2-inch-diamond-hoop-earrings-238ct-14k-gold-p-48284">Yellow, rose and white gold<br /> 2inch x 5mm <br /> <?php echo number_format((float)$products->loadByAttribute('sku', '406372')->getC2cCaratWeight(), 2, '.', '')."ct"; ?></a></span>
             <span class="sku"><span> <strong> Item Code: </strong> </span> 406372  </span>
              <span class="price"> <span> Price: </span> <?php echo $this->helper('checkout')->formatPrice($products->loadByAttribute('sku', '406372')->getSpecialPrice());?> </span>
        </li>
      <?php endif;?>
      <?php if($products->loadByAttribute('sku', '406406')):?>
        <li>
             <a href="<?php echo Mage::getBaseUrl(); ?>large-hoop-earrings-with-diamonds-276ct-14k-gold-p-48378"><img src="<?php echo $this->getSkinUrl('images/hoop-earrings-new/5mm3.jpg'); ?>" width="398" height="414" alt="" /> </a>
             <span><a href="<?php echo Mage::getBaseUrl(); ?>large-hoop-earrings-with-diamonds-276ct-14k-gold-p-48378">Yellow, rose and white gold <br /> 2 1/2inch x 5mm <br /> <?php echo number_format((float)$products->loadByAttribute('sku', '406406')->getC2cCaratWeight(), 2, '.', '')."ct"; ?></a></span>
             <span class="sku"><span> <strong> Item Code: </strong> </span> 406406 </span>
              <span class="price"> <span> Price: </span> <?php echo $this->helper('checkout')->formatPrice($products->loadByAttribute('sku', '406406')->getSpecialPrice());?> </span>
        </li>
      <?php endif;?>

    </ul>

   </div>


   <div class="hoop_ear_container">
    <h2> Yellow Diamond Hoop Earrings </h2>
    <ul>
      <?php if($products->loadByAttribute('sku', '802926')):?>
        <li>
            <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-34in-inside-out-yellow-diamond-hoop-earrings-1-carat-by-luxurman"> <img src="<?php echo $this->getSkinUrl('images/hoop-earrings-new/yellow-diamond-hoop.jpg'); ?>" width="211" height="135" alt="" /> </a>
            <span><a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-34in-inside-out-yellow-diamond-hoop-earrings-1-carat-by-luxurman">Yellow, rose and white gold <br /> 3/4inch x 2mm  <br /> <?php echo number_format((float)$products->loadByAttribute('sku', '802926')->getC2cCaratWeight(), 2, '.', '')."ct"; ?> </span></a>
            <span class="sku"><span> <strong> Item Code: </strong> </span> 802926   </span>
             <span class="price"> <span> Price: </span> <?php echo $this->helper('checkout')->formatPrice($products->loadByAttribute('sku', '802926')->getSpecialPrice());?> </span>
        </li>
      <?php endif;?>
      <?php if($products->loadByAttribute('sku', '802927')):?>
        <li>
            <a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-inside-out-yellow-diamond-hoop-earrings-133ct-by-luxurman"> <img src="<?php echo $this->getSkinUrl('images/hoop-earrings-new/yellow-diamond-hoop2.jpg'); ?>" width="258" height="166" alt="" /></a>
             <span><a href="<?php echo Mage::getBaseUrl(); ?>14k-gold-inside-out-yellow-diamond-hoop-earrings-133ct-by-luxurman">Yellow, rose and white gold<br /> 1inch x 2mm  <br /> <?php echo number_format((float)$products->loadByAttribute('sku', '802927')->getC2cCaratWeight(), 2, '.', '')."ct"; ?> </span></a>
             <span class="sku"><span> <strong> Item Code: </strong> </span> 802927  </span>
              <span class="price"> <span> Price: </span> <?php echo $this->helper('checkout')->formatPrice($products->loadByAttribute('sku', '802927')->getSpecialPrice());?> </span>
        </li>
      <?php endif;?>
      <?php if($products->loadByAttribute('sku', '802928')):?>
        <li>
             <a href="<?php echo Mage::getBaseUrl(); ?>14k-yellow-diamond-hoop-earrings-2-carats-inside-out-design-by-luxurman"> <img src="<?php echo $this->getSkinUrl('images/hoop-earrings-new/yellow-diamond-hoop3.jpg'); ?>" width="294" height="194" alt="" /></a>
             <span><a href="<?php echo Mage::getBaseUrl(); ?>14k-yellow-diamond-hoop-earrings-2-carats-inside-out-design-by-luxurman">Yellow, rose and white gold <br /> 1 1/8inch x 2mm  <br /> <?php echo number_format((float)$products->loadByAttribute('sku', '802928')->getC2cCaratWeight(), 2, '.', '')."ct"; ?> </span></a>
             <span class="sku"><span> <strong> Item Code: </strong> </span> 802928 </span>
              <span class="price"> <span> Price: </span> <?php echo $this->helper('checkout')->formatPrice($products->loadByAttribute('sku', '802928')->getSpecialPrice());?> </span>
        </li>
      <?php endif;?>
      <?php if($products->loadByAttribute('sku', '803001')):?>
        <li>
             <a href="<?php echo Mage::getBaseUrl(); ?>inside-out-yellow-diamond-hoop-earrings-in-14k-gold-by-luxurman-22ct"> <img src="<?php echo $this->getSkinUrl('images/hoop-earrings-new/yellow-diamond-hoop4.jpg'); ?>" width="351" height="224" alt="" /> </a>
             <span><a href="<?php echo Mage::getBaseUrl(); ?>inside-out-yellow-diamond-hoop-earrings-in-14k-gold-by-luxurman-22ct">Yellow, rose and white gold <br /> 1 3/4inch x 2mm <br />  <?php echo number_format((float)$products->loadByAttribute('sku', '803001')->getC2cCaratWeight(), 2, '.', '')."ct"; ?> </span></a>
             <span class="sku"><span> <strong> Item Code: </strong> </span> 803001 </span>
              <span class="price"> <span> Price: </span> <?php echo $this->helper('checkout')->formatPrice($products->loadByAttribute('sku', '803001')->getSpecialPrice());?> </span>
        </li>
      <?php endif;?>


    </ul>

   </div>




  <div class="hoop_ear_container">
    <h2> 2mm to 2.5mm Wide Black Diamond Hoop earrings </h2>
    <ul class="hoop_2col">
      <?php if($products->loadByAttribute('sku', '004984')):?>
        <li>
             <a href="<?php echo Mage::getBaseUrl(); ?>14k-black-diamond-hoop-earrings-179ct-p-35675"> <img src="<?php echo $this->getSkinUrl('images/hoop-earrings-new/black-diamond-hoop.jpg'); ?>" width="263" height="177" alt="" /></a>
             <span><a href="<?php echo Mage::getBaseUrl(); ?>14k-black-diamond-hoop-earrings-179ct-p-35675">Yellow, rose and white gold <br /> 1inch x 2mm <br /> <?php echo number_format((float)$products->loadByAttribute('sku', '004984')->getC2cCaratWeight(), 2, '.', '')."ct"; ?></a></span>
             <span class="sku"><span> <strong> Item Code: </strong> </span> 004984 </span>
              <span class="price"> <span> Price: </span> <?php echo $this->helper('checkout')->formatPrice($products->loadByAttribute('sku', '004984')->getSpecialPrice());?> </span>
        </li>
      <?php endif;?>
      <?php if($products->loadByAttribute('sku', '004983')):?>
        <li>
             <a href="<?php echo Mage::getBaseUrl(); ?>14k-black-diamond-hoop-earrings-315ct-p-35673"> <img src="<?php echo $this->getSkinUrl('images/hoop-earrings-new/black-diamond-hoop2.jpg'); ?>" width="263" height="177" alt="" /></a>
             <span><a href="<?php echo Mage::getBaseUrl(); ?>14k-black-diamond-hoop-earrings-315ct-p-35673">Yellow, rose and white gold <br /> 1inch x 2.5mm <br /> <?php echo number_format((float)$products->loadByAttribute('sku', '004983')->getC2cCaratWeight(), 2, '.', '')."ct"; ?></a></span>
             <span class="sku"><span> <strong> Item Code: </strong> </span> 004983 </span>
             <span class="price"> <span> Price: </span> <?php echo $this->helper('checkout')->formatPrice($products->loadByAttribute('sku', '004983')->getSpecialPrice());?> </span>
        </li>
      <?php endif;?>
   </ul>

   </div>

  </div>
</div>