<?php
/** @var \Medialounge_Catalog_Block_Subcategory $this */
$categories = $this->getSubCategoryList();
$_category  = $this->getCurrentCategory();

$featuredCategories = $this->getFeaturedSubCategories();
/** @var Mage_Catalog_Helper_Output $_helper */
$_helper = $this->helper('catalog/output');

$titleAttr = $_category->getData('h2_tag_name') ? 'h2_tag_name' : 'name';

// Category Summary
$summary = $_category->getData('summary');

// Category Sub Heading
$subHeading = $_category->getData('sub_heading');

?>

<div class="page-title category-title first-category">
    <h1><?php echo $_helper->categoryAttribute($_category, $_category->getData($titleAttr), $titleAttr) ?></h1>
    <?php if($subHeading != ""): ?>
        <p class="sub-heading">
            <?php echo $_helper->categoryAttribute($_category, $subHeading, 'sub_heading') ?>
        </p>
    <?php endif; ?>
</div>

<?php if($_description=$this->getCurrentCategory()->getDescription()): ?>
    <div class="category-description std">
        <div class="category-description-text js-expand">
            <?php echo $_helper->categoryAttribute($_category, $_description, 'description') ?>
        </div>
        <a href="#" class="category-description-link js-expand-trigger"><?php echo $this->__('Read More') ?></a>
    </div>
<?php endif; ?>

<?php if ($categories->count() or $featuredCategories->count()): ?>
    <div class="category-listing">
        <?php $_columnCount = $this->getColumnCount(); ?>
        <?php if ($featuredCategories->count()): ?>
            <ul class="featured-categories-grid products-grid products-grid--max-2-col">
            <?php $i = 0; foreach ($featuredCategories as $category): ?>
                <?php $_imgHtml   = '';
                if ($_imgUrl = $category->getData('thumbnail')) {
                    $_imgHtml = '<p class="category-image"><img class="lazy" data-src="' . $this->getCategoryImageUrl($_imgUrl) . '" alt="' . $this->escapeHtml($category->getName()) . '" title="' . $this->escapeHtml($category->getName()) . '" src="'.$this->getSkinUrl('images/mgt_lazy_image_loader/px.gif').'" /></p>';
                }
                ?>
                <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                    <a href="<?php echo $this->getCategoryUrl($category) ?>" title="<?php echo $this->stripTags($this->escapeHtml($category->getName()), null, true) ?>" class="product-image">
                        <?php echo $_imgHtml; ?>
                    </a>
                    <div class="product-info">
                        <h2 class="bordered-title center-title bordered-title-center h3"><a href="<?php echo $category->getUrl() ?>" title="<?php echo $this->stripTags($category->getName(), null, true) ?>"><strong><?php echo $_helper->productAttribute($category, $category->getName(), 'name') ?></strong></a></h2>
                        <p><?php echo $_helper->categoryAttribute($category, $category->getIntroText(), 'intro_text') ?></p>

                        <div class="actions">
                            <a title="<?php echo $this->quoteEscape($this->__('View')) ?>" class="button-simple-category btn-short" href="<?php echo $this->getCategoryUrl($category) ?>"><?php echo $this->__('View') ?></a>
                        </div>
                    </div>
                </li>
            <?php endforeach ?>
            </ul>
        <?php endif; ?>
        <ul class="products-grid products-grid--max-<?php echo $_columnCount; ?>-col">
            <?php $i=0; foreach ($categories as $category): ?>
                <?php $_imgHtml   = '';
                if ($_imgUrl = $category->getData('thumbnail')) {
                    $_imgHtml = '<p class="category-image"><img width="313" height="241" class="lazy" data-src="' . $this->getCategoryImageUrl($_imgUrl) . '" alt="' . $this->escapeHtml($category->getName()) . '" title="' . $this->escapeHtml($category->getName()) . '" src="'.$this->getSkinUrl('images/mgt_lazy_image_loader/px.gif').'" /></p>';
                }
                ?>
                <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                    <a href="<?php echo $this->getCategoryUrl($category) ?>" title="<?php echo $this->stripTags($this->escapeHtml($category->getName()), null, true) ?>" class="product-image">
                        <?php echo $_imgHtml; ?>
                    </a>
                    <div class="product-info info-cate">
                        <h2 class="bordered-title center-title bordered-title-center h3"><a href="<?php echo $category->getUrl() ?>" title="<?php echo $this->stripTags($category->getName(), null, true) ?>"><strong><?php echo $_helper->productAttribute($category, $category->getName(), 'name') ?></strong></a></h2>
                        <p><?php echo $_helper->categoryAttribute($category, $category->getIntroText(), 'intro_text') ?></p>

                        <div class="actions">
                            <a title="<?php echo $this->quoteEscape($this->__('View')) ?>" class="button-simple-category btn-short" href="<?php echo $this->getCategoryUrl($category) ?>"><?php echo $this->__('View') ?></a>
                        </div>
                    </div>
                </li>
            <?php endforeach ?>
        </ul>
        <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
        <?php if($summary != ""): ?>
            <div class="summary">
                <p><?php echo $_helper->categoryAttribute($_category, $summary, 'summary') ?></p>
            </div>
        <?php endif; ?>
        <?php if($_category != null && $_category->getUpdatedAt()):?>
            <p class="updated-on parent-cate">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24"><path d="M7.127 22.562l-7.127 1.438 1.438-7.128 5.689 5.69zm1.414-1.414l11.228-11.225-5.69-5.692-11.227 11.227 5.689 5.69zm9.768-21.148l-2.816 2.817 5.691 5.691 2.816-2.819-5.691-5.689z"/></svg>
                <span><?php echo $this->__("Updated on ").Mage::helper("opentechizcatalog")->getUpdatedAtData($_category->getUpdatedAt());?></span>
            </p>
        <?php endif;?>
    </div>
<?php endif; ?>

