<?php
/**
 * @var $this Mgtoxp_Menuadminpro_Block_Top
 */
$menu_data = $this->getMenuData('top');

if ($menu_data) :

    foreach ($menu_data['stores'] as $k => $store) :

        $itemsperrow = $menu_data['settings'][$k]['itemsperrow'];

        if ($itemsperrow == 0 || empty($itemsperrow)) :
            $itemsperrow = 1;
        endif;

        $responsive = $menu_data['settings'][$k]['is_responsive'];
        $menubutton = $menu_data['settings'][$k]['menubutton'];
        $menutitle =  $menu_data['settings'][$k]['menutitle'];

        $htmlmenu = $this->drawMenu('top', $store, 0, 0, $itemsperrow);
?>

<nav id="nav-horizontal">
    <ul class="nav-menu">
        <?php echo $htmlmenu['wide']; ?>
    </ul>
    <div class="hidden-menu-wrapper">
        <a href="#" class="hidden-nav-button hidden"><span>More</span></a>
        <ul class="hidden-nav-menu"></ul>   
    </div>

    <script type="text/javascript" data-no-minify="true">
    jQuery(document).ready(function () {
        jQuery("#nav-horizontal:first").accessibleMegaMenu({
            uuidPrefix: "accessible-megamenu",
            menuClass: "nav-menu",
            topNavItemClass: "nav-item",
            panelClass: "sub-nav",
            panelGroupClass: "sub-nav-group",
            hoverClass: "hover",
            focusClass: "focus",
            openClass: "open"
        });
        setTimeout(function () {
            jQuery('body').removeClass('init');
        }, 500);
    });
    </script>
</nav>

<?php if ($responsive) : ?>
<div class="slimmenu-wrapper">
    <div id="slimmenu-icons" class="slimmenu-icons"></div>

    <ul class="slimmenu">
        <?php echo $htmlmenu['small']; ?>
    </ul>
</div>

<script type="text/javascript">
jQuery(function () {
    jQuery('ul.slimmenu').slimmenu({
        resizeWidth: '770',
        collapserTitle: '<?php echo $this->jsQuoteEscape($menutitle); ?>',
        animSpeed: 'medium',
        indentChildren: true,
        childrenIndenter: '&nbsp;',
        collapserButton: <?php echo $this->jsQuoteEscape($menubutton); ?>
    });
});
</script>
<?php endif;?>

<?php
    endforeach;

endif;
