<?php 
$items = Mage::helper('medialounge_theme')->getFavoritesItems();
$_wishlistQty = count($items->getItems());
?>
<a rel="nofollow" href="<?php echo $this->getUrl('amlist/list'); ?>"
    <?php if ($_wishlistQty) : ?>
        data-target-element="#header-wishlist"
    <?php endif; ?>
    class="skip-link skip-account js-skip-slim wishlist-link"
        <?php if (!$_wishlistQty) : ?>
            onclick="window.location='<?php echo $this->getUrl('amlist/list'); ?>';"
        <?php endif; ?>
     aria-label="<?php echo $this->__('Wishlist')?>"
>
    <svg xmlns="http://www.w3.org/2000/svg" width="38" height="34" viewBox="0 0 100 91.46" class="icon"><path d="M50 91.46c3.943-3.943 26.457-26.47 40.532-40.543 12.61-12.61 12.34-30.992.876-42.395-11.465-11.406-30.004-11.356-41.41.11-11.402-11.466-29.94-11.516-41.406-.11-11.465 11.403-11.732 29.784.876 42.395C23.54 64.99 46.058 87.517 50 91.46z"/></svg>
    <span class="label"><?php echo $this->__('Wishlist'); ?></span>
    <?php if ($_wishlistQty) : ?>
        <span class="count"><?php echo $_wishlistQty; ?></span>
    <?php endif; ?>
</a>