<div class="center-container">
    <div class="product-collateral toggle-content tabs">
        <?php if ($detailedInfoGroup = $this->getChildGroup('detailed_info', 'getChildHtml')):?>
            <dl id="collateral-tabs" class="collateral-tabs">
                <?php if(Mage::registry('product')->getSku() == 'quotation'): ?>
                    <?php foreach ($detailedInfoGroup as $alias => $html):?>
                        <?php if($alias != 'quotation.form' && $alias != 'catalog.product.qa'): ?>
                            <dt class="tab"><span><?php echo $this->escapeHtml($this->getChildData($alias, 'title')) ?></span></dt>
                            <dd class="tab-container">
                                <div class="tab-content"><?php echo $html ?></div>
                            </dd>
                        <?php endif; ?>
                    <?php endforeach;?>
                <?php else: ?>
                    <?php foreach ($detailedInfoGroup as $alias => $html):?>
                        <dt class="tab"><span><?php echo $this->escapeHtml($this->getChildData($alias, 'title')) ?></span></dt>
                        <dd class="tab-container">
                            <div class="tab-content"><?php echo $html ?></div>
                        </dd>
                    <?php endforeach;?>
                <?php endif; ?>
            </dl>
        <?php endif; ?>
    </div>
</div>