<?php 
require_once(Mage::getBaseDir().'/app/code/local/Jain/Bought/Block/Bought.php');
$block = new Jain_Bought_Block_Bought();

$base_url = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB);
$_coreHelper = Mage::helper('core');
$_weeeHelper = Mage::helper('weee');
$_taxHelper  = Mage::helper('tax');
$orderId       = Mage::getSingleton('checkout/session')->getLastRealOrderId();
$order         = Mage::getModel('sales/order')->loadByIncrementId($orderId);
$storeId = Mage::app()->getStore()->getId();

$order_items = $order->getAllItems();

foreach($order_items as $item) {
	
    $product = Mage::getModel('catalog/product')->load($item->getProductId());
   
   if ($product->getId()) {
        $id = $product->getId();
        $le = $block->getBoughtProductsOrder($id);
		break;
		//print_r($alsoReviewedProductsId);
    }
}

//echo $this->getChildHtml("right");
//echo $this->getLayout()->createBlock("cms/block")->setBlockIdentifier("right-checkout-block")->toHtml();
//echo $this->getLayout()->createBlock('cms/block')->setBlockId('right-common-block')->toHtml()
?>
<!-- Right Block Starts Here -->
<div class="right-cart-checkout">
	<div class="sidebar">
		<div class="content-rightpanel">
			<div class="rightpanel-area" id="RightPanelArea">
				
				<!-- Jewelry of the week STARTs here -->
				<div class="leftblk-whyitshot">
					<div class="leftpanel-items">
					
					<?php $lecount=count($le);
					if($lecount>0)
					{
						echo '<span style="Font-weight:bold;text-decoration: underline;">Also Consider</span>';
						//echo "total==>".count($alsoReviewedProductsId);exit;
					
						$countItem = 1;
						$counter = 0;
						foreach ($le as $key => $alsoProduct)
						{
							$productUrl = $alsoProduct->getProductUrl();
														
							?>
							<span class="lpi-itemtitle">
								<a href="<?php echo $productUrl;?>" title="<?php echo $this->stripTags($alsoProduct->getName()) ?>"><?php echo $this->stripTags($alsoProduct->getName()) ?></a>
							</span>
							
							<a href="<?php echo $productUrl;?>" title="<?php echo $this->stripTags($alsoProduct->getName()) ?>">
								<img src="<?php echo Mage::helper('catalog/image')->init($alsoProduct, 'thumbnail')->resize(200,200); ?>" alt="<?php echo $this->htmlEscape($alsoProduct->getName()) ?>" title="<?php echo $this->htmlEscape($alsoProduct->getName()) ?>">
							</a>
							
							<span class="lpi-itemprice">Now Only <?php echo Mage::helper('core')->currency($alsoProduct->getSpecialPrice()+$_weeeTaxAmount,true,false) ?>!</span>  
							<hr class="hr-001"> 
							<?php
							$counter++;
							if($counter==5)
							break;
						}
					}
					?>
					<div class="leftpanel-socialicons">
						Follow us:<br />
						<a rel="nofollow" alt="ItsHot.com Diamond Watches Jewelry on Twitter" href="http://twitter.com/itshotdotcom" target="_blank">
							<img border="0" alt="ItsHot.com Diamond Jewelry Watches On Twitter" title="ItsHot.com Diamond Jewelry Watches On Twitter" src="<?php echo $this->getSkinUrl('images/Diamond-Jewelry-Watches-Twitter.gif');?>">
						</a> 
						<a rel="nofollow" alt="ItsHot.com Diamond Watches Jewelry on Facebook" href="http://www.facebook.com/ItsHot" target="_blank">
							<img border="0" alt="ItsHot.com Diamond Jewelry Watches On Facebook" title="ItsHot.com Diamond Jewelry Watches On Facebook" src="<?php echo $this->getSkinUrl('images/Diamond-Jewelry-Watches-Facebook.gif');?>">
						</a>
					</div>
					
				</div>
				<!-- Jewelry of the week ENDs here -->
			</div>
		</div>
	</div>
</div>
</div>
<!-- Right Block Ends Here -->

