<?php
$jewelry_week = strip_tags($this->getLayout()->createBlock('cms/block')->setBlockId('jewelry-of-week')->toHtml());
$jewelry_week = str_replace("&nbsp;","",$jewelry_week);
$jewelry_weekarray = explode(",",$jewelry_week);
?>
<div class="guarantee-banner-section">
	<!-- <img src="<?php //echo $this->getSkinUrl('images/best_Price_2.svg'); ?>" alt="" /> -->
	<div id="addBookmarkContainer" class="boomark"></div>
</div>
<!-- Jewelry of the week STARTs here -->
<div class="jewelry-ofthe-week-section">
	<h2>Jewelry Of The Week</h2>
	<ul>
		<?php
		$productids = array();
		foreach($jewelry_weekarray as $sku) {
			$pid = Mage::getModel('catalog/product')->getIdBySku(trim($sku));
			if($pid>0) {
				$productids[] = $pid;
			}
		}
		$collection = Mage::getModel('catalog/product')->getCollection()
			->addAttributeToFilter('entity_id',array('in'=>$productids))
			->addAttributeToFilter('status',array('eq'=>1))
			->addAttributeToFilter('visibility',array('in'=>array(2,4)))
			->addAttributeToSelect('*');
		$baseCurrencyCode = Mage::app()->getStore()->getBaseCurrencyCode();
		$currentCurrencyCode = Mage::app()->getStore()->getCurrentCurrencyCode();
		$currency_symbol = Mage::app()->getLocale()->currency($currentCurrencyCode)->getSymbol();
		foreach($collection as $product):
		$productUrl = Mage::helper('core')->getCustomizeProductUrl($product->getId());
		$price = Mage::helper('core')->currency($product->getFinalPrice(),true,false);
		$CFP = $product->getCallForPrice();
		if($CFP!=1):
		$price = $product->price;
		$pricetxt = "";
		$special_price = $product->special_price;
		if($baseCurrencyCode != $currentCurrencyCode) {
			$price = Mage::helper('directory')->currencyConvert($price,$baseCurrencyCode,$currentCurrencyCode);
			$special_price = Mage::helper('directory')->currencyConvert($special_price,$baseCurrencyCode,$currentCurrencyCode);
		}
		if(($product->special_price!="") && ($product->special_price != $product->price)) {
			$pricetxt = '<p class="old-price"><span class="price-label">Retail Price:</span> <span id="old-price-'.$product->getSku().'" class="price">'.$currency_symbol.number_format($price,0).'</span></p><p class="our-price"><span class="price-label">Now Only</span> <span id="product-price-'.$product->getSku().'">'.$currency_symbol.number_format($special_price,0).'!</span></p>';
		}
		else {
			$pricetxt = '<span id="product-price-'.$product->getSku().' class="regular-price-qv"><span class="price">'.$currency_symbol.$price.'</span></span>';
		}
		?>
		<li>
			<div class="jewelry-ofthe-weekt-humb">
				<a title="<?php echo $product->getName(); ?>" href="<?php echo $productUrl; ?>">
					<img src="<?php echo Mage::helper("catalog/image")->init($product,"image")->resize(150,150); ?>" alt="<?php echo $product->getName(); ?>" width="150" height="150" />
				</a>
			</div>
			<div class="jewelry-ofthe-week-details-area">
				<div class="jewelry-ofthe-week-details-area-title">
					<a title="<?php echo $product->getName(); ?>" href="<?php echo $productUrl; ?>"><?php echo $product->getName(); ?></a>
				</div>
				<div class="jewelry-ofthe-week-details-area-price"><?php echo $pricetxt; ?></div>
			</div>
		</li>
		<?php
		else:
		$pricetxt = Mage::helper('core')->displayPriceTxt();
		endif;
		endforeach;
		?>
	</ul>
</div>
<div id="giveFeedbackBlock">
	<a id="giveFeedbackLink" href="<?php echo Mage::getBaseUrl(); ?>education/history-of-wrist-watches.aspx">History Of Wrist Watches</a>
</div>
