<?php
$baseurl	= Mage::getBaseUrl();
$imgBaseUrl	= $this->getImageUrl();

$skinCDNImageUrl = 'http://media.itshot.com/media/images/skin/'; //CDN URL
//Physical Path: root/skin/frontend/default/itshot/images/
//2-Images Updated : celebrities.png,  diamond-education.png


?>
<div class="category-main">
	<?php
	$homeCatArr2 = array(44, 752, 8, 15, 22, 11);
	$homeCatArr1 = array(752, 44, 8);
	$imageObj	= Mage::helper('core');
	$obj = new Mage_Catalog_Block_Navigation();
	$homecategorynum=0;
	foreach($homeCatArr2 AS $key2=>$value2)
	{
		$catObjRes2 = Mage::getModel('catalog/category')->load($value2);
		if($catObjRes2->getIsActive()==1)
		{
			$catImage = "no_image.jpg";
			if($catObjRes2->getImage()!="")
			{
				if(file_exists(Mage::getBaseDir('media')."/catalog/category/".$catObjRes2->getImage()))
				{
					$catImage = $catObjRes2->getImage();
				}	
			}//end if						
			$width = "313";
			$height = "241";
			$divClass = "";
			if(in_array($value2, $homeCatArr1))
			{
				//$catResizedImg = $imageObj->resized($catImage, "resized", 195, 140);
				$catDescription = "";
				$catResizedImg = Mage::getBaseUrl('media')."catalog/category/".$catImage;
				$divClass = "top-cat";
			}
			else
			{
				//$catResizedImg = $imageObj->resized($catImage, "resized", 80, 100);
				$catResizedImg = Mage::getBaseUrl('media')."catalog/category/".$catImage;
				$catDescription = $obj->htmlEscape($catObjRes2->getShortDescription());
			}
			if($homecategorynum=="3")
			{
			$homecategorynum=0;
			?>
			<br clear="all" />
			<?php
			}
			$homecategorynum++;
			$lastclass="";
			if($homecategorynum==3)
			{
				$lastclass=" last";
			}
			?>
			<div class="category-box <?php echo $lastclass;?>">
				<h2><?php echo $obj->htmlEscape($catObjRes2->getName());?></h2>
				<div class="category-thumb">
				<a class="img-border" href="<?php echo $baseurl.$catObjRes2->getUrlPath();?>" title="<?php echo $obj->htmlEscape($catObjRes2->getName()) ?>" onclick="setrefrenceurl(<?php echo $catObjRes2->getId();?>);"> 
					<img src="<?php echo $catResizedImg;?>" alt="<?php echo $obj->htmlEscape($catObjRes2->getName());?>" width="<?php echo $width;?>" height="<?php echo $height;?>"  title="<?php echo $obj->htmlEscape($catObjRes2->getName()) ?>" />
				</a> 
				<?php echo $catDescription;?>
				</div>
				<div class="category-contetn-area">
					<ul>
						<?php
						if($value2==44)
						{
							echo "<li class='odd'><a href='".$baseurl."mens-diamond-wrist-watches.aspx' alt='Mens Diamond Watches' title='Mens Diamond Watches' onclick=\"setrefrenceurl(55,'');\">Mens Diamond Watches</a></li>";
							echo "<li class='even'><a href='".$baseurl."womens-diamond-wrist-watches.aspx' alt='Womens Diamond Watches' title='Womens Diamond Watches' onclick=\"setrefrenceurl(56,'');\">Womens Diamond Watches</a></li>";
							echo "<li class='odd'><a href='".$baseurl."mens-womens-black-diamond-watches.aspx' alt='Black Diamond Watches' title='Black Diamond Watches' onclick=\"setrefrenceurl(540,'');\">Black Diamond Watches</a></li>";
							echo "<li class='even'><a href='".$baseurl."diamond-watches/real-hip-hop-watches.aspx' alt='Hip Hop Diamond Watches' title='Hip Hop Diamond Watches' onclick=\"setrefrenceurl(384,'');\">Hip Hop Diamond Watches</a></li>";
						}
						else if($value2==752)
						{
							echo "<li class='odd'><a href='".$baseurl."mens-diamond-jewelry/mens-diamond-gold-rings.aspx' alt='Mens Diamond Rings' title='Mens Diamond Rings' onclick=\"setrefrenceurl(3,'');\">Mens Diamond Rings</a></li>";
							echo "<li class='even'><a href='".$baseurl."mens-diamond-jewelry/mens-diamond-gold-bracelets.aspx' alt='Mens Diamond Bracelets' title='Mens Diamond Bracelets' onclick=\"setrefrenceurl(5,'');\">Mens Diamond Bracelets</a></li>";
							echo "<li class='odd'><a href='".$baseurl."mens-diamond-jewelry/mens-diamond-gold-earrings-studs.aspx' alt='Mens Diamond Earrings' title='Mens Diamond Earrings' onclick=\"setrefrenceurl(4,'');\">Mens Diamond Earrings</a></li>";
							echo "<li class='even'><a href='".$baseurl."mens-diamond-jewelry/mens-diamond-gold-pendants.aspx' alt='Mens Diamond Pendants' title='Mens Diamond Pendants' onclick=\"setrefrenceurl(6,'');\">Mens Diamond Pendants</a></li>";
						}
						else if($value2==8)
						{
							echo "<li class='odd'><a href='".$baseurl."womens-diamond-gold-rings.aspx' alt='Womens Diamond Rings' title='Womens Diamond Rings' onclick=\"setrefrenceurl(9,'');\">Womens Diamond Rings</a></li>";
							echo "<li class='even'><a href='".$baseurl."diamond-earrings-studs-hoops-chandelier.aspx' alt='Ladies Diamond Earrings' title='Ladies Diamond Earrings' onclick=\"setrefrenceurl(749,'11');\">Diamond Earrings</a></li>";
							echo "<li class='odd'><a href='".$baseurl."diamond-gold-tennis-bracelets-bangles.aspx' alt='Womens Diamond Bracelets' title='Womens Diamond Bracelets' onclick=\"setrefrenceurl(12,'');\">Women's Diamond Bracelets</a></li>";
							echo "<li class='even'><a href='".$baseurl."gold-diamond-necklaces.aspx' alt='Ladies Diamond Necklaces' title='Ladies Diamond Necklaces' onclick=\"setrefrenceurl(14,'');\">Ladies Diamond Necklaces</a></li>";								
						}
						else if($value2==15)
						{
							echo "<li class='odd'><a href='".$baseurl."diamond-engagement-rings/wholesale-gold-diamond-engagement-rings.aspx' alt='Preset Engagement Rings' title='Preset Engagement Rings' onclick=\"setrefrenceurl(371,'');\">Preset Engagement Rings</a></li>";
							echo "<li class='even'><a href='".$baseurl."engagement-rings-settings/diamond-engagement-settings-mountings-sets.aspx' alt='Engagement Rings Mountings Sets' title='Engagement Rings Mountings Sets' onclick=\"setrefrenceurl(373,'');\">Engagement Rings Mountings Sets</a></li>";
							echo "<li class='odd'><a href='".$baseurl."engagement-rings/diamond-wedding-bridal-engagement-ring-sets.aspx' alt='Engagement Ring Sets' title='Engagement Ring Sets' onclick=\"setrefrenceurl(372,'');\">Engagement Ring Sets</a></li>";
						}
						else if($value2==22)
						{
							echo "<li class='odd'><a href='".$baseurl."mens-diamond-wedding-rings.aspx' alt='Mens Diamond Wedding Rings' title='Mens Diamond Wedding Rings' onclick=\"setrefrenceurl(364,'');\">Mens Diamond Wedding Rings</a></li>";
							echo "<li class='even'><a href='".$baseurl."diamond-wedding-bands/womens-diamond-wedding-bands-rings.aspx' alt='Womens Diamond Wedding Rings' title='Womens Diamond Wedding Rings' onclick=\"setrefrenceurl(365,'');\">Women's Diamond Wedding Rings</a></li>";
							echo "<li class='odd'><a href='".$baseurl."wedding-rings-bands/diamond-eternity-rings-wedding-bands.aspx' alt='Diamond Eternity Bands' title='Diamond Eternity Bands' onclick=\"setrefrenceurl(800,'26');\">Diamond Eternity Bands</a></li>";
						}
						else if($value2==11)
						{
							echo "<li class='odd'><a href='".$baseurl."mens-diamond-jewelry/mens-diamond-gold-earrings-studs.aspx' alt='Mens Diamond Earrings' title='Mens Diamond Earrings' onclick=\"setrefrenceurl(4,'');\">Mens Diamond Earrings</a></li>";
							echo "<li class='even'><a href='".$baseurl."diamond-earrings-studs-hoops-chandelier.aspx' alt='Womens Diamond Earrings' title='Womens Diamond Earrings' onclick=\"setrefrenceurl(749,'11');\">Women's Diamond Earrings</a></li>";
							echo "<li class='odd'><a href='".$baseurl."diamond-earrings/gold-diamond-designer-earrings.aspx' alt='Designer Diamond Earrings' title='Designer Diamond Earrings' onclick=\"setrefrenceurl(90,'');\">Designer Diamond Earrings</a></li>";
						}
						?>
					</ul>
				</div>
			</div>
			<?php
			
		}
	}
	?>
</div>
<div class="eduction-area">
	<div class="eduction-area-box">
		<h2><span>Diamond</span> Education</h2>
		<div class="eduction-containt-area">
			<?php //echo $this->getSkinUrl('images/diamond-education.png');?>
			<div class="eduction-containt-area-tumb"><a href="<?php echo $baseurl;?>diamond-education.aspx"><img width="144" height="191" border="0" src="<?php echo $skinCDNImageUrl;?>diamond-education.jpg" alt="Diamond Education" ></a></div>
			<div class="eduction-containt-area-content"><p>When choosing the one perfect loose diamond either for yourself or for your special someone you need to pay attention to the 4 C’s in order to make the right choice and an investment for life.</p> <p>All ItsHot.com Diamonds are carefully selected and cut to perfection to emphasize the dazzling beauty of a Diamond...</p> <div class="redmore"><a href="<?php echo $baseurl;?>diamond-education.aspx">Read More</a></div></div>
		</div>
	</div>
	<div class="eduction-area-box last">
		<h2>Celebrities</h2>
		<div class="eduction-containt-area">
			<?php //echo $this->getSkinUrl('images/celebrities.png');?>
			<div class="eduction-containt-area-tumb"><a href="<?php echo $baseurl;?>itshot-jewelry-watches-news.aspx"><img width="144" height="192" border="0" src="<?php echo $skinCDNImageUrl;?>celebrities.jpg" alt="ItsHot Celebrities" ></a></div>
			<div class="eduction-containt-area-content"><p>Spotted a hot diamond watch around Snoop Dogg's wrist, but do not know where to find it? We at itshot.com have come up with some of the best jewelry designs that has made us favourite to many celebs. We are frequently visited by celebs like Akon, Snoop Dogg, Kim Kardashian, Fat Joe, Trinna and many others. Visit www.itshot.com today and check out the best diamond jewelry...</p><div class="redmore"><a href="<?php echo $baseurl;?>itshot-jewelry-watches-news.aspx">Read More</a></div></div>
		</div>
	</div>
</div>
