<?php
$layer = Mage::getSingleton('catalog/layer');
$_category = $layer->getCurrentCategory();
$currentCategoryId = $_category->getId();
$model = Mage::getModel('relatedproductstab/relatedproductstab')->load($currentCategoryId,'cat_id');
$verticalSku = $model->getProductsSkuVertical();
$verticalSku = preg_replace('/\s+/','',$verticalSku);
$verticalSku = explode(",",$verticalSku);
$products = Mage::getModel('catalog/product')->getCollection()->addAttributeToSelect('*')->addAttributeToFilter('sku',array('in'=>$verticalSku))->addAttributeToFilter('status', array('eq' => 1));;

$baseCurrencyCode = Mage::app()->getStore()->getBaseCurrencyCode();
$currentCurrencyCode = Mage::app()->getStore()->getCurrentCurrencyCode();
$currency_symbol = Mage::app()->getLocale()->currency($currentCurrencyCode)->getSymbol();
?>
<h3 class="rightpanel-bookmark desktop_edu">RELATED ITEMS</h3>
<div class="jewelry-ofthe-week-section">
	<ul>
		<?php
		foreach($products as $product):
		$price = Mage::helper('core')->currency($product->getFinalPrice(),true,false);
		$CFP = $product->getCallForPrice();
		if($CFP!=1):
		$price = $product->price;
		$special_price = $product->special_price;
		$pricetxt = "";
		if($baseCurrencyCode != $currentCurrencyCode) {
			$price = Mage::helper('directory')->currencyConvert($price,$baseCurrencyCode,$currentCurrencyCode);
			$special_price = Mage::helper('directory')->currencyConvert($special_price,$baseCurrencyCode,$currentCurrencyCode);
		}
		if(($product->special_price!="") && ($product->special_price != $product->price)) {
			$pricetxt = '<p class="old-price"><span class="price-label">Retail Price:</span> <span id="old-price-'.$product->getSku().'" class="price">'.$currency_symbol.number_format($price,0).'</span></p><p class="our-price"><span class="price-label">Now Only</span> <span id="product-price-'.$product->getSku().'">'.$currency_symbol.number_format($special_price,0).'!</span></p>';
		}
		else {
			$pricetxt = '<span id="product-price-'.$product->getSku().' class="regular-price-qv"><span class="price">'.$currency_symbol.$price.'</span></span>';
		}
		?>
		<li>
			<div class="jewelry-ofthe-weekt-humb">
				<a href="<?php echo Mage::getBaseUrl().$product->getUrlKey().".aspx"; ?>" title="<?php echo $product->getName(); ?>">
					<img alt="<?php echo $product->getName(); ?>" src="<?php echo $this->helper('catalog/image')->init($product,'thumbnail')->resize(150,150); ?>" width="150" height="150">
				</a>
			</div>
			<div class="jewelry-ofthe-week-details-area">
				<div class="jewelry-ofthe-week-details-area-title">
					<a title="<?php echo $product->getName(); ?>" href="<?php echo Mage::getBaseUrl().$product->getUrlKey().".aspx"; ?>"><?php echo $product->getName(); ?></a>
				</div>
				<div class="jewelry-ofthe-week-details-area-price"><?php echo $pricetxt; ?></div>
			</div>
		</li>
		<?php endif; ?>
		<?php endforeach; ?>
	</ul>
</div>
