<?php
$layer = Mage::getSingleton('catalog/layer');
$_category = $layer->getCurrentCategory();
$currentCategoryId = $_category->getId();
$model = Mage::getModel('relatedproductstab/relatedproductstab')->load($currentCategoryId,'cat_id');
$horizontalSku = $model->getProductsSkuHorizontal();
$horizontalSku = preg_replace('/\s+/','',$horizontalSku);
$horizontalSku = explode(",",$horizontalSku);
$products = Mage::getModel('catalog/product')->getCollection()->addAttributeToSelect('*')->addAttributeToFilter('sku',array('in'=>$horizontalSku))->addAttributeToFilter('status', array('eq' => 1));
if($products->Count()>0):
?>
<h3 class="rightpanel-bookmark desktop_edu">More Related Items</h3>
<ul class="products-grid first last odd">
	<?php
	$i = 1;
	foreach($products as $product):
	if($i==4) {
		$class = 'last';
		$i = 0;
	}
	else {
		$class = '';
	}
	$productName = $product->getName();
	if(strlen($productName)>37) {
		$productName = substr($productName,0,37)."...";
	}
	$productDescription = preg_replace('/\s+?(\S+)?$/','',strip_tags($product->getDescription()));
	if(strlen($productDescription)>49) {
		$productDescription = substr($productDescription,0,49)."..";
	}
	?>
	<li class="item <?php echo $class; ?>">
		<div class="more-related-thumb">
			<a href="<?php echo Mage::getBaseUrl().$product->getUrlKey().".aspx"; ?>" title="<?php echo $product->getName(); ?>">
				<img alt="<?php echo $product->getName(); ?>" src="<?php echo $this->helper('catalog/image')->init($product,'thumbnail')->resize(150,150); ?>" width="150" height="150">
			</a>
		</div>
		<div class="more-related-details">
			<h3 class="product-name"><?php echo $productName; ?></h3>
			<?php if ($product->getData('c2c_call_for_price') !== '1') : ?>
			<div class="lpi-itemprice">Now Only <?php echo $this->helper('core')->currency($product->getFinalPrice()); ?>!</div>
			<?php else: ?>
			<p class="price-contact-notice"><?php echo $this->__('Please contact us for price and availability') ?></p>
			<?php endif; ?>
			<div  class="more-related-info">
				<a class="lpi-itemtitle" href="<?php echo Mage::getBaseUrl().$product->getUrlKey().".aspx"; ?>" title="<?php echo $product->getName(); ?>">
					<?php echo $productDescription; ?>
				</a>
			</div>
		</div>
	</li>
	<?php
	$i++;
	endforeach;
	?>
</ul>
<?php endif; ?>
