<div class="white-area1 what-we-buy-container">
	<h2 id="faq" style="font-size:22px;font-weight: 600"><?php echo $this->__("FAQ");?></h2>
<div class="tp-c"></div>
<div class="cat-cnt">
<div class="content-ctrpanel-nsyd">
                        <div class="maincontainer">

    <div class="sellgold-container">
    	<div class="sellgold-toplinks"><a href="#sell-gold" title="What we buy">Sell Gold HOME</a> | <a href="#what-we-buy" title="What we buy">What we buy</a> | <a href="#what-we-pay" title="What we pay">What we pay</a> | <a href="#faq" title="FAQs">FAQs</a> | <a href="<?php echo $this->getUrl()?>contact" title="Contact Us">Contact Us</a></div>
<div class="sellgold-container-l its-hot-con">
<div class="sellgold-imageblk" style='padding-bottom:30px;padding-top:20px;'>
							<strong>How can I safely get my gold jewelry to ItsHot.com?</strong>
							<br>
							First, make sure to fill out our simple registration form on the right. For help with filling out our online application form or if you  have any questions about the process, please directly call one of our helpful  representatives toll-free in US at 1-866-423-6262.<br><br>
							If you printed your our own shipping label, simply package your gold scrap and jewelry along with a copy of your email confirmation in a firm padded shipping pack or box, and attach your shipping label. If you  received your shipping packet from us by mail, simply follow the enclosed  directions.<br>
							As soon as your package is ready, just drop it off at any  UPS/FedEx location or give it to a UPS/FedEx driver, or call 1-800-Go-FedEx or 1-800-Pick-UPS to schedule a pick-up.<a name="q2"></a><br>
							<br>
							<strong>Do I have to pay shipping fees for sending  my jewelry items to ItsHot.com?</strong>
							<br>
							No! You will not have to pay for shipping your items to  ItsHot.com. We will provide you with a free, insured shipping label or we will mail you a free ItsHot.com shipping  pack for convenient  transaction. The shipping label/shipping pack is valid for up to 10 calendar days, and you are not under any obligation  to use it.<a name="q3"></a><br>
							<br>
							<strong>What if I want to send my jewelry items by  another shipping service? </strong>
							<br>
							Please note that we are only able to accept shipments from  pre-registered customers who have obtained their exclusive ItsHot.com Seller ID  from us either online or over the phone. If you prefer to ship your jewelry  items to us on your own, please email us at <a href="mailto:sellgold@itshot.com">sellgold@itshot.com</a> or call us toll-free in  US at 1-866-423-6262, and simply request your Free  Kit <strong>
								<u>without</u>
							</strong> a shipping label. Once you receive your Free Kit, just send it to us by your chosen insured shipping method. To compensate your shipping cost, we  will add $10 to your total payment. All authorized shipments should be sent to: <br><br>
							ItsHot.com - Refinery<br>
							48 West 48th St.<br>
Suite 302<br>
New York, NY 10036<br>
							<br>
							<a name="q4"></a>
							<strong>May I sell my gold jewelry  items to ItsHot.com if I live in Canada? How do I do that?</strong>
							<br>
							Yes, even if you live in Canada, you can get Cash for Gold by selling us your unwanted gold items. Please email us at <a href="mailto:sellgold@ItsHot.com">sellgold@ItsHot.com</a> or call us at 1-212-937-7729, and request your exclusive ItsHot.com Seller ID  along with a Free Appraisal Kit <strong>
								<u>without</u>
							</strong> a shipping label. After  that, simply ship your package using your chosen insured shipping method. To  compensate your shipping cost, we will add $10 to your total payment. All authorized shipments should be sent to: <br><br>
							ItsHot.com - Refinery<br>
							48 West 48th St.<br>
Suite 302<br>
New York, NY 10036<br>
							USA<br>
							<br>
							<a name="q5"></a>
							<strong>Is there a limit on how much material I  can send to ItsHot.com?</strong>
							<br>
							We will accept and buy as much precious metal scrap and as  many jewelry items (including gold, silver, platinum and palladium) as you wish  to sell us. The more you send us at once, the higher price we will be able to  offer you. We will make it hassle-free for you to send us any gold scrap and  jewelry items to instantly receive "Cash for Gold". If you estimate that your  items are worth more than $500 (or if your package is relatively large or  heavy), please email us at <a href="mailto:sellgold@ItsHot.com">sellgold@ItsHot.com</a> or call us toll-free in  US at 1-866-423-6262 to receive special shipping arrangements. If you need to  pay the shipping fee up front at the time of shipping your package to us, we  will simply add this shipping fee amount to your total payment.<br><br>
							Please note that certain transactions may be subject to  Federal reporting requirements for the Patriot Act Compliance purposes.<a name="q6"></a><strong></strong><br>
							<br>
							<strong>Is my Free Kit shipment insured? What  happens if the package is lost in the mail?</strong>
							<br>
							Your free, pre-paid shipping label is conveniently insured  for $500. If you think the total value of your scrap and jewelry items is over  $500, please call us toll-free in US at 1-866-423-6262&nbsp; or email us at <a href="mailto:sellgold@itshot.com">sellgold@itshot.com</a> so that we may arrange for more insurance on your shipment. <br><br>
							We have a great safety record of successfully receiving our  customers' shipments. Please note that ItsHot.com is not liable or responsible  for any shipments that are delayed, damaged, or lost in transit to us. While  occasionally shipments may be delayed or lost in transit, you have nothing to  worry about since every shipment through our Free  Kit is insured for  $500. <br>
							<br>
							<a name="q7"></a>
							<strong>How do I know when ItsHot.com receives my  Appraisal Kit shipment?</strong>
							<br>
							We will email you a confirmation as soon as your shipment is  received by our processing department at ItsHot.com. <br>
							You can also conveniently track your package online  or simply email us at <a href="mailto:sellgold@itshot.com">sellgold@itshot.com</a> or call us toll-free in US at 1-866-423-6262 for an update on the status of  your shipment. <br><br>
							For security purposes, we will document on video the  unpacking, weighing and gold purity testing of your sent-in items. This video  footage is available to you upon request; this way you can be sure that every  item you sent in to ItsHot.com has been received and tested. <br>
							<br>
							<a name="q8"></a>
							<strong>Here's the money question: How much will  I be paid for my jewelry items?</strong>
							<br>
							<strong>
								These <u>three major elements</u> determine how  much cash you can get for your jewelry items:
							</strong>
							<br>
							<ol class="metal-faq">
								<li>Precious metals' purity  (percentage value or Karat weight);</li>
								<li>Total metal weight of  your items (not including any stones, gems, etc.);</li>
								<li>Current market price  (based on the London Fix) of the type of precious metal.</li>
							</ol>
							Basically, the higher the precious metal content of your  jewelry items, the more cash you can receive for them. Weight-wise, the more  you send in, the higher rate we are able to offer you for your items.<br>
							As a valued ItsHot.com Seller, not only will you receive the  best competitive price for your scrap gold (as well as platinum, silver, and  palladium) and gold jewelry items, but you will also get a free ItsHot.com Gift  Card worth 20% of your total payment offer.<br>
							<br>
							<a name="q9"></a>
							<strong>Can I send jewelry items that contain diamonds, pearls, or  semi-precious gemstones?</strong>
							<br>
							At ItsHot.com, we buy mostly precious metals. Any small  diamonds or precious gemstones under one quarter carat will not be taken into  consideration, while jewelry with diamonds over one quarter carat (per single  diamond or precious gemstone) will be appraised and a fair market value quote  will be added to your precious metal quote. Please note that we do not buy  semi-precious stones.
							<br><br>
							<a name="q10"></a><strong>How and how soon will I receive my Cash For Gold payment from ItsHot.com?</strong><br>
							At your convenience, you can choose from the following payment options we offer:<br>
							<br>
							<ol class="metal-faq">
								<li>Company check sent by First Class Mail (you have 10 days for payment acceptance) - FREE</li>
								<li>Company check sent by overnight mail (you have 10 days for payment acceptance) - $15 </li>
								<li>Electronic PayPal Deposit - PayPal fee may apply</li>
								<li>Same-day transfer to your bank account - $15 </li>
							</ol>
							<br>
							Please note, that if you choose a payment option via PayPal or wire transfer, you give us permission to immediately terminate and melt down  your sent-in items; therefore, they will not be returnable.
							<br><br>
							<a name="q11"></a><strong>
								If I choose a check payment option, can I find out what the offered amount is <u>before</u> I receive the check?
							</strong><br>
							Once we determine your total payment offer, we will email  you the amount result regardless of which payment option you chose. If you have  any questions, please call us toll-free in US at 1-866-423-6262&nbsp; or email  us at <a href="mailto:sellgold@itshot.com">sellgold@itshot.com</a> <a name="q12"></a>
							<br><br>
							<strong>What if I am not satisfied with the payment amount after I receive my check?</strong><br>

							You have 10 calendar days from the check issue date to let us know that you  would like to decline the settlement offer and mail us back the un-cashed  check. We must receive your notification, and your envelope must be postmarked,  up to 11:59 PM on the 10th day (the check issue date&nbsp;being day #1). Either  email us at <u>
								<a href="mailto:sellgold@itshot.com">sellgold@itshot.com</a>
							</u>, or call us toll-free in US at 1-866-423-6262. If you do not call/email us  by that time, then on day #11 your transaction and settlement will be closed, and your sent-in items will be terminated and melted down, and can no longer be returned to you. As long we are notified in time, we will set your items aside and return them at to you for free, insured for the amount of the check, within two weeks of receiving your un-cashed check.<br><br>
							Within the 10 day period, if either (1) your check is  cashed/deposited, or (2) your gift card is fully or partially redeemed at  ItsHot.com, we will consider your settlement payment as accepted and your transaction as closed, and your sent-in jewelry will be no longer returnable.</div>

</div>
</div>

                        </div>
                    </div>

                    </div>
                    <div class="bt-c"></div>
                    </div>
