<div>
<div class="popup-ctr">
	<div class="popup-container" style="width:380px;">
	<div class="popup-topblk" style="background-color:#d2e6e5; width:380px;">
	<center><img src="<?php echo $this->getImageUrl()."logo.png";?>" alt="Wholesale Diamond Watches and Jewelry" /></center>
	</div>
	<div class="">
		<div class="popup-smallimgblk123">
			<img src="<?php echo $this->getImageUrl()."mr_box.jpg";?>" alt="gift packaging" />
		</div>
		<div class="popup-closelnkblk" style="width:380px;"><a href="javascript:window.close();"><img src="<?php echo $this->getImageUrl()."close-btns.jpg";?>" alt="CLOSE WINDOW" /></a></div>
	</div>
</div>
</div>
