<?php
$layer = Mage::getSingleton('catalog/layer');
$_category = $layer->getCurrentCategory();
$currentCategoryId = $_category->getId();
$model = Mage::getModel('relatedproductstab/relatedproductstab')->load($currentCategoryId,'cat_id');
$verticalSku = $model->getProductsSkuVertical();
$verticalSku = preg_replace('/\s+/','',$verticalSku);
$verticalSku = explode(",",$verticalSku);
$products = Mage::getModel('catalog/product')->getCollection()->addAttributeToSelect('*')->addAttributeToFilter('sku',array('in'=>$verticalSku));

$baseCurrencyCode = Mage::app()->getStore()->getBaseCurrencyCode();
$currentCurrencyCode = Mage::app()->getStore()->getCurrentCurrencyCode();
$currency_symbol = Mage::app()->getLocale()->currency($currentCurrencyCode)->getSymbol();
?>
<h3 class="rightpanel-bookmark">Related Items</h3>
<ul class="products-grid first last odd">
	<?php
	foreach($products as $product):
	$productName = $product->getName();
	if(strlen($productName)>37) {
		$productName = substr($productName,0,37)."...";
	}
	$productDescription = preg_replace('/\s+?(\S+)?$/','',strip_tags($product->getDescription()));
	if(strlen($productDescription)>49) {
		$productDescription = substr($productDescription,0,49)."..";
	}
	?>
	<li class="item">
		<a href="<?php echo Mage::getBaseUrl().$product->getUrlKey().".aspx"; ?>" title="<?php echo $product->getName(); ?>">
			<img alt="<?php echo $product->getName(); ?>" src="<?php echo $this->helper('catalog/image')->init($product,'thumbnail')->resize(150,150); ?>" width="150" height="150">
		</a>
		<h3 class="product-name"><?php echo $productName; ?></h3>
		<?php if ($product->getData('c2c_call_for_price') !== '1') : ?>
		<div class="lpi-itemprice">Now Only <?php echo $this->helper('core')->currency($product->getFinalPrice()); ?>!</div>
		<?php else: ?>
		<p class="price-contact-notice"><?php echo $this->__('Please contact us for price and availability') ?></p>
		<?php endif; ?>
		<a class="lpi-itemtitle" href="<?php echo Mage::getBaseUrl().$product->getUrlKey().".aspx"; ?>" title="<?php echo $product->getName(); ?>">
			<?php echo $productDescription; ?>
		</a>
	</li>
	<?php endforeach; ?>
</ul>
