<div class="white-area1">
	<div class="tp-c"></div>
	<div class="cat-cnt">
		<div class="content-ctrpanel-nsyd">
			<div class="maincontainer">
				<div class="sellgold-home-container" id="sell-gold">
					<div class="sellgold-toplinks"><a href="#sell-gold" title="What we buy">Sell Gold HOME</a> | <a href="#what-we-buy" title="What we buy">What we buy</a> | <a href="#what-we-pay" title="What we pay">What we pay</a> | <a href="#faq" title="FAQs">FAQs</a> | <a href="<?php echo $this->getUrl()?>contact" title="Contact Us">Contact Us</a></div>
					<div class="sellgold-container-l its-hot-con">
						<div class="sellgold-imageblk">
							<img height="318" width="400" alt="Selling Gold" title="Selling Gold" src="<?php echo Mage::getBaseUrl('media') ?>wysiwyg/selling-gold-larger.jpg">
							<div class="sellgold-lbtm">
								<div class="sellgold-lbtm-left">
								<h3>Highest Prices Paid</h3>
								We Pay More! We pay higher rates for your gold than you'd get from your local jewelry store or any other gold-buying company in the industry &ndash; regardless of how much or how little gold you send us!
								</div>
								<div class="sellgold-lbtm-right">
								<h3>Satisfaction Guaranteed</h3>
								Risk Free! Receive immediate payment at guaranteed highest prices!
								</div>
							</div>
						</div>
						<div class="sellgold-form">
							<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('sell-gold-form')->toHtml();?>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bt-c"></div>
</div>

<?php echo $this->getLayout()->createBlock('catalog/navigation')->setTemplate('cms/what-we-buy.phtml')->toHtml() ?>
<?php echo $this->getLayout()->createBlock('catalog/navigation')->setTemplate('cms/what-we-pay.phtml')->toHtml() ?>
<?php echo $this->getLayout()->createBlock('catalog/navigation')->setTemplate('cms/faq.phtml')->toHtml() ?>