<?php
//Get Captcha configuration

//Get value from session and filled all text fields
$firstname	= "";
$lastname	= "";
$address1	= "";
$address2	= "";
$city		= "";
$state		= "";
$zip		= "";
$phone		= "";
$email		= "";

$postData = isset($_SESSION["SELL_GOLD_POST_DATA"]) ? $_SESSION["SELL_GOLD_POST_DATA"]: array();
if(count($postData)>0)
{
	$firstname	= trim($postData["firstname"]);
	$lastname	= trim($postData["lastname"]);
	$address1	= trim($postData["address1"]);
	$address2	= trim($postData["address2"]);
	$city		= trim($postData["city"]);
	$state		= trim($postData["state"]);
	$zip		= trim($postData["zip"]);
	$phone		= trim($postData["phone"]);
	$email		= trim($postData["email"]);
	unset($_SESSION["SELL_GOLD_POST_DATA"]);
}
?>
<script type="text/javascript" src="<?php echo $this->getUrl()?>js/formValidate.js"></script>
<div class="sellgold-container-r">
	<div class="sellgold-r-msgtop" style="padding-bottom:15px;">
	<h2>Get Cash For Your Old Jewelry Now!</h2>
	Request your Free Shipping Packet or Print your Free Shipping Label and Send Us Your Jewelry Today!
	</div>
	<form onsubmit="return validateSellGoldForm(this);" id="customizeJewelryForm"  action="<?php echo $this->getUrl()?>quotes/index/post7/" method="post">
		<div class="sellgold-divform">
			<div class="block-001"><div class="sells_label"><span class="ast-red">*</span> First Name:</div><input type="text" name="firstname" value="<?php echo $firstname;?>" maxlength="50"></div>
			<div class="block-001"><div class="sells_label"><span class="ast-red">*</span> Last Name:</div><input type="text" name="lastname" value="<?php echo $lastname;?>" maxlength="50"></div>
			<div class="block-001"><div class="sells_label"><span class="ast-red">*</span> Address 1:</div><input type="text" name="address1" value="<?php echo $address1;?>" maxlength="100"></div>
			<div class="block-001"><div class="sells_label">Address 2:</div><input type="text" name="address2" value="<?php echo $address2;?>" maxlength="100"></div>
			<div class="block-001"><div class="sells_label"><span class="ast-red">*</span> City:</div><input type="text" name="city" value="<?php echo $city;?>" maxlength="50" ></div>
			<div class="block-001"><div class="sells_label"><span class="ast-red">*</span> State:</div><input type="text" name="state" value="<?php echo $state;?>" maxlength="50"></div>
			<div class="block-001"><div class="sells_label"><span class="ast-red">*</span> Zip Code:</div><input type="text" name="zip" value="<?php echo $zip;?>" maxlength="50" ></div>
			<div class="block-001"><div class="sells_label"><span class="ast-red">*</span> Phone #:</div><input type="text" name="phone" value="<?php echo $phone;?>" maxlength="50"></div>
			<div class="block-001"><div class="sells_label"><span class="ast-red">*</span> Email:</div><input type="text" name="email" value="<?php echo $email;?>" maxlength="100"></div>

	<!-- Start ReCaptcha -->
            <?php if (Mage::helper('studioforty9_recaptcha')->isAllowed("quotes_index_post7")):?>
			<div class="block-recaptcha" style="margin-top:15px;">
				<?php echo $this->getLayout()->createBlock('studioforty9_recaptcha/explicit')->setTemplate('studioforty9/recaptcha/explicit.phtml')->setAllow(true)->toHtml();?>
			</div>
            <?php endif?>
	<!-- End ReCaptcha -->

			<div class="block-msg">(<span class="ast-red">*</span> Required)</div>
			<div class="block-msg"><br  />
			<input type="hidden" name="title" value="Selling Gold Request">
			<button id="send2" name="send" title="Login" class="button btn-short" type="submit"><span><span>Submit</span></span></button>
			</div>
		</div>
	</form>
</div>
