<script src="<?php echo Mage::getBaseUrl(); ?>js/jqzoom/jquery.jqzoom1.0.1.js" type="text/javascript"></script>
<link href="<?php echo Mage::getBaseUrl(); ?>js/jqzoom/jqzoom.css" type="text/css" rel="stylesheet">
<center style="position:relative;">
	<a id="zoomContainer" href="<?php echo $this->getImageUrl()."history-watches.jpg"; ?>" style="outline-style:none; cursor:crosshair; display:block; position:relative; 84px; width: 600px;">
		<img alt="Watch History" src="<?php echo $this->getImageUrl()."history-watches-small.jpg"; ?>">
	</a>
	<div id="mockZoomContainer" style="visibility:visible;"> 
		<div>
			<div>hover your mouse over the image to zoom in</div>
		</div>
	</div>
	<div id="codeBlock">
		<span class="title">Link to This Infographic on Your Site</span>
		<center class="small">copy and paste the code below</center>
		<textarea readonly="readonly" id="codeArea" onClick=select()><div><a href="<?php echo Mage::getBaseUrl();?>education/history-of-wrist-watches.aspx">History Of Wrist Watches</a></div></textarea>
	</div>
	<script  type="text/javascript">
	jQuery(document).ready(function() {
		var options = {
			yOffset:10,
			xOffset:0,
			zoomWidth:598,
			zoomHeight:200,
			title:false,
			position:'bottom'
		};
		jQuery('#zoomContainer').jqzoom(options);
		
		jQuery('.zoomPup img').css('width',jQuery('.zoomPad img').width());
		jQuery('.zoomPup img').css('height',jQuery('.zoomPad img').height());
		
		jQuery('#zoomContainer').hover(function() {
			jQuery('#mockZoomContainer').css('visibility','hidden');
		},
		function() {
			jQuery('#mockZoomContainer').css('visibility','visible');
		});
	});
	</script>
</center>
