<div class="white-area1">
	<h2 id="what-we-pay" style="font-size:22px; font-weight: 600"><?php echo $this->__("What We Pay");?></h2>
	<div class="tp-c"></div>
	<div class="cat-cnt">
		<div class="content-ctrpanel-nsyd">
			<div class="maincontainer">
				<div class="sellgold-container">
					<div class="sellgold-toplinks"><a href="#sell-gold" title="What we buy">Sell Gold HOME</a> | <a href="#what-we-buy" title="What we buy">What we buy</a> | <a href="#what-we-pay" title="What we pay">What we pay</a> | <a href="#faq" title="FAQs">FAQs</a> | <a href="<?php echo $this->getUrl()?>contact" title="Contact Us">Contact Us</a></div>
					<div class="sellgold-container-l its-hot-con">
						<div class="sellgold-imageblk" style='padding-bottom:30px;padding-top:20px;'>
							<p style="margin-bottom:10px;">To keep our customers up-to-date regarding current precious-metals pricing, this chart is updated daily based on the morning London Fix.
							</p>
							
							<p style="margin-bottom:10px;">
							Don't be fooled by other gold-buying websites which do not post their prices, or which are vague about how much they'll pay. Many websites do not tell you how much they pay for amounts below a certain weight threshold and then pay only a fraction of what your items are really worth. We have seen instances where other gold buyers pay as little as 10% of the actual precious metal value.
							</p>
							
							<p style="margin-bottom:10px;">
							Don't forget! In addition to your payment, we'll send you a Free ItsHot.com Gift Card valued at an extra 20% of your payment amount. For example: If your payment amount is $500, you'll receive $500 plus a $100 Gift Card, for a total value of $600! If your payment amount is $1,000, you'll receive $1,000 plus a $200 Gift Card, for a total value of $1200! The ItsHot.com Gift Card may be redeemed towards any of our thousands of NEW fine jewelry items and name-brand watches, and may be given to a friend or relative to use. The entire Gift Card can be applied to a single order, or it can be spread out between multiple smaller orders - No Expiration Date.
							</p>
							
							<p style="margin-bottom:10px;">
							Prices are quoted in U.S. Dollars ($ USD), and are per pennyweight (dwt). A pennyweight is 1/20th of a troy ounce, or approximately 1.555 grams.
							</p>
							
							<p style="margin-bottom:10px;">
							Today <?php echo date("l F d");?> we are paying:
							</p>
							
						<table cellspacing="1" cellpadding="3" border="0" bgcolor="#e5e5e5" class="style3" width="100%">
							<tbody>
								<tr>
									<td style="text-align:center" width="100%" height="24" colspan="4">
									10K Gold
									</td>
								</tr>
								<tr>
									<td bgcolor="#f2efef" style="text-align:center" width="40%" height="24">
									Weight Range
									</td>
									<td bgcolor="#f2efef" style="text-align:center" width="20%" height="24">
									Your Cash Payment (per dwt)
									</td>
									<td bgcolor="#f2efef" style="text-align:center" width="20%" height="24">
									+<br>
									Bonus Gift Card! (per dwt)
									</td>
									<td bgcolor="#f2efef" style="text-align:center" width="20%" height="24">
									=<br>
									Your Total Value! (per dwt)
									</td>
								</tr>
								<tr>
									<td bgcolor="#f9f9f9" align="left" width="40%" height="24">
									<strong>0.01 to 20 dwt</strong>
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 9.60
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 1.92
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 11.52
									</td>
								</tr>
								<tr>
									<td bgcolor="#ffffff" align="left" width="40%" height="24">
									<strong>20.01 to 100 dwt</strong>
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 10.40
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 2.08
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 12.47
									</td>
								</tr>
								<tr>
									<td bgcolor="#f9f9f9" align="left" width="40%" height="24">
									<strong>100.01 to 200 dwt</strong>
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 11.99
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 2.40
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 14.39
									</td>
								</tr>
								<tr>
									<td bgcolor="#ffffff" align="left" width="40%" height="24">
									<strong>200.01 to 1000 dwt</strong>
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 15.39
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 3.08
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 18.47
									</td>
								</tr>
								<tr>
									<td bgcolor="#f9f9f9" align="left" width="40%" height="24">
									<strong>1000.01 to 5000 dwt</strong>
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 15.99
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 3.20
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 19.19
									</td>
								</tr>
							</tbody>
						</table>
						<br>
						<table cellspacing="1" cellpadding="3" border="0" bgcolor="#e5e5e5" width="100%" class="style3">
							<tbody>
								<tr>
									<td style="text-align:center" width="100%" height="24" colspan="4">
									14K Gold
									</td>
								</tr>
								<tr>
									<td bgcolor="#f2efef" style="text-align:center" width="40%" height="24">
									Weight Range
									</td>
									<td bgcolor="#f2efef" style="text-align:center" width="20%" height="24">
									Your Cash Payment (per dwt)
									</td>
									<td bgcolor="#f2efef" style="text-align:center" width="20%" height="24">
									+<br>
									Bonus Gift Card! (per dwt)
									</td>
									<td bgcolor="#f2efef" style="text-align:center" width="20%" height="24">
									=<br>
									Your Total Value! (per dwt)
									</td>
								</tr>
								<tr>
									<td bgcolor="#f9f9f9" align="left" width="40%" height="24">
									<strong>0.01 to 20 dwt</strong>
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 13.44
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 2.69
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 16.12
									</td>
								</tr>
								<tr>
									<td bgcolor="#ffffff" align="left" width="40%" height="24">
									<strong>20.01 to 100 dwt</strong>
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 14.56
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 2.91
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 17.47
									</td>
								</tr>
								<tr>
									<td bgcolor="#f9f9f9" align="left" width="40%" height="24">
									<strong>100.01 to 200 dwt</strong>
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 16.79
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 3.36
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 20.15
									</td>
								</tr>
								<tr>
									<td bgcolor="#ffffff" align="left" width="40%" height="24">
									<strong>200.01 to 1000 dwt</strong>
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 21.55
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 4.31
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 25.86
									</td>
								</tr>
								<tr>
									<td bgcolor="#f9f9f9" align="left" width="40%" height="24">
									<strong>1000.01 to 5000 dwt</strong>
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 22.39
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 4.48
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 26.87
									</td>
								</tr>
							</tbody>
						</table>
						<br>
						<table cellspacing="1" cellpadding="3" border="0" bgcolor="#e5e5e5" width="100%" class="style3">
							<tbody>
								<tr>
									<td style="text-align:center" width="100%" height="24" colspan="4">
									18K Gold
									</td>
								</tr>
								<tr>
									<td bgcolor="#f2efef" style="text-align:center" width="40%" height="24">
									Weight Range
									</td>
									<td bgcolor="#f2efef" style="text-align:center" width="20%" height="24">
									Your Cash Payment (per dwt)
									</td>
									<td bgcolor="#f2efef" style="text-align:center" width="20%" height="24">
									+<br>
									Bonus Gift Card! (per dwt)
									</td>
									<td bgcolor="#f2efef" style="text-align:center" width="20%" height="24">
									=<br>
									Your Total Value! (per dwt)
									</td>
								</tr>
								<tr>
									<td bgcolor="#f9f9f9" align="left" width="40%" height="24">
									<strong>0.01 to 20 dwt</strong>
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 17.28
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 3.46
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 20.73
									</td>
								</tr>
								<tr>
									<td bgcolor="#ffffff" align="left" width="40%" height="24">
									<strong>20.01 to 100 dwt</strong>
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 18.72
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 3.74
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 22.46
									</td>
								</tr>
								<tr>
									<td bgcolor="#f9f9f9" align="left" width="40%" height="24">
									<strong>100.01 to 200 dwt</strong>
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 21.59
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 4.32
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 25.91
									</td>
								</tr>
								<tr>
									<td bgcolor="#ffffff" align="left" width="40%" height="24">
									<strong>200.01 to 1000 dwt</strong>
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 27.71
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 5.54
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 33.26
									</td>
								</tr>
								<tr>
									<td bgcolor="#f9f9f9" align="left" width="40%" height="24">
									<strong>1000.01 to 5000 dwt</strong>
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 28.79
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 5.76
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 34.55
									</td>
								</tr>
							</tbody>
						</table>
						<br>
						<table cellspacing="1" cellpadding="3" border="0" bgcolor="#e5e5e5" width="100%" class="style3">
							<tbody>
								<tr>
									<td style="text-align:center" width="100%" height="24" colspan="4">
									22K Gold
									</td>
								</tr>
								<tr>
									<td bgcolor="#f2efef" style="text-align:center" width="40%" height="24">
									Weight Range
									</td>
									<td bgcolor="#f2efef" style="text-align:center" width="20%" height="24">
									Your Cash Payment (per dwt)
									</td>
									<td bgcolor="#f2efef" style="text-align:center" width="20%" height="24">
									+<br>
									Bonus Gift Card! (per dwt)
									</td>
									<td bgcolor="#f2efef" style="text-align:center" width="20%" height="24">
									=<br>
									Your Total Value! (per dwt)
									</td>
								</tr>
								<tr>
									<td bgcolor="#f9f9f9" align="left" width="40%" height="24">
									<strong>0.01 to 20 dwt</strong>
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 21.11
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 4.22
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 25.34
									</td>
								</tr>
								<tr>
									<td bgcolor="#ffffff" align="left" width="40%" height="24">
									<strong>20.01 to 100 dwt</strong>
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 22.87
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 4.57
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 27.45
									</td>
								</tr>
								<tr>
									<td bgcolor="#f9f9f9" align="left" width="40%" height="24">
									<strong>100.01 to 200 dwt</strong>
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 26.39
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 5.28
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 31.67
									</td>
								</tr>
								<tr>
									<td bgcolor="#ffffff" align="left" width="40%" height="24">
									<strong>200.01 to 1000 dwt</strong>
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 33.87
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 6.77
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 40.64
									</td>
								</tr>
								<tr>
									<td bgcolor="#f9f9f9" align="left" width="40%" height="24">
									<strong>1000.01 to 5000 dwt</strong>
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 35.19
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 7.04
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 42.23
									</td>
								</tr>
							</tbody>
						</table>
						<br>
						<table cellspacing="1" cellpadding="3" border="0" bgcolor="#e5e5e5" width="100%" class="style3">
							<tbody>
								<tr>
									<td style="text-align:center" width="100%" height="24" colspan="4">
									24K Gold
									</td>
								</tr>
								<tr>
									<td bgcolor="#f2efef" style="text-align:center" width="40%" height="24">
									Weight Range
									</td>
									<td bgcolor="#f2efef" style="text-align:center" width="20%" height="24">
									Your Cash Payment (per dwt)
									</td>
									<td bgcolor="#f2efef" style="text-align:center" width="20%" height="24">
									+<br>
									Bonus Gift Card! (per dwt)
									</td>
									<td bgcolor="#f2efef" style="text-align:center" width="20%" height="24">
									=<br>
									Your Total Value! (per dwt)
									</td>
								</tr>
								<tr>
									<td bgcolor="#f9f9f9" align="left" width="40%" height="24">
									<strong>0.01 to 20 dwt</strong>
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 23.03
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 4.61
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 27.64
									</td>
								</tr>
								<tr>
									<td bgcolor="#ffffff" align="left" width="40%" height="24">
									<strong>20.01 to 100 dwt</strong>
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 24.95
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 4.99
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 29.94
									</td>
								</tr>
								<tr>
									<td bgcolor="#f9f9f9" align="left" width="40%" height="24">
									<strong>100.01 to 200 dwt</strong>
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 28.79
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 5.76
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 34.55
									</td>
								</tr>
								<tr>
									<td bgcolor="#ffffff" align="left" width="40%" height="24">
									<strong>200.01 to 1000 dwt</strong>
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 36.95
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 7.39
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 44.34
									</td>
								</tr>
								<tr>
									<td bgcolor="#f9f9f9" align="left" width="40%" height="24">
									<strong>1000.01 to 5000 dwt</strong>
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 38.39
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 7.68
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 46.07
									</td>
								</tr>
							</tbody>
						</table>
						<br>
						<table cellspacing="1" cellpadding="3" border="0" bgcolor="#e5e5e5" width="100%" class="style3">
							<tbody>
								<tr>
									<td style="text-align:center" width="100%" height="24" colspan="4">
									950 Platinum
									</td>
								</tr>
								<tr>
									<td bgcolor="#f2efef" style="text-align:center" width="40%" height="24">
									Weight Range
									</td>
									<td bgcolor="#f2efef" style="text-align:center" width="20%" height="24">
									Your Cash Payment (per dwt)
									</td>
									<td bgcolor="#f2efef" style="text-align:center" width="20%" height="24">
									+<br>
									Bonus Gift Card! (per dwt)
									</td>
									<td bgcolor="#f2efef" style="text-align:center" width="20%" height="24">
									=<br>
									Your Total Value! (per dwt)
									</td>
								</tr>
								<tr>
									<td bgcolor="#f9f9f9" align="left" width="40%" height="24">
									<strong>0.01 to 20 dwt</strong>
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 26.20
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 5.24
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 31.44
									</td>
								</tr>
								<tr>
									<td bgcolor="#ffffff" align="left" width="40%" height="24">
									<strong>20.01 to 100 dwt</strong>
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 28.38
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 5.68
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 34.06
									</td>
								</tr>
								<tr>
									<td bgcolor="#f9f9f9" align="left" width="40%" height="24">
									<strong>100.01 to 200 dwt</strong>
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 32.75
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 6.55
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 39.30
									</td>
								</tr>
								<tr>
									<td bgcolor="#ffffff" align="left" width="40%" height="24">
									<strong>200.01 to 1000 dwt</strong>
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 42.02
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 8.40
									</td>
									<td bgcolor="#ffffff" style="text-align:center" width="20%" height="24">
									$ 50.43
									</td>
								</tr>
								<tr>
									<td bgcolor="#f9f9f9" align="left" width="40%" height="24">
									<strong>1000.01 to 5000 dwt</strong>
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 43.66
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 8.73
									</td>
									<td bgcolor="#f9f9f9" style="text-align:center" width="20%" height="24">
									$ 52.39
									</td>
								</tr>
							</tbody>
						</table>
						</div>
					</div>
					
				</div>
				
			</div>
		</div>
	</div>
	<div class="bt-c"></div>
</div>
