<div class="white-area1 what-we-buy-container">
    <h2 id="what-we-buy" style="font-size:22px; font-weight: 600"><?php echo $this->__("What We Buy");?></h2>
<div class="cat-cnt">
<div class="content-ctrpanel-nsyd">
                        <div class="maincontainer">
    <div class="sellgold-container">
       <div class="sellgold-toplinks"><a href="#sell-gold" title="What we buy">Sell Gold HOME</a> | <a href="#what-we-buy" title="What we buy">What we buy</a> | <a href="#what-we-pay" title="What we pay">What we pay</a> | <a href="#faq" title="FAQs">FAQs</a> | <a href="<?php echo $this->getUrl()?>contact" title="Contact Us">Contact Us</a></div>
<div class="sellgold-container-l its-hot-con">
<div class="sellgold-imageblk" style='padding-bottom:30px;padding-top:20px;'>

<p style="margin-bottom:10px;">
<strong>WE BUY</strong> Pretty much anything made of solid precious metals, including SOLID
<strong>GOLD, PLATINUM, </strong>and large <strong>SILVER </strong>items (flatware sets, candlesticks, tea sets, etc.)</p>

<p style="margin-bottom:10px;">
If you are not sure or have any questions about whether your items qualify for purchase by ItsHot.com, please email us at <a href="mailto:sellgold@itshot.com">sellgold@ItsHot.com</a> or call us toll-free in the US at 1-866-423-6262, and one of our knowledgeable representatives will gladly assist you.</p>

<p style="margin-bottom:10px;">
<strong>Examples of Jewelry Items and Accessories Made of Precious Metals:</strong>
<br>
<strong>Chains:</strong> chain necklaces, chain bracelets, ankle bracelets, anklets, belly chains
<br>
<strong>Charms &amp; Necklaces:</strong> charms and lockets, religious jewelry, dog tags, medals and medallions
<br>
<strong>Bracelets:</strong> bangle bracelets cuff bracelets, charm bracelets and ID bracelets, bracelets with gemstones and diamonds, tennis bracelets
<br>
<strong>Rings:</strong> women's and men's rings, children's rings, wedding bands &amp; anniversary rings, engagement rings and eternity bands, diamond and gemstone rings, mother's rings, class rings, braided/woven rings and toe rings
<br>
<strong>Earrings and Stud Earrings:</strong> pierced and clip-on earrings, hoop and chandelier earrings, stud earrings
<br>
<strong>Pins and Brooches:</strong> brooches and pins, class/school pins
<br>
<strong>Men's Jewelry:</strong> cufflinks and shirt studs, tie bars, tacks and clips, collar stays
<br>
<strong>Medical Jewelry:</strong> medical ID bracelets and pendants
<br>
<strong>Other Accessories:</strong> money clips, key chains, toothpicks, body jewelry
<br>
<strong>All Damaged and Broken Scrap Jewelry:</strong> Broken Accessories and Jewelry of All Types: broken, kinked, knotted and tangled chains; broken chain and bracelet links, loose clasps, lobster claw clasps, spring rings; loose findings, empty ring mountings without stones; single and mismatched earrings, loose earring backs
<br>
<strong>Investment Metals:</strong> bars, bullion, ingots, domestic and foreign coins
<br>
<strong>Miscellaneous:</strong> dental and scrap gold, gold flakes and nuggets
<br>
<strong>Silver Items:</strong> solid silver candlesticks, flatware, and trophies
<br>
<strong>Watches:</strong> solid gold watches, solid gold pocket watches as well as non-gold, high-end luxury watches
</p>

<p style="margin-bottom:10px;">
<strong><span style="text-decoration: underline;">WHAT WE DO NOT BUY</span></strong><br>
Items containing little or no precious metals, with minimal market value. Examples of jewelry and items that we DO NOT buy include: costume jewelry, gold electroplate, gold electroplated or G.E.P., gold filled or G.F., gold plate, gold plated or G.P., rolled gold plate, rolled gold plated or R.G.P., gold leaf, gold overlay, silver plate, aluminum, brass, bronze, copper, pewter, stainless steel, titanium, and tungsten among others. We also DO NOT buy any small silver items of insufficient value, for example, silver jewelry items. Received items that are tested by us and discovered not to be gold, platinum, or silver, will be returned to the customer via First Class mail, and a handling fee of $15 will be charged. We also DO NOT buy any items that are not appropriate for melting down (like items with great sentimental value and antiquities with intrinsic value beyond their precious-metal content.) Under no circumstances do we knowingly buy any stolen jewelry or other merchandise.
</p>

<p style="margin-bottom:10px;">
If you have any questions about whether your item qualifies for purchase by ItsHot.com, please email us at <a href="mailto:sellgold@itshot.com">sellgold@ItsHot.com</a> or call us toll-free in the US at 1-866-423-6262, and one of our knowledgeable representatives will gladly assist you.
</p>

<p style="margin-bottom:10px;">
<strong><span style="text-decoration: underline;">PRECIOUS METALS GUIDE</span></strong>
<br>
This basic guide is provided for some help with identification of items with valuable precious-metal content. You do not have to determine the specific type of gold, platinum, or silver that your jewelry items are made of. Simply send them to us as they are (no need to clean of fix the items). Your sent-in items will be weighed and tested (with a video recording of the process) using standard industry methods.
</p>

<p style="margin-bottom:10px;">
<strong>Solid Gold</strong> items are stamped (or marked) based on the amount of parts-per-24 of pure, solid gold; for example: 14 karat gold is 14/24th's pure gold, by weight. Gold is often alloyed (mixed) with other metals. (Gold alloys under 10K are not regulated in the U.S.) Pure gold is usually naturally yellow in color, while gold alloys may be white gold, yellow gold, green gold, rose gold or other gold colors. Solid white gold with rhodium plating is valued as gold. Some gold jewelry pieces consist of several colors (two-tone or tri-color gold, etc), or multiple metals (gold with silver or platinum). The most common gold types are:
</p>

<ol>
    <li>
    <strong>10 Karat or Kt or K</strong> (10/24th's gold), or <strong>.416</strong> (in Europe)
    </li>
    <li>
    <strong>12 Karat or Kt or K</strong>(12/24th's gold), or <strong>.500</strong> (in Europe)
    </li>
    <li>
    <strong>14 Karat or Kt or K</strong> (14/24th's gold), or <strong>.585</strong> (in Europe)
    </li>
    <li>
    <strong>18 Karat or Kt or K</strong> (18/24th's gold), or <strong>.750</strong> (in Europe)
    </li>
    <li>
    <strong>22 Karat or Kt or K</strong> (22/24th's gold), or <strong>.916</strong> (in Europe)
    </li>
    <li>
    <strong>24 Karat or Kt or K</strong> (24/24th's gold), or <strong>1.000</strong> (in Europe)
    </li>
</ol>

<p style="margin-bottom:10px;">
<strong>Solid Platinum</strong> jewelry pieces are marked based on the amount of parts-per-thousand of pure platinum metal; for example: 850 Platinum is 850/1000th's (85%) pure platinum, by weight. (Platinum items under 850/1000th's pure solid platinum are not regulated in the U.S.) The most typical platinum designations are:
</p>

<p style="margin-bottom:10px;">
<strong>850 Plat or Pt</strong> (850/1000th's platinum)
<br>
<strong>900 Plat or Pt</strong> (900/1000th's platinum)
<br>
<strong>950 Plat or Pt</strong> (950/1000th's platinum)
<br>
<strong>Platinum or Plat or Pt</strong> (at least 950/1000th's platinum)
</p>

<p style="margin-bottom:10px;">
Other "<strong>Platinum Group Metals</strong>" (PGM) are <strong>Iridium</strong> (Irid. or Ir.), <strong>Osmium</strong> (Osmi. or Os.), <strong>Palladium</strong> (Pall. or Pd.), <strong>Rhodium</strong> (Rhod. or Rh.), and <strong>Ruthenium</strong> (Ruth. or Ru.). At times, platinum is alloyed (mixed) with other platinum group metals and marked: <strong>600Pt.350Ir.</strong>, <strong>550Pt.350Pd.50Ir.</strong>, etc. (PGM alloys with total PGM under 950/1000th's and platinum under 500/1000th's, or other types of platinum alloys such as "585 platinum", "karat platinum", etc., are not regulated in the U.S.)
</p>

<p style="margin-bottom:10px;">
<strong>Silver</strong> items may be stamped as Silver, Solid Silver, Sterling Silver, Sterling, Ster., or <strong>.925</strong>, which means 925/1000th's (92.5%) pure, solid silver, by weight. (Silver pieces under 925/1000th's pure silver, and Coin Silver under 900/1000th's, are not regulated in the U.S.) The most common silver types are:
</p>

<p style="margin-bottom:10px;">
<strong>Sterling Silver or .925</strong> (925/1000th's silver)
<br>
<strong>Coin Silver</strong> (at least 900/1000th's silver)
<br>
<strong>Vermeil</strong> (sterling silver base; plated with at least 10K gold) &ndash; vermeil is valued as silver because of the negligible gold content.
</p>
</div>

</div>
</div>
            </div>
        </div>
    </div>
</div>
