<?php
$isManagement = false;
$isUser = false;
if($this->_isAdminAllowed()){
    $isManagement = true;
}
if($this->_isUserAllowed()){
    $isUser = true;
}
?>

<?php if($isUser || $isManagement) : ?>

<div class="entry-edit">
    <div class="entry-edit-head">
        <h4><?php echo $this->__("Orders Statistic") ?></h4>
    </div>
    <fieldset class="np"><div class="grid np">
            <table style="border:0;" id="orderStatistic_table" cellspacing="0">
                <colgroup><col>
                    <col width="70">
                </colgroup><thead>
                <tr class="headings">
                    <th class=" no-link"><span class="nobr">Stage/Status</span></th>
                    <th class=" no-link ot-content"><span class="nobr">Total # Orders</span></th>
                    <th class=" no-link ot-content"><span class="nobr">Orders over 7 days</span></th>
                    <th class=" no-link ot-content"><span class="nobr">Orders 2-7 days</span></th>
                    <th class=" no-link ot-content"><span class="nobr">Orders under 2 days</span></th>
                    <th class=" no-link last"><span class="nobr"></span></th>
                </tr>
                </thead>
                <tbody>
                <tr class="pointer">
                    <?php $data = $this->getOrderData(0, 0, null); ?>
                    <?php $link = $this->getUserLink(0, 'New', null); ?>
                    <td class=" "><?php echo $this->__("Orders Verification > New") ?></td>
                    <td class=" a-right "><?php echo $data['total'] ?></td>
                    <td class=" a-right "><?php echo $data['over10days'] ?></td>
                    <td class=" a-right "><?php echo $data['from5to10days'] ?></td>
                    <td class=" a-right "><?php echo $data['under5days'] ?></td>
                    <td class=" a-right last"><a href="<?php echo $link ?>"><?php echo $this->__("Quick Link") ?></a></td>
                </tr>
                <tr class="pointer">
                    <?php $data = $this->getOrderData(0, 30, null); ?>
                    <?php $link = $this->getUserLink(0, 'Payment Review', null); ?>
                    <td class=" "><?php echo $this->__("Orders Verification > Payment Review") ?></td>
                    <td class=" a-right "><?php echo $data['total'] ?></td>
                    <td class=" a-right "><?php echo $data['over10days'] ?></td>
                    <td class=" a-right "><?php echo $data['from5to10days'] ?></td>
                    <td class=" a-right "><?php echo $data['under5days'] ?></td>
                    <td class=" a-right last"><a href="<?php echo $link ?>"><?php echo $this->__("Quick Link") ?></a></td>
                </tr>
                <tr class="even pointer">
                    <?php $data = $this->getOrderData(0, 14, null); ?>
                    <?php $link = $this->getUserLink(0, 'Waiting on Customer', null); ?>
                    <td class=" "><?php echo $this->__("Orders Verification > Waiting On Customer") ?></td>
                    <td class=" a-right "><?php echo $data['total'] ?></td>
                    <td class=" a-right "><?php echo $data['over10days'] ?></td>
                    <td class=" a-right "><?php echo $data['from5to10days'] ?></td>
                    <td class=" a-right "><?php echo $data['under5days'] ?></td>
                    <td class=" a-right last"><a href="<?php echo $link ?>"><?php echo $this->__("Quick Link") ?></a></td>
                </tr>
                <tr class="even pointer">
                    <?php $data = $this->getOrderData(1, 0, null, 0); ?>
                    <?php $link = $this->getUserLink(1, 'New', null); ?>
                    <td class=" "><?php echo $this->__("Orders Processing > New") ?></td>
                    <td class=" a-right"><?php echo $data['total'] ?></td>
                    <td class=" a-right "><?php echo $data['over10days'] ?></td>
                    <td class=" a-right "><?php echo $data['from5to10days'] ?></td>
                    <td class=" a-right "><?php echo $data['under5days'] ?></td>
                    <td class=" a-right last"><a href="<?php echo $link ?>"><?php echo $this->__("Quick Link") ?></a></td>
                </tr>
                <tr class="pointer">
                    <?php $data = $this->getOrderData(1, 18, null); ?>
                    <?php $link = $this->getUserLink(1, 'Offer Alternatives', null); ?>
                    <td class=" "><?php echo $this->__("Orders Processing > Offer Alternatives") ?></td>
                    <td class=" a-right "><?php echo $data['total'] ?></td>
                    <td class=" a-right "><?php echo $data['over10days'] ?></td>
                    <td class=" a-right "><?php echo $data['from5to10days'] ?></td>
                    <td class=" a-right "><?php echo $data['under5days'] ?></td>
                    <td class=" a-right last"><a href="<?php echo $link ?>"><?php echo $this->__("Quick Link") ?></a></td>
                </tr>
                <tr class="even pointer">
                    <?php $data = $this->getOrderData(1, 15, null,1); ?>
                    <?php $link = $this->getUserLink(1, 'Verify Order', null); ?>
                    <td class=" "><?php echo $this->__("Orders Processing > Verify Order") ?></td>
                    <td class=" a-right"><?php echo $data['total'] ?></td>
                    <td class=" a-right "><?php echo $data['over10days'] ?></td>
                    <td class=" a-right "><?php echo $data['from5to10days'] ?></td>
                    <td class=" a-right "><?php echo $data['under5days'] ?></td>
                    <td class=" a-right last"><a href="<?php echo $link ?>"><?php echo $this->__("Quick Link") ?></a></td>
                </tr>
                <tr class="pointer">
                    <?php $data = $this->getOrderData(1, 14, null); ?>
                    <?php $link = $this->getUserLink(1, 'Waiting on Customer', null); ?>
                    <td class=" "><?php echo $this->__("Orders Processing > Waiting on Customer") ?></td>
                    <td class=" a-right"><?php echo $data['total'] ?></td>
                    <td class=" a-right "><?php echo $data['over10days'] ?></td>
                    <td class=" a-right "><?php echo $data['from5to10days'] ?></td>
                    <td class=" a-right "><?php echo $data['under5days'] ?></td>
                    <td class=" a-right last"><a href="<?php echo $link ?>"><?php echo $this->__("Quick Link") ?></a></td>
                </tr>
                <tr class="even pointer">
                    <?php $data = $this->getOrderData(1, 0, null, 1); ?>
                    <?php $link = $this->getUserLink(1, 'Not Processed', null); ?>
                    <td class=" "><?php echo $this->__("Orders Processing > Not Processed") ?></td>
                    <td class=" a-right"><?php echo $data['total'] ?></td>
                    <td class=" a-right "><?php echo $data['over10days'] ?></td>
                    <td class=" a-right "><?php echo $data['from5to10days'] ?></td>
                    <td class=" a-right "><?php echo $data['under5days'] ?></td>
                    <td class=" a-right last"><a href="<?php echo $link ?>"><?php echo $this->__("Quick Link") ?></a></td>
                </tr>
                <tr class="even pointer">
                    <?php $data = $this->getOrderData(1, 25, null,null); ?>
                    <?php $link = $this->getUserLink(1, 'Process Layaway', null); ?>
                    <td class=" "><?php echo $this->__("Orders Processing > Process Layaway") ?></td>
                    <td class=" a-right"><?php echo $data['total'] ?></td>
                    <td class=" a-right "><?php echo $data['over10days'] ?></td>
                    <td class=" a-right "><?php echo $data['from5to10days'] ?></td>
                    <td class=" a-right "><?php echo $data['under5days'] ?></td>
                    <td class=" a-right last"><a href="<?php echo $link ?>"><?php echo $this->__("Quick Link") ?></a></td>
                </tr>
                <tr class="pointer">
                    <?php $data = $this->getOrderData(2, 1, null); ?>
                    <?php $link = $this->getUserLink(2, 'Item(s) Collection', null); ?>
                    <td class=" "><?php echo $this->__("Fulfillment > Item(s) Collection") ?></td>
                    <td class=" a-right"><?php echo $data['total'] ?></td>
                    <td class=" a-right "><?php echo $data['over10days'] ?></td>
                    <td class=" a-right "><?php echo $data['from5to10days'] ?></td>
                    <td class=" a-right"><?php echo $data['under5days'] ?></td>
                    <td class=" a-right last"><a href="<?php echo $link ?>"><?php echo $this->__("Quick Link") ?></a></td>
                </tr>
                <tr class="even pointer">
                    <?php $data = $this->getOrderData(2, 2, null); ?>
                    <?php $link = $this->getUserLink(2, 'Manufacturing', null); ?>
                    <td class=" "><?php echo $this->__("Fulfillment > Manufacturing") ?></td>
                    <td class=" a-right"><?php echo $data['total'] ?></td>
                    <td class=" a-right "><?php echo $data['over10days'] ?></td>
                    <td class=" a-right "><?php echo $data['from5to10days'] ?></td>
                    <td class=" a-right"><?php echo $data['under5days'] ?></td>
                    <td class=" a-right last"><a href="<?php echo $link ?>"><?php echo $this->__("Quick Link") ?></a></td>
                </tr>
                <tr class="pointer">
                    <?php $data = $this->getOrderData(2, 4, null); ?>
                    <?php $link = $this->getUserLink(2, 'Waiting on Vendor', null); ?>
                    <td class=" "><?php echo $this->__("Fulfillment > Waiting on Vendor") ?></td>
                    <td class=" a-right"><?php echo $data['total'] ?></td>
                    <td class=" a-right "><?php echo $data['over10days'] ?></td>
                    <td class=" a-right "><?php echo $data['from5to10days'] ?></td>
                    <td class=" a-right "><?php echo $data['under5days'] ?></td>
                    <td class=" a-right last"><a href="<?php echo $link ?>"><?php echo $this->__("Quick Link") ?></a></td>
                </tr>
                <tr class="pointer">
                    <?php $data = $this->getOrderData(2, 21, null); ?>
                    <?php $link = $this->getUserLink(2, 'Need to Order', null); ?>
                    <td class=" "><?php echo $this->__("Fulfillment > Need to Order") ?></td>
                    <td class=" a-right"><?php echo $data['total'] ?></td>
                    <td class=" a-right "><?php echo $data['over10days'] ?></td>
                    <td class=" a-right "><?php echo $data['from5to10days'] ?></td>
                    <td class=" a-right "><?php echo $data['under5days'] ?></td>
                    <td class=" a-right last"><a href="<?php echo $link ?>"><?php echo $this->__("Quick Link") ?></a></td>
                </tr>
                <tr class="pointer">
                    <?php $data = $this->getOrderData(3, 6, null); ?>
                    <?php $link = $this->getUserLink(3, 'Item(s) Ready', null); ?>
                    <td class=" "><?php echo $this->__("Billing > Item(s) Ready") ?></td>
                    <td class=" a-right"><?php echo $data['total'] ?></td>
                    <td class=" a-right "><?php echo $data['over10days'] ?></td>
                    <td class=" a-right "><?php echo $data['from5to10days'] ?></td>
                    <td class=" a-right "><?php echo $data['under5days'] ?></td>
                    <td class=" a-right last"><a href="<?php echo $link ?>"><?php echo $this->__("Quick Link") ?></a></td>
                </tr>
                <tr class="pointer">
                    <?php $data = $this->getOrderData(4, 7, null); ?>
                    <?php $link = $this->getUserLink(4, 'Payment Complete', null); ?>
                    <td class=" "><?php echo $this->__("Prep Shipment > Payment Complete") ?></td>
                    <td class=" a-right"><?php echo $data['total'] ?></td>
                    <td class=" a-right "><?php echo $data['over10days'] ?></td>
                    <td class=" a-right "><?php echo $data['from5to10days'] ?></td>
                    <td class=" a-right "><?php echo $data['under5days'] ?></td>
                    <td class=" a-right last"><a href="<?php echo $link ?>"><?php echo $this->__("Quick Link") ?></a></td>
                </tr>
                <tr class="pointer">
                    <?php $data = $this->getOrderData(4, 9, null); ?>
                    <?php $link = $this->getUserLink(4, 'Label and Invoice Ready', null); ?>
                    <td class=" "><?php echo $this->__("Prep Shipment > Label and Invoice Ready") ?></td>
                    <td class=" a-right"><?php echo $data['total'] ?></td>
                    <td class=" a-right "><?php echo $data['over10days'] ?></td>
                    <td class=" a-right "><?php echo $data['from5to10days'] ?></td>
                    <td class=" a-right "><?php echo $data['under5days'] ?></td>
                    <td class=" a-right last"><a href="<?php echo $link ?>"><?php echo $this->__("Quick Link") ?></a></td>
                </tr>
                <tr class="pointer">
                    <?php $data = $this->getOrderData(4, 10, null); ?>
                    <?php $link = $this->getUserLink(4, 'Ready for Packaging', null); ?>
                    <td class=" "><?php echo $this->__("Prep Shipment > Ready for Packaging") ?></td>
                    <td class=" a-right"><?php echo $data['total'] ?></td>
                    <td class=" a-right "><?php echo $data['over10days'] ?></td>
                    <td class=" a-right "><?php echo $data['from5to10days'] ?></td>
                    <td class=" a-right "><?php echo $data['under5days'] ?></td>
                    <td class=" a-right last"><a href="<?php echo $link ?>"><?php echo $this->__("Quick Link") ?></a></td>
                </tr>
                <tr class="even pointer">
                    <?php $data = $this->getOrderData(4, 11, null); ?>
                    <?php $link = $this->getUserLink(4, 'Packaging Complete', null); ?>
                    <td class=" "><?php echo $this->__("Packaging complete, no tracking info") ?></td>
                    <td class=" a-right"><?php echo $data['total'] ?></td>
                    <td class=" a-right "><?php echo $data['over10days'] ?></td>
                    <td class=" a-right "><?php echo $data['from5to10days'] ?></td>
                    <td class=" a-right "><?php echo $data['under5days'] ?></td>
                    <td class=" a-right last"><a href="<?php echo $link ?>"><?php echo $this->__("Quick Link") ?></a></td>
                </tr>
                <tr class="even pointer">
                    <?php $data = $this->getOrderData(5, null, null); ?>
                    <?php $link = $this->getUserLink(5, null, null); ?>
                    <td class=" "><?php echo $this->__("Shipped") ?></td>
                    <td class=" a-right"><?php echo $data['total'] ?></td>
                    <td class=" a-right "><?php echo $data['over10days'] ?></td>
                    <td class=" a-right "><?php echo $data['from5to10days'] ?></td>
                    <td class=" a-right "><?php echo $data['under5days'] ?></td>
                    <td class=" a-right last"><a href="<?php echo $link ?>"><?php echo $this->__("Quick Link") ?></a></td>
                </tr>
                <tr class="pointer">
                    <?php $data = $this->getOrderData(null, null, null, 2); ?>
                    <?php $link = $this->getUserLink(null, null, 2); ?>
                    <td class=" "><?php echo $this->__("Repair Orders") ?></td>
                    <td class=" a-right"><?php echo $data['total'] ?></td>
                    <td class=" a-right "><?php echo $data['over10days'] ?></td>
                    <td class=" a-right "><?php echo $data['from5to10days'] ?></td>
                    <td class=" a-right "><?php echo $data['under5days'] ?></td>
                    <td class=" a-right last"><a href="<?php echo $link ?>"><?php echo $this->__("Quick Link") ?></a></td>
                </tr>
               
                </tbody>
            </table>
        </div>
    </fieldset>
</div>

<style>
    .ot-content{
        width: 15%;
    }
</style>

<?php endif; ?>