<?php 
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Social
 */
?>
<div id="amsocial_dark"  style="display:none;" onclick="amsocialPopupHide(); return false;">
    <div class="amsocial-iframe" id="amsocial_iframe"><iframe id="amsocial_iframe_id" src="" style="overflow:scroll;" ></iframe></div>
    <script type="text/javascript">
        var amSocialIframeUrl = '<?php echo $this->getIframeUrl(); ?>';
        var amSocialPopupDark = <?php echo (int)Mage::getStoreConfig('amsocial/general/darken_screen')?>;
        <?php if(Mage::helper('amsocial')->isFirst()): ?>
            Event.observe(window, 'load', function(){
                amsocialPopupShow();    
            });
        <?php endif;?>
        if($('amsocial_dark')) document.body.appendChild($('amsocial_dark'));
    </script>
</div>
