<?php
$barcode_path = $this->getimagepath();
?>
<table class="tblHead" cellpadding="0" cellspacing="0" border="0" style="margin: 0px;width: 96%;">
    <col style="width: 60%">
    <col style="width: 40%" class="col2">
    <tr><td colspan="2">&nbsp;</td></tr>
    <tr>
        <td class="imgBarCode" valign="middle" style="padding:1mm 5mm">
            <table cellpadding="0" cellspacing="0" border="0" style="margin-left: 37px;width: 100%;">
                <tr>
                    <td colspan="2"><img style="width: 100%;" src="<?php echo $barcode_path;?>" /></td>
                </tr>

            </table>
        </td>
    </tr>
</table>