<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Receivable Invoices Pdf</title>
    <style>
        *{
            margin:0;
            padding:0;
            font-family:Arial;
            font-size:50pt;
            color:#000;
        }

        body{
            width:100%;
            font-family:Arial;
            font-size:10pt;
            margin:0;
            padding:0;
        }

        p{
            margin:0;
        }


        @media print{
            .page-break{display: block;page-break-before: always;}
        }

    </style>
</head>
<?php
$data = $this->getItemData();

$BGurl = '';
if(isset($data['logo']) && $data['logo'] != 'empty') {
    $BGurl = 'media/Certificate';
    if ($data['logo'] == 'itshot') {
        $BGurl .= 'ItsHot.jpg';
    } elseif ($data['logo'] == 'luxurman') {
        $BGurl .= 'Luxurman.jpg';
    }
}
?>

<body style="<?php if($BGurl != ''){ ?> background-image: url('<?php echo $BGurl ?>'); <?php } ?>
        background-position: top left;
        background-repeat: no-repeat;
        background-image-resize: 4;
        background-image-resolution: from-image; height: 100%" >
<div class="wrapper" style=" padding: 21mm; height: 55%;" >
    <?php
    $barcode_path="/upload/".$data['cert_number'].".png";
    Mage::helper('opentechiz_inventory')->barcode(Mage::getBaseDir('media').$barcode_path,$data['cert_number']);
    //$store_image = imagepng($file,Mage::getBaseDir('media').$barcode_path);
    $item_image_path = null;
    $country_name = Mage::app()->getLocale()->getCountryTranslation($data['country']);
    if($data['server_image']){
        $item_image = parse_url($data['item_image']);
        $item_image_path = ltrim($item_image['path'], '/');
    }
    if(isset($data['item_code']) && $data['item_code'] !=''){
        $item_image_path = Mage::helper('opentechiz_salesextend')->getImageByColor(null, $data['item_code'], $item_image_path);
    } 
    
    ?>
    <!-- <htmlpageheader name="header"> -->
    <table id="tbl-header" style="width: 100%;margin: 10mm; margin-top:40mm; margin-left:11mm">
        <tr>
            <td>
                <p ><?= $data['customer_name']?><br>
                    <?= $data['street'] ?><br>
                    <?= $data['city'] ?>, <?= $data['region'] ?> <?= $data['postcode']?><br>
                    <?= $country_name ?><br>
                </p>
            </td>

            <td>

            </td>
        </tr>
        <tr><td colspan="3"><hr/></td></tr>
        <tr>
            <td style="width: 50%" ><div><p>
                        SKU: <?= $data['item_code']?><br><br>
                        <?php if(isset($data['metal'])){ ?>
                            Metal : <?php echo $data['metal'] ?> <br><br>
                        <?php } ?>
                        <?php if(isset($data['item_option']) && strtolower(strip_tags($data['item_option'])) != 'no option'
                            && trim(strip_tags($data['item_option'])) != ''){ ?>
                            <?php echo $data['item_option'] ?> <br>
                        <?php } ?>
                        <?php if(isset($data['retail_price'])){ ?>
                            <?php if(substr($data['retail_price'], 0, 1) == '$'){ ?>
                                <?php $data['retail_price'] = substr($data['retail_price'], 1); ?>
                            <?php } ?>
                            <?php if($data['retail_price'] != 0){ ?>
                                Retail Value $: <?= $data['retail_price'] ?>  <br><br>
                            <?php } ?>
                        <?php } ?>
                        <?php if(isset($data['c2c_setting_type']) && $data['c2c_setting_type'] !=''){ ?>
                            Setting Type: <?= $data['c2c_setting_type'] ?>  <br><br>
                        <?php } ?>
                        <?php if(isset($data['c2c_average_clarity_for_filter']) && $data['c2c_average_clarity_for_filter'] !=''){ ?>
                            Average Clarity: <?= $data['c2c_average_clarity_for_filter'] ?> <br><br>
                        <?php } ?>
                        <?php if(isset($data['c2c_average_color']) && $data['c2c_average_color'] !=''){ ?>
                            Average Color: <?= $data['c2c_average_color'] ?> <br><br>
                        <?php } ?>
                        <?php if(isset($data['c2c_carat_weight']) && $data['c2c_carat_weight'] !=''){ ?>
                            Approx Carat Weight: <?= $data['c2c_carat_weight'] ?> <br><br>
                        <?php } ?>
                        <?php if(isset($data['note']) && $data['note'] !=''){ ?>
                            Note: <?= $data['note'] ?>
                        <?php } ?>
                        </div></p>
                        
            </td>
            <td style="width: 50%">
                <div>
                    <p style="word-break: break-all; " ><?= $data['item_name'] ?></p><br>
                    <img src="<?php echo $item_image_path; ?>" style="width: 200px; height: 150px;position: relative; margin-bottom: 0px">
                </div>
            </td>
        </tr>
    </table>
</div>
<?php if(isset($data['cert_number'])):?>
<div style="padding-left: 65%;">
    <span style="font-weight: bold;"><?php echo $this->__('Cert Number: '). $data['cert_number']?> </span>
</div>
<?php endif;?>
<?php //if(isset($data['logo']) && $data['logo'] == 'luxurman') { ?>
<!--    --><?php //$paddingTop = 70 ?>
<?php //}else{ ?>
<?php $paddingTop = 65 ?>
<?php //} ?>

<div style="bottom: 45mm; padding-top: <?php echo $paddingTop ?>px; padding-left: 130px; left: 45mm">
    <img src="<?php echo 'media/'.$barcode_path; ?>" style="width: 150px; height: 70px;  ">
</div>

</body>
</html>