<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manufacture PDF</title>
    <style>
        *{
            margin:0;
            padding:0;
            font-family:Arial;
            font-size:50pt;
            color:#000;
        }

        body{
            width:100%;
            font-family:Arial;
            font-size:10pt;
            margin:0;
            padding:0;
        }

        p{
            margin:0;
        }

        .header{
            display: flex;
        }
        .logo{
            text-align: center;
            font-size: 40px;
            font-weight: 700;
            width: 45%;
            float: left;
        }
        .barcode{
            width: 45%;
            float: right;
            text-align: right;
            padding-top: 10px;
            padding-right: 50px;
        }
        .sku{
            background-color: #dedede;
            color: black;
            height: auto;
            overflow: hidden;
            padding: 20px 20px;
        }
        .order-product{
            text-align: left;
            width: 64%;
            float: left;
        }
        .order-detail{
            text-align: right;
            width: 34%;
            float: right;
        }
        .product{
            margin-top: 5px;
            display: flex;
            overflow: hidden;
            width: 100%;
            height: auto;
        }
        .image{
            width: 49%;
            float: left;
            overflow: hidden;
            height:auto;
        }
        .info{
            width: 49%;
            float: right;
            overflow: hidden;
            height:auto;
        }
        .div-header{
            background-color: lightgrey;
            padding-left: 10px;
            line-height: 30px;
        }
        .div-body{
            width: 100%;
        }
        .product-info-row{
            line-height: 35px;
            margin-top: 3px;
            display: flex;
            background-color: white;
            padding-left: 5px;
            padding-right: 5px;
            width: 100%;
        }
        .product-info-title{
            float: left;
            width: 40%;
        }
        .product-info-value{
            float: right;
            width: 60%;
            text-align: right;
        }
        .engrave{
            width: 100%;
            margin-top: 10px;
        }
        .product-image{
            display: flex;
        }
        .step-info{
            width: 25%;
            float: left;
            padding: 10px 10px;
            height: auto;
            overflow: hidden;
        }
        .note{
            width: 48%;
            float: right;
            padding: 10px 10px;
            height: auto;
            overflow: hidden;
            border-left: solid black 1px;
        }
        @media print{
            .page-break{display: block;page-break-before: always;}
        }

    </style>
</head>

<?php
$data = $this->getItemData();
$baseUrl = Mage::getBaseUrl();
$baseUrl = str_replace('index.php/', '', $baseUrl);
$baseDir = Mage::getBaseDir();

$data['image'] = str_replace($baseUrl, '', $data['image']);
$data['image'] = str_replace($baseDir, '', $data['image']);
$quoteOption = [];

if($data['is_quotation']) {
    $quoteProductId = explode(OpenTechiz_SalesExtend_Helper_Sku::SKU_SEPARATOR, $data['sku'])[1];
    $quoteProduct = Mage::getModel('opentechiz_quotation/product')->load($quoteProductId);
    $goldId = Mage::getModel('opentechiz_quotation/productOption')->getCollection()
        ->addFieldToFilter('quote_product_id', $quoteProductId)->addFieldToFilter('option_type', 'gold')
        ->getFirstItem()->getOptionValue();
    $gold = Mage::getModel('opentechiz_material/gold')->load($goldId);
    $quotationGoldType = OpenTechiz_Material_Helper_Data::GOLD_NAME_FRONT_END[$gold->getGoldType().$gold->getGoldColor()];

    $images = explode(',', $quoteProduct->getQpImage());

//    if (count($images) > 0) {
//        $images[0] = str_replace($baseUrl, '', $images[0]);
//    }

    $otherOption = Mage::getModel('opentechiz_quotation/productOption')->getCollection()
        ->addFieldToFilter('quote_product_id', $quoteProductId)->addFieldToFilter('option_type', 'other');
    foreach ($otherOption as $option){
        $quoteOption[$option->getOptionName()] = $option->getOptionValue();
    }
}

$barcode_path="/upload/".$data['barcode'].".png";
Mage::helper('opentechiz_inventory')->barcode(Mage::getBaseDir('media').$barcode_path, $data['barcode']);
$stoneOptions = [];
$productOptions = unserialize($data['options']);
if(!isset($productOptions['options'])) $productOptions['options'] = [];

$engraveFont = 'Don\'t Engrave';
$engraveText = 'None';
$quality = OpenTechiz_PersonalizedProduct_Helper_Data::QUALITY;

foreach($productOptions['options'] as $option){
    $title = str_replace(' ', '', strtolower($option['label']));
    if(strpos($title, 'ringsize') !== false || strpos($title, 'size') !== false){
        $ringSize = $option['value'];
    }
    if($title == 'engraving'){
        $engraveFont = $option['value'];
    }
    if($title == 'goldcolor' || $title == 'goldcolour'){
        $goldColor = $option['value'];
    }
    if($title == 'engravingtext'){
        $engraveText = $option['value'];
    }
}

if($data['is_personalized'] || $data['is_quotation']){
    $stoneOptions = unserialize($data['stone_info']);
}

//get personalized images
$product = Mage::getModel('catalog/product')->load($data['product_id']);

?>

<body>
<div class="header">
    <div class="logo">
        <img src="<?php echo 'media/miscellaneous/logo_to_print.png' ?>">
    </div>
    <div class="barcode">
        <img src="<?php echo 'media/'.$barcode_path ?>" style="width: 200px; height: 75px;">
    </div>
</div>
<br>
<br>
<div class="sku">
    <div class="order-product">
        <?php if(array_key_exists('order_id', $data)): ?>
            <?php $timeStructure = 'jS F Y'; ?>
            Order #: <?php echo $data['order_id']; ?><br>
        <?php endif; ?>
        Product Code: <?php echo $data['sku'] ?>
    </div>
    <div class="order-detail">
        <?php if(array_key_exists('order_id', $data)): ?>
            Shipped by: <?php echo date($timeStructure, strtotime($data['ship_by'])); ?><br>
            Ordered Date: <?php echo date($timeStructure, strtotime($data['order_date'])); ?>
        <?php endif; ?>
    </div>
</div>
<div class="product">
    <div class="image">
        <div class="div-header">
            Image
        </div>
        <div class="div-body" style="text-align: center">
            <?php if($data['is_personalized']){ ?>
                <?php echo "<img class='product-image-list' src='data:image/jpg;base64,".base64_encode($data['image'])."' alt='product_image' style='height: 250px' />"; ?>
            <?php }else{ ?>
                <img src="<?php echo $data['image'] ?>" alt="product_image" style="height: 250px"/>
            <?php } ?>
        </div>
    </div >
    <div class="info">
        <div class="div-header">
            Product
        </div>
        <div class="div-body" style="background-color: whitesmoke">
            <div class="product-info-row">
                <div class="product-info-title" >Manufacturer</div>
                <div class="product-info-value" ><?php echo $data['manufacturer'] ?></div>
            </div>
            <div class="product-info-row">
                <div class="product-info-title">Product Name</div>
                <div class="product-info-value"><?php echo $data['product_name'] ?></div>
            </div>
            <div class="product-info-row">
                <div class="product-info-title">Production Type</div>
                <div class="product-info-value"><?php echo OpenTechiz_Production_Helper_Data::OPPENTECHIZ_PRODUCTION_PRODUCTION_TYPE[$data['production_type']] ?></div>
            </div>
            <?php foreach($productOptions['options'] as $option): ?>
                <?php if($option['option_type'] == 'stone'){ ?>
                    <div class="product-info-row">
                        <div class="product-info-title"><?php echo $option['label'] ?></div>
                        <div class="product-info-value">
                            <?php
                            $stoneName = str_replace(' ', '', strtolower($option['value']));
                            if($stoneName == 'diamond'){
                                $skuParts = explode(OpenTechiz_SalesExtend_Helper_Sku::SKU_SEPARATOR, $data['sku']);
                                $stoneSku = $skuParts[OpenTechiz_PersonalizedProduct_Helper_Data::OPPENTECHIZ_OPTION_LABEL_POSITION[$option['label']]];

                                $quality = str_replace('diamond', '', $stoneSku);

                                echo OpenTechiz_Material_Helper_Data::OPPENTECHIZ_MATERIAL_STONE_TYPE[$stoneName] .' - '.OpenTechiz_PersonalizedProduct_Helper_Data::DEFAULT_QUALITY_ARRAY[$quality];
                            }else {
                                echo OpenTechiz_Material_Helper_Data::OPPENTECHIZ_MATERIAL_STONE_TYPE[$stoneName];
                            }

                            ?>
                        </div>
                    </div>
                <?php } ?>
            <?php endforeach; ?>
            <?php foreach($productOptions['options'] as $option): ?>
                <?php if($option['option_type'] == 'gold'){ ?>
                    <div class="product-info-row">
                        <div class="product-info-title">Color/Metal</div>
                        <div class="product-info-value"><?php echo ucwords($option['value']) ?></div>
                    </div>
                    <?php break;} ?>
            <?php endforeach; ?>
            <?php if(isset($ringSize)){ ?>
                <div class="product-info-row">
                    <div class="product-info-title">Ring Size</div>
                    <div class="product-info-value"><?php echo $ringSize ?></div>
                </div>
            <?php } ?>
            <?php if(isset($goldColor)){ ?>
                <div class="product-info-row">
                    <div class="product-info-title">Gold Color</div>
                    <div class="product-info-value"><?php echo $goldColor ?></div>
                </div>
            <?php } ?>
            <?php if(isset($quotationGoldType)){ ?>
                <div class="product-info-row">
                    <div class="product-info-title">Metal</div>
                    <div class="product-info-value"><?php echo $quotationGoldType ?></div>
                </div>
            <?php } ?>
            <?php if($quoteOption != []){ ?>
                <?php foreach ($quoteOption as $key => $value){ ?>
                    <div class="product-info-row">
                        <div class="product-info-title"><?php echo $key ?></div>
                        <div class="product-info-value"><?php echo $value ?></div>
                    </div>
                <?php } ?>
            <?php } ?>
            <div class="product-info-row">
                <div class="product-info-title">Width</div>
                <div class="product-info-value"><?php echo $data['width'] ?></div>
            </div>
            <div class="product-info-row">
                <div class="product-info-title">Average Weight</div>
                <div class="product-info-value"><?php echo $data['weight'] ?></div>
            </div>
            <?php if(count($stoneOptions)>0){ ?>
                <div class="product-info-row" style="height: auto; overflow: hidden">
                    Stones info
                    <br>
                    ( Type | Shape | Diameter | Quality | Qty )
                    <?php foreach ($stoneOptions as $stone){ ?>
                        <br>
                        <?php echo OpenTechiz_Material_Helper_Data::OPPENTECHIZ_MATERIAL_STONE_TYPE[$stone['name']] ?> |
                        <?php echo $stone['shape'] ?> |
                        <?php echo $stone['diameter'] ?> |
                        <?php if($stone['quality'] != ''){ echo $stone['quality']; }else echo 'none'?> |
                        <?php echo $stone['qty'] ?>
                    <?php } ?>
                </div>
            <?php } ?>
        </div>
    </div>
    <div class="engrave" style="background-color: whitesmoke">
        <div class="div-header">
            Engraving
        </div>
        <div class="product-info-row" style="padding-left: 20px">
            Font:   <?php echo $engraveFont ?>
        </div>
        <div class="product-info-row" style="padding-left: 20px">
            Text:   <?php echo $engraveText ?>
        </div>
    </div>
    <div class="product-image">
        <?php if($data['is_personalized']){ ?>
            <?php

            foreach ($data['images'] as $contents) {
                echo "<img class='product-image-list' src='data:image/jpg;base64," . base64_encode($contents) . "' width='47%'/>";
            }

            ?>
        <?php }elseif($data['is_quotation']) { ?>
            <?php
            $quoteProductId = explode(OpenTechiz_SalesExtend_Helper_Sku::SKU_SEPARATOR, $data['sku'])[1];
            $quoteProduct = Mage::getModel('opentechiz_quotation/product')->load($quoteProductId);
            $images = explode(',', $quoteProduct->getQpImage());

            if (count($images) > 0) {
                foreach ($images as $image) {
                    $image = str_replace($baseUrl, '', $image);
                    $image = str_replace($baseDir, '', $image);
                    ?>
                    <img src="<?php echo $image ?>" width="47%" />
                    <?php
                }
            }
        }else{?>
            <?php
            foreach ($data['images'] as $image) {
                $image = str_replace($baseUrl, '', $image);
                $image = str_replace($baseDir, '', $image);
                ?>
                <img src="<?php echo $image ?>" width="47%" />
                <?php
            }
            ?>
        <?php } ?>

    </div>
    <div class="production-form">
        <?php
        if($data['production_type'] == 5){
            $processArray = OpenTechiz_Production_Helper_Data::RESIZE_AND_ENGRAVE_PROCESSES;
        } elseif($data['production_type'] == 0 || $data['production_type'] == 1) {
            $processArray = json_decode(Mage::helper('opentechiz_return')->getProductionStep($data['personalized_id']));
            if ($processArray) {
                $processArray = array_filter($processArray);
                $a = array();
                $processFlip = array_flip(OpenTechiz_Production_Helper_Data::PROCESS_LIST);

                foreach ($processArray as $key => $value) {
                    # code...
                    $a[] = $processFlip[$value];
                }
                $processArray = $a;
            } else {
                $processArray = OpenTechiz_Production_Helper_Data::PROCESSES;
            }
        } else{
            $processArray = OpenTechiz_Production_Helper_Data::PROCESSES;
        }
        ?>
        <?php foreach($processArray as $process):?>
            <?php if($process == 50) continue; ?>
            <div class="div-header">
                <?php echo OpenTechiz_Production_Helper_Data::PROCESS_LIST[$process] ?>
            </div>
            <div class="div-body" style="width:100%; display: flex;">
                <div class="step-info">
                    <?php if($process <= 25){ ?>
                        Gold Weight: <br>
                        Stone Weight: <br>
                        Staff:
                    <?php }else{ ?>
                        Item Weight: <br>
                        Staff:
                    <?php } ?>
                </div>
                <div class="note">
                    Note:
                </div>
            </div>

        <?php endforeach; ?>
    </div>
</div>
</body>