<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript">jQuery.noConflict();</script>

<div class="manufacture-form-header">
    <h3 class="icon-head page-header"><?php echo $this->_headerText; ?></h3>
    <button id="save-btn" title="Go" type="submit" class="scalable save" form="manufacture-form"
            style="float: right"><span><span><span>Go</span></span></span></button>
</div>
<div class="manufacture-form-content">
    <div class="entry-edit" style="width: 100%">
        <div class="entry-edit-head"><h4 class="icon-head head-stone-main-info">Main Information</h4>
        </div>
        <div class="manufacture-content">
            <form id="manufacture-form" action="<?php echo $this->getFormAction() ?>">
                <div class="hidden" id="product-grid">
                    <?php echo $this->getChildHtml('request_manufacture_product_grid'); ?>
                </div>
                <a href="#/" onclick="toggleProductGrid()">Product Grid</a>
                <div id="product-info">

                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('save-btn').disabled = true;

    function toggleProductGrid() {
        document.getElementById('product-grid').classList.toggle('hidden');
    }

    function jsGetProduct($productId) {
        var productInfoDiv = document.getElementById('product-info');
        var url = '<?php echo $this->getAjaxAction() ?>';

        var data = {'product_id' : $productId};
        jQuery("#loading-mask").show();
        jQuery.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function(data)
            {
                productInfoDiv.innerHTML = data;
                document.getElementById('save-btn').disabled = false;
                jQuery("#loading-mask").hide();
            }
        });

    }
</script>

<style>
    .page-header{
        float: left;
        margin: .3em .5em 0 0;
        color: #eb5e00 !important;
        font-size: 1.25em;
        line-height: 1.2em;
    }
    .manufacture-form-header{
        display: inline-block;
        width: 100%;
        padding-bottom: 3px;
        border-bottom-color: rgb(223, 223, 223);
        border-bottom-style: solid;
        border-bottom-width: 4px;
    }
    .manufacture-form-content{
        display: flex;
    }
    .entry-edit-head{
        background: #6f8992;
        padding: 2px 10px;
    }
    .manufacture-content{
        background-clip: border-box;
        background-color: rgb(250, 250, 250);
        border: rgb(214, 214, 214) solid 1px;;
    }
    .hidden{
        display: none;
    }
    #product-info{
        border: rgb(214, 214, 214) solid 1px;;
    }
</style>
