<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript">jQuery.noConflict();</script>

<div class="process-header">
    <h3 class="icon-head page-header"><?php echo $this->_headerText; ?></h3>
</div>
 <form id="process_form" action="<?php echo $this->getFormAction() ?>">
<div class="process-content">
    <form id="process_form" action="<?php echo $this->getFormAction() ?>">
        <table cellspacing="0" class="form-list">
            <tbody>
                <tr>
                    <td class="label">
                        <label class="barcode-label">Barcode</label>
                    </td>
                    <td class="value" >
                        <span id="barcode-span" style="display: none;"></span>
                        <input id="barcode" name="barcode" class="text-field input-text" required/>
                        <p class="note" id="barcode-small"><span>Please enter item barcode to filter and update process.</span></p>
                    </td>
                </tr>
            </tbody>
        </table>
        <table cellspacing="0" class="form-list">
            <tbody id="data-fields">

            </tbody>
        </table>
        <table cellspacing="0" class="form-list">
            <tbody>
                <tr>
                    <td class="label"></td>
                    <td class="value">
                        <button id="submit_btn" type="submit">Submit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
</form>
<script>
    var currentBarcode = '';
    var inputBarcode = '';
    var newBarcode = true;

    function addReasonRequired(obj) {
        document.getElementById("add-note").required = jQuery(obj).is(":checked");
    }

    function changeStaffType(obj, status) {
        var selectedType = obj.options[obj.selectedIndex].value;
        var url = '<?php echo Mage::getUrl('adminhtml/process/ajaxGetStaff/') ?>';
        jQuery("#loading-mask").show();
        jQuery.ajax({
            type: "POST",
            url: url,
            data: {
                type : selectedType,
                status : status
            },
            success: function (data) {
                if (data['error'] === 1) {
                    window.location.reload(true);
                } else {
                    document.getElementById('staff_id').innerHTML = data['html'];
                    jQuery("#loading-mask").hide();
                }
            }
        });
    }

    jQuery("#process_form").submit(function (e) {
        var form = jQuery(this);
        var url = form.attr('action');
        inputBarcode = jQuery('#barcode').val();

        if (inputBarcode === currentBarcode || inputBarcode === '') newBarcode = false;
        else {
            newBarcode = true;
            currentBarcode = inputBarcode;
        }

        var data = form.serializeArray();
        data.push({name: 'newbarcode', value: newBarcode});

        jQuery("#loading-mask").show();
        jQuery.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function (data) {
                if (data['error'] === 1) {
                    window.location.reload(true);
                } else {
                    var messageDiv = document.getElementById('messages');
                    if (messageDiv) messageDiv.outerHTML = '';
                    document.getElementById('data-fields').innerHTML = data['html'];
                    document.getElementById('barcode').style.display = 'none';
                    document.getElementById('barcode-small').style.display = 'none';
                    document.getElementById('barcode-span').innerHTML = currentBarcode;
                    document.getElementById('barcode-span').style.display = 'block';
                    jQuery("#loading-mask").hide();
                }
            }
        });

        e.preventDefault();
    });

    <?php
    $params = Mage::app()->getRequest()->getParams();
    if(isset($params['barcode']) && isset($params['barcode'])){
    ?>
    document.getElementById('barcode').value = '<?php echo $params['barcode']; ?>';
    <?php
    }
    ?>
</script>