<?php
$_indexes = $this->getIndexes();
?>
<div class="page-title">
    <h1><?php echo ($this->getHeaderTextEmpty()) ? $this->__("Sorry, '%s' returned no results", $this->helper('catalogsearch')->getEscapedQueryText()) : $this->__("Showing results for '%s'", $this->helper('catalogsearch')->getEscapedQueryText()) ?></h1>
</div>

<?php echo $this->getChildHtml('related_searches') ?>

<?php echo $this->getCurrentContent() ?>
