<?php
/**
 *
 * @category   MW
 * @package    MW_Mwcredit
 * @author Mage World <support@mage-world.com>
 */
?>
<?php $credit = Mage::helper('mwcredit')->getCreditByCustomer() ?>
<?php //$money = Mage::helper('mwcredit')->exchangeCreditToMoney($credit);?>
<?php //$rate = Mage::helper('mwcredit')->getCreditRate()?>
<div class="col2-set">
	<div class="col-1">
		<div class="credit_info">
		    <p class="amount" style="font-size: 15px;"><?php echo $this->__('Current Balance: <b>%s</b>',Mage::helper('mwcredit')->formatMoney($credit))?></p>
		</div> 
    </div>
</div>


<script type="text/javascript">
//<![CDATA[
    var exchangeForm = new VarienForm('frm_exchange_credit', true);
    //]]>
</script>