<script type="text/javascript">
//<![CDATA[
	var dailydealTimeCounters = new Array(),
        i = 0,
        nowDate = new Date(),
        UTCtimestamp = (nowDate.getTime() + nowDate.getTimezoneOffset() / 60 * 1000) / 1000,
        nowTime = UTCtimestamp + <?php echo Mage::getModel('core/date')->timestamp(time()) - time() ?>;
//]]>
</script>
<?php
    $_productCollection=$this->getLoadedProductCollection();
    $_coreHelper = $this->helper('core');
    $_helper = $this->helper('catalog/output');
    $productsExist = (bool)$_productCollection->count();
?>

<div class="page-title category-title">
	<h1><?php echo $this->__('Daily Deal: Find the Best Deals on Jewelry and Watches');?></h1>
</div>

<?php echo $this->getChildHtml('dailydeal_newsletter'); ?>

<p id="empty-text" class="note-msg" <?php if ($productsExist) echo 'style="display: none;"' ?>><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php if ($productsExist): ?>
<div id="daily-deal-products" class="category-products">
    <?php // List mode ?>
    <?php $_iterator = 0; ?>
    <ol class="products-list dailydeal-list" id="products-list">
    <?php foreach ($_productCollection as $_product): ?>
        <?php $dailydeal = $this->getDealByProductId($_product->getId()); ?>
        <?php if (!$dailydeal || !$dailydeal->getId()) continue; ?>
        <li class="item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>">
          <div class="wrap-productlist-li">
            <?php if ($_iterator == 1) : ?>
                <div class="dailydeal-badge">
                    <h4 class="h2"><?php echo $this->__('Hot Deal') ?></h4>
                    <svg xmlns="http://www.w3.org/2000/svg" width="115" height="115" viewBox="0 0 105.84 105.84"><path d="M99.72 58.947l6.206-6.275-6.127-6.06 4.29-7.47-7.808-4.485 2.227-8.722-8.1-2.067v-8.356h-8.596L79.624 7.2 71.04 9.465 66.584 1.78l-7.637 4.43L52.672 0l-6.06 6.125-7.47-4.29-4.484 7.805-8.722-2.226-2.067 8.098h-8.36v8.596L7.2 26.3l2.263 8.587L1.78 39.34l4.427 7.637L0 53.253l6.125 6.06-4.29 7.47 7.805 4.483-2.226 8.722 8.098 2.068v8.357h8.595l2.193 8.314 8.587-2.265 4.453 7.684 7.637-4.427 6.276 6.203 6.06-6.127 7.47 4.29 4.483-7.805 8.722 2.228 2.068-8.1h8.357v-8.59l8.314-2.194-2.265-8.588 7.684-4.454"></path></svg>
                </div>
            <?php endif; ?>
            <?php // Product Image
                $image=$this->helper('catalog/image')->init($_product, 'small_image')->resize(375);
            ?>
            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_product->getName(); ?>" class="product-image">
                <img src="<?php echo $image;  ?>" width="375" height="375" alt="<?php echo $_product->getName(); ?>" />
            </a>
            <?php // Product description ?>
            <div class="product-shop">
                <div class="time-left">
                    <?php $now_time = Mage::getModel('core/date')->timestamp(time()) ?>
                    <?php $end_time = strtotime($dailydeal->getCloseTime($now_time)); ?>
                    <div class="timeleft" id="timeleft_<?php echo $_product->getId() ?>"></div>
                </div>
                <div class="f-fix">
                    <h3 class="product-name dailydeal-sidebar-product-name">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_product->getName() ?>"><?php echo $_product->getName();?></a>
                    </h3>

                    <?php if ($_product->getData('c2c_call_for_price') !== '1') : ?>
                    <ul class="dailydeal-price">
                    	<li class="old-price">
                            <?php echo $this->__('Retail Price: %s', $_coreHelper->currency($_product->getPrice())) ?>
                        </li>
                        <li class="special-price">
                            <?php
                                $save = round(($_product->getPrice() - $_product->getSpecialPrice()) / $_product->getPrice() * 100);
                            ?>
                            <?php echo $this->__('Deal Price: %s <strong class="price">(%s%% off)</strong>', $_coreHelper->currency($_product->getSpecialPrice()), $save) ?>
                        </li>
                    </ul>
                    <?php else: ?>
                    <p class="price-contact-notice"><?php echo $this->__('Please contact us for price and availability') ?></p>
                    <?php endif; ?>

    					<div class="wrap-grid-action">
    						<?php if($_product->isSaleable()): ?>
    							<button type="button" title="<?php echo $this->__('View Deal') ?>" class="button btn-dailydeal" onclick="setLocation('<?php echo $_product->getProductUrl() ?>')"><span><span><?php echo $this->__('View Deal') ?></span></span></button>
    						<?php else: ?>
    							<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
    						<?php endif; ?>

                            <div class="share-this-order">
                                <p class="share-this-order-title"><?php echo $this->__('Share this deal'); ?></p>
                                <div class="order-success-share-icons">
                                    <a href="#0" onclick="popWin('https://twitter.com/intent/tweet?text=<?php echo urlencode($this->__('Check out this deal!')); ?>&url=<?php echo urlencode($_product->getProductUrl()); ?>','compare','top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes')">
                                        <img class="social-logo" src="<?php echo $this->getSkinUrl('images/email/twitter_colour.png'); ?>" alt="twitter" />
                                    </a>
                                    <a href="#0" onclick="popWin('https://www.facebook.com/sharer.php?u=<?php echo urlencode($_product->getProductUrl()); ?>&p[title]=<?php echo urlencode($this->__('Check out this deal!')); ?>','compare','top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes')">
                                        <img class="social-logo" src="<?php echo $this->getSkinUrl('images/email/fb_colour.png'); ?>" alt="facebook"/>
                                    </a>
                                    <a href="#0" onclick="popWin('http://pinterest.com/pin/create/button/?url=<?php echo urlencode($_product->getProductUrl()); ?>&description=<?php echo urlencode($this->__('Check out this deal!')); ?>&media=<?php echo urlencode($this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize(500)); ?>','compare','top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes')">
                                        <img class="social-logo" src="<?php echo $this->getSkinUrl('images/email/pinterest_colour.png'); ?>" alt="pinterest" />
                                    </a>
                                    <a href="#0" onclick="popWin('mailto:?subject=<?php echo urlencode($this->__('Check out this deal!')); ?>&body=<?php echo urlencode($_product->getProductUrl()); ?>','compare','top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes')">
                                        <img class="social-logo" src="<?php echo $this->getSkinUrl('images/email/email_colour.png'); ?>" alt="email" />
                                    </a>
                                </div>
                            </div>
    					</div>
					</div>
				</div>
            </div>
        </li>


        <script type="text/javascript">
		//<![CDATA[
            var endTime = +<?php echo $end_time ?>;
            if (endTime < nowTime) {
                document.getElementById('empty-text').removeAttribute('style');
                var dealProducts = document.getElementById('daily-deal-products');
                if (dealProducts) {
                    dealProducts.remove();
                }
            } else {
                dailydealTimeCounters[i] = new DailydealTimeCounter(nowTime, endTime, '<?php echo $_product->getId() ?>');
                dailydealTimeCounters[i].setTimeleft('timeleft_<?php echo $_product->getId() ?>');
            }
		//]]>
		</script>
    <?php endforeach; ?>
    </ol>
    <script type="text/javascript">decorateList('products-list', 'none-recursive')</script>
</div>
<?php endif; ?>
