<?php
$stones = Mage::getModel('opentechiz_material/stone')
    ->getCollection()
    ->addFieldToSelect(array('stone_id', 'stone_type', 'qty', 'on_hold', 'reorder_point'))
    ->addFieldToFilter('status', array('eq' => 2));

$golds = Mage::getModel('opentechiz_material/gold')
    ->getCollection()
    ->addFieldToSelect(array('gold_id', 'gold_type', 'gold_color', 'weight', 'reorder_point'))
    ->addFieldToFilter('status', array('eq' => 2));

$stoneQtyModel = Mage::getModel('opentechiz_material/dailyStoneQty');
$goldQtyModel = Mage::getModel('opentechiz_material/dailyGoldQty');
?>
    <div class="content-header">
        <table cellspacing="0">
            <tbody>
            <tr>
                <td style="width:50%;"><h3 class="icon-head head-material-reorderpoint-notification">Material Reorder Notification</h3></td>
            </tr>
            </tbody>
        </table>
    </div>
<?php
if ($stones->count()) { ?>
    <div class="grid">
        <div class="hor-scroll">
            <table cellspacing="0" class="data" id="stoneReorderPoint_table">
                <caption><strong>Stone Manage</strong></caption>
                <colgroup>
                    <col>
                    <col width="350">
                    <col width="350">
                    <col width="200">
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                <tr class="headings">
                    <th><span class="nobr"><a href="#" name="stone_id" title="asc" class="not-sort"><span
                                        class="sort-title">Stone #</span></a></span></th>
                    <th><span class="nobr"><a href="#" name="stone_type" title="asc" class="not-sort"><span
                                        class="sort-title">Stone Type</span></a></span></th>
                    <th><span class="nobr"><a href="#" name="quality" title="asc" class="not-sort"><span
                                        class="sort-title">Quantity</span></a></span></th>
                    <th><span class="nobr"><a href="#" name="on_hold" title="asc" class="not-sort"><span
                                        class="sort-title">On Hold</span></a></span></th>
                    <th><span class="nobr"><a href="#" name="reorder_point" title="asc" class="not-sort"><span
                                        class="sort-title">Reorder Point</span></a></span></th>
                    <th><span class="nobr"><a href="#" name="reorder_point" title="asc" class="not-sort"><span
                                        class="sort-title">Used last 7D</span></a></span></th>
                    <th><span class="nobr"><a href="#" name="reorder_point" title="asc" class="not-sort"><span
                                        class="sort-title">Used last 14D</span></a></span></th>
                    <th><span class="nobr"><a href="#" name="reorder_point" title="asc" class="not-sort"><span
                                        class="sort-title">Used last 30D</span></a></span></th>
                </tr>
                </thead>

                <tbody>
                <?php
                foreach ($stones->getData() as $stone) {
                    echo '<tr class="even">';
                    echo '<td>' . $stone['stone_id'] . '</td>';
                    echo '<td>' . OpenTechiz_Material_Helper_Data::OPPENTECHIZ_MATERIAL_STONE_TYPE[$stone['stone_type']] . '</td>';
                    echo '<td>' . $stone['qty'] . '</td>';
                    echo '<td>' . $stone['on_hold'] . '</td>';
                    echo '<td>' . $stone['reorder_point'] . '</td>';
                    echo '<td>' . $stoneQtyModel->_processWasUsedEach7d($stone['stone_id'], $stone['qty']) . '</td>';
                    echo '<td>' . $stoneQtyModel->_processWasUsedEach14d($stone['stone_id'], $stone['qty']) . '</td>';
                    echo '<td>' . $stoneQtyModel->_processWasUsedEach30d($stone['stone_id'], $stone['qty']) . '</td>';
                    echo '</tr>';
                }
                ?>
                </tbody>
            </table>
        </div>
    </div>
<?php }
if ($golds->count()) { ?>
    <div class="grid">
        <div class="hor-scroll">
            <table cellspacing="0" class="data" id="materialReorderPoint_table">
                <caption><strong>Gold Manage</strong></caption>
                <colgroup>
                    <col>
                    <col width="350">
                    <col width="350">
                    <col width="200">
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                <tr class="headings">
                    <th><span class="nobr"><a href="#" name="gold_id" title="asc" class="not-sort"><span
                                        class="sort-title">Gold #</span></a></span></th>
                    <th><span class="nobr"><a href="#" name="gold_type" title="asc" class="not-sort"><span
                                        class="sort-title">Gold Type</span></a></span></th>
                    <th><span class="nobr"><a href="#" name="gold_color" title="asc" class="not-sort"><span
                                        class="sort-title">Gold Color</span></a></span></th>
                    <th><span class="nobr"><a href="#" name="weight" title="asc" class="not-sort"><span
                                        class="sort-title">Weight</span></a></span></th>
                    <th><span class="nobr"><a href="#" name="reorder_point" title="asc" class="not-sort"><span
                                        class="sort-title">Reorder Point</span></a></span></th>
                    <th><span class="nobr"><a href="#" name="reorder_point" title="asc" class="not-sort"><span
                                        class="sort-title">Used last 7D</span></a></span></th>
                    <th><span class="nobr"><a href="#" name="reorder_point" title="asc" class="not-sort"><span
                                        class="sort-title">Used last 14D</span></a></span></th>
                    <th><span class="nobr"><a href="#" name="reorder_point" title="asc" class="not-sort"><span
                                        class="sort-title">Used last 30D</span></a></span></th>
                </tr>
                </thead>

                <tbody>
                <?php
                foreach ($golds->getData() as $gold) {
                    echo '<tr class="even pointer">';
                    echo '<td>' . $gold['gold_id'] . '</td>';
                    echo '<td>' . OpenTechiz_Material_Helper_Data::OPPENTECHIZ_MATERIAL_GOLD_TYPE[$gold['gold_type']] . '</td>';
                    echo '<td>' . OpenTechiz_Material_Helper_Data::OPPENTECHIZ_MATERIAL_GOLD_COLOR[$gold['gold_color']] . '</td>';
                    echo '<td>' . $gold['weight'] . '</td>';
                    echo '<td>' . $gold['reorder_point'] . '</td>';
                    echo '<td>' . $goldQtyModel->_processWasUsedEach7d($gold['gold_id'], $gold['weight']) . '</td>';
                    echo '<td>' . $goldQtyModel->_processWasUsedEach14d($gold['gold_id'], $gold['weight']) . '</td>';
                    echo '<td>' . $goldQtyModel->_processWasUsedEach30d($gold['gold_id'], $gold['weight']) . '</td>';
                    echo '<tr>';
                }
                ?>
                </tbody>
            </table>
        </div>
    </div>
<?php } ?>