<div style="display: flex;position: relative;">
<?php
$allowAddToMasterPO = Mage::getSingleton('admin/session')->isAllowed('admin/erp/purchase/master_po/allow_add_to_po');
$controllerName = Mage::app()->getFrontController()->getAction()->getFullActionName();
$canDisplayMasterPOButton = ($controllerName == 'adminhtml_sales_order_view');

if ($_item = $this->getItem()) {
    //get image name from sku
    $sku = $_item->getSku();
    if (strpos($sku, 'quotation') === false) {
        $product = $_item->getProduct();
        $canPreOrder = Mage::helper('pre_order')->canPreOrder($product);
        $product->setSku($sku);
        // add img thumbnail
        if ($this->helper('mageworx_ordersedit')->isEnabled()) {
            if($product){ ?>
                <div>
                    <a href="<?php echo Mage::helper('opentechiz_salesextend')->getFullImageByColor($product, $sku) ?>" rel="mageworxLightbox[]">
                        <img src="<?php echo Mage::helper('opentechiz_salesextend')->getImageByColor($product, $sku); ?>" height="90" alt="" align="left" style="padding-right:2px;" />
                    </a>
                </div>
            <?php } else { ?>
                <div>
                    <img src="<?php echo Mage::getDesign()->getSkinUrl('images/placeholder/thumbnail.jpg'); ?>" height="90" width="90" alt="" align="left" style="padding-right:2px;" />
                </div>
            <?php }
        } ?>

        <div>
        <h5 class="title"><span id="order_item_<?php echo $_item->getId() ?>_title"><?php echo $this->htmlEscape($_item->getName()) ?></span></h5>
        <div><strong><?php echo $this->helper('sales')->__('SKU') ?>:</strong> <?php echo implode('<br />', Mage::helper('catalog')->splitSku($this->htmlEscape(Mage::helper('opentechiz_purchase')->getTagSku($this->getSku())))); ?></div>
        <?php if ($this->getOrderOptions()): ?>
            <dl class="item-options">
                <?php $i = 0; ?>
                <?php $parts = explode(OpenTechiz_SalesExtend_Helper_Sku::SKU_SEPARATOR, $sku); ?>
                <?php foreach ($this->getOrderOptions() as $_option): ?>
                    <?php $i++; ?>
                    <strong><?php echo $_option['label'] ?>:</strong>

                        <?php if (isset($_option['custom_view']) && $_option['custom_view']): ?>
                            <?php echo $this->getCustomizedOptionValue($_option); ?>
                        <?php else: ?>
                            <?php if(strtolower($_option['value']) == 'diamond'){
                                $stoneQuality = str_replace('diamond', '', $parts[$i]);
                                echo nl2br($this->escapeHtml($_option['value'] . ' - '. strtoupper($stoneQuality)));
                            } else{ ?>
                                <?php echo nl2br($this->escapeHtml($_option['value'])); ?>
                            <?php } ?>
                            <?php if (isset($_option['remainder']) && $_option['remainder']): ?>
                                <span id="<?php echo $_dots = 'dots' . uniqid() ?>"> ...</span>
                                <span id="<?php echo $_id = 'id' . uniqid() ?>"><?php echo $_option['remainder'] ?></span>
                                <script type="text/javascript">
                                    $('<?php echo $_id ?>').hide();
                                    $('<?php echo $_id ?>').up().observe('mouseover', function () {
                                        $('<?php echo $_id ?>').show();
                                    });
                                    $('<?php echo $_id ?>').up().observe('mouseover', function () {
                                        $('<?php echo $_dots ?>').hide();
                                    });
                                    $('<?php echo $_id ?>').up().observe('mouseout', function () {
                                        $('<?php echo $_id ?>').hide();
                                    });
                                    $('<?php echo $_id ?>').up().observe('mouseout', function () {
                                        $('<?php echo $_dots ?>').show();
                                    });
                                </script>
                            <?php endif;?>
                        <?php endif;?>
                    <br>
                <?php endforeach; ?>
                <?php if ($canPreOrder): ?>
                    <dt><?php echo $this->__('Pre-Order Message:') ?></dt>
                    <dd style="color: brown"><?php Mage::helper('pre_order')->showPreOrderMessage($product); ?></dd>
                <?php endif;?>
            </dl>
        <?php endif; ?>
        <?php echo $this->htmlEscape($_item->getDescription()) ?>
        </div>
        <?php if($allowAddToMasterPO && $canDisplayMasterPOButton && $_item->getProductType() != 'virtual'){ ?>
            <div style="margin-left: auto;" class="add_to_master_po_btn_<?php echo $_item->getId() ?>">
                <button  id="<?php echo $_item->getProductId() ?>" quote_item_id="<?php echo $_item->getQuoteItemId() ?>" itemId="<?php echo $_item->getId() ?>" onclick="getSupplierSelect(this);return false;">
                    Add to master PO
                </button>
            </div>
        <?php } ?>
    <?php }
    else{
        $parts = explode(OpenTechiz_SalesExtend_Helper_Sku::SKU_SEPARATOR, $sku);
        $quoteProductId = $parts[1];
        $quoteProductModel = Mage::getModel('opentechiz_quotation/product');
        $quoteProduct = $quoteProductModel->load($quoteProductId);
        $quotationProductUrl = Mage::getUrl('adminhtml/sales_quotations/detail').'id/'.$quoteProductId;
        $images = $quoteProduct->getQpImage();

        $imageUrl = explode(',', $images)[0];
        // add img thumbnail
        if ($this->helper('mageworx_ordersedit')->isEnabled()) {
            if($imageUrl){ ?>
        <div>
                <a href="<?php echo $imageUrl ?>" rel="mageworxLightbox[]">
                    <img src="<?php echo $imageUrl; ?>" height="90" alt="" align="left" style="padding-right:2px;" />
                </a>
            <?php } else { ?>
                <img src="<?php echo Mage::getDesign()->getSkinUrl('images/placeholder/thumbnail.jpg'); ?>" height="90" width="90" alt="" align="left" style="padding-right:2px;" />
            <?php }
        } ?>
        </div>
        <div>
        <h5 class="title"><span id="order_item_<?php echo $_item->getId() ?>_title"><?php echo $this->htmlEscape($_item->getName(). ' - ' .$quoteProduct->getQpName()) ?></span></h5>
        <div><strong><?php echo $this->helper('sales')->__('SKU') ?>:</strong> <?php echo implode('<br />', Mage::helper('catalog')->splitSku($this->htmlEscape(Mage::helper('opentechiz_purchase')->getTagSku($this->getSku())))); ?></div>

        <dl class="item-options">
            <?php foreach ($quoteProduct->getQuoteProductOption($quoteProductId) as $_option): ?>
                <strong><?php echo $_option->getOptionName() ?>:</strong>
                <?php
                    if($_option->getOptionType() == 'stone') echo $quoteProductModel->getStoneName($_option->getOptionValue());
                    else if ($_option->getOptionType() == 'gold') echo $quoteProductModel->getGoldName($_option->getOptionValue());
                    else echo $_option->getOptionValue();
                    ?>
                    <?php if((int)$_option->getQty() > 0 ): ?>
                        x <?php echo $_option->getQty() ?>
                    <?php endif; ?>
                
            <?php endforeach; ?>
        </dl>
        </div>
        <?php echo $this->htmlEscape($_item->getDescription()) ?>
    <?php } ?>
    <?php  $order_item_id= $_item->getId(); ?>
    <?php $item_id  = Mage::helper('opentechiz_salesextend')->getItemIdInventory($order_item_id); ?>
    <?php if(!empty($item_id)){ ?>
        <a href="<?php echo Mage::getUrl('adminhtml').'inventory_item/certifacate/id/'.$item_id ?>" class="print-appraisal form-button" target="__blank" style="display: none;"><?php echo $this->__("Print Appraisal")?></a>
    <?php }?>
<?php } ?>

</div>

<!-- add master PO form -->
<?php if($allowAddToMasterPO && $canDisplayMasterPOButton && $_item && $_item->getProductType() != 'virtual'){ ?>
    <style>
        .product-configure-popup {display:none;z-index: 9920;position: fixed;top: 40%;left:50%;background: #ffff; border-radius: 5px;box-shadow: 0 1px 2px rgba(0, 0, 0, .2);}
        /*.icon-head {background: #3bafda;padding: 2px 10px;margin: 0px; border-top-left-radius: 5px;border-top-right-radius: 5px; color: azure;}*/
        #product_composite_configure_form_fields {max-height: 600px;overflow: auto;margin-left: 0 !important;padding: 10px 15px;}
        /*.scalable {background-color: #8cc152; margin: 10px; border-radius: 5px;color: azure;font-size: 18px;}*/
    </style>

    <script>

        var configureProductToAddUrl1 = '<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/sales_order_create/configureQuoteItems', array('is_po' => 1, 'is_pending' => 1)); ?>'
        var submitted = false;
        var closedComposite = false;
        var movedToMasterPO = false;
        
        function checkValidForm() {
            var formInputs = document.getElementsByClassName('product-custom-option required-entry');
            for(var i = 0; i < formInputs.length; i++){
                if(!formInputs[i].value){
                    return false;
                }
            }
            return true;
        }

        function closeComposite() {
            closedComposite = true;
            movedToMasterPO = false;
        }
        function keepComposite() {
            closedComposite = false;
            movedToMasterPO = false;
        }
        function moveToMasterPO() {
            movedToMasterPO = true;
        }

        function getSupplierSelect(obj) {
            var itemId = jQuery(obj).attr("itemId");
            jQuery('#popup-window-mask').show();
            jQuery.ajax({
                type: "POST",
                url: "<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/erpProduct/getSupplierPurchasedListRadioBox'); ?>",
                data: {product_id: jQuery(obj).attr("id"), quote_item_id: jQuery(obj).attr("quote_item_id") },
                success:function(response){
                    document.getElementsByClassName("add_to_master_po_btn_"+itemId)[0].innerHTML = response['html'];

                    jQuery('#popup-window-mask').hide();
                },
            });
        }

        function ProductAdd(obj){
            var productId = jQuery(obj).attr("product_id");
            var quoteItemId = jQuery(obj).attr("quote_item_id");

            configureProductToAddUrl1 += 'supplier_id/' + jQuery(obj).val() + '/is_quote/1/';
            jQuery.ajax({
                type: "POST",
                url: "<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/purchase_product/getPoIdToAddProduct'); ?>",
                data: {product_id: productId, sup_id: jQuery(obj).val()},
                success: function (response) {
                    if(response){
                        var label = 'Add and View ' + response;
                        jQuery('#add_and_view_po').text(label);
                    }else{
                        jQuery('#add_and_view_po').text('Add and View new PO');
                    }
                }
            });

            productConfigure = new ProductConfigure();
            productConfigure.addListType('quote_items', {
                urlFetch: configureProductToAddUrl1
            });
            productConfigure.showItemConfiguration('quote_items', quoteItemId);
        }

        function confirmForm() {
            if (productCompositeConfigureForm.validate()) {
                return true;
            }
            return false;
        }

        function OnSubmitForm() {
            if(checkValidForm()) {
                var id = jQuery('#form_data_product_id').val();
                var checkbox = jQuery("input[name='product[" + id + "][id]']");
                checkbox.prop("checked", false);
                var ar = jQuery('#product_composite_configure_form').serializeArray();
                ar.reverse();
                ar.splice(0, 4);
                var qty = jQuery("input[id='product_composite_configure_input_qty']")[0].value;
                var note = jQuery("textarea[id='note_form_post']")[0].value;
                var sup_id = jQuery("select[name='supplier_id']")[0].value;
                jQuery.ajax({
                    type: "POST",
                    url: "<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/purchase_product/addProductToMasterPO'); ?>",

                    data: {option: ar, product_id: id, sup_id: sup_id, qty: qty, note: note},
                    success: function (response) {
                        //jQuery('#wait-modal').modal('hide');
                        if (!response.includes("Error")) {
                            if (closedComposite === true) {
                                jQuery("#product_composite_configure").css({"display": 'none'});
                            }else{
                                jQuery("#product_composite_configure").css({"display": 'block'});
                            }
                            if (movedToMasterPO === true) {
                                var url = '<?php echo $this->getUrl('adminhtml/purchase_product/edit') ?>' + 'id/' + response;
                                window.location.href = url;
                                movedToMasterPO = false;
                            }
                            
                            jQuery('#popup-window-mask').hide();
                        }else{
                            alert(response);
                            jQuery('#popup-window-mask').hide();
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        // error handling
                        console.log('ajax search error');
                        jQuery('#popup-window-mask').hide();
                    }
                });
            }
        }

    </script>
<?php } ?>