<?php /** @var \Medialounge_Catalog_Block_Category_Sitemap $this */?>

<?php $_menu = $this->renderCategoriesMenuHtml(0,'level-top') ?>
<?php if($_menu): ?>
    <div class="nav-container nav-categories">
        <ul id="nav">
            <?php echo $_menu ?>
        </ul>
    </div>
<?php endif ?>