<?php
/** @var \OpenTechiz_Catalog_Block_Category_Education $this */

$_category  = $this->getCurrentCategory();
$rootCategory = $this->getRootCategory();

?>
<?php if ($rootCategory->getId()): ?>
<?php  $htmlTree = $this->getTreeCategories($rootCategory->getId(),false); ?>

<div class="block block-layered-nav">
    <div class="block-content">
        <dl id="narrow-by-list2">
            <dt class="bordered-title bordered-title-center"><?php echo $this->__('Education'); ?></dt>
            <dd class="side-categories">
                <ul>
                    <li class="<?php echo ($_category->getId() == $rootCategory->getId())? 'current':''; ?>">
                        <a href="<?php echo Mage::helper('catalog/category')->getCategoryUrl($rootCategory); ?>"><?php echo $rootCategory->getName() ?></a>
                    </li>
                </ul>
                <?php echo $htmlTree; ?>
            </dd>
        </dl>
        <script type="text/javascript">decorateDataList('narrow-by-list2')</script>
    </div>
</div>
<?php endif; ?>