<div class="widget widget-static-block">
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('home_categories')->toHtml()?>
    <div class="column one-quarter">
        <?php echo $this->getChildHtml('producttabs')?>
    </div>
</div>