<?php $_pages = Mage::getResourceModel('cms/page_collection')->addFieldToFilter('root_template', 'cms_education_layout'); ?>
<?php $_count = $_pages->getSize(); ?>
<?php $_helper = Mage::helper('cms/page'); ?>
<?php if($_count): ?>
    <div class="block block-layered-nav">
        <div class="block-content">
            <dl id="narrow-by-list2">
                <dt class="bordered-title bordered-title-center"><?php echo $this->__('Education'); ?></dt>
                <dd class="side-categories">
                    <ol>
                        <?php foreach ($_pages as $_page): ?>
                            <?php if ($_page->getIsActive()): ?>
                                <li <?php if ($_page->getPageId() == Mage::getSingleton('cms/page')->getPageId()) : ?> class="current" <?php endif; ?>>
                                    <a href="<?php echo $_helper->getPageUrl($_page->getPageId()) ?>"><?php echo $this->escapeHtml($_page->getTitle()) ?></a>
                                </li>
                            <?php endif; ?>
                        <?php endforeach ?>
                    </ol>
                </dd>
            </dl>
            <script type="text/javascript">decorateDataList('narrow-by-list2')</script>
        </div>
    </div>
<?php endif; ?>