<?php
$categories = $this->getSubCategoryList();
$_helper = $this->helper('catalog/output');
$_category = $this->getCurrentCategory();
?>
<?php if ($categories->count()): ?>
    <?php foreach ($categories as $category): ?>
        <?php $_productCollection = $this->getProductListForCategory($category); ?>
        <div class="category-listing-simple">
            <div class="category-listing-header">
                <?php if ($imgUrl = $category->getThumbnail()) { ?>
                    <a href="<?php echo $category->getUrl(); ?>">
                        <?php
                        $imgHtml = '<p class="category-image"><img class="lazy" data-src="' . Mage::getBaseUrl('media') . 'catalog/category/' . $imgUrl . '" alt="' . $this->escapeHtml($category->getName()) . '" title="' . $this->escapeHtml($category->getName()) . '" src="'.$this->getSkinUrl('images/mgt_lazy_image_loader/px.gif').'" width="270" height="208"/></p>';
                        echo $_helper->categoryAttribute($category, $imgHtml, 'thumbnail');
                        ?>
                    </a>
                <?php } ?>
                <div class="category-listing-content">
                    <h2 class="h3">
                        <a href="<?php echo $category->getUrl(); ?>">
                            <?php echo $category->getName(); ?>
                        </a>
                        <small><?php echo $_helper->categoryAttribute($_category, $_category->getName(), 'name') ?></small>
                    </h2>
                    <?php if ($_helper->categoryAttribute($category, $category->getIntroText(), 'intro_text')) : ?>
                        <div class="category-description-text js-expand">
                            <?php echo $_helper->categoryAttribute($category, $category->getIntroText(), 'intro_text') ?>
                        </div>
                        <a href="#" class="category-description-link js-expand-trigger"><?php echo $this->__('Read More') ?></a>
                    <?php endif; ?>
                </div>
            </div>
            <div class="category-products">
                <?php // Grid Mode  ?>
                <?php $_collectionSize = $_productCollection->count() ?>
                <ul class="products js-product-list">
                    <?php
                    $i = 0;
                    foreach ($_productCollection as $_product):
   
                        ?>
                        <li class="item">
                            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName()) ?>" class="product-image">
                                <?php $_imgSize = 210; ?>
                                <img class="lazy" id="product-collection-image-<?php echo $_product->getId(); ?>"
                                     data-src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_imgSize); ?>"
                                     src="<?php echo $this->getSkinUrl('images/mgt_lazy_image_loader/px.gif'); ?>"
                                     alt="<?php echo $this->stripTags($_product->getName()) ?>" width="110" height="110"/>
                            </a>
                            <div class="product-info">
                                <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h3>
                                <?php if ($_product->getData('c2c_call_for_price') !== '1') : ?>
                                    <?php echo $this->getPriceHtml($_product, true) ?>
                                <?php else: ?>
                                    <p class="price-contact-notice"><?php echo $this->__('Please contact us for price and availability') ?></p>
                                <?php endif; ?>
                            </div>
                        </li>
                    <?php endforeach ?>
                </ul>
                <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd', 'even', 'first', 'last'])</script>
            </div>
            <div class="category-listing-link">
                <a href="<?php echo $category->getUrl(); ?>" class="button-listing-link btn-short"><?php echo $this->__('View more'); ?></a>
            </div>
        </div>
    <?php endforeach; ?>

 <?php

 endif?>
