<?php if(Mage::registry('visible_category_filter') != 1): ?>
<?php 
    $flatHelper = Mage::helper('catalog/category_flat');
    if ($flatHelper->isAvailable() && $flatHelper->isBuilt(true) && !Mage::app()->getStore()->isAdmin()){
        $_category = $this->getCurrentSubCategoryList();
        $subcats = Mage::helper('opentechizcatalog')->getSubCategory($_category->getChildren());
        $_count = count($subcats);
        if($_count > 0 || $_category->getData('side_categories')){ ?>
            <div class="block block-layered-nav">
                <div class="block-content">
                    <dl id="narrow-by-list2">
                        <dt class="bordered-title bordered-title-center"><?php echo $this->escapeHtml($_category->getName()); ?></dt>
                        <dd class="side-categories">
                     <?php if($_category->getData('side_categories')){?>
                                <?php echo $_category->getData('side_categories')?>
                    <?php }else{?>
                            <ol>
                                <?php foreach($subcats as $_subcategory): ?>
                                    <?php 
                                        $_category = Mage::getModel('catalog/category')->load($_subcategory);
                                        $_childrenCategories = $_category->getChildren();
                                    ?>
                                    <?php if($_category->getIsActive() && $_category->getIncludeInMenu()): ?>
                                        <?php $_countsub = count(array_filter(explode(',',$_childrenCategories)));?>
                                        <li <?php if($_countsub > 0): ?> class="has-subcategories <?php echo $_countsub;?>" <?php endif; ?>>
                                            <a href="<?php echo $this->getCategoryUrl($_category) ?>"<?php if ($this->isCategoryActive($_category)): ?> class="current"<?php endif; ?>><?php echo $this->escapeHtml($_category->getName()) ?></a>
                                            <?php if($_countsub > 0): ?>
                                                <ol>
                                                    <?php foreach (explode(',',$_childrenCategories) as $_childlevelCategory): ?>
                                                        <?php $_childCategory = Mage::getModel('catalog/category')->load($_childlevelCategory);?>
                                                        <?php if($_childCategory->getIsActive() && $_childCategory->getIncludeInMenu()): ?>
                                                            <li>
                                                                <a href="<?php echo $this->getCategoryUrl($_childCategory) ?>"<?php if ($this->isCategoryActive($_childCategory)): ?> class="current"<?php endif; ?>><?php echo $this->escapeHtml($_childCategory->getName()) ?></a>
                                                            </li>
                                                        <?php endif; ?>
                                                    <?php endforeach ?>
                                                </ol>
                                            <?php endif; ?>
                                        </li>
                                    <?php endif; ?>
                                <?php endforeach ?>
                            </ol>
                    <?php }?>
                    </dd>
                    </dl>
                    <script type="text/javascript">decorateDataList('narrow-by-list2')</script>
                </div>
            </div>
                    <?php 
        }?>
                    
   <?php }
    else{?>
        <?php $_categories = $this->getCurrentSubCategoryList() ?>
        <?php $_category = Mage::registry('current_category');?>
        <?php $_count = is_array($_categories)?count($_categories):0; ?>
        <?php if($_count || $_category->getData('side_categories')): ?>
            <div class="block block-layered-nav">
                <div class="block-content">
                    <dl id="narrow-by-list2">
                        <dt class="bordered-title bordered-title-center"><?php echo $this->escapeHtml($this->getCurrentCategory()->getName()); ?></dt>
                        <dd class="side-categories">
                            <?php if($_category->getData('side_categories')):?>
                                <?php echo $_category->getData('side_categories')?>
                            <?php else:?>
                                <ol>
                                    <?php foreach ($_categories as $_category): ?>
                                        <?php if($_category->getIsActive() && $_category->getIncludeInMenu()): ?>
                                            <?php $_childrenCategories = $this->getSubCategoryList($_category) ?>
                                            <?php $_count = is_array($_childrenCategories)?count($_childrenCategories):0; ?>
                                            <li <?php if($_count): ?> class="has-subcategories" <?php endif; ?>>
                                                <a href="<?php echo $this->getCategoryUrl($_category) ?>"<?php if ($this->isCategoryActive($_category)): ?> class="current"<?php endif; ?>><?php echo $this->escapeHtml($_category->getName()) ?></a>
                                                <?php if($_count): ?>
                                                    <ol>
                                                        <?php foreach ($_childrenCategories as $_childCategory): ?>
                                                            <?php if($_childCategory->getIsActive() && $_childCategory->getIncludeInMenu()): ?>
                                                                <li>
                                                                    <a href="<?php echo $this->getCategoryUrl($_childCategory) ?>"<?php if ($this->isCategoryActive($_childCategory)): ?> class="current"<?php endif; ?>><?php echo $this->escapeHtml($_childCategory->getName()) ?></a>
                                                                </li>
                                                            <?php endif; ?>
                                                        <?php endforeach ?>
                                                    </ol>
                                                <?php endif; ?>
                                            </li>
                                        <?php endif; ?>
                                    <?php endforeach ?>
                                </ol>
                            <?php endif?>
                        </dd>
                    </dl>
                    <script type="text/javascript">decorateDataList('narrow-by-list2')</script>
                </div>
            </div>
        <?php endif; ?>
    <?php } ?>
<?php endif; ?>