<?php
/** @var \Medialounge_Catalog_Block_Subcategory $this */
$_category = Mage::registry('current_category');

/** @var Mage_Catalog_Helper_Output $_helper */
$_helper = $this->helper('catalog/output');

$_imgHtml = '';
if ($_imgUrl = $_category->getThumbnail()) {
    $_imgHtml = '<div class="category-image"><p class="op-image"><img src="' . Mage::getBaseUrl('media') . 'catalog/category/' . $_imgUrl . '" alt="' . $this->escapeHtml($_category->getName()) . '" title="' . $this->escapeHtml($_category->getName()) . '" width="227" height="174"/></p></div>';
    $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'thumbnail');
}

// Category Summary
$summary = $_category->getData('summary');

// Category Sub Heading
$subHeading = $_category->getData('sub_heading');
?>

<div class="page-category-description">
    <div class="page-title category-title">
        <h1><?php echo $_helper->categoryAttribute($_category, $_category->getName(), 'name') ?></h1>
        <?php if ($subHeading != ""): ?>
            <p class="sub-heading">
                <?php echo $_helper->categoryAttribute($_category, $subHeading, 'sub_heading') ?>
            </p>
        <?php endif; ?>
    </div>

    <?php if ($_description = $_category->getDescription()): ?>
        <div class="category-description std">
            <div class="page-category-description-text">
                <div class="category-description-text js-expand">
                    <?php echo $_helper->categoryAttribute($_category, $_description, 'description') ?>
                </div>
                <a href="#" class="category-description-link js-expand-trigger"><?php echo $this->__('Read More') ?></a>
            </div>
            <?php echo $_imgHtml ?>
        </div>
    <?php endif; ?>
</div>
<div class="subcategory-wapper">
    <div class="subcategory-list">
        <?php echo $this->getBlockHtml('subcategory.list')?>
    </div>
    <span class="pager-data" data-next-page="2"  data-current-category="<?php echo $_category->getId()?>" style="display: none" ></span>
    <script type="text/javascript">
        jQuery(document).ready(function($){
             var pager = $('.pager-data');
             var canRequest = true;
             var scrollable = true;
             $(window).scroll(function (event) {
                if(!canRequest || !scrollable) {
                    return;
                }
                 scrollable = false;
                var currentPage = pager.data('next-page');
                var currentCategory = pager.data('current-category');
                $.ajax({
                    url: '<?php echo $this->getUrl('opentechizcatalog/index/ajaxGetSubCategory')?>',
                    data: { currentPage,  currentCategory},
                    success: function(data) {
                        scrollable = true;
                        canRequest = data.canRequest;
                        if(data.nextPage) {
                            pager.data('next-page', data.nextPage);
                        }
                        if(data.html) {
                            $('.subcategory-list').append(data.html);
                            $('.js-product-list').slick({
                                slidesToShow: 10,
                                accessibility: false,
                                draggable: false,
                                infinite: false,
                                nextArrow: '<button type="button" class="slick-next" aria-label="Next"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" viewBox="0 0 98.384 59.337"><path d="M98.384 10.257L88.126 0 49.19 38.936 10.257 0 0 10.257l49.08 49.08.11-.11.112.11"/></svg></button>',
                                prevArrow: '<button type="button" class="slick-prev" aria-label="Previous"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" viewBox="0 0 98.384 59.337"><path d="M98.384 10.257L88.126 0 49.19 38.936 10.257 0 0 10.257l49.08 49.08.11-.11.112.11"/></svg></button>',
                                responsive: [
                                    {
                                        breakpoint: 1450,
                                        settings: {
                                            slidesToShow: 9
                                        }
                                    },
                                    {
                                        breakpoint: 1250,
                                        settings: {
                                            slidesToShow: 8
                                        }
                                    },
                                    {
                                        breakpoint: 1150,
                                        settings: {
                                            slidesToShow: 7
                                        }
                                    },
                                    {
                                        breakpoint: 1050,
                                        settings: {
                                            slidesToShow: 6
                                        }
                                    },
                                    {
                                        breakpoint: 900,
                                        settings: {
                                            slidesToShow: 5
                                        }
                                    },
                                    {
                                        breakpoint: 800,
                                        settings: {
                                            slidesToShow: 4
                                        }
                                    },
                                    {
                                        breakpoint: 700,
                                        settings: {
                                            slidesToShow: 3
                                        }
                                    },
                                    {
                                        breakpoint: 600,
                                        settings: {
                                            slidesToShow: 2,
                                            centerMode: true,
                                            centerPadding: '40px',
                                            arrows: false,
                                            initialSlide: 1
                                                                    }
                                                                }
                                                            ]
                                                        });
                        }
                    }
                });
             });
        });
    </script>
</div>
<?php if ($summary != ""): ?>
    <div class="summary">
        <p><?php echo $_helper->categoryAttribute($_category, $summary, 'summary') ?></p>
    </div>
<?php endif; ?>
