<?php
/**
 * Created by PhpStorm.
 * User: nguyenbach
 * Date: 07/01/2019
 * Time: 11:59
 */
?>
<div class="input-field">
    <label for="custom_field">Custom Field</label>
    <input type="text" class="input-text" name="custom_field" id="custom_field" />
</div>

