<?php
/**
 * My Widget template description
 *
 * @category    design
 * @package     ml_itshot
 * @author      Javier Villanueva <javier@medialounge.co.uk>
 */
?>
<div class="widget widget-review">
    <div class="center-container">
        <div class="home-review">
            <header class="g-review-header">
                <div class="g-review-logo g-review-subheader">
                    <img src="<?php echo $this->getSkinUrl('images/google.png'); ?>" alt="Google Reviews">
                </div>
                <div class="g-review-review g-review-subheader">
                    <?php echo $this->__('Customers rate our service:') ?>
                    <span class="g-review-score"><?php echo $this->getCustomerRate('product_rate') ?>%</span>
                </div>
                <div class="g-review-review g-review-subheader">
                    <?php echo $this->__('Customers rate our product:') ?>
                    <span class="g-review-score"><?php echo $this->getCustomerRate('service_rate') ?>%</span>
                </div>
            </header>
            <?php
            $testimonials = $this->getTestimonials();
            if ($testimonials->count() > 0):
                ?>
                <figure class="g-review-quote">
                    <a href="/customer-review-testimonials" class="g-review-link"><?php echo $this->__('Customer Reviews'); ?></a>
                    <div class="swiper-container">
                        <div class="swiper-review-wrapper<?php if(!$this->getJsSlider()):?> no-jsslider<?php endif?>">
                            <?php foreach ($testimonials as $item): ?>
                                <?php $update_time = new Zend_Date(strtotime($item->getData('update_time'))); ?>
                                <?php $updatedAt = Mage::getModel('core/date')->date('M d, Y', $update_time); ?>
                                <?php $rating = $item->getData('rating') ?>
                                <div class="swiper-slide">
                                    <blockquote>
                                        <p><?php echo htmlentities($item->getContent()) ?></p>
                                        <div class="ratings">
                                            <?php echo $this->helper('opentechiz_review')->getStarRatingHtml($rating * 20, 30)?>
                                        </div>
                                    </blockquote>
                                    <footer>
                                        <cite class="g-review-author"><?php echo $item->getName() ?></cite> - <span><?php echo $updatedAt ?></span>
                                    </footer>
                                </div>
                            <?php endforeach; ?>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <?php if($this->getJsSlider()):?>
                    <script type="text/javascript" data-no-minify="true">
                        jQuery(document).ready(function($){
                            $('.swiper-review-wrapper').slick({
                                accessibility: false,
                                draggable: false,
                                nextArrow: '<button type="button" class="slick-next" aria-label="Next"><i class="fa fa-angle-right" aria-hidden="true"></i></button>',
                                prevArrow: '<button type="button" class="slick-prev" aria-label="Previous"><i class="fa fa-angle-left" aria-hidden="true"></i></button>'
                            });
                        });
                    </script>
                    <?php endif?>
                </figure>
            <?php endif; ?>
        </div>
        <div class="home-info">
            <?php echo $this->getText(); ?>
        </div>
    </div>
</div>
