<?php
/**
 * Media block template
 *
 * @category    design
 * @package     base_default
 * @author      Javier Villanueva <javier@medialounge.co.uk>
 */

?>
<div 
    class="widget widget-media<?php if($this->isEnableLazyImage()):?> lazy<?php endif?>" 
    <?php if($this->isEnableLazyImage()):?>
    data-bg="<?php echo $this->quoteEscape($this->getBgImageUrl()); ?>"
    <?php else:?>
    style="background-image: url('<?php echo $this->quoteEscape($this->getBgImageUrl()); ?>');"
    <?php endif?>
    >
    <a href="<?php echo $this->quoteEscape($this->getLink()); ?>" class="content">
        <div class="widget-media-wrapper">
            <img
                <?php if($this->isEnableLazyImage()):?>data-<?php endif?>src="<?php echo $this->helper('timage')->init($this->getImageUrl())->resize(304, 160) ?>"
                alt="<?php echo $this->quoteEscape($this->getTitle()); ?>"
                class="widget-media-image<?php if($this->isEnableLazyImage()):?> lazy<?php endif?>"
                src="<?php echo $this->getSkinUrl('images/mgt_lazy_image_loader/px.gif'); ?>"
            >
            <h2 class="h2 bordered-title bordered-title-center"><?php echo $this->escapeHtml($this->getTitle()); ?></h2>
        </div>
    </a>
</div>
