<?php
/**
 * Media block plain template
 *
 * @category    design
 * @package     base_default
 * @author      Javier Villanueva <javier@medialounge.co.uk>
 */
?>
<div class="widget widget-media-plain">
    <a href="<?php echo $this->quoteEscape($this->getLink()); ?>" class="content">
        <img
            src="<?php echo $this->helper('timage')->init($this->getImageUrl())->resize(304, 160) ?>"
            alt="<?php echo $this->quoteEscape($this->getTitle()); ?>"
            class="widget-media-image"
        >
        <h2 class="h2 bordered-title bordered-title-center"><?php echo $this->escapeHtml($this->getTitle()); ?></h2>
    </a>
</div>
