<?php
/**
 * Media block top image template
 *
 * @category    design
 * @package     base_default
 * @author      Javier Villanueva <javier@medialounge.co.uk>
 */
?>
<div class="widget widget-media-top">
    <a href="<?php echo $this->quoteEscape($this->getLink()); ?>" class="content">
        <div class="widget-media-top-bg lazy" data-bg="<?php echo $this->quoteEscape($this->getBgImageUrl()); ?>"></div>

        <div class="widget-media-bottom lazy" data-bg="<?php echo $this->quoteEscape($this->getImageUrl()); ?>">
            <h2 class="h2 bordered-title bordered-title-center"><?php echo $this->escapeHtml($this->getTitle()); ?></h2>
        </div>
    </a>
</div>
