<?php
/**
 * Magento Partialpayment Extension
 *
 * @category   Magecomp
 * @package    Magecomp_Partialpayment
 * @author     Magecomp Partialpayment 
**/
?>
<?php
	$partialpaymentID = 0;
	$price = '';
	$status = 0;
	$fee = 0;
	$config_fee = 1;
	$config_price = 1;
	$config_maxinstallments = 1;
	$config_status = 1;
	$period = 0;
	$config_period = 1;
	$freq = 0;
	$config_freq = 1;
	$maxinstallments = 0;
	try {
		$id = $this->getRequest()->getParam('id');
		if($id != "" && $id != 0 && $id != NULL) {
			$collection  = Mage::getModel('partialpayment/products')->getCollection()->addFieldToFilter('product_id', $id)->getData();
			if(count($collection)){
				$partialpaymentID  = $collection[0]['partialpayment_id'];
				$price=$collection[0]['partialpayment_first'];
				$status=$collection[0]['partialpayment_status'];
				$fee=$collection[0]['partialpayment_fees'];
				$maxinstallments=$collection[0]['partialpayment_maxinstallments'];
				$period=$collection[0]['partialpayment_period'];
				$config_period=$collection[0]['config_partialpayment_period']?$collection[0]['config_partialpayment_period']:0;
				$freq=$collection[0]['partialpayment_period_frequency'];
				$config_freq=$collection[0]['config_partialpayment_period_frequency']?$collection[0]['config_partialpayment_period_frequency']:0;
				$config_status=$collection[0]['config_partialpayment_status']?$collection[0]['config_partialpayment_status']:0;
				$config_price=$collection[0]['config_partialpayment_first']?$collection[0]['config_partialpayment_first']:0;
				$config_fee=$collection[0]['config_partialpayment_fees']?$collection[0]['config_partialpayment_fees']:0;
				$config_maxinstallments=$collection[0]['config_partialpayment_maxinstallments']?$collection[0]['config_partialpayment_maxinstallments']:0;
			}
		}
	} catch (Exception $e) {}
?>
<div class="entry-edit">
	<div class="entry-edit-head">
		<h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('partialpayment')->__('Partialpayment For Specific Product')?></h4>
	</div>
	<div id="group_fields4" class="fieldset fieldset-wide">
		<div class="hor-scroll">
			<table cellspacing="0" class="form-list">
				<tbody>
					
                    <tr>
						<td>
							<input type="hidden" name="default_partialpayment_status" value="<?php echo  $status; ?>" ></input>
							<input type="hidden" name="default_partialpayment_fees" value="<?php echo  $fee; ?>" ></input>
							<input type="hidden" name="default_partialpayment_first" value="<?php echo  $price; ?>" ></input>
							<input type="hidden" name="default_partialpayment_maxinstallments" value="<?php echo  $maxinstallments; ?>" ></input>
							<input type="hidden" class="input-text" name="partialpayment_id" id="partialpayment_id" value="<?php echo  $partialpaymentID; ?>" ></input>
							<input type="hidden" name="default_partialpayment_period" value="<?php echo  $period; ?>" ></input>
							<input type="hidden" name="default_partialpayment_period_frequency" value="<?php echo  $freq; ?>" ></input>
							<table cellspacing="0" class="form-list">
							    <tbody>
								<tr>
								    <td class="label"><label for="partialpayment_status"><?php echo Mage::helper('partialpayment')->__('Enable Partialpayment'); ?></label></td>
								    <td class="value">
									
									<select class="select" name="partialpayment_status" id="partialpayment_status">
										<option value="0" <?php if($status == 0):?>selected<?php endif;?>><?php echo  $this->__('No'); ?></option>
										<option value="1" <?php if($status == 1):?>selected<?php endif;?>><?php echo  $this->__('Yes'); ?></option>
									</select> <br />
									<input id="config_partialpayment_status" class="checkbox" type="checkbox" onclick="toggleValueElements(this, this.parentNode);" <?php if($config_status){ ?>checked="checked"<?php } ?> value="1" name="config_partialpayment_status">
									<label class="normal" for="config_partialpayment_status"><?php echo  $this->__('Use Config Settings'); ?></label>
									<script type="text/javascript">
									toggleValueElements($('config_partialpayment_status'), $('config_partialpayment_status').parentNode);
									</script>
								    </td>
								    <td class="scope-label"><span class="nobr"><?php echo $this->__('[GLOBAL]') ?></span></td>
								    <td><small>&nbsp;</small></td>
								</tr>
								<tr>
								    <td class="label"><label for="partialpayment_fees"><?php echo Mage::helper('partialpayment')->__('Partialpayment Fee <br /> (Non Refundable)')?></label></td>
								    <td class="value">
									<input type="text" class="input-text validate-integers" name="partialpayment_fees" id="partialpayment_fees" value="<?php echo  $fee; ?>" ></input>
									<input id="config_partialpayment_fees" class="checkbox" type="checkbox" onclick="toggleValueElements(this, this.parentNode);" <?php if($config_fee){ ?>checked="checked"<?php } ?> value="1" name="config_partialpayment_fees">
									<label class="normal" for="config_partialpayment_fees"><?php echo  $this->__('Use Config Settings'); ?></label>
                                    
									<script type="text/javascript">
									toggleValueElements($('config_partialpayment_fees'), $('config_partialpayment_fees').parentNode);
									</script>
								    </td>
								    <td class="scope-label"><span class="nobr"><?php echo $this->__('[GLOBAL]') ?></span></td>
								    <td><small>&nbsp;</small></td>
								</tr>
								<tr>
								    <td class="label"><label for="partialpayment_first"><?php echo Mage::helper('partialpayment')->__('Initial Partialpayment Fee <br /> (% Of Product Price)')?></label></td>
								    <td class="value">
									<input type="text" class="input-text validate-digits" name="partialpayment_first" id="partialpayment_first" value="<?php echo  $price; ?>" ></input>
									<input id="config_partialpayment_first" class="checkbox" type="checkbox" onclick="toggleValueElements(this, this.parentNode);" <?php if($config_price){ ?>checked="checked"<?php } ?> value="1" name="config_partialpayment_first">
									<label class="normal" for="config_partialpayment_first"><?php echo  $this->__('Use Config Settings'); ?></label>
                                    
									<script type="text/javascript">
									toggleValueElements($('config_partialpayment_first'), $('config_partialpayment_first').parentNode);
									</script>
								    </td>
								    <td class="scope-label"><span class="nobr"><?php echo $this->__('[GLOBAL]') ?></span></td>
								    <td><small>&nbsp;</small></td>
								</tr>
								<tr>
								    <td class="label"><label for="partialpayment_maxinstallments"><?php echo Mage::helper('partialpayment')->__('Maximum Installments')?></label></td>
								    <td class="value">
									<input type="text" class="input-text validate-digits" name="partialpayment_maxinstallments" id="partialpayment_maxinstallments" value="<?php echo  $maxinstallments; ?>" ></input>
									
									<input id="config_partialpayment_maxinstallments" class="checkbox" type="checkbox" onclick="toggleValueElements(this, this.parentNode);" <?php if($config_maxinstallments){ ?>checked="checked"<?php } ?> value="1" name="config_partialpayment_maxinstallments">
									<label class="normal" for="config_partialpayment_maxinstallments"><?php echo  $this->__('Use Config Settings'); ?></label>
									<script type="text/javascript">
									toggleValueElements($('config_partialpayment_maxinstallments'), $('config_partialpayment_maxinstallments').parentNode);
									</script>
								    </td>
								    <td class="scope-label"><span class="nobr"><?php echo $this->__('[GLOBAL]') ?></span></td>
								    <td><small>&nbsp;</small></td>
								</tr>
								<tr><?php $periods = Mage::getModel('partialpayment/period')->toOptionArray(); ?>
								    <td class="label"><label for="partialpayment_period"><?php echo Mage::helper('partialpayment')->__('Installments Period Unit')?></label></td>
								    <td class="value">
									<?php $select = Mage::getModel('core/layout')->createBlock('adminhtml/html_select')
										->setData(array(
										    'id'    => 'partialpayment_period',
										    'class' => 'select',
										    'value' => $period
										))
										->setName('partialpayment_period')
										->setOptions($periods);
										echo $select->getHtml(); ?>
									<br />
									<input id="config_partialpayment_period" class="checkbox" type="checkbox" onclick="toggleValueElements(this, this.parentNode);" <?php if($config_period){ ?>checked="checked"<?php } ?> value="1" name="config_partialpayment_period"> 
									<label class="normal" for="config_partialpayment_period"><?php echo  $this->__('Use Config Settings'); ?></label>
									<script type="text/javascript">
									toggleValueElements($('config_partialpayment_period'), $('config_partialpayment_period').parentNode);
									</script>
								    </td>
								    <td class="scope-label"><span class="nobr"><?php echo $this->__('[GLOBAL]') ?></span></td>
								    <td><small>&nbsp;</small></td>
								</tr>
								<tr>
								    <td class="label"><label for="partialpayment_period_frequency"><?php echo Mage::helper('partialpayment')->__('Maximum Period for Installments')?></label></td>
								    <td class="value">
									<input type="text" class="input-text validate-digits" name="partialpayment_period_frequency" id="partialpayment_period_frequency" value="<?php echo  $freq; ?>" ></input>
									
									<input id="config_partialpayment_period_frequency" class="checkbox" type="checkbox" onclick="toggleValueElements(this, this.parentNode);" <?php if($config_freq){ ?>checked="checked"<?php } ?> value="1" name="config_partialpayment_period_frequency">
									<label class="normal" for="config_partialpayment_period_frequency"><?php echo  $this->__('Use Config Settings'); ?></label>
									<script type="text/javascript">
									toggleValueElements($('config_partialpayment_period_frequency'), $('config_partialpayment_period_frequency').parentNode);
									</script>
								    </td>
								    <td class="scope-label"><span class="nobr"><?php echo $this->__('[GLOBAL]') ?></span></td>
								    <td><small>&nbsp;</small></td>
								</tr>
							    </tbody>
							</table>
						</td>
					</tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr>
						<td>
							<h4 class="icon-head fieldset-legend">
								<?php echo Mage::helper('partialpayment')->__('NOTE : If default config checkbox not selected, value will be considered as zero in empty fields.')?>
                            </h4>
						</td>
                    </tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
