<?php $isLogin = $this->helper('customer')->isLoggedIn();?>

<?php if(!$isLogin && Mage::helper('sociallogin')->getAmazonId()){?>
	<a id="bt-loginamazon" class="bt-login-social" title="<?php echo $this->__('Login by Amazon') ?>" onclick="LoginWithAmazon()">
	<span><span><?php echo $this->__('Amazon') ?></span></span>
</a>
<div id="amazon-root-header"></div>
<script type="text/javascript">
/*<![CDATA[*/
window.onAmazonLoginReady = function() {
    amazon.Login.setClientId('<?php echo Mage::helper('sociallogin')->getAmazonId(); ?>');
};
jQuery(window).on('load', function() {
    (function(d) {
        var a = d.createElement('script'); a.type = 'text/javascript';
        a.async = true; a.id = 'amazon-login-sdk';
        a.src = 'https://api-cdn.amazon.com/sdk/login1.js';
        d.getElementById('amazon-root-header').appendChild(a);
    })(document);
});
function LoginWithAmazon() {
    options = { scope : 'profile postal_code', response_type: 'token' };
    amazon.Login.authorize(options, function(response) {
        if ( response.error ) {
            alert('oauth error ' + response.error);
            return;
        }
        <?php
        if($this->getRedirectUrl()){
            ?>
                document.location.href="<?php echo $this->getUrl('sociallogin/amazonlogin/login')?>?redirect_url=<?php echo urlencode($this->getRedirectUrl())?>&token=" + response.access_token;
                <?php
        } else {
            ?>
                document.location.href="<?php echo $this->getUrl('sociallogin/amazonlogin/login')?>?token=" + response.access_token;
                <?php
        }
        ?>
    });
}

var button = $('bt-loginamazon');
if(button!==undefined && button!==null) {
    button.onclick = function() {
        LoginWithAmazon();
        return false;
    };
}
/*]]>*/
</script>

   
<?php }?>