<?php $isLogin = $this->helper('customer')->isLoggedIn()?>
<?php if(!$isLogin){?>
<?php $this->setBackUrl()?>
<a id="bt-loginlinked" class="bt-login-social" title="<?php echo $this->__('Login by Linkedin') ?>" onclick="linkedLogin()" >
    <span><span><?php echo $this->__('Linkedin') ?></span></span>
</a>
<script type="text/javascript">
var newwindow;
var intId;
function linkedLogin(){
    var  screenX    = typeof window.screenX != 'undefined' ? window.screenX : window.screenLeft;
    var  screenY    = typeof window.screenY != 'undefined' ? window.screenY : window.screenTop;
    var  outerWidth = typeof window.outerWidth != 'undefined' ? window.outerWidth : document.body.clientWidth;
    var  outerHeight = typeof window.outerHeight != 'undefined' ? window.outerHeight : (document.body.clientHeight - 22);
    var  width    = 830;
    var  height   = 500;
    var  left     = parseInt(screenX + ((outerWidth - width) / 2), 10);
    var  top      = parseInt(screenY + ((outerHeight - height) / 2.5), 10);
    var  features = (
            'width=' + width +
            ',height=' + height +
            ',left=' + left +
            ',top=' + top
          );

    newwindow=window.open('<?php echo $this->getLoginUrl() ?>','Login_by_Linkedin',features);

    if (window.focus) {
        newwindow.focus()
    }
        $('magestore-login-social').style.display = "none";
        $('sociallogin-other-a-popup').style.display = "none";
        $('magestore-popup').style.width="auto";
    return false;
}
function opensocialLogin(){
    javascript:socialLogin.open();
}
</script>
<?php }?>