<?php $isLogin = $this->helper('customer')->isLoggedIn()?>
<?php if(!$isLogin){?>
<?php $this->setBackUrl()?>
<a id="bt-logintw" class="bt-login-social" title="<?php echo $this->__('Login by Twitter') ?>" onclick="twLogin()" >
    <span><span><?php echo $this->__('Twitter') ?></span></span>
</a>
<script type="text/javascript">
var newwindow;
var intId;
function twLogin(){
    var  screenX    = typeof window.screenX != 'undefined' ? window.screenX : window.screenLeft;
    var  screenY    = typeof window.screenY != 'undefined' ? window.screenY : window.screenTop;
    var  outerWidth = typeof window.outerWidth != 'undefined' ? window.outerWidth : document.body.clientWidth;
    var  outerHeight = typeof window.outerHeight != 'undefined' ? window.outerHeight : (document.body.clientHeight - 22);
    var  width    = 790;
    var  height   = 590;
    var  left     = parseInt(screenX + ((outerWidth - width) / 2), 10);
    var  top      = parseInt(screenY + ((outerHeight - height) / 2.5), 10);
    var  features = (
            'width=' + width +
            ',height=' + height +
            ',left=' + left +
            ',top=' + top
          );

    newwindow=window.open('<?php echo $this->getLoginUrl() ?>','Login_by_twitter',features);

    if (window.focus) {
        newwindow.focus()
    }
    return false;
}
</script>
<?php }?>