<?php
$items = Mage::helper('opentechiz_reportExtend/automaticReordering')->getEmailData();
?>
<div class="sale_report">
    <div class="hor-scroll">
        <table class="data" id="itemGrid_table" cellspacing="0" border="1">
            <colgroup>
                <col class="a-center" width="20">
                <col width="100">
                <col width="100">
                <col width="40">
                <col width="40">
                <col width="40">
                <col width="80">
                <col width="80">
                <col width="100">
                <col width="80">
                <col width="80">
                <col width="100">
                <col width="300">
                <col width="20">
            </colgroup><thead>
            <tr class="headings">
                <th><span class="nobr"><span class="sort-title">Image</span></a></span></th>
                <th><span class="nobr"><span class="sort-title">SKU</span></span></th>
                <th><span class="nobr"><span class="sort-title">QTY</span></span></th>
                <th><span class="nobr"><span class="sort-title">Reorder</span></span></th>
                <th><span class="nobr"><span class="sort-title">Sales Price</span></span></th>
                <th><span class="nobr"><span class="sort-title">Last Cost</span></span></th>
                <th><span class="nobr"><span class="sort-title">Last Cost Date</span></span></th>
                <th><span class="nobr"><span class="sort-title">3MS/RET</span></span></th>
                <th><span class="nobr"><span class="sort-title">12MS/RET</span></span></th>
                <th><span class="nobr"><span class="sort-title">Variants in Stock</span></span></th>
                <th><span class="nobr"><span class="sort-title">Manufacturing</span></span></th>
                <th><span class="nobr"><span class="sort-title">Close Out</span></span></th>
                <th><span class="nobr"><span class="sort-title">Order</span></span></th>
                <th><span class="nobr"><span class="sort-title">Supplier</span></span></th>
            </tr>
            </thead>

            <tbody>
            <?php foreach ($items as $item): ?>
                <tr title="#" class="even pointer">
                    <td>
                        <img src="<?php echo $item['image'] ?>" width="120px" height="120px">
                    </td>
                    <td>
                        <?php echo $item['sku'] ?>
                    </td>
                    <td>
                        <?php echo (int)$item['qty'] ?>
                    </td>
                    <td>
                        <?php echo $item['reorder_point'] ?>
                    </td>
                    <td>
                        <?php echo $item['price'] ?>
                    </td>
                    <td>
                        <?php echo $item['cost'] ?>
                    </td>
                    <td nowrap>
                        <?php echo $item['cost_date'] ?>
                    </td>
                    <td>
                        <?php echo $item['3m'] ?>
                    </td>
                    <td>
                        <?php echo $item['12m'] ?>
                    </td>
                    <td nowrap>
                        <?php echo $item['other'] ?>
                    </td>
                    <td>
                        <?php echo $item['manufacture'] ?>
                    </td>
                    <td>
                        <?php echo $item['close_out'] ?>
                    </td>
                    <td>
                        <?php echo $item['order_qty'] ?>
                    </td>
                    <td nowrap>
                        <?php echo $item['supplier'] ?>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>
