<?php 
/**
 * Magento Partialpayment Extension
 *
 * @category   Magecomp
 * @package    Magecomp_Partialpayment
 * @author     Magecomp Partialpayment 
**/
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $_orders = $this->getOrders(); ?>
<div class="page-title">
    <h1><?php echo Mage::helper('partialpayment')->__('Partialpayment Orders:');?></h1>
</div>

<?php echo $this->getPagerHtml(); ?>
<?php if($_orders->getSize()): ?>
<table class="data-table" id="partialpayment-orders-table">
    <col width="1" />
    <col width="1" />
    <col />
    <col width="1" />
    <col width="1" />
    <col width="1" />
    <thead>
        <tr>
            <th><?php echo Mage::helper('partialpayment')->__('Order #') ?></th>
            <th><?php echo Mage::helper('partialpayment')->__('Date') ?></th>
            <th><?php echo Mage::helper('partialpayment')->__('Ship To') ?></th>
            <th><span class="nobr"><?php echo Mage::helper('partialpayment')->__('Order Total') ?></span></th>
            <th><span class="nobr"><?php echo Mage::helper('partialpayment')->__('Yet To Pay') ?></span></th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <?php $_odd = ''; ?>
        <?php foreach ($_orders as $_order): ?>
        <tr>
            <td><?php echo $_order->getRealOrderId() ?></td>
            <td><span class="nobr"><?php echo $this->formatDate($_order->getCreatedAtStoreDate()) ?></span></td>
            <td><?php echo $_order->getShippingAddress() ? $this->htmlEscape($_order->getShippingAddress()->getName()) : '&nbsp;' ?></td>
            <td><?php echo $_order->formatPrice($_order->getGrandTotal()+$_order->getPartialpaymentRemaining()) ?></td>
            <td><?php echo $_order->formatPrice($_order->getPartialpaymentRemaining()) ?></td>
            <!--<td><em><?php //echo $_order->getStatusLabel() ?></em></td>-->
            <td class="a-center">
                <span class="nobr"><a href="<?php echo $this->getViewUrl($_order) ?>"><?php echo Mage::helper('partialpayment')->__('View Order') ?></a></span>
            </td>
        </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<script type="text/javascript">decorateTable('partialpayment-orders-table');</script>
<?php echo $this->getPagerHtml(); ?>
<?php else: ?>
<p><?php echo Mage::helper('partialpayment')->__('Sorry, No orders Found.');?></p>
<?php endif; ?>
<div class="buttons-set">
    <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><small>&laquo; </small><?php echo Mage::helper('partialpayment')->__('Back') ?></a></p>
</div>