<?php
/**
 * Magento Partialpayment Extension
 *
 * @category   Magecomp
 * @package    Magecomp_Partialpayment
 * @author     Magecomp Partialpayment 
**/
?>
<?php
    $order =  Mage::registry('current_order');
    $_code = $order->getPayment()->getMethod();
    $_method = Mage::helper('partialpayment')->getStoreMethods($_code, Mage::app()->getStore()->getId());
?>
<ul>

    <li>
        <span class="no-display"><input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]" checked="checked" class="radio" /></span>
        <label for="p_method_<?php echo $_code ?>"><?php echo $this->getMethodTitle($_method) ?> <?php echo $this->getMethodLabelAfterHtml($_method) ?></label>
    </li>
    <?php if ($html = $this->getPaymentMethodFormHtml($_method)): ?>
    
    <li>
        <?php echo $html; ?>
    </li>
    <?php endif; ?>
</ul>
<script type="text/javascript">
//<![CDATA[
<?php if ($html): ?>
    if($('payment_form_<?php echo $_code;?>')){
        $('payment_form_<?php echo $_code;?>').show();
    }
<?php endif; ?>
//]]>
</script>