<?php
    $helper = Mage::helper('partialpayment');
    $_order = $this->getOrder();
	
	$items = $_order->getAllVisibleItems();	
	if(count($items) > 1)
	{
		foreach($items as $i) :
			if(count($helper->getPartialpaymentProductData($i->getProductId())))
			{
					$_item = $i;
			}
		endforeach;
	}
	else
	{
    	$_item = $helper->getOrderProduct($_order);
	}
	
    $_partialpaymentData = $helper->getPartialpaymentProductData($_item->getProductId());
    $nxttimestamp = $helper->getPartialpaymentTimeLeft($_partialpaymentData, $_order->getCreatedAtStoreDate());
    $nxtdate = 0;
    if($nxttimestamp){
        $nxtdate = date('d M Y', $nxttimestamp);
    }
    $maxinstallments = $helper->getPartialpaymentData('partialpayment_maxinstallments',$_partialpaymentData);
?>
<?php 

$_installments = $this->getInstallments(); ?>
<div class="order-items order-details">
    
    <?php ?>
    <?php echo $this->getChildHtml('order_items') ?>
    <div class="order-additional ">
        <h2 class="sub-title"><?php echo $helper->__('Partialpayment Payments Section') ?></h2>
    </div>
    <div class="col2-set order-info-box">
        <?php if($_order->getPartialpaymentRemaining() > 0): ?>
        <div class="col-2">
            <div class="box">
                <div class="box-title">
                    <h2><?php echo $helper->__('Pay Installment:') ?></h2>
                </div>
                <div class="box-content form-list">
                    <form method="post" id="pay_installment" action="<?php echo $this->getUrl('partialpayment/customer/postData',array('_secure' => true));?>">
                        <ul class="fields">
                            <li>
                                <label><?php echo $helper->__('Outstanding Amount: ') ?><?php echo $helper->getOutstandingamount($_order);//Mage::helper('core')->currency($_order->getBasePartialpaymentRemaining(), true, false); ?></label>
                            </li>
                            <li>
                                <label><?php echo $this->__('Note: Empty Your cart before paying the installment.') ?></label>
                            </li>
                            <?php if($nxttimestamp){ ?>
                                <input type="hidden" name="lastdate" value="<?php echo $nxttimestamp; ?>" />
                            <?php } ?>
                                    
                            <input type="hidden" name="order" value="<?php echo $_order->getId(); ?>" />
                            <input type="hidden" name="order_increment" value="<?php echo $_order->getIncrementId(); ?>" />
                            <input type="hidden" name="installment" value="<?php echo ($_installments->getSize() + 1); ?>" />
                            <?php if($maxinstallments){ ?>
                            <input type="hidden" name="remaining_installments" value="<?php echo ($maxinstallments - $_installments->getSize()); ?>" />
                            <?php } ?>
                            <input type="hidden" name="options[partialpayment]" value="0" />
                            <input type="hidden" name="options[partialpayment_order]" value="<?php echo $_order->getId(); ?>" />
                            <li class="field">
                                <label for="partialpayment:amount" class="required"><?php echo $helper->__('Enter Amount') ?><em>*</em></label>
                                <div class="input-box">
                                    <input type="text" title="<?php echo $helper->__('Enter Amount') ?>" name="amount" id="partialpayment:amount" value="<?php  ?>" class="input-text required-entry" />
                                </div>
                            </li>
                            <div class="buttons-set" id="billing-buttons-container">
                                <p class="required"><?php echo $helper->__('* Required Fields') ?></p>
                                <button type="submit" title="<?php echo $this->__('Pay Installment') ?>" class="button" onclick=""><span><span><?php echo $helper->__('Pay Installment') ?></span></span></button>
                                <span class="please-wait" id="loading-please-wait" style="display:none;">
                                    <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Saving Data...') ?>" title="<?php echo $helper->__('Saving Data...') ?>" class="v-middle" /> <?php echo $helper->__('Saving Data...') ?>
                                </span>
                            </div>
                        </ul>
                    </form>
                    <script>
                        var installmentForm = new VarienForm('pay_installment');
                    </script>
                </div>
            </div>
        </div>
        <?php endif; ?>
        <div class="col-1">
            <div class="box box-payment">
                <div class="box-title">
                    <h2><?php echo $helper->__('Partialpayment Info:') ?></h2>
                </div>
                <div class="box-content">
                    <ul>
                        <li><strong><?php echo $helper->__('Paid NO. of Installments:') ?></strong> <?php echo $_installments->getSize(); ?></li>
                        <?php if($maxinstallments){ ?>
                        <li><strong><?php echo $helper->__('Max NO. of Installments:') ?></strong> <?php echo $maxinstallments; ?></li>
                        <li><strong><?php echo $helper->__('Remaining NO. of Installments:') ?></strong> <?php echo $maxinstallments - $_installments->getSize(); ?></li>
                        <?php } ?>
                        <li><strong><?php echo $helper->__('Duration Allowed:') ?></strong> <?php echo $helper->getPartialpaymentDuration($_partialpaymentData); ?></li>
                        <?php if($nxtdate):?>
                            <li><strong><?php echo $helper->__('Last Date:') ?></strong> <?php echo $nxtdate; ?></li>
                        <?php endif; ?>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    
<?php if($_installments->getSize()): ?>
 <div class="order-additional ">
        <h2 class="sub-title"><?php echo $helper->__('Partialpayment Installments History') ?></h2>
    </div>
<?php echo $this->getPagerHtml(); ?>
<table class="data-table" id="partialpayment-installments-table">
    <col width="1" />
    <col width="1" />
    <col />
    <col width="1" />
    <col width="1" />
    <col width="1" />
    <thead>
        <tr>
            <th><?php echo Mage::helper('partialpayment')->__('Order #') ?></th>
            <th><?php echo Mage::helper('partialpayment')->__('Date') ?></th>
            <th><?php echo Mage::helper('partialpayment')->__('Bill To') ?></th>
            <th><?php echo Mage::helper('partialpayment')->__('Payment Method') ?></th>
            <th><span class="nobr"><?php echo Mage::helper('partialpayment')->__('Paid amount') ?></span></th>
            <th><span class="nobr"><?php echo Mage::helper('partialpayment')->__('Status') ?></span></th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <?php $_odd = ''; ?>
        <?php foreach ($_installments as $_installment): ?>
        <tr>
            <td><?php echo $_installment->getRealOrderId() ?></td>
            <td><span class="nobr"><?php echo $this->formatDate($_installment->getCreatedAtStoreDate()) ?></span></td>
            <td><?php echo $_installment->getBillingAddress() ? $this->htmlEscape($_installment->getBillingAddress()->getName()) : '&nbsp;' ?></td>
            <td><?php echo $_installment->getPayment()->getMethod() ?></td>
            <td><?php echo $_installment->formatPrice($_installment->getGrandTotal()) ?></td>
            <td><em><?php echo $_installment->getStatus() ?></em></td>
            <td class="a-center">
                <span class="nobr"><a href="<?php echo $this->getInstallmentViewUrl($_installment) ?>"><?php echo Mage::helper('partialpayment')->__('View Details') ?></a></span>
            </td>
        </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<script type="text/javascript">decorateTable('partialpayment-installments-table');</script>
<?php echo $this->getPagerHtml(); ?>
    
  <?php endif; ?>  

    <div class="buttons-set">
        <p class="back-link"><a href="<?php echo $this->getBackUrl() ?>"><small>&laquo; </small><?php echo $this->getBackTitle() ?></a></p>
    </div>
</div>