<?php $_items = $this->getData('related_product'); ?>
<?php if ($_items): ?>
<tr>
    <td class="items-wrapper">
        <table class="items" cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <th class="cell-name" colspan="3">
                    <?php echo $this->__('Frequently Purchased Together'); ?>
                </th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <?php $i=2; foreach ($_items as $_item): ?>
                        <td class="cell-content product-info">
                            <a href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_item->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_item, 'small_image')->resize(135) ?>" width="135" height="135" alt="<?php echo $this->escapeHtml($_item->getName()) ?>" /></a>
                            <p class="product-name"><?php echo $this->escapeHtml($_item->getName()) ?></p>
                            <?php if ($_item->getData('c2c_call_for_price') !== '1') : ?>
                            <?php echo $this->getPriceHtml($_item, true, '-new') ?>
                            <?php else: ?>
                            <p class="price-contact-notice"><?php echo $this->__('Please contact us for price and availability') ?></p>
                            <?php endif; ?>
                            <?php if ($i-- == 0) break; ?>
                        </td>
                    <?php endforeach; ?>
                    <?php for ($j = 0; $j <= $i; $j++) : ?>
                        <td></td>
                    <?php endfor; ?>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
<?php endif; ?>