<form name="survey" id ="survey" action="<?php echo Mage::getBaseUrl();?>newsletter/subscriber/goi"  method=post>
<input type="hidden" name="interests:filterText" value="">
<!--MAIN WRAP START-->
<div id="mainWrap">
<!--HEADER START-->
<div id="header">
<script type="text/javascript" src="<?php echo $this->getSkinUrl('egoi/js/jquery-latest.js');?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('egoi/js/jquery.mask.min.js');?>"></script>	
<center><img src="<?php echo $this->getSkinUrl('egoi/images/its-hot-form-logo-6-28-13.png');?>"  border="0"/ class="logoHeader"></center>
</div><!--HEADER END-->
<p class="headline">Enter your information to Sign Up.</p>
<!--LEFT START-->
<div id="left">
<p class="subHeadline">Your Interests</p>
<p class="text">Please select the areas of interest for which you would like to receive occasional email from us.</p>
<p class="text">
<?php
//Check for existing user and get the prefrences, Added By: Ravinesh on 5-May-2014
$resultEgoi = array();
$egoiListArr = $this->getEgoiList();
if(isset($egoiListArr["first_name"]))
{
	$first_name = $egoiListArr["first_name"];
}
if(isset($egoiListArr["last_name"]))
{
	$last_name = $egoiListArr["last_name"];
}
if(isset($egoiListArr["mobile"]))
{
	$mobile = $egoiListArr["mobile"];
}
/*  Added code for anniversary at 11 Sep 2017 by Ankush        */
if(isset($egoiListArr["birthday"]))
{
	$birthday = $egoiListArr["birthday"];
}

if($birthday !='')
{
	$birthday = explode("-",$birthday);
	$egoiDay    = $birthday[2];
	$egoiMonth  = $birthday[1];
	$egoiYear   = $birthday[0];
}

if(isset($egoiListArr["anniversary"]))
{
	$anniversary = $egoiListArr["anniversary"];
}

if($anniversary !='')
{
	$anniversaryday    = explode("-",$anniversary);
	$anniversaryDay    = $anniversaryday[2];
	$anniversaryMonth  = $anniversaryday[1];
	$anniversaryYear   = $anniversaryday[0];
}
/* End code here     */
if(count($egoiListArr["preferences"])>0)
{
	$resultEgoi = $egoiListArr["preferences"];
}

//set daily deals if user coming from Daily Deal page
if($_GET['deals']=='yes')
{
	$resultEgoi[] = 8;
}
else
{
	$resultEgoi[] = 1;
}

$newsLetterList = array(1 => "General Interest", 2 => "Bridal Jewelry", 3 => "Watches", 4 => "Men's Jewelry", 5 => "Designers", 6 => "Hip Hop Jewelry", 7 => "Diamond Color Jewelry", 8 => "Daily Deals", 9 => "Weekly Deals", 11 => "Women's Jewelry");
foreach($newsLetterList AS $subId=>$subTitle)
{
?>
<div class="checkbox">
	<input type="checkbox" name="interests[]" id="interest" <?php if(in_array($subId, $resultEgoi)): ?> checked="checked"<?php endif; ?> value="<?php echo $subId;?>"/> 
	<label><?php echo $subTitle?></label></div>	
<?php
}
?>	
<br />

</div><!--LEFT END-->
<div id="center"></div>
<!--RIGHT START-->
<div id="right">
<p class="subHeadlineRight">Your Information</p>
<p class="textRight"><span style="color:#F00">*</span>indicates a required field.</p>
 <br />

<div class="productFormRow1"><span class="productFormLabel1"><span style="color:#F00">*</span>Email<b></b>:</span>
<input type="text" class="productFormField1" name="email_email_Email" id="Email" value="<?php echo $_GET['email']?>">
</div>


<div class="productFormRow1"><span class="productFormLabel1">First Name:</span>
<input type="text" class="productFormField1" name="firstName" id="First_Name" value="<?php echo $first_name;?>">
</div>

<div class="productFormRow1"><span class="productFormLabel1">Last Name:</span>
	<input type="text" class="productFormField1" name="lastName" id="Last_Name" value="<?php echo $last_name;?>">
</div>


<div class="productFormRow1"><span class="productFormLabel1">Birthday:</span>
	<select name="birthMonth" id="birthMonth" class="month">
                <option value="-1" selected>Month</option>
                <option value="01" <?php if($egoiMonth == '01') {echo "selected";}?>>January</option>
                <option value="02" <?php if($egoiMonth == '02') {echo "selected";}?>>February</option>
                <option value="03" <?php if($egoiMonth == '03') {echo "selected";}?>>March</option>
                <option value="04" <?php if($egoiMonth == '04') {echo "selected";}?>>April</option>
                <option value="05" <?php if($egoiMonth == '05') {echo "selected";}?>>May</option>
                <option value="06" <?php if($egoiMonth == '06') {echo "selected";}?>>June</option>
                <option value="07" <?php if($egoiMonth == '07') {echo "selected";}?>>July</option>
                <option value="08" <?php if($egoiMonth == '08') {echo "selected";}?>>August</option>
                <option value="09" <?php if($egoiMonth == '09') {echo "selected";}?>>September</option>
                <option value="10" <?php if($egoiMonth == '10') {echo "selected";}?>>October</option>
                <option value="11" <?php if($egoiMonth == '11') {echo "selected";}?>>November</option>
                <option value="12" <?php if($egoiMonth == '12') {echo "selected";}?>>December</option>   
                
              </select> 
               
             <select name="birthDay" id ="birthDay" class="day">
                <option value="-1" selected>Day</option>                
                <?php
				$prepends = array('01','02','03','04','05','06','07','08','09');
				$days     = array_merge($prepends,range(10, 31));
				//arsort($days);
				foreach($days as $day)
				{
				?>   
				<option value="<?php echo $day; ?>" <?php if($egoiDay==$day) {echo "selected";}?>><?php echo $day; ?></option>
				<?php 
			     }
				?>

              </select>
              
   <select name="birthYear" id="birthYear" class="year">
    <option value="-1" selected>Year</option>
    <?php  
			$startDate = "1910";
			$endDate   = date("Y");
			$years     = range($startDate,$endDate);
			arsort($years);
			foreach($years as $year)
			{    
			?>
			 <option value="<?php echo $year; ?>" <?php if($egoiYear==$year) {echo "selected";}?>><?php echo $year; ?></option>
			<?php 
			 }
			?>
     </select>
</div>
<!--     Added code for anniversary at 11 Sep 2017 by Ankush            -->
<div class="productFormRow1"><span class="productFormLabel1">Anniversary:</span>
	<select name="anniversaryMonth" id="anniversaryMonth" class="month">
                <option value="-1" selected>Month</option>
                <option value="01" <?php if($anniversaryMonth == '01') {echo "selected";}?>>January</option>
                <option value="02" <?php if($anniversaryMonth == '02') {echo "selected";}?>>February</option>
                <option value="03" <?php if($anniversaryMonth == '03') {echo "selected";}?>>March</option>
                <option value="04" <?php if($anniversaryMonth == '04') {echo "selected";}?>>April</option>
                <option value="05" <?php if($anniversaryMonth == '05') {echo "selected";}?>>May</option>
                <option value="06" <?php if($anniversaryMonth == '06') {echo "selected";}?>>June</option>
                <option value="07" <?php if($anniversaryMonth == '07') {echo "selected";}?>>July</option>
                <option value="08" <?php if($anniversaryMonth == '08') {echo "selected";}?>>August</option>
                <option value="09" <?php if($anniversaryMonth == '09') {echo "selected";}?>>September</option>
                <option value="10" <?php if($anniversaryMonth == '10') {echo "selected";}?>>October</option>
                <option value="11" <?php if($anniversaryMonth == '11') {echo "selected";}?>>November</option>
                <option value="12" <?php if($anniversaryMonth == '12') {echo "selected";}?>>December</option>
              </select> 
               
             <select name="anniversaryDay" id ="anniversaryDay" class="day">
                <option value="-1" selected>Day</option>
                
				<?php
				$prependsAni = array('01','02','03','04','05','06','07','08','09');
				$daysAni     = array_merge($prependsAni,range(10, 31));
				//arsort($daysAni);
				foreach($daysAni as $dayAn)
				{
				?>   
				<option value="<?php echo $dayAn; ?>" <?php if($anniversaryDay==$dayAn) {echo "selected";}?>><?php echo $dayAn; ?></option>
				<?php 
			     }
				?>

              </select>
              
		   <select name="anniversaryYear" id="anniversaryYear" class="year">
			<option value="-1" selected>Year</option>
				<?php  
				$startDateA = "1910";
				$endDateA   = date("Y");
				$yearsAni     = range($startDateA,$endDateA);
				arsort($yearsAni);
				foreach($yearsAni as $yearAn)
				{    
				?>
				 <option value="<?php echo $yearAn; ?>" <?php if($anniversaryYear==$yearAn) {echo "selected";}?>><?php echo $yearAn; ?></option>
				<?php 
				 }
				?>

			 </select>
</div>

<div class="productFormRow1"><span class="productFormLabel1">Mobile:</span>
	<input type="text" class="productFormField1" name="mobile" maxlength="14" id="mobile" value="<?php echo $mobile;?>">
	
</div>


<div class="productFormRow1">
<span class="btn-wrapper btn-sub-wp">
	<span id = "goi-loader" style="display:none;margin-top:10px;"><img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" class="v-middle" alt="Loading" /></span>
	<input style=" background: none repeat scroll 0 0 #3D8889 !important;
    border: 1px solid #184946 !important;" class="button btn-sub" type = "submit" id="submitme" value = "Sign Up" onclick="return validateME(this.form)"></span>
	<span style="display:none"><input type = "reset" name="resetform" id="resetform"/></span>
 </div>



<div class="productFormRow1" id="success-message"></div> 
  

</div><!--RIGHT END-->
<div id="bottom">
	<p class="text"><i><b>Note:</b> You can always easily unsubscribe from our publications at any time by replying to an edition with “unsubscribe” in the header or by simply clicking on the link provided in the email.</i></p>
</div>

</div><!--MAIN WRAP END-->
</form>
<script >
function validateME(frm)
{  
	var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/; 
	if (document.getElementById("Email").value.length <= 0 || document.getElementById("Email").value == 'Email')
	{
		alert('Your Email Address is required');
  		document.getElementById("Email").focus();
		return false;
	}
  
	if (!filter.test(document.getElementById("Email").value)) 
	{
		alert('Please provide a valid email address');
		document.getElementById("Email").focus();
		return false;
	}
	
	var selchbox = [];   
	var inpfields = frm.getElementsByTagName('input');
	var nr_inpfields = inpfields.length;  
	for(var i=0; i<nr_inpfields; i++)
	{
		if(inpfields[i].type == 'checkbox' && inpfields[i].checked == true) 
		selchbox.push(inpfields[i].value);    
	}
	if(selchbox.length==0)
	{
		alert('Please select your areas of interest.');
		return false ;
	}
   
	/* Start Bday validation*/   
	var bday = document.getElementById("birthDay").value;
	var bmonth = document.getElementById("birthMonth").value;
	var byear = document.getElementById("birthYear").value;
	dob=bday+'-'+bmonth+'-'+byear;
   
	if(dob!='-1--1--1')
	{
		var pattern =/^([0-9]{2})-([0-9]{2})-([0-9]{4})$/;
		if(!pattern.test(dob))
		{
			alert('Invalid date of birth');
			return false ;
		}
	} 
	/* End Bday validation */     
	
	fnc_redirectWindowGOI();
	return false;
}
</script>

<script type="text/javascript">
function fnc_redirectWindowGOI()
{
	jQuery('#goi-loader').show();
	//jQuery("input[type=submit]").attr("disabled", "disabled");
	jQuery("#submitme").attr("disabled", "disabled");	
	jQuery.post('<?php echo Mage::getBaseUrl();?>newsletter/subscriber/goi',
	{data:jQuery("#survey").serialize()},
	function(res)
	{
		//alert(res);
		if(res=='1')
		{
			jQuery('#goi-loader').hide();
			var msg = '<div class="global_messages_div"><ul class="messages"><li class="success-msg">Thank you for your subscription.</li></ul></div>';
			jQuery("#resetform").click();
			jQuery("#Email").val('');
			jQuery("#First_Name").val('');
			jQuery("#Last_Name").val('');
			jQuery('#interest').prop('checked', false);
			jQuery('#success-message').html(msg);
			
			//close popup window		
			setTimeout(function(){
				jQuery("#submitme").attr("enabled", "enabled");	
				parent.Windows.close('browser_window');
			},3000);
		}
		else
		{
			var ErrorMsg = "<div class='global_messages_div'><ul class='messages'><li class='error-msg'>"+res+"</li></ul></div>";		
			jQuery('#goi-loader').hide();
			jQuery("#submitme").removeAttr("disabled");                             
			jQuery('#success-message').html(ErrorMsg) ;
		}
	});	
}
</script>

<script type="text/javascript">
$(document).ready(function()
{
	$( "#mobile" ).keypress(function()
	{
		var currentlen = $('#mobile').val().length;
		if(currentlen==10 || currentlen==11)
		{
			$('#mobile').unmask().mask('0-0000000000');		
		}
		else if (currentlen==13)
		{
			$('#mobile').unmask().mask('000-000000000');
		}else
		{
			$('#mobile').unmask().mask('000-000000000');
		}	
   }); 
});
</script>
