<div id="egoiolduserform">
<form name="survey" id ="survey" action="<?php echo Mage::getBaseUrl();?>newsletter/subscriber/addsignup"  method=post>
<input type="hidden" name="interests:filterText" value="">
<!--MAIN WRAP START-->
<div id="mainWrap">
<!--HEADER START-->

<script type="text/javascript" src="<?php echo $this->getSkinUrl('egoi/js/jquery-latest.js');?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('egoi/js/jquery.mask.min.js');?>"></script>	


<p class="headline">Enter your information to Sign Up.</p>
<!--LEFT START-->
<div id="left">
<p class="subHeadline">Your Interests</p>
<p class="text">Please select the areas of interest for which you would like to receive occasional email from us.</p>
<p class="text">
<?php
//Check for existing user and get the prefrences, Added By: Ravinesh(MS) on 5-May-2014
$resultEgoi = array();
$egoiListArr = $this->getEgoiList();
if(isset($egoiListArr["first_name"]))
{
	$first_name = $egoiListArr["first_name"];
}
if(isset($egoiListArr["last_name"]))
{
	$last_name = $egoiListArr["last_name"];
}
if(isset($egoiListArr["mobile"]))
{
	$mobile = $egoiListArr["mobile"];
}
if(count($egoiListArr["preferences"])>0)
{
	$resultEgoi = $egoiListArr["preferences"];
}

//set daily deals if user coming from Daily Deal page
if($_GET['deals']=='yes')
{
	$resultEgoi[] = 8;
}
else
{
	$resultEgoi[] = 1;
}

$newsLetterList = array(1 => "General Interest", 2 => "Bridal Jewelry", 3 => "Watches", 4 => "Men's Jewelry", 5 => "Designers", 6 => "Hip Hop Jewelry", 7 => "Diamond Color Jewelry", 8 => "Daily Deals", 9 => "Weekly Deals", 11 => "Women's Jewelry");
foreach($newsLetterList AS $subId=>$subTitle)
{
?>
<div class="checkbox">
	<input type="checkbox" name="interests[]" id="interest" <?php if(in_array($subId, $resultEgoi)): ?> checked="checked"<?php endif; ?> value="<?php echo $subId;?>"/> 
	<label><?php echo $subTitle?></label></div>	
<?php
}
?>	
<br />

</div><!--LEFT END-->
<div id="center"></div>
<!--RIGHT START-->
<div id="right">
<p class="subHeadlineRight">Your Information</p>
<p class="textRight"><span style="color:#F00">*</span>indicates a required field.</p>
 <br />

<div class="productFormRow1"><span class="productFormLabel1"><span style="color:#F00">*</span>Email<b></b>:</span>
<input type="text" class="productFormField1" name="email_email_Email" id="Email" value="<?php echo $egoiListArr['email']?>">
</div>


<div class="productFormRow1"><span class="productFormLabel1">First Name:</span>
<input type="text" class="productFormField1" name="firstName" id="First_Name" value="<?php echo $first_name;?>">
</div>

<div class="productFormRow1"><span class="productFormLabel1">Last Name:</span>
	<input type="text" class="productFormField1" name="lastName" id="Last_Name" value="<?php echo $last_name;?>">
</div>


<div class="productFormRow1"><span class="productFormLabel1">Birthday:</span>
	<select name="birthMonth" id="birthMonth" class="month">
                <option value="-1" selected>Month</option>
               <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
                
              </select> 
               
             <select name="birthDay" id ="birthDay" class="day">
                <option value="-1" selected>Day</option>
                
				<option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
              </select>
              
   <select name="birthYear" id="birthYear" class="year">
    <option value="-1" selected>Year</option>
    <option value="2008">2008</option>
    <option value="2007">2007</option>
	<option value="2006">2006</option>
	<option value="2005">2005</option>
	<option value="2004">2004</option>
	<option value="2003">2003</option>
	<option value="2002">2002</option>
	<option value="2001">2001</option>
	<option value="2000">2000</option>
	<option value="1999">1999</option>
	<option value="1998">1998</option>
	<option value="1997">1997</option>
	<option value="1996">1996</option>
	<option value="1995">1995</option>
	<option value="1994">1994</option>
	<option value="1993">1993</option>
	<option value="1992">1992</option>
	<option value="1991">1991</option>
	<option value="1990">1990</option>
	<option value="1989">1989</option>
	<option value="1988">1988</option>
	<option value="1987">1987</option>
	<option value="1886">1986</option>
	<option value="1985">1985</option>
	<option value="1984">1984</option>
	<option value="1983">1983</option>
	<option value="1982">1982</option>
	<option value="1981">1981</option>
	<option value="1980">1980</option>
	<option value="1979">1979</option>
	<option value="1978">1978</option>
	<option value="1977">1977</option>
	<option value="1976">1976</option>
	<option value="1975">1975</option>
	<option value="1974">1974</option>
	<option value="1973">1973</option>
	<option value="1972">1972</option>
	<option value="1971">1971</option>
	<option value="1970">1970</option>
	<option value="1969">1969</option>
	<option value="1968">1968</option>
	<option value="1967">1967</option>
	<option value="1966">1966</option>
	<option value="1965">1965</option>
	<option value="1964">1964</option>
	<option value="1963">1963</option>
	<option value="1962">1962</option>
	<option value="1961">1961</option>
	<option value="1960">1960</option>
	<option value="1959">1959</option>
	<option value="1958">1958</option>
	<option value="1957">1957</option>
	<option value="1956">1956</option>
	<option value="1955">1955</option>
	<option value="1954">1954</option>
	<option value="1953">1953</option>
	<option value="1952">1952</option>
	<option value="1951">1951</option>
	<option value="1950">1950</option>
	<option value="1949">1949</option>
	<option value="1948">1948</option>
	<option value="1947">1947</option>
	<option value="1946">1946</option>
	<option value="1945">1945</option>
	<option value="1944">1944</option>
	<option value="1943">1943</option>
	<option value="1942">1942</option>
	<option value="1941">1941</option>
	<option value="1940">1940</option>
	<option value="1939">1939</option>
	<option value="1938">1938</option>
	<option value="1937">1937</option>
	<option value="1936">1936</option>
	<option value="1935">1935</option>
	<option value="1934">1934</option>
	<option value="1933">1933</option>
	<option value="1932">1932</option>
	<option value="1931">1931</option>
	<option value="1930">1930</option>
	<option value="1929">1929</option>
    <option value="1928">1928</option>
	<option value="1927">1927</option>
	<option value="1926">1926</option>
	<option value="1925">1925</option>
	<option value="1924">1924</option>
	<option value="1923">1923</option>
	<option value="1922">1922</option>
	<option value="1921">1921</option>
	<option value="1920">1920</option>
	<option value="1919">1919</option>
	<option value="1918">1918</option>
	<option value="1917">1917</option>
	<option value="1916">1916</option>
	<option value="1915">1915</option>
	<option value="1914">1914</option>
	<option value="1913">1913</option>
	<option value="1912">1912</option>
	<option value="1911">1911</option>
	<option value="1910">1910</option>
	<option value="1909">1909</option>
	<option value="1908">1908</option>
	<option value="1907">1907</option>
	<option value="1906">1906</option>
	<option value="1905">1905</option>
	<option value="1904">1904</option>
	<option value="1903">1903</option>
	<option value="1902">1902</option>
	<option value="1901">1901</option>
	<option value="1900">1900</option>
     </select>
</div>

<div class="productFormRow1"><span class="productFormLabel1">Mobile:</span>
	<input type="text" class="productFormField1" name="mobile" maxlength="14" id="mobile" value="<?php echo $mobile;?>">
	
</div>


<div class="productFormRow1">
<span class="btn-wrapper btn-sub-wp">
	<span id = "goi-loader" style="display:none;margin-top:10px;"><img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" class="v-middle" alt="" /></span>
	<input style=" background: none repeat scroll 0 0 #3D8889 !important;
    border: 1px solid #184946 !important;" class="button btn-sub" type = "submit" id="submitme" value = "Sign Up" onclick="return fnc_submitForm(this.form)"></span>
	<span style="display:none"><input type = "reset" name="resetform" id="resetform"/></span>
 </div>



<div class="productFormRow1" id="success-message"></div> 
  

</div><!--RIGHT END-->
<div id="bottom">
	<p class="text"><i><b>Note:</b> You can always easily unsubscribe from our publications at any time by replying to an edition with “unsubscribe” in the header or by simply clicking on the link provided in the email.</i></p>
</div>

</div><!--MAIN WRAP END-->
</form>
<script >
function fnc_submitForm(frm)
{  
	var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/; 
	if (document.getElementById("Email").value.length <= 0 || document.getElementById("Email").value == 'Email')
	{
		alert('Your Email Address is required');
  		document.getElementById("Email").focus();
		return false;
	}
  
	if (!filter.test(document.getElementById("Email").value)) 
	{
		alert('Please provide a valid email address');
		document.getElementById("Email").focus();
		return false;
	}
	
	var selchbox = [];   
	var inpfields = frm.getElementsByTagName('input');
	var nr_inpfields = inpfields.length;  
	for(var i=0; i<nr_inpfields; i++)
	{
		if(inpfields[i].type == 'checkbox' && inpfields[i].checked == true) 
		selchbox.push(inpfields[i].value);    
	}
	if(selchbox.length==0)
	{
		alert('Please select your areas of interest.');
		return false ;
	}
   
	/* Start Bday validation*/   
	var bday = document.getElementById("birthDay").value;
	var bmonth = document.getElementById("birthMonth").value;
	var byear = document.getElementById("birthYear").value;
	dob=bday+'-'+bmonth+'-'+byear;
   
	if(dob!='-1--1--1')
	{
		var pattern =/^([0-9]{2})-([0-9]{2})-([0-9]{4})$/;
		if(!pattern.test(dob))
		{
			alert('Invalid date of birth');
			return false ;
		}
	} 
	/* End Bday validation */     
	
	fnc_redirectWindowGOI();
	return false;
}
</script>

<script type="text/javascript">
function fnc_redirectWindowGOI()
{
	jQuery('#goi-loader').show();
	//jQuery("input[type=submit]").attr("disabled", "disabled");
	jQuery("#submitme").attr("disabled", "disabled");	
	jQuery.post('<?php echo Mage::getBaseUrl();?>newsletter/subscriber/addsignup',
	{data:jQuery("#survey").serialize()},
	function(res)
	{
		if(res==1)
		{
			jQuery.post('<?php echo Mage::getBaseUrl();?>newsletter/subscriber/new',
			{data:jQuery("#survey").serialize()},
			function(result)
			{
									
				if(result==0)
				{
					jQuery('#goi-loader').hide();
					var msg = '<ul class="messages"><li class="success-msg">Thank you for your subscription.</li></ul>';
					jQuery('#success-message').html(msg) ;				
					setTimeout(function(){
					
					jQuery("#submitme").attr("enabled", "enabled");	
						parent.Windows.close('browser_window_signup');
						//window.opener.location.reload();
					
						window.parent.location.reload();
				
					},3000);
				}else{
			var ErrorMsg = "<ul class='messages'><li class='error-msg'>"+result+"</li></ul>";		
			jQuery('#goi-loader').hide();
			jQuery("#submitme").removeAttr("disabled");                             
			jQuery('#success-message').html(ErrorMsg) ;
				
				}
			});
		}else if(res==2){
		
		
		jQuery.post('<?php echo Mage::getBaseUrl();?>newsletter/subscriber/olduser',
			{data:jQuery("#survey").serialize()},
			function(result)
			{
									
				if(result==0)
				{
					jQuery('#goi-loader').hide();
					var msg = '<ul class="messages"><li class="success-msg">Thank you for your subscription.</li></ul>';
					jQuery('#success-message').html(msg) ;				
					setTimeout(function(){
					
					jQuery("#submitme").attr("enabled", "enabled");	
						parent.Windows.close('browser_window_signup');
						//window.opener.location.reload();
					
						//window.parent.location.reload();
				
					},3000);
				}else{
			var ErrorMsg = "<ul class='messages'><li class='error-msg'>"+result+"</li></ul>";		
			jQuery('#goi-loader').hide();
			jQuery("#submitme").removeAttr("disabled");                             
			jQuery('#success-message').html(ErrorMsg) ;
				
				}
			});
		}
		
		else
		{
			var ErrorMsg = "<div class='global_messages_div'><ul class='messages'><li class='error-msg'>"+res+"</li></ul></div>";		
			jQuery('#goi-loader').hide();
			jQuery("#submitme").removeAttr("disabled");                             
			jQuery('#success-message').html(ErrorMsg) ;
		}
	});	
}
</script>

<script type="text/javascript">
$(document).ready(function()
{
	$( "#mobile" ).keypress(function()
	{
		var currentlen = $('#mobile').val().length;
		if(currentlen==10 || currentlen==11)
		{
			$('#mobile').unmask().mask('0-0000000000');		
		}
		else if (currentlen==13)
		{
			$('#mobile').unmask().mask('000-000000000');
		}else
		{
			$('#mobile').unmask().mask('000-000000000');
		}	
   }); 
});
</script>
</div>
