<div id ="formcontent">
<!--MAIN WRAP START-->
<div id="mainWrap"> 
  <!--HEADER START-->

    <script type="text/javascript" src="<?php echo $this->getSkinUrl('egoi/js/jquery-latest.js');?>"></script> 
    <script type="text/javascript" src="<?php echo $this->getSkinUrl('egoi/js/jquery.mask.min.js');?>"></script>

  <!--HEADER END--> 
  <!--LEFT START-->
  <div class="main-section">
    <div class="popup-heading-section">
      <h1>Sign up and get 1000 rewards points ($10).</h1>
      <h2>Get additional 5% off coupon code.</h2>
    </div>
    <div class="popup-newsletter">
      <h2>Subscribe for the latest deals.</h2>
      <input type="text" placeholder="Enter Email Address" class="productFormField1" name="email" id="Email" value="<?php echo $_GET['email']?>">
      <span class="btn-wrapper btn-sub-wp"> 
      <!--<span id = "goi-loader" style="display:none;margin-top:10px;"><img src="<?php //echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" class="v-middle" alt="" /></span>-->
     
      <input class="button btn-sub" type ="submit" id="submitme" value = "Continue" onclick="return validateME(this.form)">
       <span id = "goi-loader" style="display:none;margin-top:10px;"><img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" class="v-middle" alt="Loading" /></span>
      </span>
      <div class="productFormRow1" id="success-message_old"></div>
    </div>
    <div class="popup-mid-content">
      <h2>More ways to stay connected:</h2>
      <ul class="social-image-area">
        <li>
			<a title="ItsHot.com Diamond Jewelry Watches On Twitter" target="_blank" href="http://twitter.com/itshotdotcom">
			<img src="<?php echo $this->getSkinUrl('egoi/images/twitter.png') ?>"/></li>
			</a>
        <li>
			<a title="ItsHot.com Diamond Jewelry Watches On Facebook" target="_blank" href="http://www.facebook.com/ItsHot">
				<img src="<?php echo $this->getSkinUrl('egoi/images/facbook.png') ?>"/>
			</a>	
		</li>
        <li>
			<a title="ItsHot.com Diamond Jewelry Watches On Google+" target="_blank" href="http://plus.google.com/110591637315816284253/about">
				<img src="<?php echo $this->getSkinUrl('egoi/images/gplus.png') ?>"/>
			</a>	
			
			</li>
        <li>
			<a title="ItsHot.com Diamond Jewelry Watches On Pinterest" target="_blank" href="http://pinterest.com/itshotdotcom">
			
			<img src="<?php echo $this->getSkinUrl('egoi/images/pinit.png') ?>"/>
			</a>
        </li>
       
      </ul>
      <div class="follow-title">Follow us and get the latest news, deals, and offers.</div>
    </div>
    
    <div class="popup-not">Note: You can always easily unsubscribe from our publications at any time by replying to an edition with “unsubscribe” in the header or by simply clicking on the link provided in the email.</div>
  </div>
</div>
</div>
<!--MAIN WRAP END-->

<script >
function validateME(frm)
{  
	var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/; 
	if (document.getElementById("Email").value.length <= 0 || document.getElementById("Email").value == 'Email')
	{
		alert('Your Email Address is required');
  		document.getElementById("Email").focus();
		return false;
	}
  
	if (!filter.test(document.getElementById("Email").value)) 
	{
		alert('Please provide a valid email address');
		document.getElementById("Email").focus();
		return false;
	}
	
	jQuery('#goi-loader').show();
	jQuery.post('<?php echo Mage::getBaseUrl();?>newsletter/subscriber/olduserpage',
	{email:document.getElementById("Email").value},
	function(res)
	{
		var content = jQuery( res ).find( "#egoiolduserform" ).html();
		jQuery( "#formcontent" ).empty().append( content );	
	
	}
	);
	
	return false;
}
</script>




<script >
function validateME1(frm)
{  
	
	var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/; 
	if (document.getElementById("Emailegi").value.length <= 0 || document.getElementById("Emailegi").value == 'Email')
	{
		alert('Your Email Address is required');
  		document.getElementById("Emailegi").focus();
		return false;
	}
  
	if (!filter.test(document.getElementById("Emailegi").value)) 
	{
		alert('Please provide a valid email address');
		document.getElementById("Emailegi").focus();
		return false;
	}
	
	var selchbox = [];   
	var inpfields = frm.getElementsByTagName('input');
	var nr_inpfields = inpfields.length;  
	for(var i=0; i<nr_inpfields; i++)
	{
		if(inpfields[i].type == 'checkbox' && inpfields[i].checked == true) 
		selchbox.push(inpfields[i].value);    
	}
	if(selchbox.length==0)
	{
		alert('Please select your areas of interest.');
		return false ;
	}
	
	
   
	/* Start Bday validation*/   
	var bday = document.getElementById("birthDay").value;
	var bmonth = document.getElementById("birthMonth").value;
	var byear = document.getElementById("birthYear").value;
	dob=bday+'-'+bmonth+'-'+byear;
   
	if(dob!='-1--1--1')
	{
		var pattern =/^([0-9]{2})-([0-9]{2})-([0-9]{4})$/;
		if(!pattern.test(dob))
		{
			alert('Invalid date of birth');
			return false ;
		}
	} 
	/* End Bday validation */     
	
	fnc_redirectWindowGOI1();
	return false;
}
</script> 
<script type="text/javascript">
function fnc_redirectWindowGOI1()
{
		
	jQuery('#goi-loader').show();
	jQuery("#submitme").attr("disabled", "disabled");	
	jQuery.post('<?php echo Mage::getBaseUrl();?>newsletter/subscriber/addsignup',
	{data:jQuery("#survey").serialize()},
	function(res)
	{
	  
		if(res==1)
		{
			jQuery.post('<?php echo Mage::getBaseUrl();?>newsletter/subscriber/new',
			{data:jQuery("#survey").serialize()},
			function(result)
			{
									
				if(result==0)
				{
					jQuery('#goi-loader').hide();
					var msg = '<ul class="messages"><li class="success-msg">Thank you for your subscription.</li></ul>';
					jQuery('#success-message').html(msg) ;				
					setTimeout(function(){
					
					jQuery("#submitme").attr("enabled", "enabled");	
						parent.Windows.close('browser_window_signup');
				    	window.parent.location.reload();
				
					},3000);
				}else{
			var ErrorMsg = "<ul class='messages'><li class='error-msg'>"+result+"</li></ul>";		
			jQuery('#goi-loader').hide();
			jQuery("#submitme").removeAttr("disabled");                             
			jQuery('#success-message').html(ErrorMsg) ;
				
				}
			});
		}else if(res==2){
		
		
		jQuery.post('<?php echo Mage::getBaseUrl();?>newsletter/subscriber/olduser',
			{data:jQuery("#survey").serialize()},
			function(result)
			{
									
				if(result==0)
				{
					jQuery('#goi-loader').hide();
					var msg = '<ul class="messages"><li class="success-msg">Thank you for your subscription.</li></ul>';
					jQuery('#success-message').html(msg) ;				
					setTimeout(function(){
					
					jQuery("#submitme").attr("enabled", "enabled");	
						parent.Windows.close('browser_window_signup');
			
					},3000);
				}else{
			var ErrorMsg = "<ul class='messages'><li class='error-msg'>"+result+"</li></ul>";		
			jQuery('#goi-loader').hide();
			jQuery("#submitme").removeAttr("disabled");                             
			jQuery('#success-message').html(ErrorMsg) ;
				
				}
			});
		
		
		
		}
		else
		{
		
			var ErrorMsg = "<ul class='messages'><li class='error-msg'>"+res+"</li></ul>";		
			jQuery('#goi-loader').hide();
			jQuery("#submitme").removeAttr("disabled");                             
			jQuery('#success-message').html(ErrorMsg) ;
		}
	});	
}
</script> 
<script type="text/javascript">
$(document).ready(function()
{
	$( "#mobile" ).keypress(function()
	{
		var currentlen = $('#mobile').val().length;
		if(currentlen==10 || currentlen==11)
		{
			$('#mobile').unmask().mask('0-0000000000');		
		}
		else if (currentlen==13)
		{
			$('#mobile').unmask().mask('000-000000000');
		}else
		{
			$('#mobile').unmask().mask('000-000000000');
		}	
   }); 
});
</script> 
