<?php
/**
 *
 * @category   MW
 * @package    MW_Mwcredit
 * @author Mage World <support@mage-world.com>
 */
?>
<div class="dashboard">
	<div class="page-title    page-head">
    	<h1><?php echo $this->__('Affiliate History') ?></h1>
	</div>
	<div class="box-account box-recent account-box ad-orders">
	    <div class="head box-head">
            <h2><?php echo $this->__('My Commission History') ?></h2>
	    </div>
		<div id="toggleSection">
		<?php $_affiliates = $this->getCollection();?>
		<?php if($_affiliates->getSize()): ?>
			<?php echo $this->getPagerHtml(); ?>
			<table class="data-table" id="my-credits-table" >
			    <thead>
			        <tr>
						<th style="text-align: center;"><?php echo $this->__('Date') ?></th>
						<th style="text-align: center;"><?php echo $this->__('Product Name') ?></th>
						<th style="text-align: center;"><?php echo $this->__('Program') ?></th>
						<th style="text-align: center;"><?php echo $this->__('Price') ?></th>
						<th style="text-align: center;"><?php echo $this->__('Commission') ?></th>
						<th style="text-align: center;"><?php echo $this->__('Customer Discount') ?></th>
						<th style="text-align: center;"><?php echo $this->__('Status') ?></th>
			        </tr>
			    </thead>
			    <tbody>
			        <?php foreach ($_affiliates as $_affiliate): ?>
			            <tr style="text-align:left">
			            	<td style="width: 50px;"><?php echo $this->formatDate($_affiliate->getTransactionTime())." ".$this->formatTime($_affiliate->getTransactionTime());?></td>
							<td style=" width:95px;"><em><?php echo $this->getProductName($_affiliate->getProductId())?></em></td>
							<td ><?php  echo $this->getProgramName($_affiliate->getProgramId())?></td>
			            	<td style="text-align: center;"><?php echo Mage::helper('affiliate')->formatMoney($_affiliate->getTotalAmount())?></td>
			            	<td><?php echo Mage::helper('affiliate')->formatMoney($_affiliate->getHistoryCommission())?></td>
			            	<td><?php echo Mage::helper('affiliate')->formatMoney($_affiliate->getHistoryDiscount())?></td>
			            	<td style="text-align: center;width: 60px;"><?php echo $this->getStatusText($_affiliate->getStatus());?></td>
			            </tr>
			        <?php endforeach; ?>
			    </tbody>
			</table>
			<?php echo $this->getPagerHtml(); ?>
			<script type="text/javascript">decorateTable('my-credits-table')</script>
		<?php endif ?>
		</div>
	</div>
	<div style=" border-top: 1px solid #E4E4E4;clear: both;margin: 2em 0 0;padding: 8px 0 0;text-align: left;">
  	  <p class="back-link"><a href="<?php echo $this->getUrl('affiliate/index/transaction') ?>" class="back-link"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>   	
   </div>
</div>