
<div class="entry-edit">

<div class="content-header">
    <table cellspacing="0" class="grid-header">
        <tr>
            <td><h3><?php echo $this->__('Pending payments')?></h3></td>
        </tr>
    </table>
</div>

<?php echo $this->getGridParentHtml() ?>

</div>