<?php try {

$observer = 'Criteo_Integrate/observer';
$mage = Mage::getSingleton($observer);

if ($mage->shouldInjectOneTag()):
?>
<!-- CRITEO START -->
<script type="text/javascript" src="//static.criteo.net/js/ld/ld.js" async></script>
<script type="text/javascript">
    var deviceType = /iPad/.test(navigator.userAgent) ? "t" : /Mobile|iP(hone|od)|Android|BlackBerry|IEMobile|Silk/.test(navigator.userAgent) ? "m" : "d";
    var lastEventTime = 0;
    window.criteo_q = window.criteo_q || [];
    window.criteo_magento_event = function (event, eventTime) {
        // Used to deduplicate events, in particular on AJAX update
        // This is because the HTML fragment of an AJAX request can be inserted at multiple places, hence triggering
        // multiple events
        if (eventTime === lastEventTime)
            return;

        lastEventTime = eventTime;
        window.criteo_q.push(
            {"event": "setAccount", "account":<?php echo json_encode($mage->getPartnerId()) ?>},
            {"event": "setEmail", "email":<?php echo json_encode($mage->getCustomerHashedEmail()) ?>},
            {"event": "setSiteType", "type": deviceType},
            event
        );
    };
    window.criteo_magento_event(
        <?php
            if ($mage->isHomePage()) {
                echo $mage->getHomeEventJson();
            }
            else if ($mage->isProductPage()) {
                echo $mage->getProductEventJson();
            }
            else if ($mage->isListingPage()) {
                echo $mage->getListingEventJson();
            }
            else if ($mage->isCartPage()) {
                echo $mage->getCartEventJson();
            }
            else if ($mage->isSalesConfirmationPage()) {
                echo $mage->getSalesConfirmationEventJson();
            }
        ?>, <?php echo json_encode(time()); ?>
    );
</script>
<!-- CRITEO END -->
<?php
endif;

} catch (Exception $e) {
}
