<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2016 Amasty (https://www.amasty.com)
 * @package Amasty_List
 */
?>
<?php $_list = $this->getList(); ?>
<?php if ($this->getTitle()): ?>
<div class="page-head button-level">
    <h3><?php echo $this->__('Wishlist Details')?></h3>
</div>
<?php endif; ?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<form action="<?php echo $this->getUrl('*/*/save', array('id'=>$_list->getId())) ?>" method="post" id="form-validate" class="wishlist-detail-form">
<input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
    <fieldset class="group-select">
        <ul>
            <li>
                <div class="input-box">
                    <input type="text" name="title" value="<?php echo $this->htmlEscape($_list->getTitle()) ?>" title="<?php echo $this->__('Name') ?>" class="required-entry input-text" id="title" />
                </div>
                <div class="input-box">
                    <label>&nbsp;</label><br />
                    <button class="button" type="submit"><span><?php echo $this->__('Save Name') ?></span></button>
                </div>
            </li>
        </ul>
    </fieldset>
    <div class="buttons-set">
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
var dataForm = new VarienForm('form-validate', true);
//]]>
</script>