<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2016 Amasty (https://www.amasty.com)
 * @package Amasty_List
 */
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $_lists = $this->getLists(); ?>
<div class="page-head">
    <h3><?php echo $this->__('My Wishlist') ?></h3>
</div>
<?php if(sizeof($_lists->getItems()) > 0 ): ?>
    <table cellspacing="0" class="data-table" id="my-lists-table">
    <col width="1%" />
    <col width="1%" />
    <col width="70%"/>
    <col />
        <thead>
            <tr>
                <th><?php echo $this->__('ID') ?></th>
                <th><?php echo $this->__('Wishlist') ?></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php $_odd = ''; ?>
            <?php foreach ($_lists as $row): ?>
                <tr class="<?php echo ($_odd = ($_odd ? 'odd' : '')) ?>">
                    <td><?php echo $row->getId() ?>&nbsp;</td>
                    <td><a href="<?php echo $this->getUrl('*/*/edit', array('id'=>$row->getId()))?>"><?php echo $this->htmlEscape($row->getTitle()) ?></a></td>
                    <td class="last a-right">
                    <a href="<?php echo $this->getUrl('*/*/edit', array('id'=>$row->getId()))?>"><?php echo $this->__('Edit') ?></a>
                    <span class="">|</span>
                    <a href="<?php echo $this->getUrl('*/*/cart', array('list_id'=>$row->getId()))?>"><?php echo $this->__('Add to Cart') ?></a>
                    <span class="">|</span>
                    <a class="link-remove" href="<?php echo $this->getUrl('*/*/remove', array('id'=>$row->getId()))?>"  onclick="return confirm('<?php echo $this->__('Are you sure?') ?>')" ><?php echo $this->__('Remove') ?></a>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
<script type="text/javascript">decorateTable('my-lists-table')</script>
<?php else: ?>
    <p><?php echo $this->__('Fill in your wishlist products to be able to purchase all of them with one click!'); ?></p>
<?php endif; ?>
<div class="buttons-set">
    <button onclick="setLocation('<?php echo $this->getUrl('*/*/edit') ?>')" class="button" type="button"><span><?php echo $this->__('Create New Wishlist') ?></span></button>
</div>
