<!--@subject Partial Payment is empty Profile Customer for Order #{{var order_id}}@-->
<!--@vars
{"var logo_url":"Email Logo Image Url"}
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}
<table   cellspacing="0" cellpadding="1" border="0" id = "emailcontainer" style = "margin:0 auto; max-width:620px; width:100%; background-color:#fff">
    <tr id = "emailheadertop" style = "float: left;padding:5px;" >
        <td id = "emailheaderbpttomleft" style ="float:left;width:100%;">
            <p style="color:#000000; font-size:12px; margin-bottom: 20px;"><strong>Dear Administrator,</strong></p>
            <p style="color:#000000; font-size:12px; margin-bottom: 20px;">For some reason this order has a empty profile so It will not auto capture for next payment. </p>
        </td>
    </tr>
    <tr>

</tr>
</table>

{{template config_path="design/email/footer"}}