<!--@subject Partial Payment Installment Confirmation for Order #{{var order_id}}@-->
<!--@vars
{"var logo_url":"Email Logo Image Url"}
@-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}
<table   cellspacing="0" cellpadding="1" border="0" id = "emailcontainer" style = "margin:0 auto; max-width:620px; width:100%; background-color:#fff">
    <tr id = "emailheadertop" style = "float: left;padding:5px;" >
        <td id = "emailheaderbpttomleft" style ="float:left;width:100%;">
            <p style="color:#000000; font-size:12px; margin-bottom: 20px;"><strong>Dear {{var customer_name}},</strong></p>
            <p style="color:#000000; font-size:12px; margin-bottom: 20px;">Thank you for your installment payment of <strong>{{var installment_amount}}</strong> for the order <strong>#{{var order_id}}</strong>.</p>
            <p style="color:#000000; font-size:12px; margin-bottom: 20px;">Please check the status of your payment by <strong><a href= "{{var user_partial_payment}}">logging into your account</a></strong>.
            <p style="color:#000000; font-size:12px;">Your <strong>{{var brand_label}}</strong> details for order <strong>#{{var order_id}}</strong> are as follows:</p>
        </td>
    </tr>
    <tr>
        <td bgcolor="#EAEAEA" align="center" style="background:#fff; text-align:center;">
            {{var partialpayment_installment_grid}}
        </td>
    </tr>
    <tr>
        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0; padding: 10px 0;">Thank you for being a valued customer!</p></center></td>
</tr>
<tr>	
    <td align="left"><p style="font-size:13px;">Note: Installment payment is subject to approval from payment method / gateway.</p></td>

</tr>
</table>
{{template config_path="design/email/footer"}}