<!--@subject Partial Payment Auto Capture Installment Reminder for order #{{var order_id}}@-->
<!--@vars
{"var logo_url":"Email Logo Image Url"}
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}
<table   cellspacing="0" cellpadding="1" border="0" id = "emailcontainer" style = "margin:0 auto; max-width:620px; width:100%; background-color:#fff">
    <tr id = "emailheadertop" style = "float: left;padding:5px;" >
        <td id = "emailheaderbpttomleft" style ="float:left;width:100%;">
            <h1 style="color:#000000; font-size:12px; margin-bottom: 20px;"><strong>Dear {{var customer_name}},</strong></h1>
            <p style="color:#000000; font-size:12px; margin-bottom: 20px;">This email is to remind you that due date of your next installment of order <strong>#{{var order_id}}</strong> is <strong>{{var next_installment_date}}</strong>.</p>
            <p style="color:#000000; font-size:12px;">Your <strong>{{var brand_label}}</strong> details for order <strong>#{{var order_id}}</strong> are as follows:</p>

        </td>
    </tr>
    <tr>
        <td bgcolor="#EAEAEA" align="center" style="background:#fff; text-align:center;">
            {{var partialpayment_installment_grid}}
        </td>
    </tr>
    <tr id = "emailheadertop" style = "float: left;padding:5px 0; width: 94%;" >
        <td id = "emailheaderbpttomleft" style ="float:left;width:100%;">
            <p style="color:#000000; font-size:12px; margin-bottom: 20px;">Your installment will be auto captured by us from your credit card. Maintain sufficient balance in your credit card for us to proceed and capture installment payment without any hassle.</p>
        </td>
    </tr>
    <tr>
        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0; padding: 10px 0;">Thank you for being a valued customer!</p></center></td>
</tr>
</table>
{{template config_path="design/email/footer"}}