<!--@subject Partial Payment Installment overdue notice for order #{{var order_id}}@-->
<!--@vars
{"var logo_url":"Email Logo Image Url"}
@-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}
<table   cellspacing="0" cellpadding="1" border="0" id = "emailcontainer" style = "margin:0 auto; max-width:620px; width:100%; background-color:#fff">
    <tr id = "emailheadertop" style = "float: left;padding:5px;" >
        <td id = "emailheaderbpttomleft" style ="float:left;width:100%;">
            <p style="color:#000000; font-size:12px; margin-bottom: 20px;"><strong>Dear {{var customer_name}},</strong></h1>
            <p style="color:#000000; font-size:12px; margin-bottom: 20px;">Despite previous reminders, we are disappointed to note that installment payment of <strong>{{var installment_amount}}</strong> for order <strong>#{{var order_id}}</strong> has remained unpaid and was overdue as on <strong>{{var due_date}}</strong>.</p>
            <p style="color:#000000; font-size:12px; margin-bottom: 20px;">Please pay your installment to avoid cancellation of order.</p>
            <p style="color:#000000; font-size:12px; margin-bottom: 20px;"><strong><a href= "{{var user_partial_payment}}">Logging into your account</a></strong> and pay installment now.</p>
            <p style="color:#000000; font-size:12px; margin-bottom: 20px;">If you have any queries, please <strong><a href= "{{var store_url}}">Contact Us</a></strong>.</p>
            <p style="color:#000000; font-size:12px; margin-bottom: 20px;">If you have finished payment recently, please accept our thanks and ignore this mail.</p>
        </td>
    </tr>
</tr>
<td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0; padding: 10px 0;">Thank you for being a valued customer!</p></center></td>
</tr>
</table>
{{template config_path="design/email/footer"}}