<?php $_categories = $this->getCurrentSubCategoryList() ?>
<?php $_count = is_array($_categories)?count($_categories):0; ?>
<?php if($_count): ?>
    <div class="block block-layered-nav">
        <div class="block-content">
            <dl id="narrow-by-list2">
                <dt class="bordered-title bordered-title-center"><?php echo $this->__('Categories'); ?></dt>
                <dd class="side-categories-search">
                    <ol class="single-choice">
                        <?php foreach ($_categories as $_category): ?>
                            <?php if($_category->getIsActive()): ?>
                                <?php $_childrenCategories = $this->getSubCategoryList($_category) ?>
                                <?php $_count = is_array($_childrenCategories)?count($_childrenCategories):0; ?>
                                <li <?php if($_count): ?> class="has-subcategories" <?php endif; ?>>
                                    <a href="<?php echo $this->getCategoryUrl($_category) ?>"<?php if ($this->isCategoryActive($_category)): ?> class="current"<?php endif; ?>><?php echo $this->escapeHtml($_category->getName()) ?></a>

                                    <?php if($_count): ?>
                                        <ol>
                                            <?php foreach ($_childrenCategories as $_childCategory): ?>
                                                <?php if($_childCategory->getIsActive() && $_childCategory->getIncludeInMenu()): ?>
                                                    <li>
                                                        <a href="<?php echo $this->getCategoryUrl($_childCategory) ?>"<?php if ($this->isCategoryActive($_childCategory)): ?> class="current"<?php endif; ?>><?php echo $this->escapeHtml($_childCategory->getName()) ?></a>
                                                    </li>
                                                <?php endif; ?>
                                            <?php endforeach ?>
                                        </ol>
                                    <?php endif; ?>
                                </li>
                            <?php endif; ?>
                        <?php endforeach ?>
                    </ol>
                </dd>
            </dl>
            <script type="text/javascript">decorateDataList('narrow-by-list2')</script>
        </div>
    </div>
<?php endif; ?>