<?php
/**
 * MageWorx
 * Admin Order Editor extension
 *
 * @category   MageWorx
 * @package    MageWorx_OrdersEdit
 * @copyright  Copyright (c) 2016 MageWorx (http://www.mageworx.com/)
 */
?>
<?php
if ($message = Mage::getSingleton('adminhtml/session')->getSpendPointsMessage()):
?>
    <ul class="messages">
        <li class="notice-msg">
            <ul>
                <li><?php echo $message;?></li>
            </ul>
        </li>
    </ul>
<?php
endif;
?>
<div class="content mw-has-changes">
    <?php if($this->getCurrentSpendingPoints()): ?>
        <p><strong><?php echo $this->escapeHtml($this->getCurrentSpendingPoints()) ?></strong></p>
    <?php endif; ?>
</div>
<br style="clear: right"/>