<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="btn btn-default pull-right" style="margin-left: 5px" data-dismiss="modal"><?php echo $this->__('Close'); ?></button>

        <h4 class="modal-title"><?php echo $this->__('Create return for order #%s',$this->getOrder()->getIncrementId()); ?></h4>
        <?php echo $this->getOrder()->getOrderId()?>
    </div>
    <div class="modal-body">
        <?php echo $this->getChildHtml('order_info'); ?>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-condensed table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th><?php echo $this->__('Sku')?></th>
                        <th><?php echo $this->__('Product')?></th>
                        <th style="text-align: right"><?php echo $this->__('Shipped Qty')?></th>
                        <th style="text-align: center"><?php echo $this->__('Qty to return')?></th>
                        <th style="text-align: right"><?php echo $this->__('Unit price')?></th>
                    </tr>
                    </thead>
                    <body>
                    <?php foreach($this->getReturnableProducts() as $item) :?>
                        <tr>
                            <td>
                                <?php $imgSrc = $this->getSmallImage($item); ?>
                                <?php if(!empty($imgSrc)) : ?>
                                    <img style="margin-top: -5px; width: 100px" src="<?php echo $imgSrc; ?>" />
                                <?php endif;?>
                            </td>
                            <td><?php echo $item->getData('sku')?></td>
                            <td><?php echo $item->getData('name');?></td>
                            <td style="text-align: right"><?php echo (int) $item->getData('qty_shipped'); ?></td>
                            <td style="text-align: center"><?php echo $this->getReturnedQtyAsCombo($item); ?></td>
                            <td style="text-align: right"><?php echo $this->getOrder()->formatPrice($item->getData('price_incl_tax')); ?></td>

                        </tr>
                    <?php endforeach;?>
                    </body>
                </table>

                <div class="return-error" style="color: #d9534f; text-align: center; font-weight: bold; margin-bottom: 10px;">
                    <span id="return-error-message"></span>
                </div>

                <center>
                    <span style="margin-right: 10px">
                        <label for="return_payment_method"><?php echo $this->__('Payment method'); ?></label>
                    </span>
                    <span style="margin-right: 10px">
                        <?php echo $this->getPaymentMethodCombo(); ?>
                    </span>

                    <button type="button" class="btn btn-<?php echo Mage::helper('PointOfSales/Appearance')->getButtonColor(); ?>" data-action="create-credit-memo" data-id="<?php echo $this->getOrder()->getId(); ?>"><?php echo $this->__('Confirm return'); ?></button>
                    <p>&nbsp;</p>
                </center>


            </div>
        </div>

    </div>


