<?php $kickers = array() ?>
<?php foreach($this->getKickerList() as $key => $array): ?>
    <?php $kickers[$array['value']] = $array['label'] ?>
<?php endforeach ?>
<?php if($this->isEnabled() && $this->hasHash()): ?>
    <div class="buy-safe">
        <img src="<?php echo $this->getSkinUrl('images/guarantee.png') ?>" alt="<?php echo $this->__('Best Price Guarantee'); ?>" class="extra-logo" />
        <img src="<?php echo $this->getSkinUrl('images/verisign.png') ?>" alt="<?php echo $this->__('VeriSign Trusted'); ?>" class="extra-logo" />
        <div name="buySAFE_Kicker" type="<?php echo $kickers[$this->getKicker()] ?>" <?php if($class = $this->getClass()){ echo 'class="'.$class.'"'; }; if($style = $this->getStyle()){ echo 'style="'.$style.'"'; } ?>><img src="https://seal.buysafe.com/Web/Seal/si.aspx?s=673357336&amp;p=11&amp;t=a&amp;R=0&amp;x=1" oncontextmenu="return false;" data-pin-no-hover="true" style="border:0;margin:0;padding:0;visibility:inherit;" alt="Norton Shopping Guarantee"></div>
    </div>
<?php endif ?>