
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->getLang() ?>" lang="<?php echo $this->getLang() ?>">
<head>
    <?php echo $this->getChildHtml('head') ?>
</head>
<body style="background-color: #ffffff; margin-top: 10px; margin-right: 10px; margin-bottom: 10px; margin-left: 10px;">
<!-- [start] content -->
<?php echo $this->getChildHtml('content') ?>
<!-- [end] content -->
</body>
</html>
