
<style>
    .smart-report-grid {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        width: 100%;
        border-collapse: collapse;
    }

    .smart-report-grid td, .smart-report-grid th {
        font-size: 1em;
        border: 1px solid #98bf21;
        padding: 3px 7px 2px 7px;
    }

    .smart-report-grid th {
        font-size: 1.1em;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 4px;
        background-color: #A7C942;
        color: #ffffff;
    }

    .smart-report-grid tr.alt td {
        color: #000000;
        background-color: #EAF2D3;
    }


    .smart-report-grid tr td.total {
        font-weight: 900;
        color: #ffffff;
        font-size: 1.1em;
        background-color: #A7C942;
        text-align: right;
    }

    .colonne
    {
        width:1100px;
        background-color: #ffffff;
        padding: 10px;
    }

</style>

<div id="page:main-container">

<?php if (!$this->getDummyBlock()->isFormLess()): ?><form id="form_smartreport" method="POST" action="<?php echo $this->getUrl('*/*/*'); ?>">
    <input name="form_key" type="hidden" value="<?php echo $this->getFormKey() ?>" /><?php endif; ?>
    <?php foreach($this->getDummyBlock()->getAdditionalFilters() as $label => $filter): ?>
        <?php echo $label.': '.$filter; ?>
    <?php endforeach; ?>
    <?php foreach($this->getDummyBlock()->getFormHiddens() as $k => $v): ?>
        <input type="hidden" name="smartreport[<?php echo $k; ?>]" value="<?php echo $v; ?>">
    <?php endforeach; ?>

    <?php if ($this->getDummyBlock()->displayStoreFilter()): ?>
        <?php echo $this->__('Store'); ?> <?php echo $this->getDummyBlock()->getStoreDropDown($this->getDummyBlock()->getVariable('sm_store')); ?>
    <?php endif; ?>

    <?php echo $this->__('Period'); ?> <select name="smartreport[period]" onchange="fillDatesFromPeriod(this)" id="smart_report_period">
        <?php foreach($this->getDummyBlock()->getPeriods() as $option): ?>
            <option <?php echo ($option['value'] == $this->getDummyBlock()->getVariable('period') ? ' selected ' : ''); ?> value="<?php echo $option['value']; ?>"><?php echo $this->__($option['label']); ?></option>
        <?php endforeach; ?>
    </select>

    <span id="date_selector" <?php echo ($this->getDummyBlock()->getVariable('period') != 'custom' ? 'style="display: none;"' : ''); ?>>

        <?php echo $this->__('From'); ?> <input type="text" size="10" id="date_from" name="smartreport[date_from]" value="<?php echo substr($this->getDummyBlock()->getVariable('date_from'), 0, 10); ?>">
        <img src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>" class="v-middle" id="img_calendar_date_from" style="margin-right: 20px;" />
        <script type="text/javascript">
            Calendar.setup({
                inputField : 'date_from',
                ifFormat : '%Y-%m-%e',
                button : 'img_calendar_date_from',
                align : 'Bl',
                singleClick : true
            });
        </script>

        <?php echo $this->__('To'); ?> <input type="text" size="10" id="date_to" name="smartreport[date_to]" value="<?php echo substr($this->getDummyBlock()->getVariable('date_to'), 0, 10); ?>">
        <img src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>" class="v-middle" id="img_calendar_date_to" style="margin-right: 20px;" />
        <script type="text/javascript">
            Calendar.setup({
                inputField : 'date_to',
                ifFormat : '%Y-%m-%e',
                button : 'img_calendar_date_to',
                align : 'Bl',
                singleClick : true
            });
        </script>
    </span>
    <?php echo $this->__('Group by'); ?> <select name="smartreport[group_by_date]" id="smart_report_group_by_date">
        <?php foreach($this->getDummyBlock()->getGoupByDateOptions() as $option): ?>
            <option <?php echo ($option['value'] == $this->getVariable('group_by_date') ? ' selected ' : ''); ?> value="<?php echo $option['value']; ?>"><?php echo $this->__($option['label']); ?></option>
        <?php endforeach; ?>
    </select>

    <button  title="Apply" type="button" class="scalable save" onclick="submitReportFilters(<?php echo ($this->getDummyBlock()->isFormLess() ? 'true' : 'false'); ?>, '<?php echo $this->getDummyBlock()->getAjaxUrl(); ?>', '<?php echo $this->getDummyBlock()->getContainer(); ?>');" style="margin-right: 20px;"><span><span><span><?php echo $this->__('Apply'); ?></span></span></span></button>

    <?php foreach($this->getDummyBlock()->getAdditionalButtons() as $button): ?>
        <?php echo $button; ?>
    <?php endforeach; ?>

    <?php if (!$this->getDummyBlock()->isFormLess()): ?></form><?php endif; ?>


<?php if(!empty($tabs)): ?>
    <ul id="<?php echo $this->getId() ?>" class="tabs-horiz">
        <?php foreach ($tabs as $_tab): ?>
            <li>
                <a href="<?php echo $this->getTabUrl($_tab)?>" id="<?php echo $this->getTabId($_tab) ?>" title="<?php echo $this->getTabTitle($_tab) ?>" class="tab-item-link <?php echo $this->getTabClass($_tab) ?><?php if (preg_match('/\s?ajax\s?/', $this->getTabClass($_tab))) {?> notloaded<?php }?>">
                    <span><span class="changed" title="<?php echo $this->__('The information in this tab has been changed.') ?>"></span><span class="error" title="<?php echo $this->__('This tab contains invalid data. Please solve the problem before saving.') ?>"></span><?php echo $this->getTabLabel($_tab) ?></span>
                </a>
                <div id="<?php echo $this->getTabId($_tab) ?>_content" style="display:none"><?php echo $this->getTabContent($_tab) ?></div>
            </li>
        <?php endforeach; ?>
    </ul>
    <script type="text/javascript">

        <?php echo $this->getId() ?>JsTabs = new varienTabs('<?php echo $this->getId() ?>', '<?php echo $this->getDestElementId() ?>', '<?php echo $this->getActiveTabId() ?>', <?php echo $this->getAllShadowTabs()?>);
    </script>
<?php endif; ?>
<div id="tabs_container" style="align-content: center;">

</div>

</div>

<script>
    window.onload = function(e) {
        document.fire('dom:loaded');
    }

</script>

