<div align="right">
    <button title="Apply" type="button" class="scalable" onclick="setLocation('<?php echo $this->getPrintReceiptUrl(); ?>');" style="margin-right: 20px;"><span><span><span><?php echo $this->__('Print Z-report (receipt format)'); ?></span></span></span></button>
</div>

<p>&nbsp;</p>

<table class="smart-report-grid">
    <?php foreach($this->getReportData() as $sections): ?>
        <?php foreach ($sections as $section): ?>
            <tr>
                <?php if ($section['value'] == ''): ?>
                    <th colspan="2"><?php echo $this->__($section['title']); ?></th>
                <?php else: ?>
                    <td><b><?php echo $this->__($section['title']); ?></b></td>
                    <td><?php echo $section['value']; ?></td>
                <?php endif; ?>
            </tr>
        <?php endforeach; ?>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
    <?php endforeach; ?>
</table>