<?php if ($this->getFacebookPixelID()) { ?>
    <!-- This code has been moved to GTM -->
<!--noscript><p style="display:none;" ><img height="1" alt="" width="1" style="display:none"
src="https://www.facebook.com/tr?id=<?php //echo $this->getFacebookPixelID() ?>&ev=PageView&noscript=1&a=<?php //echo $this->getFacebookAgentVersion() ?>"
/></p></noscript-->
<?php }?>