<script type="text/javascript">
    jQuery(document).ready(function($){
        var recentlyViewedWrapper = document.getElementById("recently-viewed-wrapper");
        var productId = '';
        var recentlyViewedProductId = document.getElementById("recently-viewed-product-id");
        if (recentlyViewedProductId) {
            productId = recentlyViewedProductId.value;
        }

        $.ajax({
            type: "POST",
            url: '<?php echo $this->getUrl('opentechizcustom/recentlyViewed/ajaxGetProducts') ?>',
            data: {productId: productId},
            success: function(respone) {
                if (respone.html != '') {
                    recentlyViewedWrapper.insert(respone.html);

                    $('.js-viewed').slick({
                        accessibility: false,
                        draggable: false,
                        slidesToShow: 4,
                        adaptiveHeight: true,
                        infinite: false,
                        nextArrow: '<button type="button" class="slick-next" aria-label="Next"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" viewBox="0 0 98.384 59.337"><path d="M98.384 10.257L88.126 0 49.19 38.936 10.257 0 0 10.257l49.08 49.08.11-.11.112.11"/></svg></button>',
                        prevArrow: '<button type="button" class="slick-prev" aria-label="Previous"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" viewBox="0 0 98.384 59.337"><path d="M98.384 10.257L88.126 0 49.19 38.936 10.257 0 0 10.257l49.08 49.08.11-.11.112.11"/></svg></button>',
                        responsive: [
                            {
                                breakpoint: 1325,
                                settings: {
                                    slidesToShow: 3
                                }
                            },
                            {
                                breakpoint: 1050,
                                settings: {
                                    slidesToShow: 2
                                }
                            },
                            {
                                breakpoint: 720,
                                settings: {
                                    slidesToShow: 1,
                                    arrows: false,
                                    centerMode: true,
                                    centerPadding: '20px'
                                }
                            }
                        ]
                    });

                    var recentlyViewed = document.getElementById('recently-viewed-products');
                    var recentlyViewedTab = document.getElementById('recently-tab');
                    var footer = document.getElementsByClassName('footer-wrapper')[0];

                    window.addEventListener('scroll', recentlyPosition);

                    recentlyPosition();

                    function recentlyPosition() {
                        let bottomPosition = document.documentElement.scrollTop + document.documentElement.clientHeight;
                        if (bottomPosition >= footer.offsetTop) {
                            recentlyViewed.addClassName('footer-block');
                        } else {
                            recentlyViewed.removeClassName('footer-block');
                        }
                    }

                    <?php if (!Mage::getStoreConfig('catalog/recently_products/recently_viewed_state')): ?>
                        let date = new Date();
                        WindowUtilities.setCookie('', ['recently_viewed', date, '/']);
                    <?php endif; ?>
                    var cookie = WindowUtilities.getCookie('recently_viewed');
                    if (cookie != null) {
                        if (cookie == 'opened') {
                            recentlyViewed.addClassName('slide-up');
                        }
                    } else {
                        <?php if (Mage::getStoreConfig('catalog/recently_products/recently_viewed_expand')): ?>
                            recentlyViewed.addClassName('slide-up');
                        <?php endif; ?>
                        <?php if (Mage::getStoreConfig('catalog/recently_products/recently_viewed_state')): ?>
                            let date = new Date();
                            date.setFullYear(date.getFullYear() + 1);
                            WindowUtilities.setCookie('opened', ['recently_viewed', date, '/']);
                        <?php endif; ?>
                    }

                    recentlyViewedTab.onclick = function(){
                        recentlyViewed.classList.toggle('slide-up');
                        <?php if (Mage::getStoreConfig('catalog/recently_products/recently_viewed_state')): ?>
                            let date = new Date();
                            date.setFullYear(date.getFullYear() + 1);
                            if (recentlyViewed.hasClassName('slide-up')) {
                                WindowUtilities.setCookie('opened', ['recently_viewed', date, '/']);
                            } else {
                                WindowUtilities.setCookie('closed', ['recently_viewed', date, '/']);
                            }
                        <?php endif; ?>
                    };
                }
            }
        });
    });
</script>
