<div class="rewards-cartpoints-spender-box-content">
    <div class="content">
        <form name="ordersedit_edit_form" id="ordersedit_edit_form">
            <div class="cartSlider">
                <?php
                echo $this->getChildHtml("rewards_redemption");
                ?>
            </div>
        </form>
    </div>
</div>
