<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('catalog')->__('Add/Update IP') ?></h4>
    </div>
	<div style="margin-top:20px;"><label for="name">IP Address</label><input type="text" class="input-text" id="ip_address" name="ip_address" style="margin-left:60px" value="<?php echo $this->getIpAddress();?>" size=75></div>
	
	<div style="margin-top:20px;"><label for="description">Description</label><input type="text" class="input-text" id="description" name="description" value="<?php echo $this->getDescription();?>" style="margin-left:67px" size=75></div>
	
	<div style="margin-top:20px;"><label>Status</label><select name="status" id="status" class="select" style="margin-left:87px;width:150px;">
	<option value="0" <?php if($this->getStatus()==0):?>selected<?php endif;?>>Disable</option>
	<option value="1" <?php if($this->getStatus()==1):?>selected<?php endif;?>>Enable</option>
	</select>
	</div>
</div>
<?php //echo $this->getCheck();?>

