<?php 
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Social
 */
$_imageUrl = $this->getImageUrl();
if ($_imageUrl):
?>
    <div class="amsocial-side-image">
        <a href="#" onclick="amsocialPopupShow(); return false;"><img src="<?php echo $_imageUrl; ?>" /></a>
    </div>
<?php endif; ?>