<div style="width:100%" class="purchase-email">
    <table class="items" cellpadding="0" cellspacing="0" border="0">

        <thead>
        <tr class="headings">
            <th class="cell-name align-left">Product</th>
            <th class="cell-name align-left">Supplier Code</th>
            <th class="cell-name align-left">Requested Quantity</th>
            <th class="cell-name align-left">Delivered Qty</th>
            <th class="cell-name align-left">Image</th>
            <th class="cell-name align-left">Note</th>
        </tr>
        </thead>
        <tbody>
        <?php print_r(Mage::helper('opentechiz_purchase')->getOrderItems()); ?>

    </table>
</div>