<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml(); ?></div>
<div class="page-title">
	<h1 style="float:left;"><?php echo Mage::helper('testimonials')->__('Testimonials'); ?></h1>
	<span style="float:right;"><button type="submit" title="Submit" class="button" onclick="javascript:allTestimonials();"><span><span>View All Testimonials</span></span></button></span>
</div>
<form action="<?php echo $this->getFormAction(); ?>" id="testimonialForm" method="post">
	<div class="fieldset">
		<h2 class="legend"><?php echo Mage::helper('testimonials')->__('Testimonial Information'); ?><span style="margin-left:5px; font:12px Arial,Helvetica,sans-serif;" id="pspoint">(Earn <b>5,00 Reward Points</b> for writing a review!)</span></h2>
		<ul class="form-list">
			<li class="fields">
				<div class="field">
					<label for="name" class="required"><em>*</em><?php echo Mage::helper('testimonials')->__('Name'); ?></label>
					<div class="input-box">
						<input name="name" id="name" title="<?php echo Mage::helper('testimonials')->__('Name'); ?>" class="input-text required-entry" type="text" value="<?php echo Mage::getSingleton('customer/session')->getCustomer()->getName(); ?>" />
					</div>
				</div>
				<div class="field" style="margin-top:9px">
					<label for="email" class="required"><em>*</em><?php echo Mage::helper('testimonials')->__('Email'); ?></label>
					<div class="input-box">
						<input name="email" id="email" title="<?php echo Mage::helper('testimonials')->__('Email'); ?>" class="input-text required-entry validate-email" type="text" value="<?php echo Mage::getSingleton('customer/session')->getCustomer()->getEmail(); ?>" />
					</div>
				</div>
				<div class="field" style="margin-top:9px">
					<label for="rating" class="required"><em>*</em><?php echo Mage::helper('testimonials')->__('Rating'); ?></label>
					<div class="input-box">
						<select name="rating" id="rating" title="<?php echo Mage::helper('testimonials')->__('Rating'); ?>" class="input-text required-entry" <!--onchange="showhpart(this.value);"-->>
							<option value=''>Select Rating</option>
							<option value='1'>1</option>
							<option value='2'>2</option>
							<option value='3'>3</option>
							<option value='4'>4</option>
							<option value='5'>5</option>
						</select>
					</div>
				</div>
			</li>
			<li class="wide" style="margin-top:10px">
				<label for="content" class="required"><em>*</em><?php echo Mage::helper('testimonials')->__('Your Testimonial'); ?></label>
				<div class="input-box">
					<textarea name="content" id="content" title="<?php echo Mage::helper('testimonials')->__('Your Testimonial'); ?>" class="required-entry input-text" cols="5" rows="3"></textarea>
				</div>
			</li>
			<li>
				<div class="field" style="margin-top:9px">
					<img src="/captcha/index/getcaptch/rand/<?php echo rand(); ?>rand=<?php echo rand(); ?>" id="captchaimg" style="margin-bottom:5px; border: 1px solid #3D8889;">
					<span id="captcha-loader" style="display:none; margin-top:10px;"><img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif'); ?>" class="v-middle" alt="" /></span>
					<br>
					<label for='message' class="required"><em>*</em>Enter code</label>
					<div class="input-box">
						<input id="6_letters_code" name="6_letters_code" type="text" class="input-text required-entry"><br>
						<small style="color:#555555; font-size:0.9em; font-style:italic;">Can't read the image? click <a href='javascript:refreshCaptcha();'>here</a> to refresh</small>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div id="testi-button" style="clear:both; float:left; margin:0 0 0 25px; text-align:right;">
		<!--<p class="required"><?php echo Mage::helper('testimonials')->__('* Required Fields'); ?></p>-->
		<button type="submit" title="<?php echo Mage::helper('testimonials')->__('Submit'); ?>" class="button" <?php if(!Mage::helper('customer')->isLoggedIn()) { ?>onclick="socialLogin.open(); return false;"<?php } ?>><span><span><?php echo Mage::helper('testimonials')->__('Submit'); ?></span></span></button>
	</div>
</form>
<script type="text/javascript">
//<![CDATA[
    var testimonialForm = new VarienForm('testimonialForm', true);
//]]>
</script>
<script type="text/javascript">
function refreshCaptcha() {
	jQuery('#captcha-loader').show();
	var url = "/captcha/index/getcaptch";
	req = new Ajax.Request(url,{
		parameters:{},
		onSuccess:function(t) {
			jQuery('#captcha-loader').hide();
		}
	});
	var img = document.images['captchaimg'];
	img.src = "/captcha/index/getcaptch/rand/"+Math.random()*1000;
}
function allTestimonials()
{
	//window.location.href = "<?php echo $this->getUrl('testimonials');?>";
	window.location.href = "<?php echo Mage::getBaseUrl().'customer-review-testimonials.aspx';?>";
}
</script>
