
<?php 
$cnt = count($this->getSidebarTestimonials());
if($cnt > 0 ): 
$i= 0;
$averageR = 0;
foreach ($this->getSidebarTestimonials() as $item)
{
	 $averageR = $averageR + $item->getRating();
}
$average = number_format(($averageR/$cnt),1);
$display = false;

?>
<?php if($display==true) { ?>
 <!-- Google Rich Snnipt Static code Start Here -->
<div class="rich-snnipt">
 <a href="/testimonials/">
  <div xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Review-aggregate">
         <span class="snnipt-head">
          <span property="v:itemreviewed">Customer Rating</span>
                <span rel="v:rating">
                    <span typeof="v:Rating">
                        <span property="v:average"><?php echo $average; ?></span> /
                        <span property="v:best">5</span>
                     </span>
                 </span>
             </span>
             <span class="stars"><span style="width:90%;"></span></span>
             <span property="v:votes">
              <span class="based-on">Based on</span>
                <span itemprop="count"><?php echo $cnt; ?></span></span>
                <span class="ratings">Votes</span> 
                <span class="and">&amp;</span>
                <span class="count"><?php echo $cnt; ?></span> user reviews.
             </span>
         </div>
 </a>
</div>
<!-- Google Rich Snnipt Static code Ends Here -->
<?php } ?>

<div class="testimonials">
	<div class="test-heading"><label for="testimonials">Testimonials</label></div>
	<div class="testimonials-comments">
		<ul id="scroller">
	 <?php foreach ($this->getSidebarTestimonials() as $item): ?>  
		
		<?php 
			$arry = explode(' ',$item->getName()); 
			$firstname = $arry[0];
		?>	 	 
			<li>
				<?php echo '&ldquo;'.$item->getContent().'&rdquo;'; ?> <br/>
			<strong><?php   echo $firstname; ?></strong>	
			</li>
			<?php if($i==20) break; $i++;?>
		<?php endforeach;  ?> 
		
		</ul>
		<a class="read-all" title="Read More" href="<?php echo Mage::getBaseUrl();?>customer-review-testimonials.aspx<?php //echo $this->getUrl('testimonials');?>"></a>
	</div>   
</div>
<?php endif; ?>



<script type="text/javascript">
(function(jQuery) {
	jQuery(function() { //on DOM ready
		jQuery("#scroller").simplyScroll({
			customClass: 'vert',
			orientation: 'vertical',
            auto: false,
            manualMode: 'loop',
			frameRate: 20,
			speed: 10

		});
	});
})(jQuery);
</script>


