<?php print $this->getLayout()->createBlock('core/messages')->toHtml(); ?>
<div class="testimonials">
	<h1><?php echo $this->__('Customer Testimonials'); ?></h1>
	<div class="submit">
		<button type="submit" title="Submit" class="button" onclick="<?php if($this->helper('customer')->isLoggedIn()) { ?>javascript:window.location.href='<?php echo $this->getUrl('testimonials/submit'); ?>';<?php } else { ?>'<?php Mage::getSingleton('core/session')->setPopupRedirectValue(Mage::helper('core/url')->getCurrentUrl()); ?>'; ajaxpage('<?php echo Mage::getBaseUrl(); ?>sociallogin/popup/ajaxpopup'); return false;<?php } ?>">
			<span><span>Submit Your Testimonial</span></span>
		</button>
	</div>
	<?php if($this->getPagerHtml($this->getTestimonials())): ?>
	<div class="pages">
		<?php echo $this->getPagerHtml($this->getTestimonials()); ?>
	</div>
	<?php endif; ?>
	<?php
	$_collections = $this->getTestimonials();
	$_productCollection = $this->getCollection($_collections);
	foreach($_collections as $_product):
	$arry = explode(' ',$_product->getName());
	$firstname = $arry[0];
	?>
	<div class="client">
		<p><?php echo '&ldquo;'.$_product->getContent().'&rdquo;'; ?></p>
		<div class="name"><?php echo $firstname; ?> <span style="font-weight:normal">(<?php echo date("jS M, Y",Mage::getModel('core/date')->timestamp(strtotime($_product->getCreatedTime()))); ?>)</span></div>
		<span class="url"><a href="<?php echo $_product->getUrl(); ?>"><?php echo $_product->getUrl(); ?></a></span>
	</div>
	<?php endforeach; ?>
	<?php if($this->getPagerHtml($this->getTestimonials())): ?>
	<div class="pages">
		<?php echo $this->getPagerHtml($this->getTestimonials()); ?>
	</div>
	<?php endif; ?>
	<br/>
	<hr />
	<div class="topic-block2">
		<strong>If you would like to add anything or if you have comments or questions to our staff please contact us at <a href="mailto:customerservice@ItsHot.com">customerservice@ItsHot.com</a> or call us toll-free in US: 1-866-423-6262, outside US: 212-398-3123.<br />Our regular office hours are Mon-Fri 10am-9pm EST.<br /><br />ItsHot.com<br />2 West 46th St., Suite 602<br />New York, NY 10036<br />866-423-6262 Toll-Free in US<br />212-398-3123 Phone<br />212-575-8723 Fax</strong>
	</div>
	<div class="submit">
		<button type="submit" title="Submit" class="button" onclick="<?php if($this->helper('customer')->isLoggedIn()) { ?>javascript:window.location.href='<?php echo $this->getUrl('testimonials/submit'); ?>';<?php } else { ?>'<?php Mage::getSingleton('core/session')->setPopupRedirectValue(Mage::helper('core/url')->getCurrentUrl()); ?>'; ajaxpage('<?php echo Mage::getBaseUrl(); ?>sociallogin/popup/ajaxpopup'); return false;<?php } ?>">
			<span><span>Submit Your Testimonial</span></span>
		</button>
	</div>
	<br/>
</div>
<script type="text/javascript">
jQuery("#customer-review").click(function() {
	jQuery("#div-customer-review-content").toggle('slow');
});
</script>
