<?php $isLogin = $this->helper('customer')->isLoggedIn();?>

<?php if(!$isLogin){?>	
	<button id="bt-loginaol-popup" class="bt-login-social" title="<?php echo $this->__('Login by AOL') ?>" onclick="alLogin()" >
		<span><span><?php echo $this->__('AOL Sign in') ?></span></span>
	</button>
    <script type="text/javascript">
    var newwindow;
    var intId;
    function alLogin(){
        var  screenX    = typeof window.screenX != 'undefined' ? window.screenX : window.screenLeft;
        var	 screenY    = typeof window.screenY != 'undefined' ? window.screenY : window.screenTop;
        var	 outerWidth = typeof window.outerWidth != 'undefined' ? window.outerWidth : document.body.clientWidth;
        var	 outerHeight = typeof window.outerHeight != 'undefined' ? window.outerHeight : (document.body.clientHeight - 22);
        var	 width    = 500;
        var	 height   = 270;
        var	 left     = parseInt(screenX + ((outerWidth - width) / 2), 10);
        var	 top      = parseInt(screenY + ((outerHeight - height) / 2.5), 10);
        var	 features = (
                'width=' + width +
                ',height=' + height +
                ',left=' + left +
                ',top=' + top
              );
    
        newwindow=window.open('<?php echo $this->getCheckName() ?>','Login_by_aol',features);
    
        if (window.focus) {
            newwindow.focus()
        }
        return false;
    }
    </script>
   
<?php } ?>