<?php
/**
 * @see rewite template page\template\links.phtml
 */
?>
<?php
       if(!isset($_SESSION))session_start();
       Mage::getSingleton('core/session')->setSocialCurrentpage(Mage::helper('core/url')->getCurrentUrl());?>
<?php $check = Mage::helper('sociallogin')->getShownPositions();?>
<?php $arrayButton = $this->makeArrayButton(); $temp = $arrayButton; ?>
<?php $numberShow = $this->getNumberShow();?>
<?php $countAll = 0;?>
<?php $countMain = 0;?>
<?php $count = 0;?>	
	<div id="magestore-popup" style="display: none; text-align: left;">
        <div class="border-popup">
            <div id="sociallogin-close-popup" title="Close" style="font-weight:bold;font-size:11px;color:#f18200"></div>
            <div id="magestore-login-form" style="float: left">
                <h3 class="magestore-loign-h3"><?php echo $this->__("Sign in") ?></h3>
                <div id="sociallogin-forgot" style="display: none">
                    <span class="sociallogin-forgot-content"><?php echo $this->__('Please enter your email below and we will send you a new password.');?></span>
                </div>
                <!-- formm Login -->
                <form id="magestore-sociallogin-form" class="magestore-login-form-popup">
                    <!-- email -->
                    <div class="magestore-login-input-box">
                        <label class="required login-label" for="email">
                            <?php echo $this->__('Email Address ');?><em>*</em>
                        </label>
                        <div class="sociallogin-input-box">
                            <input id="magestore-sociallogin-popup-email" class="input-text required-entry validate-email" type="text" title="Email Address" value="" name="socialogin_email">
                        </div>
                    </div>
                    <!-- password -->
                    <div id="magestore-sociallogin-password" class="magestore-login-input-box">
                        <label class="required login-label" for="pass">
                            <?php echo $this->__('Password ');?><em>*</em>
                        </label>
                        <div class="sociallogin-input-box">
                            <input type="password" id="magestore-sociallogin-popup-pass" class="input-text required-entry validate-password" title="Password" value="" name="socialogin_password">
                        </div>
                    </div>
                    <!-- image ajax -->
                    <div id="progress_image_login" class="ajax-login-image" style="display: none">
                    </div>
                    <!-- error invalid email -->
                    <div id="magestore-invalid-email" class="magestore-invalid-email"></div>
                    <!-- sumbit -->

                    <div class="magestore-login-popup-button" style="width:100%;">
                        <button id="magestore-button-sociallogin" class="button popup_click_btn" name="send" title="Login" type="button">
                            <span><span><?php echo $this->__('Login')?></span></span>
                        </button>
                        <div class="pass-register">
                            <a id="magestore-forgot-password" href="javascript:void(0);"><?php echo $this->__('Forgotten') ?></a><span style="float: left">&nbsp; | &nbsp;</span>
                        <a id="magestore-sociallogin-create-new-customer" href="javascript:void(0);"><?php echo $this->__('Register Now') ?></a>
                        </div>
                    </div>
                </form>
                <!-- form forgot -->
                <form id="magestore-sociallogin-form-forgot" class="magestore-login-form-popup" style="display: none">
                    <div class="magestore-login-input-box">
                        <label class="required login-label" for="email">
                            <?php echo $this->__('Email Address ');?><em>*</em>
                        </label>
                        <div class="sociallogin-input-box">
                            <input id="magestore-sociallogin-popup-email-forgot" class="input-text required-entry validate-email" type="text" title="Email Address" value="" name="socialogin_email_forgot">
                        </div>
                    </div>
                    <!-- image ajax -->
                    <div id="progress_image_login_forgot" class="ajax-login-image" style="display: none">
                    </div>
                    <!-- error invalid email -->
                    <div id="magestore-invalid-email-forgot" class="magestore-invalid-email"></div>
                    <!-- sumbit -->
                    <div class="magestore-login-popup-button">
                        <button id="magestore-button-sociallogin-forgot" class="button popup_click_btn" title="<?php echo $this->__('Send Password');?>" type="button">
                            <span><span><?php echo $this->__('Send Password')?></span></span>
                        </button>
                        <a id="magestore-forgot-back" href="javascript:void(0);"><?php echo $this->__('Back to Form Login') ?></a>
                    </div>
                </form>
            </div>
            <!-- create new user -->
            <div id="magestore-create-user" style="float: left; display: none" >
                <h3 class="magestore-loign-h3"><?php echo $this->__("Create New Account") ?></h3>
                <form id="magestore-sociallogin-form-create" class="magestore-login-form-popup">
                    <ul class="form-list">
                        <li class="form-inline">
                            <div class="name-firstname sociallogin-field form-group">
                                <label class="required" for="firstname"><?php echo $this->__('First Name ');?><em>*</em></label>
                                <input id="socialogin.firstname" class="input-text required-entry" type="text" title="First Name" value="" name="firstname">
                            </div>
                            <div class="name-lastname sociallogin-field  form-group right">
                                <label class="required" for="lastname"><?php echo $this->__('Last Name ');?><em>*</em></label>
                                    <input id="socialogin.lastname" class="input-text required-entry" type="text" title="Last Name" value="" name="lastname">
                            </div>
                        </li>
                        <li class="form-inline">
                            <div class="sociallogin-field  form-group email">
                                <label class="required" for="email"><?php echo $this->__('Email ');?><em>*</em></label>
                                    <input id="socialogin.email" class="input-text required-entry validate-email" type="text" title="Email" value="" name="email">
                            </div>
                        </li>
                        <li class="form-inline">
                            <div class="form-group sociallogin-field">
                                <label class="required" for="pass"><?php echo $this->__('New Password ');?><em>*</em></label>
                                    <input id="socialogin.pass" class="input-text required-entry validate-password" type="password" title="Pass" value="" name="pass">
                            </div>
                            <div class="sociallogin-field  form-group  right">
                                <label class="required" for="pass-confirm"><?php echo $this->__('Confirm Password');?><em>*</em></label>
                                    <input id="socialogin.pass.confirm" class="input-text required-entry validate-cpassword" type="password" title="Pass Confirm" value="" name="passConfirm">
                            </div>
                        </li>
                    </ul>
                    <!-- image ajax -->
                    <div id="progress_image_login_create" class="ajax-login-image" style="display: none">
                    </div>
                    <!-- error invalid create ACC -->
                    <div id="magestore-invalid-create" class="magestore-invalid-email"></div>
                    <div class="magestore-create-popup-button">
                        <button id="magestore-button-sociallogin-create" class="button popup_click_btn" style="margin-left: 137px" title="<?php echo $this->__('Submit');?>" type="button">
                            <span><span><?php echo $this->__('Submit')?></span></span>
                        </button>
                        <a id="magestore-create-back" href="javascript:void(0);"><?php echo $this->__('Back to Form Login') ?></a>
                    </div>
                </form>
            </div>
            <!-- end code create account -->
            <!-- social login -->
            <div id="magestore-login-social">
                <h3 class="magestore-loign-h3"><?php echo $this->__("Sign in with");?></h3>
                <!-- default -->
                <ul class="magestore-login-social">
                <?php foreach($arrayButton as $key => $button):?>
                    <?php $check =$button['check'];?>
                    <?php if($check): unset($temp[$key]);?>
                        <li class="button popup"> <?php echo $button['button']?> </li>
                        <script type="text/javascript">
                            if($('<?php echo $button['id'] ?>' ))
                            $('<?php echo $button['id'] ?>').addClassName('visible');
                        </script>
                        <?php ++$countMain ;?>
                    <?php endif;?>
                    <?php if($countMain == $numberShow){break;} ?>
                <?php endforeach;?>
                </ul>
                <a id="sociallogin-other-a-popup" style="text-decoration: none;">
                    <span class="sociallogin-other-span-img-popup"></span>
                    <span class="sociallogin-other-span" style="float: right"><?php echo $this->__('Other Login') ?></span>
                </a>
            </div>
            <?php if(count($temp)):?>
                <?php $noEmpty = false;?>
                <?php foreach($temp as $tem):?>
                <?php if($tem['check']):?>
                <?php $noEmpty = true;?>
                <?php endif;?>
                <?php endforeach;?>
                <?php if($noEmpty):?>
                <!-- other login -->
                <div class="sociallogin-other"  style="text-align: right;">
                    <div id="sociallogin-other-div-popup">
                        <div id="sociallogin-other-div-popup-hover" style="float: right; display: block;">
                            <ul class="sociallogin-other-button-popup" id="sociallogin-other-button-popup" style="display:none;">
                            <?php foreach($temp as $button):?>
                                <?php $check = $button['check']; ?>
                                <?php if($check): $count ++;?>
                                    <li class="button other-button"> <?php echo $button['button'] ?> </li>
                                    <script type="text/javascript">
                                        $('<?php echo $button['id'] ?>').addClassName('non-visible');
                                    </script>
                                <?php endif;?>
                            <?php endforeach;?>
                            </ul>
                        </div>
                    </div>
                </div>
                    <script type="text/javascript">
                        $("sociallogin-other-a-popup").observe('click', function() {
                            if(this.hasClassName('active')){
                                this.removeClassName('active');
                                $('sociallogin-other-button-popup').style.display = 'none';
                            }else{
                                this.addClassName('active');
                                $('sociallogin-other-button-popup').style.display = 'block';
                            }
                        });
                    </script>
                <?php endif; ?>
                <?php endif; ?>
        </div>
	</div>

	<script type="text/javascript">
	try{
		<?php if (in_array("popup", Mage::helper('sociallogin')->getShownPositions())):?>
			var links = document.links;
			for (i = 0; i < links.length; i++) {
                        if (links[i].href.search('/customer/account/login/') != -1 && links[i].href.search('/customer/account/login/#') == -1) {
                            links[i].href = 'javascript:socialLogin.open();$("magestore-create-back").click();';
                            Event.observe(links[i], 'click', function () {
                                $('magestore-login-social').style.display = "block";
                                if ($('sociallogin-other-a-popup')) $('sociallogin-other-a-popup').style.display = "block";
                                $('magestore-popup').style.width="706px";
                            });
                        }
                        if (links[i].href.search('/customer/account/create/') != -1 && links[i].href.search('/customer/account/create/#') == -1) {
                            links[i].href = 'javascript:socialLogin.open();$("magestore-sociallogin-create-new-customer").click();';
                            Event.observe(links[i], 'click', function () {
                                $('magestore-login-social').style.display = "block";
                                if ($('sociallogin-other-a-popup')) $('sociallogin-other-a-popup').style.display = "block";
                                $('magestore-popup').style.width="706px";
                            });
                        }
                        if (links[i].href.search('/wishlist/') != -1) {
                            links[i].href = 'javascript:socialLogin.open();';
                            Event.observe(links[i], 'click', function () {
                                $('magestore-login-social').style.display = "block";
                                if ($('sociallogin-other-a-popup')) $('sociallogin-other-a-popup').style.display = "block";
                                $('magestore-popup').style.width="706px";
                            });
                        }
                        if (links[i].href.search('/customer/account/') != -1 && !links[i].down('span') && links[i].href.search('/customer/account/login/#') == -1) {
                            links[i].href = 'javascript:socialLogin.open();';
                            Event.observe(links[i], 'click', function () {
                                $('magestore-login-social').style.display = "block";
                                if ($('sociallogin-other-a-popup')) $('sociallogin-other-a-popup').style.display = "block";
                                $('magestore-popup').style.width="706px";
                                });
                        }
                    }
		
		if(document.getElementById('product_comparison')){
			var links = document.links;
			for (i = 0; i < links.length; i++) {
				if (links[i].href.search('/wishlist/') != -1) {		
					links[i].href = 'javascript:socialLogin.open();';
				}
			}
		}
		<?php endif; ?>
		if(document.getElementById("checkout-step-login"))
		{
			$$('.col-2 .buttons-set').each(function(e) {
			e.insert({bottom: '<div id="multilogin"> <button type="button" class="button" style="" onclick="javascript:socialLogin.open();" title="Social Login" name="headerboxLink1" id="headerboxLink1"><span><span>Social Login</span></span></button></div>'});
			});
		}
	}catch(exception)
	{ alert(exception);}		
	</script>
	
	<script type="text/javascript">
		socialLogin = new Lightboxsocial('magestore-popup');
		Event.observe(window, 'load', function () {
			Event.observe('bg_fade', 'click', function () {
				socialLogin.close();
			}); 
		});
		Event.observe('sociallogin-close-popup', 'click', function () {
			socialLogin.close();
		}); 
		document.observe("dom:loaded", function() {
		var magestorePopupSocial = $('magestore-popup_social');
		
		Event.observe(window, 'resize', function () { 		
			socialLogin._centerWindow('magestore-popup');
			socialLogin._centerWindow('magestore-popup_social');
		});	
		});
	</script>
	
	<script type="text/javascript">
	function checkHttps(requestUrl){
		if(window.location.href.match('https://') && !requestUrl.match('https://'))
			requestUrl = requestUrl.replace('http://','https://');
		if(!window.location.href.match('https://') && requestUrl.match('https://'))
			requestUrl = requestUrl.replace('https://','http://');
		return requestUrl;
	}
	Event.observe(window, 'load', function() {
		var options = {					
			email: document.getElementById('magestore-sociallogin-popup-email').value,
			pass : document.getElementById('magestore-sociallogin-popup-pass').value,
			login_url  : checkHttps("<?php echo $this->getUrl().'sociallogin/popup/login';?>"),
			send_pass_url : checkHttps("<?php echo $this->getUrl().'sociallogin/popup/sendPass';?>"),
			create_url : checkHttps("<?php echo $this->getUrl().'sociallogin/popup/createAcc';?>"),
		};
		Login = new LoginPopup(options);	
	 }); 		
	</script>

