<?php
$productCollection = $this->getProductCollection();
$resource = Mage::getSingleton('core/resource');
$readConnection = $resource->getConnection('core_read');
$query = 'SELECT * FROM tsht_product_listing_price';
$results = [];
foreach ($readConnection->fetchAll($query) as $result){
    $results[$result['product_id']] = $result['price'];
}

if ($productCollection->count()):
    ?>
    <table align="center" cellpadding="1" cellspacing="1" height="195" width="599">
        <thead>
            <tr>
                <th class="cell-name" colspan="4">
                    <?php echo $this->__('Recommended products for you '); ?>
                </th>
            </tr>
            </thead>
        <tbody>
        
        <tr>
            <?php
            $i = 0;
            foreach ($productCollection as $_product):
                if($_product->getSku()=='quotation')
                    continue;
                $image = Mage::helper('catalog/image')->init($_product, 'thumbnail')->resize(144, 144);
                $productName = $_product->getName();
                if (strlen($productName) > 40) {
                    $s = substr($productName, 0, 38);
                    $productName = trim(substr($s, 0, strrpos($s, ' '))) . '..';

                }
//                if(Mage::helper('personalizedproduct')->isPersonalizedProduct($_product->getId())){
//                    $price =  Mage::helper('personalizedproduct/personalizedPriceHelper')->getDefaultPersonalizedPrice($_product->getId());
//                }else{
//                    $price = $_product->getSpecialPrice();
//                }
                $price = $results[$_product->getId()];
                ?>
                <td valign="top" style="text-align:center;">
                    <span style="font-size:12px;">
                        <span style="font-family:arial,helvetica,sans-serif;">
                            <a href="<?php echo $_product->getProductUrl() ?>" target="_blank"><img src="<?php echo $image ?>" height="144" width="144" style="border-width:1px; border-style:solid; margin-top:1px; margin-bottom:1px;" /></a>
                            <br/>
                            <?php echo trim($productName) ?>
                            <br/>
                            <span style="color:#FF0000; font-weight:bold;">
                                <?php echo Mage::helper('core')->currency($price, true, false) ?>
                            </span>
                        </span>
                    </span>
                </td>
                <?php
                if ((($i + 1) % 4) == 0) {
                    echo '</tr><tr>';
                }
                $i++;
            endforeach;
            ?>
        </tr>
    </tbody>
    </table>
    <?php
endif;