<?php
$collection = $this->getCollection();
$filterData = $this->getFilterData();
?>
<style>
    body{
        background: #efefef !important;
    }
    .supplier-main a{
        color: #9c1818 !important;
    }
    .supplier-wapper{
        margin: 0 auto;
        max-width: 100%;
        background-color: white;
    }
    .supplier-top-bar{
        color:white;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: #9c1818;
        border-color: #9c1818;
    }
    input[type=text],input[type=date], select{
        display: block;
        width: 100%;
        min-width: 50px;
        height: 34px;
        padding: 6px 6px;
        font-size: 14px;
        line-height: 1.42857;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #e3e3e3;
        border-radius: 2px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.025);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.025);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    .supplier-top-bar a{
        color: white;
    }
    .top-links{
        display: flex;
    }
    .supplier-main{
        padding: 20px;
    }
    legend{
        font-size: 20px;
        border-bottom: 1px solid wheat;
        width: 100%;
        margin: 10px 0px;
    }
    .filter-table td{
        padding: 5px 0;
    }
    .filter-label{
        padding-right: 20px;
        width: 150px;
    }
    th .both {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAkElEQVQoz7X QMQ5AQBCF4dWQSJxC5wwax1Cq1e7BAdxD5SL+Tq/QCM1oNiJidwox0355mXnG/DrEtIQ6azioNZQxI0ykPhTQIwhCR+BmBYtlK7kLJYwWCcJA9M4qdrZrd8pPjZWPtOqdRQy320YSV17OatFC4euts6z39GYMKRPCTKY9UnPQ6P+GtMRfGtPnBCiqhAeJPmkqAAAAAElFTkSuQmCC");
    }

    th .asc {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZ0lEQVQ4y2NgGLKgquEuFxBPAGI2ahhWCsS/gDibUoO0gPgxEP8H4ttArEyuQYxAPBdqEAxPBImTY5gjEL9DM+wTENuQahAvEO9DMwiGdwAxOymGJQLxTyD+jgWDxCMZRsEoGAVoAADeemwtPcZI2wAAAABJRU5ErkJggg==);
    }

    th .desc {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZUlEQVQ4y2NgGAWjYBSggaqGu5FA/BOIv2PBIPFEUgxjB+IdQPwfC94HxLykus4GiD+hGfQOiB3J8SojEE9EM2wuSJzcsFMG4ttQgx4DsRalkZENxL+AuJQaMcsGxBOAmGvopk8AVz1sLZgg0bsAAAAASUVORK5CYII=);
    }

    .filter-submit-btn{
        padding: 10px;
        background-color: #9c1818;
        border-color: #9c1818;
        color: white;
        border: none;
        border-radius: 2px;
    }
    .supplier-purchase-products{
        margin-top: 40px;
    }
    .supplier-purchase-products-table{
        margin: 20px 0;
        width: 100%;
    }
    .supplier-purchase-products-table th, .supplier-purchase-products-table td{
        text-align: center;
        padding: 10px;
    }
    .supplier-purchase-products-table th{
        font-weight: bold;
        border-bottom: 2px solid #9c1818;
    }
    .supplier-purchase-products-table td{
        border-bottom: 1px solid #e66868;
    }
    .pagenavi{
        display: flex;
        margin-top: 20px;
    }
    .pagenavi li{
        font-size: 18px;
        padding: 10px;
    }
    .action-btn {
        display: flex;
        align-items: center; 
        justify-content: flex-end
    }
    #supplier-purchase-orders-form button[type=submit] {
        padding: 10px;
        background-color: #9c1818;
        border-color: #9c1818;
        color: white;
        border: none;
        border-radius: 2px;
    }
    .sortable {
        display: inline-block;
        background-position: center right;
        background-repeat: no-repeat;
        padding-right: 24px;
        text-decoration: none;
    }
    .shipped_qty{
        width: 64px !important;
        height: 32px !important;
    }
    .current_page{
        width: 64px !important;
        height: 34px;
        border: 1px solid #e3e3e3;
        border-radius: 2px;
    }
    .page-navi{
        padding: 0 10px;
    }
    .item-options{
        display: flex;
        flex-direction: column;
    }
</style>
<div class="supplier-wapper">
    <div class="supplier-top-bar">
        <div class="top-message top-item"><b>Hello</b> <?php echo $this->getName() ?>,</div>
        <ul class="top-links top-item">
            <li><a href="<?php echo $this->getUrl('*/*/logout') ?>" title="Logout">Logout</a></li>
        </ul>
    </div>
    <div class="supplier-main">
        <div class="supplier-filter">
            <fieldset>
                <legend>Filter Purchase Order</legend>
                <form action="<?php echo $this->getFilterUrl() ?>" method="post">
                    <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
                    <table class="filter-table">
                        <tr>
                            <td class="filter-label">PO#</td>
                            <td colspan="2"><input type="text" name="filter[po_increment_id]" value="<?php echo isset($filterData['po_increment_id']) ? $filterData['po_increment_id'] : '' ?>"/></td>
                        </tr>
                        <tr>
                            <td class="filter-label">Order Date</td>
                            <td>From:<br/> <input id="order_date_from" autocomplete="off" type="text" class="date" placeholder="mm/dd/yyyy" name="filter[order_date_from]" style="width: 90%" value="<?php echo isset($filterData['order_date_from']) ? $filterData['order_date_from'] : '' ?>"/></td>
                            <td>To: <br/> <input id="order_date_to" autocomplete="off" type="text" class="date" placeholder="mm/dd/yyyy" name="filter[order_date_to]" style="width: 90%" value="<?php echo isset($filterData['order_date_to']) ? $filterData['order_date_to'] : '' ?>"/></td>
                        </tr>
                        <tr>
                            <td class="filter-label">Estimate time to delivery</td>
                            <td>From:<br/> <input id="delivery_date_from" autocomplete="off" type="text" class="date" placeholder="mm/dd/yyyy" name="filter[delivery_date_from]" style="width: 90%" value="<?php echo isset($filterData['delivery_date_from']) ? $filterData['delivery_date_from'] : '' ?>"/></td>
                            <td>To: <br/> <input id="delivery_date_to" autocomplete="off" type="text" class="date" placeholder="mm/dd/yyyy" name="filter[delivery_date_to]" style="width: 90%" value="<?php echo isset($filterData['delivery_date_to']) ? $filterData['delivery_date_to'] : '' ?>"/></td>
                        </tr>
                        <tr>
                            <td class="filter-label">Supplier SKU</td>
                            <td colspan="2"><input type="text" name="filter[supplier_sku]" value="<?php echo isset($filterData['supplier_sku']) ? $filterData['supplier_sku'] : '' ?>"/></td>
                        </tr>
                        <tr>
                            <td class="filter-label">ItsHot SKU</td>
                            <td colspan="2"><input type="text" name="filter[itshot_sku]" value="<?php echo isset($filterData['itshot_sku']) ? $filterData['itshot_sku'] : '' ?>"/></td>
                        </tr>
                        <tr>
                            <td class="filter-label">Status</td>
                            <td colspan="2">
                                <select name="filter[status]"/>
                        <option value="">Please select status</option>
                        <?php foreach (Mage::helper('opentechiz_purchase')->getPurchaseOrderStatus() as $k => $v) : ?>
                            <option <?php if (isset($filterData['status']) && $filterData['status'] != "" && $k == $filterData['status']): ?>selected=""<?php endif; ?> value="<?php echo $k ?>"><?php echo $v ?></option>
                        <?php endforeach; ?>
                        </select>
                        </td>
                        </tr>
                    </table>
                    <div style="margin-top: 10px">
                        <button class="filter-submit-btn" type="submit">Find</button> | <a href="<?php echo $this->getUrl('*/*/') ?>" title="Reset Filter"  class="filter-submit-btn" style="color:white !important; padding: 11px 10px; text-decoration: none">Reset Filter</a>
                    </div>
                </form>
            </fieldset>
        </div>
        <div class="supplier-purchase-products">
            <fieldset>
                <legend>Purchase Orders</legend>
                <div class="supplier-purchase-products-content">
                    <?php if ($collection->count() > 0): ?>
                        <form id="supplier-purchase-orders-form" action="<?php echo $this->getUrl('*/*/save') ?>" method="post">
                            <div style="display: flex; justify-content: space-between">
                                <div style="display: flex; align-items: center">
                                    <span>Page 
                                        <?php if ($this->getCurrentPage() > 1): ?>
                                            <a href="<?php echo $this->getFilterUrl(array('page' => ($this->getCurrentPage() - 1))) ?>" title="Next Page" class="page-navi"><</a>
                                        <?php endif ?>
                                        <input onkeydown="return event.key != 'Enter';"  type="number" data-target="<?php echo $this->getFilterUrl(array('page' => "page_number")) ?>" max="<?php echo $this->getTotalPage() ?>" min="1" value="<?php echo $this->getCurrentPage() ?>" class="current_page"/> 
                                        <?php if ($this->getCurrentPage() < $this->getTotalPage()): ?>
                                            <a href="<?php echo $this->getFilterUrl(array('page' => ($this->getCurrentPage() + 1))) ?>" title="Previous Page" class="page-navi">></a>
                                        <?php endif ?>
                                        of <?php echo $this->getTotalPage() ?></span>
                                    <span style="padding: 0 10px">|</span>
                                    <div style="display: flex; align-items: center">
                                        <span>View</span>
                                        <select style="margin: 0 5px;" class="limit">
                                            <option <?php if ($this->getLimit() == 10): ?>selected="" <?php endif; ?>value="<?php echo $this->getFilterUrl(array('limit' => 10)) ?>">10</option>
                                            <option <?php if ($this->getLimit() == 20): ?>selected=""<?php endif; ?>value="<?php echo $this->getFilterUrl(array('limit' => 20)) ?>">20</option>
                                            <option <?php if ($this->getLimit() == 50): ?>selected=""<?php endif; ?>value="<?php echo $this->getFilterUrl(array('limit' => 50)) ?>">50</option>
                                            <option <?php if ($this->getLimit() == 100): ?>selected=""<?php endif; ?>value="<?php echo $this->getFilterUrl(array('limit' => 100)) ?>">100</option>
                                            <option <?php if ($this->getLimit() == 200): ?>selected=""<?php endif; ?>value="<?php echo $this->getFilterUrl(array('limit' => 200)) ?>">200</option>
                                        </select>
                                        <span>per page</span>
                                    </div>
                                    <span style="padding: 0 10px">|</span>
                                    <span>Total <?php echo $this->getTotalRowsFound() ?> records found</span>
                                </div>
                                <div class="action-btn">
                                    <?php if ($this->canShowCompleted()): ?>
                                        <a style="display: flex; align-items: center;" href="<?php echo $this->getShowCompleteUrl() ?>">
                                            <input class="showCompleteCheckbox" type="checkbox" <?php if ($this->IsShowCompleted()): ?>checked=""<?php endif ?>/> <span style="padding: 0 5px;">Show Complete</span>
                                        </a><span style="padding: 0 10px">|</span>
                                    <?php endif ?>
                                    <div style="padding: 0 10px">
                                        <label for="shipment_ref_global">Shipment Ref: </label>
                                        <input style="width: 150px;display: inline-block;" class="" id="shipment_ref_global" type="text" name="shipment_ref_global" value="" />
                                    </div>
                                    <button type="submit">Save All</button>
                                </div>
                            </div>
                            <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
                            <table class="supplier-purchase-products-table">
                                <tr>
                                    <th><a class="sortable <?php if ($this->_getSession()->getOrderBy() == 'po_increment_id'): ?><?php echo $this->_getSession()->getOrderDir() ?><?php else: ?>both<?php endif ?>" href="<?php echo $this->getFilterUrl(array('order_by' => 'po_increment_id', 'order_dir' => $this->_getSession()->getOrderDir() == 'asc' ? 'desc' : 'asc')) ?>">PO#<a></th>
                                                <!-- start PO -->
                                    <th><a class="sortable <?php if ($this->_getSession()->getOrderBy() == 'created_at'): ?><?php echo $this->_getSession()->getOrderDir() ?><?php else: ?>both<?php endif ?>" href="<?php echo $this->getFilterUrl(array('order_by' => 'created_at', 'order_dir' => $this->_getSession()->getOrderDir() == 'asc' ? 'desc' : 'asc')) ?>">Order Date</a></th>
                                    <th><a class="sortable <?php if ($this->_getSession()->getOrderBy() == 'status'): ?><?php echo $this->_getSession()->getOrderDir() ?><?php else: ?>both<?php endif ?>" href="<?php echo $this->getFilterUrl(array('order_by' => 'status', 'order_dir' => $this->_getSession()->getOrderDir() == 'asc' ? 'desc' : 'asc')) ?>">Status</a></th>
                                    <th>Confirmed</th>
                                    <th><a class="sortable <?php if ($this->_getSession()->getOrderBy() == 'delivery_date'): ?><?php echo $this->_getSession()->getOrderDir() ?><?php else: ?>both<?php endif ?>" href="<?php echo $this->getFilterUrl(array('order_by' => 'delivery_date', 'order_dir' => $this->_getSession()->getOrderDir() == 'asc' ? 'desc' : 'asc')) ?>">Delivery By</a></th>
                                    <!-- end PO -->
                                    <!-- Start PO Item -->
                                    <th>Thumbnail Image</th>
                                    <th>Product Name/ Info</th>
                                    <th>Supplier SKU</th>
                                    <th>ItsHot SKU</th>
                                    <th>Qty</th>
                                    <th>Shipped QTY</th>
                                    <th>Shipment Ref</th>
                                    <th>Shipment Date</th>
                                    <th>Delivered Qty</th>
                                    <th>Note</th>
                                    <!-- Header End PO Item -->
                                </tr>
                                    <?php foreach ($collection as $po):
                                        $items = Mage::getModel('opentechiz_purchase/orderitem')->getCollection()->addFieldToFilter('po_id', $po->getId());
                                        $rowspan = $items->count();
                                        $i = 1;
                                        if ($po->getStatus() == OpenTechiz_Purchase_Helper_Data::PO_STATUS_COMPLETE || $po->getStatus() == OpenTechiz_Purchase_Helper_Data::PO_STATUS_CANCEL){
                                            $is_allow_input = false;
                                        }else{
                                            $is_allow_input = true;
                                        }
                                            foreach ($items as $item):
                                            $_product = Mage::getModel('catalog/product')->load($item->getProductId());
                                            $_supplierProduct = Mage::getModel('opentechiz_purchase/productsupplier')->load($item->getProductId(), 'product_id');
                                            $_product->setSku($item->getSku()); 
                                            $imageUrl = Mage::helper('catalog/image')->init($_product, 'thumbnail')->resize(120, 120);
                                            if (array_key_exists($po->getStatus(), Mage::helper('opentechiz_purchase')->getPurchaseOrderStatus())) {
                                                $po_status = Mage::helper('opentechiz_purchase')->getPurchaseOrderStatus($po->getStatus());
                                            }else{
                                                $po_status = "N/A";
                                            }
                                    ?>
                                        <tr>
                                            <!-- DATA PUCHASE ORDER -->
                                            <?php if ($i == 1): ?>
                                                <td <?php if ($rowspan > 1): ?>rowspan="<?php echo $rowspan ?>"<?php endif ?>><?php echo $po->getPoIncrementId() ?></td>
                                                <td <?php if ($rowspan > 1): ?>rowspan="<?php echo $rowspan ?>"<?php endif ?>><?php echo Mage::getModel('core/date')->gmtDate('m/d/Y', strtotime($po->getCreatedAt())); ?></td>
                                                <td <?php if ($rowspan > 1): ?>rowspan="<?php echo $rowspan ?>"<?php endif ?>><?php echo $po_status ?></td>
                                                <td <?php if ($rowspan > 1): ?>rowspan="<?php echo $rowspan ?>"<?php endif ?>>
                                                    <input value="1" id="confirmed_<?php echo $po->getId() ?>" name="purchases[<?php echo $po->getId() ?>][confirmed]" <?php if ($po->getConfirmed()): ?>checked=""<?php endif ?> <?php if ($po->getStatus() != 0 || $po->getConfirmed()): ?>readonly="" disabled=""<?php endif; ?> type="checkbox"/>
                                                </td>
                                                <td <?php if ($rowspan > 1): ?>rowspan="<?php echo $rowspan ?>"<?php endif ?>><?php echo Mage::getModel('core/date')->gmtDate('m/d/Y', strtotime($po->getDeliveryDate())); ?></td>
                                            <?php endif ?>
                                            <!-- END SHOW DATA PUCHASE ORDER -->
                                            <!-- SHOW DATA PURCHASE ORDER ITEMS -->
                                                <td><img style="width: 100px" src="<?php echo Mage::helper('catalog/image')->init($_product, 'thumbnail'); ?>" title="<?php echo $_product->getName() ?>"></td>
                                                <td style="text-align: initial">
                                                    <b><?php echo $_product->getName() ?></b>
                                                    <div style="color: gray; margin-top: 3px">
                                                        <?php echo Mage::helper('opentechiz_inventory')->getItemOption(unserialize($item->getOption()), $item->getSku()); ?>
                                                    </div>
                                                </td>
                                                <td><?php echo $_supplierProduct->getSupSku() ?></td>
                                                <td><?php echo Mage::helper('opentechiz_purchase')->getTagSku($item->getSku()) ?></td>
                                                <td><?php echo $item->getQty() ?></td>
                                                <td>
                                                    <input  
                                                    onchange="validateDataSave(this)" 
                                                    data-purchase-id="<?php echo $po->getId() ?>" 
                                                    data-item-id="<?php echo $item->getId() ?>" 
                                                    type="number" 
                                                    class="shipped_qty" 
                                                    max="<?php echo $item->getQty() ?>" 
                                                    min="0" 
                                                    name="purchases[<?php echo $po->getId() ?>][items][<?php echo $item->getId() ?>][shipped_qty]" 
                                                    value="<?php echo $item->getShippedQty() ?>" 
                                                    <?php if (!$is_allow_input): ?> 
                                                        readonly="" 
                                                        disabled=""
                                                    <?php endif; ?>
                                                    />
                                                </td>
                                                <td>
                                                    <input style="width: 150px;" 
                                                    class="" 
                                                    id="shipment_ref_<?php echo $item->getId() ?>" 
                                                    type="text" 
                                                    name="purchases[<?php echo $po->getId() ?>][items][<?php echo $item->getId() ?>][shipment_reference]" 
                                                    value="<?php echo $item->getShipmentReference() ?>" 
                                                    <?php if (!$is_allow_input || !$item->getShippedQty()): ?> 
                                                        readonly="" 
                                                        disabled=""
                                                    <?php endif; ?>
                                                     />
                                                </td>
                                                <td>
                                                    <input id="shipped_date_<?php echo $item->getId() ?>" style="width: 100px;" id="" <?php if ($item->getShipmentDate()): ?>value="<?php echo date('m/d/Y', strtotime($item->getShipmentDate())); ?>"<?php endif ?> name="purchases[<?php echo $po->getId() ?>][items][<?php echo $item->getId() ?>][shipment_date]" class="date" placeholder="mm/dd/yyyy" type="text" <?php if ($po->getStatus() == 1 || $po->getStatus() == 3): ?>readonly="" disabled=""<?php endif; ?>/>
                                                    <script>
                                                        Calendar.setup({
                                                            inputField: 'shipped_date_' + <?php echo $item->getId() ?>,
                                                            ifFormat: '%m/%d/%Y',
                                                            button: 'delivery_date_to_trig',
                                                            align: 'Bl',
                                                            singleClick: true
                                                        });
                                                    </script>
                                                </td>
                                                <td><?php echo $item->getDeliveredQty() ?></td>
                                                <td><?php echo $item->getNote() ?></td>
                                                <td>
                                                    <input type="checkbox" class="item_selected" id="item_selected_<?php echo $item->getId() ?>" name="purchases[<?php echo $po->getId() ?>][items][<?php echo $item->getId() ?>][item_selected]">
                                                </td>
                                        </tr>
                                        <?php $i ++;endforeach; ?><!-- End each SHOW DATA PURCHASE ORDER ITEMS -->
                                <?php endforeach; ?> <!-- End each SHOW DATA PURCHASE ORDER -->
                            </table>
                            <div style="display: flex; justify-content: space-between">
                                <div style="display: flex; align-items: center">
                                    <span>Page 
                                        <?php if ($this->getCurrentPage() > 1): ?>
                                            <a href="<?php echo $this->getFilterUrl(array('page' => ($this->getCurrentPage() - 1))) ?>" title="Next Page" class="page-navi"><</a>
                                        <?php endif ?>
                                        <input onkeydown="return event.key != 'Enter';" type="number" data-target="<?php echo $this->getFilterUrl(array('page' => "page_number")) ?>" max="<?php echo $this->getTotalPage() ?>" min="1" value="<?php echo $this->getCurrentPage() ?>" class="current_page"/> 
                                        <?php if ($this->getCurrentPage() < $this->getTotalPage()): ?>
                                            <a href="<?php echo $this->getFilterUrl(array('page' => ($this->getCurrentPage() + 1))) ?>" title="Previous Page" class="page-navi">></a>
                                        <?php endif ?>
                                        of <?php echo $this->getTotalPage() ?></span>
                                    <span style="padding: 0 10px">|</span>
                                    <div style="display: flex; align-items: center">
                                        <span>View</span>
                                        <select style="margin: 0 5px;" class="limit">
                                            <option <?php if ($this->getLimit() == 10): ?>selected="" <?php endif; ?>value="<?php echo $this->getFilterUrl(array('limit' => 10)) ?>">10</option>
                                            <option <?php if ($this->getLimit() == 20): ?>selected=""<?php endif; ?>value="<?php echo $this->getFilterUrl(array('limit' => 20)) ?>">20</option>
                                            <option <?php if ($this->getLimit() == 50): ?>selected=""<?php endif; ?>value="<?php echo $this->getFilterUrl(array('limit' => 50)) ?>">50</option>
                                            <option <?php if ($this->getLimit() == 100): ?>selected=""<?php endif; ?>value="<?php echo $this->getFilterUrl(array('limit' => 100)) ?>">100</option>
                                            <option <?php if ($this->getLimit() == 200): ?>selected=""<?php endif; ?>value="<?php echo $this->getFilterUrl(array('limit' => 200)) ?>">200</option>
                                        </select>
                                        <span>per page</span>
                                    </div>
                                    <span style="padding: 0 10px">|</span>
                                    <span>Total <?php echo $this->getTotalRowsFound() ?> records found</span>
                                </div>
                                <div class="action-btn">
                                    <?php if ($this->canShowCompleted()): ?>
                                        <a style="display: flex; align-items: center;" href="<?php echo $this->getShowCompleteUrl() ?>">
                                            <input class="showCompleteCheckbox" type="checkbox" <?php if ($this->IsShowCompleted()): ?>checked=""<?php endif ?>/> <span style="padding: 0 5px;">Show Complete</span>
                                        </a><span style="padding: 0 10px">|</span>
                                    <?php endif ?>
                                    <button type="submit">Save All</button>
                                </div>
                            </div>
                        </form>
                    <?php else: ?>
                        <div>
                            <?php if ($this->canShowCompleted()): ?>
                                <a style="display: inline-block; align-items: center; margin: 10px 0;" href="<?php echo $this->getShowCompleteUrl() ?>">
                                    <input class="showCompleteCheckbox" type="checkbox" <?php if ($this->IsShowCompleted()): ?>checked=""<?php endif ?>/> <span style="padding: 0 5px;">Show Complete</span>
                                </a>
                            <?php endif ?>
                            <p>Not found any purchase orders</p>
                        </div>
                    <?php endif ?>
                </div>
            </fieldset>
        </div>
    </div>
</div> 
<script>
    var dataForm = new VarienForm('supplier-purchase-orders-form');
    function validateDataSave(element){
        var item_id = $j(element).attr('data-item-id');
        var po_id = $j(element).attr('data-purchase-id');
        var confirmed = '#confirmed_' + po_id;
        var shipment_ref = '#shipment_ref_' + item_id;
        if ($j(element).val() == 0 || $j(element).val() == '') {
            $j(confirmed).prop('checked',false);
            $j(shipment_ref).prop('readonly',true);
            $j(shipment_ref).prop('disabled',true);
        }else{
            $j(confirmed).prop('checked',true);
            $j(shipment_ref).prop('readonly',false);
            $j(shipment_ref).prop('disabled',false);
        }
    }

    $j('.showCompleteCheckbox').click(function () {
        var href = $j(this).parent('a').attr('href');
        window.location.href = href;
    });
    $j('select.limit').change(function () {
        var href = $j(this).children("option:selected").val();
        window.location.href = href;
    });
    $j('input.current_page').change(function () {
        var href = $j(this).data('target');
        window.location.href = href.replace('page_number', $j(this).val());
    });
    Calendar.setup({
        inputField: 'order_date_from',
        ifFormat: '%m/%d/%Y',
        button: 'order_date_from_trig',
        align: 'Bl',
        singleClick: true
    });
    Calendar.setup({
        inputField: 'order_date_to',
        ifFormat: '%m/%d/%Y',
        button: 'order_date_to_trig',
        align: 'Bl',
        singleClick: true
    });
    Calendar.setup({
        inputField: 'delivery_date_from',
        ifFormat: '%m/%d/%Y',
        button: 'delivery_date_from_trig',
        align: 'Bl',
        singleClick: true
    });
    Calendar.setup({
        inputField: 'delivery_date_to',
        ifFormat: '%m/%d/%Y',
        button: 'delivery_date_to_trig',
        align: 'Bl',
        singleClick: true
    });
</script>