<style>
    body{
        background: #efefef !important;
    }
    .content-login{
        display: flex;
        flex-direction: column;
        max-width: 350px;
        margin: 0 auto;
    }
    #login-form{
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: white;
    }
    #login-form label {
        margin-top: 15px;
        font-weight: bold;
        font-size: 14px;
    }
    #login-form input{
        display: block;
        width: 100%;
        min-width: 50px;
        height: 34px;
        padding: 6px 6px;
        font-size: 14px;
        line-height: 1.42857;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #e3e3e3;
        border-radius: 2px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.025);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.025);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    #login-form button[type=submit] {
        color: #fff;
        background-color: #9c1818;
        border-color: #9c1818;
        padding: 10px;
        border-radius: 2px;
    }
    .header-login{
        text-align: center;
        background-color: #9c1818;
        border-color: #9c1818;
        padding: 20px
    }
</style>
<div class="content-login">
    <div class="header-login">
        <img src="<?php echo $this->getSkinUrl('images/logo_unirgy.png') ?>" />
    </div>
    <form action="<?php echo $this->getUrl('supplier/supplier/loginPost') ?>" method="post" id="login-form">
        <div style="text-align: center">
            <h2 style='font-family: "Lato", sans-serif; font-size: 20px'>Supplier Portal</h2>
        </div>
        <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
        <label for="username">Username</label>
        <input type="text" name="login[username]" id="username" placeholder="Username" class="required-entry" value="" autofocus="" />
        <label for="password">Password </label>
        <input type="password" name="login[password]" id="password" class="required-entry" value="" />
        <br/>
        <button type="submit">Login</button>
    </form>   
</div>
<script type="text/javascript">
    var dataForm = new VarienForm('login-form', true);
</script>
