<div class="entry-edit">
	<div class="entry-edit-head">
		<h4 class="icon-head head-edit-form fieldset-legend"><?php echo Mage::helper('emailnotify')->__('Add/Update Email'); ?></h4>
	</div>
	<div style="margin-top:20px;"><label for="name">Email Address</label><input type="text" class="input-text" id="email_address" name="email_address" style="margin-left:60px" value="<?php echo $this->getEmailAddress(); ?>" size=75></div>
	<div style="margin-top:20px;"><label for="description">Email Description</label><input type="text" class="input-text" id="email_description" name="email_description" value="<?php echo $this->getEmailDescription(); ?>" style="margin-left:67px" size=75></div>
	<div style="margin-top:20px;">
		<label>Status</label>
		<select name="status" id="status" class="select" style="margin-left:87px; width:150px;">
			<option value="0" <?php if($this->getStatus()==0): ?>selected<?php endif; ?>>Disable</option>
			<option value="1" <?php if($this->getStatus()==1): ?>selected<?php endif; ?>>Enable</option>
		</select>
	</div>
</div>
