<?php 
/**
* @author Amasty Team
* @copyright Copyright (c) 2010-2011 Amasty (http://www.amasty.com)
* @package Amasty_Social
*/
?>
<iframe id="amsocial_iframe" src="" class="amsocial-iframe" scrolling="auto"></iframe>
<script type="text/javascript">
var amSocialIframeUrl = '<?php echo $this->getIframeUrl(); ?>';
</script>