<?php
$orderItems = Mage::helper('opentechiz_reportExtend')->getReorderData();
?>
<div class="sale_report">
    <div class="hor-scroll">
        <table class="data" id="itemGrid_table" cellspacing="0" border="1">
            <colgroup>
                <col class="a-center" width="20">
                <col width="100">
                <col width="100">
                <col width="40">
                <col width="40">
                <col width="40">
                <col width="80">
                <col width="80">
                <col width="100">
                <col width="80">
                <col width="80">
                <col width="100">
                <col width="200">
                <col width="100">
                <col width="20">
            </colgroup><thead>
            <tr class="headings">
                <th><span class="nobr"><span class="sort-title">Order Id</span></span></th>
                <th><span class="nobr"><span class="sort-title">Image</span></a></span></th>
                <th><span class="nobr"><span class="sort-title">SKU</span></span></th>
                <th><span class="nobr"><span class="sort-title">QTY</span></span></th>
                <th><span class="nobr"><span class="sort-title">Reorder Point</span></span></th>
                <th><span class="nobr"><span class="sort-title">In Open Orders</span></span></th>
                <th><span class="nobr"><span class="sort-title">Sales Price</span></span></th>
                <th><span class="nobr"><span class="sort-title">Last Cost</span></span></th>
                <th><span class="nobr"><span class="sort-title">Last Cost Date</span></span></th>
                <th><span class="nobr"><span class="sort-title">3MS/RET</span></span></th>
                <th><span class="nobr"><span class="sort-title">12MS/RET</span></span></th>
                <th><span class="nobr"><span class="sort-title">Other Variant in Stock</span></span></th>
                <th><span class="nobr"><span class="sort-title">Manufacturing</span></span></th>
                <th><span class="nobr"><span class="sort-title">Shipped/Delivered</span></span></th>
                <th><span class="nobr"><span class="sort-title">Close Out</span></span></th>
            </tr>
            </thead>

            <tbody>
            <?php foreach ($orderItems as $orderItem){

                ?>
                <tr title="#" class="even pointer">
                    <td class="a-center ">
                        <?php echo $orderItem['order_id'] ?>
                    </td>
                    <td class="a-center ">
                        <img src="<?php echo $orderItem['image'] ?>" width="120px" height="120px">
                    </td>
                    <td class="a-center ">
                        <?php echo $orderItem['sku'] ?>
                    </td>
                    <td class=" ">
                        <?php echo (int)$orderItem['qty'] ?>
                    </td>
                    <td class=" ">
                        <?php echo $orderItem['reorder_point'] ?>
                    </td>
                    <td class=" ">
                        <?php echo $orderItem['in_open_order'] ?>
                    </td>
                    <td class=" ">
                        <?php echo $orderItem['price'] ?>
                    </td>
                    <td class=" ">
                        <?php echo $orderItem['cost'] ?>
                    </td>

                    <td class=" ">
                        <?php echo $orderItem['cost_date'] ?>
                    </td>

                    <td class=" ">
                        <?php echo $orderItem['3m'] ?>
                    </td>

                    <td class="a-center ">
                        <?php echo $orderItem['12m'] ?>                    </td>

                    <td class="a-center ">
                        <?php echo $orderItem['other'] ?>                    </td>
                    <td class="">
                        <?php echo $orderItem['manufacture'] ?>                    </td>
                    <td class="">
                        <?php echo $orderItem['items_delivered'] ?>                    </td>
                    <td class="a-center ">
                        <?php echo $orderItem['close_out'] ?>                    </td>
                </tr>
            <?php } ?>
            </tbody>
        </table>
    </div>
</div>
