<?php
/**
 * Export Product data to xml data
 *
 * @category   OnlineBiz
 * @package    OnlineBiz_Facebookstore
 * @author     Nguyen Viet Tung (http://onlinebizsoft.com)
 */

?>
<div class="clearfix"></div>
<div class="page-title">
    <h1><?php echo $this->__('Forgot Your Password?') ?></h1>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml()?>
<form id="form-validate" method="post" action="<?php echo $this->getUrl('facebookstore/checkout/forgotpassword', array('_secure'=>Mage::app()->getStore()->isCurrentlySecure() ? true : false))?>">
    <div class="">
        <p><?php echo $this->__('Please enter your email below and we will send you a new password.')?></p>
        <ul class="form-list">
            <li>
                <label class="required" for="email_address"><em>*</em><?php echo $this->__('Email Address')?></label>
                <div class="input-box">
                    <input type="text" value="" class="input-text required-entry validate-email" id="email_address" alt="email" name="email">
                </div>
            </li>
        </ul>
    </div>
    <div class="buttons-set">
        <p class="required"><?php echo $this->__('* Required Fields')?></p>
        <button class="button" title="Submit" type="submit"><span><span><?php echo $this->__('Submit')?></span></span></button>
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
//]]>
</script>
