<?php


$baseUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB);
$dailyDealsImage = Mage::getDesign()->getSkinUrl('images/opentechiz/deals/daily-deal.jpg');
$viewDealImage = Mage::getDesign()->getSkinUrl('images/opentechiz/deals/viewdeal.gif');

//Email header
$message = <<<EOD
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org
/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="background-color: #EBEBEB;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="initial-scale=1.0, width=device-width">
</head>
<body style="font-family: Verdana, Arial; font-weight: normal; margin: 0; padding: 0; text-align: left; color: #333333; background-color: #EBEBEB; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; background: #EBEBEB; font-size: 12px;">
<style type="text/css">
/*
// ----------------------------------------------
// Usage example:
// Set the fixed value.
// Then use mixins to test whether styles should be applied.
// ----------------------------------------------


// Renders at fixed value
@include bp (min-width, 300px) {20
    div { color:#000; }
}

// Doesn't render without MQ support
@include bp (min-width, 1200px) {20
    div { color:#FFF; }
}

// Doesn't render without MQ support
@include bp (max-width, 300px) {20
    div { color:#444; }
}

// Renders at fixed value
@include bp (max-width, 1200px) {20
    div { color:#888; }
}

// ----------------------------------------------
*/
/* Font Styles */
/* vietnamese */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 400;
  src: local("Spectral"), local("Spectral-Regular"), url(http://fonts.gstatic.com/s/spectral/v1/fUChy3bNr-hBzt_kEB538hkAz4rYn47Zy2rvigWQf6w.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 400;
  src: local("Spectral"), local("Spectral-Regular"), url(http://fonts.gstatic.com/s/spectral/v1/56Lle1MfnFtd9zNafzmC3RkAz4rYn47Zy2rvigWQf6w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 400;
  src: local("Spectral"), local("Spectral-Regular"), url(http://fonts.gstatic.com/s/spectral/v1/He_vQncVabw6pF26p40JY3YhjbSpvc47ee6xR_80Hnw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* vietnamese */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 600;
  src: local("Spectral SemiBold"), local("Spectral-SemiBold"), url(http://fonts.gstatic.com/s/spectral/v1/1XG3-n_Dmu21VcqB-Cj519DiNsR5a-9Oe_Ivpu8XWlY.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 600;
  src: local("Spectral SemiBold"), local("Spectral-SemiBold"), url(http://fonts.gstatic.com/s/spectral/v1/1XG3-n_Dmu21VcqB-Cj516E8kM4xWR1_1bYURRojRGc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 600;
  src: local("Spectral SemiBold"), local("Spectral-SemiBold"), url(http://fonts.gstatic.com/s/spectral/v1/1XG3-n_Dmu21VcqB-Cj514gp9Q8gbYrhqGlRav_IXfk.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* Media Queries */
/* Setting the Web Font inside a media query so that Outlook doesn't try to render the web font */
@media screen {
  /* line 88, ../scss/email-non-inline.scss */
  .email-heading h1,
  .store-info h4,
  th.cell-name,
  a.product-name,
  p.product-name,
  .address-details h6,
  .method-info h6,
  h5.closing-text,
  .action-button,
  .action-button a,
  .action-button span,
  .action-content h1 {
    font-family: Verdana, Arial !important;
    font-weight: normal;
  }
}
@media screen and (max-width: 600px) {
  /* line 106, ../scss/email-non-inline.scss */
  body {
    width: 94% !important;
    padding: 0 3% !important;
    display: block !important;
  }

  /* line 111, ../scss/email-non-inline.scss */
  .container-table {
    width: 100% !important;
    max-width: 600px;
    min-width: 300px;
  }

  /* line 116, ../scss/email-non-inline.scss */
  td.store-info h4 {
    margin-top: 8px !important;
    margin-bottom: 0px !important;
  }

  /* line 120, ../scss/email-non-inline.scss */
  td.store-info p {
    margin: 5px 0 !important;
  }

  /* line 123, ../scss/email-non-inline.scss */
  .wrapper {
    width: 100% !important;
    display: block;
    padding: 5px 0 !important;
  }

  /* line 128, ../scss/email-non-inline.scss */
  .cell-name,
  .cell-content {
    padding: 8px !important;
  }
}
@media screen and (max-width: 450px) {
  /* line 135, ../scss/email-non-inline.scss */
  .email-heading,
  .store-info {
    float: left;
    width: 98% !important;
    display: block;
    text-align: center;
    padding: 10px 1% !important;
    border-right: 0px !important;
  }

  /* line 144, ../scss/email-non-inline.scss */
  .address-details, .method-info {
    width: 85%;
    display: block;
  }

  /* line 148, ../scss/email-non-inline.scss */
  .store-info {
    border-top: 1px dashed #C3CED4;
  }

  /* line 151, ../scss/email-non-inline.scss */
  .method-info {
    margin-bottom: 15px !important;
  }
}
/* line 159, ../scss/email-non-inline.scss */
.price-box .regular-price .price:before,
.price-box .special-price .price:before {
  content: 'Our Price: ';
}
/* line 165, ../scss/email-non-inline.scss */
.price-box .old-price .price:before {
  content: 'Retail Price: ';
}

/* Remove link color on iOS */
/* line 172, ../scss/email-non-inline.scss */
.no-link a {
  color: #333333 !important;
  cursor: default !important;
  text-decoration: none !important;
}

/* line 178, ../scss/email-non-inline.scss */
.method-info h6,
.address-details h6,
.closing-text {
  color: #333 !important;
}

/* line 183, ../scss/email-non-inline.scss */
td.order-details h3,
td.store-info h4 {
  color: #333333 !important;
}

/* line 187, ../scss/email-non-inline.scss */
.method-info p,
.method-info dl {
  margin: 5px 0 !important;
  font-size: 12px !important;
}

/* line 192, ../scss/email-non-inline.scss */
td.align-center {
  text-align: center !important;
}

/* line 195, ../scss/email-non-inline.scss */
td.align-right {
  text-align: right !important;
}

/* Newsletter styles */
/* line 200, ../scss/email-non-inline.scss */
td.expander {
  padding: 0 !important;
}

/* line 203, ../scss/email-non-inline.scss */
table.button td,
table.social-button td {
  width: 92% !important;
}

/* line 207, ../scss/email-non-inline.scss */
table.facebook:hover td {
  background: #2d4473 !important;
}

/* line 210, ../scss/email-non-inline.scss */
table.twitter:hover td {
  background: #0087bb !important;
}

/* line 213, ../scss/email-non-inline.scss */
table.google-plus:hover td {
  background: #CC0000 !important;
}

/* ========================
==================== *
 * Product Grid
 * ========================
==================== */
@media screen and (max-width: 600px) {
  /* line 222, ../scss/email-non-inline.scss */
  .products-grid tr td {
    width: 50% !important;
    display: block !important;
    float: left !important;
  }
}
/* line 229, ../scss/email-non-inline.scss */
.product-name a:hover {
  color: #9c1818 !important;
  text-decoration: none !important;
}

/*# sourceMappingURL=email-non-inline.css.map */


</style>
<!-- Begin wrapper table --><table width="100%" cellpadding="0" cellspacing="0" border="0" id="background-table" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; padding: 0; margin: 0 auto; background-color: #EBEBEB; font-size: 12px;"><tr>
<td valign="top" class="container-td" align="center" style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0; width: 100%;">
            <table cellpadding="0" cellspacing="0" border="0" align="center" class="container-table" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; padding: 0; margin: 0 auto; width: 600px;">
<tr>
<td style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0; margin: 0;">
                        <table cellpadding="0" cellspacing="0" border="0" class="logo-container" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; padding: 0; margin: 0; width: 100%;"><tr class="header-details" style="background: #B12A21;">
<td class="logo" width="170" style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: middle; padding: 15px 5px; margin: 0; text-align: center; padding-left: 15px; padding-right: 15px;">
                                    <a href="{$baseUrl}" style="color: #333;">
                                        <img width="170" src="{$baseUrl}media/email/logo/default/logo_1.png" alt="Go to ItsHot.com Homepage" border="0" style="-ms-interpolation-mode: bicubic; outline: none; text-decoration: none;"></a>
                                </td>
                                <td class="header-column" style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vert
ical-align: middle; padding: 0; margin: 0; padding-left: 15px; padding-right: 15px; color: #CA9997; font-size: 10px; text-align: center;">
                                    <p style="font-family: Verdana, Arial; font-weight: normal;">
                                        Call Us Toll Free in USA: <b style="color: #fff; font-weight: normal;">1-866-423-6262</b><br>
                                        Outside USA: <b style="color: #fff; font-weight: normal;">1-212-937-7729</b>
                                    </p>
                                </td>
                                <td class="social" style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: middle; padding: 0; margin: 0; padding-left: 15px; padding-right: 15px; text-align: right;">
                                    <a href="" style="color: #333;">
                                        <img class="social-logo" src="{$baseUrl}skin/frontend/ml/itshot/images/email/twitter.png" style="-ms-interpolation-mode: bicubic; margin: 0px 2px; width: 14px; border: none;" width="14" style="margin-right:4px;"></a>
                                    <a href="" style="color: #333;">
                                        <img class="social-logo" src="{$baseUrl}skin/frontend/ml/itshot/images/email/g+.png" style="-ms-interpolation-mode: bicubic; margin: 0px 2px; width: 14px; border: none;" width="14" style="margin-right:4px;"></a>
                                    <a href="" style="color: #333;">
                                        <img class="social-logo" src="{$baseUrl}skin/frontend/ml/itshot/images/email/pinterest.png" style="-ms-interpolation-mode: bicubic; margin: 0px 2px; width: 14px; border: none;" width="14" style="margin-right:4px;"></a>
                                    <a href="" style="color: #333;">
                                        <img class="social-logo" src="{$baseUrl}skin/frontend/ml/itshot/images/email/insta.png" style="-ms-interpolation-mode: bicubic; margin: 0px 2px; width: 14px; border: none;" width="14"></a>
                                </td>
                            </tr></table>
<table cellpadding="0" cellspacing="0" border="0" class="menu-container" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; padding: 0; margin: 0; background: #F2F2F2; width: 100%;"><tr>
<td style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 15px 10px; margin: 0;">
                                    <table cellpadding="0" cellspacing="0" border="0" class="category-container" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; padding: 0; margin: 0; width: 100%;"><tr>
<td style="font-family: 'Spectral', serif; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0 5px; margin: 0; text-transform: uppercase; font-size: 10px; text-align: center; border-right: 1px solid #828282;">
                                                <a href="{$baseUrl}jewelry/mens-diamond-jewelry" style="color: #828282; text-decoration: none;">
                                                    <span>Men</
span>
                                                </a>
                                            </td>
                                            <td style="font-family: 'Spectral', serif; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0 5px; margin: 0; text-transform: uppercase; font-size: 10px; text-align: center; border-right: 1px solid #828282;">
                                                <a href="{$baseUrl}jewelry/womens-diamond-jewelry" style="color: #828282; text-decoration: none;">
                                                    <span>Women</span>
                                                </a>
                                            </td>
                                            <td style="font-family: 'Spectral', serif; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0 5px; margin: 0; text-transform: uppercase; font-size: 10px; text-align: center; border-right: 1px solid #828282;">
                                                <a href="{$baseUrl}watches" style="color: #828282; text-decoration: none;">
                                                    <span>Watches</span>
                                                </a>
                                            </td>
                                            <td style="font-family: 'Spectral', serif; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0 5px; margin: 0; text-transform: uppercase; font-size: 10px; text-align: center; border-right: 1px solid #828282;">
                                                <a href="{$baseUrl}jewelry/bridal" style="color: #828282; text-decoration: none;">
                                                    <span>Bridal</span>
                                                </a>
                                            </td>
                                            <td style="font-family: 'Spectral', serif; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0 5px; margin: 0; text-transform: uppercase; font-size: 10px; text-align: center; border-right: 1px solid #828282;">
                                                <a href="{$baseUrl}jewelry/chains-necklaces" style="color: #828282; text-decoration: none;">
                                                    <span>Chains/Necklaces</span>
                                                </a>
                                            </td>
<td style="font-family: 'Spectral', serif; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0 5px; margin: 0; text-transform: uppercase; font-size: 10px; text-align: center; border-right: 1px solid #828282;">
                                                <a href="{$baseUrl}jewelry/custom-made" style="color: #828282; text-decoration: none;">
                                                    <span>Custom</span>
                                                </a>
                                            </td>
                                            <td class="last" style="font-family: 'Spectral', serif; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 0 5px; margin: 0; text-transform: uppercase; font-size: 10px; text-align: center; border-right: 0;">
                                                <a href="{$baseUrl}clearance-sale" style="color: #828282; text-decoration: none;">
                                                    <span>Clearance</span>
                                                </a>
                                            </td>
                                        </tr></table>
</td>
                            </tr></table>
</td>
                </tr>
<tr>
<td valign="top" class="top-content" style="font-family: Verdana, Arial; font-weight: normal; border-collapse: collapse; vertical-align: top; padding: 5px; margin: 0; background: #FFF;">
                    <!-- Begin Content -->
EOD;

//Content Starts
$message .= <<<EOD
<table cellpadding="0" cellspacing="0" border="0" width="600" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; padding: 0; margin: 0; width: 600px;">
<tr>
<td valign="top" bgcolor="#FFFFFF" align="left" colspan="2">
<img width="600" border="0" height="43" alt="Daily Deals" src="{$dailyDealsImage}"></a>
</td>
</tr>
</table>
EOD;

$message .= '<table width="600" border="0" cellspacing="0" cellpadding="0" class="message">';

//get all deals
$dailydeals = Mage::helper('opentechiz_deals')->getDealProducts(OpenTechiz_Deals_Model_Deal::TYPE_DAILY);
Mage::helper('opentechiz_deals')->addEndDateFilter($dailydeals);
$di = 1;
$countDeal = 0;

foreach($dailydeals as $dailydeal) 
{
    if($di == 1)
    {

      $_product = Mage::getModel('catalog/product')->load($dailydeal->getProductId());
      $image = Mage::helper('catalog/image')->init($_product,'thumbnail')->resize(250,250);
      $productURL = Mage::helper('catalog/product')->getProductUrl($_product->getId());
      $message .= '<tr><td colspan="2">';
      $message .= '<table width="580" cellspacing="0" cellpadding="0" border="0" align="center" style="border:1px solid #AEAEAE;">';
      $message .= '<tr>';
      $message .= '<td width="250" valign="middle">';
      $message .= '<a href="'.$productURL.'"><img src="'.$image.'" width="250" height="250" alt="'.$_product->getName().'" title="'.$_product->getName().'" /></a>';
      $message .= '</td>';
      $message .= '<td width="1" bgcolor="#AEAEAE"></td>';
      $message .= '<td width="327" valign="top"">';
      $message .= '<table width="327" cellspacing="0" cellpadding="0" border="0">';
      $message .= '<tr>';
      $message .= '<td height="30" width="327" bgcolor="#3D3D3D" style="font-size:13px; color:#FFF; font-weight:100; text-align:center;">Hurry, Deal Ends On '.date('M d, Y',Mage::getModel('core/date')->timestamp(strtotime($dailydeal->getCloseTime()))).' at <span style="text-transform:uppercase; font-weight:bold;">'.date('g:i A',Mage::getModel('core/date')->timestamp(strtotime($dailydeal->getCloseTime()))).'</span></td>';
      $message .= '</tr>';
      $message .= '<tr>';
      $message .= '<td height="190" width="327" valign="top">';
      $message .= '<table width="327" cellspacing="0" cellpadding="0" border="0" style="padding:10px;">';
      $message .= '<tr>';
      $message .= '<td width="5"></td>';//for spacing
      $message .= '<td style="padding:10px 0 25px 0px;">';
      $message .= '<a href="'.$productURL.'" style="color:#747474; text-decoration:none; font-size:15px">'.$_product->getName().'</a>';
      $message .= '</td>';
      $message .= '</tr>';
      $message .= '<tr>';
      $message .= '<td width="5"></td>';//for spacing
      $message .= '<td style="padding-bottom:10px; color:#FF0000; font-size:15px">Retail Price: <span style="text-decoration:line-through;"><b>'.Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol().' '.number_format($_product->getPrice(),2,".",",").'</b></span></td>';
      $message .= '</tr>';
      $message .= '<tr>';
      $message .= '<td width="5"></td>';//for spacing
      $message .= '<td style="font-size:15px;">Today\'s Price <b>'.Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol().' '.number_format($_product->getSpecialPrice(),2,".",",").'</b></td>';
      $message .= '</tr>';
      $message .= '</table>';
      $message .= '</td>';
      $message .= '</tr>';
      $message .= '<tr>';
      $message .= '<td height="30" width="327" valign="bottom">';
      $message .= '<table width="327" cellspacing="0" cellpadding="0" border="0">';
      $message .= '<tr>';
      $message .= '<td height="1" width="327" bgcolor="#AEAEAE" colspan="2"></td>';
      $message .= '</tr>';
      $message .= '<tr>';
      $message .= '<td width="186" bgcolor="#FFE3A2" style="padding-left:20px; font-size:16px;">'.round((($_product->getPrice()-$_product->getSpecialPrice())/$_product->getPrice())*100).'% Discount</td>';
      $message .= '<td bgcolor="#ffffff" width="141"><a href="'.$productURL.'"><img height="29" width="121" border="0" alt="View Deal" src="'.$viewDealImage.'"></a></td>';
      $message .= '</tr>';
      $message .= '</table>';
      $message .= '</td>';
      $message .= '</tr>';
      $message .= '</table>';
      $message .= '</td>';
      $message .= '</tr>';
      $message .= '</table>';
      $message .= '</td>';
      $message .= '</tr>';
      $message .= '<tr>';
      $message .= '<td height="5"></td>';
      $message .= '</tr>';
    }
    else
    {
      $_product = Mage::getModel('catalog/product')->load($dailydeal->getProductId());
      $image = Mage::helper('catalog/image')->init($_product,'thumbnail')->resize(280,280);
      if(strlen($_product->getName()) > 30) {
        $ptitle = substr($_product->getName(),0,30).'...';
      }
      else {
        $ptitle = $_product->getName();
      }
      if(($di%2) == 0) {
        $message .= '<tr>'; 
      }
      $productURL = Mage::helper('catalog/product')->getProductUrl($_product->getId());
      $message .= '<td style="padding:8px;">';
      $message .= '<table width="280" cellspacing="0" cellpadding="0" border="0" align="center" style="border:1px solid #AEAEAE;">';
      $message .= '<tr>';
      $message .= '<td height="30" width="280" bgcolor="#3D3D3D" style="font-size:13px; color:#FFF; font-weight:100; text-align:center;">Deal Ends On '.date('M d, Y',Mage::getModel('core/date')->timestamp(strtotime($dailydeal->getCloseTime()))).' at <span style="text-transform:uppercase; font-weight:bold;">'.date('g:i A',Mage::getModel('core/date')->timestamp(strtotime($dailydeal->getCloseTime()))).'</span></td>';
      $message .= '</tr>';
      $message .= '<tr>';
      $message .= '<td><a href="'.$productURL.'"><img src="'.$image.'" width="280" height="280" alt="'.$_product->getName().'" title="'.$_product->getName().'" /></a></td>';
      $message .= '</tr>';
      $message .= '<tr>';
      $message .= '<td valign="top">';
      $message .= '<table width="280" cellspacing="0" cellpadding="0" border="0" style="padding:10px;">';
      $message .= '<tr>';
      $message .= '<td style="padding-bottom:5px;"><a href="'.$productURL.'" style="font-weight:normal; font-size:13px; font-family:lucida sans unicode,lucida grande,sans-serif;color:#747474; text-decoration:none;">'.$ptitle.'</a></td>';
      $message .= '</tr>';
      $message .= '<tr>';
      $message .= '<td style="padding-bottom:5px; color:#FF0000;">Retail Price: <span style="text-decoration:line-through;"><b>'.Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol().' '.number_format($_product->getPrice(),2,".",",").'</b></span></td>';
      $message .= '</tr>';
      $message .= '<tr>';
      $message .= '<td>Today\'s Price <b>'.Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol().' '.number_format($_product->getSpecialPrice(),2,".",",").'</b></td>';
      $message .= '</tr>';
      $message .= '</table>';
      $message .= '</td>';
      $message .= '</tr>';
      $message .= '<tr>';
      $message .= '<td height="30" width="280" valign="bottom">';
      $message .= '<table width="280" cellspacing="0" cellpadding="0" border="0">';
      $message .= '<tr>';
      $message .= '<td height="1" width="280" bgcolor="#AEAEAE" colspan="2"></td>';
      $message .= '</tr>';
      $message .= '<tr>';
      $message .= '<td width="139" bgcolor="#FFE3A2" style="padding-left:20px;">'.round((($_product->getPrice()-$_product->getSpecialPrice())/$_product->getPrice())*100).'% Discount</td>';
      $message .= '<td bgcolor="#ffffff" width="141"><a href="'.$productURL.'"><img height="29" width="121" border="0" alt="View Deal" src="'.$viewDealImage.'"></a></td>';
      $message .= '</tr>';
      $message .= '</table>';
      $message .= '</td>';
      $message .= '</tr>';
      $message .= '</table>';
      $message .= '</td>';
      if(($di%2) == 1 || $di == count($dailydeals)) {
        $message .= '</tr>';
      }
    }
    $di++;
    $countDeal++;
}

$message .= '</table>';

$message .= '<table cellpadding="0" cellspacing="0" border="0" width="600" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; padding: 0; margin: 0; width: 600px;">';

//get best selling products
$fromDate = sprintf("%s 00:00:00", date('Y-m-d', strtotime('-2 day')));
$toDate = sprintf("%s 23:59:59", date('Y-m-d', strtotime('-1 day')));
$storeId = Mage::app()->getStore()->getId();

$products = Mage::getResourceModel('reports/product_collection')
    ->addOrderedQty($fromDate, $toDate)
    ->setStoreId($storeId)
    ->addStoreFilter($storeId)
    ->setOrder('ordered_qty', 'desc'); //best sellers on top

Mage::getSingleton('catalog/product_status')
    ->addVisibleFilterToCollection($products);
Mage::getSingleton('catalog/product_visibility')
    ->addVisibleInCatalogFilterToCollection($products);
$products->setPageSize(12)->setCurPage(1);

$bestsellers = $products->getData();
$pi = 0;

if(count($bestsellers) > 0) {
  
  $message .= '<tr><td bgcolor="#FFFFFF" colspan="2">&nbsp;</td></tr>';
  
  $message .= '<tr><td bgcolor="#FFFFFF" colspan="2" style="border-bottom:1px dotted #AAA;"><span style="margin-left:10px; font-size:16px;"><b style="color:#D40000;">MOST VIEWED</b> ITEMS</span></td></tr>';
  $message .= '<tr><td bgcolor="#fff" colspan="2">';
  
  $message .= '<table width="100%" bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" class="message">';
  foreach($bestsellers as $bestseller) {
    $_pproduct = Mage::getModel('catalog/product')->load($bestseller["entity_id"]);
    $pimage = Mage::helper('catalog/image')->init($_pproduct,'thumbnail')->resize(280,280);
    if(strlen($_pproduct->getName()) > 30) {
      $ptitle = substr($_pproduct->getName(),0,30).'...';
    }
    else {
      $ptitle = $_pproduct->getName();
    }
        
    if(($pi%2) == 0) {
      $message .= '<tr>';
    }
    $productURL = Mage::helper('catalog/product')->getProductUrl($_pproduct->getId());
    $message .= '<td align="center" style="padding:10px;"><a href="'.$productURL.'"><img src="'.$pimage.'" width="280" height="280" /></a><h2 style="background-color:#EEE; border-top:4px solid #000; padding:10px; width:260px; margin:0px;"><a href="'.$productURL.'" style="font-weight:normal; font-size:13px; font-family:lucida sans unicode,lucida grande,sans-serif; color:#000; text-decoration:none;">'.htmlentities($ptitle).'</a></h2></td>';
    if(($pi%2) == 1) {
      $message .= '</tr>';
    }
    if(($pi+1) == count($bestsellers)) {
      if(($pi%2) == 0) {
        $message .= '</tr>';
      }
      break;
    }
    $pi++;
  }
  $message .= '</table>';
  $message .= '</td></tr>';
}

$message .= '<tr>';
$message .= '<td bgcolor="#FFFFFF" colspan="2">&nbsp;</td>';
$message .= '</tr>';
$message .= '</table>';

//Add Category links in email footer
$message .= <<<EOD
<table cellpadding="0" cellspacing="0" border="0" width="600" style="mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse; padding: 0; margin: 0; width: 600px;">
<tr>
  <td colspan="2" valign="top" bgcolor="#FFFFFF" align="center">
  <span style="color:#FF0000; font-weight:bold; font-size:13px;">Find Great Deals on Thousands of Items Storewide:</span>
  <a style="color:#0000FF; font-weight:bold; font-size:13px;" href="http://www.itshot.com">www.ItsHot.com</a>
    </td>
</tr>

</table>
EOD;
      
//email footer
$message .= <<<EOD
<!-- End Content -->
</td>
                </tr>
</table>
EOD;
echo $message;
?>