<?php
/** @var Mirasvit_Credit_Block_Checkout_Cart_Credit $this */
?>

<?php
$_balance = $this->getBalance();
?>
<?php if ($_balance && $_balance->getAmount() > 0): ?>
    <div class="discount">
        <div class="discount-form">
            <p><?php echo Mage::helper('credit')->__('Your current balance is: <b>%s</b>',
                    Mage::helper('core')->currency($_balance->getAmount())) ?></p>

            <input type="hidden" name="remove-credit" id="remove-credit" value="0">

            <div class="buttons-set">
                <?php if ($this->getUsedAmount() == 0 && $this->getAmountToUse() > 0): ?>
                    <button type="button" class="button" onclick="submitCredit(0)">
                    <span><span>
                        <?php echo Mage::helper('credit')->__('Use Store Credit (%s)',
                            strip_tags(Mage::helper('core')->currency($this->getAmountToUse()))) ?>
                    </span></span>
                    </button>
                <?php elseif ($this->getUsedAmount() > 0): ?>
                    <button type="button" class="button" onclick="submitCredit(1)">
                        <span><span><?php echo Mage::helper('credit')->__('Cancel') ?></span></span>
                    </button>
                <?php endif ?>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //<![CDATA[

        Ajax.Responders.register({
            onCreate: function(){
                $$('.credit-checkout-block').forEach(function(element) {
                    element.hide();
                });
            },
            onComplete: function(){
                var skipFirst = true;
                $$('.credit-checkout-block').forEach(function(element) {
                    if (!skipFirst) {
                        element.remove();
                    } else {
                        element.show();
                        skipFirst = false;
                    }
                });
            }
        });
        function submitCredit(isApply) {
            var parameters = {'remove-credit': isApply};
            new Ajax.Request("<?php echo Mage::getUrl('credit/checkout/applyPost') ?>", {
                method: 'post',
                parameters: parameters,
                onSuccess: function (transport) {
                    if (transport.status == 200) {
                        var response = transport.responseText.evalJSON();

                        if (response.success) {
                            window.location.href = window.location.href;
                        }
                    }
                }
            });
        }
        //]]>
    </script>
<?php endif ?>