<?php
/**
 * MageWorx
 * Admin Order Editor extension
 *
 * @category   MageWorx
 * @package    MageWorx_OrdersEdit
 * @copyright  Copyright (c) 2016 MageWorx (http://www.mageworx.com/)
 */
?>
<div class="ordersedit-buttons">
    <button class="f-left mw-cancel-button" type="button" title="<?php echo $this->__('Cancel') ?>" onclick="orderEdit.cancel()">
        <span><span><?php echo $this->__('Cancel') ?></span></span>
    </button>
    <button class="f-right mw-submit-button" type="button" title="<?php echo $this->__('Submit and Apply') ?>" onclick="orderEdit.saveAndApplyOrder()">
        <span><span><?php echo $this->__('Save') ?></span></span>
    </button>
    <button class="f-right mw-submit-button" style="margin-right: 10px" type="button" title="<?php echo $this->__('Submit and Preview') ?>" onclick="orderEdit.saveOrder()">
        <span><span><?php echo $this->__('Preview') ?></span></span>
    </button>
</div>
