<?php
/**
 * MageWorx
 * Admin Order Editor extension
 *
 * @category   MageWorx
 * @package    MageWorx_OrdersEdit
 * @copyright  Copyright (c) 2016 MageWorx (http://www.mageworx.com/)
 */
?>
<?php
/**
 * @see MageWorx_OrdersEdit_Block_Adminhtml_Sales_Order_Edit_Form_Items_Itemsgrid
 * @var MageWorx_OrdersEdit_Block_Adminhtml_Sales_Order_Edit_Form_Items_Itemsgrid $this
 */
?>
<?php
//    var_dump(get_class($this));exit;
?>
<?php $isRepairOrder = $this->isOrderRepair(); ?>
<?php $_items = $this->getItems(); ?>
<?php
$hasReturnFee = false;
foreach ($_items as $item){
    if($item->getSku() == OpenTechiz_Return_Helper_Data::RETURN_FEE_ITEM_SKU){
        $hasReturnFee = true;
    }
}
?>
<?php if (empty($_items)): ?>
    <div class="grid" id="order-items_grid">
        <table cellspacing="0" class="data order-tables">
            <col />
            <col width="100" />
            <col width="40" />
            <col width="100" />
            <col width="80" />
            <col width="100" />
            <?php if(!$isRepairOrder){ ?>
                <col width="80" />
            <?php } ?>
            <thead>
            <tr class="headings">
                <th class="no-link"><?php echo $this->helper('sales')->__('Product') ?></th>
                <th class="no-link"><?php echo $this->helper('sales')->__('Price') ?></th>
                <th class="no-link"><?php echo $this->helper('sales')->__('Qty') ?></th>
                <th class="no-link"><?php echo $this->helper('sales')->__('Subtotal') ?></th>
                <th class="no-link"><?php echo $this->helper('sales')->__('Discount') ?></th>
                <th class="no-link"><?php echo $this->helper('sales')->__('Row Subtotal') ?></th>
                <?php if(!$isRepairOrder){ ?>
                    <th class="no-link last"><?php echo $this->helper('sales')->__('Action') ?></th>
                <?php } ?>
            </tr>
            </thead>
            <tbody>
            <tr class="even">
                <td class="empty-text a-center" colspan="100"><?php echo $this->helper('sales')->__('No ordered items') ?></td>
            </tr>
            </tbody>
        </table>
    </div>
    <table cellspacing="0" width="100%">
        <col width="50%" />
        <col width="50%" />
        <tr>
            <td class="a-left"><small><?php echo $this->getInclExclTaxMessage(); ?></small></td>
            <td class="a-right add-new-product"><?php echo $this->getButtonHtml($this->helper('mageworx_ordersedit')->__('Add New Product(s)'),'orderEdit.searchProducts()', '', 'mw-add-new-product'); ?></td>
        </tr>
    </table>
<?php else: ?>
    <?php if($isRepairOrder): ?>
        <div>
            <div class="grid" id="order-items_grid">
                <table cellspacing="0" class="data order-tables">
                    <col />
                    <col width="100" />
                    <col width="40"  />
                    <col width="100" />
                    <col width="80"  />
                    <col width="100" />
                    <thead>
                    <tr class="headings">
                        <th class="no-link"><?php echo $this->helper('sales')->__('Product') ?></th>
                        <th class="no-link"><?php echo $this->helper('sales')->__('Price') ?></th>
                        <th class="no-link"><?php echo $this->helper('sales')->__('Qty') ?></th>
                        <th class="no-link"><?php echo $this->helper('sales')->__('Subtotal') ?></th>
                        <th class="no-link"><?php echo $this->helper('sales')->__('Discount') ?></th>
                        <th class="no-link"><?php echo $this->helper('sales')->__('Row Subtotal') ?></th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <td class="a-left"><?php echo $this->helper('sales')->__('Total %d product(s)', count($_items)) ?></td>
                        <td colspan="2" class="a-right"><?php echo $this->helper('sales')->__('Subtotal:') ?></td>
                        <td class="price"><strong><?php echo $this->formatPrice($this->getSubtotal()) ?></strong></td>
                        <td class="price"><strong><?php echo $this->formatPrice($this->getDiscountAmount()) ?></strong></td>
                        <td class="price"><strong>
                                <?php
                                echo $this->formatPrice($this->getSubtotal() - $this->getDiscountAmount());
                                ?></strong></td>
                    </tr>
                    </tfoot>
                    <?php $i=0 ?>
                    <?php foreach ($_items as $_item):$i++ ?>
                        <tbody class="<?php echo ($i%2)?'even':'odd' ?>">
                        <tr id="order_item_<?php echo $_item->getId(); ?>">
                            <td class="first">
                                <h5 class="title"><span id="order_item_<?php echo $_item->getId() ?>_title"><?php echo $this->htmlEscape($_item->getName()) ?></span></h5>
                                <div>
                                    <strong><?php echo $this->helper('sales')->__('SKU') ?>:</strong>
                                    <?php echo implode('<br />', Mage::helper('catalog')->splitSku($this->escapeHtml($_item->getSku()))); ?>
                                </div>
                                <?php if($_item->getMessage(false)): ?>
                                    <?php foreach ($_item->getMessage(false) as $message): ?>
                                        <div class="<?php if($_item->getHasError()): ?>error<?php else: ?>notice<?php endif; ?>">
                                            <div style="font-size:95%"><?php echo Mage::helper('core')->escapeHtml($message); ?></div>
                                        </div>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                                <?php echo $this->getGetOrderItemInstructionsForm($_item);?>
                            </td>
                            <td class="price">




                                <?php if ($this->helper('tax')->displayCartPriceExclTax($this->getStore()) || $this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                                    <?php if ($this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                                        <span class="label"><?php echo $this->__('Excl. Tax'); ?>:</span>
                                    <?php endif; ?>
                                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales')): ?>
                                        <?php echo $this->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedAmount()+$_item->getWeeeTaxDisposition()); ?>
                                    <?php else: ?>
                                        <?php echo $this->formatPrice($_item->getCalculationPrice()) ?>
                                    <?php endif; ?>


                                    <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                                        <br />
                                        <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales')): ?>
                                            <small>
                                                <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                    <span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['amount'],true,true); ?></span><br />
                                                <?php endforeach; ?>
                                            </small>
                                        <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                            <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="nobr"><small><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['amount_incl_tax'],true,true); ?></small></span><br />
                                            <?php endforeach; ?>
                                        <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales')): ?>
                                            <small>
                                                <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                    <span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['amount_incl_tax'],true,true); ?></span><br />
                                                <?php endforeach; ?>
                                            </small>
                                        <?php endif; ?>

                                        <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                            <br />
                                            <span class="nobr"><?php echo Mage::helper('weee')->__('Total'); ?>:<br /> <?php echo $this->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedAmount()+$_item->getWeeeTaxDisposition()); ?></span>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                <?php endif; ?>


                                <?php if ($this->helper('tax')->displayCartPriceInclTax($this->getStore()) || $this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                                    <?php if ($this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                                        <br /><span class="label"><?php echo $this->__('Incl. Tax'); ?>:</span>
                                    <?php endif; ?>
                                    <?php $_incl = $this->helper('checkout')->getPriceInclTax($_item); ?>
                                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales')): ?>
                                        <?php echo $this->formatPrice($_incl+$_item->getWeeeTaxAppliedAmount()); ?>
                                    <?php else: ?>
                                        <?php echo $this->formatPrice($_incl-$_item->getWeeeTaxDisposition()) ?>
                                    <?php endif; ?>
                                    <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                                        <br />
                                        <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales')): ?>
                                            <small>
                                                <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                    <span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['amount'],true,true); ?></span><br />
                                                <?php endforeach; ?>
                                            </small>
                                        <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                            <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="nobr"><small><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['amount_incl_tax'],true,true); ?></small></span><br />
                                            <?php endforeach; ?>
                                        <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales')): ?>
                                            <small>
                                                <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                    <span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['amount_incl_tax'],true,true); ?></span><br />
                                                <?php endforeach; ?>
                                            </small>
                                        <?php endif; ?>

                                        <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                            <span class="nobr"><?php echo Mage::helper('weee')->__('Total incl. tax'); ?>:<br /> <?php echo $this->formatPrice($_incl+$_item->getWeeeTaxAppliedAmount()); ?></span>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                <?php endif; ?>




                                <?php $_isCustomPrice = $this->usedCustomPriceForItem($_item) ?>
                                <?php if($_tier = $this->getTierHtml($_item)): ?>
                                    <div id="item_tier_block_<?php echo $_item->getId() ?>"<?php if ($_isCustomPrice): ?> style="display:none"<?php endif; ?>>
                                        <a href="#" onclick="$('item_tier_<?php echo $_item->getId() ?>').toggle();return false;"><?php echo $this->helper('sales')->__('Tier Pricing') ?></a>
                                        <div style="display:none" id="item_tier_<?php echo $_item->getId() ?>"><?php echo $_tier ?></div>
                                    </div>
                                <?php endif; ?>
                                <?php if($this->isReturnFee($_item)): //only allow editing return fee price?>
                                    <?php if ($this->canApplyCustomPrice($_item)): ?>
                                        <div class="nobr">
                                            <input type="checkbox" id="item_use_custom_price_<?php echo $_item->getId() ?>"<?php if ($_isCustomPrice): ?> checked="checked"<?php endif; ?> onclick="orderEditItems.toggleCustomPrice(this, 'item_custom_price_<?php echo $_item->getId() ?>', 'item_tier_block_<?php echo $_item->getId() ?>');"/>
                                            <label class="normal" for="item_use_custom_price_<?php echo $_item->getId() ?>"><?php echo $this->helper('sales')->__('Custom Price') ?></label>
                                        </div>
                                    <?php endif; ?>
                                    <input id="item_custom_price_<?php echo $_item->getId() ?>" name="item[<?php echo $_item->getId() ?>][custom_price]" value="<?php echo sprintf("%.2f", $this->getOriginalEditablePrice($_item))?>"<?php if (!$_isCustomPrice): ?> style="display:none" disabled="disabled"<?php endif; ?> class="input-text item-price"/>
                                <?php else: ?>
                                    <?php if ($this->canApplyCustomPrice($_item)): ?>
                                        <div class="nobr">
                                            <input type="checkbox" id="item_use_custom_price_<?php echo $_item->getId() ?>"<?php if ($_isCustomPrice): ?> disabled checked="checked"<?php endif; ?> onclick="orderEditItems.toggleCustomPrice(this, 'item_custom_price_<?php echo $_item->getId() ?>', 'item_tier_block_<?php echo $_item->getId() ?>');"/>
                                            <label class="normal" for="item_use_custom_price_<?php echo $_item->getId() ?>"><?php echo $this->helper('sales')->__('Custom Price') ?></label>
                                        </div>
                                    <?php endif; ?>
                                    <input id="item_custom_price_<?php echo $_item->getId() ?>" name="item[<?php echo $_item->getId() ?>][custom_price]" value="0" disabled class="input-text item-price"/>
                                <?php endif; ?>
                            </td>
                            <td><input name="item[<?php echo $_item->getId() ?>][qty]" disabled class="input-text item-qty" value="<?php echo $_item->getQty()*1 ?>" maxlength="12" /></td>
                            <td class="price">




                                <?php if ($this->helper('tax')->displayCartPriceExclTax($this->getStore()) || $this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                                    <?php if ($this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                                        <span class="label"><?php echo $this->__('Excl. Tax'); ?>:</span>
                                    <?php endif; ?>
                                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales')): ?>
                                        <?php echo $this->formatPrice($_item->getRowTotal()+$_item->getWeeeTaxAppliedRowAmount()+$_item->getWeeeTaxRowDisposition()); ?>
                                    <?php else: ?>
                                        <?php echo $this->formatPrice($_item->getRowTotal()) ?>
                                    <?php endif; ?>


                                    <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                                        <br />
                                        <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales')): ?>
                                            <small>
                                                <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                    <span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['row_amount'],true,true); ?></span><br />
                                                <?php endforeach; ?>
                                            </small>
                                        <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                            <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="nobr"><small><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['row_amount_incl_tax'],true,true); ?></small></span><br />
                                            <?php endforeach; ?>
                                        <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales')): ?>
                                            <small>
                                                <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                    <span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['row_amount_incl_tax'],true,true); ?></span><br />
                                                <?php endforeach; ?>
                                            </small>
                                        <?php endif; ?>

                                        <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                            <br />
                                            <span class="nobr"><?php echo Mage::helper('weee')->__('Total'); ?>:<br /> <?php echo $this->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedRowAmount()+$_item->getWeeeTaxRowDisposition()); ?></span>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                <?php endif; ?>


                                <?php if ($this->helper('tax')->displayCartPriceInclTax($this->getStore()) || $this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                                    <?php if ($this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                                        <br /><span class="label"><?php echo $this->__('Incl. Tax'); ?>:</span>
                                    <?php endif; ?>
                                    <?php $_incl = $this->helper('checkout')->getSubtotalInclTax($_item); ?>
                                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales')): ?>
                                        <?php echo $this->formatPrice($_incl+$_item->getWeeeTaxAppliedRowAmount()); ?>
                                    <?php else: ?>
                                        <?php echo $this->formatPrice($_incl-$_item->getWeeeTaxRowDisposition()) ?>
                                    <?php endif; ?>
                                    <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                                        <br />
                                        <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales')): ?>
                                            <small>
                                                <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                    <span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['row_amount'],true,true); ?></span><br />
                                                <?php endforeach; ?>
                                            </small>
                                        <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                            <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="nobr"><small><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['row_amount_incl_tax'],true,true); ?></small></span><br />
                                            <?php endforeach; ?>
                                        <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales')): ?>
                                            <small>
                                                <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                    <span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['row_amount_incl_tax'],true,true); ?></span><br />
                                                <?php endforeach; ?>
                                            </small>
                                        <?php endif; ?>

                                        <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                            <span class="nobr"><?php echo Mage::helper('weee')->__('Total incl. tax'); ?>:<br /> <?php echo $this->formatPrice($_incl+$_item->getWeeeTaxAppliedRowAmount()); ?></span>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                <?php endif; ?>



                            </td>
                            <td class="price">
                                <?php echo $this->formatPrice(-$_item->getDiscountAmount()) ?><br />
                                <input class="item_use_discount" id="item_use_discount_<?php echo $_item->getId() ?>" name="item[<?php echo $_item->getId() ?>][use_discount]"<?php if (!$_item->getNoDiscount()): ?>checked="checked"<?php endif; ?> disabled value="1" type="checkbox" />
                                <label for="item_use_discount_<?php echo $_item->getId() ?>" class="normal"><?php echo $this->helper('sales')->__('Apply') ?></label>
                            </td>
                            <td class="last">


                                <?php if ($this->helper('tax')->displayCartPriceExclTax($this->getStore()) || $this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                                    <?php $_rowTotalWithoutDiscount = $_item->getPriceInclTax() * $_item->getQty() - $_item->getDiscountAmount() - $_item->getTaxAmount(); ?>
                                    <?php if ($this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                                        <span class="label"><?php echo $this->__('Excl. Tax'); ?>:</span>
                                    <?php endif; ?>
                                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales')): ?>
                                        <?php echo $this->formatPrice(max(0, $_rowTotalWithoutDiscount+$_item->getWeeeTaxAppliedRowAmount()+$_item->getWeeeTaxRowDisposition())); ?>
                                    <?php else: ?>
                                        <?php echo $this->formatPrice(max(0, $_rowTotalWithoutDiscount)) ?>
                                    <?php endif; ?>


                                    <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                                        <br />
                                        <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales')): ?>
                                            <small>
                                                <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                    <span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['row_amount'],true,true); ?></span><br />
                                                <?php endforeach; ?>
                                            </small>
                                        <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                            <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="nobr"><small><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['row_amount_incl_tax'],true,true); ?></small></span><br />
                                            <?php endforeach; ?>
                                        <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales')): ?>
                                            <small>
                                                <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                    <span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['row_amount_incl_tax'],true,true); ?></span><br />
                                                <?php endforeach; ?>
                                            </small>
                                        <?php endif; ?>

                                        <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                            <br />
                                            <span class="nobr"><?php echo Mage::helper('weee')->__('Total'); ?>:<br /> <?php echo $this->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedRowAmount()+$_item->getWeeeTaxRowDisposition()); ?></span>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                <?php endif; ?>


                                <?php if ($this->helper('tax')->displayCartPriceInclTax($this->getStore()) || $this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                                    <?php if ($this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                                        <br /><span class="label"><?php echo $this->__('Incl. Tax'); ?>:</span>
                                    <?php endif; ?>
                                    <?php $_incl = $_item->getPriceInclTax() * $_item->getQty() - $_item->getDiscountAmount(); ?>
                                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales')): ?>
                                        <?php echo $this->formatPrice($_incl+$_item->getWeeeTaxAppliedRowAmount()); ?>
                                    <?php else: ?>
                                        <?php echo $this->formatPrice($_incl-$_item->getWeeeTaxRowDisposition()) ?>
                                    <?php endif; ?>
                                    <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                                        <br />
                                        <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales')): ?>
                                            <small>
                                                <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                    <span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['row_amount'],true,true); ?></span><br />
                                                <?php endforeach; ?>
                                            </small>
                                        <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                            <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="nobr"><small><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['row_amount_incl_tax'],true,true); ?></small></span><br />
                                            <?php endforeach; ?>
                                        <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales')): ?>
                                            <small>
                                                <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                    <span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['row_amount_incl_tax'],true,true); ?></span><br />
                                                <?php endforeach; ?>
                                            </small>
                                        <?php endif; ?>

                                        <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                            <span class="nobr"><?php echo Mage::helper('weee')->__('Total incl. tax'); ?>:<br /> <?php echo $this->formatPrice($_incl+$_item->getWeeeTaxAppliedRowAmount()); ?></span>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                <?php endif; ?>

                            </td>
                        </tr>
                        </tbody>
                    <?php endforeach; ?>
                </table>
            </div>
            <table cellspacing="0" width="100%">
                <col width="50%" />
                <col width="50%" />
                <tr>
                    <td class="a-left"><small><?php /*echo $this->getInclExclTaxMessage();*/ ?></small></td>
                    <td class="a-right add-new-product"><?php echo $this->getButtonHtml($this->helper('mageworx_ordersedit')->__('Add New Product(s)'),'orderEdit.searchProducts()', '', 'mw-add-new-product'); ?></td>
                </tr>
            </table>
            <br />
            <div id="order-coupons"><?php echo $this->getChildHtml();?></div>
            <div class="clear"></div>
        </div>
    <?php else: ?>
        <div>
        <div class="grid" id="order-items_grid">
            <table cellspacing="0" class="data order-tables">
                <col />
                <col width="100" />
                <col width="100" />
                <col width="40"  />
                <col width="100" />
                <col width="80"  />
                <col width="100" />
                <col width="80" />
                <thead>
                <tr class="headings">
                    <th class="no-link" colspan="2"><?php echo $this->helper('sales')->__('Product') ?></th>
                    <th class="no-link"><?php echo $this->helper('sales')->__('Price') ?></th>
                    <th class="no-link"><?php echo $this->helper('sales')->__('Qty') ?></th>
                    <th class="no-link"><?php echo $this->helper('sales')->__('Subtotal') ?></th>
                    <th class="no-link"><?php echo $this->helper('sales')->__('Discount') ?></th>
                    <th class="no-link"><?php echo $this->helper('sales')->__('Row Subtotal') ?></th>

                    <th class="no-link last"><?php echo $this->helper('sales')->__('Action') ?></th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <td class="a-left" colspan="2"><?php echo $this->helper('sales')->__('Total %d product(s)', count($_items)) ?></td>
                    <td colspan="2" class="a-right"><?php echo $this->helper('sales')->__('Subtotal:') ?></td>
                    <td class="price"><strong><?php echo $this->formatPrice($this->getSubtotal()) ?></strong></td>
                    <td class="price"><strong><?php echo $this->formatPrice($this->getDiscountAmount()) ?></strong></td>
                    <td class="price"><strong>
                            <?php
                            echo $this->formatPrice($this->getSubtotal() - $this->getDiscountAmount());
                            ?></strong></td>
                    <td colspan="2">&nbsp;</td>
                </tr>
                </tfoot>
                <?php $i=0 ?>
                <?php foreach ($_items as $_item):$i++ ?>
                    <tbody class="<?php echo ($i%2)?'even':'odd' ?>">
                    <tr id="order_item_<?php echo $_item->getId(); ?>">
                        <td class="first">
                            <h5 class="title"><span id="order_item_<?php echo $_item->getId() ?>_title"><?php echo $this->htmlEscape($_item->getName()) ?></span></h5>
                            <div>
                                <strong><?php echo $this->helper('sales')->__('SKU') ?>:</strong>
                                <?php echo implode('<br />', Mage::helper('catalog')->splitSku($this->escapeHtml($_item->getSku()))); ?>
                            </div>
                            <?php if($_item->getMessage(false)): ?>
                                <?php foreach ($_item->getMessage(false) as $message): ?>
                                    <div class="<?php if($_item->getHasError()): ?>error<?php else: ?>notice<?php endif; ?>">
                                        <div style="font-size:95%"><?php echo Mage::helper('core')->escapeHtml($message); ?></div>
                                    </div>
                                <?php endforeach; ?>
                            <?php endif; ?>
                            <?php echo $this->getGetOrderItemInstructionsForm($_item);?>
                        </td>
                        <td class="a-center">
                            <?php echo $this->getConfigureButtonHtml($_item); ?>
                        </td>
                        <td class="price">




                            <?php if ($this->helper('tax')->displayCartPriceExclTax($this->getStore()) || $this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                                <?php if ($this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                                    <span class="label"><?php echo $this->__('Excl. Tax'); ?>:</span>
                                <?php endif; ?>
                                <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales')): ?>
                                    <?php echo $this->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedAmount()+$_item->getWeeeTaxDisposition()); ?>
                                <?php else: ?>
                                    <?php echo $this->formatPrice($_item->getCalculationPrice()) ?>
                                <?php endif; ?>


                                <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                                    <br />
                                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales')): ?>
                                        <small>
                                            <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['amount'],true,true); ?></span><br />
                                            <?php endforeach; ?>
                                        </small>
                                    <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                        <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                            <span class="nobr"><small><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['amount_incl_tax'],true,true); ?></small></span><br />
                                        <?php endforeach; ?>
                                    <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales')): ?>
                                        <small>
                                            <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['amount_incl_tax'],true,true); ?></span><br />
                                            <?php endforeach; ?>
                                        </small>
                                    <?php endif; ?>

                                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                        <br />
                                        <span class="nobr"><?php echo Mage::helper('weee')->__('Total'); ?>:<br /> <?php echo $this->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedAmount()+$_item->getWeeeTaxDisposition()); ?></span>
                                    <?php endif; ?>
                                <?php endif; ?>
                            <?php endif; ?>


                            <?php if ($this->helper('tax')->displayCartPriceInclTax($this->getStore()) || $this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                                <?php if ($this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                                    <br /><span class="label"><?php echo $this->__('Incl. Tax'); ?>:</span>
                                <?php endif; ?>
                                <?php $_incl = $this->helper('checkout')->getPriceInclTax($_item); ?>
                                <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales')): ?>
                                    <?php echo $this->formatPrice($_incl+$_item->getWeeeTaxAppliedAmount()); ?>
                                <?php else: ?>
                                    <?php echo $this->formatPrice($_incl-$_item->getWeeeTaxDisposition()) ?>
                                <?php endif; ?>
                                <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                                    <br />
                                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales')): ?>
                                        <small>
                                            <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['amount'],true,true); ?></span><br />
                                            <?php endforeach; ?>
                                        </small>
                                    <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                        <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                            <span class="nobr"><small><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['amount_incl_tax'],true,true); ?></small></span><br />
                                        <?php endforeach; ?>
                                    <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales')): ?>
                                        <small>
                                            <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['amount_incl_tax'],true,true); ?></span><br />
                                            <?php endforeach; ?>
                                        </small>
                                    <?php endif; ?>

                                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                        <span class="nobr"><?php echo Mage::helper('weee')->__('Total incl. tax'); ?>:<br /> <?php echo $this->formatPrice($_incl+$_item->getWeeeTaxAppliedAmount()); ?></span>
                                    <?php endif; ?>
                                <?php endif; ?>
                            <?php endif; ?>




                            <?php $_isCustomPrice = $this->usedCustomPriceForItem($_item) ?>
                            <?php if($_tier = $this->getTierHtml($_item)): ?>
                                <div id="item_tier_block_<?php echo $_item->getId() ?>"<?php if ($_isCustomPrice): ?> style="display:none"<?php endif; ?>>
                                    <a href="#" onclick="$('item_tier_<?php echo $_item->getId() ?>').toggle();return false;"><?php echo $this->helper('sales')->__('Tier Pricing') ?></a>
                                    <div style="display:none" id="item_tier_<?php echo $_item->getId() ?>"><?php echo $_tier ?></div>
                                </div>
                            <?php endif; ?>
                            <?php if ($this->canApplyCustomPrice($_item)): ?>
                                <div class="nobr">
                                    <input type="checkbox" id="item_use_custom_price_<?php echo $_item->getId() ?>"<?php if ($_isCustomPrice): ?> checked="checked"<?php endif; ?> onclick="orderEditItems.toggleCustomPrice(this, 'item_custom_price_<?php echo $_item->getId() ?>', 'item_tier_block_<?php echo $_item->getId() ?>');"/>
                                    <label class="normal" for="item_use_custom_price_<?php echo $_item->getId() ?>"><?php echo $this->helper('sales')->__('Custom Price') ?></label>
                                </div>
                            <?php endif; ?>
                            <input id="item_custom_price_<?php echo $_item->getId() ?>" name="item[<?php echo $_item->getId() ?>][custom_price]" value="<?php echo sprintf("%.2f", $this->getOriginalEditablePrice($_item))?>"<?php if (!$_isCustomPrice): ?> style="display:none" disabled="disabled"<?php endif; ?> class="input-text item-price"/>
                        </td>
                        <td><input name="item[<?php echo $_item->getId() ?>][qty]" class="input-text item-qty" value="<?php echo $_item->getQty()*1 ?>" maxlength="12" /></td>
                        <td class="price">




                            <?php if ($this->helper('tax')->displayCartPriceExclTax($this->getStore()) || $this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                                <?php if ($this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                                    <span class="label"><?php echo $this->__('Excl. Tax'); ?>:</span>
                                <?php endif; ?>
                                <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales')): ?>
                                    <?php echo $this->formatPrice($_item->getRowTotal()+$_item->getWeeeTaxAppliedRowAmount()+$_item->getWeeeTaxRowDisposition()); ?>
                                <?php else: ?>
                                    <?php echo $this->formatPrice($_item->getRowTotal()) ?>
                                <?php endif; ?>


                                <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                                    <br />
                                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales')): ?>
                                        <small>
                                            <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['row_amount'],true,true); ?></span><br />
                                            <?php endforeach; ?>
                                        </small>
                                    <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                        <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                            <span class="nobr"><small><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['row_amount_incl_tax'],true,true); ?></small></span><br />
                                        <?php endforeach; ?>
                                    <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales')): ?>
                                        <small>
                                            <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['row_amount_incl_tax'],true,true); ?></span><br />
                                            <?php endforeach; ?>
                                        </small>
                                    <?php endif; ?>

                                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                        <br />
                                        <span class="nobr"><?php echo Mage::helper('weee')->__('Total'); ?>:<br /> <?php echo $this->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedRowAmount()+$_item->getWeeeTaxRowDisposition()); ?></span>
                                    <?php endif; ?>
                                <?php endif; ?>
                            <?php endif; ?>


                            <?php if ($this->helper('tax')->displayCartPriceInclTax($this->getStore()) || $this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                                <?php if ($this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                                    <br /><span class="label"><?php echo $this->__('Incl. Tax'); ?>:</span>
                                <?php endif; ?>
                                <?php $_incl = $this->helper('checkout')->getSubtotalInclTax($_item); ?>
                                <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales')): ?>
                                    <?php echo $this->formatPrice($_incl+$_item->getWeeeTaxAppliedRowAmount()); ?>
                                <?php else: ?>
                                    <?php echo $this->formatPrice($_incl-$_item->getWeeeTaxRowDisposition()) ?>
                                <?php endif; ?>
                                <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                                    <br />
                                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales')): ?>
                                        <small>
                                            <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['row_amount'],true,true); ?></span><br />
                                            <?php endforeach; ?>
                                        </small>
                                    <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                        <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                            <span class="nobr"><small><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['row_amount_incl_tax'],true,true); ?></small></span><br />
                                        <?php endforeach; ?>
                                    <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales')): ?>
                                        <small>
                                            <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['row_amount_incl_tax'],true,true); ?></span><br />
                                            <?php endforeach; ?>
                                        </small>
                                    <?php endif; ?>

                                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                        <span class="nobr"><?php echo Mage::helper('weee')->__('Total incl. tax'); ?>:<br /> <?php echo $this->formatPrice($_incl+$_item->getWeeeTaxAppliedRowAmount()); ?></span>
                                    <?php endif; ?>
                                <?php endif; ?>
                            <?php endif; ?>



                        </td>
                        <td class="price">
                            <?php echo $this->formatPrice(-$_item->getDiscountAmount()) ?><br />
                            <input class="item_use_discount" id="item_use_discount_<?php echo $_item->getId() ?>" name="item[<?php echo $_item->getId() ?>][use_discount]"<?php if (!$_item->getNoDiscount()): ?>checked="checked"<?php endif; ?> value="1" type="checkbox" />
                            <label for="item_use_discount_<?php echo $_item->getId() ?>" class="normal"><?php echo $this->helper('sales')->__('Apply') ?></label>
                        </td>
                        <td class="price">


                            <?php if ($this->helper('tax')->displayCartPriceExclTax($this->getStore()) || $this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                                <?php $_rowTotalWithoutDiscount = $_item->getPriceInclTax() * $_item->getQty() - $_item->getDiscountAmount() - $_item->getTaxAmount(); ?>
                                <?php if ($this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                                    <span class="label"><?php echo $this->__('Excl. Tax'); ?>:</span>
                                <?php endif; ?>
                                <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales')): ?>
                                    <?php echo $this->formatPrice(max(0, $_rowTotalWithoutDiscount+$_item->getWeeeTaxAppliedRowAmount()+$_item->getWeeeTaxRowDisposition())); ?>
                                <?php else: ?>
                                    <?php echo $this->formatPrice(max(0, $_rowTotalWithoutDiscount)) ?>
                                <?php endif; ?>


                                <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                                    <br />
                                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales')): ?>
                                        <small>
                                            <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['row_amount'],true,true); ?></span><br />
                                            <?php endforeach; ?>
                                        </small>
                                    <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                        <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                            <span class="nobr"><small><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['row_amount_incl_tax'],true,true); ?></small></span><br />
                                        <?php endforeach; ?>
                                    <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales')): ?>
                                        <small>
                                            <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['row_amount_incl_tax'],true,true); ?></span><br />
                                            <?php endforeach; ?>
                                        </small>
                                    <?php endif; ?>

                                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                        <br />
                                        <span class="nobr"><?php echo Mage::helper('weee')->__('Total'); ?>:<br /> <?php echo $this->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedRowAmount()+$_item->getWeeeTaxRowDisposition()); ?></span>
                                    <?php endif; ?>
                                <?php endif; ?>
                            <?php endif; ?>


                            <?php if ($this->helper('tax')->displayCartPriceInclTax($this->getStore()) || $this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                                <?php if ($this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                                    <br /><span class="label"><?php echo $this->__('Incl. Tax'); ?>:</span>
                                <?php endif; ?>
                                <?php $_incl = $_item->getPriceInclTax() * $_item->getQty() - $_item->getDiscountAmount(); ?>
                                <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales')): ?>
                                    <?php echo $this->formatPrice($_incl+$_item->getWeeeTaxAppliedRowAmount()); ?>
                                <?php else: ?>
                                    <?php echo $this->formatPrice($_incl-$_item->getWeeeTaxRowDisposition()) ?>
                                <?php endif; ?>
                                <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                                    <br />
                                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales')): ?>
                                        <small>
                                            <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['row_amount'],true,true); ?></span><br />
                                            <?php endforeach; ?>
                                        </small>
                                    <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                        <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                            <span class="nobr"><small><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['row_amount_incl_tax'],true,true); ?></small></span><br />
                                        <?php endforeach; ?>
                                    <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales')): ?>
                                        <small>
                                            <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['row_amount_incl_tax'],true,true); ?></span><br />
                                            <?php endforeach; ?>
                                        </small>
                                    <?php endif; ?>

                                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                        <span class="nobr"><?php echo Mage::helper('weee')->__('Total incl. tax'); ?>:<br /> <?php echo $this->formatPrice($_incl+$_item->getWeeeTaxAppliedRowAmount()); ?></span>
                                    <?php endif; ?>
                                <?php endif; ?>
                            <?php endif; ?>

                        </td>
                        <td class="last">
                            <a href="javascript:;" onclick="jQuery(this).next('.items-grid-action').find('option[value=remove]').attr('selected','selected');orderEdit.saveOrder();">Remove</a>
                            <select class="items-grid-action" name="item[<?php echo $_item->getId() ?>][action]" style="width:100px; display: none">
                                <option value=""></option>
                                <option value="remove"><?php echo $this->helper('sales')->__('Remove') ?></option>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                <?php endforeach; ?>
            </table>
        </div>
            <table cellspacing="0" width="100%">
                <col width="50%" />
                <col width="50%" />
                <tr>
                    <td class="a-left"><small><?php /*echo $this->getInclExclTaxMessage();*/ ?></small></td>
                    <td class="a-right add-new-product"><?php echo $this->getButtonHtml($this->helper('mageworx_ordersedit')->__('Add New Product(s)'),'orderEdit.searchProducts()', '', 'mw-add-new-product'); ?></td>
                </tr>
            </table>
        <br />
        <div id="order-coupons"><?php echo $this->getChildHtml();?></div>
        <div class="clear"></div>
    </div>

        <?php if ($this->isGiftMessagesAvailable()) : ?>
            <script type="text/javascript">
                //<![CDATA[
                /**
                 * Retrieve gift options tooltip content
                 */
                function getGiftOptionsTooltipContent(itemId) {
                    var contentLines = [];
                    var headerLine = null;
                    var contentLine = null;

                    $$('#gift_options_data_' + itemId + ' .gift-options-tooltip-content').each(function (element) {
                        if (element.down(0)) {
                            headerLine = element.down(0).innerHTML;
                            contentLine = element.down(0).next().innerHTML;
                            if (contentLine.length > 30) {
                                contentLine = contentLine.slice(0,30) + '...';
                            }
                            contentLines.push(headerLine + ' ' + contentLine);
                        }
                    });
                    return contentLines.join('<br/>');
                }
                giftOptionsTooltip.setTooltipContentLoaderFunction(getGiftOptionsTooltipContent);

                //]]>
            </script>
        <?php endif; ?>
    <?php endif; ?>
<?php endif; ?>
<?php if($isRepairOrder){ //prevent add item to repair order?>
    <script>
        <?php if($hasReturnFee){ ?>
            document.getElementById('mw-add-new-product').remove();
        <?php } ?>
        
        if(typeof window.refreshOrderEdit === 'undefined'){
            orderEdit.saveOrder();
        }
        window.refreshOrderEdit = true;
    </script>
<?php } ?>
