<?php

$_product = $this->getProduct();
$isPersonalized = Mage::helper('personalizedproduct')->isPersonalizedProduct($_product);
$_helper = $this->helper('catalog/output');

$productImage = $this->helper('catalog/image')->init($_product, 'image');
//$imageWidth = ((int)$productImage->getOriginalWidth() < (int)Mage::getStoreConfig('amconf/size/preview_width')) ?
//    (int)$productImage->getOriginalWidth() : (int)Mage::getStoreConfig('amconf/size/preview_width');
$imageWidth = (int)Mage::getStoreConfig('amconf/size/preview_width');
$imageHeight = (int)Mage::getStoreConfig('amconf/size/preview_height');
$smallImageSize = (int)Mage::getStoreConfig('amconf/size/thumb');
$itemCount = (int)Mage::getStoreConfig('amconf/carousel/visible_items');
?>
<?php if((Mage::getStoreConfig('amconf/zoom/enable') || Mage::getStoreConfig('amconf/lightbox/enable'))) : ?>
    <script type="text/javascript" src="<?php echo Mage::getDesign()->getSkinUrl('js/amasty/amconf/zoomer.js', array()) ?>"></script>
<?php endif;?>
<?php if ('true' == (string) Mage::getConfig()->getNode('modules/Amasty_Label/active')): ?>
<div class="amlabel-div">
    <?php echo Mage::helper('amlabel')->getLabels($_product, 'product') ?>
    <?php endif; ?>
    <?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>
        <div class="product-image">
            <?php
            $_img = '<img class="main-'.$this->getImageLabel().'" id="amasty_zoom"
					width="'. $imageWidth .'"
					data-zoom-image="'.$this->helper('catalog/image')->init($_product, 'image').'"
					src="'.Mage::getModel('catalog/product_media_config')->getMediaUrl( $_product->getSmallImage()).'"
					alt="'.$this->htmlEscape($_product->getName()).'"
					title="'.$this->htmlEscape($_product->getName()).'"
					zoom-alt="' . $this->htmlEscape($this->getImageLabel()) . '"
				/>';
            echo $_helper->productAttribute($_product, $_img, 'image');
            ?>
        </div>

    <?php else: ?>
        <div class="product-image">
            <?php
            $_img = '<img class="main-image main-'.$this->getImageLabel().'" id="amasty_zoom" data-zoom-image="'.$this->helper('catalog/image')->init($_product, 'image').'" src="'.Mage::getModel('catalog/product_media_config')->getMediaUrl( $_product->getSmallImage()).'" alt="'.$this->htmlEscape($_product->getName()).'" title="'.$this->htmlEscape($_product->getName()).'" />';
            echo $_helper->productAttribute($_product, $_img, 'image');
            ?>
        </div>

    <?php endif; ?>
    <?php if ('true' == (string)Mage::getConfig()->getNode('modules/Amasty_Label/active')): ?>
</div>
<?php endif; ?>

<?php if (count($this->getGalleryImages()) > 0): ?>
    <div class="more-views" style="width: 203px; float: left;">
        <div style="position: relative;">
            <div id="amasty_gallery">
                <?php $i = 0; ?>
                <?php foreach ($this->getGalleryImages() as $_image): ?>
                    <?php
                    $color = trim($_image->getFile(), '.jpg');
                    $parts = explode('_', $color);
                    $color = $parts[count($parts)-1];
                    $color = trim($color, 'main');
                    ?>
                    <a class="product-image-class"  title="<?php echo $color ?>"  <?php echo Mage::getStoreConfig('amconf/lightbox/thumbnail_lignhtbox')?  ' class="fancybox" href="' . $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile()) . '"':'class=""'; ?> data-image="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize($imageWidth, $imageHeight); ?>" data-zoom-image="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile()); ?>"  >
                        <img imagelabel="<?php echo $_image->getFile(); ?>" src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize($smallImageSize); ?>" width="<?php echo $smallImageSize;?>" height="<?php echo $smallImageSize;?>" alt="<?php echo $this->htmlEscape($_product->getName()) ?>"  title="<?php echo $this->htmlEscape($_product->getName()) ?>"/>
                    </a>
                <?php endforeach; ?>
            </div>
            <?php if ($_product->getData('c2c_video_object')) : ?>
                <button type="button" href="<?php echo $_product->getData('c2c_video_object'); ?>?rel=0&amp;showinfo=0" class="video-thumb button btn-short button-light js-video">
                    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('video_button_image_pdp')->toHtml();?>
                </button>

                <script type="text/javascript">
                    var player;
                    <?php if($isPersonalized){ ?>
                        var optionsVideo = {
                            type: 'iframe',
                            closeBtnInside: true,
                            mainClass: 'mfp-fade',
                        };
                        jQuery('.js-video').magnificPopup(optionsVideo);
                    <?php } else{ ?>
                        jQuery(document).ready(function($) {
                            // Product video popup

                            var optionsVideo = {
                                type: 'iframe',
                                closeBtnInside: true,
                                mainClass: 'mfp-fade',
                            };
                            <?php
                            $matches = array();
                            if(preg_match("/^(?:http(?:s)?:\/\/)?(?:www\.)?(?:m\.)?(?:youtu\.be\/|youtube\.com\/(?:(?:watch)?\?(?:.*&)?v(?:i)?=|(?:embed|v|vi|user)\/))([^\?&\"'>]+)/", '', $matches)):?>
                            if(!isMobile()){
                                optionsVideo = Object.assign({}, optionsVideo, {
                                    iframe: {
                                        markup: '<div class="mfp-iframe-scaler">'+
                                            '<div class="mfp-close"></div>'+
                                            '<div id="yt-player"></div>'+
                                            '</div>',
                                    },
                                    callbacks: {
                                        open: function() {
                                            setTimeout(function() {
                                                player = new YT.Player('yt-player', {
                                                    videoId: '<?php echo $matches[1]?>',
                                                    playerVars: {rel: 0, showinfo: 0},
                                                    events: {
                                                        'onReady': function(e) {
                                                            e.target.playVideo();
                                                        },
                                                        'onStateChange': function(e) {
                                                            if(e.data == YT.PlayerState.ENDED) {
                                                                $.magnificPopup.close();
                                                            }
                                                        }
                                                    }
                                                });
                                            }, 50);
                                        }
                                    }
                                });
                            }
                            <?php endif?>
                            $('.js-video').magnificPopup(optionsVideo);
                        });
                    <?php } ?>
                </script>

            <?php endif; ?>
        </div>
    </div>

<?php endif;?>
<script type="text/javascript" >

    try {
        AmZoomerObj = new AmZoomer(<?php echo Mage::helper('amconf/zoom')->jsParam()?>);
        AmZoomerObj.loadCarousel();
    }
    catch(ex){console.debug(ex);}
</script>

<div class="product-media-gallery">

    <div class="order-success-share-icons">
        <a href="#0" onclick="popWin('https://twitter.com/intent/tweet?text=<?php echo urlencode($this->__('Check this out!')); ?>&url=<?php echo urlencode($_product->getProductUrl()); ?>','compare','top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes')">
            <img class="social-logo lazy" data-src="<?php echo $this->getSkinUrl('images/email/twitter_colour.png'); ?>" src="<?php echo $this->getSkinUrl('images/mgt_lazy_image_loader/px.gif'); ?>"/>
        </a>
        <a href="#0" onclick="popWin('https://www.facebook.com/sharer.php?u=<?php echo urlencode($_product->getProductUrl()); ?>&p[title]=<?php echo urlencode($this->__('Check this out!')); ?>','compare','top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes')">
            <img class="social-logo lazy" data-src="<?php echo $this->getSkinUrl('images/email/fb_colour.png'); ?>" src="<?php echo $this->getSkinUrl('images/mgt_lazy_image_loader/px.gif'); ?>"/>
        </a>
        <a href="#0" onclick="popWin('http://pinterest.com/pin/create/button/?url=<?php echo urlencode($_product->getProductUrl()); ?>&description=<?php echo urlencode($this->__('Check this out!')); ?>&media=<?php echo urlencode(Mage::getModel('catalog/product_media_config')->getMediaUrl( $_product->getSmallImage())); ?>','compare','top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes')">
            <img class="social-logo lazy" data-src="<?php echo $this->getSkinUrl('images/email/pinterest_colour.png'); ?>" src="<?php echo $this->getSkinUrl('images/mgt_lazy_image_loader/px.gif'); ?>"/>
        </a>
        <a href="#0" onclick="popWin('https://plus.google.com/share?url=<?php echo urlencode($_product->getProductUrl()); ?>','compare','top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes')">
            <img class="social-logo lazy" data-src="<?php echo $this->getSkinUrl('images/email/g+_colour.png'); ?>" src="<?php echo $this->getSkinUrl('images/mgt_lazy_image_loader/px.gif'); ?>"/>
        </a>
        <a href="#0" onclick="popWin('mailto:?subject=<?php echo urlencode($this->__('Check this out!')); ?>&body=<?php echo urlencode($_product->getProductUrl()); ?>','compare','top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes')">
            <img class="social-logo lazy" data-src="<?php echo $this->getSkinUrl('images/email/email_colour.png'); ?>" src="<?php echo $this->getSkinUrl('images/mgt_lazy_image_loader/px.gif'); ?>"/>
        </a>
    </div>
    <p class="social-heading">Earn up to 3,000 points for sharing!</p>
</div>