<?php $orders = $this->getOrders();?>
<?php $phase = $this->getPhase(); ?>
<div class="content-header">
    <table cellspacing="0">
        <tbody>
        <tr>
            <td style="width:50%;"><h3 class="icon-head head-report-sold-refunded"><?php echo $this->__("Total Order was Processed By ".$phase."(".Mage::helper('core')->formatDate().")");?></h3></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="sale_report">
    <div class="hor-scroll">
        <table class="data" id="itemGrid_table" cellspacing="0" border="1">
            <colgroup>
                <col class="a-center" width="50">
                <col width="80">
                <col width="80">
            </colgroup>
            <thead>
                <tr class="headings">
                    
                        <th><span class="nobr"><span class="sort-title"><?php echo $this->__("Total Orders");?></span></span></th>
                        <th><span class="nobr"><span class="sort-title"><?php echo $this->__("Processed by User");?></span></span></th>
                    <?php if($phase =="Daily"):?>
                        <th><span class="nobr"><span class="sort-title"><?php echo $this->__("Orders");?></span></span></th>
                    <?php endif;?>
                </tr>
            </thead>

            <tbody>
                
                <?php foreach ($orders as $order): ?>
                    <?php $user = Mage::helper("opentechiz_userprocessorder")->getUserProcessed($order->getProcessedByUser());?>
                    
                    <tr>
                        <td><?php echo $order->getSumOrder();?></td>
                        <td><?php echo $user;?></td>
                        <?php if($phase =="Daily"):?>
                        <td>
                            <?php if($order->getSumOrder() <=5):?>
                                <?php 
                                    $link  =  Mage::helper('opentechiz_orderemailnotify')->getLinkOrder($order);
                                    echo $link;
                                ?>
                            <?php endif;?>
                        
                        </td>
                        <?php endif;?>
                    </tr>
                <?php endforeach;?>
            </tbody>
        </table>
    </div>
</div>
