<?php $orders = $this->getOrders(); ?>
<?php $stages = $this->getStage(); ?>
<div class="content-header">
    <table cellspacing="0">
        <tbody>
        <tr>
            <td style="width:50%;"><h3 class="icon-head head-report-sold-refunded"><?php echo $this->__("Order in ".$stages.", Possibly Late Orders - Review Needed");?></h3></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="sale_report">
    <div class="hor-scroll">
        <table class="data" id="itemGrid_table" cellspacing="0" border="1">
            <colgroup>
                <col class="a-center" width="50">
                <col width="50">
                <col width="80">
            </colgroup>
            <thead>
                <tr class="headings">
                    <th><span class="nobr"><span class="sort-title"><?php echo $this->__("Order #");?></span></span></th>
                    <th><span class="nobr"><span class="sort-title"><?php echo $this->__("# of days in Stage");?></span></span></th>
                    <th><span class="nobr"><span class="sort-title"><?php echo $this->__("Shipment method");?></span></span></th>
                    <th><span class="nobr"><span class="sort-title"><?php echo $this->__("Stage");?></span></span></th>
                    <th><span class="nobr"><span class="sort-title"><?php echo $this->__("Status");?></span></span></th>
                    <th><span class="nobr"><span class="sort-title"><?php echo $this->__("Last processed");?></span></span></th>
                    <th><span class="nobr"><span class="sort-title"><?php echo $this->__("Order create date");?></span></span></th>
                </tr>
            </thead>

            <tbody>
            <?php foreach ($orders as $order): ?>
                <?php $over_day = Mage::helper("opentechiz_orderemailnotify")->getDifferenceDays($order->getChangedAt())?>
                <?php $url = Mage::getModel("core/url")->getUrl("adminhtml/sales_order/view", array("order_id" => $order->getId()));?>
                <tr title="#" class="even pointer">
                    <td>
                        <a href="<?php echo $url?>" target="_blank"><?php echo $order->getIncrementId() ?></a>
                    </td>
                    <td>
                        <?php echo $over_day ?>
                    </td>
                    <td>
                        <?php echo str_replace("Select Shipping Method - ","",$order->getShippingDescription()); ?>
                    </td>
                    <td>
                        <?php if(isset(OpenTechiz_SalesExtend_Helper_Data::ORDER_STAGE[$order->getOrderStage()])):?>
                            <?php echo OpenTechiz_SalesExtend_Helper_Data::ORDER_STAGE[$order->getOrderStage()]; ?>
                        <?php endif;?>
                    </td>
                    <td>
                        <?php $list_internal_status = Mage::helper("opentechiz_salesextend")->getOrderInternalStatus($order);?>
                        <?php if(!empty($list_internal_status)):?>
                            <?php if(isset($list_internal_status[$order->getInternalStatus()])):?>
                                <?php echo $list_internal_status[$order->getInternalStatus()]; ?>
                             <?php endif;?>
                        <?php endif;?>
                    </td>
                    <td>
                        <?php if(!empty($order->getProcessedByUser())):?>
                            <?php echo Mage::helper("opentechiz_userprocessorder")->getUserProcessed($order->getProcessedByUser()); ?>
                        <?php endif;?> 
                    </td>
                    <td>
                            <?php echo Mage::helper("core")->formatDate($order->getCreatedAtDate(), 'medium', true); ?>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>
