<?php
/**
 * Cart row renderers are different between some versions of Magento and Magento's rwd theme.
 * We're supporting everything that comes with Magento
 */
/*
 * Start with common code that all templates can use
 */
$_item = $this->getItem();
$item_id = $_item->getId();

// Fetch points redemption data
$hasRedeemed = $this->hasRedemptions();
$redeem_list_id = 'points-list-redeemed-' . $item_id;
$redeemed_points_data = $this->getRedemptionData();
$is_points_only = false;
if ($hasRedeemed) {
    $points_only = Mage::getModel('rewardsonly/catalog_product')
            ->wrap2($this->getProduct())
            ->getSimplePointsCost(Mage::getSingleton('rewards/session')
            ->getCustomer());

    if (!empty($points_only)) {
        $is_points_only = true;
    }
}

$isVisibleProduct = $_item->getProduct()->isVisibleInSiteVisibility();
$canApplyMsrp = Mage::helper('catalog')->canApplyMsrp($_item->getProduct(), Mage_Catalog_Model_Product_Attribute_Source_Msrp_Type::TYPE_BEFORE_ORDER_CONFIRM);
?>
<?php
$product = $this->getItem()->getProduct();

$isQuotation = false;
if(strpos($_item->getSku(), 'quotation') !== false) {
    $quoteProduct = Mage::getModel('opentechiz_quotation/product')->load($_item->getBuyRequest()['options']['quotation_product_id']);
    $isQuotation = true;
//    $_item->setSku($_item->getSku() . '-' . $quoteProduct->getId());
    $_item->setName($quoteProduct->getQpName());
    $product = $this->getItem()->getProduct();
    $product->setSku($_item->getSku());
}

?>
<tr>
    <td class="product-cart-image">
<?php if ($this->hasProductUrl()): ?>
            <a href="<?php if($isQuotation){ echo Mage::getBaseUrl().'/quotation-product/'.$_item->getName();
                        }else{ echo $this->getProductUrl(); }?>"
               title="<?php echo $this->escapeHtml($this->getProductName()) ?>"
               class="product-image">
        <?php endif; ?>
            <img src="<?php echo $this->getProductThumbnail()->resize(180); ?>"
                 alt="<?php echo $this->escapeHtml($this->getProductName()) ?>"/>
               <?php if ($this->hasProductUrl()): ?>
            </a>
<?php endif; ?>
    </td>

    <td class="product-cart-info">
        <h3 class="product-name">
<?php if ($this->hasProductUrl()): ?>
                <a href="<?php if($isQuotation){ echo Mage::getBaseUrl().'/quotation-product/'.$_item->getName();
                }else{ echo $this->getProductUrl(); }?>">
                    <?php echo $this->escapeHtml($this->getProductName()) ?>
                </a>
<?php else: ?>
                <?php echo $this->escapeHtml($this->getProductName()) ?>
            <?php endif; ?>
        </h3>

            <?php if ($_options = $this->getOptionList()): ?>

    <?php
    $product = $this->getItem()->getProduct();

    $viewOptions = $this->getLayout()
            ->createBlock('checkoutextended/product_view_options')
            ->setProduct($product)
            ->setQuoteItem($_item)
    ;
    $viewOptions->addOptionRenderer(
            'select', 'checkoutextended/cart_item_options_type_select', 'opentechiz/checkout/cart/item/options/type/select.phtml'
    );
    $viewOptions->addOptionRenderer(
            'text', 'catalog/product_view_options_type_text', 'opentechiz/checkout/cart/item/options/type/text.phtml'
    );
    ?>

            <?php
            $preconfiguredValues = new Varien_Object();
            $ids = [];
            $valueData = [];
            $qualityData = [];
            $qualities = OpenTechiz_PersonalizedProduct_Helper_Data::QUALITY;

            $itemSKU = $_item->getSku();
            $optionStoneTitle = [0=>'Center Stone', 1=>'Stone 2', 2=>'Stone 3', 3=> 'Stone 4'];

            $parts = explode(OpenTechiz_SalesExtend_Helper_Sku::SKU_SEPARATOR, $itemSKU);
            $count = 0;
            for($i = 1; $i< count($parts)-2; $i++){
                $stoneName = $parts[$i];
                $quality = str_replace('diamond', '', $stoneName);
                if(in_array($quality, $qualities)) $qualityData[$optionStoneTitle[$count]] = ' - '.strtoupper($quality);
                else $qualityData[$optionStoneTitle[$count]] = '';
                $count ++;
            }

            foreach($_options as $opt ) {
                if (isset($opt['option_type']) && ($opt['option_type'] == 'drop_down' || $opt['option_type'] == 'stone' || $opt['option_type'] == 'gold')) {
                    $vals = $product->getOptionById($opt['option_id'])->getValues();
                    foreach ($vals  as $val) {
                        if($opt['option_type'] == 'stone' && strtolower($opt['value']) == 'diamond'){
                            $label = $opt['label'];
                        }

                        $valueData[$val->getId()] = $val->getTitle();
                        if ($val->getData('title') == $opt['value']) {
                            $ids[$opt['option_id']] = $val->getData('option_type_id');
                        }
                    }
                } else {
                    $ids[$opt['option_id']] = $opt['value'];
                }
            }
            $preconfiguredValues->setData('options', $ids);
            $product->setPreconfiguredValues($preconfiguredValues);
            $product->setQuoteItem($_item);

            ?>

            <dl class="item-options">
                <?php foreach ($product->getOptions() as $_option) : ?>
                <?php if($_option->getType() == 'stone' || $_option->getType() == 'gold'){ ?>
                        <dt data-title="<?php echo $_option->getTitle() ?>"></dt>
                        <dd style="text-align: center"><?php  echo ucfirst($valueData[$ids[$_option->getId()]]) ?> <span><?php if(isset($qualityData[$_option->getTitle()])) echo $qualityData[$_option->getTitle()] ?></span></dd>
                <?php } else{ ?>
                    <?php echo $viewOptions->getOptionHtml($_option); ?>
                <?php } ?>
                <?php endforeach; ?>
            </dl>
        <?php endif; ?>
        <?php if ($messages = $this->getMessages()): ?>
            <?php foreach ($messages as $message): ?>
                <p class="item-msg <?php echo $message['type'] ?>">
                    * <?php echo $this->escapeHtml($message['text']) ?>
                </p>
                <?php endforeach; ?>
            <?php endif; ?>

        <?php if ($isVisibleProduct && $this->getOptionList()): ?>
            <button type="submit" name="update_item" value="<?php echo $item_id ?>" title="Update" class="button btn-update btn-short" style="display: inline-block;">
                <span><span>Update</span></span>
            </button>
            <!--            <a href="#" onclick="updateItemOptions()"-->
            <!--               title="--><?php //echo Mage::helper('core')
//                   ->quoteEscape($this->__('Update item parameters'))
            ?><!--">--><?php //echo $this->__('Update') ?><!--</a>-->
        <?php endif ?>
    </td>

    <td class="product-cart-sku"
        data-rwd-label="<?php echo $this->__('Item Code'); ?>">
        <span class="label"><?php echo $this->escapeHtml($_item->getSku()); ?></span>
    </td>

        <?php if ($canApplyMsrp): ?>
        <td class="a-center product-cart-price"<?php
        if ($this->helper('tax')
                        ->displayCartBothPrices()
        ):
            ?> colspan="2"<?php endif; ?>>
            <span class="cart-price">
                <span class="cart-msrp-unit"><?php echo $this->__('See price before order confirmation.'); ?></span>
        <?php $helpLinkId = 'cart-msrp-help-' . $_item->getId(); ?>
                <a id="<?php echo $helpLinkId ?>" href="#"
                   class="map-help-link"><?php echo $this->__("What's this?"); ?></a>

                <script type="text/javascript">
                    Catalog.Map.addHelpLink($('<?php echo $helpLinkId ?>'), "<?php echo $this->__("What&#39;s this?") ?>");
                </script>

            </span>
        </td>
<?php else: ?>

    <?php
    if ($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()
    ):
        ?>
            <?php /* ST REWARDSONLY BEGIN */ ?>
            <?php if ($is_points_only): ?>
                <td align="center" <?php if ($this->helper('tax')
                                ->displayCartBothPrices()):
                    ?>colspan="2"<?php endif; ?>>
                    <span class='item-points-block' align="center">
                        <ul class='item-points-list-redeemed'
                            id='<?php echo $redeem_list_id ?>'>
                    <?php foreach ($redeemed_points_data as $rl): ?>
                                <li>
                <?php echo $rl['unit_points_str']; ?>
                                </li>
                                <?php endforeach; ?>
                        </ul>
                    </span>
                </td>
                        <?php else: ?>
            <?php /* ST REWARDSONLY END */ ?>
                <td class="product-cart-price"
                    data-rwd-label="<?php echo $this->__('Price'); ?>"
                    data-rwd-tax-label="<?php echo $this->__('Excl. Tax'); ?>">

            <?php
            if (Mage::helper('weee')
                            ->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()):
                ?>
                        <span class="cart-tax-total"
                              onclick="taxToggle('eunit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                    <?php else: ?>
                            <span class="cart-price">
                              <?php endif; ?>
                              <?php
                              if (Mage::helper('weee')
                                              ->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()
                              ):
                                  ?>
                                <?php
                                echo $this->helper('checkout')
                                        ->formatPrice($_item->getCalculationPrice() + $_item->getWeeeTaxAppliedAmount() + $_item->getWeeeTaxDisposition());
                                ?>
                            <?php else: ?>
                                <?php echo $this->helper('checkout')
                                        ->formatPrice($_item->getCalculationPrice())
                                ?>
                            <?php endif; ?>

                        </span>

                        <?php if (Mage::helper('weee')->getApplied($_item)): ?>

                            <div class="cart-tax-info"
                                 id="eunit-item-tax-details<?php echo $_item->getId(); ?>"
                                 style="display:none;">
                                     <?php
                                     if (Mage::helper('weee')
                                                     ->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()
                                     ):
                                         ?>
                                         <?php
                                         foreach (
                                         Mage::helper('weee')->getApplied($_item) as $tax
                                         ):
                                             ?>
                                        <span class="weee"><?php echo $tax['title']; ?>
                                            : <?php
                                            echo Mage::helper('checkout')
                                                    ->formatPrice($tax['amount'], true, true);
                                            ?></span>
                                    <?php endforeach; ?>
                                <?php
                                elseif (Mage::helper('weee')
                                                ->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()
                                ):
                                    ?>
                                    <?php
                                    foreach (
                                    Mage::helper('weee')->getApplied($_item) as $tax
                                    ):
                                        ?>
                                        <span class="weee"><?php echo $tax['title']; ?>
                                            : <?php
                                        echo Mage::helper('checkout')
                                                ->formatPrice($tax['amount'], true, true);
                                        ?></span>
                                    <?php endforeach; ?>
                                <?php
                                elseif (Mage::helper('weee')
                                                ->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()
                                ):
                                    ?>
                                        <?php
                                        foreach (
                                        Mage::helper('weee')->getApplied($_item) as $tax
                                        ):
                                            ?>
                                        <span class="weee"><?php echo $tax['title']; ?>
                                            : <?php
                                    echo Mage::helper('checkout')
                                            ->formatPrice($tax['amount'], true, true);
                                    ?></span>
                    <?php endforeach; ?>
                <?php endif; ?>
                            </div>

                                    <?php
                                    if (Mage::helper('weee')
                                                    ->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()
                                    ):
                                        ?>
                                <div class="cart-tax-total"
                                     onclick="taxToggle('eunit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                                    <span class="weee"><?php echo Mage::helper('weee')
                            ->__('Total');
                                        ?>
                                        : <?php
                        echo $this->helper('checkout')
                                ->formatPrice($_item->getCalculationPrice() + $_item->getWeeeTaxAppliedAmount() + $_item->getWeeeTaxDisposition());
                        ?></span>
                                </div>
                    <?php endif; ?>
                <?php endif; ?>
                </td>
            <?php /* ST REWARDSONLY BEGIN */ ?>
        <?php endif; ?>
        <?php /* ST REWARDSONLY END */ ?>
                        <?php endif; ?><!-- inclusive price starts here -->
                        <?php
                        if ($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()
                        ):
                            ?>
                        <?php /* ST REWARDSONLY BEGIN */ ?>
        <?php if ($is_points_only): ?>
            <?php if (!$this->helper('tax')->displayCartBothPrices()): ?>
                    <td align="center">
                        <span class='item-points-block' align="center">
                            <ul class='item-points-list-redeemed'
                                id='<?php echo $redeem_list_id ?>'>
                <?php foreach ($redeemed_points_data as $rl): ?>
                                    <li>
                                <?php echo $rl['unit_points_str']; ?>
                                    </li>
                            <?php endforeach; ?>
                            </ul>
                        </span>
                    </td>
            <?php endif; ?>
                          <?php else: ?>
                              <?php /* ST REWARDSONLY END */ ?>
                <td class="product-cart-price"
                    data-rwd-label="<?php echo $this->__('Price'); ?>"
                    data-rwd-tax-label="<?php echo $this->__('Incl. Tax'); ?>">
                            <?php $_incl = $this->helper('checkout')
                                    ->getPriceInclTax($_item);
                            ?>
                            <?php
                            if (Mage::helper('weee')
                                            ->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()):
                                ?>
                        <span class="cart-tax-total"
                              onclick="taxToggle('unit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                            <?php else: ?>
                            <span class="cart-price">
            <?php endif; ?>

                        <?php
                        if (Mage::helper('weee')
                                        ->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()
                        ):
                            ?>
                                     <?php
                                     echo $this->helper('checkout')->formatPrice($_incl + Mage::helper('weee')
                                                     ->getWeeeTaxInclTax($_item));
                                     ?>
                                 <?php else: ?>
                                     <?php echo $this->helper('checkout')->formatPrice($_incl - $_item->getWeeeTaxDisposition())
                                     ?>
                                 <?php endif; ?>

                        </span>
                                <?php if (Mage::helper('weee')->getApplied($_item)): ?>

                            <div class="cart-tax-info"
                                 id="unit-item-tax-details<?php echo $_item->getId(); ?>"
                                 style="display:none;">
                                <?php
                                if (Mage::helper('weee')
                                                ->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()
                                ):
                                    ?>
                                    <?php
                                    foreach (
                                    Mage::helper('weee')->getApplied($_item) as $tax
                                    ):
                                        ?>
                                        <span class="weee"><?php echo $tax['title']; ?>
                                            : <?php
                                        echo Mage::helper('checkout')
                                                ->formatPrice($tax['amount_incl_tax'], true, true);
                                        ?></span>
                                    <?php endforeach; ?>
                                <?php
                                elseif (Mage::helper('weee')
                                                ->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()
                                ):
                                    ?>
                                        <?php
                                        foreach (
                                        Mage::helper('weee')->getApplied($_item) as $tax
                                        ):
                                            ?>
                                        <span class="weee"><?php echo $tax['title']; ?>
                                            : <?php
                                    echo Mage::helper('checkout')
                                            ->formatPrice($tax['amount_incl_tax'], true, true);
                                    ?></span>
                    <?php endforeach; ?>
                <?php
                elseif (Mage::helper('weee')
                                ->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()
                ):
                    ?>
                                        <?php
                                        foreach (
                                        Mage::helper('weee')->getApplied($_item) as $tax
                                        ):
                                            ?>
                                        <span class="weee"><?php echo $tax['title']; ?>
                                            : <?php
                            echo Mage::helper('checkout')
                                    ->formatPrice($tax['amount_incl_tax'], true, true);
                            ?></span>
                        <?php endforeach; ?>
                <?php endif; ?>
                            </div>

                <?php
                if (Mage::helper('weee')
                                ->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()
                ):
                    ?>
                                <div class="cart-tax-total"
                                     onclick="taxToggle('unit-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                                    <span class="weee"><?php echo Mage::helper('weee')
                            ->__('Total incl. tax');
                    ?>
                                        : <?php
                    echo $this->helper('checkout')
                            ->formatPrice($_incl + Mage::helper('weee')
                                    ->getWeeeTaxInclTax($_item));
                    ?></span>
                                </div>
                <?php endif; ?>
            <?php endif; ?>
                </td>
            <?php /* ST REWARDSONLY BEGIN */ ?>
        <?php endif; ?>
            <?php /* ST REWARDSONLY END */ ?>
        <?php endif; ?>
    <?php endif; ?>
    <td class="product-cart-actions"
        data-rwd-label="<?php echo $this->__('Qty'); ?>">
        <input type="text" pattern="\d*"
               name="cart[<?php echo $_item->getId() ?>][qty]"
               value="<?php echo $this->getQty() ?>" size="4"
               title="<?php echo $this->__('Qty') ?>" class="input-text qty"
               maxlength="12"/>

        <button type="submit" name="update_cart_action" value="update_qty"
                title="<?php echo $this->__('Update'); ?>"
                class="button btn-update btn-short">
            <span><span><?php echo $this->__('Update'); ?></span></span>
        </button>

        <a 
            href="javascript:void()"
            data-url="<?php echo $this->getDeleteUrl() ?>"
            title="<?php echo $this->__('Remove Item') ?>"
            class="btn-remove btn-remove2">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="33"
                 viewBox="0 0 100 100" fill="currentColor">
            <path d="M63.5 69.5h-28v-32h-4v32c0 2.206 1.794 4 4 4h28c2.206 0 4-1.794 4-4v-32h-4v32zm-5-38v-2c0-2.206-1.794-4-4-4h-10c-2.206 0-4 1.794-4 4v2h-12v4h42v-4h-12zm-4 0h-10v-2h10v2zm-15 9v25h4v-25h-4zm16 0v25h4v-25h-4zm-8 0v25h4v-25h-4z"></path>
            </svg>
        </a>
        <?php
        if ($this->helper('opentechiz_wishlist')->isActive()): ?>
            <a
                style="display: inline-block"
                title="<?php echo $this->__('Save for later')?>"
                class="button btn-update btn-short <?php echo!Mage::getSingleton('customer/session')->isLoggedIn() ? 'login-required' : '' ?>"
                data-pid="<?php echo $item_id ?>"
                onclick="disableWishlistButton(this)"
                data-entity-type="quote_item"
                href="<?php if($isQuotation){ echo Mage::getSingleton('customer/session')->isLoggedIn() ? $this->helper('opentechiz_wishlist')->getSaveForLaterUrl($item_id, $_item->getSku()) : '#wishlist-popup';
                            }else{ echo Mage::getSingleton('customer/session')->isLoggedIn() ? $this->helper('opentechiz_wishlist')->getSaveForLaterUrl($item_id) : '#wishlist-popup'; } ?>"
                >
                <span><span><?php echo $this->__('Save for later')?></span></span>
            </a>
        <?php endif ?>
    </td>

    <!--Sub total starts here -->
                  <?php
                  if (($this->helper('tax')->displayCartPriceExclTax() || $this->helper('tax')->displayCartBothPrices()) && !$_item->getNoSubtotal()
                  ):
                      ?>
                    <?php /* ST REWARDSONLY BEGIN */ ?>
                    <?php if ($is_points_only): ?>
            <td align="center" <?php if ($this->helper('tax')
                                ->displayCartBothPrices()):
                            ?>colspan="2"<?php endif; ?>>
                <span class='item-points-block' align="center">
                    <ul class='item-points-list-redeemed'
                        id='<?php echo $redeem_list_id ?>'>
                        <?php foreach ($redeemed_points_data as $rl): ?>
                            <li>
                            <?php echo $rl['points_str']; ?>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                </span>
            </td>
                    <?php else: ?>
                        <?php /* ST REWARDSONLY END */ ?>
            <td class="product-cart-total"
                data-rwd-label="<?php echo $this->__('Subtotal'); ?>">
                    <?php
                    if (Mage::helper('weee')
                                    ->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()):
                        ?>
                    <span class="cart-tax-total"
                          onclick="taxToggle('esubtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                             <?php else: ?>
                        <span class="cart-price">
                             <?php endif; ?>

                             <?php if ($canApplyMsrp): ?>
                            <span class="cart-msrp-subtotal">--</span>
        <?php else: ?>
                                <?php
                                if (Mage::helper('weee')
                                                ->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()
                                ):
                                    ?>
                                <?php
                                echo $this->helper('checkout')
                                        ->formatPrice($_item->getRowTotal() + $_item->getWeeeTaxAppliedRowAmount() + $_item->getWeeeTaxRowDisposition());
                                ?>
                            <?php else: ?>
                                <?php echo $this->helper('checkout')
                                        ->formatPrice($_item->getRowTotal())
                                ?>
                                <?php endif; ?>
                            <?php endif; ?>

                    </span>
                        <?php if (Mage::helper('weee')->getApplied($_item)): ?>

                        <div class="cart-tax-info"
                             id="esubtotal-item-tax-details<?php echo $_item->getId(); ?>"
                             style="display:none;">
                            <?php
                            if (Mage::helper('weee')
                                            ->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()
                            ):
                                ?>
                                <?php
                                foreach (
                                Mage::helper('weee')->getApplied($_item) as $tax
                                ):
                                    ?>
                                    <span class="weee"><?php echo $tax['title']; ?>
                                        : <?php
                                echo Mage::helper('checkout')
                                        ->formatPrice($tax['row_amount'], true, true);
                                ?></span>
                                    <?php endforeach; ?>
                                <?php
                                elseif (Mage::helper('weee')
                                                ->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()
                                ):
                                    ?>
                            <?php
                            foreach (
                            Mage::helper('weee')->getApplied($_item) as $tax
                            ):
                                ?>
                                    <span class="weee"><?php echo $tax['title']; ?>
                                        : <?php
                        echo Mage::helper('checkout')
                                ->formatPrice($tax['row_amount'], true, true);
                        ?></span>
                    <?php endforeach; ?>
                <?php
                elseif (Mage::helper('weee')
                                ->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()
                ):
                    ?>
                <?php
                foreach (
                Mage::helper('weee')->getApplied($_item) as $tax
                ):
                    ?>
                                    <span class="weee"><?php echo $tax['title']; ?>
                                        : <?php
                                    echo Mage::helper('checkout')
                                            ->formatPrice($tax['row_amount'], true, true);
                                    ?></span>
                    <?php endforeach; ?>
                <?php endif; ?>
                        </div>

            <?php
            if (Mage::helper('weee')
                            ->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()
            ):
                ?>
                            <div class="cart-tax-total"
                                 onclick="taxToggle('esubtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                                <span class="weee"><?php echo Mage::helper('weee')
                        ->__('Total');
                ?>
                                    : <?php
                                echo $this->helper('checkout')
                                        ->formatPrice($_item->getRowTotal() + $_item->getWeeeTaxAppliedRowAmount() + $_item->getWeeeTaxRowDisposition());
                                ?></span>
                            </div>
                            <?php endif; ?>
                        <?php endif; ?>
            </td>
                        <?php /* ST REWARDSONLY BEGIN */ ?>
                    <?php endif; ?>
                    <?php /* ST REWARDSONLY END */ ?>
                <?php endif; ?>
                <?php
                if (($this->helper('tax')->displayCartPriceInclTax() || $this->helper('tax')->displayCartBothPrices()) && !$_item->getNoSubtotal()
                ):
                    ?>
                    <?php /* ST REWARDSONLY BEGIN */ ?>
                    <?php if ($is_points_only): ?>
                        <?php if (!$this->helper('tax')->displayCartBothPrices()): ?>
                <td align="center">
                    <span class='item-points-block'>
                        <ul class='item-points-list-redeemed'
                            id='<?php echo $redeem_list_id ?>'>
                        <?php foreach ($redeemed_points_data as $rl): ?>
                                <li>
                <?php echo $rl['points_str']; ?>
                                </li>
            <?php endforeach; ?>
                        </ul>
                    </span>
                </td>
                             <?php endif; ?>
                         <?php else: ?>
                             <?php /* ST REWARDSONLY END */ ?>
            <td class="product-cart-total"
                data-rwd-label="<?php echo $this->__('Subtotal'); ?>">
        <?php $_incl = $this->helper('checkout')
                ->getSubtotalInclTax($_item);
        ?>
                            <?php
                        if (Mage::helper('weee')
                                        ->typeOfDisplay($_item, array(1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()):
                            ?>
                    <span class="cart-tax-total"
                          onclick="taxToggle('subtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                        <?php else: ?>
                        <span class="cart-price">
                        <?php endif; ?>

                            <?php if ($canApplyMsrp): ?>
                            <span class="cart-msrp-subtotal">--</span>
                            <?php else: ?>
                            <?php
                            if (Mage::helper('weee')
                                            ->typeOfDisplay($_item, array(0, 1, 4), 'sales') && $_item->getWeeeTaxAppliedAmount()
                            ):
                                ?>
                                <?php
                                echo $this->helper('checkout')
                                        ->formatPrice($_incl + Mage::helper('weee')
                                                ->getRowWeeeTaxInclTax($_item));
                                ?>
                                <?php else: ?>
                                    <?php
                                echo $this->helper('checkout')
                                        ->formatPrice($_incl - $_item->getWeeeTaxRowDisposition())
                                ?>
                        <?php endif; ?>
                    <?php endif; ?>

                    </span>


        <?php if (Mage::helper('weee')->getApplied($_item)): ?>

                        <div class="cart-tax-info"
                             id="subtotal-item-tax-details<?php echo $_item->getId(); ?>"
                             style="display:none;">
                                <?php
                                if (Mage::helper('weee')
                                                ->typeOfDisplay($_item, 1, 'sales') && $_item->getWeeeTaxAppliedAmount()
                                ):
                                    ?>
                    <?php
                    foreach (
                    Mage::helper('weee')->getApplied($_item) as $tax
                    ):
                        ?>
                                    <span class="weee"><?php echo $tax['title']; ?>
                                        : <?php
                    echo Mage::helper('checkout')
                            ->formatPrice($tax['row_amount_incl_tax'], true, true);
                    ?></span>
                <?php endforeach; ?>
            <?php
            elseif (Mage::helper('weee')
                            ->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()
            ):
                ?>
                <?php
                foreach (
                Mage::helper('weee')->getApplied($_item) as $tax
                ):
                    ?>
                                    <span class="weee"><?php echo $tax['title']; ?>
                                        : <?php
                    echo Mage::helper('checkout')
                            ->formatPrice($tax['row_amount_incl_tax'], true, true);
                    ?></span>
                <?php endforeach; ?>
            <?php
            elseif (Mage::helper('weee')
                            ->typeOfDisplay($_item, 4, 'sales') && $_item->getWeeeTaxAppliedAmount()
            ):
                ?>
                <?php
                foreach (
                Mage::helper('weee')->getApplied($_item) as $tax
                ):
                    ?>
                                    <span class="weee"><?php echo $tax['title']; ?>
                                        : <?php
                    echo Mage::helper('checkout')
                            ->formatPrice($tax['row_amount_incl_tax'], true, true);
                    ?></span>
                <?php endforeach; ?>
            <?php endif; ?>
                        </div>

            <?php
            if (Mage::helper('weee')
                            ->typeOfDisplay($_item, 2, 'sales') && $_item->getWeeeTaxAppliedAmount()
            ):
                ?>
                            <div class="cart-tax-total"
                                 onclick="taxToggle('subtotal-item-tax-details<?php echo $_item->getId(); ?>', this, 'cart-tax-total-expanded');">
                                <span class="weee"><?php echo Mage::helper('weee')
                        ->__('Total incl. tax');
                ?>
                                    : <?php
                echo $this->helper('checkout')
                        ->formatPrice($_incl + Mage::helper('weee')
                                ->getRowWeeeTaxInclTax($_item));
                ?></span>
                            </div>
            <?php endif; ?>
        <?php endif; ?>
            </td>
        <?php /* ST REWARDSONLY BEGIN */ ?>
    <?php endif; ?>
    <?php /* ST REWARDSONLY END */ ?>
<?php endif; ?>
</tr>


<script>
    function updateCart(itemId, optionId, value) {
        jQuery.ajax({
            url: 'updatePost',
            method: 'POST',
            data: {'cart': {
                    "isAjax": true,
                    "item_id": itemId,
                    "option_id": optionId,
                    "option_value": value
                }}
        })
    }

    function updateItemOptions()
    {
        $$('form[action*="checkout/cart/updatePost"]')[0].submit();
    }

    function disableWishlistButton(target) {
        if (jQuery(target).hasClass('disabled')) {
            event.stopPropagation();
            event.preventDefault();
            return;
        }
        jQuery(target).addClass('disabled');
    }
</script>
