<style type="text/css">
    textarea{
        width: 95%;
    }
    em{
        padding-right: 3px;
    }
    .active{
        display: block !important;
    }
    li.fields{
        margin-bottom: 5px;
        display: none;
    }
    .buttons-set{
        margin-top: 10px;
    }
    #claim_paid, #claim_status{
        width: 100px;
    }
</style>
<form id="notreceivedclaim-form" method="post" action="<?php echo $this->getUrl('adminhtml/notReceivedClaim/save', array('shipment_id' => $this->getShipment()->getId()))?>">
    <div class="fieldset">
        <ul class="form-list">
            <li class="fields active">
                <div class="field">
                    <h2><?php echo $this->__('Order #') ?><?php echo $this->getShipment()->getOrder()->getIncrementId()?></h2>
                </div>
            </li>
            <li class="fields active">
                <div class="field">
                    <label for="received_notification"><?php echo $this->__('Received Notification') ?></label>
                    <div class="input-box" style="display: flex; align-items: center">
                        <input id="received_notification" name="received_notification" type="text" class="input-text" placeholder="mm/dd/yyyy"/>
                        <img src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>" alt="" class="v-middle" id="received_notification_trig" title="Select Date" style="">
                    </div>
                </div>
            </li>
            <?php if($_tracks = $this->getShipment()->getAllTracks()): ?>
            <li class="fields active">
                <div class="field">
                    <label for="notes"><?php echo $this->__('Shipping and Tracking Information') ?></label>
                    <div>
                        <select id="track_id" name="track_id" class="">
                            <?php foreach ($_tracks as $_track):?>
                            <option value="<?php echo $_track->getId()?>"><?php echo $this->escapeHtml($_track->getTitle()) ?> (<?php echo $this->escapeHtml($_track->getNumber()) ?>)</option>
                            <?php endforeach;?>
                        </select>
                    </div>
                </div>
            </li>
            <?php endif?>
            <li class="fields active">
                <div class="field">
                    <label for="claim_filed" ><?php echo $this->__('Claim Filed') ?></label>
                    <div class="input-box" style=" display: flex; align-items: center">
                        <input id="claim_filed" name="claim_filed" type="text" class="input-text" placeholder="mm/dd/yyyy"/>
                        <img src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>" alt="" class="v-middle" id="claim_filed_trig" title="Select Date" style="">
                    </div>
                </div>
            </li>
            <li class="fields active">
                <div class="field">
                    <label for="claim_number" ><?php echo $this->__('Claim #') ?></label>
                    <div class="input-box">
                        <input id="claim_number" name="claim_number" type="text" class="input-text"/>
                    </div>
                </div>
            </li>
            <li class="fields active">
                <div class="field">
                    <label for="notes"><?php echo $this->__('Claim Status') ?></label>
                    <div>
                        <select id="claim_status" name="claim_status" class="">
                            <option value="0">--Select--</option>
                            <option value="<?php echo OpenTechiz_OrdersNotDelivered_Helper_Data::CLAIM_STATUS_REVIEWED ?>">Reviewed</option>
                            <option value="<?php echo OpenTechiz_OrdersNotDelivered_Helper_Data::CLAIM_STATUS_APPROVED ?>">Approved</option>
                            <option value="<?php echo OpenTechiz_OrdersNotDelivered_Helper_Data::CLAIM_STATUS_DENIED ?>">Denied</option>
                        </select>
                    </div>
                </div>
            </li>
            <li class="fields active">
                <div class="field">
                    <label for="claim_paid" ><?php echo $this->__('Claim Paid ($)') ?></label>
                    <div class="input-box">
                        <input id="claim_paid" name="claim_paid" type="text" class="input-text"/>
                    </div>
                </div>
            </li>
            <li class="fields active">
                <div class="field">
                    <label for="notes"><em class="required">*</em><?php echo $this->__('Notes') ?></label>
                    <div class="input-box">
                        <textarea id="notes" name="notes" rows="10" cols="30" class="input-text required-entry"></textarea>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="buttons-set">
        <button id="btn-submit" type="button" title="<?php echo $this->__('Submit') ?>" class="form-button">
            <span>
                <span><?php echo $this->__('Submit') ?></span>
            </span>
        </button>
    </div>
</form>
<script type="text/javascript">
    //<![CDATA[
    Calendar.setup({
        inputField: 'received_notification',
        ifFormat: '%m/%d/%Y',
        button: 'received_notification_trig',
        align: 'Bl',
        singleClick: true
    });

    Calendar.setup({
        inputField: 'claim_filed',
        ifFormat: '%m/%d/%Y',
        button: 'claim_filed_trig',
        align: 'Bl',
        singleClick: true
    });

    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();

    today = mm + '/' + dd + '/' + yyyy;
    $('received_notification').value = today;

    
    $('btn-submit').observe('click', function (event) {
        var dataForm = new VarienForm('notreceivedclaim-form', true);
        if(dataForm.validator && dataForm.validator.validate()){
            this.disabled = true;
            dataForm.submit();
        } else {
            return false;
        }
    });


    //]]>
</script>