<?php 
$_categories = $this->getFeaturedCategories(); 
?>

<?php if ($_categories->getSize() > 0) : ?>
<div class="featured-categories js-featured-categories clearfix">
    <?php foreach ($_categories as $_category) : ?>
        <a href="<?php echo $this->escapeUrl($_category->getUrl()) ?>" class="featured-category">
            <img
               data-src="<?php echo $this->helper('timage')->init($this->getSecondaryImage($_category))->resize(300, 300); ?>"
               src="<?php echo $this->getSkinUrl('images/mgt_lazy_image_loader/px.gif'); ?>"
                alt="<?php echo $this->quoteEscape($_category->getName()); ?>"
                width="150"
                height="150"
                class="featured-category-image lazy"
            >
            <h6 class="featured-category-title"><?php echo $this->escapeHtml($_category->getName()); ?></h6>
</a>
    <?php endforeach; ?>
</div>
<?php endif; ?>