<div class="trustpilot-wapper">
    <h4 class="trustpilot-title"><?php echo $this->__("We hope you enjoyed shopping with us!")?></h4>
    <a href="https://www.trustpilot.com/evaluate/www.itshot.com" target="_blank" rel="nofollow" class="trustpilot-link">
        <img class="trustpilot-banner" src="<?php echo $this->getSkinUrl('images/review-banner.jpg'); ?>" title="<?php echo $this->__("Trustpilot Reviews")?>" alt="<?php echo $this->__("Trustpilot Reviews")?>">
    </a>
</div>