<p class="switcher a-right">
    <label for="store_switcher"><?php echo $this->__('Date Range:') ?></label>
    <select name="aff_report_range" id="aff_report_range">
        <option value="1"><?php echo $this->__('Last 24h')?></option>
        <option value="2"><?php echo $this->__('Last Week')?></option>
        <option value="3"><?php echo $this->__('Last Month')?></option>
        <option value="4" selected="selected"><?php echo $this->__('Last 7 days')?></option>
        <option value="5"><?php echo $this->__('Last 30 days')?></option>
        <option value="7"><?php echo $this->__('Custom')?></option>
    </select>
    <span id="aff_custom_range" style="display: none">
        <label for="aff_from_date"><?php echo $this->__('From:') ?></label>
        <input type="text" name="aff_report_from" id="aff_report_from" style="width: 80px;"/>
        <label for="aff_to_date"><?php echo $this->__('To:') ?></label>
        <input type="text" name="aff_report_to" id="aff_report_to" style="width: 80px;"/>
        <input type="button" id="aff_report_refresh" value="<?php echo $this->__('Refresh') ?>" style="background: #E9E3E3;border: 1px solid #ccc;padding: 2px;">
    </span>
</p>
<div id="aff-container" style="height: 300px"></div>
<p class="switcher a-right" id="aff_debug">

</p>
<div class="box-left" style="width: 60%;">
    <!--Order Information-->
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-account"><?php echo Mage::helper('affiliate')->__('Sales by programs')?></h4>
        </div>
        <div class="fieldset">
            <div id="aff-container-sales" style="height: 330px"></div>
        </div>
    </div>
</div>
<div class="box-left entry-edit" style="width: 27.2%; margin: 0 0 0 25px;">
    <div class="entry-edit-head"><h4><?php echo Mage::helper('affiliate')->__('Statistics')?></h4></div>
    <fieldset class="np">
        <div class="grid np">
            <table cellspacing="0" style="border:0;" id="statisticsGrid_table" class="">
                <colgroup>
                    <col width="200">
                    <col width="125">
                </colgroup>
                <tbody>
                <tr class="even pointer">
                    <td class=""><?php echo Mage::helper('affiliate')->__('Total Sales')?></td>
                    <td class="a-right a-right last" id="aff_total_sales">...</td>
                </tr>
                <tr class="even pointer">
                    <td class=""><?php echo Mage::helper('affiliate')->__('Total Orders')?></td>
                    <td class="a-right a-right last" id="aff_total_order">...</td>
                </tr>
                <tr class="even pointer">
                    <td class=""><?php echo Mage::helper('affiliate')->__('Total Commission')?></td>
                    <td class="a-right a-right last" id="aff_total_commission">...</td>
                </tr>
                <tr class="even pointer">
                    <td class=""><?php echo Mage::helper('affiliate')->__('Total Withdrawals')?></td>
                    <td class="a-right a-right last" id="aff_total_withdrawal">...</td>
                </tr>
                <tr class="even pointer">
                    <td class=""><?php echo Mage::helper('affiliate')->__('Total Withdrawal Fees')?></td>
                    <td class="a-right a-right last" id="aff_total_fee">...</td>
                </tr>
                <tr class="even pointer">
                    <td class=""><?php echo Mage::helper('affiliate')->__('Total Transactions')?></td>
                    <td class="a-right a-right last" id="aff_total_transactions">...</td>
                </tr>
                <tr class="even pointer">
                    <td class=""><?php echo Mage::helper('affiliate')->__('Average Commission per Order')?></td>
                    <td class="a-right a-right last" id="aff_avr_commission_per_order">...</td>
                </tr>
                <tr class="even pointer">
                    <td class=""><?php echo Mage::helper('affiliate')->__('Average Commission per Affiliate')?></td>
                    <td class="a-right a-right last" id="aff_avr_commission_per_aff">...</td>
                </tr>
                <tr class="even pointer">
                    <td class=""><?php echo Mage::helper('affiliate')->__('Average Order Value')?></td>
                    <td class="a-right a-right last" id="aff_avr_sales_per_order">...</td>
                </tr>
                <tr class="even pointer">
                    <td class=""><?php echo Mage::helper('affiliate')->__('Average Sales per Affiliate')?></td>
                    <td class="a-right a-right last" id="aff_avr_sales_per_aff">...</td>
                </tr>
                <tr class="even pointer">
                    <td class=""><?php echo Mage::helper('affiliate')->__('Total Affiliates')?></td>
                    <td class="a-right a-right last" id="aff_total_aff">...</td>
                </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>
<div class="box-left" style="width: 60%;">
    <!--Order Information-->
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-account"><?php echo Mage::helper('affiliate')->__('Commission by programs')?></h4>
        </div>
        <div class="fieldset">
            <div id="aff-container-commission" style="height: 330px"></div>
        </div>
    </div>
</div>
<div class="box-left entry-edit" style="width: 30%; margin: 0 0 0 25px;">
    <div class="entry-edit-head"><h4><?php echo Mage::helper('affiliate')->__('Top Affiliate By Sales')?></h4></div>
    <fieldset class="np">
        <div class="grid np">
            <table cellspacing="0" style="border:0;" id="lastOrdersGrid_table" class="rwp_most-user-point">
                <colgroup>
                    <col width="25">
                    <col width="200">
                    <col width="100">
                    <col width="100">
                </colgroup>
                <thead>
                <tr class="headings">
                    <th class=" no-link a-center"><span class="nobr">#</span></th>
                    <th class=" no-link label"><span class="nobr"><?php echo Mage::helper('affiliate')->__('Email affiliate')?></span></th>
                    <th class=" no-link a-right"><span class="nobr"><?php echo Mage::helper('affiliate')->__('Total Sales')?></span></th>
                    <th class=" no-link a-right last"><span class="nobr"><?php echo Mage::helper('affiliate')->__('Total Commission')?></span></th>
                </tr>
                </thead>
                <tbody id="aff-top">
                    <tr>
                        <td colspan="4">....</td>
                    </tr>
                    <tr>
                        <td colspan="2"><?php echo Mage::helper('affiliate')->__(' All Affiliate')?></td>
                        <td class="a-right" id="total_affiliate_sales"><?php echo Mage::helper('core')->currency(0)?></td>
                        <td class="a-right" id="total_affiliate_commission"><?php echo Mage::helper('core')->currency(0)?></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>
<script>
document.observe("dom:loaded", function() {
        window.mwReport = new MW.Affiliate.Report.Dashboard({url: '<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/affiliate_affiliatereport/overview')?>'});
});
</script>