<?php
/** @var $this OpenTechiz_Purchase_Block_Adminhtml_Product_Edit_Tab_Price_Supplier */
$_showWebsite= $this->isMultiWebsites();
?>
<tr>
    <td class="label"><?php echo $this->getElement()->getLabel(); ?></td>
    <td colspan="10" class="grid tier">
    <table cellspacing="0" class="data border" id="supplier_information_table">
        <?php if ($_showWebsite) : ?>
        <col width="135" />
        <?php endif; ?>
        <col width="120" />
        <col />
        <col width="1" />
        <thead>
            <tr class="headings">
                <th>Supplier</th>
                <th>Supplier SKU</th>
                <th>Last Purchased</th>
                <th>Last Cost</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($this->getValues() as $item): ?>
            <tr>
                <td><?php echo $item->getName() ?></td>
                <td><?php echo $item->getSupSku() ?></td>
                <td><?php echo $item->getLastCost() ? Mage::getModel('directory/currency')->format(
                        $item->getLastCost(),
                        array('display'=>Zend_Currency::NO_SYMBOL),
                        false
                    ) : ''; ?></td>
                <td><?php echo $item->getLastCostDate() ? Mage::helper('core')->formatDate($item->getLastCostDate()) : '' ?></td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</td></tr>
