<div class="grid">
	<table cellspacing="0" id="material_receipt_items_table" class="data order-tables">
	    <colgroup>
	    	<col width="100">
		    <col width="100">
		    <col width="200">
		    <col width="100">
		    <col width="100">
		    <col width="100">
		    <col width="100">
		    <col width="100">
		    <col width="100">
		    <col width="100">
		    <col width="100">
	    </colgroup>
	    <thead>
	        <tr class="headings">
	            <th class="no-link sku">SKU</th>
	            <th class="no-link supplier_sku">Supplier SKU</th>
	            <th class="no-link" class="name">Name</th>
	            <th class="no-link" class="attribute">Attribute</th>
	            <th class="no-link" class="purchase_order">PO</th>
	            <th class="no-link" class="cost">Cost</th>
	            <th class="no-link" class="sales_price">Sales Price</th>
	            <th class="no-link" class="lowest_cost">Lowest Cost</th>
	            <th class="no-link" class="po_note">PO Notes</th>
	            <th class="no-link" class="shipped_qty">Shipped QTY</th>
	            <th class="no-link" class="delivered_qty">Delivered QTY</th>
	        </tr>
	    </thead>
	    <tbody>
	    	<tr>
	    		<td class="sku">
	    			<select class="material_select" name="data[item0][sku]" data-position="0" onchange="loadDataItemReceipt(this)">
	    				<option value="">--Please select--</option>
	    				<?php
	    				$skuItems = $this->getAllSkuItem();
	    				 if (count($skuItems)) {
	    					foreach ($skuItems as $key => $value) {
	    						echo '<option value="'. $key .'">'. $value .'</option>';
	    					}
	    				} ?>
	    			</select>
	    			<input type="hidden" name="supplier_id" name="supplier_id" value="<?php echo $this->getSupplierId() ?>">
	    			<input type="hidden" name="shipment_reference" name="shipment_reference" value="<?php echo $this->getShipmentReferenceParam() ?>">
	    		</td>
	    		<td class="supplier_sku"></td>
	    		<td class="product_name"></td>
	    		<td class="attribute"></td>
	    		<td class="purchase_order"></td>
	    		<td class="cost">
	    			<input name="data[item0][cost]" type="text" value="">
	    		</td>
	    		<td class="sales_price"></td>
	    		<td class="lowest_cost"></td>
	    		<td class="po_note"></td>
	    		<td class="shipped_qty">0</td>
	    		<td class="delivered_qty">
	    			<input name="data[item0][delivered_qty]" type="number" value="">
	    		</td>
	    	</tr>
	    </tbody>
	</table>
</div>

<script type="text/javascript">

	function loadDataItemReceipt(element){
		var selected_item_val = jQuery(element).val();
		var position = jQuery(element).attr('data-position');
		if (selected_item_val == '') {
			removeNewRowGrid(element,position);
			return this;
		}

		var supplier_sku 	= jQuery(element).closest('tr').children('td.supplier_sku');
		var product_name 	= jQuery(element).closest('tr').children('td.product_name');
		var attribute 	 	= jQuery(element).closest('tr').children('td.attribute');
		var purchase_order 	= jQuery(element).closest('tr').children('td.purchase_order');
		var sales_price 	= jQuery(element).closest('tr').children('td.sales_price');
		var lowest_cost 	= jQuery(element).closest('tr').children('td.lowest_cost');
		var po_note 		= jQuery(element).closest('tr').children('td.po_note');
		var shipped_qty 	= jQuery(element).closest('tr').children('td.shipped_qty');
		
		jQuery.ajax({
            type: "POST",
            url: "<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/materialreceipt/loadDataItemReceipt'); ?>",
            data: {supplier_id: <?php echo $this->getSupplierId()?>, barcode_item:selected_item_val},
            success:function(transport){
            	var response = jQuery.parseJSON(transport);
            	if (response.error) {
            		alert(response.error);
            	}else{
            		if (response.sup_sku && supplier_sku.length) {
                		supplier_sku.html(response.sup_sku);
                	}

                	if (response.product_name && product_name.length) {
                		product_name.html(response.product_name);
                	}

                	if (response.attribute && attribute.length) {
                		attribute.html(response.attribute);
                	}

                	if (response.po_increment_id && purchase_order.length) {
                		purchase_order.html(response.po_increment_id);
                	}

                	if (response.sales_price && sales_price.length) {
                		sales_price.html(response.sales_price);
                	}

                	if (response.lowest_cost && lowest_cost.length) {
                		lowest_cost.html(response.lowest_cost);
                	}

                	if (response.po_note && po_note.length) {
                		po_note.html(response.po_note);
                	}

                	if (response.shipped_qty && shipped_qty.length) {
                		shipped_qty.html(response.shipped_qty);
                	}

                	jQuery(element).closest('tr').children('td.cost').html('<input name="data[item'+ position +'][cost]" type="text">');
                	jQuery(element).closest('tr').children('td.delivered_qty').html('<input name="data[item'+ position +'][delivered_qty]" type="number">');
                	addNewRowGrid(element,position);
                	jQuery(element).addClass('valid');
            	}
                //jQuery('#wait-modal').modal('hide');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                // error handling
                console.log('ajax append data Item Receipt error');
                jQuery('#popup-window-mask').hide();
            }
        });
        return this;
	}


	function removeNewRowGrid(element){
		if (jQuery('select.material_select').length > 1) {
			jQuery(element).parents('tr').remove();
		}else{
			alert("You can not remove the last item from grid.");
		}
	}

	function addNewRowGrid(element,position = 0){
		if (jQuery('select[name="data[item'+position+'][sku]"]').length) {
			var pos = parseInt(position)+1;
		}
		if (jQuery(element).val() && !jQuery(element).hasClass('valid')) {
			var html = '<tr>'
				    		+'<td class="sku">'
				    		+	'<select class="material_select" name="data[item'+ pos +'][sku]" data-position="'+ pos +'" onchange="loadDataItemReceipt(this)">'
				    		+		'<option value="">--Please select--</option>'
				    		+		'<?php
					    				$skuItems = $this->getAllSkuItem();
					    				 if (count($skuItems)) {
					    					foreach ($skuItems as $key => $value) {
					    						echo '<option value="'. $key .'">'. $value .'</option>';
					    					}
					    				} ?>'
				    	+		'</select>'
				    	+	'</td>'
				    	+	'<td class="supplier_sku"></td>'
				    	+	'<td class="product_name"></td>'
				    	+	'<td class="attribute"></td>'
				    	+	'<td class="purchase_order"></td>'
				    	+	'<td class="cost"><input name="data[item'+ pos +'][cost]" type="text"></td>'
				    	+	'<td class="sales_price"></td>'
				    	+	'<td class="lowest_cost"></td>'
				    	+	'<td class="po_note"></td>'
				    	+	'<td class="shipped_qty">0</td>'
				    	+	'<td class="delivered_qty"><input name="data[item'+ pos +'][delivered_qty]" type="number"></td>'
				    	+'</tr>';
			jQuery('#material_receipt_items_table tr:last').after(html);
		}
		
	}

</script>