<?php
$customerId = (int)$this->getRequest()->getParam('id');
$_note = Mage::getModel('opentechiz_customernotes/note')
    ->getCollection()
    ->setOrder('note_id', 'DESC')
    ->addFieldToFilter('customer_id', array('eq' => $customerId))
    ->getData();
$userModel = Mage::getModel('admin/user');
?>
<div class="entry-edit">
    <div class="entry-edit-head"><h4
                class="icon-head head-customer-view"><?php echo Mage::helper('customer')->__('Notes') ?></h4></div>
    <fieldset>
        <form method="post" action="<?php echo $this->getUrl('*/*/saveNote'); ?>?id=<?php echo $customerId; ?>">
            <table cellspacing="2" class="box-comment">
                <tr>
                    <label for="custom_field">Comments</label>
                </tr>
                <tr>
                <textarea id="comment-editor" name="cmeditor"
                          style="width: 100%; resize: none; height: 100px"></textarea>
                </tr>
                <tr>
                    <button id="comment-button" type="submit" name="cmbutton" style="float: right">Submit Comment
                    </button>
                </tr>
            </table>
        </form>
    </fieldset>
</div>
<div class="entry-edit">
    <div class="entry-edit-head"><h4
                class="icon-head head-customer-view"><?php echo Mage::helper('customer')->__('Notes View') ?></h4></div>
    <fieldset>
        <?php
        foreach ($_note as $comment) { ?>
            <table width="100%" style="border-bottom: 1px solid #d6d6d6">
                <tr>
                    <td  style="display: flex; justify-content: space-between">
                        <td>
                            <?php $comment['note_content'] = str_replace("\n","<br/>",$comment['note_content']);?>
                            <?php echo '<p><strong>' . $comment['created_at'] . '</strong></p>';
                            echo '<p><strong>Comment: </strong>' . $comment['note_content'] . '</p>';
                            if(isset($comment['user_id']) && $comment['user_id'] != 0) echo '<p>Created by <strong>'.$userModel->load($comment['user_id'])->getUsername().'</strong></p>';
                            else echo '<p>Created by <strong>System</strong></p>';
                            ?>
                        </td>
                        <td width="40px">
                            <?php if (Mage::getSingleton('admin/session')->isAllowed('admin/customer/customernotes/delete')) {
                                echo '<a href="' . $this->getUrl('*/*/delNote', array('noteId' => $comment['note_id'], 'customerId' => $customerId)) . '">Delete</a>';
                            } ?>
                        </td>
                    </td>
                </tr>
            </table>
        <?php }
        ?>
    </fieldset>
</div>