<?php
if ($_item = $this->getItem()) {
    //get image name from sku
    $sku = $_item->getSku();
    if (strpos($sku, 'quotation') === false) {
        $product = $_item->getProduct();
        $canPreOrder = Mage::helper('pre_order')->canPreOrder($product);
        $product->setSku($sku);
        // add img thumbnail
        if ($this->helper('mageworx_ordersedit')->isEnabled()) {
            //        $imgHelper = $this->helper('mageworx_ordersedit')->getImgByItem($_item);
            if($product){ ?>
                <?php  ?>
                <a href="<?php echo Mage::helper('opentechiz_salesextend')->getImageByColor($product, $sku) ?>" rel="mageworxLightbox[]">
                    <img src="<?php echo Mage::helper('opentechiz_salesextend')->getImageByColor($product, $sku); ?>" height="90" alt="" align="left" style="padding-right:2px;" />
                </a>
            <?php } else { ?>
                <img src="<?php echo Mage::getDesign()->getSkinUrl('images/placeholder/thumbnail.jpg'); ?>" height="90" width="90" alt="" align="left" style="padding-right:2px;" />
            <?php }
        } ?>

        <h5 class="title"><span id="order_item_<?php echo $_item->getId() ?>_title"><?php echo $this->htmlEscape($_item->getName()) ?></span></h5>
        <div><strong><?php echo $this->helper('sales')->__('SKU') ?>:</strong> <?php echo implode('<br />', Mage::helper('catalog')->splitSku($this->htmlEscape($this->getSku()))); ?></div>
        <?php if ($this->getOrderOptions()): ?>
            <dl class="item-options">
                <?php $i = 0; ?>
                <?php $parts = explode(OpenTechiz_SalesExtend_Helper_Sku::SKU_SEPARATOR, $sku); ?>
                <?php foreach ($this->getOrderOptions() as $_option): ?>
                    <?php $i++; ?>
                    <strong><?php echo $_option['label'] ?>:</strong>

                        <?php if (isset($_option['custom_view']) && $_option['custom_view']): ?>
                            <?php echo $this->getCustomizedOptionValue($_option); ?>
                        <?php else: ?>
                            <?php if(strtolower($_option['value']) == 'diamond'){
                                $stoneQuality = str_replace('diamond', '', $parts[$i]);
                                echo nl2br($this->escapeHtml($_option['value'] . ' - '. strtoupper($stoneQuality)));
                            } else{ ?>
                                <?php echo nl2br($this->escapeHtml($_option['value'])); ?>
                            <?php } ?>
                            <?php if (isset($_option['remainder']) && $_option['remainder']): ?>
                                <span id="<?php echo $_dots = 'dots' . uniqid() ?>"> ...</span>
                                <span id="<?php echo $_id = 'id' . uniqid() ?>"><?php echo $_option['remainder'] ?></span>
                                <script type="text/javascript">
                                    $('<?php echo $_id ?>').hide();
                                    $('<?php echo $_id ?>').up().observe('mouseover', function () {
                                        $('<?php echo $_id ?>').show();
                                    });
                                    $('<?php echo $_id ?>').up().observe('mouseover', function () {
                                        $('<?php echo $_dots ?>').hide();
                                    });
                                    $('<?php echo $_id ?>').up().observe('mouseout', function () {
                                        $('<?php echo $_id ?>').hide();
                                    });
                                    $('<?php echo $_id ?>').up().observe('mouseout', function () {
                                        $('<?php echo $_dots ?>').show();
                                    });
                                </script>
                            <?php endif;?>
                        <?php endif;?>

                <?php endforeach; ?>
                <?php if ($canPreOrder): ?>
                    <dt><?php echo $this->__('Pre-Order Message:') ?></dt>
                    <dd style="color: brown"><?php Mage::helper('pre_order')->showPreOrderMessage($product); ?></dd>
                <?php endif;?>
            </dl>
        <?php endif; ?>
        <?php echo $this->htmlEscape($_item->getDescription()) ?>
    <?php }

    else{
        $parts = explode(OpenTechiz_SalesExtend_Helper_Sku::SKU_SEPARATOR, $sku);
        $quoteProductId = $parts[1];
        $quoteProductModel = Mage::getModel('opentechiz_quotation/product');
        $quoteProduct = $quoteProductModel->load($quoteProductId);
        $quotationProductUrl = Mage::getUrl('adminhtml/sales_quotations/detail').'id/'.$quoteProductId;
        $images = $quoteProduct->getQpImage();

        $imageUrl = explode(',', $images)[0];
        // add img thumbnail
        if ($this->helper('mageworx_ordersedit')->isEnabled()) {
            if($imageUrl){ ?>
                <a href="<?php echo $imageUrl ?>" rel="mageworxLightbox[]">
                    <img src="<?php echo $imageUrl; ?>" height="90" alt="" align="left" style="padding-right:2px;" />
                </a>
            <?php } else { ?>
                <img src="<?php echo Mage::getDesign()->getSkinUrl('images/placeholder/thumbnail.jpg'); ?>" height="90" width="90" alt="" align="left" style="padding-right:2px;" />
            <?php }
        } ?>

        <h5 class="title"><span id="order_item_<?php echo $_item->getId() ?>_title"><?php echo $this->htmlEscape($_item->getName(). ' - ' .$quoteProduct->getQpName()) ?></span></h5>
        <div><strong><?php echo $this->helper('sales')->__('SKU') ?>:</strong> <?php echo implode('<br />', Mage::helper('catalog')->splitSku($this->htmlEscape($this->getSku()))); ?></div>

        <dl class="item-options">
            <?php foreach ($quoteProduct->getQuoteProductOption($quoteProductId) as $_option): ?>
                <strong><?php echo $_option->getOptionName() ?>:</strong>
                <?php
                    if($_option->getOptionType() == 'stone') echo $quoteProductModel->getStoneName($_option->getOptionValue());
                    else if ($_option->getOptionType() == 'gold') echo $quoteProductModel->getGoldName($_option->getOptionValue());
                    else echo $_option->getOptionValue();
                    ?>
                    <?php if((int)$_option->getQty() > 0 ): ?>
                        x <?php echo $_option->getQty() ?>
                    <?php endif; ?>
            
            <?php endforeach; ?>
        </dl>

        <?php echo $this->htmlEscape($_item->getDescription()) ?>
    <?php } ?>
<?php } ?>
