<?php
$_stone = $this->getStone();
?>
<div id="stone-main-info">
    <div class="entry-edit">
        <div class="entry-edit-head"><h4
                    class="icon-head head-stone-main-info"><?php echo Mage::helper('opentechiz_material')->__('Main Information') ?></h4>
        </div>
        <fieldset class="fieldset fieldset-wide">
            <div class="hor-scroll" style="min-height: 200px">
                <table cellspacing="0" class="form-list">
                    <tbody>
                    <tr>
                        <td class="label"><label>Type <span class="required">*</span></label></td>
                        <td class="value">
                            <select name="stone_type" id="stone-type-option" class="validate-select validation-failed">
                                <option value="" selected="selected">-- Please Select --</option>
                                <?php
                                $stones_type = OpenTechiz_Material_Helper_Data::OPPENTECHIZ_MATERIAL_STONE_TYPE;
                                foreach ($stones_type as $key => $stone_type) {
                                    echo '<option value='.$key.'>' . $stone_type . '</option>';
                                }
                                ?>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label>Weight <span class="required">*</span></label></td>
                        <td class="value">
                            <input type="number" id="weight" name="weight" value="" class="required-entry"
                                   type="text" style="min-width: 275px">
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label>Shape</label></td>
                        <td class="value">
                            <select name="shape" id="stone-shape-option">
                                <option value="" selected="selected">-- Please Select --</option>
                                <?php
                                $stones_shape = OpenTechiz_Material_Helper_Data::OPPENTECHIZ_MATERIAL_STONE_SHAPE;
                                foreach ($stones_shape as $key => $stone_shape) {
                                    echo '<option value='.$key.'>' . $stone_shape . '</option>';
                                }
                                ?>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label>Diameter</label></td>
                        <td class="value">
                            <input id="diameter" name="diameter" value="" class="" type="text" style="min-width: 275px">
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label>Price <span class="required">*</span></label></td>
                        <td class="value">
                            <input type="number" id="price" name="price" value="" class="required-entry"
                                   type="text" style="min-width: 275px">
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label>Status</label></td>
                        <td class="value">
                            <select name="status" id="stone-status-option">
                                <?php
                                $status = OpenTechiz_Material_Helper_Data::OPPENTECHIZ_MATERIAL_STATUS;
                                foreach ($status as $key => $status_type) {
                                    echo '<option value=' . $key . '>' . $status_type . '</option>';
                                }
                                ?>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
    <div class="clear"></div>
</div>
<div id="stone-stock-info">
    <div class="entry-edit">
        <div class="entry-edit-head"><h4
                    class="icon-head head-stone-stock-info"><?php echo Mage::helper('opentechiz_material')->__('Stock Information') ?></h4>
        </div>
        <fieldset class="fieldset fieldset-wide">
            <div class="hor-scroll" style="min-height: 200px">
                <table cellspacing="0" class="form-list">
                    <tbody>
                    <tr>
                        <td class="label"><label>Quality</label></td>
                        <td class="value">
                            <select name="quality" id="stone-quality-option">
                            <option value="" selected="selected">-- Please Select --</option>
                                <?php
                                $stone_qlitys = OpenTechiz_Material_Helper_Data::OPPENTECHIZ_MATERIAL_STONE_QUALITY;
                                foreach ($stone_qlitys as $key => $stone_qlity) {
                                    echo '<option value='.$key.'>' . $stone_qlity . '</option>';
                                }
                                ?>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label>Qty <span class="required">*</span></label></td>
                        <td class="value">
                            <input type="number" id="quantity" name="qty" value="" class="required-entry" type="text"
                                   style="min-width: 275px">
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label>Reorder Point</label></td>
                        <td class="value">
                            <input type="number" id="reorder_point" name="reorder_point" value="" class="" type="text"
                                   style="min-width: 275px">
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label>Ideal Stock Level</label></td>
                        <td class="value">
                            <input type="number" id="ideal-stock-level" name="ideal_stock_level" value="" class="" type="text"
                                   style="min-width: 275px">
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label>Shelf Location</label></td>
                        <td class="value">
                            <input id="shelf_location" name="shelf_location" value="" style="min-width: 275px">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
    <div class="clear"></div>
</div>