<?php
$stone = $this->getStone();
$stoneType = OpenTechiz_Material_Helper_Data::OPPENTECHIZ_MATERIAL_STONE_TYPE;
$stoneShape = OpenTechiz_Material_Helper_Data::OPPENTECHIZ_MATERIAL_STONE_SHAPE;
$stoneQuality = OpenTechiz_Material_Helper_Data::OPPENTECHIZ_MATERIAL_STONE_QUALITY;
?>
<div class="entry-edit">
    <div class="entry-edit-head"><h4
                class="icon-head head-stone-main-info"><?php echo Mage::helper('opentechiz_material')->__('Main Information') ?></h4>
    </div>
    <div class="grid">
        <table cellspacing="0" class="data">
            <thead>
            <tr class="headings">
                <th><?php echo Mage::helper('opentechiz_material')->__('Created at') ?></th>
                <th><?php echo Mage::helper('opentechiz_material')->__('Type') ?></th>
                <th><?php echo Mage::helper('opentechiz_material')->__('Weight') ?></th>
                <th><?php echo Mage::helper('opentechiz_material')->__('Quality') ?></th>
                <th><?php echo Mage::helper('opentechiz_material')->__('Shape') ?></th>
                <th><?php echo Mage::helper('opentechiz_material')->__('Diameter') ?></th>
                <th><?php echo Mage::helper('opentechiz_material')->__('Price') ?></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><?php if ($stone->getCreatedAt() != '') echo Mage::helper('core')->formatDate($stone->getCreatedAt(), Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM, true); ?></td>
                <td>
                    <select name="stone_type" id="stone_type_option">
                        <option>-- Please Select --</option>
                        <?php
                        foreach ($stoneType as $key => $item) {
                            echo '<option value="'. $key .'">'. $item .'</option>';
                        }
                        ?>
                    </select>
                </td>
                <td>
                    <input type="number" name="weight" value="<?php echo $stone->getWeight() ?>">
                </td>
                <td>
                    <select name="quality" id="stone_quality_option">
                        <option value="">-- Please Select --</option>
                        <?php
                        foreach ($stoneQuality as $key => $item) {
                            echo '<option value="'. $key .'">'. $item .'</option>';
                        }
                        ?>
                    </select>
                </td>
                <td>
                    <select name="shape" id="stone_shape_option">
                        <option value="">-- Please Select --</option>
                        <?php
                        foreach ($stoneShape as $key => $item) {
                            echo '<option value="'. $key .'">'. $item .'</option>';
                        }
                        ?>
                    </select>
                </td>
                <td>
                    <input name="diameter" value="<?php echo $stone->getDiameter() ?>">
                </td>
                <td>
                    <input type="number" name="price" value="<?php echo $stone->getPrice() ?>">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="clear"></div>
<div class="entry-edit">
    <div class="entry-edit-head"><h4
                class="icon-head head-stone-stock"><?php echo Mage::helper('opentechiz_material')->__('Stock Information') ?></h4>
    </div>
    <div class="grid">
        <table cellspacing="0" class="data">
            <thead>
            <tr class="headings" style="height: 50px">
                <th><?php echo Mage::helper('opentechiz_material')->__('Available Qty') ?></th>
                <th><?php echo Mage::helper('opentechiz_material')->__('Reorder Point') ?></th>
                <th><?php echo Mage::helper('opentechiz_material')->__('Ideal Stock Level') ?></th>
                <th><?php echo Mage::helper('opentechiz_material')->__('Shelf Location') ?></th>
                <th><?php echo Mage::helper('opentechiz_material')->__('Status') ?></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div style="width: 50%; margin: auto; text-align: center">
                        <?php echo $stone->getQty(); ?>
                        <input type="number" style="display: none" name="id"
                               value="<?php echo $stone->getData('stone_id'); ?>">
                    </div>
                </td>
                <td>
                    <div style="width: 50%; margin: auto;">
                        <input type="number" id="reorder_point" name="reorder_point" type="text"
                               value="<?php echo $stone->getData('reorder_point'); ?>" style="width: 100%">
                    </div>
                </td>
                <td>
                    <div style="width: 50%; margin: auto;">
                        <input type="number" id="ideal_stock_level" name="ideal_stock_level" type="text"
                               value="<?php echo $stone->getData('ideal_stock_level'); ?>" style="width: 100%">
                    </div>
                </td>
                <td>
                    <div style="width: 50%; margin: auto;">
                        <input type="text" name="shelf_location" value="<?php echo $stone->getData('shelf_location'); ?>"
                               style="width: 100%">
                    </div>
                </td>
                <td style="text-align: center" id="status-val" name="status">
                    <label><?php if ($stone->getStatus() == 0) echo "Disable"; else echo "Enable"; ?></label>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    jQuery(document).ready(function ($) {
        var stoneTypeVal = '<?php echo $stone->getStoneType(); ?>';
        $('#stone_type_option option').each(function (i) {
            if ($(this).val() == stoneTypeVal) {
                $(this).attr('selected','selected');
            }
        });

        var stoneShapeVal = '<?php echo $stone->getShape(); ?>';
        $('#stone_shape_option option').each(function (i) {
            if ($(this).val() == stoneShapeVal) {
                $(this).attr('selected','selected');
            }
        });

        var stoneQualityVal = '<?php echo $stone->getQuality(); ?>';
        $('#stone_quality_option option').each(function (i) {
            if ($(this).val() == stoneQualityVal) {
                $(this).attr('selected','selected');
            }
        });
    })
</script>