<?php
/** @var Mage_Customer_Helper_Data $helper */
$helper = Mage::helper('customer');
?>
<?php if (!$helper->isLoggedIn()): ?>
<div class="cart-login">
<h3><?php echo $this->__('Spend your points'); ?></h3>
<p><a href="<?php echo $helper->getLoginUrl(); ?>">Login</a> or <a href="<?php echo $helper->getAccountUrl(); ?>">Create Account</a> to earn and spend point</p>
</div>
<?php endif; ?>
