<?php
/**
 * Magento Partialpayment Extension
 *
 * @category   Magecomp
 * @package    Magecomp_Partialpayment
 * @author     Magecomp Partialpayment 
**/


    if(Mage::helper('partialpayment')->getStoredDatafor('enable')){
        $session = Mage::getSingleton('checkout/session');
        $quote = $session->getQuote();
        if($quote->getIsPartialpayment()):
        ?>
        <?php /*if ($this->helper('tax')->displayShippingBothPrices()): ?>
            
        <?php endif;*/ ?>
        <tr>
            <td style="<?php echo $this->getStyle() ?>" class="a-right" colspan="<?php echo $this->getColspan(); ?>">
                <?php echo $this->getTotal()->getTitle() ?>
            </td>
            <td style="<?php echo $this->getStyle() ?>" class="a-right">
                <?php echo $this->helper('checkout')->formatPrice($this->getTotal()->getValue()) ?>
            </td>
        </tr>
        
<?php
        endif;
    }
?>