<?php
/**
 * Magento Partialpayment Extension
 *
 * @category   Magecomp
 * @package    Magecomp_Partialpayment
 * @author     Magecomp Partialpayment 
**/
if(Mage::getStoreConfig('partialpayment/general/enable')):
?>

<?php $_product = $this->getProduct(); ?>
<?php if($_product):  $_partialpayment = $this->getPartialpaymentData($_product->getId()); ?>

<?php 
if ($_partialpayment) : 
	$iswholecart = Mage::helper('partialpayment')->IsWholeCart('enablefor');
	$session = Mage::getSingleton('checkout/session');
	$quote = $session->getQuote(); ?>

	<div id="partialpayment" class="partialpayment <?php if($iswholecart) : ?>wholecartproductpage <?php endif; ?>">

		<label for="partialpayment_select">
			<?php echo Mage::helper('partialpayment')->getheading() ;?>
        </label>
		<select name="options[partialpayment]" id="partialpayment_select" class="partialpayment_select">
	    	<option value="0" ><?php echo $this->__('No');?></option>
	    	<option value="1"<?php if($quote->getIsPartialpayment() || ($iswholecart)){ ?>selected<?php } ?>>
				<?php echo $this->__('Yes');?>
            </option>
		</select>
    
		<?php $detail = trim(Mage::helper('partialpayment')->getStoredDatafor('detail'));
		  		if((Mage::helper('partialpayment')->getStoredDatafor('enabletooltip')) && $detail !='') :?>
					<span class="tooltip" onmouseover="showtooldetail()" onmouseout="hidetooldetail()" >
						<?php echo Mage::helper('partialpayment')->getStoredDatafor('tooltip');?>
        			</span>
					<div id="partialpayment_comments" class="tooltip_detail" style="display:none">
						<?php echo nl2br($detail);?>
        			</div>
                <?php endif; ?>
	</div>
	<script>
		function showtooldetail()
		{
			Element.show('partialpayment_comments');
		}
		function hidetooldetail(){
			Element.hide('partialpayment_comments');
		}
	
	</script>
	
<?php endif; ?>

<?php endif; ?>
<?php endif; ?>