<?php
	$oRequestToken = $this->getRequestToken();
    $customer_id = Mage::getModel('customer/session')->getCustomer()->getId();
    if($customer_id){
    	$referral_code = Mage::getModel('affiliate/affiliatecustomers')->load($customer_id)->getReferralCode();
    	if($referral_code == '') Mage::helper('affiliate') ->setReferralCode($customer_id);
    }
    $referral_code = Mage::getModel('affiliate/affiliatecustomers')->load($customer_id)->getReferralCode();
    $addonClass="";
    if(version_compare(Mage::getVersion(),"1.3.2.4","<=")) $addonClass = " input-box";
    
    $url_new = Mage::app()->getRequest()->getParam('mw_link');
    $url_protocol = Mage::app()->getRequest()->getParam('mw_pro');
    if($url_new && $url_protocol)
    {   
   	    $url_news = $url_protocol.'//'.$url_new;
   	    $url = Mage::helper('affiliate')->getLinkBanner(Mage::getModel('customer/session')->getCustomer(),$url_news);
				        	
    }else{
        $url = Mage::helper('affiliate')->getLink(Mage::getModel('customer/session')->getCustomer());
    }
    
    $history = Mage::helper('affiliate')->getInvitationHistory();
				        
?>
<div class="dashboard">
    <div class="page-title">
        <h1><?php echo $this->__('My Invitations') ?></h1>
    </div>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <?php if(Mage::helper('affiliate')->getAffiliateActive()==1) {?>		
        <form id="form-validate" method="post" action="<?php echo $this->getUrl('affiliate/invitation/invite')?>">
        	
                <h2 class="legend"><?php echo $this->__('Your referral code (manual): <b>%s</b>',$referral_code);?></h2>
                
                <div class="aff_referral_link">
                    <div class="legend"><?php echo $this->__('Referral Link:');?></div>
                    <div class="div_share">
                        <input id="referral_link_input" type="text" name="url_link" value="<?php echo $url ?>" style="width:85%;" readonly="readonly" onclick="this.select()">	           
                        <a id="referral_link_edit" href="#">Edit</a>                
                        <div id="referral_link_edit_block">
                            <div>
                                <p><?php echo $this->__('Your custom link: ') ?></p>
                                <input id="referral_link_custom" type="text" name="url_link_edit" value="" style="width:85%;">
                                <a id="referral_link_update" href="#">Update</a>				
                            </div>
                        </div>                						
                    </div>
        
                </div>
                
                <h2 class="legend"><?php echo $this->__('Connect & Share');?></h2>
                <div id="tabs">
            		<ul>
            			<li><a href="#tabs-1"><?php echo $this->__('Social Share') ?></a></li>
            			<li><a href="#tabs-2"><?php echo $this->__('Via Email') ?></a></li>
            		</ul>
            		<div id="tabs-1">
            			<div class="box-account box-info">
                            <span><?php echo $this->__('With friends on Facebook, Twitter, or Google.') ?></span>
                            <ul class="form-list">
                                <li class="fields">
                                    <div class="customer-name">
                                    	<?php $addonClass="";?>
                                    	<?php if(version_compare(Mage::getVersion(),"1.3.2.4","<=")) $addonClass = " input-box";?>
                    				    <div class="<?php echo $addonClass;?> name-firstname">
                    				        <div style = "padding-top: 10px;">
                    		        			<!-- AddThis Button BEGIN -->
                    							<div class="addthis_toolbox addthis_default_style addthis_32x32_style"
                    								addthis:url="<?php echo $url;?>"
                    						        addthis:title="<?php echo $url; ?>"
                    						        addthis:description="<?php echo $url; ?>">
                    							<a class="addthis_button_preferred_1"></a>
                    							<a class="addthis_button_preferred_2"></a>
                    							<a class="addthis_button_preferred_3"></a>
                    							<a class="addthis_button_preferred_4"></a>
                    							<!--  <a class="addthis_button_compact"></a>-->
                    							<a href="http://www.addthis.com/bookmark.php?v=250&pubid={YOUR_PROFILE_ID}" class="addthis_button_compact"></a> 
                    							<a class="addthis_counter addthis_bubble_style"></a>
                    							</div>
                    							<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-500a790c6c746380"></script>
                    						</div>
                    				    </div>
                    				</div>
                                </li>
                            </ul>
            		    </div>    		    
            		</div>
            		<div id="tabs-2">
                            <div class="fieldset group-select">
                                <?php echo $this->getBlockHtml('formkey')?>
                                <h2 class="legend"><?php echo $this->__('Invite Friends Via Email');?></h2>
                                <span><?php echo $this->__('Send invitation emails to your friends and family');?></span>
                                <ul class="form-list">
                                    <li class="fields">
                                        <div class="customer-name">
                        				    <div class="field<?php echo $addonClass;?> name-firstname">
                        				        <label class="required" style="color:#666666" for="email"><?php echo Mage::helper('affiliate')->__('Email of your friends');?><em style="color:#EB340A">*</em></label>
                        				        <div class="input-box">
                        				            <textarea class="input-text required-entry" title="Email" name="email" id="email" style="width:550px; height:70px"></textarea>
                        				            <!-- Gmail contacts import btn -->
                        				            <a href="javascript:void()" onclick="javascript:popup('https://www.google.com/accounts/OAuthAuthorizeToken?oauth_token=<?php echo $oRequestToken; ?>')" style="display:inline-block;margin-bottom:10px">Add from Google contacts</a>
                        				            
                        				            <div><?php echo $this->__('Separate with commas (,)');?></div>
                        				        </div>
                        				        <label class="required" style="color:#666666" for="email"><?php echo Mage::helper('affiliate')->__('Message');?><em style="color:#EB340A">*</em></label>
                        				        <div class="input-box">
                        				            <textarea class="input-text required-entry" title="Message" name="message" id="message" style="width:550px; height:200px"></textarea>
                        				        </div>
                        				    </div>
                        				</div>
                                    </li>           
                                    
                                    <li>
                                        <div>
                        			        <button class="button form-button" title="<?php echo Mage::helper('affiliate')->__("Send");?>" type="submit"><span><span>  <?php echo Mage::helper('affiliate')->__("Send");?>  </span></span></button>
                        			        <p class="required"><?php echo Mage::helper('affiliate')->__("* Required Fields");?></p>
                        			    </div>
                                    </li>
                                </ul>
                            </div>
            		</div>    		
        	   </div>
               <br />
               <div class="invitation_transaction">
               <h2 class="legend"><?php echo $this->__('Invitation History');?></h2>
               <div class="ui-tabs ui-widget ui-widget-content ui-corner-all">
                <?php if($history > 0){?>
        				<?php echo $this->getChildHtml('invite_transaction') ?>
        				<?php } else if($history == 0){?>
        				<div ><?php echo $this->__('No Invitation Transaction History') ?></div>
                <?php }?>
               </div> 
               </div>           
        </form>	

 <?php } else {?>   
 <ul class="messages"><li class="error-msg"><ul><li><?php echo $this->__('You must register in My Affiliate to use this function.') ?></li></ul></li></ul>
 <?php }?>
</div>
<script type="text/javascript">
$j_mw(function() {
	$j_mw("#tabs").tabs({
	});
});
</script>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
    function mw_popup_func(){
		var popWin =  window.open('<?php echo $this->getUrl('affiliate/invitation/loginmail');?>','newwindow','toolbar=no,location=no,menubar=no,titlebar=no,status=yes,width=500,height=500,resizable=no,scrollbars=yes,top=0,left=0');
	}
    //]]>

    function popup(url) {
    	window.open(url, 'gmailwindow','toolbar=no,location=no,menubar=no,titlebar=no,status=yes,width=800,height=600,resizable=no,scrollbars=yes,top=0,left=0');
    }

    document.observe('dom:loaded', function() {
        $('referral_link_edit_block').hide();
    });

    $('referral_link_edit').observe('click', function(Event) {
        Event.stop();
        $(this).hide();
        $('referral_link_edit_block').show();
    });

    $('referral_link_update').observe('click', function(Event) {
        Event.stop();
        $('referral_link_edit').show();
        $('referral_link_edit_block').hide();

        linkComponent = ($('referral_link_input').value).split('?');
        verifiedKey = linkComponent[1];
        $('referral_link_input').setValue($('referral_link_custom').value + '/?' + verifiedKey);
    });

</script>
