<div class="collateral-box">
    <div class="collateral-box" id="product-q-a">
        <p><strong><a href="#question-form" id="add-question"><?php echo $this->__('Ask your question'); ?></strong></a>
        </p>
        <?php $entries = $this->getEntries(); ?>
        <?php if ( ! $entries->getSize()): ?>
            <p><strong><?php echo $this->__('There are no questions for this product.') ?></strong></p>
        <?php else: ?>
            <?php foreach ($entries as $entry): ?>
                <div class="question-entry">
                    <div class="entry-comment">
                        <strong><?php echo $this->__('Q'); ?>: </strong><?php echo strip_tags($this->htmlEscape($this->stripTags($entry->getQuestion()))); ?>
                    </div>
                    <p>
                        <small class="added-on"><?php echo $this->__('Posted On: '); ?><?php echo $this->formatDate($entry->getCreatedOn()); ?></small>
                        <small class="added-on"><?php echo $this->__('By: '); ?><?php echo explode(' ', $entry->getName(), 2)[0]; ?></small>
                    </p>
                    <div class="entry-answer">
                        <strong><?php echo $this->__('A'); ?>: </strong><?php echo html_entity_decode($this->htmlEscape($entry->getAnswer())); ?>
                    </div>
                </div>
            <?php endforeach; ?>
        <?php endif; ?>
        <br/>
        <?php echo $this->getChildHtml('questionForm'); ?>
        <?php echo $this->getChildHtml('script.questionform'); ?>
    </div>
</div>


