<div class="content-header">
    <table cellspacing="0">
        <tbody>
        <tr>
            <td style="width:50%;"><h3 class="icon-head head-report-sold-refunded">Clearance Sale Zero in Stock Report <?php echo Mage::helper('core')->formatDate(); ?></h3></td>
        </tr>
        </tbody>
    </table>
</div>
<?php
$orderItems = Mage::helper('opentechiz_reportExtend')->getClearanceSaleData();
?>
<div class="grid">
    <div class="hor-scroll">
        <table class="data" id="itemGrid_table" cellspacing="0" border="1">
            <colgroup><col class="a-center" width="20">
                <col width="150">
                <col width="200">
                <col width="250">
                <col width="50">
                <col width="50">
                <col width="80">
                <col width="80">
                <col width="80">
                <col width="100">
                <col width="100">
            </colgroup><thead>
            <tr class="headings">
                <th><span class="nobr"><span class="sort-title">Image</span></a></span></th>
                <th><span class="nobr"><span class="sort-title">SKU</span></span></th>
                <th><span class="nobr"><span class="sort-title">Sales Price</span></span></th>
                <th><span class="nobr"><span class="sort-title">Reorder Point</span></span></th>
                <th><span class="nobr"><span class="sort-title">Last Cost</span></span></th>
                <th><span class="nobr"><span class="sort-title">Last Cost Date</span></span></th>
                <th><span class="nobr"><span class="sort-title">3MS/RET</span></span></th>
                <th><span class="nobr"><span class="sort-title">12MS/RET</span></span></th>
                <th><span class="nobr"><span class="sort-title">In Open Orders</span></span></th>
                <th><span class="nobr"><span class="sort-title">Other Variant in Stock</span></span></th>
                <th><span class="nobr"><span class="sort-title">Manufacturing</span></span></th>
            </tr>
            </thead>

            <tbody>
            <?php foreach ($orderItems as $orderItem){

                ?>
                <tr title="#" class="even pointer">
                    <td class="a-center ">
                        <img src="<?php echo $orderItem['image'] ?>" width="120px" height="120px">
                    </td>
                    <td class="a-center ">
                        <?php echo $orderItem['sku'] ?>
                    </td>
                    <td class=" ">
                        <?php echo $orderItem['price'] ?>
                    </td>
                    <td class=" ">
                        <?php echo $orderItem['reorder_point'] ?>
                    </td>

                    <td class=" ">
                        <?php echo $orderItem['cost'] ?>
                    </td>

                    <td class=" ">
                        <?php echo $orderItem['cost_date'] ?>
                    </td>

                    <td class=" ">
                        <?php echo $orderItem['3m'] ?>
                    </td>

                    <td class="a-center ">
                        <?php echo $orderItem['12m'] ?>                    </td>
                    <td class="a-center ">
                        <?php echo $orderItem['in_open_order'] ?>                    </td>
                    <td class="a-center ">
                        <?php echo $orderItem['other'] ?>                    </td>
                    <td class="a-center ">
                        <?php echo $orderItem['manufacture'] ?>                    </td>
                </tr>
            <?php } ?>
            </tbody>
        </table>
    </div>
</div>
