<div class="sale_report">

    <div class="hor-scroll">
        <table class="data" id="id_d79f811c0073b16e0ef13670480840ba_table" cellspacing="0">
            <colgroup><col width="100">
                <col width="100">
                <col width="100">
            </colgroup><thead>
            <tr class="daily_sales">
                <th class=" no-link"><span class="nobr">Source</span></th>
                <th class=" no-link"><span class="nobr">Total amount</span></th>
                <th class=" no-link"><span class="nobr">Total excluding tax and charges</span></th>
                <th class=" no-link"><span class="nobr">Tax amount</span></th>
                <th class=" no-link"><span class="nobr">Shipping Charges</span></th>
                <th class=" no-link"><span class="nobr">Discount</span></th>
                <th class=" no-link"><span class="nobr">Order #</span></th>
                <th class=" no-link"><span class="nobr">Item</span></th>
            </tr>
            </thead>

            <tbody id="table-body">
            <?php
            $total = $subtotal = $tax = $ship = $discount = $order = $item = 0;
            $count = 0;
            $getDailySalesData = Mage::helper('opentechiz_reportExtend')->getDailySalesData();
            $getDailyRefundData = Mage::helper('opentechiz_reportExtend')->getDailyRefundData();
            ?>
            <?php if (is_array($getDailySalesData) || is_object($getDailySalesData)){?>
                <?php foreach ($getDailySalesData as $key => $data){ ?>
                    <tr title="#" class="pointer">
                        <td rowspan="1" class=" ">
                            <span class="nobr"><?php echo OpenTechiz_ReportExtend_Helper_Data::ORDER_SOURCE[$key]; ?>&nbsp;</span>
                        </td>
                        <td class=" a-right " style="width: 15%;"><?php echo $data['total']; $total+=$data['total']; ?>&nbsp;</td>
                        <td class=" a-right " style="width: 15%;"><?php echo $data['subtotal']; $subtotal += $data['subtotal'];?>&nbsp;</td>
                        <td class=" a-right " style="width: 15%;"><?php echo $data['tax']; $tax+=$data['tax']; ?>&nbsp;</td>
                        <td class=" a-right " style="width: 15%;"><?php echo $data['ship']; $ship += $data['ship'] ?>&nbsp;</td>
                        <td class=" a-right " style="width: 15%;"><?php echo $data['discount']; $discount += $data['discount'] ?>&nbsp;</td>
                        <td class=" a-right " style="width: 15%;" id="order-col-<?php echo $count; ?>"><?php echo $data['order']; $order += count(explode(',', $data['order'])); if($data['order'] == '') $order-- ?>&nbsp;</td>
                        <td class=" a-right " style="width: 15%;" id="item-col-<?php echo $count; ?>"><?php echo $data['item']; $item += count(explode(',', $data['item'])); if($data['item'] == '') $item--?>&nbsp;</td>
                    </tr>
                    <?php $count++; } ?>
            <?php } ?>
            <tr class="totals">
                <th class="">Total&nbsp;</th>
                <th class=" a-right"><?php echo $total ?>&nbsp;</th>
                <th class=" a-right"><?php echo $subtotal ?>&nbsp;</th>
                <th class=" a-right"><?php echo $tax ?>&nbsp;</th>
                <th class=" a-right"><?php echo $ship ?>&nbsp;</th>
                <th class=" a-right"><?php echo $discount ?>&nbsp;</th>
                <th class=" a-right"><?php echo $order ?>&nbsp;</th>
                <th class=" a-right"><?php echo $item ?>&nbsp;</th>
            </tr>

            <?php
            $refundtotal = $refundsubtotal = $refundorder = $refunditem = 0;
            ?>
            <?php if (is_array($getDailyRefundData) || is_object($getDailyRefundData)){?>
                <?php foreach ($getDailyRefundData as $key => $data){ ?>
                    <tr title="#" class="pointer">
                        <td rowspan="1" class=" ">
                            <span class="nobr"><?php echo OpenTechiz_ReportExtend_Helper_Data::ORDER_SOURCE[$key]; ?>&nbsp;</span>
                        </td>
                        <td class=" a-right " style="width: 15%;"><?php echo $data['total']; $refundtotal+=$data['total']; ?>&nbsp;</td>
                        <td class=" a-right " style="width: 15%;"><?php echo $data['subtotal']; $refundsubtotal += $data['subtotal'];?>&nbsp;</td>
                        <td class=" a-right " style="width: 15%;">0&nbsp;</td>
                        <td class=" a-right " style="width: 15%;">0&nbsp;</td>
                        <td class=" a-right " style="width: 15%;">0&nbsp;</td>
                        <td class=" a-right " style="width: 15%;" id="order-refund-<?php echo $count; ?>"><?php echo $data['order']; $refundorder += count(explode(',', $data['order'])); if($data['order'] == '') $refundorder-- ?>&nbsp;</td>
                        <td class=" a-right " style="width: 15%;" id="item-refund-<?php echo $count; ?>"><?php echo $data['item']; $refunditem += count(explode(',', $data['item'])); if($data['item'] == '') $refunditem--?>&nbsp;</td>
                    </tr>
                    <?php $count++; } ?>
            <?php } ?>
            </tbody>

            <tfoot>
            <tr class="totals">
                <th class="">Total&nbsp;</th>
                <th class=" a-right"><?php echo $refundtotal + $total ?>&nbsp;</th>
                <th class=" a-right"><?php echo $subtotal + $refundsubtotal ?>&nbsp;</th>
                <th class=" a-right"><?php echo $tax ?>&nbsp;</th>
                <th class=" a-right"><?php echo $ship ?>&nbsp;</th>
                <th class=" a-right"><?php echo $discount ?>&nbsp;</th>
                <th class=" a-right">Total incl refunded: <?php echo $refundorder + $order ?>&nbsp;</th>
                <th class=" a-right">Total incl refunded: <?php echo $refunditem + $item ?>&nbsp;</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
