<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    jQuery.noConflict();
</script>

<div class="content-header">
    <table cellspacing="0">
        <tbody>
        <tr>
            <td style="width:50%;"><h3 class="icon-head head-report-sales-refunded">Gold Used Report</h3></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="entry-edit">
    <form id="filter_form" action="<?php echo $this->getAjaxUrl() ?>" method="post"><div></div><div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend">Filter</h4>
            <div class="form-buttons"></div>
        </div>
        <div class="fieldset ">
            <div class="hor-scroll">
                <table class="form-list" cellspacing="0">
                    <tbody>
                    <tr>
                        <td class="label"><label for="sales_report_from">From <span class="required">*</span></label></td>
                        <td class="value">
                            <input name="from" id="report_from" value="" title="From" type="text" class=" required-entry input-text" style="width:110px !important;">
                            <img src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>" class="v-middle" id="report_from_trig" />
                            <script type="text/javascript">
                                //<![CDATA[
                                Calendar.setup({
                                    inputField: "report_from",
                                    ifFormat: "%m/%e/%Y",
                                    showsTime: false,
                                    button: "report_from_trig",
                                    align: "Bl",
                                    singleClick : true
                                });
                                //]]>
                            </script>            </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="sales_report_to">To <span class="required">*</span></label></td>
                        <td class="value">
                            <input name="to" id="report_to" value="" title="To" type="text" class=" required-entry input-text" style="width:110px !important;">
                            <img src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>" class="v-middle" id="report_to_trig" />
                            <script type="text/javascript">
                                //<![CDATA[
                                Calendar.setup({
                                    inputField: "report_to",
                                    ifFormat: "%m/%e/%Y",
                                    showsTime: false,
                                    button: "report_to_trig",
                                    align: "Bl",
                                    singleClick : true
                                });
                                //]]>
                            </script>            </td>
                    </tr>
                    <tr>
                        <td><br></td>
                        <td><br></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button id="submitFilter" title="Filter" type="submit" class="scalable " style=""><span><span><span>Filter</span></span></span></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>

<div class="grid">

    <div class="hor-scroll">
        <table class="data" id="id_d79f811c0073b16e0ef13670480840ba_table" cellspacing="0">
            <colgroup>
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
            </colgroup><thead>
            <tr class="headings gold-used-title">
                <th class=" no-link date-finished"><span class="nobr">Date Finished</span></th>
                <th class=" no-link image-field"><span class="nobr">Image</span></th>
                <th class=" no-link gold-type"><span class="nobr">Gold Type</span></th>
                <th class=" no-link order-id"><span class="nobr">Order #</span></th>
                 <th class=" no-link order-id"><span class="nobr">Production #</span></th>
                <th class=" no-link order-id"><span class="nobr">Manufacture #</span></th>
                <th class=" no-link product-name"><span class="nobr">Product Name</span></th>
                <th class=" no-link casting-weight"><span class="nobr">Casting Weight (gr)</span></th>
                <th class=" no-link finished-weight"><span class="nobr">Finished Weight (gr)</span></th>
                <th class=" no-link lost-weight"><span class="nobr">Lost Weight (gr)</span></th>
            </tr>
            </thead>

            <tbody id="table-body">


            </tbody>
        </table>
    </div>
</div>

<script>
    jQuery("#filter_form").submit(function(e) {
        var form = jQuery(this);
        var url = form.attr('action');
        inputBarcode = jQuery('#barcode').val();

        var data = form.serializeArray();

        jQuery("#loading-mask").show();
        jQuery.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function(data)
            {
                document.getElementById('table-body').innerHTML = '';
                var i = 0;
                var order = 0;
                var item = 0;
                var returnNo = 0;
                var manufacture = 0;
                for(var key in data) {
                    if (data.hasOwnProperty(key)) {
                        if(typeof (data[key]['casting']) === 'undefined') continue;
                        if(!data[key]['finish']) data[key]['finish'] = data[key]['casting'];
                        var lost = parseFloat(data[key]['casting'] - data[key]['finish']);
                        document.getElementById('table-body').innerHTML += '<tr title="#" class="' + isEven(i) + ' pointer">\n' +
                            '                <td class="date-finished">\n' +
                            '                    <span class="nobr">' + data[key]['date'] + '</span>\n' +
                            '                </td>\n' +
                            '                <td class="image-field">\n' +
                            '                    <img src="' + data[key]['image'] + '" width="120px" height="120px">\n' +
                            '                </td>\n' +
                            '                <td class="gold-type">\n' +
                            '                    '+ data[key]['gold'] +'&nbsp;\n' +
                            '                </td>\n' +
                            '                <td class="order-id">\n' +
                            '                    '+ data[key]['order'] +'&nbsp;\n' +
                            '                </td>\n' +
                            '                <td class="order-id">\n' +
                            '                    '+ key +'&nbsp;\n' +
                            '                </td>\n' +
                            '                <td class="manufacture-id">\n' +
                            '                    '+ data[key]['manufacture'] +'&nbsp;\n' +
                            '                </td>\n' +
                            '                <td class="product-name">\n' +
                            '                    '+ data[key]['product'] +'&nbsp;\n' +
                            '                </td>\n' +
                            '                <td class="casting-weight">\n' +
                            '                    '+ data[key]['casting'] +'&nbsp;\n' +
                            '                </td>\n' +
                            '                <td class="finished-weight">\n' +
                            '                    '+ data[key]['finish'] +'&nbsp;\n' +
                            '                </td>\n' +
                            '                <td class="lost-weight">\n' +
                            '                    '+ lost.toFixed(2) +'&nbsp;\n' +
                            '                </td>\n' +
                            '            </tr>';
                        i++;
                        order += parseInt(data[key]['order']);
                        manufacture += parseInt(data[key]['manufacture']);
                        item += parseInt(data[key]['item']);
                        returnNo += parseInt(data[key]['return']);
                    }
                }

                if(document.getElementById('table-body').innerHTML === ''){
                    document.getElementById('table-body').innerHTML += '<tr class="even">\n' +
                        '                <td class="empty-text a-center" colspan="12">No records found.</td>\n' +
                        '            </tr>';
                }

                // var rate = parseFloat(returnNo/item);
                //
                // document.getElementById('total-order').innerHTML = order + '&nbsp';
                // document.getElementById('total-item').innerHTML = item + '&nbsp';
                // document.getElementById('total-return').innerHTML = returnNo + '&nbsp';
                // document.getElementById('total-rate').innerHTML = rate + '%'+'&nbsp';
                //
                jQuery("#loading-mask").hide();
            }
        });

        e.preventDefault();
    });

    function isEven(n) {
        if( n % 2 == 0) return 'even';
    }
</script>

<style>
    .gold-used-title th {
        width: calc((100%/8));
    }
</style>