<?php
$currentDate = Mage::getModel('core/date')->gmtDate('Y-m-d H:i:s');
$collection = Mage::getModel('opentechiz_purchase/purchase')->getCollection()
    ->join(array('supplier' => 'opentechiz_purchase/supplier'), 'supplier.supplier_id=main_table.supplier_id')
    ->addFieldToFilter('main_table.delivery_date', array(
        'to' => $currentDate
    ))->addFieldToFilter('main_table.status', array(
        'nin' => array(1,3,4)
    ));
?>

<div class="sale_report responsive">
    <div style="margin:0 auto">
        <table class="data" cellspacing="0">
            <colgroup><col width="100">
                <col width="100">
                <col width="100">
            </colgroup><thead>
            <tr class="headings">
                <th class=" no-link"><span class="nobr">Increment Id</span></th>
                <th class=" no-link"><span class="nobr">Created At</span></th>
                <th class=" no-link"><span class="nobr">Updated At</span></th>
                <th class=" no-link"><span class="nobr">Type</span></th>
                <th class=" no-link"><span class="nobr">Is Paid</span></th>
                <th class=" no-link"><span class="nobr">Estimated Delivery Date</span></th>
                <th class=" no-link"><span class="nobr">Order Total</span></th>
                <th class=" no-link"><span class="nobr">Supplier Email</span></th>
            </tr>
            </thead>

            <tbody id="table-body">
            <?php foreach ($collection as $item){ ?>
                <tr title="#" class="pointer">
                    <td class=" a-right " style="width: 15%;"><?php echo $item->getPoIncrementId(); ?>&nbsp;</td>
                    <td class=" a-right " style="width: 15%;"><?php echo $item->getCreatedAt();?>&nbsp;</td>
                    <td class=" a-right " style="width: 15%;"><?php echo $item->getUpdatedAt(); ?>&nbsp;</td>
                    <td class=" a-right " style="width: 15%;"><?php echo Mage::helper('opentechiz_purchase')->getPurchaseOrderType($item->getType()); ?>&nbsp;</td>
                    <td class=" a-right " style="width: 15%;"><?php echo Mage::helper('opentechiz_purchase')->getPoPaidStatus($item->getIsPaid()); ?>&nbsp;</td>
                    <td class=" a-right " style="width: 15%;"><?php echo $item->getDeliveryDate(); ?>&nbsp;</td>
                    <td class=" a-right " style="width: 15%;"><?php echo $item->getTotalIncludeTax();?></td>
                    <td class=" a-right " style="width: 15%;"><?php echo $item->getName();?></td>
                </tr>
            <?php } ?>
            </tbody>
        </table>
    </div>
</div>