<?php
$helper = Mage::helper('opentechiz_reportExtend');

$dateLastMonth = $helper->getDateLastMonth();
$lastMonthString = ' ('.$dateLastMonth[0].' to '.$dateLastMonth[1].')';
$dateLastMonth1year = $helper->getDateLastMonthYear(1);
$lastMonth1yearString = ' ('.$dateLastMonth1year[0].' to '.$dateLastMonth1year[1].')';
$dateLastMonth2year = $helper->getDateLastMonthYear(2);
$lastMonth2yearString = ' ('.$dateLastMonth2year[0].' to '.$dateLastMonth2year[1].')';
?>
<div class="sale_report">
    <div class="hor-scroll">
        <table class="data" cellspacing="0">
            <col>
            <colgroup span="4"></colgroup>
            <colgroup span="4"></colgroup>
            <colgroup span="4"></colgroup>
            <tr class="weekly_sales">
                <td rowspan="2" class=" no-link">Order Source</td>
                <th colspan="4" class=" no-link" scope="colgroup" style="text-align: center">Last month sales amount <?php echo $lastMonthString ?></th>
                <th colspan="4" class=" no-link" scope="colgroup" style="text-align: center">Last month 1 year ago sales amount <?php echo $lastMonth1yearString ?></th>
                <th colspan="4" class=" no-link" scope="colgroup" style="text-align: center">Last month 2 year ago sales amount <?php echo $lastMonth2yearString ?></th>
            </tr>
            <tr class="weekly_sales">
                <th scope="col" class=" no-link">SubTotal</th>
                <th scope="col" class=" no-link">Tax</th>
                <th scope="col" class=" no-link">Shipping</th>
                <th scope="col" class=" no-link">Total</th>
                <th scope="col" class=" no-link">SubTotal</th>
                <th scope="col" class=" no-link">Tax</th>
                <th scope="col" class=" no-link">Shipping</th>
                <th scope="col" class=" no-link">Total</th>
                <th scope="col" class=" no-link">SubTotal</th>
                <th scope="col" class=" no-link">Tax</th>
                <th scope="col" class=" no-link">Shipping</th>
                <th scope="col" class=" no-link">Total</th>
            </tr>

            <tbody id="table-body">
            <?php
            $lastMonth = $lastMonthSubtotal = $lastMonthTax = $lastMonthShip = $lastMonth1year = $lastMonth1yearSubtotal = $lastMonth1yearTax = $lastMonth1yearShip = $lastMonth2Year = $lastMonth2yearSubtotal = $lastMonth2YearTax = $lastMonth2YearShip = 0;
            $count = 0;
            $getMonthlySalesData = $helper->getMonthlySalesData();
            $getMonthlyRefundData = $helper->getMonthlyRefundData();
            ?>
            <?php
            if (is_array($getMonthlySalesData) || is_object($getMonthlySalesData)){
                foreach ($getMonthlySalesData as $key => $data){ ?>
                    <?php if($data['total_last_month'] == 0 && $data['total_year1'] == 0 && $data['total_year2'] == 0) continue;
                    $data['total_last_month'] = round($data['total_last_month'],2);
                    $data['tax_last_month'] = round($data['tax_last_month'],2);
                    $data['ship_last_month'] = round($data['ship_last_month'],2);
                    $data['sub_total_last_month'] = $data['total_last_month'] - $data['tax_last_month'] - $data['ship_last_month'];
                    $data['total_year1'] = round($data['total_year1'],2);
                    $data['tax_year1'] = round($data['tax_year1'],2);
                    $data['ship_year1'] = round($data['ship_year1'],2);
                    $data['sub_total_year1'] = $data['total_year1'] - $data['tax_year1'] - $data['ship_year1'];
                    $data['total_year2'] = round($data['total_year2'],2);
                    $data['tax_year2'] = round($data['tax_year2'],2);
                    $data['ship_year2'] = round($data['ship_year2'],2);
                    $data['sub_total_year2'] = $data['total_year2'] - $data['tax_year2'] - $data['ship_year2'];
                    ?>
                    <tr title="#" class="pointer">
                        <td rowspan="1" class=" ">
                            <span class="nobr"><?php echo OpenTechiz_ReportExtend_Helper_Data::ORDER_SOURCE[$key]; ?>&nbsp;</span>
                        </td>
                        <td class=" a-right " style="width: 10%;"><?php echo $helper->numberFormat($data['sub_total_last_month']); $lastMonthSubtotal += $data['sub_total_last_month']; ?>&nbsp;</td>
                        <td class=" a-right " style="width: 10%;"><?php echo $helper->numberFormat($data['tax_last_month']); $lastMonthTax += $data['tax_last_month']; ?>&nbsp;</td>
                        <td class=" a-right " style="width: 10%;"><?php echo $helper->numberFormat($data['ship_last_month']); $lastMonthShip += $data['ship_last_month']; ?>&nbsp;</td>
                        <td class=" a-right " style="width: 10%;"><?php echo $helper->numberFormat($data['total_last_month']); $lastMonth += $data['total_last_month']; ?>&nbsp;</td>
                        <td class=" a-right " style="width: 10%;"><?php echo $helper->numberFormat($data['sub_total_year1']); $lastMonthSubtotal += $data['sub_total_year1']; ?>&nbsp;</td>
                        <td class=" a-right " style="width: 10%;"><?php echo $helper->numberFormat($data['tax_year1']); $lastMonthTax += $data['tax_year1']; ?>&nbsp;</td>
                        <td class=" a-right " style="width: 10%;"><?php echo $helper->numberFormat($data['ship_year1']); $lastMonthShip += $data['ship_year1']; ?>&nbsp;</td>
                        <td class=" a-right " style="width: 15%;"><?php echo $helper->numberFormat($data['total_year1']); $lastMonth1year += $data['total_year1'];?>&nbsp;</td>
                        <td class=" a-right " style="width: 10%;"><?php echo $helper->numberFormat($data['sub_total_year2']); $lastMonthSubtotal += $data['sub_total_year2']; ?>&nbsp;</td>
                        <td class=" a-right " style="width: 10%;"><?php echo $helper->numberFormat($data['tax_year2']); $lastMonthTax += $data['tax_year2']; ?>&nbsp;</td>
                        <td class=" a-right " style="width: 10%;"><?php echo $helper->numberFormat($data['ship_year2']); $lastMonthShip += $data['ship_year2']; ?>&nbsp;</td>
                        <td class=" a-right " style="width: 15%;"><?php echo $helper->numberFormat($data['total_year2']); $lastMonth2Year += $data['total_year2']; ?>&nbsp;</td>
                    </tr>
                    <?php $count++; } ?>
            <?php }?>
            <tr class="totals">
                <th class="">Total&nbsp;</th>
                <th colspan="4" class=" a-right"><?php echo $helper->numberFormat($lastMonth) ?>&nbsp;</th>
                <th colspan="4" class=" a-right"><?php echo $helper->numberFormat($lastMonth1year) ?>&nbsp;</th>
                <th colspan="4" class=" a-right"><?php echo $helper->numberFormat($lastMonth2Year) ?>&nbsp;</th>
            </tr>

            <?php
            $refundlastMonth = $refundlastMonth1Year = $refundlastMonth2Year = 0;
            $count = 0;
            ?>
            <?php if (is_array($getMonthlyRefundData) || is_object($getMonthlyRefundData)){?>
                <?php foreach ($getMonthlyRefundData as $key => $data){ ?>
                    <?php if($data[0] == 0 && $data[1] == 0 && $data[2] == 0) continue;
                    $data[0] = round($data[0],2);
                    $data[1] = round($data[1],2);
                    $data[2] = round($data[2],2);
                    ?>
                    <tr title="#" class="pointer">
                        <td rowspan="1" class=" ">
                            <span class="nobr"><?php echo OpenTechiz_ReportExtend_Helper_Data::ORDER_SOURCE[$key]; ?>&nbsp;</span>
                        </td>
                        <td colspan="4" class=" a-right " style="width: 10%;"><?php echo $helper->numberFormat($data[0]); $refundlastMonth += $data[0]; ?>&nbsp;</td>
                        <td colspan="4" class=" a-right " style="width: 15%;"><?php echo $helper->numberFormat($data[1]); $refundlastMonth1Year += $data[1];?>&nbsp;</td>
                        <td colspan="4" class=" a-right " style="width: 15%;"><?php echo $helper->numberFormat($data[2]); $refundlastMonth2Year += $data[2];?>&nbsp;</td>
                    </tr>
                    <?php $count++; } ?>
            <?php } ?>
            </tbody>

            <tfoot>
            <tr class="totals">
                <th class="">Refund&nbsp;</th>
                <th colspan="4" class=" a-right"><?php echo $helper->numberFormat($refundlastMonth) ?>&nbsp;</th>
                <th colspan="4" class=" a-right"><?php echo $helper->numberFormat($refundlastMonth1Year) ?>&nbsp;</th>
                <th colspan="4" class=" a-right"><?php echo $helper->numberFormat($refundlastMonth2Year) ?>&nbsp;</th>
            </tr>
            <tr class="totals">
                <th class="">GrandTotal&nbsp;</th>
                <th colspan="4" class=" a-right"><?php echo $helper->numberFormat($refundlastMonth + $lastMonth) ?>&nbsp;</th>
                <th colspan="4" class=" a-right"><?php echo $helper->numberFormat($refundlastMonth1Year + $lastMonth1year) ?>&nbsp;</th>
                <th colspan="4" class=" a-right"><?php echo $helper->numberFormat($refundlastMonth2Year + $lastMonth2Year) ?>&nbsp;</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
