<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    jQuery.noConflict();
</script>

<div class="content-header">
    <table cellspacing="0">
        <tbody>
        <tr>
            <td style="width:50%;"><h3 class="icon-head head-report-sales-refunded">Items Not Sold Not In Stock</h3></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="entry-edit">
    <form id="filter_form" action="<?php echo $this->getNotInStockAjaxUrl() ?>" method="post"><div></div><div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend">Filter</h4>
            <div class="form-buttons"></div>
        </div>
        <div class="fieldset ">
            <div class="hor-scroll">
                <table class="form-list" cellspacing="0">
                    <tbody>
                    <tr>
                        <td class="label"><label for="sales_report_from">Date From <span class="required">*</span></label></td>
                        <td class="value">
                            <input name="from" id="report_from" value="" required title="From" type="text" class=" required-entry input-text" style="width:110px !important;">
                            <img src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>" class="v-middle" id="report_from_trig" />
                            <script type="text/javascript">
                                //<![CDATA[
                                Calendar.setup({
                                    inputField: "report_from",
                                    ifFormat: "%m/%e/%Y",
                                    showsTime: false,
                                    button: "report_from_trig",
                                    align: "Bl",
                                    singleClick : true
                                });
                                //]]>
                            </script>            </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="product_name">Product Name </span></label></td>
                        <td class="value">
                            <input name="product_name" id="product_name"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="exclude_supplier">Exclude from </span></label></td>
                        <td class="value">
                            <select name="exclude_supplier" id="exclude_supplier">
                                <option value=""></option>
                                <?php foreach (Mage::helper('opentechiz_purchase')->getAllSupplier() as $key => $value){ ?>
                                    <option value="<?php echo $key ?>"><?php echo $value ?></option>
                                <?php } ?>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><input type="checkbox" name="exclude_9"/> Exclude items starting with 9</td>
                        <td class="value"><input type="checkbox" name="exclude_0"/> Exclude items starting with 0</td>
                    </tr>
                    <tr>
                        <td class="label"><input type="checkbox" name="exclude_d"/> Exclude items starting with D</td>
                        <td class="value"><input type="checkbox" name="main_image"/> Show only Main image</td>
                    </tr>
                    <tr id="sort_tr" style="display: none;">
                        <td class="value"><input name="col" id="sort_col" /></td>
                        <td class="value"><input name="way" id="sort_way" /></td>
                    </tr>
                    <tr>
                        <td><br></td>
                        <td><br></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button id="submitFilter" title="Filter" type="submit" class="scalable " style=""><span><span><span>Filter</span></span></span></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>

<div style="width: 100%; padding-bottom: 20px;">
    <div id="page_tr" style="display: none; float: left">
        Page:
        <input name="page" form="filter_form" id="page" type="number" min="1" value="1" style="width: 50px" onchange="changePage()"/>
        <span id="max_page"></span>
    </div>
    <div id="form_submit" style="display: none; float: right">
        <form id="disable_product_form" action="<?php echo $this->getDisableProductUrl() ?>" method="post">
            <button id="submitDisable" title="Disable" type="submit" class="scalable " style=""><span><span><span>Save</span></span></span></button>
        </form>
    </div>
</div>

<br>
<div class="grid">
    <div class="hor-scroll">
        <table class="data" id="itemGrid_table" cellspacing="0" border="1">
            <colgroup>
                <col class="a-center" width="100">
                <col width="200">
                <col width="50">
                <col width="50">
                <col width="100">
                <col width="50">
                <col width="100">
                <col width="150">
            </colgroup><thead>
            <tr class="headings">
                <th><span class="nobr"><span class="sort-title">Image</span></a></span></th>
                <th><span class="nobr"><span class="sort-title">Product Name</span></span></th>
                <th><span class="nobr"><span class="sort-title">SKU</span></span></th>
                <th><span class="nobr"><span class="sort-title">Selling Price</span></span></th>
                <th><span class="nobr"><span class="sort-title" style="cursor: pointer" onclick="sortGrid('last_sold_date')">Last Sold Date</span></span></th>
                <th><span class="nobr"><span class="sort-title" style="cursor: pointer" onclick="sortGrid('last_cost')">Last Cost</span></span></th>
                <th><span class="nobr"><span class="sort-title" style="cursor: pointer" onclick="sortGrid('last_cost_date')">Last Cost Date</span></span></th>
                <th><span class="nobr"><span class="sort-title">Product Status</span></span></th>
            </tr>
            </thead>

            <tbody id="table-body">

            </tbody>
        </table>
    </div>
</div>

<script>
    var polarArray = {
        'last_sold_date': 'asc',
        'last_cost_date': 'asc',
        'last_cost': 'asc'
    };

    jQuery("#filter_form").submit(function(e) {
        var form = jQuery(this);
        var url = form.attr('action');
        inputBarcode = jQuery('#barcode').val();

        var data = form.serializeArray();

        jQuery("#loading-mask").show();
        jQuery.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function(data)
            {
                refreshGrid(data);
                jQuery("#loading-mask").hide();
            }
        });

        e.preventDefault();
    });

    jQuery("#disable_product_form").submit(function(e) {
        var form = jQuery(this);
        var url = form.attr('action');
        inputBarcode = jQuery('#barcode').val();

        var data = form.serializeArray();

        jQuery("#loading-mask").show();
        jQuery.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function(data)
            {
                jQuery("#loading-mask").hide();
                jQuery("#filter_form").submit();
                // alert('Items disabled: '+"\n"+data.toString());
                prompt("Notice: Items SKU disabled: ", data.toString());
            }
        });

        e.preventDefault();
    });

    function isEven(n) {
        if( n % 2 == 0) return 'even';
    }

    function sortGrid(data) {
        var polar = polarArray[data];
        if(polar === 'asc'){
            polar = 'desc';
            polarArray[data] = 'desc';
        }else{
            polar = 'asc';
            polarArray[data] = 'asc';
        }
        document.getElementById('sort_col').value = data;
        document.getElementById('sort_way').value = polar;
        jQuery("#filter_form").submit();
    }
    
    function refreshGrid(data) {
        document.getElementById('table-body').innerHTML = '';
        if(typeof data === 'string'){
            alert(data);
        }else {
            var i = 0;
            var process = 0;
            var error = 0;
            var broke = 0;
            for (var key in data) {
                if (data.hasOwnProperty(key) && !isNaN(key)) {
                    document.getElementById('table-body').innerHTML += '<tr title="#" class="' + isEven(i) + ' pointer">\n' +
                        '                <td class="" style="">\n' +
                        '                    <a href="' + data[key]['image'] + '"> <img src=" ' + data[key]['image'] + '"/> </a>\n' +
                        '                </td>\n' +
                        '                <td class=" " style="">\n' +
                        '                    ' + data[key]['product_name'] + '&nbsp;\n' +
                        '                </td>\n' +
                        '                <td class="  " style="">\n' +
                        '                    ' + data[key]['base_sku'] + '\n' +
                        '                </td>\n' +
                        '                <td class="  " style="">\n' +
                        '                    ' + data[key]['special_price'] + '\n' +
                        '                </td>\n' +
                        '                <td class="  " style="">\n' +
                        '                    ' + data[key]['last_sold_date'] + '&nbsp;\n' +
                        '                </td>\n' +
                        '                <td class="  " style="">\n' +
                        '                    ' + data[key]['last_cost'] + '&nbsp;\n' +
                        '                </td>\n' +
                        '                <td class="  " style="">\n' +
                        '                    ' + data[key]['last_cost_date'] + '\n' +
                        '                </td>\n' +
                        '                <td class=" " style="">\n' +
                        '                    ' + '<select name="'+data[key]['product_id']+'" form="disable_product_form" onchange="enableFormDisableProduct()">' +
                        '                           <option value="0">Enable</option>' +
                        '                           <option value="1">Disable</option>' +
                        '                         </select>\n' +
                        '                </td>\n' +
                        '            </tr>';
                    i++;
                }
            }

            if(data['max_page'] === 0) data['max_page'] = 1;
            document.getElementById('page_tr').style.display = 'block';
            document.getElementById('max_page').innerText = ' of ' + data['max_page'];
            document.getElementById('page').max = data['max_page'];

            if (document.getElementById('table-body').innerHTML === '') {
                document.getElementById('table-body').innerHTML += '<tr class="even">\n' +
                    '                <td class="empty-text a-center" colspan="11">No records found.</td>\n' +
                    '            </tr>';
            }
        }
    }
    
    function enableFormDisableProduct() {
        document.getElementById('form_submit').style.display = 'block';
    }

    function changePage() {
        jQuery("#filter_form").submit();
    }
</script>