<?php
$order = $this->getOrder();
$related_order_link = $this->getRelatedOrderLink($order);
$allowEditStatus = $this->allowChangeOrderData($order);
$isOrderCanceled = false;
$totalPaid = $order->getTotalPaid();

$isOrderCanceled = $this->preventEditSource($order->getState());
$message = $this->showMessage($order->getState());

$missingPayment = !Mage::helper('opentechiz_salesextend')->isOrderFullyPaid($order);

if($missingPayment){
    $color = '#ea7601';
    $text = 'Partially Paid Layaway';
}else{
    $color = 'green';
    $text = 'Fully Paid Layaway';
}

$isLayaway = false;
if($order->getOrderType() == 1) {
    $isLayaway = true;
    $layaway = Mage::helper('opentechiz_salesextend')->getPartialPaymentOrder($order);
}
$currentSource = $order->getSource();

$lastChangeStatus = Mage::getModel('opentechiz_reportExtend/log_orderStatus')->load($order->getLastHistoryId())->getUpdatedAt();

?>
<div class="entry-edit order-source-div" id="order-source">

    <div class="entry-edit-head">
        <h4 class="icon-head fieldset-legend"><?php echo $this->__("Order Management ")?><?php if($message !=''):?><span style="background: red"><?php echo $message;?></span><?php endif;?></h4>
    </div>

    <div class="fieldset">
<!--            Order Source:<br>-->
        <form id="order_source_form" enctype="multipart/form-data" method="post" action="<?php echo $this->getUpdateOrderUrl() ?>"
              onsubmit="disableSubmitBtn()">
<!--                <select name="source" form="order_source_form" style="width:97.5%;">-->
<!--                    --><?php //foreach (OpenTechiz_ReportExtend_Helper_Data::ORDER_SOURCE as $key => $value){
//                        if($currentSource == $key){
//                            echo '<option value="'.$key.'" selected>'.$value.'</option>';
//                        }else{
//                            echo '<option value="'.$key.'">'.$value.'</option>';
//                        }
//                    }
//                    ?>
<!--                </select>-->
            <table style="width: 100%;">
                <tbody>
                <tr>
                    <td class="management-label"><label for="source"><?php echo $this->__("Order Source");?>:</label></td>
                    <td class="management-value">
                        <select id="source" name="source" class="required-entry required-entry select" <?php if($isOrderCanceled){ ?> disabled <?php } ?>>
                            <?php foreach (OpenTechiz_ReportExtend_Helper_Data::ORDER_SOURCE as $key => $value){
                                if($this->getOrder()->getSource() == $key){
                                    echo '<option value="' . $key . '" selected>' . $value . '</option>';
                                }else {
                                    echo '<option value="' . $key . '">' . $value . '</option>';
                                }
                            } ?>
                        </select>
                    </td>
                    <td class="management-label last"><label for="shipby"><?php echo $this->__("Ship By");?>:</label></td>
                    <td class="management-value last">
                        <input name="ship_by" id="shipby" value="<?php echo explode(' ', $order->getData('ship_by'))[0] ?>" title="From" type="text" class="input-text" style="width:100px !important;" <?php if($isOrderCanceled){ ?> disabled <?php } ?>>
                        <?php if(!$isOrderCanceled){ ?>
                        <img src="<?php  echo $this->getSkinUrl('images/grid-cal.gif') ?>" class="v-middle" id="shipby_trig" />
                        <?php } ?>
                    </td>
                </tr>
<!--                <tr>
                     <td class="management-label"><label for="increment_id"><?php echo $this->__("Order Number");?>:</label></td>
                     <td class="management-value">
                         <input type="text" class="input-text" name="increment_id" value="<?php echo $order->getIncrementId() ?>"/>
                     </td>
                </tr>-->
                <tr>
                    <td class="management-label"><label for="order_type"><?php echo $this->__("Order Type");?>:</label></td>
                    <td class="management-value">
                        <span class="text-value"><?php
                            echo OpenTechiz_SalesExtend_Helper_Data::ORDER_TYPE[$this->getOrder()->getOrderType()];
                            if($isLayaway && isset($layaway)) echo ' (<a href="'.Mage::helper("adminhtml")->getUrl("adminhtml/partialpayment/edit", array('id' => $layaway->getId())).'">Partial Payment Order\'s Information #'.$layaway->getId().'</a>)'
                            ?>
                        </span>
                    </td>
                    <td class="management-label last"><label for="deliverby"><?php echo $this->__("Deliver By");?>:</label></td>
                    <td class="management-value last">
                        <input name="deliver_by" id="deliverby" value="<?php echo explode(' ', $order->getData('deliver_by'))[0] ?>" title="From" type="text" class="input-text" style="width:100px !important;" <?php if($isOrderCanceled){ ?> disabled <?php } ?>>
                        <?php if(!$isOrderCanceled){ ?>

                        <img src="<?php  echo $this->getSkinUrl('images/grid-cal.gif') ?>" class="v-middle" id="deliverby_trig" />
                        <?php } ?>
                    </td>
                </tr>

                <?php if($isLayaway && $totalPaid > 0){ ?>
                <tr>
                    <td class="management-label"><label for="paid_status"></label></td>
                    <td class="management-value">
                        <span class="text-value"  style="color: <?php echo $color; ?>; font-size: 16px">
                            <?php echo $text; ?>
                        </span>
                    </td>

                    <td class="management-label last"><label><?php echo $this->__("Signifyd Status");?>:</label></td>
                    <td class="management-value last">
                        <span class="text-value"><?php
                            if($this->getOrderSignifydCase() && $this->getOrderSignifydCase()->getGuarantee()) {
                                echo $this->getOrderSignifydCase()->getGuarantee();
                            }else{
                                echo $this->__('N/A');
                            }
                            ?></span>
                    </td>
                </tr>

                    <tr>
                        <td class="management-label "><label for="order_stage"><?php echo $this->__("Order Stage");?>:</label></td>
                        <td class="management-value ">
                            <select id="order_stage" name="order_stage" class="required-entry required-entry select" onchange="changeInternalStatusArray()" <?php if($isOrderCanceled){ ?> disabled <?php } ?>>
                                <?php foreach (Mage::helper('opentechiz_salesextend')->getStages($this->getOrder()) as $key => $value){
                                    $currentOrderStage = $this->getOrder()->getOrderStage();
                                    $posibleStage = Mage::helper('opentechiz_salesextend')->getPossibleStageChanges($order);
                                    if(!isset($posibleStage[$currentOrderStage]) || !in_array($key, $posibleStage[$currentOrderStage])){
                                        continue;
                                    }
                                    if($this->getOrder()->getOrderStage() == $key){
                                        echo '<option value="' . $key . '" selected>' . $value . '</option>';
                                    }else {
                                        echo '<option value="' . $key . '">' . $value . '</option>';
                                    }
                                } ?>
                            </select>
                            
                            <?php if(!empty($this->getOrder()->getProcessedByUser())){ ?>
                                <?php $user = Mage::helper('opentechiz_userprocessorder')->getUserProcessed($this->getOrder()->getProcessedByUser());?>
                                <?php if($user !='')?>
                                    <span style="margin-left:44px;"><?php echo $this->__("(Processed By: ")?><?php echo $user.")";?></span>
                            <?php } ?>
                           
                        </td>

                    </tr>
                    <tr>
                        <td class="management-label "><label for="internal_status"><?php echo $this->__("Internal Status");?>:</label></td>
                        <td class="management-value ">
                            <div style="display: flex;">
                                <div>
                                    <select id="internal_status" name="internal_status" class="required-entry required-entry select" <?php if($isOrderCanceled){ ?> disabled <?php } ?>>
                                        <?php
                                        $internalStatuses = Mage::helper('opentechiz_salesextend')->getInternalStatus($this->getOrder()->getOrderType(), $this->getOrder()->getOrderStage());
                                        foreach ($internalStatuses as $key => $value){
                                            if($this->getOrder()->getInternalStatus() == $key){
                                                echo '<option value="' . $key . '" selected>' . $value . '</option>';
                                            }else {
                                                if(!in_array($key, Mage::helper('opentechiz_salesextend')->getAllowedStatusChange($order))){
                                                    continue;
                                                }
                                                echo '<option value="' . $key . '">' . $value . '</option>';
                                            }
                                        } ?>
                                    </select>
                                </div>
                                &emsp;&emsp;
                                <div>
                                    <?php if($missingPayment && $order->getOrderStage() == 3){ ?>
                                        <span style="color: red; font-weight: bold;"><?php echo Mage::helper('opentechiz_salesextend')->__('Payment Missing') ?></span>
                                        <br>
                                    <?php } ?>
                                    <?php if($lastChangeStatus){ ?>
                                        <span>(Changed On <?php echo $this->formatDate($lastChangeStatus, 'medium', true); ?>)</span>
                                    <?php } ?>
                                </div>
                            </div>
                        </td>
                        <?php if($this->getOrder()->getOrderType() == 2):?>

                            <td class="management-label last"> <label for="confirm_customer"><?php echo $this->__("Confirm Customer Address");?>:</label></td>
                            <td class="management-value last"><input type="checkbox" id="confirm_customer" name="confirm_customer" value="1" <?php if($this->getOrder()->getConfirmAddressCustomer()) echo "checked='checked'";?><?php if($this->getOrder()->getOrderStage() > 2) echo "onclick='return false;'"?> ></td>

                        <?php endif;?>
                        <?php if($this->getOrder()->getOrderType() == 3):?>

                            <td class="management-label last"> <label for="confirm_customer"><?php echo $this->__("Confirm Customer Address");?>:</label></td>
                            <td class="management-value last"><input type="checkbox" id="confirm_customer" name="confirm_customer" value="1" <?php if($this->getOrder()->getConfirmAddressCustomer()) echo "checked='checked'";?><?php if($this->getOrder()->getOrderStage() > 0) echo "onclick='return false;'"?> ></td>

                    <?php endif;?>
                    </tr>
                <?php }else{ ?>

                <tr>
                    <td class="management-label "><label for="order_stage"><?php echo $this->__("Order Stage");?>:</label></td>
                    <td class="management-value ">
                        <select id="order_stage" name="order_stage" class="required-entry required-entry select" onchange="changeInternalStatusArray()" <?php if($isOrderCanceled){ ?> disabled <?php } ?>>
                            <?php foreach (Mage::helper('opentechiz_salesextend')->getStages($this->getOrder()) as $key => $value){
                                $currentOrderStage = $this->getOrder()->getOrderStage();
                                $posibleStage = Mage::helper('opentechiz_salesextend')->getPossibleStageChanges($order);
                                if(!isset($posibleStage[$currentOrderStage]) || !in_array($key, $posibleStage[$currentOrderStage])){
                                    continue;
                                }
                                if($this->getOrder()->getOrderStage() == $key){
                                    echo '<option value="' . $key . '" selected>' . $value . '</option>';
                                }else {
                                    echo '<option value="' . $key . '">' . $value . '</option>';
                                }
                            } ?>
                        </select>
                        <?php if(!empty($this->getOrder()->getProcessedByUser())){ ?>
                            <?php $user = Mage::helper('opentechiz_userprocessorder')->getUserProcessed($this->getOrder()->getProcessedByUser());?>
                            <?php if($user !='')?>
                                <span style="margin-left:44px;"><?php echo $this->__("(Processed By: ")?><?php echo $user.")";?></span>
                        <?php } ?>
                    </td>
                    <td class="management-label last"><label><?php echo $this->__("Signifyd Status");?>:</label></td>
                    <td class="management-value last">
                        <span class="text-value"><?php
                            if($this->getOrderSignifydCase() && $this->getOrderSignifydCase()->getGuarantee()) {
                                echo $this->getOrderSignifydCase()->getGuarantee();
                            }else{
                                echo $this->__('N/A');
                            }
                            ?></span>
                    </td>
                </tr>
                <tr>
                    <td class="management-label "><label for="internal_status"><?php echo $this->__("Internal Status");?>:</label></td>
                    <td class="management-value ">
                        <div style="display: flex;">
                            <div>
                            <select id="internal_status" name="internal_status" class="required-entry required-entry select" <?php if($isOrderCanceled && !$allowEditStatus){ ?> disabled <?php } ?>>
                                <?php
                                $internalStatuses = Mage::helper('opentechiz_salesextend')->getInternalStatus($this->getOrder()->getOrderType(), $this->getOrder()->getOrderStage());
                                foreach ($internalStatuses as $key => $value){
                                    if($this->getOrder()->getInternalStatus() == $key){
                                        echo '<option value="' . $key . '" selected>' . $value . '</option>';
                                    }else {
                                        if(!in_array($key, Mage::helper('opentechiz_salesextend')->getAllowedStatusChange($order))){
                                            continue;
                                        }
                                        echo '<option value="' . $key . '">' . $value . '</option>';
                                    }
                                } ?>
                            </select>
                            </div>
                            &emsp;&emsp;
                            <div>
                                <?php if($missingPayment && $order->getOrderStage() == 3){ ?>
                                    <span style="color: red; font-weight: bold;"><?php echo Mage::helper('opentechiz_salesextend')->__('Payment Missing') ?></span>
                                    <br>
                                <?php } ?>
                                <?php if($lastChangeStatus){ ?>
                                    <span>(Changed On <?php echo $this->formatDate($lastChangeStatus, 'medium', true); ?>)</span>
                                <?php } ?>
                            </div>
                        </div>
                    </td>
                    <?php if($this->getOrder()->getOrderType() == 2):?>

                            <td class="management-label last"> <label for="confirm_customer"><?php echo $this->__("Confirm Customer Address");?>:</label></td>
                            <td class="management-value last"><input type="checkbox" id="confirm_customer" name="confirm_customer" value="1" <?php if($this->getOrder()->getConfirmAddressCustomer()) echo "checked='checked'";?><?php if($this->getOrder()->getOrderStage() > 2) echo "onclick='return false;'"?> ></td>

                        <?php endif;?>
                        <?php if($this->getOrder()->getOrderType() == 3):?>

                            <td class="management-label last"> <label for="confirm_customer"><?php echo $this->__("Confirm Customer Address");?>:</label></td>
                            <td class="management-value last"><input type="checkbox" id="confirm_customer" name="confirm_customer" value="1" <?php if($this->getOrder()->getConfirmAddressCustomer()) echo "checked='checked'";?><?php if($this->getOrder()->getOrderStage() > 0) echo "onclick='return false;'"?> ></td>

                    <?php endif;?>
                </tr>

                <?php } ?>
                <tr>
                    <td class="management-label"><label for="verification"><?php echo $this->__("Order Verification");?>:</label></td>
                    <td class="management-value">
                        <?php if($this->getOrder()->getOrderType() == 1){ ?>
                            <?php if($this->getOrder()->getInternalStatus() == 15){ ?>
                                <?php $verificationArray = OpenTechiz_SalesExtend_Helper_Data::SELECTABLE_VERIFICATION_STATUS; ?>
                                <?php
                                    if(!array_key_exists($this->getOrder()->getVerification(), $verificationArray)){
                                        $verificationArray[$this->getOrder()->getVerification()] = OpenTechiz_SalesExtend_Helper_Data::VERIFICATION[$this->getOrder()->getVerification()];
                                    }
                                ?>
                                <select id="verification" name="verification" class="required-entry required-entry select" <?php if($isOrderCanceled){ ?> disabled <?php } ?>>
                                    <?php
                                    foreach ($verificationArray as $key => $value){
                                        if($this->getOrder()->getVerification() == $key){
                                            echo '<option value="' . $key . '" selected>' . $value . '</option>';
                                        }else {
                                            echo '<option value="' . $key . '">' . $value . '</option>';
                                        }
                                    } ?>
                                </select>
                            <?php }else { ?>
                                <span class="text-value"><?php
                                    echo OpenTechiz_SalesExtend_Helper_Data::VERIFICATION[$this->getOrder()->getVerification()]; ?>
                                </span>
                            <?php } ?>
                        <?php }else{
                            if($this->getOrder()->getOrderStage() > 0){ ?>
                                <span class="text-value"><?php
                                    echo OpenTechiz_SalesExtend_Helper_Data::VERIFICATION[$this->getOrder()->getVerification()]; ?>
                                </span>
                            <?php }else{
                                $verificationArray = OpenTechiz_SalesExtend_Helper_Data::SELECTABLE_VERIFICATION_STATUS;
                            ?>
                            <?php
                                if(!array_key_exists($this->getOrder()->getVerification(), $verificationArray)){
                                    $verificationArray[$this->getOrder()->getVerification()] = OpenTechiz_SalesExtend_Helper_Data::VERIFICATION[$this->getOrder()->getVerification()];
                                }
                            ?>
                            <select id="verification" name="verification" class="required-entry required-entry select" <?php if($isOrderCanceled){ ?> disabled <?php } ?>>
                                <?php
                                foreach ($verificationArray as $key => $value){
                                    if($this->getOrder()->getVerification() == $key){
                                        echo '<option value="' . $key . '" selected>' . $value . '</option>';
                                    }else {
                                        echo '<option value="' . $key . '">' . $value . '</option>';
                                    }
                                } ?>
                            </select>
                        <?php } ?>
                        <?php } ?>
                    </td>
                    
                </tr>
                <tr>
                    <?php $list_user = Mage::helper("opentechiz_userprocessorder")->getListUser($order->getCreateOrderByUser());?>
                    <td class="management-label "> <label for="salesperson"><?php echo $this->__("SalesPerson");?>:</label></td>
                    <td class="management-value">
                        <select id="salesperson" name="salesperson" class="select" <?php if(!Mage::helper("opentechiz_userprocessorder")->allowChangeSalePerson()){;?> disabled <?php }?>>
                            <option value=""><?php echo $this->__("Select User");?></option>
                            <?php if($list_user !==""):?>
                                <?php echo $list_user ;?>
                            <?php endif;?>
                        </select>
                    </td>
                </tr>


                <?php if(isset($related_order_link['return'])):?>
                <tr>
                    <td class="management-label "> <label for="return_order"><?php echo $this->__("Returns");?>:</label></td>
                    <td class="management-value"><?php echo $related_order_link['return'];?></td>
                </tr>
                <?php endif;?>
                <?php if(isset($related_order_link['exchange'])):?>
                <tr>
                    <td class="management-label "> <label for="exchange_order"><?php echo $this->__("Exchange orders");?>:</label></td>
                    <td class="management-value"><?php echo $related_order_link['exchange'];?></td>
                </tr>
                <?php endif;?>
                <?php if(isset($related_order_link['repair'])):?>
                <tr>
                    <td class="management-label "> <label for="repair_order"><?php echo $this->__("Repair orders");?>:</label></td>
                    <td class="management-value"><?php echo $related_order_link['repair'];?></td>
                </tr>
                <?php endif;?>
                <?php if(isset($related_order_link['origin_order'])):?>
                <tr>
                    <td class="management-label "> <label for="origin_order"><?php echo $this->__("Original order");?>:</label></td>
                    <td class="management-value"><?php echo $related_order_link['origin_order'];?></td>
                </tr>
                <?php endif;?>
                
                </tbody>
            </table>

            <?php if(!$isOrderCanceled || $allowEditStatus){ ?>
            <div class="ordersedit-buttons" id="ordersedit-buttons">
                <button class="f-right mw-submit-button disable" id="order_management_submit_btn"
                        type="submit" title="Submit" >
                    <span><span>Submit</span></span>
                </button>
                <button class="f-right mw-submit-button disable" id="order_management_submit_btn_dummy"
                        type="submit" title="Submit" disabled
                        style="display: none; background: grey; border-color: grey">
                    <span><span>Submit</span></span>
                </button>
            </div>
            <?php } ?>
            &nbsp;
        </form>
    </div>
</div>

<?php echo $this->getChildHtml('opentechiz_chargeback.form'); ?>

<script>
    var div = document.getElementsByClassName('order-source-div');
    for (var i = 0; i < div.length; i++) {
        var html = '';
        if (i === 0) {
            html += div[i].outerHTML;
        }
        div[i].outerHTML = '';
    }
    var accountBox = document.getElementsByClassName('clear')[1];
    var ordersource = document.getElementById('order-source');
    if(!ordersource ) {
        accountBox.outerHTML += html;
    }

    var span = document.getElementsByClassName("opentechiz-chargeback-close-modal")[0];
    var modal = document.getElementById("opentechiz-chargeback-modal");
    span.onclick = function() {
        modal.style.display = "none";
    };
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    };
    function openChargeBackPopup(orderId) {
        document.getElementById('order_id').value = orderId;
        modal.style.display = "block";
    }
    
    function disableSubmitBtn() {
        jQuery("#loading-mask").show();
        var btn = document.getElementById('order_management_submit_btn');
        btn.style.display = 'none';
        var btn_dummy = document.getElementById('order_management_submit_btn_dummy');
        btn_dummy.style.display = 'block';
        jQuery("#order_management_submit_btn_dummy").removeClass('hover');
    }

    function enableSubmitBtn() {
        jQuery("#loading-mask").hide();
        var btn = document.getElementById('order_management_submit_btn');
        btn.style.display = 'block';
        var btn_dummy = document.getElementById('order_management_submit_btn_dummy');
        btn_dummy.style.display = 'none';
    }

    function changeInternalStatusArray(){
        var type= <?php echo $this->getOrder()->getOrderType() ?>;
        var currentStage = <?php echo $this->getOrder()->getOrderStage() ?>;
        var e = document.getElementById("order_stage");
        var statusSelect = document.getElementById("internal_status");
        var stage = e.options[e.selectedIndex].value;

        var statuses = <?php echo json_encode(OpenTechiz_SalesExtend_Helper_Data::STATUS_STAGE_TYPE_RELATION); ?>;
        var internalStatuses = <?php echo json_encode(OpenTechiz_SalesExtend_Helper_Data::ORDER_INTERNAL_STATUS); ?>;
        var layawayInternalStatuses = <?php echo json_encode(OpenTechiz_SalesExtend_Helper_Data::LAYAWAY_ORDER_INTERNAL_STATUS); ?>;
        var repairInternalStatuses = <?php echo json_encode(OpenTechiz_SalesExtend_Helper_Data::REPAIR_ORDER_INTERNAL_STATUS); ?>;
        var allowedStatuses = [<?php echo implode(',', Mage::helper('opentechiz_salesextend')->getAllowedStatusChange($order)) ?>];
        
        if(stage == currentStage) {
            var statusArray = statuses[type][stage];
        }else{
            var defaultStatusArray = <?php echo json_encode(Mage::helper('opentechiz_salesextend')->getDefaultStatusForStage($order)); ?>;
            if(type == 2){
                defaultStatusArray[2] = 17;
            }
            var statusArray = [defaultStatusArray[stage]];
            if(stage == 3 && currentStage == 4){
                statusArray.push(14);
            }
            if(stage == 1 && currentStage == 2){
                statusArray.push(18);
                statusArray.push(14);
            }
        }

        if(stage == 2){
            if(!statusArray.includes(21)) statusArray.push(21);
            // if(!statusArray.includes(2)) statusArray.push(2);
        }
        if(type === 0 || type === 3){
            var stages = internalStatuses;
        }else if(type === 1){
            var stages = layawayInternalStatuses;
        }else if (type === 2){
            var stages = repairInternalStatuses;
        }
        var data = [];
        for (var status in statusArray){
            if (statusArray.hasOwnProperty(status) && allowedStatuses.includes(statusArray[status])) {
                data[statusArray[status]] = stages[statusArray[status]];
            }
        }
        if(type == 2){
            delete data[21];
        }
        statusSelect.innerHTML = '';
        var i = 0;
        for (var k in data){
            if (data.hasOwnProperty(k)) {
                statusSelect.innerHTML += '<option value="'+k+'">'+data[k]+'</option>';
                if(i === 0){
                    statusSelect.value = k;
                    i++;
                }
            }
        }
    }
</script>

<script type="text/javascript">
    Calendar.setup({
        inputField: "shipby",
        ifFormat: "%Y-%m-%d",
        showsTime: false,
        button: "shipby_trig",
        align: "Bl",
        singleClick : true
    });

    Calendar.setup({
        inputField: "deliverby",
        ifFormat: "%Y-%m-%d",
        showsTime: false,
        button: "deliverby_trig",
        align: "Bl",
        singleClick : true
    });
</script>

<?php if($this->getOrder()->getOrderType() == 2  && $this->getOrder()->getOrderStage() ==1):?>
<script type="text/javascript">
    document.getElementById("order_source_form").addEventListener("submit", function(event) {
        var e = document.getElementById("order_stage");
        var change_order_stage = e.value;
        if(change_order_stage == 2){
            if (!document.getElementById('confirm_customer').checked) {
                alert("Please confirm the address with the Customer and check Confirm Customer Address before proceeding.");
                event.preventDefault();
                enableSubmitBtn();
            }
        }
    });
</script>
<?php endif;?>
<?php if($this->getOrder()->getOrderType() == 3 && $this->getOrder()->getOrderStage() ==0):?>
<script type="text/javascript">
    document.getElementById("order_source_form").addEventListener("submit", function(event) {
        var e = document.getElementById("order_stage");
        var change_order_stage = e.value;
        if(change_order_stage == 1){
            if (!document.getElementById('confirm_customer').checked) {
                alert("Please confirm the address with the Customer and check Confirm Customer Address before proceeding.");
                event.preventDefault();
                enableSubmitBtn();
            }
        }
    });
</script>
<?php endif;?>
<style>
    .management-label{
        width: 10%;
    }
    .management-value{
        width: 26%;
    }
    td{
        padding-top: 10px;
    }
    .last{
        padding-left: 3%;
    }
    .text-value{
        font-weight: 600;
    }
</style>
