<?php
$order = $this->getOrder();
$currentSource = $order->getSource();
?>
<div class="entry-edit order-source-div" id="order-source">

    <div class="entry-edit-head">
        <h4 class="icon-head fieldset-legend">Order Source</h4>
    </div>

    <fieldset class="np">
        <div class="mymodule_custom_block" style="padding: 10px 15px">
            <strong>Ordered from: </strong>
            <span>
                <?php foreach (OpenTechiz_ReportExtend_Helper_Data::ORDER_SOURCE as $key => $value){
                    if($currentSource == $key){
                        echo ''.$value.'';
                    }
                }
                ?>
            </span>
        </div>
    </fieldset>
</div>

<script>
    var div = document.getElementsByClassName('order-source-div');
    for (var i = 0; i < div.length; i++) {
        var html = '';
        if (i === 0) {
            html += div[i].outerHTML;
        }
        div[i].outerHTML = '';
    }
    var accountBox = document.getElementsByClassName('clear')[1];
    var ordersource = document.getElementById('order-source');
    if(!ordersource ) {
        accountBox.outerHTML += html;
    }
    // window.addEventListener('load', function() {

    // });
</script>
