<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    jQuery.noConflict();
</script>

<div class="content-header">
    <table cellspacing="0">
        <tbody>
            <tr>
                <td style="width:50%;"><h3 class="icon-head head-report-sales-refunded"><?php echo $this->__("Product History Report") ?></h3></td>
            </tr>
        </tbody>
    </table>
</div>
<?php 
$productHistory = $this->getProductHistory();
?>
<div class="entry-edit">
    <form id="filter_form" action="<?php echo $this->getAjaxUrl() ?>" method="post"><div></div><div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend">Filter</h4>
            <div class="form-buttons"></div>
        </div>
        <div class="fieldset ">
            <div class="hor-scroll">
                <table class="form-list" cellspacing="0" style="float:left">
                    <tbody>
                        <tr>
                            <td class="label"><label for="sales_report_from">From <span class="required">*</span></label></td>
                            <td class="value">
                                <input name="from" id="report_from" value="<?php echo $this->getDateFromFilter()?>" title="From" type="text" class=" required-entry input-text" style="width:110px !important;">
                                <img src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>" class="v-middle" id="report_from_trig" />
                                <script type="text/javascript">
                                    //<![CDATA[
                                    Calendar.setup({
                                        inputField: "report_from",
                                        ifFormat: "%m/%e/%Y",
                                        showsTime: false,
                                        button: "report_from_trig",
                                        align: "Bl",
                                        singleClick: true
                                    });
                                    //]]>
                                </script>            </td>
                        </tr>
                        <tr>
                            <td class="label"><label for="sales_report_to">To <span class="required">*</span></label></td>
                            <td class="value">
                                <input name="to" id="report_to" value="<?php echo $this->getDateToFilter()?>" title="To" type="text" class=" required-entry input-text" style="width:110px !important;">
                                <img src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>" class="v-middle" id="report_to_trig" />
                                <script type="text/javascript">
                                    //<![CDATA[
                                    Calendar.setup({
                                        inputField: "report_to",
                                        ifFormat: "%m/%e/%Y",
                                        showsTime: false,
                                        button: "report_to_trig",
                                        align: "Bl",
                                        singleClick: true
                                    });
                                    //]]>
                                </script>            </td>
                        </tr>
                        <tr>
                            <td class="label"><label for="sku">SKU</label></td>
                            <td class="value"><input name="sku" id="sku" value="<?php echo $this->getSkuFilter()?>" title="SKU" type="text" class="input-text" style="width:110px !important;"></td>
                        </tr>
                        <tr>
                            <td><br></td>
                            <td><br></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button id="submitFilter" title="Filter" type="submit" class="scalable " style=""><span><span><span>Filter</span></span></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="float:right; display: flex">
                    <ul style="margin-right:30px">
                        <li>Sum QTY Purchased: <span id="sum_delivered_qty"><?php echo isset($productHistory['sum_delivered_qty']) ?  $productHistory['sum_delivered_qty']: 0?></span></li>
                        <li>Total Amount Paid: <span id="sum_price_paid"><?php echo isset($productHistory['sum_price_paid']) ?  $productHistory['sum_price_paid']: 0?></span></li>
                        <li>Average Price Paid: <span id="avg_price_paid"><?php echo isset($productHistory['avg_price_paid']) ?  $productHistory['avg_price_paid']: 0?></span></li>
                    </ul>
                    <ul>
                        <li>Sum QTY Sold: <span id="sum_qty_ordered"><?php echo isset($productHistory['sum_qty_ordered']) ?  $productHistory['sum_qty_ordered']: 0?></span></li>
                        <li>Total Amount Received: <span id="sum_item_price"><?php echo isset($productHistory['sum_item_price']) ?  $productHistory['sum_item_price']: 0?></span></li>
                        <li>Average Price Received: <span id="avg_item_price"><?php echo isset($productHistory['avg_price_paid']) ?  $productHistory['avg_item_price']: 0?></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="grid">

    <div class="hor-scroll">
        <table class="data" id="id_d79f811c0073b16e0ef13670480840ba_table" cellspacing="0">
            <colgroup>
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
            </colgroup><thead>
                <tr class="headings gold-used-title">
                    <th class=" no-link transaction-date"><span class="nobr">Transaction Date</span></th>
                    <th class=" no-link sku"><span class="nobr">SKU</span></th>
                    <th class=" no-link product-name"><span class="nobr">Product Name</span></th>
                    <th class=" no-link product-option"><span class="nobr">Product Option</span></th>
                    <th class=" no-link po-id"><span class="nobr">PO #</span></th>
                    <th class=" no-link vendor"><span class="nobr">Vendor</span></th>
                    <th class=" no-link qty-purchased"><span class="nobr">QTY Purchased</span></th>
                    <th class=" no-link price-paid"><span class="nobr">Price Paid</span></th>
                    <th class=" no-link customer-name"><span class="nobr">Customer name </span></th>
                    <th class=" no-link order-number"><span class="nobr">Order Number</span></th>
                    <th class=" no-link order-item-price"><span class="nobr">Order Item Price</span></th>
                    <th class=" no-link qty-sold"><span class="nobr">QTY Sold</span></th>
                </tr>
            </thead>

            <tbody id="table-body">
                <?php if(!empty($productHistory['data'])):?>
                    <?php foreach ($productHistory['data'] as $item):?>
                    <tr title="#" class="pointer">
                        <td class="transaction-date">
                            <span class="nobr"><?php echo $item['transaction_date']?></span>
                        </td>
                        <td class="sku">
                            <span class="nobr"><a href="<?php echo $item['inventory_link']?>" target="_blank" ><?php echo $item['sku']?></a></span>
                        </td>
                        <td class="product-name">
                            <span class="nobr"><?php echo $item['name']?></span>
                        </td>
                        <td class="product-option">
                            <span class="nobr"><?php echo $item['option']?></span>
                        </td>
                        <td class="po-id">
                            <span class="nobr"><?php echo $item['po_increment_id']?></span>
                        </td>
                        <td class="vendor">
                            <span class="nobr"><?php echo $item['vendor_name']?></span>
                        </td>
                        <td class="qty-purchased">
                            <span class="nobr"><?php echo $item['delivered_qty']?></span>
                        </td>
                        <td class="price-paid">
                            <span class="nobr"><?php echo $item['price_paid']?></span>
                        </td>
                        <td class="customer-name">
                            <span class="nobr"><?php echo $item['customer_name']?></span>
                        </td>
                        <td class="order-number">
                            <span class="nobr"><?php echo $item['increment_id']?></span>
                        </td>
                        <td class="order-item-price">
                            <span class="nobr"><?php echo $item['item_price']?></span>
                        </td>
                        <td class="qty-sold">
                            <span class="nobr"><?php echo $item['qty_ordered']?></span>
                        </td>
                    </tr>
                    <?php endforeach;?>
                <?php endif?>
            </tbody>
        </table>
    </div>
</div>

<script>
    jQuery("#filter_form").submit(function (e) {
        var form = jQuery(this);
        var url = form.attr('action');
        inputBarcode = jQuery('#barcode').val();

        var data = form.serializeArray();

        jQuery("#loading-mask").show();
        jQuery.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function (resp)
            {
                var data = resp.data;
                document.getElementById('table-body').innerHTML = '';
                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        document.getElementById('table-body').innerHTML += '<tr title="#" class="' + isEven(i) + ' pointer">\n' +
                                '                <td class="transaction-date">\n' +
                                '                    <span class="nobr">' + data[i]['transaction_date'] + '</span>\n' +
                                '                </td>\n' +
                                '                <td class="sku">\n' +
                                '                    <span class="nobr"><a href="' + data[i]['inventory_link'] + '" target="_blank" >' + data[i]['sku'] + '</a></span>\n' +
                                '                </td>\n' +
                                '                <td class="product-name">\n' +
                                '                    <span class="nobr">' + data[i]['name'] + '</span>\n' +
                                '                </td>\n' +
                                '                <td class="product-option">\n' +
                                '                    <span class="nobr">' + data[i]['option'] + '</span>\n' +
                                '                </td>\n' +
                                '                <td class="po-id">\n' +
                                '                    <span class="nobr">' + data[i]['po_increment_id'] + '</span>\n' +
                                '                </td>\n' +
                                '                <td class="vendor">\n' +
                                '                    <span class="nobr">' + data[i]['vendor_name'] + '</span>\n' +
                                '                </td>\n' +
                                '                <td class="qty-purchased">\n' +
                                '                    <span class="nobr">' + data[i]['delivered_qty'] + '</span>\n' +
                                '                </td>\n' +
                                '                <td class="price-paid">\n' +
                                '                    <span class="nobr">' + data[i]['price_paid'] + '</span>\n' +
                                '                </td>\n' +
                                '                <td class="customer-name">\n' +
                                '                    <span class="nobr">' + data[i]['customer_name'] + '</span>\n' +
                                '                </td>\n' +
                                '                <td class="order-number">\n' +
                                '                    <span class="nobr">' + data[i]['increment_id'] + '</span>\n' +
                                '                </td>\n' +
                                '                <td class="order-item-price">\n' +
                                '                    <span class="nobr">' + data[i]['item_price'] + '</span>\n' +
                                '                </td>\n' +
                                '                <td class="qty-sold">\n' +
                                '                    <span class="nobr">' + data[i]['qty_ordered'] + '</span>\n' +
                                '                </td>\n' +
                                '            </tr>';
                    }
                }

                if (document.getElementById('table-body').innerHTML === '') {
                    document.getElementById('table-body').innerHTML += '<tr class="even">\n' +
                            '                <td class="empty-text a-center" colspan="12">No records found.</td>\n' +
                            '            </tr>';
                }
                jQuery("#loading-mask").hide();
            }
        });

        e.preventDefault();
    });

    function isEven(n) {
        if (n % 2 == 0)
            return 'even';
    }
</script>

<style>
    .gold-used-title th {
        width: calc((100%/8));
    }
</style>