<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    jQuery.noConflict();
</script>

<div class="content-header">
    <table cellspacing="0">
        <tbody>
        <tr>
            <td style="width:50%;"><h3 class="icon-head head-report-sales-refunded">Return Rate Report</h3></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="entry-edit">
    <form id="filter_form" action="<?php echo $this->getAjaxUrl() ?>" method="post"><div></div><div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend">Filter</h4>
            <div class="form-buttons"></div>
        </div>
        <div class="fieldset ">
            <div class="hor-scroll">
                <table class="form-list" cellspacing="0">
                    <tbody>
                    <tr>
                        <td class="label"><label for="sales_report_show_order_statuses">Period </label></td>
                        <td class="value">
                            <select  name="period" class=" select">
                                <option value="day" selected="selected" >Day</option>
                                <option value="month"  >Month</option>
                                <option value="year"  >Year</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="sales_report_show_order_statuses">Return Solution </label></td>
                        <td class="value">
                            <select  name="return-type" class=" select">
                                <option value="5" selected="selected" >Refund</option>
                                <option value="10"  >Repair</option>
                                <option value="20"  >Exchange From Stock</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="sales_report_from">From <span class="required">*</span></label></td>
                        <td class="value">
                            <input name="from" id="report_from" value="" title="From" type="text" class=" required-entry input-text" style="width:110px !important;">
                            <img src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>" class="v-middle" id="report_from_trig" />
                            <script type="text/javascript">
                                //<![CDATA[
                                Calendar.setup({
                                    inputField: "report_from",
                                    ifFormat: "%m/%e/%Y",
                                    showsTime: false,
                                    button: "report_from_trig",
                                    align: "Bl",
                                    singleClick : true
                                });
                                //]]>
                            </script>            </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="sales_report_to">To <span class="required">*</span></label></td>
                        <td class="value">
                            <input name="to" id="report_to" value="" title="To" type="text" class=" required-entry input-text" style="width:110px !important;">
                            <img src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>" class="v-middle" id="report_to_trig" />
                            <script type="text/javascript">
                                //<![CDATA[
                                Calendar.setup({
                                    inputField: "report_to",
                                    ifFormat: "%m/%e/%Y",
                                    showsTime: false,
                                    button: "report_to_trig",
                                    align: "Bl",
                                    singleClick : true
                                });
                                //]]>
                            </script>            </td>
                    </tr>
                    <tr>
                        <td><br></td>
                        <td><br></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button id="submitFilter" title="Filter" type="submit" class="scalable " style=""><span><span><span>Filter</span></span></span></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>

<div class="grid">

    <div class="hor-scroll">
        <table class="data" id="id_d79f811c0073b16e0ef13670480840ba_table" cellspacing="0">
            <colgroup><col width="100">
                <col width="100">
                <col width="100">
            </colgroup><thead>
            <tr class="headings">
                <th class=" no-link"><span class="nobr">Period</span></th>
                <th class=" no-link"><span class="nobr"># of Orders</span></th>
                <th class=" no-link"><span class="nobr"># of Items</span></th>
                <th class=" no-link"><span class="nobr"># of Returned</span></th>
                <th class=" no-link"><span class="nobr">Return Rate</span></th>
            </tr>
            </thead>

            <tbody id="table-body">


            </tbody>

            <tfoot>
            <tr class="totals">
                <th class="">Total&nbsp;</th>
                <th class=" a-right" id="total-order">&nbsp;</th>
                <th class=" a-right" id="total-item">&nbsp;</th>
                <th class=" a-right" id="total-return">&nbsp;</th>
                <th class=" a-right" id="total-rate">&nbsp;</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<script>
    jQuery("#filter_form").submit(function(e) {
        var form = jQuery(this);
        var url = form.attr('action');
        inputBarcode = jQuery('#barcode').val();

        var data = form.serializeArray();

        jQuery("#loading-mask").show();
        jQuery.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function(data)
            {
                document.getElementById('table-body').innerHTML = '';
                var i = 0;
                var order = 0;
                var item = 0;
                var returnNo = 0;
                for(var key in data) {
                    if (data.hasOwnProperty(key)) {
                        document.getElementById('table-body').innerHTML += '<tr title="#" class="' + isEven(i) + ' pointer">\n' +
                            '                <td rowspan="1" class=" ">\n' +
                            '                    <span class="nobr">' + key + '</span>\n' +
                            '                </td>\n' +
                            '                <td class=" a-right " style="width: 17%;">\n' +
                            '                    ' + data[key]['order'] + '\n' +
                            '                </td>\n' +
                            '                <td class=" a-right " style="width: 17%;">\n' +
                            '                    '+ data[key]['item'] +'&nbsp;\n' +
                            '                </td>\n' +
                            '                <td class=" a-right " style="width: 17%;">\n' +
                            '                    '+ data[key]['return'] +'&nbsp;\n' +
                            '                </td>\n' +
                            '                <td class=" a-right " style="width: 17%;">\n' +
                            '                    '+ (parseFloat(data[key]['rate'])*100).toFixed(2) +'% &nbsp;\n' +
                            '                </td>\n' +
                            '            </tr>';
                        i++;
                        order += parseInt(data[key]['order']);
                        item += parseInt(data[key]['item']);
                        returnNo += parseInt(data[key]['return']);
                    }
                }

                if(document.getElementById('table-body').innerHTML === ''){
                    document.getElementById('table-body').innerHTML += '<tr class="even">\n' +
                        '                <td class="empty-text a-center" colspan="5">No records found.</td>\n' +
                        '            </tr>';
                }

                var rate = parseFloat(returnNo/item * 100).toFixed(2);

                document.getElementById('total-order').innerHTML = order + '&nbsp';
                document.getElementById('total-item').innerHTML = item + '&nbsp';
                document.getElementById('total-return').innerHTML = returnNo + '&nbsp';
                document.getElementById('total-rate').innerHTML = rate + '%'+'&nbsp';

                jQuery("#loading-mask").hide();
            }
        });

        e.preventDefault();
    });

    function isEven(n) {
        if( n % 2 == 0) return 'even';
    }
</script>