<div class="content-header">
    <table cellspacing="0">
        <tbody>
        <tr>
            <td style="width:50%;"><h3 class="icon-head head-report-sold-refunded">All Stock Become Zero</h3></td>
        </tr>
        </tbody>
    </table>
</div>
<?php echo $this->getLayout()->createBlock('opentechiz_reportExtend/adminhtml_StockBecomeZero')->setBlockId('dailysold')->toHtml();
?>