<?php
$categorySource = Mage::getModel('sitemapEnhancedPlus/system_config_source_category')->toOptionArray('select');
?>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    jQuery.noConflict();
</script>

<div class="content-header">
    <table cellspacing="0">
        <tbody>
        <tr>
            <td style="width:50%;"><h3 class="icon-head head-report-sales-refunded">Items to Order</h3></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="entry-edit">
    <form id="filter_form" action="<?php echo $this->getAjaxUrl() ?>" method="post"><div></div><div class="entry-edit-head">
            <h4 class="icon-head head-edit-form fieldset-legend">Filter</h4>
            <div class="form-buttons"></div>
        </div>
        <div class="fieldset ">
            <div class="hor-scroll">
                <table class="form-list" cellspacing="0">
                    <tbody>
                    <tr>
                        <td class="label"><label for="type">Options</label></td>
                        <td class="value">
                            <select name="type" value="0" onchange="setRequired(this)">
                                <option value="0">0 Stock or Reorder Point Reached</option>
                                <option value="1">Reorder Point Only</option>
                                <option value="2">Regular Sales Report</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="sales_report_from">Date From <span id="required_field" class="required">*</span></label></td>
                        <td class="value">
                            <input name="from" id="report_from" value="" required title="From" type="text" class=" required-entry input-text" style="width:110px !important;">
                            <img src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>" class="v-middle" id="report_from_trig" />
                            <script type="text/javascript">
                                //<![CDATA[
                                Calendar.setup({
                                    inputField: "report_from",
                                    ifFormat: "%m/%e/%Y",
                                    showsTime: false,
                                    button: "report_from_trig",
                                    align: "Bl",
                                    singleClick : true
                                });
                                //]]>
                            </script>            </td>
                    </tr>
                    <tr>
                        <td class="label"><label for="type">Category</label></td>
                        <td class="value">
                            <select name="category">
                                <option value=''>Select</option>
                                <?php
                                foreach ($categorySource as $category){
                                    echo '<option value="' . $category['value'] . '">' . $category['label'] . '</option>';
                                }
                                ?>
                            </select>
                        </td>
                    </tr>
                    <tr id="sort_tr" style="display: none;">
                        <td class="value"><input name="col" id="sort_col" /></td>
                        <td class="value"><input name="way" id="sort_way" /></td>
                    </tr>
                    <tr>
                        <td><br></td>
                        <td><br></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button id="submitFilter" title="Filter" type="submit" class="scalable " style=""><span><span><span>Filter</span></span></span></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>

<div style="width: 100%; padding-bottom: 20px;">
    <div id="page_tr" style="display: none; float: left">
        Page:
        <input name="page" form="filter_form" id="page" type="number" min="1" value="1" style="width: 50px" onchange="changePage()"/>
        <span id="max_page"></span>
    </div>
</div>
<br>
<div class="grid">
    <div class="hor-scroll">
        <table class="data" id="itemGrid_table" cellspacing="0" border="1">
            <colgroup>
                <col width="100">
                <col class="a-center" width="100">
                <col width="50">
                <col width="20">
                <col width="20">
                <col width="50">
                <col width="50">
                <col width="50">
                <col width="50">
                <col width="50">
                <col width="50">
                <col width="200">
                <col width="20">
                <col width="50">
            </colgroup><thead>
            <tr class="headings sticky" >
                <th><span class="calc-width">Image</span></th>
                <th><span class="calc-width">SKU</span></th>
                <th><span class="calc-width">Name</span></th>
                <th><span class="calc-width">Sales Price</span></th>
                <th><span class="calc-width">Last Cost</span></th>
                <th><span class="calc-width">Last Cost Date</span></th>
                <th><span class="calc-width">3MS/RET</span></th>
                <th><span class="calc-width">12MS/RET</span></th>
                <th><span class="calc-width">Qty In Stock</span></th>
                <th><span class="calc-width">Reorder Point</span></th>
                <th><span class="calc-width">On Open Orders</span></th>
                <th><span class="calc-width">Manufacturing</span></th>
                <th><span class="calc-width">Close Out</span></th>
                <th><span class="calc-width">Action</span></th>
            </tr>

            <tr class="headings true_headings" >
                <th><span class="nobr"><span class="sort-title">Image</span></a></span></th>
                <th><span class="nobr"><span class="sort-title">SKU</span></span></th>
                <th><span class="nobr"><span class="sort-title">Name</span></span></th>
                <th><span class="nobr"><span class="sort-title" style="cursor: pointer" onclick="sortGrid('price_to_sort')">Sales Price</span></span></th>
                <th><span class="nobr"><span class="sort-title">Last Cost</span></span></th>
                <th><span class="nobr"><span class="sort-title">Last Cost Date</span></span></th>
                <th><span class="nobr"><span class="sort-title">3MS/RET</span></span></th>
                <th><span class="nobr"><span class="sort-title">12MS/RET</span></span></th>
                <th><span class="nobr"><span class="sort-title" style="cursor: pointer" onclick="sortGrid('stock')">Qty In Stock</span></span></th>
                <th><span class="nobr"><span class="sort-title">Reorder Point</span></span></th>
                <th><span class="nobr"><span class="sort-title">On Open Orders</span></span></th>
                <th><span class="nobr"><span class="sort-title">Manufacturing</span></span></th>
                <th><span class="nobr"><span class="sort-title">Close Out</span></span></th>
                <th><span class="nobr"><span class="sort-title">Action</span></span></th>
            </tr>
            </thead>

            <tbody id="table-body">

            </tbody>
        </table>
    </div>
</div>

<div id="popup-window-mask" style="display:none; position: absolute;"></div>
<div id="product_composite_configure" class="product-configure-popup" >
    <form action="" method="post" id="product_composite_configure_form" enctype="multipart/form-data" target="product_composite_configure_iframe" onsubmit=" OnSubmitForm(); return false;">
        <div class="entry-edit">
            <div class="entry-edit-head" >
                <h4 class="icon-head fieldset-legend" style=""><?php echo Mage::helper('catalog')->__('Product Option') ?></h4>
            </div>
            <input id="supplier_id_form_post" type="hidden" />
            <input id="product_id_form_post" type="hidden" />
            <div id="product_composite_configure_messages" style="display: none;" >
                <ul class="messages"><li class="error-msg"></li></ul>
            </div>
            <div id="product_composite_configure_form_fields" class="content" style="">
            </div>
            <div id="product_composite_configure_form_additional" style="display:none;"></div>
            <div id="product_composite_configure_form_confirmed" style="display:none;"></div>
            <div style="padding: 10px 15px;">
                <dl>
                    <dt>
                        <label style="font-weight: bold;font-size: 12px;" for="note_form_post">Note</label>
                        <textarea style="vertical-align: top; width: 100%;" id="note_form_post" name="note"></textarea>
                    </dt>
                </dl>
            </div>
            <div class="buttons-set a-right" style="text-align: right !important;">
                <button type="button" class="scalable" onclick="productConfigure.onCancelBtn()" id="product_composite_configure_form_cancel" ><span><span><span><?php echo Mage::helper('catalog')->__('Cancel') ?></span></span></span></button>
                <button type="submit" class="add_option scalable" onclick="moveToMasterPO();" ><span><span><span><?php echo Mage::helper('catalog')->__('Add and View PO') ?></span></span></span></button>
                <button type="submit" class="add_option scalable" onclick="closeComposite();" ><span><span><span><?php echo Mage::helper('catalog')->__('Add and Close') ?></span></span></span></button>
                <button type="submit" class="add_option scalable" onclick="keepComposite();"><span><span><span><?php echo Mage::helper('catalog')->__('Add and Continue') ?></span></span></span></button>
            </div>
        </div>

        <input type="hidden" name="product_id" />
        <input type="hidden" name="as_js_varname" value="iFrameResponse" />
        <input type="hidden" name="form_key" value="<?php echo $this->getFormKey() ?>" />
    </form>
    <div id="product_composite_configure_confirmed" style="display:none;"></div>
</div>

<script type="text/javascript">
    var productCompositeConfigureForm = new varienForm('product_composite_configure_form');
</script>


<script>
    var configureProductToAddUrl1 = '<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/sales_order_create/configureProductToAdd', array('is_po' => 1, 'is_pending' => 1)); ?>';
    var closedComposite = false;
    var movedToMasterPO = false;
    var polarArray = {
        'price': 'asc',
        'last_cost': 'asc'
    };

    function sortGrid(data) {
        var polar = polarArray[data];
        if(polar === 'asc'){
            polar = 'desc';
            polarArray[data] = 'desc';
        }else{
            polar = 'asc';
            polarArray[data] = 'asc';
        }
        document.getElementById('sort_col').value = data;
        document.getElementById('sort_way').value = polar;
        jQuery("#filter_form").submit();
    }

    jQuery("#filter_form").submit(function(e) {
        var form = jQuery(this);
        var url = form.attr('action');
        inputBarcode = jQuery('#barcode').val();

        var data = form.serializeArray();

        jQuery("#loading-mask").show();
        jQuery.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function(data)
            {
                document.getElementById('table-body').innerHTML = '';
                if(typeof data === 'string'){
                    alert(data);
                }else {
                    var i = 0;
                    var process = 0;
                    var error = 0;
                    var broke = 0;
                    for (var key in data) {
                        if (data.hasOwnProperty(key) && !isNaN(key)) {
                            document.getElementById('table-body').innerHTML += '<tr title="#" class="' + isEven(i) + ' pointer">\n' +
                                '                <td class="" style="">\n' +
                                '                    <a href="' + data[key]['url'] + '"> <img src=" ' + data[key]['image'] + '"/> </a>\n' +
                                '                </td>\n' +
                                '                <td class=" " style="">\n' +
                                '                    <a href="' + data[key]['movement_url'] + '">' + data[key]['sku'] + '</a>' + '&nbsp;\n' +
                                '                </td>\n' +
                                '                <td class="  " style="">\n' +
                                '                    ' + data[key]['name'] + '\n' +
                                '                </td>\n' +
                                '                <td class="  " style="">\n' +
                                '                    ' + data[key]['price'] + '\n' +
                                '                </td>\n' +
                                '                <td class="  " style="">\n' +
                                '                    ' + data[key]['cost'] + '&nbsp;\n' +
                                '                </td>\n' +
                                '                <td class="  " style="">\n' +
                                '                    ' + data[key]['cost_date'] + '\n' +
                                '                </td>\n' +
                                '                <td class="  " style="">\n' +
                                '                    ' + data[key]['3m'] + '&nbsp;\n' +
                                '                </td>\n' +
                                '                <td class=" " style="">\n' +
                                '                    ' + data[key]['12m'] + '\n' +
                                '                </td>\n' +
                                '                <td class="  " style="">\n' +
                                '                    <a href="' + data[key]['inventory_url'] + '">' + data[key]['stock'] + '</a>' + '&nbsp;\n' +
                                '                </td>\n' +
                                '                <td class="  " style="">\n' +
                                '                    ' + data[key]['reorder_point'] + '&nbsp;\n' +
                                '                </td>\n' +
                                '                <td class="  " style="">\n' +
                                '                    ' + data[key]['on_order'] + '\n' +
                                '                </td>\n' +
                                '                <td class=" " style="">\n' +
                                '                    ' + data[key]['manufacturing'] + '&nbsp;\n' +
                                '                </td>\n' +
                                '                <td class="  " style="">\n' +
                                '                    ' + data[key]['closed_out'] + '&nbsp;\n' +
                                '                </td>\n' +
                                '                <td class="  " style="">\n' +
                                '                    ' + data[key]['master_po'] + '&nbsp;\n' +
                                '                </td>\n' +
                                '            </tr>';
                            i++;
                        }
                    }

                    if(data['max_page'] === 0) data['max_page'] = 1;
                    document.getElementById('page_tr').style.display = 'block';
                    document.getElementById('max_page').innerText = ' of ' + data['max_page'];
                    document.getElementById('page').max = data['max_page'];

                    if (document.getElementById('table-body').innerHTML === '') {
                        document.getElementById('table-body').innerHTML += '<tr class="even">\n' +
                            '                <td class="empty-text a-center" colspan="14">No records found.</td>\n' +
                            '            </tr>';
                    }
                }
                jQuery("#loading-mask").hide();
            }
        });

        e.preventDefault();
    });


    var $stickyRow = jQuery('tr.sticky');
    var elemTop = $stickyRow.offset().top;
    $stickyRow.addClass('hidden');

    jQuery(function() {

        jQuery(document).scroll(function() {
            var $anchor = $stickyRow;
            var table = jQuery('table.data');

            $stickyRow.addClass('hidden');
            $stickyRow.removeClass('fixed top bottom');
            $stickyRow[0].style.width = (table[0].style.width - 54) + 'px';

            var trueHeadings = jQuery('.true_headings')[0];
            var mainChildren = trueHeadings.children;

            var fakeChildren = jQuery('.sticky')[0].children;

            for (var i = 0; i < mainChildren.length; i++){
                fakeChildren[i].children[0].style.width = mainChildren[i].offsetWidth - 10 +'px';
                fakeChildren[i].children[0].style.display = 'block';
            }

            if (!isScrolledIntoView($anchor)) {
                var orientation = ($anchor.offset().top < jQuery(window).scrollTop()) ? 'top' : 'bottom';
                $stickyRow.addClass('fixed ' + orientation);
                $stickyRow.removeClass('hidden');
            }
        });

    });

    function isScrolledIntoView(elem) {
        var $window = jQuery(window);

        var docViewTop = $window.scrollTop();
        var docViewBottom = docViewTop + $window.height();

        var elemBottom = elemTop + elem.height();

        return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
    }

    function setRequired(e) {
        var value = e.value;

        if(value === '1'){ //reorder point
            document.getElementById('required_field').style.display = 'none';
            document.getElementById('report_from').required = false;
        }else{
            document.getElementById('required_field').style.display = '';
            document.getElementById('report_from').required = true;
        }
    }

    function isEven(n) {
        if( n % 2 == 0) return 'even';
    }

    function changePage() {
        jQuery("#filter_form").submit();
    }

    function closeComposite() {
        closedComposite = true;
        movedToMasterPO = false;
    }
    function keepComposite() {
        closedComposite = false;
        movedToMasterPO = false;
    }
    function moveToMasterPO() {
        movedToMasterPO = true;
    }

    function getSupplierSelect(obj) {
        var itemId = jQuery(obj).attr("itemId");
        jQuery('#popup-window-mask').show();
        jQuery.ajax({
            type: "POST",
            url: "<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/erpProduct/getSupplierPurchasedListRadioBox'); ?>",
            data: {product_id: jQuery(obj).attr("id") },
            success:function(response){
                document.getElementsByClassName("add_to_master_po_btn_"+itemId)[0].innerHTML = response['html'];

                jQuery('#popup-window-mask').hide();
            },
        });
    }

    function ProductAdd(obj){
        var productId = jQuery(obj).attr("product_id");

        configureProductToAddUrl1 += 'supplier_id/' + jQuery(obj).val() + '/';
        productConfigure = new ProductConfigure();
        productConfigure.addListType('product_to_add', {
            urlFetch: configureProductToAddUrl1
        });
        productConfigure.showItemConfiguration('product_to_add', productId);
    }

    function confirmForm() {
        if (productCompositeConfigureForm.validate()) {
            return true;
        }
        return false;
    }

    function checkValidForm() {
        var formInputs = document.getElementsByClassName('product-custom-option');
        for(var i = 0; i < formInputs.length; i++){
            if(!formInputs[i].value){
                return false;
            }
        }
        return true;
    }

    function OnSubmitForm() {
        if(checkValidForm()) {
            var id = jQuery('#form_data_product_id').val();
            var checkbox = jQuery("input[name='product[" + id + "][id]']");
            checkbox.prop("checked", false);
            var ar = jQuery('#product_composite_configure_form').serializeArray();
            ar.reverse();
            ar.splice(0, 4);
            var qty = jQuery("input[id='product_composite_configure_input_qty']")[0].value;
            var note = jQuery("textarea[id='note_form_post']")[0].value;
            var sup_id = jQuery("select[name='supplier_id']")[0].value;
            jQuery.ajax({
                type: "POST",
                url: "<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/purchase_product/addProductToMasterPO'); ?>",

                data: {option: ar, product_id: id, sup_id: sup_id, qty: qty, note: note},
                success: function (response) {
                    //jQuery('#wait-modal').modal('hide');
                    if (response != 'error') {
                        if (closedComposite === true) {
                            jQuery("#product_composite_configure").css({"display": 'none'});
                        }else{
                            jQuery("#product_composite_configure").css({"display": 'block'});
                        }
                        if (movedToMasterPO === true) {
                            var url = '<?php echo $this->getUrl('adminhtml/purchase_product/edit') ?>' + 'id/' + response;
                            window.location.href = url;
                            movedToMasterPO = false;
                        }

                        jQuery('#popup-window-mask').hide();
                    }
                    // initTablabel(type,data['count']);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // error handling
                    console.log('ajax search error');
                    jQuery('#popup-window-mask').hide();
                }
            });
        }
    }

</script>

<style>
    tr.fixed {
        position: fixed;
    }

    tr.hidden {
        display: none;
    }

    tr.fixed.top {
        top: 35px;
    }
    .product-configure-popup {display:none;z-index: 9920;position: fixed;top: 50%;left:40%;background: #ffff; border-radius: 5px;box-shadow: 0 1px 2px rgba(0, 0, 0, .2);}
    #product_composite_configure_form_fields {max-height: 400px;overflow: auto;margin-left: 0 !important;padding: 10px 15px;}

</style>
