<?php
$helper = Mage::helper('opentechiz_reportExtend');

$dateLastWeek = $helper->getDateLastWeek();
$lastWeekString = ' ('.$dateLastWeek[0].' to '.$dateLastWeek[1].')';
$dateOneWeekAgo = $helper->getDateOneWeekAgo();
$oneWeekAgoString = ' ('.$dateOneWeekAgo[0].' to '.$dateOneWeekAgo[1].')';
$dateLastWeek1year = $helper->getDateLastWeekYear(1);
$lastWeek1yearString = ' ('.$dateLastWeek1year[0].' to '.$dateLastWeek1year[1].')';
$dateLastWeek2year = $helper->getDateLastWeekYear(2);
$lastWeek2yearString = ' ('.$dateLastWeek2year[0].' to '.$dateLastWeek2year[1].')';
?>
<div class="sale_report">
    <div class="hor-scroll">
        <table class="data" cellspacing="0">
            <col>
            <colgroup span="4"></colgroup>
            <colgroup span="4"></colgroup>
            <colgroup span="4"></colgroup>
            <tr class="weekly_sales">
                <td rowspan="2" class=" no-link">Order Source</td>
                <th colspan="4" class=" no-link" scope="colgroup" style="text-align: center">Current Week sales amount <?php echo $lastWeekString ?></th>
                <th colspan="4" class=" no-link" scope="colgroup" style="text-align: center">Past Week sales amount <?php echo $oneWeekAgoString ?></th>
                <th colspan="4" class=" no-link" scope="colgroup" style="text-align: center">Last Week 1 year ago sales amount <?php echo $lastWeek1yearString ?></th>
                <th colspan="4" class=" no-link" scope="colgroup" style="text-align: center">Last Week 2 year ago sales amount <?php echo $lastWeek2yearString ?></th>
            </tr>
            <tr class="weekly_sales">
                <th scope="col" class=" no-link">SubTotal</th>
                <th scope="col" class=" no-link">Tax</th>
                <th scope="col" class=" no-link">Shipping</th>
                <th scope="col" class=" no-link">Total</th>
                <th scope="col" class=" no-link">SubTotal</th>
                <th scope="col" class=" no-link">Tax</th>
                <th scope="col" class=" no-link">Shipping</th>
                <th scope="col" class=" no-link">Total</th>
                <th scope="col" class=" no-link">SubTotal</th>
                <th scope="col" class=" no-link">Tax</th>
                <th scope="col" class=" no-link">Shipping</th>
                <th scope="col" class=" no-link">Total</th>
                <th scope="col" class=" no-link">SubTotal</th>
                <th scope="col" class=" no-link">Tax</th>
                <th scope="col" class=" no-link">Shipping</th>
                <th scope="col" class=" no-link">Total</th>
            </tr>

            <tbody id="table-body">
            <?php
            $lastWeek = $lastWeekSubtotal = $lastWeekTax = $lastWeekShip
                = $oneWeekAgo = $oneWeekAgoSubtotal = $oneWeekAgoTax = $oneWeekAgoShip
                = $lastWeek1year = $lastWeek1yearSubtotal = $lastWeek1yearTax = $lastWeek1yearShip
                = $lastWeek2Year = $lastWeek2yearSubtotal = $lastWeek2YearTax = $lastWeek2YearShip
                = 0;
            $count = 0;
            $getWeeklySalesData = $helper->getWeeklySalesComparisonData();
            $getWeeklyRefundData = $helper->getWeeklyRefundComparisonData();
            ?>
            <?php
            if (is_array($getWeeklySalesData) || is_object($getWeeklySalesData)){
                foreach ($getWeeklySalesData as $key => $data){ ?>
                    <?php if($data['total_last_week'] == 0 && $data['total_year1'] == 0 && $data['total_year2'] == 0) continue;
                    $data['total_last_week'] = round($data['total_last_week'],2);
                    $data['tax_last_week'] = round($data['tax_last_week'],2);
                    $data['ship_last_week'] = round($data['ship_last_week'],2);
                    $data['sub_total_last_week'] = $data['total_last_week'] - $data['tax_last_week'] - $data['ship_last_week'];
                    $data['total_one_week_ago'] = round($data['total_one_week_ago'],2);
                    $data['tax_one_week_ago'] = round($data['tax_one_week_ago'],2);
                    $data['ship_one_week_ago'] = round($data['ship_one_week_ago'],2);
                    $data['sub_total_one_week_ago'] = $data['total_one_week_ago'] - $data['tax_one_week_ago'] - $data['ship_one_week_ago'];
                    $data['total_year1'] = round($data['total_year1'],2);
                    $data['tax_year1'] = round($data['tax_year1'],2);
                    $data['ship_year1'] = round($data['ship_year1'],2);
                    $data['sub_total_year1'] = $data['total_year1'] - $data['tax_year1'] - $data['ship_year1'];
                    $data['total_year2'] = round($data['total_year2'],2);
                    $data['tax_year2'] = round($data['tax_year2'],2);
                    $data['ship_year2'] = round($data['ship_year2'],2);
                    $data['sub_total_year2'] = $data['total_year2'] - $data['tax_year2'] - $data['ship_year2'];
                    ?>
                    <tr title="#" class="pointer">
                        <td rowspan="1" class=" ">
                            <span class="nobr"><?php echo OpenTechiz_ReportExtend_Helper_Data::ORDER_SOURCE[$key]; ?>&nbsp;</span>
                        </td>
                        <td class=" a-right " style="width: 10%;"><?php echo $helper->numberFormat($data['sub_total_last_week']); $lastWeekSubtotal += $data['sub_total_last_week']; ?>&nbsp;</td>
                        <td class=" a-right " style="width: 10%;"><?php echo $helper->numberFormat($data['tax_last_week']); $lastWeekTax += $data['tax_last_week']; ?>&nbsp;</td>
                        <td class=" a-right " style="width: 10%;"><?php echo $helper->numberFormat($data['ship_last_week']); $lastWeekShip += $data['ship_last_week']; ?>&nbsp;</td>
                        <td class=" a-right " style="width: 10%;"><?php echo $helper->numberFormat($data['total_last_week']); $lastWeek += $data['total_last_week']; ?>&nbsp;</td>
                        <td class=" a-right " style="width: 10%;"><?php echo $helper->numberFormat($data['sub_total_one_week_ago']); $lastWeekSubtotal += $data['sub_total_one_week_ago']; ?>&nbsp;</td>
                        <td class=" a-right " style="width: 10%;"><?php echo $helper->numberFormat($data['tax_one_week_ago']); $lastWeekTax += $data['tax_one_week_ago']; ?>&nbsp;</td>
                        <td class=" a-right " style="width: 10%;"><?php echo $helper->numberFormat($data['ship_one_week_ago']); $lastWeekShip += $data['ship_one_week_ago']; ?>&nbsp;</td>
                        <td class=" a-right " style="width: 10%;"><?php echo $helper->numberFormat($data['total_one_week_ago']); $oneWeekAgo += $data['total_one_week_ago']; ?>&nbsp;</td>
                        <td class=" a-right " style="width: 10%;"><?php echo $helper->numberFormat($data['sub_total_year1']); $lastWeekSubtotal += $data['sub_total_year1']; ?>&nbsp;</td>
                        <td class=" a-right " style="width: 10%;"><?php echo $helper->numberFormat($data['tax_year1']); $lastWeekTax += $data['tax_year1']; ?>&nbsp;</td>
                        <td class=" a-right " style="width: 10%;"><?php echo $helper->numberFormat($data['ship_year1']); $lastWeekShip += $data['ship_year1']; ?>&nbsp;</td>
                        <td class=" a-right " style="width: 15%;"><?php echo $helper->numberFormat($data['total_year1']); $lastWeek1year += $data['total_year1'];?>&nbsp;</td>
                        <td class=" a-right " style="width: 10%;"><?php echo $helper->numberFormat($data['sub_total_year2']); $lastWeekSubtotal += $data['sub_total_year2']; ?>&nbsp;</td>
                        <td class=" a-right " style="width: 10%;"><?php echo $helper->numberFormat($data['tax_year2']); $lastWeekTax += $data['tax_year2']; ?>&nbsp;</td>
                        <td class=" a-right " style="width: 10%;"><?php echo $helper->numberFormat($data['ship_year2']); $lastWeekShip += $data['ship_year2']; ?>&nbsp;</td>
                        <td class=" a-right " style="width: 15%;"><?php echo $helper->numberFormat($data['total_year2']); $lastWeek2Year += $data['total_year2']; ?>&nbsp;</td>
                    </tr>
                    <?php $count++; } ?>
            <?php }?>
            <tr class="totals">
                <th class="">Total&nbsp;</th>
                <th colspan="4" class=" a-right"><?php echo $helper->numberFormat($lastWeek) ?>&nbsp;</th>
                <th colspan="4" class=" a-right"><?php echo $helper->numberFormat($oneWeekAgo) ?>&nbsp;</th>
                <th colspan="4" class=" a-right"><?php echo $helper->numberFormat($lastWeek1year) ?>&nbsp;</th>
                <th colspan="4" class=" a-right"><?php echo $helper->numberFormat($lastWeek2Year) ?>&nbsp;</th>
            </tr>

            <?php
            $refundlastWeek = $refundOneWeekAgo = $refundlastWeek1Year = $refundlastWeek2Year = 0;
            $count = 0;
            ?>
            <?php if (is_array($getWeeklyRefundData) || is_object($getWeeklyRefundData)){?>
                <?php foreach ($getWeeklyRefundData as $key => $data){ ?>
                    <?php if($data[0] == 0 && $data[1] == 0 && $data[2] == 0 && $data[3] == 0) continue;
                    $data[0] = round($data[0],2);
                    $data[1] = round($data[1],2);
                    $data[2] = round($data[2],2);
                    $data[3] = round($data[3],2);
                    ?>
                    <tr title="#" class="pointer">
                        <td rowspan="1" class=" ">
                            <span class="nobr"><?php echo OpenTechiz_ReportExtend_Helper_Data::ORDER_SOURCE[$key]; ?>&nbsp;</span>
                        </td>
                        <td colspan="4" class=" a-right " style="width: 10%;"><?php echo $helper->numberFormat($data[0]); $refundlastWeek += $data[0]; ?>&nbsp;</td>
                        <td colspan="4" class=" a-right " style="width: 10%;"><?php echo $helper->numberFormat($data[0]); $refundOneWeekAgo += $data[1]; ?>&nbsp;</td>
                        <td colspan="4" class=" a-right " style="width: 15%;"><?php echo $helper->numberFormat($data[1]); $refundlastWeek1Year += $data[2];?>&nbsp;</td>
                        <td colspan="4" class=" a-right " style="width: 15%;"><?php echo $helper->numberFormat($data[2]); $refundlastWeek2Year += $data[3];?>&nbsp;</td>
                    </tr>
                    <?php $count++; } ?>
            <?php } ?>
            </tbody>

            <tfoot>
            <tr class="totals">
                <th class="">Refund&nbsp;</th>
                <th colspan="4" class=" a-right"><?php echo $helper->numberFormat($refundlastWeek) ?>&nbsp;</th>
                <th colspan="4" class=" a-right"><?php echo $helper->numberFormat($refundOneWeekAgo) ?>&nbsp;</th>
                <th colspan="4" class=" a-right"><?php echo $helper->numberFormat($refundlastWeek1Year) ?>&nbsp;</th>
                <th colspan="4" class=" a-right"><?php echo $helper->numberFormat($refundlastWeek2Year) ?>&nbsp;</th>
            </tr>
            <tr class="totals">
                <th class="">GrandTotal&nbsp;</th>
                <th colspan="4" class=" a-right"><?php echo $helper->numberFormat($refundlastWeek + $lastWeek) ?>&nbsp;</th>
                <th colspan="4" class=" a-right"><?php echo $helper->numberFormat($refundOneWeekAgo + $oneWeekAgo) ?>&nbsp;</th>
                <th colspan="4" class=" a-right"><?php echo $helper->numberFormat($refundlastWeek1Year + $lastWeek1year) ?>&nbsp;</th>
                <th colspan="4" class=" a-right"><?php echo $helper->numberFormat($refundlastWeek2Year + $lastWeek2Year) ?>&nbsp;</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
