<?php
/**
 * MageWorx
 * Admin Order Editor extension
 *
 * @category   MageWorx
 * @package    MageWorx_OrdersEdit
 * @copyright  Copyright (c) 2016 MageWorx (http://www.mageworx.com/)
 */
?>
<div class="box-right mw_spendpoints">
    <div class="entry-edit rewards-cartpoints-spender-box">
        <div class="entry-edit-head">
            <h4 class="icon-head head-spendpoints"><?php echo $this->__('Spend Points') ?></h4>
        </div>
        <fieldset class="np">
            <div class="rewards-cartpoints-spender-box-content">
                <div class="content">
                     <?php if($this->getSpendPoints()): ?>
                        <p><strong><?php echo $this->escapeHtml($this->getSpendPoints()) ?></strong></p>
                    <?php endif; ?>
                </div>
            </div>
        </fieldset>
    </div>
</div>
