<?php /* @var $this Fooman_GoogleAnalyticsPlus_Block_Remarketing */?>
<?php if ($this->shouldInclude()): ?>
    <?php
        $pageValue = $this->getPageValue();
        $prodId = $this->getProdId();
        $pageType = $this->getPageType();
        $conversionLabel = $this->getConversionLabel();
        $conversionId = $this->getConversionId();
    ?>
<script data-no-minify="true">
    /* <![CDATA[ */
    var google_tag_params = {
        <?php if($prodId !== "''"):?>
        ecomm_prodid: <?php echo $prodId ?>,
        <?php endif;?>
        ecomm_pagetype: '<?php echo $pageType ?>',
        <?php if($this->getEcommPValue()):?>
        ecomm_pvalue: <?php echo $this->getEcommPValue() ?>,
        <?php endif;?>
        <?php if($this->getEcommCategory()):?>
        ecomm_category: '<?php echo $this->jsQuoteEscape($this->getEcommCategory()) ?>',
        <?php endif;?>
        <?php if($pageValue):?>
        ecomm_totalvalue: <?php echo $pageValue ?>
        <?php endif;?>
    };
    /* ]]> */
</script>
<script data-no-minify="true">
    /* <![CDATA[ */
    var google_conversion_id = <?php echo $conversionId ?>;
    <?php if($conversionLabel):?>
    var google_conversion_label = "<?php echo $conversionLabel ?>";
    <?php endif;?>
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
</script>
<script src="//www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="<?php echo $this->getNoScriptConversionUrl()?>"/>
    </div>
</noscript>
<?php endif; ?>
