<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/jquery-s.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/slideshow.js') ?>"></script>
<link rel="stylesheet" href="<?php echo $this->getSkinUrl('css/slideshow.css') ?>" />
<div class="w100">
	<div class="securelogo"><img src="<?php echo $this->getSkinUrl('media/securelogos.png') ?>" alt="" /></div>
	<div class="mid-top">&nbsp;</div>
	<div class="mid-mid">
		<div class="banner">
<div id="tmpSlideshow">
  <div style="display: none;" id="tmpSlide-1" class="tmpSlide"> <img src="<?php echo $this->getSkinUrl('images/1.jpg') ?>" alt="Slide">
    <div class="tmpSlideCopy">
      <h4><a href="#"><img src="<?php echo $this->getSkinUrl('images/diamond-watches.png') ?>" alt="" border="0"></a></h4>
      <div class="clear"></div>
      <p>Hottest Watches At Guaranteed Lowest Prices. Click HERE to view all our diamond watches or browse by gender below:</p>
      <div class="clear"></div>
      <ul>
        <li><a href="<?php echo Mage::getBaseUrl();?>mens-diamond-wrist-watches.aspx">Men's Diamond Watches</a></li>
        <li><a href="<?php echo Mage::getBaseUrl();?>womens-diamond-wrist-watches.aspx">Women's Diamond Watches</a></li>
      </ul>
    </div>
  </div>
  
  <div style="display: none;" id="tmpSlide-2" class="tmpSlide"> <img src="<?php echo $this->getSkinUrl('images/2.jpg') ?>" alt="Slide">
    <div class="tmpSlideCopy">
      <h4><a href="<?php echo Mage::getBaseUrl(); ?>diamond-earrings-studs-hoops-chandelier.aspx"><img src="<?php echo $this->getSkinUrl('images/diamond-earrings.png') ?>" alt="" border="0"></a></h4>
      <div class="clear"></div>
      <p>Hoops, Studs, Huggies, Chandelier, Drop Earrings and others 70-82% Off!</p>
      <div class="clear"></div>
      <ul>
        <li><a href="<?php echo Mage::getBaseUrl(); ?>mens-diamond-jewelry/mens-diamond-gold-earrings-studs.aspx">Men's Earrings</a></li>
        <li><a href="<?php echo Mage::getBaseUrl(); ?>diamond-earrings/gold-diamond-hoop-earrings.aspx">Diamond Hoop Earrings</a></li>
        <li><a href="<?php echo Mage::getBaseUrl(); ?>diamond-stud-earrings.aspx">Diamond Stud Earrings</a></li>
        <li><a href="<?php echo Mage::getBaseUrl(); ?>diamond-earrings-studs-hoops-chandelier.aspx">View All Earrings</a></li>
      </ul>
    </div>
  </div>
  
  <div style="display: none;" id="tmpSlide-3" class="tmpSlide"> <img src="<?php echo $this->getSkinUrl('images/3.jpg') ?>" alt="Slide">
    <div class="tmpSlideCopy">
      <h4><a href="<?php echo Mage::getBaseUrl(); ?>mens-diamond-jewelry.aspx"><img src="<?php echo $this->getSkinUrl('images/men-lewelry.png') ?>" alt="" border="0"></a></h4>
      <div class="clear"></div>
      <p>Greatest Selection at Guaranteed Lowest Prices, Free Shipping.</p>
      <div class="clear"></div>
      <ul>
        <li><a href="<?php echo Mage::getBaseUrl(); ?>mens-diamond-jewelry/mens-diamond-gold-earrings-studs.aspx">Men's Diamond Earrings</a></li>
        <li><a href="<?php echo Mage::getBaseUrl(); ?>mens-diamond-jewelry-bracelets/all-mens-diamond-bracelets.aspx">Men's Diamond Bracelets</a></li>
        <li><a href="<?php echo Mage::getBaseUrl(); ?>mens-diamond-jewelry/mens-diamond-gold-rings.aspx">Men's Diamond Rings</a></li>
        <li><a href="<?php echo Mage::getBaseUrl(); ?>mens-diamond-jewelry/mens-diamond-gold-pendants.aspx">Diamond Pendants</a></li>
      </ul>
    </div>
  </div>
  <div style="display: none;" id="tmpSlide-4" class="tmpSlide"> <img src="<?php echo $this->getSkinUrl('images/4.jpg') ?>" alt="Slide">
    <div class="tmpSlideCopy">
      <h4><a href="<?php echo Mage::getBaseUrl(); ?>womens-jewelry.aspx"><img src="<?php echo $this->getSkinUrl('images/women-jewelry.png') ?>" alt="" border="0"></a></h4>
      <div class="clear"></div>
      <p>We have Thousands of designs at Factory Direct Prices. Our range includes :</p>
      <div class="clear"></div>
      <ul>
        <li><a href="<?php echo Mage::getBaseUrl(); ?>ladies-diamond-pendants/all-womens-gold-diamond-pendants.aspx">Pendants</a></li>
        <li><a href="<?php echo Mage::getBaseUrl(); ?>womens-diamond-gold-rings.aspx">Rings</a></li>
        <li><a href="<?php echo Mage::getBaseUrl(); ?>diamond-gold-tennis-bracelets-bangles.aspx">Bracelets</a></li>
        <li><a href="<?php echo Mage::getBaseUrl(); ?>diamond-earrings-studs-hoops-chandelier.aspx">Earrings</a></li>
      </ul>
    </div>
  </div>
  <div style="display: none;" id="tmpSlide-5" class="tmpSlide"> <img src="<?php echo $this->getSkinUrl('images/5.jpg') ?>" alt="Slide">
    <div class="tmpSlideCopy">
      <h4> <a href="<?php echo Mage::getBaseUrl(); ?>diamond-engagement-rings.aspx"><img src="<?php echo $this->getSkinUrl('images/engagement-rings.png') ?>" alt="" border="0"></a>
        <div class="clear"></div>
        <p>We have Thousands of designs at Factory Direct Prices. Our range includes :</p>
        <div class="clear"></div>
        <ul>
          <li><a href="<?php echo Mage::getBaseUrl(); ?>diamond-engagement-rings/wholesale-gold-diamond-engagement-rings.aspx">Preset Engagement Rings</a></li>
          <li><a href="<?php echo Mage::getBaseUrl(); ?>engagement-rings/diamond-wedding-bridal-engagement-ring-sets.aspx">Engagement Ring Sets</a></li>
          <li><a href="<?php echo Mage::getBaseUrl(); ?>engagement-rings/diamond-engagement-rings-settings.aspx">Engagement Ring Settings</a></li>
        </ul>
      </h4>
    </div>
  </div>
  <div id="tmpSlideshowControls">
    <div class="tmpSlideshowControl" id="tmpSlideshowControl-1"><span>1</span></div>
    <div class="tmpSlideshowControl" id="tmpSlideshowControl-2"><span>2</span></div>
    <div class="tmpSlideshowControl" id="tmpSlideshowControl-3"><span>3</span></div>
    <div class="tmpSlideshowControl" id="tmpSlideshowControl-4"><span>4</span></div>
    <div class="tmpSlideshowControl" id="tmpSlideshowControl-5"><span>5</span></div>
  </div>
</div>
			<?php $_maincategorylisting=$this->getCurrentCategory();?>
			<?php $_categories=$this->getCurrentChildCategories();?>
			<?php
			foreach ($_categories as $_category):
				
					if($_category->getIsActive()): ?>
						<?php $cur_category=Mage::getModel('catalog/category')->load($_category->getId()); ?>
						<?php
						if($cur_category->getCategoryGroup()==3)
				{
						$layer = Mage::getSingleton('catalog/layer'); ?>
						<?php $layer->setCurrentCategory($cur_category); ?>
						<?php if($_imageUrl=$this->getCurrentCategory()->getImageUrl()):?>
							<div class="catmain <?php echo ($i==2)? 'mid-banner' : '' ?>">
								<div class="cathdbg"><a href="<?php echo $this->getCategoryUrl($_category) ?>" title="<?php echo $this->htmlEscape($_category->getName()) ?>"><?php echo $this->htmlEscape($_category->getName()) ?></a></div>
								<div class="catimg"><a href="<?php echo $this->getCategoryUrl($_category) ?>" title="<?php echo $this->htmlEscape($_category->getName()) ?>">
									<img src="<?php echo $_imageUrl ?>"  alt="<?php echo $this->htmlEscape($_category->getName()) ?>" /></a>
								</div>
							</div>
						<?php endif; ?>
						<?php } ?>
					<?php endif; ?>
				<?php 
				
			endforeach; ?>
        
		</div>
		<div class="body-cat">
			<div class="content">
				<?php
				foreach ($_categories as $_category):?>
				<?php $category = Mage::getModel('catalog/category')->load((int)$_category->getId()); 
								if($category->getCategoryGroup()==2)
				{
								?>
				<?php
						if($_category->getIsActive()): ?>
							<div class="box">
								<div class="boxcon">
								
									<p class="ft18"><?php echo $this->htmlEscape($_category->getName()) ?><?php echo $_category->getCategoryGroup();?></p>
									<?php
									$children = $category->getChildren();
									$children = explode(",",$children);
									if (strlen($children[0]) > 0){?>
										<ul class="cat-list">
										<?php
										$k=1;
										foreach($children as $child)
										{
											$_child = Mage::getModel('catalog/category')->load($child);
											if($k<=3)
											{
										?>
												<li><a href='<?php echo $_child->getUrl();?>' alt="<?php echo $_child->getName();?>" title="<?php echo $_child->getName();?>"><?php echo $_child->getName();?></a></li>
											<?php
											}
											$k++;
										}?>
										</ul>

									<?php } ?>
									<a class="viewall" href="<?php echo $this->getCategoryUrl($_category) ?>"></a>
									
								</div>
							</div>
						<?php endif; ?>
					<?php }
				endforeach; ?>
			</div>
		</div>
	</div>
	<div class="mid-bottom">&nbsp;</div>
</div>
