<style>
  .messages {
    margin-top: 20px;
  }
  .block-compare {
    display: none;
  }
</style>
<script type="text/javascript" src="<?php echo $this->getUrl()?>js/formValidate.js"></script>
<?php
$message = explode('=',$_SERVER["REQUEST_URI"]);
?>

<?php
$name = "";
$minpricerange = "";
$maxpricerange = "";
$phone = "";
$width = "";
$height = "";
$email = "";
$metal = "";
$notes = "";
$title = "";

$postData = isset($_SESSION["custom-pendants"]) ? $_SESSION["custom-pendants"] : array();
if(count($postData)>0)
{
	$name =  trim($postData["name"]);
	$minpricerange = trim($postData["minpricerange"]);
	$maxpricerange = trim($postData["maxpricerange"]);
	$phone = trim($postData["phone"]);
	$width = trim($postData["width"]);
	$height = trim($postData["height"]);
	$email = trim($postData["email"]);
	$metal = trim($postData["metal"]);
	$notes = trim($postData["notes"]);
	$title = trim($postData["title"]);
	unset($_SESSION["custom-pendants"]);
}
?>

<div class="cat-cnt"><div class="content-ctrpanel-nsyd">
                      <div class="maincontainer">

                          <!-- READ FROM DB --><div class="maincontent-blk-designs">
  <div class="blks-flt pen-bg">
    <center>
      <h2 class="h2-lo-01 top">
							  Custom Pendants & Necklaces, the Way You Want
						  </h2>
    </center><p class="p-lo-01">
						 At ItsHot.com, we deliver only the best custom jewelry. We specialize in designing and developing custom pendants & custom necklaces; thus, we help you get custom pendants within your budget. Here you can design your pendant and personalized necklace and send the design to us where our team of professionals make sure to provide only the unique custom pendant that you always desire for. We are also aware of the fact that no individual likes common designs of their pendants; this is a reason we suggest all our customers to opt for a customized one. The custom pendant necklaces are meant to help you get the personalized solution that you are not otherwise able to get at our shop. With a custom pendant necklace your specifications are studied and then implemented by the trained jewelry designers who put all their efforts to bring only the best pieces.
						</p><center>

                        <center><img class="banner" src="<?php echo $this->getSkinUrl('images/custom-made/custom-pendant.jpg') ?>" alt="Custom Pendant"></center>
      <h2 class="h2-lo-01 mid">Design Your Own Diamond Pendant, Flaunt With Style</h2>
    </center><p class="p-lo-02">
						  We give you a platform wherein you can create your own designs and send them to us. Our experts will come out with exactly the same results that you were looking for. We would, however, appreciate if you send us a sketch of the desired custom diamond pendant via email. You just need to add a few information i.e. your budget, metal to be used and the kind of diamond you want in your custom pendant before we start working on the perfect piece for you. Nonetheless, our team of talented professionals produces a beautiful 3D design of your custom pendant after having a perfect idea of what you exactly want. Once you give your final consent for the special design of custom jewelry, then only the manufacturing process starts. You will certainly receive the product in 1-3 weeks. Contact us if you have any questions.
						</p><br>

                        <ul class="gallery first">
                         <li><img src="<?php echo $this->getSkinUrl('images/custom-made/custom-black-diamond-cross-pendant.jpg') ?>" alt="Custom Black Diamond Cross Pendant"></li>
                             <li><img src="<?php echo $this->getSkinUrl('images/custom-made/unique-custom-diamond-pendants.jpg') ?>" alt="Unique Custom Diamond Pendants"></li>
                                 <li><img  src="<?php echo $this->getSkinUrl('images/custom-made/custom-gold-white-yellow-diamond-pendant.jpg') ?>" alt="Custom Gold White Yellow Diamond Pendant"></li>
                                     <li><img src="<?php echo $this->getSkinUrl('images/custom-made/gold-custom-made-diamond-pendant.jpg') ?>" alt="Gold Custom Made Diamond Pendant"></li>
                                         <li><img src="<?php echo $this->getSkinUrl('images/custom-made/black-diamond-custom-made-pendant.jpg') ?>" alt="Black Diamond Custom Made Pendant for Men"></li>
                                       </ul><br />
                                       <ul class="gallery">
                                         <li><img src="<?php echo $this->getSkinUrl('images/custom-made/wolverine-custom-diamond-pendant.jpg') ?>" alt="Wolverine Custom Diamond Pendant"></li>
                             <li ><img src="<?php echo $this->getSkinUrl('images/custom-made/custom-gold-diamond-pendant.jpg') ?>" alt="Custom Gold Diamond Pendant"></li>
                                 <li ><img  src="<?php echo $this->getSkinUrl('images/custom-made/custom-diamond-pinky-brain-pendant.jpg') ?>" alt="Custom Diamond Pinky and the Brain Pendant"></li>
                                     <li><img src="<?php echo $this->getSkinUrl('images/custom-made/custom-mens-black-diamond-pendants.jpg') ?>" alt="Custom Mens Black Diamond Pendants"></li>
                                         <li><img src="<?php echo $this->getSkinUrl('images/custom-made/yellow-gold-custom-diamond-pendant.jpg') ?>" alt="Yellow Gold Custom Diamond Pendant"></li>
                       </ul>
                        </div>


  <div class="blks-flt">
	  <br>
	  <p class="trojan">It would be best if you already have a sketch of what you would like us to make in this case please attach it to your email to let us know how it should look. Also please include the following information about your custom pendant necklace: Your budget, Metal, Stones, Diamond Shape</p>
  </div>
  <div class="blks-flt">
					  <form id="customizeJewelryForm" enctype="multipart/form-data" action="<?php echo $this->getUrl()?>quotes/index/post5/" method="post">
                   <span class="trojan"> Please e-mail the above information to <strong><a class="lnk-email01" href="mailto:sales@ItsHot.com">sales@ItsHot.com</a></strong> or just fill the form:</span>
                   <br><table cellspacing="0" cellpadding="0" class="tbl-formmemail">
    <tbody>
	<tr><td colspan="4"><span class="required trojan">Required Fields</span></td></tr>
	<tr>
      <td class="col1 trojan"> Name<span class="required trojan"></span> :</td>
      <td class="col2 trojan"><input type="text" id="" name="name" value = "<?php echo $name; ?>" tabindex="1" class="form-txtbox01 input-text required-entry"></td>
      <td class="col3 trojan"> Price Range<span class="required trojan"></span> :</td>
      <td class="col4 trojan">
          <ul class="range-container">
              <li><input type="text" name="minpricerange" value = "<?php echo $minpricerange; ?>" tabindex="5" class="input-text required-entry" placeholder="Min"></li>
              <li><input type="text" name="maxpricerange" value ="<?php echo $maxpricerange; ?>"  tabindex="6" class="input-text required-entry" placeholder="Max"></li>
          </ul>
      </td>
    </tr>
    <tr>
      <td class="col1 trojan">
                              Tel:
                          </td>
      <td class="col2"><input type="text" name="phone" value ="<?php echo $phone; ?>" tabindex="2" class="form-txtbox01"></td>
      <td class="col3 trojan">
                                      Size:</td>
      <td class="col4"><input type="text" name="width" value ="<?php echo $width; ?>" tabindex="7" class="form-txtbox02" placeholder="width">&nbsp;&nbsp;
                                      <input type="text" name="height" value ="<?php echo $height; ?>" tabindex="8" class="form-txtbox02" placeholder="height"></td>
    </tr>
    <tr>
      <td class="col1 trojan"> Email<span class="required trojan"></span> :</td>
      <td class="col2 trojan"><input type="text" name="email" value ="<?php echo $email; ?>" tabindex="3" class="form-txtbox01 input-text required-entry"></td>
      <td class="col3 trojan">
                                      Metal:
                                  </td>
      <td class="col4"><select name="metal" tabindex="9" class="form-ddl01"><option selected="" value="None">-select metal-</option>
           <option value="Gold" <?php if($metal=='Gold'){ ?> selected = "selected" <?php } ?> >Gold</option>
          <option value="Silver" <?php if($metal=='Silver'){ ?> selected = "selected" <?php } ?>>Silver</option>
          <option value="Other" <?php if($metal=='Other'){ ?> selected = "selected" <?php } ?>>Other</option>
          <option value="I don't know" <?php if($metal=="I don't know"){ ?> selected = "selected" <?php } ?>>I don't know</option>

          </select></td>
    </tr>
   <tr style="height: 90px;">
      <td class="col1 trojan" style="text-align:left;">
                              Notes:
                          </td>
      <td colspan="3" class="col2" ><textarea name="notes" tabindex="4" class="form-txtarea01" cols="50" rows="4"><?php echo $notes; ?></textarea></td>
    </tr>
   <tr >
      <td class="col1 trojan">
                              Upload your design image:
                          </td>
      <td colspan="3" class="col2" ><input type="file" tabindex="11" name="customImage1" class="form-fileupload01"  id="customImage1"><br><input type="file" tabindex="12" name="customImage2" class="form-fileupload01"  id="customImage2"></td>
    </tr>
    <?php if (Mage::helper('studioforty9_recaptcha')->isAllowed("quotes_index_post5")):?>
     <tr><td></td>
		<td colspan="3" style="width:auto;">
                    <?php echo $this->getLayout()
                            ->createBlock('studioforty9_recaptcha/explicit')
                            ->setTemplate('studioforty9/recaptcha/explicit.phtml')
                            ->setAllow(true)
                            ->toHtml();
                    ?>
		</td>
    </tr>
    <?php endif?>

    <tr><td></td><td colspan="3"><button value="Apply Coupon" class="button" title="Submit" type="submit"  tabindex="13" style="margin:10px 0 0 0px;"><span><span>Submit</span></span></button><input type="hidden" name="title" value="Custom Pendants Request"><input type="hidden" name="url" value="Chains_Customization"></td></tr>
  </tbody></table></form><br><br>
				  </div>

</div><!-- END OF DB -->


                          <!--COMPUNIX-->
                          <div style="display: block;" class="recentitems-blk"></div>
                          <!--COMPUNIX-->
                      </div>
                  </div>
              </div>
<script type="text/javascript">
//<![CDATA[
    var customizeJewelryForm = new VarienForm('customizeJewelryForm', true);
//]]>
</script>
