<style>
  .messages {
    margin-top: 20px;
  }
  .block-compare {
    display: none;
  }
</style>
<script type="text/javascript" src="<?php echo $this->getUrl()?>js/formValidate.js"></script>
<?php
$message = explode('=',$_SERVER["REQUEST_URI"]);
?>
<?php
$name = "";
$minpricerange = "";
$maxpricerange = "";
$phone = "";
$width = "";
$height = "";
$email = "";
$metal = "";
$notes = "";
$title = "";
$stones = "";

$postData = isset($_SESSION["custom-watches"]) ? $_SESSION["custom-watches"] : array();
if(count($postData)>0)
{
	$name =  trim($postData["name"]);
	$minpricerange = trim($postData["minpricerange"]);
	$maxpricerange = trim($postData["maxpricerange"]);
	$phone = trim($postData["phone"]);
	$width = trim($postData["width"]);
	$height = trim($postData["height"]);
	$email = trim($postData["email"]);
	$metal = trim($postData["metal"]);
	$notes = trim($postData["notes"]);
	$title = trim($postData["title"]);
	$stones = trim($postData["stones"]);
	unset($_SESSION["custom-watches"]);
}
?>
<div class="cat-cnt"><div class="content-ctrpanel-nsyd">
                      <div class="maincontainer">
						<div class="maincontent-blk-designs">
  <div class="blks-flt watches">
    <center>
      <h2 class="h2-lo-01">
							  Custom Diamond Watches -<br /> A Time You Design, We Develop
						  </h2>
    </center><p class="p-lo-01 trojan">
						 Now be the creator of your own diamond watch! At ItsHot.com, we are now offering you with an
opportunity where you can design your own diamond watch and leave everything
else on us. With our custom watches manufacturing process, you can see the reflection
of your imagination coming to life.The principal step in bringing your
custom designs to life starts with you, that is, it would be best if you mail us the sketch of
your design, along with other details like your budget and
metal you would like in your diamond watch.

						</p>

                        <center><img src="<?php echo $this->getSkinUrl('images/custom-made/custom-diamond-watches.png') ?>" alt="Custom Diamond Watches"></center>
                        <center style="display: block;">
      <h2 class="h2-lo-01">Custom Diamond Watches <br />that Reflect Your Personality</h2>
    </center><p class="p-lo-02 trojan">
						  When you design, let us know what sort of design you require for your diamond watch. Our talented and skilled design team produces a 3-D computer prototype of your mentioned design. They then forward you an email, attached with several pictures of the design prototype. This step ensures your involvement in the whole process. You can revert to our email with your suggestions i.e. whether any elements of the design need to be modified. Our designing team moves forward with the customizing process only and only when you approve the 3-D design. It is our commitment to satisfy you by offering you with the custom diamond watches that are the mirror images of your designs. With us, you can be assured of the highest quality merchandise at amazing prices.</p>

                          <center><img src="<?php echo $this->getSkinUrl('images/custom-made/custom-black-diamond-watches.jpg') ?>" alt="Custom Black Diamond Watches"></center>

                          </div>

  <div class="blks-flt"><p class="p-lo-01 trojan">
						  It would be best if you already have a sketch of what you would like us to make in this case please attach it to your e-mail. Also please include the following information about your custom watch: Your budget, Metal, Stones
    </p></div>
  <div class="blks-flt">
                       <form id="customizeJewelryForm" enctype="multipart/form-data" action="<?php echo $this->getUrl()?>quotes/index/post/" method="post">
                    <span class="trojan">Please e-mail the above information to <strong><a class="lnk-email01" href="mailto:sales@ItsHot.com">sales@ItsHot.com</a></strong> or just fill the form:</span>
                <table cellspacing="0" cellpadding="0" class="tbl-formmemail">
    <tbody><tr><td class="col2"><input type="hidden" name="title" value="Watches Customization" tabindex="1" class="form-txtbox01"></td></tr>
	<tr><td colspan="4"><span class="required trojan">Required Fields</span></td></tr>
	<tr>
      <td class="col1 trojan"> Name<span class="required"></span> :</td>
      <td class="col2 trojan"><input type="text" id="" name="name" value = "<?php echo $name; ?>" tabindex="1"  class="form-txtbox01 input-text required-entry"></td>
      <td class="col3 trojan"> Price Range<span class="required"></span> :</td>
      <td class="col4 trojan">
          <ul class="range-container">
              <li><input type="text" name="minpricerange" value = "<?php echo $minpricerange; ?>" tabindex="5" class="input-text required-entry" placeholder="Min"></li>
              <li><input type="text" name="maxpricerange" value ="<?php echo $maxpricerange; ?>"  tabindex="6" class="input-text required-entry" placeholder="Max"></li>
          </ul>
      </td>
    </tr>
    <tr>
      <td class="col1 trojan">Tel:</td>
      <td class="col2 trojan"><input type="text" name="phone" value = "<?php echo $phone; ?>" tabindex="2" class="form-txtbox01"></td>
      <td class="col3 trojan">Metal:</td>
      <td class="col4 trojan"><select name="metal" tabindex="9" class="form-ddl01"><option selected="" value="0">-select metal-</option>

		  <option value="Gold" <?php if($metal=='Gold'){ ?> selected = "selected" <?php } ?> >Gold</option>
          <option value="Silver" <?php if($metal=='Silver'){ ?> selected = "selected" <?php } ?>>Silver</option>
          <option value="Other" <?php if($metal=='Other'){ ?> selected = "selected" <?php } ?>>Other</option>
          <option value="I don't know" <?php if($metal=="I don't know"){ ?> selected = "selected" <?php } ?>>I don't know</option>

          </select></td>
    </tr>
    <tr>
      <td class="col1 trojan"> Email<span class="required"></span> :</td>
      <td class="col2 trojan"><input type="text" name="email" value = "<?php echo $email; ?>"  tabindex="3" class="form-txtbox01 input-text required-entry"></td>
      <td class="col3 trojan">Stones:</td>
      <td class="col4 trojan"><select name="stones" tabindex="10" class="form-ddl01"><option selected="" value="None">-select stone-</option>

          <option value="Diamonds" <?php if($stones=='Diamonds') { ?> selected = "selected" <?php } ?> >Diamonds</option>
          <option value="Gemstones" <?php if($stones=='Gemstones') { ?> selected = "selected" <?php } ?>>Gemstones</option>
          <option value="CZ's" <?php if($stones=="CZ's") { ?> selected = "selected" <?php } ?>>CZ's</option>
          <option value="Other" <?php if($stones=='Other') { ?> selected = "selected" <?php } ?>>Other</option>
          <option value="I don't know" <?php if($stones=="I don't know") { ?> selected = "selected" <?php } ?>>I don't know</option>

          </select></td>
    </tr>
    <tr style="height: 90px;">
      <td class="col1 trojan" style="text-align:left;">Notes:</td>
      <td colspan="3" class="col2"><textarea name="notes" tabindex="4" class="form-txtarea01" cols="50" rows="4"><?php echo $notes; ?></textarea></td>
    </tr>
   <tr>
      <td class="col1 trojan">Upload your design image:</td>
      <td colspan="3" class="col2" ><input type="file" tabindex="11" name="customImage1" class="form-fileupload01"  id="customImage1"><br><input type="file" tabindex="12" name="customImage2" class="form-fileupload01"  id="customImage2"></td>
    </tr>
<?php if (Mage::helper('studioforty9_recaptcha')->isAllowed("quotes_index_post")):?>
    <tr><td></td>
        <td colspan="3" style="width:auto;">
            <?php echo $this->getLayout()
                                                        ->createBlock('studioforty9_recaptcha/explicit')
                                                        ->setTemplate('studioforty9/recaptcha/explicit.phtml')
                                                        ->setAllow(true)
                                                        ->toHtml();
                                                ?>
        </td>
    </tr>
<?php endif?>
    <tr>
	<td></td>
	<td colspan="3"><button value="Apply Coupon" class="button" title="Submit" type="submit"  tabindex="13" style="margin:10px 0 0 0px;"><span><span>Submit</span></span></button>
	<input type="hidden" name="url" value="Custom_Watches"></td>
	</tr>
  </tbody>
  </table>
  </form>
  <br /><br />
  </div>

</div><!-- END OF DB -->


                          <!--COMPUNIX-->
                          <div style="display: block;" class="recentitems-blk"></div>
                          <!--COMPUNIX-->
                      </div>
                  </div>
                  </div>
<script type="text/javascript">
//<![CDATA[
    var customizeJewelryForm = new VarienForm('customizeJewelryForm', true);
//]]>
</script>