<link rel="stylesheet" href="<?php echo $this->getSkinUrl('css/layeredNav/jquery-ui-1.0.css') ?>" />
<?php 
/*
 // code commneted by Ankush on 23-02-2016
<div class="block block-layered-nav" id="layered-nav-search">
	 <div id="shoppingoptions" class="block-content">		
		<?php
		
		
			//create connection object
			$conn = Mage::getSingleton('core/resource')->getConnection('core_write');
			$key = trim($_GET['q']);
			$result = $conn->query("SELECT * FROM itshot_keywords where find_in_set('".addslashes($key)."',keywords)");
			$data=$result->fetch();
			$cat =trim($data['category'],",");
			
			$cats = explode(',', $cat);
			if(count($cats)==1)
			{
				$category = 'categories:'.$cats[0].' OR show_in_categories:'.$cats[0];				
			}
			else
			{
				$str = '';
				for($i=0;$i<count($cats);$i++)
				{
					$str.= 'categories:'.$cats[$i].' OR show_in_categories:'.$cats[$i].' OR ';
				}
				
				$category = substr($str,0,-3);
			}
			
			//if (Mage::helper('enterprise_search')->isThirdPartSearchEngine() && $cat!='') {
			require_once 'Zend/Search/Lucene/Analysis/Analyzer/Standard/English.php';
			require_once ('lib/Apache/Solr/Service.php');
			$solrHost = Mage::getStoreConfig('catalog/search/solr_server_hostname',Mage::app()->getStore());
			$solrPort = Mage::getStoreConfig('catalog/search/solr_server_port',Mage::app()->getStore());
			$solrPath = Mage::getStoreConfig('catalog/search/solr_server_path',Mage::app()->getStore());
			$solr = new Apache_Solr_Service($solrHost,$solrPort, '/'.$solrPath);
			//$solr = new Apache_Solr_Service('10.85.110.112','8983', '/solr');
			
			//$keyData = Mage::helper('core')->returnKeyData(trim($_GET['q']));//die;
			$keyData = Mage::helper('catalogsearch')->getQueryText();
	
			$params = array("qt"=>"magento_en","fq"=>"(visibility:3 OR visibility:4) AND store_id:1 AND in_stock:true");
			$searchParams['qt'] =  'magento_en';
			$searchParams['facet'] =  'on';
			$searchParams['fq'][] =  'fq: (visibility:3 OR visibility:4) AND store_id:1 AND in_stock:true';
		
			//-Start----
				
		if(isset($_REQUEST['brand']) && $_REQUEST['brand']!='')
		{
			$brand=trim($_REQUEST['brand']);//die;
			$brand = explode(',', $brand);
			if(count($brand)==1)
			{
				//$searchParams['fq'][] =  'attr_select_brand:'.$brand[0];
				$searchParamss['fq1'][] =  '{!tag=br}attr_select_brand:'.$brand[0];
				$searchParams['facet.field'][] =  '{!ex=br}attr_select_brand';
				
			}
			else
			{
				$str = '';
				for($i=0;$i<count($brand);$i++)
				{
					$str.= 'attr_select_brand:'.$brand[$i].' OR ';
				}
				$strBrand = substr($str,0,-3);
				//$searchParams['fq'][] =  'attr_select_brand: ('.$strBrand.')';
				$searchParamss['fq1'][] =  '{!tag=br}attr_select_brand: ('.$strBrand.')';
				$searchParams['facet.field'][] =  '{!ex=br}attr_select_brand';
			}
		}
		else
		{
			$searchParams['facet.field'][] =  'attr_select_brand';
		}
		
		if(isset($_REQUEST['met']) && $_REQUEST['met']!='')
		{
			$met=trim($_REQUEST['met']);//die;
			$met = explode(',', $met);
			if(count($met)==1)
			{
				$metal = findMetal($met[0]);
				//$searchParams['fq'][] =  'attr_multi_met:'.$metal;
				$searchParamss['fq1'][] =  '{!tag=met}attr_multi_met:'.$metal;
				$searchParams['facet.field'][] =  '{!ex=met}attr_multi_met';
				
			}
			else
			{
				$str = '';
				for($i=0;$i<count($met);$i++)
				{
					$metal ='';
					$metal = findMetal($met[$i]);
					$strm.= 'attr_multi_met:'.$metal.' OR ';
				}
				$strMet = substr($strm,0,-3);
				//$searchParams['fq'][] =  'attr_multi_met: ('.$strMet.')';
				$searchParamss['fq1'][] =  '{!tag=met}attr_multi_met: ('.$strMet.')';
				//fq={!tag=br}attr_select_brand:91&fq={!tag=met}attr_multi_met:14K
				$searchParams['facet.field'][] =  '{!ex=met}attr_multi_met';
				
			}
		}
		else
		{
			$searchParams['facet.field'][] =  'attr_multi_met';
		}
		// Diamond Quality SOLR 
				
		if(isset($_REQUEST['average_clarity_for_filter']) && $_REQUEST['average_clarity_for_filter']!='')
		{
			 $clearity = trim($_REQUEST['average_clarity_for_filter']);//die;
			 $clearity = explode(',', $clearity);
			 
			if(count($clearity)==1)
			{
				//$searchParams['fq'][] =  'attr_select_average_clarity_for_filter:'.$clearity[0];
				$searchParamss['fq1'][] =  '{!tag=qua}attr_select_average_clarity_for_filter:'.$clearity[0];
				$searchParams['facet.field'][] =  '{!ex=qua}attr_select_average_clarity_for_filter';
			}
			else
			{
				$str = '';
				for($i=0;$i<count($clearity);$i++)
				{
					$str.= 'attr_select_average_clarity_for_filter:'.$clearity[$i].' OR ';
				}
				$strClearity = substr($str,0,-3);
				//$searchParams['fq'][] =  'attr_select_average_clarity_for_filter: ('.$strClearity.')';
				$searchParamss['fq1'][] =  '{!tag=qua}attr_select_average_clarity_for_filter: ('.$strClearity.')';
				$searchParams['facet.field'][] =  '{!ex=qua}attr_select_average_clarity_for_filter';
				
			}
		}
		else
		{
			$searchParams['facet.field'][]=  'attr_select_average_clarity_for_filter';
		}
				
		// Gender for filter 
		
		if(isset($_REQUEST['gender_for_filter']) && $_REQUEST['gender_for_filter']!='')
		{
			 $gender = trim($_REQUEST['gender_for_filter']);//die;
			 $gender = explode(',', $gender);
			 
			if(count($gender)==1)
			{
				//$searchParams['fq'][] =  'attr_select_gender_for_filter:'.$gender[0];
				$searchParamss['fq1'][] =  '{!tag=gen}attr_select_gender_for_filter:'.$gender[0];
				$searchParams['facet.field'][] =  '{!ex=gen}attr_select_gender_for_filter';
			}
			else
			{
				$str = '';
				for($i=0;$i<count($gender);$i++)
				{
					$str.= 'attr_select_gender_for_filter:'.$gender[$i].' OR ';
				}
				$strClearity = substr($str,0,-3);
				//$searchParams['fq'][] =  'attr_select_gender_for_filter: ('.$strClearity.')';
				$searchParamss['fq1'][] =  '{!tag=gen}attr_select_gender_for_filter: ('.$strClearity.')';
				$searchParams['facet.field'][] =  '{!ex=gen}attr_select_gender_for_filter';
				
			}
		}
		else
		{
			$searchParams['facet.field'][] =  'attr_select_gender_for_filter';
		}
		
		// Plating watch color for filter 
	   
	   	if(isset($_REQUEST['watch_color']) && $_REQUEST['watch_color']!='')
		{
			 $plating = trim($_REQUEST['watch_color']);//die;
			 $plating = explode(',', $plating);
			
			if(count($plating)==1)
			{
				$searchParamss['fq1'][] =  '{!tag=gen}attr_select_watch_color:'.$plating[0];
				$searchParams['facet.field'][] =  '{!ex=gen}attr_select_watch_color';
			}
			else
			{
				$str = '';
				for($i=0;$i<count($plating);$i++)
				{
					$str.= 'attr_select_watch_color:'.$plating[$i].' OR ';
				}
				$strClearity = substr($str,0,-3);
				$searchParamss['fq1'][] =  '{!tag=gen}attr_select_watch_color: ('.$strClearity.')';
				$searchParams['facet.field'][] =  '{!ex=gen}attr_select_watch_color';
				
			}
		}
		else
		{
			$searchParams['facet.field'][] =  'attr_select_watch_color';
		}
	   
	   
	   // Plating watch width for filter
	   
		if (isset($_REQUEST['width_for_filter']) && $_REQUEST['width_for_filter']!='') {
			
			$widthRange = str_replace(',',' TO ',$_REQUEST['width_for_filter']);
            $searchParams['fq'][] =  'attr_decimal_width_for_filter:['.$widthRange.']';
		}
        
        if (isset($_REQUEST['carat_weight']) && $_REQUEST['carat_weight']!='') {
			
			$widthRange = str_replace(',',' TO ',$_REQUEST['carat_weight']);
            //$searchParams['fq'][] =  'attr_decimal_carat_weight:['.$widthRange.']';
			$searchParamss['fq1'][] =  '{!tag=carat}attr_decimal_carat_weight: ['.$widthRange.']';
			$searchParams['facet.field'][] =  '{!ex=carat}attr_decimal_carat_weight';
		}
		else
		{
			$searchParams['facet.field'][] =  'attr_decimal_carat_weight';
		}
		
		if (isset($_REQUEST['price']) && $_REQUEST['price']!='') {
			
			$priceRange = str_replace(',',' TO ',$_REQUEST['price']);
            $searchParams['fq'][] =  'price_0_1:['.$priceRange.']';
		}
		//--End-
		//echo "<pre>";print_r($searchParams);
       // $searchParams['fq'] = implode(' AND ', $searchParams['fq']);//.$fq1;
		$searchParams['fq'] = array_merge($searchParams['fq'],$searchParamss['fq1']);
		//$searchParams['facet.field'] = implode(' &facet.field= ', $searchParams['facet.field']);
		$searchParams['facet.mincount'] = 1;
		$searchParams['facet.limit'] = -1;		
		$objSuggestion = new Enterprise_Search_Model_Adapter_HttpStream();
		//print_r($searchParams);
			if($solr->ping())
			{
			    $keyData = Mage::helper('core')->returnDocs($keyData, $objSuggestion, 0, 1, $searchParams);
				if(trim($keyData)!='')
				{   
					
					if($cat !='')
					{
					  $searchParams['q.op'] = '';
				    }
					if($cat!='')
					$keyData=$category;
					$response = $solr->search($keyData,0,1,$searchParams);					
					$num = (int) $response->response->numFound;//die;
					$num1 = _facetObjectToArray($response->facet_counts);//die;
					$docs = $response->response->docs;
				    //echo "<pre>";print_r($response);						
					if(!$docs)
					{   
						   
						   //$keyDataCheck = Mage::helper('core')->returnDocs($keyData, $objSuggestion, 0, 10, $searchParams);						   
						  //commented by top code by arvind for speed optimization
						    $keyData = preg_replace('/[^A-Za-z0-9\-\/]/', ' ', $keyData);	
						   $numRecords = $objSuggestion->numResult($keyData);
						   
							if($numRecords > 0)
							{ 
								//$keyData = Mage::helper('core')->returnDocs($keyData, $objSuggestion, 0, 10, $searchParams);//die;	
								$keyData =  $objSuggestion->returnDocsCombinePartial($keyData, $objSuggestion, 0, 1, $searchParams,'suggetion');//die;					
								$response = $solr->search($keyData,0,1,$searchParams);
								$num = (int) $response->response->numFound;
								$num1 = _facetObjectToArray($response->facet_counts);//die;
								$docs = $response->response->docs;
								//echo "<pre>";print_r($response);
								
							}
							else
							{
								
								$searchParams['q.op'] = 'OR';	
								unset($searchParams['qt']);
								//$keyData = Mage::helper('core')->returnPartialDocs($keyData, $objSuggestion, 0, 10, $searchParams);
								$keyData2 =  $objSuggestion->returnDocsCombinePartial($keyData, $objSuggestion, 0, 1, $searchParams,'fulltext1_en');
								//echo $keyData;
								$exP = explode("~",$keyData2);
								$queryMatch = $exP[0];
								$queryMatch1 = $exP[1];
								//echo $queryMatch;die;
								//print_r($exP);
								$txt = substr($queryMatch,0,-4);

								$searchConditions1 = $objSuggestion->prepareSearchConditionsNav($txt);
						
								$response = $solr->search($keyData2,0,1,$searchParams);
								$num = (int) $response->response->numFound;
								$num1 = _facetObjectToArray($response->facet_counts);//die;
								$docs = $response->response->docs;
							}
						
					}
				} 
				
			}
						
			if(isset($num1) and count($num1)>0)
			{
				
		   ?>
		<p class="block-subtitle">Narrow Your Results</p>
		 <dl id="narrow-by-list">
			 
			<?php
					foreach($num1 as $field => $value)
					{	
					
						if($field == 'attr_select_brand')
						{
							foreach ($value as $k => $v)
							{
								if(!in_array($k,$brandArry))
								{
									$brandArry[] = $k;
									$brandVal[$k] = findBrand($k);
								}
							}
						}
						if($field == 'attr_multi_met')
						{
							foreach ($value as $k => $v)
							{
								if($k=='10K' || $k=='14K' || $k=='18K' || $k=='Platinum' || $k=='P' || $k=='Sterling' || $k=='Stainless')
								{
									$met[] = $k;
								}
								
								
							}
						}
						
						if($field == 'attr_select_gender_for_filter')
						{
							foreach ($value as $k => $v)
							{
								if(!in_array($k,$genderArry))
								{
									$genderArry[] = $k;
									$genderVal[$k] = findGender($k);
								}
							}
						}
						if($field == 'attr_select_watch_color')
						{ 
							foreach ($value as $k => $v)
							{
								if(!in_array($k,$platingArry))
								{
									$platingArry[] = $k;
									$PalatingVal[$k] = findPlating($k);
								}
							}
						}
						if($field == 'attr_decimal_size_for_filter')
							{
								foreach ($value as $k => $v)
								{
									if(!in_array($k,$size))
									{
										$size[] = $k;
									}
								}
								
							}
							if($field == 'attr_select_average_clarity_for_filter')
							{
								foreach ($value as $k => $v)
								{
									if(!in_array($k,$clarity))
									{
										$clarity[] = $k;
										$clarityVal[$k] = findClarity($k);
									}
								}
							}
							if($field == 'attr_decimal_width_for_filter')
							{
								foreach ($value as $k => $v)
								{
									if(!in_array($k,$width))
									{
										$width[] = $k;
									}
								}
							}
							if($field == 'attr_decimal_carat_weight')
							{
								foreach ($value as $k => $v)
								{
									if(!in_array($k,$weight))
									{
										$weight[] = $k;
									}
								}
							}
							if($field == 'attr_decimal_diamond_weight_for_filter')
							{
								foreach ($value as $k => $v)
								{
									if(!in_array($k,$dweight))
									{
										$dweight[] = $k;
									}
								}
							}
							
					}

			}

			$arrySort = array_flip($brandVal);
			ksort($arrySort);
			
			$genderSort = array_flip($genderVal);
			ksort($genderSort);
			
			$claritySort = array_flip($clarityVal);
			ksort($claritySort);
			
			$platingSort = array_flip($PalatingVal);
						
			ksort($platingSort);
			
			//echo"<pre/>";
			//print_r($claritySort);
			$minSize = min($size);
			$maxSize = max($size);
			
			$minWidth = min($width);
			$maxWidth = max($width);
			
			$minWeight = min($weight);
			$maxWeight = max($weight);
			
			$minDiamondWeight = min($weight);
			$maxDiamondWeight = max($weight);
			
			$vals = array_flip($met);
			ksort($vals);
			//print_r($vals);die;
			
			?>

	<?php
	if(count($vals)>1)
	{ ?>
	<span id="metalClearAll" style="display:none;float:right;padding-top:8px;"><a href = "javascript://" onClick= "resetAll('brandFilter','metalClearAll')" >Clear All</a></span>
	<div id="metal">
	<h2 class="menu_head_search">Metal</h2>
	 <ul class="menu_body_search">
			<?php												
			foreach ($vals as $k=>$v)
			{
					$key = '';
					$value = '';
					if($k=='10K')
					{
						$key = '10K Gold';
						$value = 51;
					}
					elseif($k=='14K')
					{
						$key = '14K Gold';
						$value = 52;
					}
					elseif($k=='18K')
					{
						$key = '18K Gold';
						$value = 53;
					}
					elseif($k=='Platinum' or $k=='P')
					{
						$key = 'Platinum';
						$value = 45;
					}
					elseif($k=='Sterling')
					{
						$key = 'Sterling Silver';
						$value = 49;
					}
					elseif($k=='Stainless')
					{
						$key = 'Stainless Steel';
						$value = 234;
					}
				
					if($key!='')
					{	
						$get = (string) $_GET['met'] ;
				
						$value1 = (string)$value;	
					
						$pos =  strpos($get,$value1);
						 if($pos === false)
						 {										 
						   echo '<li><input value='.$value.' class ="metal" onclick=filterByMetal("'.Mage::helper('core/url')->getCurrentUrl().'") type="checkbox" name="brandfilter" id="brandFilter"/> '.$key.'</li>';
						 }
						 else
						 {
							echo '<li><input value='.$value.' class ="metal" onclick=filterByMetal("'.Mage::helper('core/url')->getCurrentUrl().'") type="checkbox" checked="checked" name="brandfilter" id="brandFilter"/> '.$key.'</li>';									  
						 }
				    }							  
				
			}						
			?>
			 </ul>
			 </div>
	<?php
	}	
	$diamondClearityArraySolr = array('I'=> '354,336,326,359,355',
										'SI' => '333,313,336,360,312,326,328,335',
										'VS' => '315,313,360,311,312', 
										'AAA' => '345,311,312,328,326,355');						
														 
										
										
								if(array_key_exists('VVS2',$claritySort)){
								  $vsArray = array('VVS' => '310');
								  $diamondClearityArraySolr = array_merge($diamondClearityArraySolr,$vsArray);
								}									
								
							
								
								//For live
								
								if(array_key_exists('AA',$claritySort)){
								  $aaArray = array('AA' => '343,342,359');
								  $diamondClearityArraySolr   =  array_merge($diamondClearityArraySolr,$aaArray);
								}													
												 
					$str= '';
					$str1 = '';
					if(!array_key_exists('I', $claritySort)) 
					{
						unset($diamondClearityArraySolr['I']);
					}
					if(!array_key_exists('SI', $claritySort)) 
					{
						unset($diamondClearityArraySolr['SI']);
					}
					if(!array_key_exists('VS', $claritySort)) 
					{
						unset($diamondClearityArraySolr['VS']);
					}
					if(!array_key_exists('VVS', $claritySort)) 
					{
						unset($diamondClearityArraySolr['VVS']);
					}
					if(!array_key_exists('AAA', $claritySort)) 
					{
						unset($diamondClearityArraySolr['AAA']);
					}
					if(!array_key_exists('AA', $claritySort)) 
					{
						unset($diamondClearityArraySolr['AA']);
					}
					if(!array_key_exists('VVS2', $claritySort)) 
					{
						unset($diamondClearityArraySolr['VVS2']);
					}
	if(count($diamondClearityArraySolr)>1)
	{
	?> 
		<span id="cleartyClearAll" style="display:none;float:right;padding-top:8px;"><a href = "javascript://" onClick= "resetAll('clearityfilter','cleartyClearAll')" >Clear All</a></span>
		<div id="diamond">
		<h2 class="menu_head_search">Diamond Quality</h2>
		 <ul class="menu_body_search">
		<?php		
		 // for live 
		 
					
					 foreach($diamondClearityArraySolr as $key => $value)
					 {		
						    $append='';
							if(in_array($key,array('I','SI','VS')))
							{	
								$append = ' (White)';
							}	
							else
							{
								$append = ' (Black)';
							}
							$get = (string) $_GET['average_clarity_for_filter'];						
							$value1 = (string)$value;								
							$pos =  strpos($get,$value1);								
							 if($pos === false)
							 {								 
							   $str.= '<li><input value='.$value.' class ="clearity" onclick=filterByClearity("'.Mage::helper('core/url')->getCurrentUrl().'") type="checkbox" name="clearityfilter" id="clearityfilter"/> '.$key.$append.'</li>';
							  }
							  else
							  {							  
								$str.= '<li><input checked ="checked" value='.$value.' class ="clearity" onclick=filterByClearity("'.Mage::helper('core/url')->getCurrentUrl().'") type="checkbox" name="clearityfilter" id="clearityfilter"/> '.$key.$append.'</li>';							  
							  }								
							  
					}
					echo $str;					        
				?>
			</ul>
			</div>
			<?php
			}
			
			if(count($genderSort)>1) { ?> 
			<span id="genderClearAll" style="display:none;float:right;padding-top:8px;"><a href = "javascript://" onClick= "resetAll('genderId','genderClearAll')" >Clear All</a></span>
			<div id="gender">
			<h2 class="menu_head_search">Gender</h2>
            <ul class="menu_body_search">
				<?php
				//print_r($genderSort);
				$genderS = array("Men's"=>306,"Women's"=>304,"Unisex"=>305);
				$str= '';
				$str1= '';
				foreach($genderSort as $value=>$key) 
				{							
					$get = (string) $_GET['gender_for_filter'] ;						
					$key1 = (string)$key ;						
					$pos =  strpos($get,$key1);
					if($pos === false)
					{						
					     $str.= '<li><input  value='.$key.' class ="gender" onclick=filterByGender("'.Mage::helper('core/url')->getCurrentUrl().'") type="checkbox" name="clearityfilter" id="genderId"/> '.$value.'</li>';                        
					}
					else
					{						
						 $str.= '<li><input  checked= "checked" value='.$key.' class ="gender" onclick=filterByGender("'.Mage::helper('core/url')->getCurrentUrl().'") type="checkbox" name="clearityfilter" id="genderId"/> '.$value.'</li>';			
					}
                    
                }         
				echo $str;
				?>
			</ul>
			</div>
	 <?php
			 
	  } 
	  	 if(count($platingSort)>1) { ?> 
			<span id="platingClearAll" style="display:none;float:right;padding-top:8px;"><a href = "javascript://" onClick= "resetAll('platingId','platingClearAll')" >Clear All</a></span>
			<div id="plating">
			<h2 class="menu_head_search">Plating</h2>
            <ul class="menu_body_search">
				<?php
				//print_r($platingSort);
				
				$str= '';
				$str1= '';
				foreach($platingSort as $value=>$key) 
				{							
					$get = (string) $_GET['watch_color'] ;						
					$key1 = (string)$key ;						
					$pos =  strpos($get,$key1);
					if($pos === false)
					{						
					     $str.= '<li><input  value='.$key.' class ="plating" onclick=filterByPlating("'.Mage::helper('core/url')->getCurrentUrl().'") type="checkbox" name="platingId" id="platingId"/> '.$value.'</li>';                        
					}
					else
					{						
						 $str.= '<li><input  checked= "checked" value='.$key.' class ="plating" onclick=filterByPlating("'.Mage::helper('core/url')->getCurrentUrl().'") type="checkbox" name="platingId" id="platingId"/> '.$value.'</li>';			
					}
                    
                }         
				echo $str;
				?>
			</ul>
			</div>
			 <?php
			 
	  } 
	  
	  unset($arrySort['ItsHot']);
	 if(count($arrySort)>1 && !stristr($keyData,'ring'))
	  { 
	 ?>
			<span id="brandClearAll" style="display:none;float:right;padding-top:8px;"><a href = "javascript://" onClick= "resetAll('brandFilter','brandClearAll')" >Clear All</a></span>
			<div id="brand">
			<h2>Brand</h2>
			<dd style="height:107px;overflow:auto;">
				<?php
					$brandArry = array(248=>'7 For All Mankind',284=>'Accessories',117=>'Accutron by Bulova',92=>'Activa',109=>'Adidas',135=>'Aerowatch',216=>'Alexander McQueen',160=>'Angular Momentum',170=>'Aqua Master',167=>'Aquanautic',187=>'Arctica',139=>'Armani',283=>'Armani Exchange',281=>'Audemars Piguet',184=>'Baby Phat',130=>'Balenciaga',73=>'Baume & Mercier',181=>'Bedat & Co.',66=>'Benny & Co',209=>'Bertolucci',231=>'Blinde',282=>'Bottega Veneta',280=>'Boucheron',195=>'Breitling',93=>'Bulova',191=>'Burberry',166=>'Burett',87=>'Cabochon',122=>'Calvin Klein',84=>'Caravelle by Bulova',116=>'Carrera',225=>'Cartier',131=>'Casio',247=>'Centorum',278=>'Cerruti I88I',125=>'Chanel',277=>'Charriol',201=>'Cheap',188=>'Chloe',104=>'Christian Bernard',58=>'Christian Dior',186=>'Citizen',61=>'Clerc',76=>'Coach',65=>'Cole Haan',64=>'Collectors',276=>'Columbia',95=>'Concord',98=>'Corum',275=>'Croton',274=>'Derek Lam',273=>'Dereon',173=>'Diesel',110=>'DKNY',77=>'Dolce & Gabbana',115=>'Dreyfuss & Co.',207=>'Dubey & Schaldenbrand',190=>'Ducati',272=>'Dunhill',90=>'Ebel',271=>'EDOX',232=>'Elini',205=>'Emilio Pucci',106=>'Emporio Armani',270=>'Energie',111=>'ESQ',269=>'Eterna',213=>'Fashion',222=>'Fendi',215=>'Ferragamo',194=>'Field & Stream',185=>'Fontenay',155=>'Fossil',268=>'Franck Muller',152=>'Freelook',287=>'G-Shock',85=>'Geneve',136=>'Gevril',71=>'Giordano',162=>'Giorgio Armani',180=>'Givenchy',79=>'Glam Rock',68=>'Glycine',78=>'Gucci',132=>'Guess',267=>'Hello Kitty',229=>'Hermes',168=>'Horolos',266=>'Hublot',103=>'Hugo Boss',157=>'I by Invicta',169=>'Ice Ice',265=>'Ice Plus',137=>'Ice Time',96=>'Immersion',161=>'Invicta',100=>'Invicta Jewelry',91=>'ItsHot',204=>'Jacob & Co',217=>'Jacques Lemans',63=>'JACQUES LEMANS F1',289=>'JBW',164=>'Jean Paul Gaultier',264=>'Jean Richard',154=>'Jimmy Choo',206=>'Joe Rodeo',72=>'John Varvatos',147=>'JoJino',192=>'JoJo',199=>'Juicy Couture',143=>'Just Cavalli',153=>'Karl Lagerfeld',75=>'Kate Spade',70=>'Kenneth Cole',141=>'Kenneth Cole Reaction',158=>'Lacoste',263=>'Lancaster',202=>'Leonard',227=>'Locman',262=>'Longines',286=>'Luccello',261=>'Lucien Piccard',165=>'Lucky Brand',176=>'Luxurman',159=>'Magico',142=>'Marc by Marc Jacobs',212=>'Marc Ecko',172=>'Marc Jacobs',211=>'Mauboussin',219=>'Maurice Lacroix',197=>'Michael by Michael Kors',102=>'Michael Kors',230=>'Michele',260=>'Momo Design',259=>'Mont Blanc',208=>'Moschino',55=>'Movado',118=>'Nautica',196=>'Nexus',258=>'Nicole Miller',257=>'Nike',256=>'Nina Ricci',138=>'Oakley',179=>'Officina Del Tempo',89=>'Orient',127=>'Oris',255=>'Oscar De La Renta',62=>'Paris Hilton',285=>'Paul Frank',163=>'Persol',178=>'Phat Farm',133=>'Philippe Starck',60=>'Polo',177=>'Polo By Ralph Lauren',189=>'Poseidon',210=>'Prada',182=>'Pulsar',83=>'Puma',108=>'Rado',82=>'Ralph by Ralph Lauren',214=>'Ralph Lauren',99=>'Ray-Ban',113=>'Raymond Weil',57=>'Red Line',105=>'Replay',112=>'Richard & Co',146=>'Roberto Cavalli',56=>'Rolex',198=>'Rotary',218=>'Salvatore Ferragamo',200=>'Scott Kay Jewelry',193=>'Sector',107=>'Seiko',140=>'Skagen',223=>'Smith',221=>'Spazio24',69=>'Stauer',228=>'Stella McCartney',254=>'Stuhrling Original',114=>'Super Techno',88=>'Suunto',80=>'Swatch',54=>'Swiss Army',67=>'SWISS LEGEND',151=>'Swiss Watch International',156=>'Tag Heuer',253=>'Tdiezel',171=>'Techno JPM',119=>'Techno Master',226=>'Techno Swiss',220=>'TechnoMarine',81=>'Theory',291=>'Tiffany & Co',59=>'Timberland',252=>'Timex',94=>'Tissot',128=>'Tom Ford',126=>'Tommy Bahama',290=>'Toy Watch',250=>'ToyWatch',123=>'Triumph Motorcycles',251=>'TW Steel',
					129=>'Valentino',86=>'Vera Wang',120=>'Versace',97=>'Versus',288=>'Victorinox',145=>'Vizio',121=>'Watch Winders',150=>'Whimsical',224=>'Wittnauer',148=>'Wyler Geneve',249=>'Yellow Gold Plated',149=>'Yves Saint Laurent',203=>'Zodiac');
					$str = '';
					$str1='';
					unset($arrySort['ItsHot']);
					//print_r($arrySort);
			foreach($arrySort as $value=>$key) 
			{
												
						$get = (string) $_GET['brand'] ;						
						$key1 = (string)$key ;		
						$value1 = (string) $value ;				
						
						$pos =  strpos($get,$key1); 
						 
					    if($pos === false)
					    {					  
							$str.= '<ol><label><li><input value='.$key.' class ="brand" onclick=filterBybrand("'.Mage::helper('core/url')->getCurrentUrl().'") type="checkbox" name="brandfilter" id="brandFilter"/> '.$value.'</li></label></ol>';
						}
						else
						{				
							$str.= '<ol><label><li><input checked="checked" value='.$key.' class ="brand" onclick=filterBybrand("'.Mage::helper('core/url')->getCurrentUrl().'") type="checkbox" name="brandfilter" id="brandFilter"/> '.$value.'</li></label></ol>';		
						}
											
			}
			echo $str;					
			?>
		</dd>
		</div>
		 <?php } ?> 			
		<?php if($maxDiamondWeight!=$minDiamondWeight && $maxDiamondWeight>0) { ?> 		
		<h2>Total Diamond Weight </h2>					
			<ul>
				<ol style="width:100%; display:none;">
				<li style="float:left; margin-right:5px; font-weight:bold;">Range:</li>
				<li id="diamond_weight_range"><?php echo number_format($minDiamondWeight,2); ?> - <?php echo ceil($maxDiamondWeight); ?></li>
				</ol>
				<ol class="diamond-weightslider"> 
					<li id="min_diamond_weight"><?php echo number_format($minDiamondWeight, 2); ?></li>
					<li id="scale1">
						<div id="diamond_weight-slider-range" style="width:100%;"></div>
					</li>				
					<li id="max_diamond_weight"><?php echo ceil($maxDiamondWeight); ?></li>
					<li>&nbsp;</li>
				</ol>						
			</ul>	
			
<?php } ?>	
<?php if($num==1){ echo "<script>jQuery('#layered-nav-search').hide();</script>"; }  ?>
<?php //} ?>
</dl>
 <span id ="resetall" style="display:none">
	<a  class="resetall" href = "<?php echo Mage::helper('core/url')->getCurrentUrl(); ?>" style="float:right;margin-right:55px;">Reset All</a>
 </span>		
</div>
</div>

*/ ?>
<!-- End-->
<script type="text/javascript">
	/*
jQuery(document).ready(function()
{     
  
	 jQuery(document).on("click",".menu_head_search",function()
      {   
		  if(jQuery(window).width() <= 800) 
          { 
		  //jQuery.getScript("<?php echo Mage::getBaseUrl();?>js/jquery-1.9.1.min.js"); 
		 
		  jQuery(this).next("ul.menu_body_search").slideToggle(300).siblings("ul.menu_body_search").slideUp("slow");
		  jQuery('#body_'+checkPid).slideToggle(300);
          jQuery(this).siblings();	        	
	  
	   }
	   });
	
});
*/
</script>

<script type="text/javascript">	 
jQuery(function() {

	jQuery("#diamond_weight-slider-range").slider({
		range:true,
		min:<?php echo number_format($minDiamondWeight, 2); ?>,
		max:<?php echo ceil($maxDiamondWeight); ?>,
		values:[<?php echo number_format($minDiamondWeight, 2); ?>,<?php echo ceil($maxDiamondWeight); ?>],
		step:.1,
		
		slide:function(event,ui) {
				jQuery('#diamond_weight_range').html(ui.values[0]+' - '+ui.values[1]);
				jQuery('#min_diamond_weight').html(ui.values[0]);
				jQuery('#max_diamond_weight').html(ui.values[1]);
		},
		change:function(event,ui) {
		url = getUrl();			
		showLoaderNav();
		jQuery.post(url,function(res) {
				
				hideLoaderNav();
				var content = jQuery( res ).find( ".category-products" ).html();
				jQuery( ".category-products" ).empty().append( content );
				
				// add js file for lazy load
					
				//jQuery.getScript(BASE_URL+"skin/frontend/default/itshot/js/mgt_lazy_image_loader/lazy-image-loader.js");	
		        //jQuery.getScript(BASE_URL+"skin/frontend/default/itshot/js/mgt_lazy_image_loader/common.js");	
		        
				//update pagination at top section 
				var pagingproduct = jQuery( res ).find(".amount-box").html();
				jQuery(".amount-box").empty().append(pagingproduct);	
				//end of update pagination at top section 
				
				var newproducts = jQuery( res ).find( "#topseller" ).html();
				jQuery( "#topseller" ).empty().append( newproducts );		
				var contentmetal = jQuery( res ).find( "#metal" ).html();
				jQuery( "#metal" ).empty().append(contentmetal);
				if(contentmetal) {
					jQuery("#metal").show();
				}
				else {
					jQuery("#metal").hide();
				}			
				var contentgender = jQuery( res ).find( "#gender" ).html();
				jQuery( "#gender" ).empty().append(contentgender);
				if(contentgender) {
					jQuery("#gender").show();
				}
				else {
					jQuery("#gender").hide();
				}		
				var contentdiamond = jQuery( res ).find( "#diamond" ).html();
				jQuery( "#diamond" ).empty().append(contentdiamond);
				if(contentdiamond) {
					jQuery("#diamond").show();
				}
				else {
					jQuery("#diamond").hide();
				}		
				var contentbrand = jQuery( res ).find( "#brand" ).html();
				jQuery( "#brand" ).empty().append(contentbrand);
				if(contentbrand) {
					jQuery("#brand").show();
				}
				else {
					jQuery("#brand").hide();
				}
				
				var contentplating = jQuery( res ).find( "#plating" ).html();
				jQuery( "#plating" ).empty().append(contentplating);
				if(contentplating) {
					jQuery("#plating").show();
				}
				else {
					jQuery("#plating").hide();
				}		
						
				//jQuery(window).unbind('scroll');
				//StrategeryInfiniteScroll.init();
				
				window.history.pushState("string","",url.replace('ajax=1&',''));
			});
		}
	});
});

</script>	
<script type="text/javascript">

 function getUrl(){
	 
			jQuery('#metalClearAll').hide();
			jQuery('#genderClearAll').hide();
			jQuery('#cleartyClearAll').hide();
			jQuery('#brandClearAll').hide();
			jQuery('#brandClearAll').hide();
			jQuery('#platingClearAll').hide();			
  
		   var url='';	
		   //var url = '<?php echo Mage::helper('core/url')->getCurrentUrl(); ?>+&ajax=1';	
		    //var url = '<?php echo Mage::helper('core/url')->getCurrentUrl(); ?>?';			
	        var url = '<?php echo Mage::helper('core/url')->getCurrentUrl(); ?>+&ajax2=1'; 
	         
			if(jQuery('#diamond_weight_range').length > 0 ) {
				var diamondweightrange = jQuery('#diamond_weight_range').html();
				var diamondweightrangeArray = diamondweightrange.split(' - ');
				url = url+'&carat_weight='+diamondweightrangeArray[0]+'%2C'+diamondweightrangeArray[1];
				
			}	
			
			if(jQuery('#size_range').length > 0 ) {	
				var sizerange = jQuery('#size_range').html();
				var sizerangeArray = sizerange.split(' - ');				
				url = url+'&size_for_filter='+sizerangeArray[0]+'%2C'+sizerangeArray[1];			
			}
			
			if(jQuery('#price_range').length>0){
			var pricerange = jQuery('#price_range').html();
			var pricerangeArray = pricerange.split(' - ');  
			var res = pricerangeArray[0].replace('<a href="tel:', '');
			var res1 = pricerangeArray[1].replace('">'+res, '');
			url = url+'&price='+res+'%2C'+res1;
			//url = url+'&price='+pricerangeArray[0]+'%2C'+pricerangeArray[1];
		   }
   
			
			if(jQuery('#width_range').length>0){
				var widthrange = jQuery('#width_range').html();
				var widthrangeArray = widthrange.split(' - ');		
				url = url+'&width_for_filter='+widthrangeArray[0]+'%2C'+widthrangeArray[1];
			}
						
			var genderids = '';
			jQuery(".gender:checked").each(function(){
			 genderids += jQuery(this).val()+",";
			 	jQuery('#genderClearAll').show();
			});		
			genderids = genderids.substring(0, genderids.length - 1);
			if(genderids!=""){
				url = url+"&gender_for_filter="+genderids;
					
			}
			
			var platingids = '';
			jQuery(".plating:checked").each(function(){
			 platingids += jQuery(this).val()+",";
			 	jQuery('#platingClearAll').show();
			});		
			platingids = platingids.substring(0, platingids.length - 1);
			if(platingids!=""){
				url = url+"&watch_color="+platingids;
					
			}
			
			var clearityids = '' ;
			jQuery(".clearity:checked").each(function(){
			 clearityids += jQuery(this).val()+",";
			 jQuery('#cleartyClearAll').show();
			});			
			clearityids = clearityids.substring(0, clearityids.length - 1);
			if(clearityids!=""){
				url = url+"&average_clarity_for_filter="+clearityids;
			}
			
			
			var brandids = '' ;
			jQuery(".brand:checked").each(function(){
				brandids += jQuery(this).val()+",";
				jQuery('#brandClearAll').show();
			});	
		
			brandids = brandids.substring(0, brandids.length - 1);
			if(brandids!=""){
			url = url+"&brand="+brandids;	
			}
			var metalids = '' ;
				jQuery(".metal:checked").each(function(){
				metalids += jQuery(this).val()+",";
				jQuery('#metalClearAll').show();
				});			
				metalids = metalids.substring(0, metalids.length - 1);
			if(metalids!=""){
				url = url+"&met="+metalids ;
			}		
			
			var pagingValue = jQuery("#paging").val();
			if(pagingValue!=""){
				url = url+"&p="+pagingValue ;
			}
			
			var optionValue = jQuery("#sortingid option:selected").val();

			if(optionValue!=""){
				url = url+"&"+optionValue ;
			}
			
			jQuery('#resetall').show();
			
			return url;
				
			 }
 
 // Reset paging on onchange option
  function getUrlSort(){
	 
			jQuery('#metalClearAll').hide();
			jQuery('#genderClearAll').hide();
			jQuery('#cleartyClearAll').hide();
			jQuery('#brandClearAll').hide();
			jQuery('#brandClearAll').hide();
			jQuery('#platingClearAll').hide();			
  
		   var url='';	
		   //var url = '<?php echo Mage::helper('core/url')->getCurrentUrl(); ?>+&ajax=1';	
		    //var url = '<?php echo Mage::helper('core/url')->getCurrentUrl(); ?>?';			
	        var url = '<?php echo Mage::helper('core/url')->getCurrentUrl(); ?>+&ajax2=1'; 
			if(jQuery('#diamond_weight_range').length > 0 ) {
				var diamondweightrange = jQuery('#diamond_weight_range').html();
				var diamondweightrangeArray = diamondweightrange.split(' - ');
				url = url+'&carat_weight='+diamondweightrangeArray[0]+'%2C'+diamondweightrangeArray[1];
				
			}	
			
			if(jQuery('#size_range').length > 0 ) {	
				var sizerange = jQuery('#size_range').html();
				var sizerangeArray = sizerange.split(' - ');				
				url = url+'&size_for_filter='+sizerangeArray[0]+'%2C'+sizerangeArray[1];			
			}
			
			if(jQuery('#price_range').length>0){
			var pricerange = jQuery('#price_range').html();
			var pricerangeArray = pricerange.split(' - ');  
			var res = pricerangeArray[0].replace('<a href="tel:', '');
			var res1 = pricerangeArray[1].replace('">'+res, '');
			url = url+'&price='+res+'%2C'+res1;
			//url = url+'&price='+pricerangeArray[0]+'%2C'+pricerangeArray[1];
		   }
   
			
			if(jQuery('#width_range').length>0){
				var widthrange = jQuery('#width_range').html();
				var widthrangeArray = widthrange.split(' - ');		
				url = url+'&width_for_filter='+widthrangeArray[0]+'%2C'+widthrangeArray[1];
			}
						
			var genderids = '';
			jQuery(".gender:checked").each(function(){
			 genderids += jQuery(this).val()+",";
			 	jQuery('#genderClearAll').show();
			});		
			genderids = genderids.substring(0, genderids.length - 1);
			if(genderids!=""){
				url = url+"&gender_for_filter="+genderids;
					
			}
			
			var platingids = '';
			jQuery(".plating:checked").each(function(){
			 platingids += jQuery(this).val()+",";
			 	jQuery('#platingClearAll').show();
			});		
			platingids = platingids.substring(0, platingids.length - 1);
			if(platingids!=""){
				url = url+"&watch_color="+platingids;
					
			}
			
			var clearityids = '' ;
			jQuery(".clearity:checked").each(function(){
			 clearityids += jQuery(this).val()+",";
			 jQuery('#cleartyClearAll').show();
			});			
			clearityids = clearityids.substring(0, clearityids.length - 1);
			if(clearityids!=""){
				url = url+"&average_clarity_for_filter="+clearityids;
			}
			
			
			var brandids = '' ;
			jQuery(".brand:checked").each(function(){
				brandids += jQuery(this).val()+",";
				jQuery('#brandClearAll').show();
			});	
		
			brandids = brandids.substring(0, brandids.length - 1);
			if(brandids!=""){
			url = url+"&brand="+brandids;	
			}
			var metalids = '' ;
				jQuery(".metal:checked").each(function(){
				metalids += jQuery(this).val()+",";
				jQuery('#metalClearAll').show();
				});			
				metalids = metalids.substring(0, metalids.length - 1);
			if(metalids!=""){
				url = url+"&met="+metalids ;
			}		
			
			var optionValue = jQuery("#sortingid option:selected").val();

			if(optionValue!=""){
				url = url+"&"+optionValue ;
			}
			
			jQuery('#resetall').show();
			
			return url;
				
			 }
</script>

<script type="text/javascript">
	function resetAll(elementId,clearAllId){
	
		jQuery('#'+elementId+':checked').removeAttr('checked'); 
		url = getUrl();
		showLoaderNav();
		jQuery.post(url,function(res) {
			hideLoaderNav();
					var content = jQuery( res ).find( ".category-products" ).html();
					jQuery( ".category-products" ).empty().append( content );	
                    
                  // add js file for lazy load
					
				//jQuery.getScript(BASE_URL+"skin/frontend/default/itshot/js/mgt_lazy_image_loader/lazy-image-loader.js");	
		       //jQuery.getScript(BASE_URL+"skin/frontend/default/itshot/js/mgt_lazy_image_loader/common.js");	
		        
					//update pagination at top section 
					var pagingproduct = jQuery( res ).find(".amount-box").html();
					jQuery(".amount-box").empty().append(pagingproduct);	
					//end of update pagination at top section 
					
					var content2 = jQuery( res ).find( "#metal" ).html();
					jQuery( "#metal" ).empty().append(content2);	
				
					var content2 = jQuery( res ).find( "#gender" ).html();
					jQuery( "#gender" ).empty().append(content2);	
                    
                    var plating = jQuery( res ).find( "#plating" ).html();
					jQuery( "#plating" ).empty().append(plating);	
					
					var contentdiamond = jQuery( res ).find( "#diamond" ).html();
			
					jQuery( "#diamond" ).empty().append(contentdiamond);
					
					var contentbrand = jQuery( res ).find( "#brand" ).html();
					jQuery( "#brand" ).empty().append(contentbrand);	
				
				
				//jQuery(window).unbind('scroll');
				//StrategeryInfiniteScroll.init();
			
				var isChecked = jQuery('#'+elementId).attr('checked')?true:false;
			
				if(isChecked==true){
					jQuery('#'+clearAllId).show();
				}else{
					jQuery('#'+clearAllId).hide();
				}
				
					
				
			});
	}
	
</script>

<?php 
function findBrand($brandId)
{
	//create connection object
                $resource = Mage::getSingleton('core/resource');
                $eav_attribute_option_value_tbl = $resource->getTableName('eav_attribute_option_value');
	$conn = $resource->getConnection('core_write');
	$brand = explode(',', $brandId) ;
	foreach ($brand as $brandId)
	{
		$sqloption="select value from $eav_attribute_option_value_tbl where option_id='".$brandId."'";
		$queryoption= $conn->fetchAll($sqloption);
		if(count($queryoption)>0)
		{
			foreach ($queryoption as $rowoption)
			{
				return $rowoption['value'];
			}
		}
	}
			
}
function findGender($genderId)
{
	//create connection object
	$resource = Mage::getSingleton('core/resource');
                $eav_attribute_option_value_tbl = $resource->getTableName('eav_attribute_option_value');
	$conn = $resource->getConnection('core_write');
	$gender = explode(',', $genderId) ;
	foreach ($gender as $genderId)
	{
		$sqloption="select value from $eav_attribute_option_value_tbl where option_id='".$genderId."'";
		$queryoption= $conn->fetchAll($sqloption);
		if(count($queryoption)>0)
		{
			foreach ($queryoption as $rowoption)
			{
				return $rowoption['value'];
			}
		}
	}
			
}

function findPlating($platingId)
{
	//create connection object
	$resource = Mage::getSingleton('core/resource');
                $eav_attribute_option_value_tbl = $resource->getTableName('eav_attribute_option_value');
	$conn = $resource->getConnection('core_write');
	$plating = explode(',', $platingId) ;
	foreach ($plating as $paltingId)
	{
		$sqloption="select value from $eav_attribute_option_value_tbl where option_id='".$paltingId."'";
		$queryoption= $conn->fetchAll($sqloption);
		if(count($queryoption)>0)
		{
			foreach ($queryoption as $rowoption)
			{
				return $rowoption['value'];
			}
		}
	}
			
}

function findClarity($clarityId)
{
	
	//create connection object
	$resource = Mage::getSingleton('core/resource');
                $eav_attribute_option_value_tbl = $resource->getTableName('eav_attribute_option_value');
	$conn = $resource->getConnection('core_write');
	$clarity = explode(',', $clarityId) ;
	foreach ($clarity as $clarityId)
	{
		$sqloption="select value from $eav_attribute_option_value_tbl where option_id='".$clarityId."'";
		$queryoption= $conn->fetchAll($sqloption);
		if(count($queryoption)>0)
		{
			foreach ($queryoption as $rowoption)
			{
				return $rowoption['value'];
			}
		}
	}
			
}

	/*
	@Date: 16-12-2013
	@By: Sujit Kumar Pandey
	@Function: return the metal value on the basis of metal code	
	*/
	function findMetal($metal)
	{
		if($metal==51)
		{
			$met = '10K';
		}
		elseif($metal==52)
		{
			$met = '14K';
		}
		elseif($metal==53)
		{
			$met = '18K';
		}
		elseif($metal==45)
		{
			$met = 'Platinum';
		}
		elseif($metal==49)
		{
			$met = 'Sterling';
		}
		elseif($metal==234)
		{
			$met = 'Stainless';
		}
			return $met;
    }
function _facetObjectToArray($object)
	{
			if(!is_object($object) && !is_array($object)){
				return $object;
			}

			if(is_object($object)){
				$object = get_object_vars($object);
			}

			$res = array();
			foreach ($object['facet_fields'] as $attr => $val) {
				foreach ((array)$val as $key => $value) {
					$res[$attr][$key] = $value;
				}
			}

			foreach ($object['facet_queries'] as $attr => $val) {
				if (preg_match('/\(categories:(\d+) OR show_in_categories\:\d+\)/', $attr, $matches)) {
					$res['categories'][$matches[1]]    = $val;
				} else {
					$attrArray = explode(':', $attr);
					$res[$attrArray[0]][$attrArray[1]] = $val;
				}
			}
			//echo "<pre>";print_r($res);
			return $res;
	}
