<style>
  .messages {
    margin-top: 20px;
  }
  .block-compare {
    display: none;
  }
</style>
<script type="text/javascript" src="<?php echo $this->getUrl()?>js/formValidate.js"></script>
<?php
$message = explode('=',$_SERVER["REQUEST_URI"]);
?>

<?php
$name = "";
$minpricerange = "";
$maxpricerange = "";
$phone = "";
$width = "";
$height = "";
$email = "";
$metal = "";
$notes = "";
$title = "";
$stones = "";

$postData = isset($_SESSION["custom-rings"]) ? $_SESSION["custom-rings"]: array();
if(count($postData)>0)
{
	$name =  trim($postData["name"]);
	$minpricerange = trim($postData["minpricerange"]);
	$maxpricerange = trim($postData["maxpricerange"]);
	$phone = trim($postData["phone"]);
	$width = trim($postData["width"]);
	$height = trim($postData["height"]);
	$email = trim($postData["email"]);
	$metal = trim($postData["metal"]);
	$notes = trim($postData["notes"]);
	$title = trim($postData["title"]);
	$stones = trim($postData["stones"]);
	unset($_SESSION["custom-rings"]);
}
?>

<div class="cat-cnt"><div class="content-ctrpanel-nsyd">
                      <div class="maincontainer">

                          <!-- READ FROM DB --><div class="maincontent-blk-designs">
  <div class="blks-flt rings">
    <center>
      <h2 class="h2-lo-01">
							 Create your Custom Rings

						  </h2>
    </center>
      <p class="p-lo-01 trojan"> At ItsHot.com, we always try to bring the best of the rings to the customers but each customer has different or unique design in mind. So, to deliver to those who want nothing but the best for themselves, we offer custom diamond rings.</p>
    <p class="p-lo-01 trojan">

Our experience and passion for the diamond rings makes us the most trusted unique custom handcrafted diamond rings. We deliver any design that you create in your mind for your one of a kind ring i.e. with us your dream ring is given a shape. You can just email or fax us the design you have in your mind and see it coming to life in short period of time.
						</p>

                         <center><img src="<?php echo $this->getSkinUrl('images/custom-made/custom-diamond-ring.png') ?>" alt="Custom Diamond Ring" ></center>
          <center style="margin-top: 0;">
      <h2 class="h2-lo-01" >You Participate<br /> in Custom Diamond Ring Designing Process </h2>
    </center><p class="p-lo-02 trojan">
						  Once you tell us your idea of your custom gold diamond rings, our talented team will design a 3D prototype of what you asked for and it will be mailed to you. You will receive several pictures/images from different angles, can also tell us the changes or modifications you want in the prototype before it is developed into your very own custom gold ring.
The manufacturing process begins after we receive approval from you. The product will be created and delivered to you in 1-3weeks depending upon the complexity of the design of your custom ring. Nonetheless, to get the best prototype and information about the custom ring you want please email us with your budget, the type of metal you want to use in your ring.
						</p>
  <div class="blks-flt" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="bracelet-imgblk">
    <div class="itemblks"><img src="<?php echo $this->getSkinUrl('images/custom-made/create-custom-diamond-ring.jpg') ?>" alt="Create Your Custom Diamond Rings" ></div>
      <div class="arrow-blk"><img alt="Arrow" src="<?php echo $this->getSkinUrl('images/custom-made/aero.jpg') ?>"></div>
      <div class="itemblks"><img src="<?php echo $this->getSkinUrl('images/custom-made/custom-diamond-ring.jpg') ?>" alt="Create Custom Diamond Ring" ></div>
       <div class="arrow-blk"><img alt="Arrow" src="<?php echo $this->getSkinUrl('images/custom-made/aero.jpg') ?>"></div>
             <div class="itemblks"><img src="<?php echo $this->getSkinUrl('images/custom-made/custom-rings.jpg') ?>" alt="Create Your Custom Rings" ></div>
    </div>
  </div>
  <div class="blks-flt"><p class="p-lo-01 trojan">
						  It would be best if you already have a sketch of what you would like us to make in this case please attach it to your e-mail. Also please include the following information about your custom ring: Your budget, Metal, Stones
    </p></div>
  <div class="blks-flt">
					  <form id="customizeJewelryForm" enctype="multipart/form-data" action="<?php echo $this->getUrl()?>quotes/index/post3/" method="post">
                  <span class="trojan">  Please e-mail the above information to <strong><a class="lnk-email01" href="mailto:sales@ItsHot.com">sales@ItsHot.com</a></strong> or just fill the form:</span>
                  <br><table cellspacing="0" cellpadding="0" class="tbl-formmemail">
    <tbody>
	<tr><td colspan="4"><span class="required trojan">Required Fields</span></td></tr>
	<tr>
      <td class="col1 trojan"> Name<span class="required"></span> :</td>
      <td class="col2 trojan"><input type="text" id="" name="name" value = "<?php echo $name; ?>" tabindex="1" class="form-txtbox01 input-text required-entry"></td>
      <td class="col3 trojan"> Price Range<span class="required"></span> :</td>
      <td class="col4 trojan">
          <ul class="range-container">
              <li><input type="text" name="minpricerange" value = "<?php echo $minpricerange; ?>" tabindex="5" class="input-text required-entry" placeholder="Min"></li>
              <li><input type="text" name="maxpricerange" value ="<?php echo $maxpricerange; ?>"  tabindex="6" class="input-text required-entry" placeholder="Max"></li>
          </ul>
      </td>
    </tr>
    <tr>
      <td class="col1 trojan">Tel:</td>
      <td class="col2"><input type="text" name="phone" value = "<?php echo $phone; ?>" tabindex="2" class="form-txtbox01"></td>
      <td class="col3 trojan">Metal:</td>
      <td class="col4 trojan"><select name="metal" tabindex="9" class="form-ddl01">
		  <option selected="" value="0">-select metal-</option>

          <option value="Gold" <?php if($metal=='Gold'){ ?> selected = "selected" <?php } ?> >Gold</option>
          <option value="Silver" <?php if($metal=='Silver'){ ?> selected = "selected" <?php } ?>>Silver</option>
          <option value="Other" <?php if($metal=='Other'){ ?> selected = "selected" <?php } ?>>Other</option>
          <option value="I don't know" <?php if($metal=="I don't know"){ ?> selected = "selected" <?php } ?>>I don't know</option>


          </select></td>
    </tr>
    <tr>
      <td class="col1 trojan"> Email<span class="required"></span> :</td>
      <td class="col2"><input type="text" name="email" value= "<?php echo $email;?>" tabindex="3" class="form-txtbox01 input-text required-entry"></td>
      <td class="col3 trojan">Stones:</td>
      <td class="col4 trojan"><select name="stones" tabindex="10" class="form-ddl01"><option selected="" value="None">-select stone-</option>

		  <option value="Diamonds" <?php if($stones=='Diamonds') { ?> selected = "selected" <?php } ?> >Diamonds</option>
          <option value="Gemstones" <?php if($stones=='Gemstones') { ?> selected = "selected" <?php } ?>>Gemstones</option>
          <option value="CZ's" <?php if($stones=="CZ's") { ?> selected = "selected" <?php } ?>>CZ's</option>
          <option value="Other" <?php if($stones=='Other') { ?> selected = "selected" <?php } ?>>Other</option>
          <option value="I don't know" <?php if($stones=="I don't know") { ?> selected = "selected" <?php } ?>>I don't know</option>


          </select></td>
    </tr>
   <tr style="height: 90px;">
      <td class="col1 trojan" style="text-align:left;">
                              Notes:
                          </td>
      <td colspan="3" class="col2" ><textarea name="notes" tabindex="4" class="form-txtarea01" cols="50" rows="4"><?php echo $notes; ?></textarea></td>
    </tr>
   <tr >
      <td class="col1 trojan">
                              Upload your design image:
                          </td>
      <td colspan="3" class="col2" ><input type="file" tabindex="11" name="customImage1" class="form-fileupload01"  id="customImage1"><br><input type="file" tabindex="12" name="customImage2" class="form-fileupload01"  id="customImage2"></td>
    </tr>
    <?php if (Mage::helper('studioforty9_recaptcha')->isAllowed("quotes_index_post3")):?>
     <tr><td></td>
         <td colspan="3" style="width:auto;">
                          <?php echo $this->getLayout()
                                                        ->createBlock('studioforty9_recaptcha/explicit')
                                                        ->setTemplate('studioforty9/recaptcha/explicit.phtml')
                                                        ->setAllow(true)
                                                        ->toHtml();
                                                ?>
         </td>
    </tr>
    <?php endif?>

    <tr><td></td><td colspan="3"><button value="Apply Coupon" class="button" title="Submit" type="submit"  tabindex="13" style="margin:10px 0 0 0px;"><span><span>Submit</span></span></button><input type="hidden" name="title" value="Custom Rings Request"></td></tr>
  </tbody></table></form><br><br>
				  </div>
  <div class="blks-flt">
   </div>

</div><!-- END OF DB -->


                          <!--COMPUNIX-->
                          <div style="display: block;" class="recentitems-blk"></div>
                        </div>
                  </div>
                  </div>
</div>
<script type="text/javascript">
//<![CDATA[
    var customizeJewelryForm = new VarienForm('customizeJewelryForm', true);
//]]>
</script>