<script type="text/javascript" src="<?php echo $this->getUrl()?>js/formValidate.js"></script>

<div class="cat-cnt">
<div class="content-ctrpanel-nsyd">
<div class="maincontainer">
<div class="maincontent-blk-designs">
  <div class="blks-flt jwellery">
<p class="p-lo-01 trojan">
We specialize in making exquisitely unique custom handcrafted jewelry pieces, from diamond engagement <br />
rings to custom hip hop pendants and diamond necklaces. Any design is possible and<br />
you can be the creator of your own one of a kind jewelry piece by following our simple process to<br />
bring your special designs to life.
</p><br>
<center>
      <h2 class="h2-lo-01">Choose your customized jewelry</h2>
    </center><br /></div>
  <div class="blks-flt">
    <div class="custom-img-blk">
      <div class="row-blk">
        <div class="col-blk"><a href="<?php echo $this->getBaseUrl();?>custom-pendants.aspx" title="Custom Pendants"><img  alt="Custom Pendants" src="<?php echo $this->getImageUrl()."custom-pendants.jpg";?>"><strong>Custom Pendants</strong></a></div>
        <div class="col-blk"><a href="<?php echo $this->getBaseUrl();?>custom-chains.aspx"  title="Custom Diamond Chains"><img  alt="Custom Diamond Chains" src="<?php echo $this->getImageUrl()."custom-diamond-chains.jpg";?>"><strong>Custom Chains</strong></a></div>
        <div class="col-blk"><a href="<?php echo $this->getBaseUrl();?>custom-earrings.aspx" title="Custom Gold Diamond Earrings"><img alt="Custom Gold Diamond Earrings" src="<?php echo $this->getImageUrl()."custom-gold-diamond-earrings.jpg";?>"><strong>Custom Earrings</strong></a></div>
      </div>
      <div class="row-blk">
        <div class="col-blk"><a href="<?php echo $this->getBaseUrl();?>custom-rings.aspx" title="Custom Gold Diamond Rings"><img alt="Custom Gold Diamond Rings" src="<?php echo $this->getImageUrl()."custom-gold-diamond-rings.jpg";?>"><strong>Custom Rings</strong></a></div>
        <div class="col-blk"><a href="<?php echo $this->getBaseUrl();?>custom-bracelets.aspx" title="Custom Diamond Bracelets"><img alt="Custom Diamond Bracelets" src="<?php echo $this->getImageUrl()."custom-diamond-bracelets.jpg";?>"><strong>Custom Bracelets</strong></a></div>
        <div class="col-blk"><a href="<?php echo $this->getBaseUrl();?>custom-watches.aspx" title="Custom Diamond Watches"><img alt="Custom Diamond Watches" src="<?php echo $this->getImageUrl()."custom-diamond-watches.jpg";?>"><strong>Custom Watches</strong></a></div>
      </div>
    </div>
  </div>


</div>
</div>
</div>
</div>               
                    
     
                    
             
                   
