<style>
  .messages {
    margin-top: 20px;
  }
  .block-compare {
    display: none;
  }
</style>
<script type="text/javascript" src="<?php echo $this->getUrl()?>js/formValidate.js"></script>
<?php
$message = explode('=',$_SERVER["REQUEST_URI"]);
?>
<?php
$name = "";
$minpricerange = "";
$maxpricerange = "";
$phone = "";
$width = "";
$height = "";
$email = "";
$metal = "";
$notes = "";
$title = "";
$stones = "";

$postData = isset($_SESSION["custom-earrings"]) ? $_SESSION["custom-earrings"] : array();
if(count($postData)>0)
{
	$name =  trim($postData["name"]);
	$minpricerange = trim($postData["minpricerange"]);
	$maxpricerange = trim($postData["maxpricerange"]);
	$phone = trim($postData["phone"]);
	$width = trim($postData["width"]);
	$height = trim($postData["height"]);
	$email = trim($postData["email"]);
	$metal = trim($postData["metal"]);
	$notes = trim($postData["notes"]);
	$title = trim($postData["title"]);
	$stones = trim($postData["stones"]);
	unset($_SESSION["custom-earrings"]);
}
?>
<div class="cat-cnt"><div class="content-ctrpanel-nsyd">
                      <div class="maincontainer">
<!-- READ FROM DB --><div class="maincontent-blk-designs">
  <div class="blks-flt earring">
    <center>
      <h2 class="h2-lo-01">
							Customized Earrings, <br />the Earrings You Design, we Make
						  </h2>
    </center><p class="p-lo-01 trojan">
						At ItsHot.com, we are known for offering the finest selection of custom diamond earrings.<br /> We know that nothing can be better than having a pair of custom earrings. Keeping your desire for stylish and attractive earrings, we manufacture custom pendants as per your specifications as well. The owner of the unique and gorgeous collection of custom jewelry, we offer an opportunity to all our priceless customers to design their own earrings.
						</p><

                      <center><img src="<?php echo $this->getSkinUrl('images/custom-made/custom-gold-earrings.png') ?>" alt="Custom Gold Earrings"></center>
                        <center>
      <h2 class="h2-lo-01" style="text-align:center;">Custom Gold Earrings</h2>
    </center><p class="p-lo-02 trojan">
						Wearing earrings gives immense happiness; however, wearing the unique one adds more glee to one's life. Now, your dream for getting custom gold earrings can become a reality as we have brought in exclusive offer for customers. By providing information like budget, metal and stones, our precious customers can get the best custom gold earrings and flaunt in style.
					  </p>
                        <center><img src="<?php echo $this->getSkinUrl('images/custom-made/custom-diamond-earrings.jpg') ?>" alt="Custom Diamond Earrings"></center>
                      <center style="display: block;">
      <h2 class="h2-lo-01" style="text-align:center;">
							We Shape Your Dream Earrings
						  </h2>
    </center><p class="p-lo-01 trojan">
						 At ItsHot.com, we have a team of efficient professionals who have years of experience and know what their customers want regarding earrings. All you need to do is to prepare a sketch of your jewelry and send the same to us. Our team of professionals makes a 3D design and sends it to you. However, only after receiving the modified sketch or approval from you, our professionals start working on the item.
You can also upload the sketch in our site to let us know what is in your mind. Depending on the complexity of the design, we take our time and bring your dream earrings in 1-3 weeks.

						</p></div>

  <div class="blks-flt"><p class="p-lo-01 trojan">
						  It would be best if you already have a sketch of what you would like us to make in this case please attach it to your e-mail. Also please include the following information about your custom earring: Your budget, Metal, Stones
    </p></div>
  <div class="blks-flt">
					  <form id="customizeJewelryForm" enctype="multipart/form-data" action="<?php echo $this->getUrl()?>quotes/index/post2/" method="post">
                   <span class="trojan"> Please e-mail the above information to <strong><a class="lnk-email01" href="mailto:sales@ItsHot.com">sales@ItsHot.com</a></strong> or just fill the form:</span>
                    <br><table cellspacing="0" cellpadding="0" class="tbl-formmemail">
    <tbody>
	<tr><td colspan="4"><span class="required trojan">Required Fields</span></td></tr>
	<tr>
      <td class="col1 trojan"> Name<span class="required"></span> :</td>
      <td class="col2 trojan"><input type="text" id="" name="name" value = "<?php echo $name; ?>" tabindex="1" class="form-txtbox01 input-text required-entry"></td>
      <td class="col3 trojan"> Price Range<span class="required"></span> :</td>
      <td class="col4 trojan">
          <ul class="range-container">
              <li><input type="text" name="minpricerange" value = "<?php echo $minpricerange; ?>" tabindex="5" class="input-text required-entry" placeholder="Min"></li>
              <li><input type="text" name="maxpricerange" value ="<?php echo $maxpricerange; ?>"  tabindex="6" class="input-text required-entry" placeholder="Max"></li>
          </ul>
      </td>
    </tr>
    <tr>
      <td class="col1">
                              Tel:
                          </td>
      <td class="col2 trojan" ><input type="text" name="phone"  value = "<?php echo $phone; ?>" tabindex="2" class="form-txtbox01"></td>
      <td class="col3 trojan">
                                      Metal:
                                  </td>
      <td class="col4 trojan"><select name="metal" tabindex="9" class="form-ddl01"><option selected="" value="0">-select metal-</option>
           <option value="Gold" <?php if($metal=='Gold'){ ?> selected = "selected" <?php } ?> >Gold</option>
          <option value="Silver" <?php if($metal=='Silver'){ ?> selected = "selected" <?php } ?>>Silver</option>
          <option value="Other" <?php if($metal=='Other'){ ?> selected = "selected" <?php } ?>>Other</option>
          <option value="I don't know" <?php if($metal=="I don't know"){ ?> selected = "selected" <?php } ?>>I don't know</option>


          </select></td>
    </tr>
    <tr>
      <td class="col1 trojan"> Email<span class="required"></span> :</td>
      <td class="col2 trojan"><input type="text" name="email" value = "<?php echo $email; ?>" tabindex="3" class="form-txtbox01 input-text required-entry"></td>
      <td class="col3 trojan">
                                      Stones:
                                  </td>
      <td class="col4"><select name="stones" tabindex="10" class="form-ddl01"><option selected="" value="None">-select stone-</option>
          <option value="Diamonds" <?php if($stones=='Diamonds') { ?> selected = "selected" <?php } ?> >Diamonds</option>
          <option value="Gemstones" <?php if($stones=='Gemstones') { ?> selected = "selected" <?php } ?>>Gemstones</option>
          <option value="CZ's" <?php if($stones=="CZ's") { ?> selected = "selected" <?php } ?>>CZ's</option>
          <option value="Other" <?php if($stones=='Other') { ?> selected = "selected" <?php } ?>>Other</option>
          <option value="I don't know" <?php if($stones=="I don't know") { ?> selected = "selected" <?php } ?>>I don't know</option>

          </select></td>
    </tr>
   <tr style="height: 90px;">
      <td class="col1 trojan">
                              Notes:
                          </td>
      <td colspan="3" class="col2" ><textarea name="notes" tabindex="4" class="form-txtarea01" cols="50" rows="4"><?php echo $notes; ?></textarea></td>
    </tr>
   <tr >
      <td class="col1 trojan">
                              Upload your design image:
                          </td>
      <td colspan="3" class="col2" ><input type="file" tabindex="11" name="customImage1" class="form-fileupload01"  id="customImage1"><br><input type="file" tabindex="12" name="customImage2" class="form-fileupload01"  id="customImage2"></td>
    </tr>
    <?php if (Mage::helper('studioforty9_recaptcha')->isAllowed("quotes_index_post2")):?>
    <tr>	<td></td>
        <td colspan="3" style="width:auto;">
             <?php echo $this->getLayout()
                                                        ->createBlock('studioforty9_recaptcha/explicit')
                                                        ->setTemplate('studioforty9/recaptcha/explicit.phtml')
                                                        ->setAllow(true)
                                                        ->toHtml();
                                                ?>
        </td>
    </tr>
    <?php endif?>

    <tr><td></td><td colspan="3"><button value="Apply Coupon" class="button" title="Submit" type="submit"  tabindex="13" style="margin:10px 0 0 0px;"><span><span>Submit</span></span></button><input type="hidden" name="title" value="Custom Earrings Request"></td></tr>
  </tbody></table></form><br><br>
				  </div>

</div>

                          <!--COMPUNIX-->
                          <div style="display: block;" class="recentitems-blk"></div>
                        </div>
                  </div>
                  </div>
<script type="text/javascript">
//<![CDATA[
    var customizeJewelryForm = new VarienForm('customizeJewelryForm', true);
//]]>
</script>