<script type="text/javascript" src="<?php echo $this->getUrl() ?>js/formValidate.js"></script>
<?php
$message = explode('=', $_SERVER["REQUEST_URI"]);
?>

<?php
$name          = "";
$minpricerange = "";
$maxpricerange = "";
$phone         = "";
$width         = "";
$height        = "";
$email         = "";
$metal         = "";
$notes         = "";
$title         = "";

$postData = isset($_SESSION["custom-jewelry"]) ? $_SESSION["custom-jewelry"] : array();
if (count($postData) > 0) {
    $name          = trim($postData["name"]);
    $minpricerange = trim($postData["minpricerange"]);
    $maxpricerange = trim($postData["maxpricerange"]);
    $phone         = trim($postData["phone"]);
    $width         = trim($postData["width"]);
    $height        = trim($postData["height"]);
    $email         = trim($postData["email"]);
    $metal         = trim($postData["metal"]);
    $notes         = trim($postData["notes"]);
    $title         = trim($postData["title"]);
    unset($_SESSION["custom-jewelry"]);
}
?>


<div class="cat-cnt">
    <div class="content-ctrpanel-nsyd">
        <div class="maincontainer">

            <!-- READ FROM DB -->
            <div class="maincontent-blk-designs">
                <div class="blks-flt jwellery">
                    <center>
                        <img alt="Custom Handcrafted Jewelry" src="<?php echo $this->getSkinUrl('images/custom-made/custom-handcrafted-jewelry.jpg') ?>">
                    </center>
                    <center>
                        <h2 class="h2-lo-01" style="margin-top:-5px;">
                            Unique Handcrafted Design Jewelry
                        </h2>
                    </center>
                    <p class="p-lo-01 trojan">
                        We specialize in making exquisitely unique custom made jewelry pieces, from diamond engagement rings to custom made hip hop pendants and diamond necklaces. Any design is possible and you can be the creator of your own one of a kind jewelry piece by following our simple process to bring your special designs to life.
                    </p>
                    <center>
                        <h2 class="h2-lo-01">Step 1: Choose your customized jewelry</h2>
                    </center>
                    <br/></div>
                <div class="blks-flt">
                    <div class="custom-img-blk">
                        <div class="row-blk">
                            <div class="col-blk">
                                <a href="<?php echo $this->getBaseUrl(); ?>jewelry/custom-made/pendants" title="Custom Pendants"><img alt="Custom Pendants" src="<?php echo $this->getSkinUrl('images/custom-made/custom-pendants.jpg') ?>"><strong>Custom Pendants</strong></a>
                            </div>
                            <div class="col-blk">
                                <a href="<?php echo $this->getBaseUrl(); ?>jewelry/custom-made/chains" title="Custom Diamond Chains"><img alt="Custom Diamond Chains" src="<?php echo $this->getSkinUrl('images/custom-made/custom-diamond-chains.jpg') ?>"><strong>Custom Chains</strong></a>
                            </div>
                            <div class="col-blk">
                                <a href="<?php echo $this->getBaseUrl(); ?>jewelry/custom-made/earrings" title="Custom Gold Diamond Earrings"><img alt="Custom Gold Diamond Earrings" src="<?php echo $this->getSkinUrl('images/custom-made/custom-gold-diamond-earrings.jpg') ?>"><strong>Custom Earrings</strong></a>
                            </div>
                        </div>
                        <div class="row-blk">
                            <div class="col-blk">
                                <a href="<?php echo $this->getBaseUrl(); ?>jewelry/custom-made/rings" title="Custom Gold Diamond Rings"><img alt="Custom Gold Diamond Rings" src="<?php echo $this->getSkinUrl('images/custom-made/custom-gold-diamond-rings.jpg') ?>"><strong>Custom Rings</strong></a>
                            </div>
                            <div class="col-blk">
                                <a href="<?php echo $this->getBaseUrl(); ?>jewelry/custom-made/bracelets" title="Custom Diamond Bracelets"><img alt="Custom Diamond Bracelets" src="<?php echo $this->getSkinUrl('images/custom-made/custom-diamond-bracelets.jpg') ?>"><strong>Custom Bracelets</strong></a>
                            </div>
                            <div class="col-blk">
                                <a href="<?php echo $this->getBaseUrl(); ?>jewelry/custom-made/watches" title="Custom Diamond Watches"><img alt="Custom Diamond Watches" src="<?php echo $this->getSkinUrl('images/custom-made/custom-diamond-watches.jpg') ?>"><strong>Custom Watches</strong></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blks-flt">
                    <p class="p-lo-01 trojan">
                        Please email your design with a list of details below to:<br/>
                        <a class="lnk-email01" href="mailto:sales@itshot.com">sales@ItsHot.com</a>. You can also call one of our customer service representatives and
                        they will explain the custom design process in detail. We work with you throughout
                        the design/manufacturing process to meet and exceed your expectations on every level.
                        Our jewelry artists will also hand select and perfectly match diamonds and gemstones for
                        your custom jewelry piece whether it is a diamond necklace, a custom designed
                        bracelet, a unique diamond engagement ring, or a dazzling one of a kind custom made diamond pendant.
                    </p>
                    <p class="p-lo-01 trojan">
                        It would be best if you already have a sketch and will be able to let us know how your custom jewelry should look like. In this case please attach it to your email. Also please include the following information about your custom jewelry: Your budget, Size (width and height), Metal, Stones, Diamond Shape</p>
                    <br>
                </div>
                <div class="blks-flt">
                    <form id="customizeJewelryForm" enctype="multipart/form-data" action="<?php echo $this->getUrl() ?>quotes/index/post4/" method="post">
                        <span class="trojan">Please email the above information to <a class="lnk-email01" href="mailto:sales@ItsHot.com">sales@ItsHot.com</a> or just fill the form:</span>
                        <br>
                        <table cellspacing="0" cellpadding="0" class="tbl-formmemail">
                            <tbody>
                                <tr>
                                    <td colspan="4"><span class="required trojan">Required Fields</span></td>
                                </tr>
                                <tr>
                                    <td class="col1 trojan"><span class="required"></span> Name:</td>
                                    <td class="col2 trojan">
                                        <input type="text" id="" name="name" value="<?php echo $name; ?>" tabindex="1" class="form-txtbox01 input-text required-entry">
                                    </td>
                                    <td class="col3 trojan"><span class="required"></span> Price Range:</td>
                                    <td class="col4 trojan">
                                        <ul class="range-container">
                                            <li><input type="text" name="minpricerange" value = "<?php echo $minpricerange; ?>" tabindex="5" class="input-text required-entry" placeholder="Min"></li>
                                            <li><input type="text" name="maxpricerange" value ="<?php echo $maxpricerange; ?>"  tabindex="6" class="input-text required-entry" placeholder="Max"></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col1 trojan">
                                        <span class="required"></span> Tel:
                                    </td>
                                    <td class="col2 trojan">
                                        <input type="text" name="phone" value="<?php echo $phone; ?>" tabindex="2" class="form-txtbox01 required-entry">
                                    </td>
                                    <td class="col3 trojan">
                                        Size:<br><span class="spn-smallfonts01">
                                            (width and height)
                                        </span></td>
                                    <td class="col4 trojan">
                                        <input type="text" name="width" value="<?php echo $width; ?>" tabindex="7" class="form-txtbox02">&nbsp;&nbsp;
                                        <input type="text" name="height" value="<?php echo $height; ?>" tabindex="8" class="form-txtbox02">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col1 trojan"><span class="required"></span> Email:</td>
                                    <td class="col2 trojan">
                                        <input type="text" name="email" tabindex="3" value="<?php echo $email; ?>" class="form-txtbox01 input-text required-entry">
                                    </td>
                                    <td class="col3 trojan">
                                        Metal:
                                    </td>
                                    <td class="col4 trojan"><select name="metal" tabindex="9" class="form-ddl01">
                                            <option selected="" value="None">-select metal-</option>
                                            <option value="Gold" <?php if ($metal == 'Gold') { ?> selected="selected" <?php } ?> >Gold</option>
                                            <option value="Silver" <?php if ($metal == 'Silver') { ?> selected="selected" <?php } ?>>Silver</option>
                                            <option value="Other" <?php if ($metal == 'Other') { ?> selected="selected" <?php } ?>>Other</option>
                                            <option value="I don't know" <?php if ($metal == "I don't know") { ?> selected="selected" <?php } ?>>I don't know</option>
                                        </select></td>
                                </tr>
                                <tr style="height: 90px;">
                                    <td class="col1 trojan" style="text-align:left;">
                                        Notes:
                                    </td>
                                    <td colspan="3" class="col2">
                                        <textarea name="notes" tabindex="4" class="form-txtarea01" cols="50" rows="4"><?php echo $notes; ?></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col1 trojan">Upload your design image:</td>
                                    <td colspan="3" class="col2">
                                        <input type="file" tabindex="11" name="customImage1" class="form-fileupload01" id="customImage1"><br>
                                        <input type="file" tabindex="12" name="customImage2" class="form-fileupload01" id="customImage2">
                                    </td>
                                </tr>
                                <?php if (Mage::helper('studioforty9_recaptcha')->isAllowed("quotes_index_post4")):?>
                                <tr>
                                    <td></td>
                                    <td colspan="3" style="width:auto;">
                                        <?php echo $this->getLayout()
                                                        ->createBlock('studioforty9_recaptcha/explicit')
                                                        ->setTemplate('studioforty9/recaptcha/explicit.phtml')
                                                        ->setAllow(true)
                                                        ->toHtml();
                                                ?>
                                    </td>
                                </tr>
                                <?php endif?>

                                <tr>
                                    <td></td>
                                    <td colspan="3">
                                        <button class="button" title="Submit" type="button" tabindex="13" style="margin:10px 0 0 0px;" onclick="submitCustomizeJewelryForm()">
                                            <span><span>Submit</span></span></button>
                                        <input type="hidden" name="title" value="Custom Jewelry Request">
                                        <input type="hidden" name="url" value="Chains_Customization"></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
//<![CDATA[
var isSubmitedCustomizeJewelryForm = false;
function submitCustomizeJewelryForm() {
        var customizeJewelryForm = new VarienForm('customizeJewelryForm', true);
        if (document.readyState === 'complete' && customizeJewelryForm.validator.validate() && !isSubmitedCustomizeJewelryForm) {
            isSubmitedCustomizeJewelryForm = true;
            customizeJewelryForm.submit();
        }
}
//]]>
</script>