<script type="text/javascript" src="<?php echo $this->getUrl() ?>js/formValidate.js"></script>
<?php
$message = explode('=', $_SERVER["REQUEST_URI"]);
?>

<?php
$name          = "";
$minpricerange = "";
$maxpricerange = "";
$phone         = "";
$width         = "";
$height        = "";
$email         = "";
$metal         = "";
$notes         = "";
$title         = "";

$postData = isset($_SESSION["custom-jewelry"]) ? $_SESSION["custom-jewelry"] : array();
if (count($postData) > 0) {
    $name          = trim($postData["name"]);
    $minpricerange = trim($postData["minpricerange"]);
    $maxpricerange = trim($postData["maxpricerange"]);
    $phone         = trim($postData["phone"]);
    $width         = trim($postData["width"]);
    $height        = trim($postData["height"]);
    $email         = trim($postData["email"]);
    $metal         = trim($postData["metal"]);
    $notes         = trim($postData["notes"]);
    $title         = trim($postData["title"]);
    unset($_SESSION["custom-jewelry"]);
}
?>


<div class="cat-cnt">
    <div class="content-ctrpanel-nsyd">
        <div class="maincontainer">

            <!-- READ FROM DB -->
            <div class="maincontent-blk-designs">
                <div class="blks-flt jwellery">
                    <p class="p-lo-01 trojan">
                        We specialize in making exquisitely unique custom handcrafted jewelry pieces, from diamond engagement
                        rings to custom hip hop pendants and diamond necklaces. Any design is possible and
                        you can be the creator of your own one of a kind jewelry piece by following our simple process to
                        bring your special designs to life.
                    </p>
                    <center>
                        <h2 class="h2-lo-01">Step 1: Choose your customized jewelry</h2>
                    </center>
                    <br/></div>
                <div class="blks-flt">
                    <div class="custom-img-blk">
                        <div class="row-blk">
                            <div class="col-blk">
                                <a href="<?php echo $this->getBaseUrl(); ?>jewelry/custom-made/pendants" title="Custom Pendants"><img alt="Custom Pendants" src="<?php echo $this->getSkinUrl('images/custom-made/custom-pendants.jpg') ?>"><strong>Custom Pendants</strong></a>
                            </div>
                            <div class="col-blk">
                                <a href="<?php echo $this->getBaseUrl(); ?>jewelry/custom-made/chains" title="Custom Diamond Chains"><img alt="Custom Diamond Chains" src="<?php echo $this->getSkinUrl('images/custom-made/custom-diamond-chains.jpg') ?>"><strong>Custom Chains</strong></a>
                            </div>
                            <div class="col-blk">
                                <a href="<?php echo $this->getBaseUrl(); ?>jewelry/custom-made/earrings" title="Custom Gold Diamond Earrings"><img alt="Custom Gold Diamond Earrings" src="<?php echo $this->getSkinUrl('images/custom-made/custom-gold-diamond-earrings.jpg') ?>"><strong>Custom Earrings</strong></a>
                            </div>
                        </div>
                        <div class="row-blk">
                            <div class="col-blk">
                                <a href="<?php echo $this->getBaseUrl(); ?>jewelry/custom-made/rings" title="Custom Gold Diamond Rings"><img alt="Custom Gold Diamond Rings" src="<?php echo $this->getSkinUrl('images/custom-made/custom-gold-diamond-rings.jpg') ?>"><strong>Custom Rings</strong></a>
                            </div>
                            <div class="col-blk">
                                <a href="<?php echo $this->getBaseUrl(); ?>jewelry/custom-made/bracelets" title="Custom Diamond Bracelets"><img alt="Custom Diamond Bracelets" src="<?php echo $this->getSkinUrl('images/custom-made/custom-diamond-bracelets.jpg') ?>"><strong>Custom Bracelets</strong></a>
                            </div>
                            <div class="col-blk">
                                <a href="<?php echo $this->getBaseUrl(); ?>jewelry/custom-made/watches" title="Custom Diamond Watches"><img alt="Custom Diamond Watches" src="<?php echo $this->getSkinUrl('images/custom-made/custom-diamond-watches.jpg') ?>"><strong>Custom Watches</strong></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





