<!--<link rel="stylesheet" href="<?php //echo $this->getSkinUrl('css/layeredNav/jquery-ui-1.0.css') ?>" /> -->
<?php
$lncond = 0;
$current_cat = Mage::registry('current_category');
$layoutdata = (is_object($current_cat) ? $current_cat->getItshotlayout() : '');
$cueerntlevel = (is_object($current_cat) ? $current_cat->getLevel() : '');
if($layoutdata!='') 
{
	$layoutdataarray = explode(',', $layoutdata);
	if($cueerntlevel==2 && !in_array('238',$layoutdataarray))
	{
		$lncond = 1;
	}
}
else
{
	if($cueerntlevel==2)
	{
		$lncond = 1;
	}
}

if($lncond!=1):
?>
<!-- <link rel="stylesheet" href="<?php //echo $this->getSkinUrl('css/layeredNav/jquery-ui-1.0.css') ?>" /> -->
<?php 
// code commneted by Ankush on 23-02-2016
/*
<div class="block block-layered-nav" id="layered-nav-search">
	 <div id="shoppingoptions" class="block-content">
		 
		<?php						
					
			//create connection object
			$conn = Mage::getSingleton('core/resource')->getConnection('core_write');
			$key = trim($_GET['q']);
			$result = $conn->query("SELECT * FROM itshot_keywords where find_in_set('".addslashes($key)."',keywords)");
			$data=$result->fetch();
			$cat =trim($data['category'],",");
			
			if (Mage::helper('enterprise_search')->isThirdPartSearchEngine() && $cat=='') {
			require_once 'Zend/Search/Lucene/Analysis/Analyzer/Standard/English.php';
			require_once ('lib/Apache/Solr/Service.php');
			$solrHost = Mage::getStoreConfig('catalog/search/solr_server_hostname',Mage::app()->getStore());
			$solrPort = Mage::getStoreConfig('catalog/search/solr_server_port',Mage::app()->getStore());
			$solrPath = Mage::getStoreConfig('catalog/search/solr_server_path',Mage::app()->getStore());
			$solr = new Apache_Solr_Service($solrHost,$solrPort, '/'.$solrPath);
			//$solr = new Apache_Solr_Service('10.85.110.112','8983', '/solr');
			
			$keyData = Mage::registry('current_category')->getId();
	
			$params = array("qt"=>"magento_en","fq"=>"(visibility:3 OR visibility:4) AND store_id:1 AND in_stock:true");
			$searchParams['qt'] =  'magento_en';
			$searchParams['facet'] =  'on';
			$searchParams['fq'][] =  'fq: (visibility:3 OR visibility:4) AND store_id:1 AND in_stock:true';
			//---------------Start-----/
				
		if(isset($_REQUEST['brand']) && $_REQUEST['brand']!='')
		{
			$brand=trim($_REQUEST['brand']);//die;
			$brand = explode(',', $brand);
			if(count($brand)==1)
			{
				//$searchParams['fq'][] =  'attr_select_brand:'.$brand[0];
				$searchParamss['fq1'][] =  '{!tag=br}attr_select_brand:'.$brand[0];
				$searchParams['facet.field'][] =  '{!ex=br}attr_select_brand';
				
			}
			else
			{
				$str = '';
				for($i=0;$i<count($brand);$i++)
				{
					$str.= 'attr_select_brand:'.$brand[$i].' OR ';
				}
				$strBrand = substr($str,0,-3);
				//$searchParams['fq'][] =  'attr_select_brand: ('.$strBrand.')';
				$searchParamss['fq1'][] =  '{!tag=br}attr_select_brand: ('.$strBrand.')';
				$searchParams['facet.field'][] =  '{!ex=br}attr_select_brand';
			}
		}
		else
		{
			$searchParams['facet.field'][] =  'attr_select_brand';
		}
		
		if(isset($_REQUEST['met']) && $_REQUEST['met']!='')
		{
			$met=trim($_REQUEST['met']);//die;
			$met = explode(',', $met);
			if(count($met)==1)
			{
				$metal = findMetal($met[0]);
				//$searchParams['fq'][] =  'attr_multi_met:'.$metal;
				$searchParamss['fq1'][] =  '{!tag=met}attr_multi_met:'.$metal;
				$searchParams['facet.field'][] =  '{!ex=met}attr_multi_met';
				
			}
			else
			{
				$str = '';
				for($i=0;$i<count($met);$i++)
				{
					$metal ='';
					$metal = findMetal($met[$i]);
					$strm.= 'attr_multi_met:'.$metal.' OR ';
				}
				$strMet = substr($strm,0,-3);
				//$searchParams['fq'][] =  'attr_multi_met: ('.$strMet.')';
				$searchParamss['fq1'][] =  '{!tag=met}attr_multi_met: ('.$strMet.')';
				//fq={!tag=br}attr_select_brand:91&fq={!tag=met}attr_multi_met:14K
				$searchParams['facet.field'][] =  '{!ex=met}attr_multi_met';
				
			}
		}
		else
		{
			$searchParams['facet.field'][] =  'attr_multi_met';
		}
		//Diamond Quality SOLR 
				
		if(isset($_REQUEST['average_clarity_for_filter']) && $_REQUEST['average_clarity_for_filter']!='')
		{
			 $clearity = trim($_REQUEST['average_clarity_for_filter']);//die;
			 $clearity = explode(',', $clearity);
			 
			if(count($clearity)==1)
			{
				//$searchParams['fq'][] =  'attr_select_average_clarity_for_filter:'.$clearity[0];
				$searchParamss['fq1'][] =  '{!tag=qua}attr_select_average_clarity_for_filter:'.$clearity[0];
				$searchParams['facet.field'][] =  '{!ex=qua}attr_select_average_clarity_for_filter';
			}
			else
			{
				$str = '';
				for($i=0;$i<count($clearity);$i++)
				{
					$str.= 'attr_select_average_clarity_for_filter:'.$clearity[$i].' OR ';
				}
				$strClearity = substr($str,0,-3);
				//$searchParams['fq'][] =  'attr_select_average_clarity_for_filter: ('.$strClearity.')';
				$searchParamss['fq1'][] =  '{!tag=qua}attr_select_average_clarity_for_filter: ('.$strClearity.')';
				$searchParams['facet.field'][] =  '{!ex=qua}attr_select_average_clarity_for_filter';
				
			}
		}
		else
		{
			$searchParams['facet.field'][]=  'attr_select_average_clarity_for_filter';
		}
				
		//Gender for filter 
		
		if(isset($_REQUEST['gender_for_filter']) && $_REQUEST['gender_for_filter']!='')
		{
			 $gender = trim($_REQUEST['gender_for_filter']);//die;
			 $gender = explode(',', $gender);
			 
			if(count($gender)==1)
			{
				//$searchParams['fq'][] =  'attr_select_gender_for_filter:'.$gender[0];
				$searchParamss['fq1'][] =  '{!tag=gen}attr_select_gender_for_filter:'.$gender[0];
				$searchParams['facet.field'][] =  '{!ex=gen}attr_select_gender_for_filter';
			}
			else
			{
				$str = '';
				for($i=0;$i<count($gender);$i++)
				{
					$str.= 'attr_select_gender_for_filter:'.$gender[$i].' OR ';
				}
				$strClearity = substr($str,0,-3);
				//$searchParams['fq'][] =  'attr_select_gender_for_filter: ('.$strClearity.')';
				$searchParamss['fq1'][] =  '{!tag=gen}attr_select_gender_for_filter: ('.$strClearity.')';
				$searchParams['facet.field'][] =  '{!ex=gen}attr_select_gender_for_filter';
				
			}
		}
		else
		{
			$searchParams['facet.field'][] =  'attr_select_gender_for_filter';
		}
	   
	   //Plating watch color for filter 
	   
		
	  if(isset($_REQUEST['watch_color']) && $_REQUEST['watch_color']!='')
		{
			 $plating = trim($_REQUEST['watch_color']);//die;
			 $plating = explode(',', $plating);
			 
			if(count($plating)==1)
			{
				//$searchParams['fq'][] =  'attr_select_gender_for_filter:'.$gender[0];
				$searchParamss['fq1'][] =  '{!tag=gen}attr_select_watch_color:'.$plating[0];
				$searchParams['facet.field'][] =  '{!ex=gen}attr_select_watch_color';
			}
			else
			{
				$str = '';
				for($i=0;$i<count($plating);$i++)
				{
					$str.= 'attr_select_watch_color:'.$plating[$i].' OR ';
				}
				$strClearity = substr($str,0,-3);
				//$searchParams['fq'][] =  'attr_select_gender_for_filter: ('.$strClearity.')';
				$searchParamss['fq1'][] =  '{!tag=gen}attr_select_watch_color: ('.$strClearity.')';
				$searchParams['facet.field'][] =  '{!ex=gen}attr_select_watch_color';
				
			}
		}
		else
		{
			$searchParams['facet.field'][] =  'attr_select_watch_color';
		}
		
		
		if (isset($_REQUEST['width_for_filter']) && $_REQUEST['width_for_filter']!='') {
			
			$widthRange = str_replace(',',' TO ',$_REQUEST['width_for_filter']);
            $searchParams['fq'][] =  'attr_decimal_width_for_filter:['.$widthRange.']';
		}
        
        if (isset($_REQUEST['carat_weight']) && $_REQUEST['carat_weight']!='') {
			
			$widthRange = str_replace(',',' TO ',$_REQUEST['carat_weight']);
            //$searchParams['fq'][] =  'attr_decimal_carat_weight:['.$widthRange.']';
			$searchParamss['fq1'][] =  '{!tag=carat}attr_decimal_carat_weight: ['.$widthRange.']';
			$searchParams['facet.field'][] =  '{!ex=carat}attr_decimal_carat_weight';
		}
		else
		{
			$searchParams['facet.field'][] =  'attr_decimal_carat_weight';
		}
		
		if (isset($_REQUEST['price']) && $_REQUEST['price']!='') {
			
			$priceRange = str_replace(',',' TO ',$_REQUEST['price']);
            $searchParams['fq'][] =  'price_0_1:['.$priceRange.']';
		}
		//-End--------------------------
		
       // $searchParams['fq'] = implode(' AND ', $searchParams['fq']);//.$fq1;
		$searchParams['fq'] = array_merge($searchParams['fq'],$searchParamss['fq1']);
		//$searchParams['facet.field'] = implode(' &facet.field= ', $searchParams['facet.field']);
		$searchParams['facet.mincount'] = 1;	
		$searchParams['facet.limit'] = -1;	
		$objSuggestion = new Enterprise_Search_Model_Adapter_HttpStream();
		function _facetObjectToArray($object)
		{
			if(!is_object($object) && !is_array($object)){
				return $object;
			}

			if(is_object($object)){
				$object = get_object_vars($object);
			}

			$res = array();
			foreach ($object['facet_fields'] as $attr => $val) {
				foreach ((array)$val as $key => $value) {
					$res[$attr][$key] = $value;
				}
			}

			foreach ($object['facet_queries'] as $attr => $val) {
				if (preg_match('/\(categories:(\d+) OR show_in_categories\:\d+\)/', $attr, $matches)) {
					$res['categories'][$matches[1]]    = $val; 
				} else {
					$attrArray = explode(':', $attr);
					$res[$attrArray[0]][$attrArray[1]] = $val;
				}
			}
			//print_r($res);
			return $res;
		}
			if($solr->ping())
			{
				$searchParams['q.op'] = 'OR';
				$keyData='categories:'.$keyData.' OR show_in_categories:'.$keyData;
				if(trim($keyData)!='')
				{
					$response = $solr->search($keyData,0,1,$searchParams);
					//echo"<pre>";
					//print_r($response);//die;
					$num = (int) $response->response->numFound;//die;
					$num1 = _facetObjectToArray($response->facet_counts);//die;
					$docs = $response->response->docs;
					
				}
				
			}
						
			if(isset($num1) and count($num1)>0)
			{
				
			?>
			  <p class="block-subtitle">Narrow Your Results</p>
		      <dl id="narrow-by-list">
			<?php
					foreach($num1 as $field => $value)
					{	
					//print_r($num1);
						if($field == 'attr_select_brand')
						{
							foreach ($value as $k => $v)
							{
								if(!in_array($k,$brandArry))
								{
									$brandArry[] = $k;
									$brandVal[$k] = findBrand($k);
								}
							}
						}
						if($field == 'attr_multi_met')
						{
							foreach ($value as $k => $v)
							{
								if($k=='10K' || $k=='14K' || $k=='18K' || $k=='Platinum' || $k=='P' || $k=='Sterling' || $k=='Stainless')
									{
										$met[] = $k;
									}
								
							}
						}
						
						if($field == 'attr_select_gender_for_filter')
						{
							foreach ($value as $k => $v)
							{
								if(!in_array($k,$genderArry))
								{
									$genderArry[] = $k;
									$genderVal[$k] = findGender($k);
								}
							}
						}
						if($field == 'attr_select_watch_color')
						{
							foreach ($value as $k => $v)
							{
								if(!in_array($k,$platingArry))
								{
									$platingArry[] = $k;
									$platingAVal[$k] = findPlating($k);
								}
							}
						}
						if($field == 'attr_decimal_size_for_filter')
							{
								foreach ($value as $k => $v)
								{
									if(!in_array($k,$size))
									{
										$size[] = $k;
									}
								}
								
							}
							if($field == 'attr_select_average_clarity_for_filter')
							{
								foreach ($value as $k => $v)
								{
									if(!in_array($k,$clarity))
									{
										$clarity[] = $k;
										$clarityVal[$k] = findClarity($k);
									}
								}
							}
							if($field == 'attr_decimal_width_for_filter')
							{
								foreach ($value as $k => $v)
								{
									if(!in_array($k,$width))
									{
										$width[] = $k;
									}
								}
							}
							if($field == 'attr_decimal_carat_weight')
							{
								foreach ($value as $k => $v)
								{
									if(!in_array($k,$weight))
									{
										$weight[] = $k;
									}
								}
							}
							if($field == 'attr_decimal_diamond_weight_for_filter')
							{
								foreach ($value as $k => $v)
								{
									if(!in_array($k,$dweight))
									{
										$dweight[] = $k;
									}
								}
							}
							
					}

			}

			$arrySort = array_flip($brandVal);
			ksort($arrySort);
			$genderSort = array_flip($genderVal);
			//print_r($genderSort);
			ksort($genderSort);
			
		    $platingSort = array_flip($platingAVal);
			//print_r($platingSort);
			ksort($platingSort);
			
			
			$claritySort = array_flip($clarityVal);
			ksort($claritySort);
			//echo"<pre/>";
			//print_r($claritySort);
			$minSize = min($size);
			$maxSize = max($size);
			$minWidth = min($width);
			$maxWidth = max($width);
			$minWeight = min($weight);
			$maxWeight = max($weight);
			$minDiamondWeight = min($weight);
			$maxDiamondWeight = max($weight);
			//print_r($arrySort);
			$vals = array_flip($met);
			//ksort($vals);
			?>
			
			<?php
			if(count($num)>0)
			{
			if(count($vals)>1)
			{ ?>
			<span id="metalClearAll" style="display:none;float:right;padding-top:8px;"><a href = "javascript://" onClick= "resetAll('brandFilter','metalClearAll')" >Clear All</a></span>
			<div id="metal">
			<h2 class="menu_head_pro">Metal</h2>			
            <ul class="menu_body_pro">
				<?php
						ksort($vals);
												
							foreach ($vals as $k=>$v)
							{
		                        $key = '';
								$value = '';								
								$arrayKey 	= array('10k'=>'10K Gold','10K'=>'10K Gold','14K'=>'14K Gold','18K'=>'18K Gold','Platinum'=>'Platinum','P'=>'Platinum','Sterling'=>'Sterling Silver','Stainless'=>'Stainless Steel');
								$arrayValue	= array('10k'=>'10K Gold','10K'=>'51','14K'=>'52','18K'=>'53','Platinum'=>'45','P'=>'45','Sterling'=>'49','Stainless'=>'234');
								$key 		= $arrayKey[$k];
								$value 		= $arrayValue[$k];
								if($key!='')
								{	
									$get = (string) $_GET['met'] ;
							
									$value1 = (string)$value;	
								
									$pos =  strpos($get,$value1);
									
									 if($pos === false){
										 
									echo '<li><input value='.$value.' class ="metal" onclick=filterByMetal("'.Mage::helper('core/url')->getCurrentUrl().'") type="checkbox" name="brandfilter" id="brandFilter"/>
											'.$key.'
											</li>';
									  }else{
										  
										  echo '<li><input value='.$value.' class ="metal" onclick=filterByMetal("'.Mage::helper('core/url')->getCurrentUrl().'") type="checkbox" checked="checked" name="brandfilter" id="brandFilter"/>
											'.$key.'</li>';
									  
									  }
								}							  
								
							}
						
							
				?>
			 </ul>
			 </div>
			 <?php } } ?> 
			<?php
			if(count($num)>0)
			{
			$diamondClearityArraySolr = array('I'=> '354,336,326,359,355',
														'SI' => '333,313,336,360,312,326,328,335',
														'VS' => '315,313,360,311,312', 
														'AAA' => '345,311,312,328,326,355') ;
 										// For live  
										
										if(array_key_exists('VVS2',$claritySort)){
											$vsArray = array('VVS' => '310');
									    $diamondClearityArraySolr   =  array_merge($diamondClearityArraySolr,$vsArray);
										}
										//For live 
										
										if(array_key_exists('AA',$claritySort)){
										$aaArray = array('AA' => '343,342,359');
									    $diamondClearityArraySolr   =  array_merge($diamondClearityArraySolr,$aaArray);
										}	 
													
												
												 
					$str= '';
					$str1 = '';
					if (!array_key_exists('I', $claritySort)) 
					{
						unset($diamondClearityArraySolr['I']);
					}
					if (!array_key_exists('SI', $claritySort)) 
					{
						unset($diamondClearityArraySolr['SI']);
					}
					if (!array_key_exists('VS', $claritySort)) 
					{
						unset($diamondClearityArraySolr['VS']);
					}
					if (!array_key_exists('VVS', $claritySort)) 
					{
						unset($diamondClearityArraySolr['VVS']);
					}
					if (!array_key_exists('AAA', $claritySort)) 
					{
						unset($diamondClearityArraySolr['AAA']);
					}
					if (!array_key_exists('AA', $claritySort)) 
					{
						unset($diamondClearityArraySolr['AA']);
					}
					if (!array_key_exists('VVS2', $claritySort)) 
					{
						unset($diamondClearityArraySolr['VVS2']);
					}
			if(count($diamondClearityArraySolr)>1)
			{ ?> 
			<span id="cleartyClearAll" style="display:none;float:right;padding-top:8px;"><a href = "javascript://" onClick= "resetAll('clearityfilter','cleartyClearAll')" >Clear All</a></span>
			<div id="diamond">
			<h2 class="menu_head_pro">Diamond Quality</h2>
           	<ul class="menu_body_pro">			
					<?php		
										 
					 foreach($diamondClearityArraySolr as $key => $value)
					 {		$append='';
							if(in_array($key,array('I','SI','VS')))
							{	
								$append = ' (White)';
							}	
							else
							{
								$append = ' (Black)';
							}
							$get = (string) $_GET['average_clarity_for_filter'] ;
						
							$value1 = (string)$value;	
							
							$pos =  strpos($get,$value1);
								
							 if($pos === false){
								 
							 $str.= '<li><input value='.$value.' class ="clearity" onclick=filterByClearity("'.Mage::helper('core/url')->getCurrentUrl().'") type="checkbox" name="clearityfilter" id="clearityfilter"/>
												'.$key.$append.'</li>';
							  }else{
								  
								   $str.= '<li><input checked ="checked" value='.$value.' class ="clearity" onclick=filterByClearity("'.Mage::helper('core/url')->getCurrentUrl().'") type="checkbox" name="clearityfilter" id="clearityfilter"/>
												'.$key.$append.'</li>';
							  
							  }          
										
							  
					}
					echo $str;
            
					        
				?>
			</ul>
			</div>
			<?php } } ?> 
			<?php if(count($num)>0)
			{ if(count($genderSort)>1) { ?> 
			<span id="genderClearAll" style="display:none;float:right;padding-top:8px;"><a href = "javascript://" onClick= "resetAll('genderId','genderClearAll')" >Clear All</a></span>
			<div id="gender">
			<h2 class="menu_head_pro">Gender</h2>
           <ul class="menu_body_pro">
				<?php
				//print_r($genderSort);
				$genderS = array("Men's"=>306,"Women's"=>304,"Unisex"=>305);
				$str= '';
				$str1= '';
				foreach($genderSort as $value=>$key) 
				{
						
							
					$get = (string) $_GET['gender_for_filter'] ;						
					$key1 = (string)$key ;						
					$pos =  strpos($get,$key1);
							 
					if($pos === false){
						
					        $str.= '<li><input  value='.$key.' class ="gender" onclick=filterByGender("'.Mage::helper('core/url')->getCurrentUrl().'") type="checkbox" name="clearityfilter" id="genderId"/>
								'.$value.'</li>';
                        
					}else{
						
						        $str.= '<li><input  checked= "checked" value='.$key.' class ="gender" onclick=filterByGender("'.Mage::helper('core/url')->getCurrentUrl().'") type="checkbox" name="clearityfilter" id="genderId"/>
								'.$value.'</li>';
					
					}
                    
                }         
				echo $str;
				?>
			</ul>
			</div>
			 <?php } } ?> 
			 
			<?php if(count($num)>0)
			{ if(count($platingSort)>1) { ?> 
			<span id="platingClearAll" style="display:none;float:right;padding-top:8px;"><a href = "javascript://" onClick= "resetAll('platingId','platingClearAll')" >Clear All</a></span>
			<div id="plating">
			<h2 class="menu_head_pro">Plating</h2>
            <ul class="menu_body_pro">
				<?php
				//print_r($platingSort);
				//$platingS = array("Men's"=>306,"Women's"=>304,"Unisex"=>305);
				$str= '';
				$str1= '';
				foreach($platingSort as $value=>$key) 
				{
						
							
					$get = (string) $_GET['watch_color'];						
					$key1 = (string)$key ;						
					$pos =  strpos($get,$key1);
							 
					if($pos === false){
						
					        $str.= '<li><input  value='.$key.' class ="plating" onclick=filterByPlating("'.Mage::helper('core/url')->getCurrentUrl().'") type="checkbox" name="clearityfilter" id="platingId"/>
								'.$value.'</li>';
                        
					}else{
						
						        $str.= '<li><input  checked= "checked" value='.$key.' class ="plating" onclick=filterByPlating("'.Mage::helper('core/url')->getCurrentUrl().'") type="checkbox" name="clearityfilter" id="platingId"/>
								'.$value.'</li>';
					
					}
                    
                }         
				echo $str;
				?>
			</ul>
			</div>
			 <?php } } ?> 
			 			
			<?php if(count($num)>0)
			{ if($maxDiamondWeight!=$minDiamondWeight && $maxDiamondWeight>0) { ?> 
			
			<h2>Total Diamond Weight</h2>				
			<ul>
				<ol style="width:100%; display:none"> 
					<li style="float:left; margin-right:5px; font-weight:bold;">Range:</li>
					<li id="diamond_weight_range"><?php echo number_format($minDiamondWeight,2); ?> - <?php echo ceil($maxDiamondWeight); ?></li>
				</ol>
				<ol class="diamond-weightslider">
					<li id="min_diamond_weight"><?php echo number_format($minDiamondWeight, 2); ?></li>
					<li id="scale1">
						<div id="diamond_weight-slider-range" style="width:100%;"></div>
					</li>
				
					<li id="max_diamond_weight"><?php echo ceil($maxDiamondWeight); ?></li>
					<li>&nbsp;</li>
				</ol>
						
			</ul>
		
			
<?php } }?>	

<?php } ?>
</dl>
 <span id ="resetall" style="display:none">
	<a  class="resetall" href = "<?php echo Mage::helper('core/url')->getCurrentUrl(); ?>" style="float:right;margin-right:55px;">Reset All</a>
 </span>
  

</div>
</div>

*/ ?>
<!-- End-->


<script type="text/javascript">	 
jQuery.noConflict();
jQuery(function() {

	jQuery("#diamond_weight-slider-range").slider({
		range:true,
		min:<?php echo number_format($minDiamondWeight, 2); ?>,
		max:<?php echo ceil($maxDiamondWeight); ?>,
		values:[<?php echo number_format($minDiamondWeight, 2); ?>,<?php echo ceil($maxDiamondWeight); ?>],
		step:.1,
		
		slide:function(event,ui) {
				jQuery('#diamond_weight_range').html(ui.values[0]+' - '+ui.values[1]);
				jQuery('#min_diamond_weight').html(ui.values[0]);
				jQuery('#max_diamond_weight').html(ui.values[1]);
		},
		change:function(event,ui) {
		url = getUrl();			
		showLoaderNav();
		jQuery.post(url,function(res) {
				
				hideLoaderNav();
				var content = jQuery( res ).find( ".category-products" ).html();
				jQuery( ".category-products" ).empty().append( content );
				
				// add js file for lazy load
					
				//jQuery.getScript(BASE_URL+"skin/frontend/default/itshot/js/mgt_lazy_image_loader/lazy-image-loader.js");	
		       // jQuery.getScript(BASE_URL+"skin/frontend/default/itshot/js/mgt_lazy_image_loader/common.js");	
		        
				//update pagination at top section 
				var pagingproduct = jQuery( res ).find(".amount-box").html();
				jQuery(".amount-box").empty().append(pagingproduct);	
				//end of update pagination at top section 
                                
                 	
				var newproducts = jQuery( res ).find( "#topseller" ).html();
				jQuery( "#topseller" ).empty().append( newproducts );
									
				var contentmetal = jQuery( res ).find( "#metal" ).html();
				jQuery( "#metal" ).empty().append(contentmetal);	
				if(contentmetal) {
					jQuery("#metal").show();
				}
				else {
					jQuery("#metal").hide();
				}		
				
				var contentgender = jQuery( res ).find( "#gender" ).html();
				jQuery( "#gender" ).empty().append(contentgender);
				if(contentgender) {
					jQuery("#gender").show();
				}
				else {
					jQuery("#gender").hide();
				}		
				
				var contentdiamond = jQuery( res ).find( "#diamond" ).html();
				jQuery( "#diamond" ).empty().append(contentdiamond);
				if(contentdiamond) {
					jQuery("#diamond").show();
				}
				else {
					jQuery("#diamond").hide();
				}		
				
				var contentbrand = jQuery( res ).find( "#brand" ).html();
				jQuery( "#brand" ).empty().append(contentbrand);
				if(contentbrand) {
					jQuery("#brand").show();
				}
				else {
					jQuery("#brand").hide();
				}		
				
				//jQuery(window).unbind('scroll');
				//StrategeryInfiniteScroll.init();
				
				window.history.pushState("string","",url.replace('ajax=1&',''));
			});
		}
	});
});
</script>

<?php endif; ?>

<?php 

function findBrand($brandId)
{
	//create connection object
	$conn = Mage::getSingleton('core/resource')->getConnection('core_write');
	$brand = explode(',', $brandId) ;
	foreach ($brand as $brandId)
	{
		$sqloption="select value from itshot_eav_attribute_option_value where option_id='".$brandId."'";
		$queryoption= $conn->fetchAll($sqloption);
		if(count($queryoption)>0)
		{
			foreach ($queryoption as $rowoption)
			{
				return $rowoption['value'];
			}
		}
	}
			
}
function findGender($genderId)
{
	//create connection object
	$conn = Mage::getSingleton('core/resource')->getConnection('core_write');
	$gender = explode(',', $genderId) ;
	foreach ($gender as $genderId)
	{
		$sqloption="select value from itshot_eav_attribute_option_value where option_id='".$genderId."'";
		$queryoption= $conn->fetchAll($sqloption);
		if(count($queryoption)>0)
		{
			foreach ($queryoption as $rowoption)
			{
				return $rowoption['value'];
			}
		}
	}
			
}

function findPlating($platingId)
{
	//create connection object
	$conn = Mage::getSingleton('core/resource')->getConnection('core_write');
	$plating = explode(',', $platingId) ;
	foreach ($plating as $paltingId)
	{
		$sqloption="select value from itshot_eav_attribute_option_value where option_id='".$paltingId."'";
		$queryoption= $conn->fetchAll($sqloption);
		if(count($queryoption)>0)
		{
			foreach ($queryoption as $rowoption)
			{
				return $rowoption['value'];
			}
		}
	}
			
}

function findClarity($clarityId)
{
	
	//create connection object
	$conn = Mage::getSingleton('core/resource')->getConnection('core_write');
	$clarity = explode(',', $clarityId) ;
	foreach ($clarity as $clarityId)
	{
		$sqloption="select value from itshot_eav_attribute_option_value where option_id='".$clarityId."'";
		$queryoption= $conn->fetchAll($sqloption);
		if(count($queryoption)>0)
		{
			foreach ($queryoption as $rowoption)
			{
				return $rowoption['value'];
			}
		}
	}
			
}

	/*
	@Date: 16-12-2013
	@By: Sujit Kumar Pandey
	@Function: return the metal value on the basis of metal code	
	*/
	function findMetal($metal)
	{
		$arrayKey 	= array('51'=>'10K','52'=>'14K','53'=>'18K','45'=>'Platinum','49'=>'Sterling','234'=>'Stainless');		
		$met 		= $arrayKey[$metal];
		return $met;
    }
?>
