<style>
  .messages {
    margin-top: 20px;
  }
  .block-compare {
    display: none;
  }
</style>
<script type="text/javascript" src="<?php echo $this->getUrl()?>js/formValidate.js"></script>
<?php
$message = explode('=',$_SERVER["REQUEST_URI"]);
?>
<?php
$name = "";
$minpricerange = "";
$maxpricerange = "";
$phone = "";
$width = "";
$height = "";
$email = "";
$metal = "";
$notes = "";
$title = "";

$postData = isset($_SESSION["custom-bracelets"]) ? $_SESSION["custom-bracelets"]: array();
if(count($postData)>0)
{
	$name =  trim($postData["name"]);
	$minpricerange = trim($postData["minpricerange"]);
	$maxpricerange = trim($postData["maxpricerange"]);
	$phone = trim($postData["phone"]);
	$width = trim($postData["width"]);
	$height = trim($postData["height"]);
	$email = trim($postData["email"]);
	$metal = trim($postData["metal"]);
	$notes = trim($postData["notes"]);
	$title = trim($postData["title"]);
	unset($_SESSION["custom-bracelets"]);
}
?>

<div class="cat-cnt"><div class="content-ctrpanel-nsyd">
                      <div class="maincontainer">
		<div class="maincontent-blk-designs">
  <div class="blks-flt braclet">
    <center>
      <h2 class="h2-lo-01">
							  Unique Handcrafted <br>
							  Design Jewelry
						  </h2>
    </center><p class="p-lo-01 trojan">
						  We specialize in making exquisitely unique custom handcrafted jewelry pieces, from diamond engagement rings to custom hip hop pendants and diamond necklaces. Any design is possible and you can be the creator of your own one of a kind jewelry piece by following our simple process to bring your special designs to life.
						</p>

                        <center><img src="<?php echo $this->getSkinUrl('images/custom-made/custom-diamond-bracelet.jpg') ?>" alt="Custom Diamond Bracelet"></center>

                        <center style="display: block;">
      <h2 class="h2-lo-01 ">Customize your bracelet:</h2>
    </center><p class="p-lo-02 trojan" >
						  Once we have a general idea of what you are interested in, our talented design team will produce a 3-D computer image/design and email or fax you several pictures of the prototype for you to seewhether any elements of the design need to be modified or refined.
					  </p></div>
   <center><img src="<?php echo $this->getSkinUrl('images/custom-made/women-custom-diamond-bracelet.jpg') ?>" alt="Women Custom Diamond Bracelet"></center>
  <div class="blks-flt"><p class="p-lo-01 trojan">
						  It would be best if you already have a sketch of what you would like us to make in this case please attach it to your e-mail. Also please include the following information about your custom bracelets: Your budget, Size (width and height), Metal, Stones
    </p></div>
  <div class="blks-flt">
					  <form id="customizeJewelryForm" enctype="multipart/form-data" action="<?php echo $this->getUrl()?>quotes/index/post6/" method="post">
                   <span class="trojan"> Please e-mail the above information to <strong><a class="lnk-email01" href="mailto:sales@ItsHot.com">sales@ItsHot.com</a></strong> or just fill the form:</span>
                   <br><table cellspacing="0" cellpadding="0" class="tbl-formmemail">
    <tbody>
	<tr><td colspan="4"><span class="required trojan">Required Fields</span></td></tr>
      <tr>
	  <td class="col1 trojan"> Name<span class="required"></span> :</td>
      <td class="col2 trojan"><input type="text" id="" name="name" value = "<?php echo $name;?>" tabindex="1" class="form-txtbox01 input-text required-entry"></td>
      <td class="col3 trojan"> Price Range<span class="required"></span> :</td>
      <td class="col4 trojan">
           <ul class="range-container">
              <li><input type="text" name="minpricerange" value = "<?php echo $minpricerange; ?>" tabindex="5" class="input-text required-entry" placeholder="Min"></li>
              <li><input type="text" name="maxpricerange" value ="<?php echo $maxpricerange; ?>"  tabindex="6" class="input-text required-entry" placeholder="Max"></li>
          </ul>
      </td>
    </tr>
    <tr>
      <td class="col1 trojan">
                              Tel:
                          </td>
      <td class="col2 trojan"><input type="text" name="phone" value = "<?php echo $phone;?>" tabindex="2" class="form-txtbox01"></td>
      <td class="col3 trojan">
                                      Size:</td>
      <td class="col4 trojan"><input type="text" name="width" value = "<?php echo $width;?>" tabindex="7" class="form-txtbox02" placeholder="width">&nbsp;&nbsp;
                                      <input type="text" name="height" value = "<?php echo $height;?>" tabindex="8" class="form-txtbox02" placeholder="height"></td>
    </tr>
    <tr>
      <td class="col1 trojan"> Email<span class="required"></span> :</td>
      <td class="col2 trojan"><input type="text" name="email" value = "<?php echo $email;?>" tabindex="3" class="form-txtbox01 input-text required-entry"></td>
      <td class="col3 trojan">
                                      Metal:
                                  </td>
      <td class="col4 trojan"><select name="metal" tabindex="9" class="form-ddl01"><option selected="" value="None">-select metal-</option>

        <option value="Gold" <?php if($metal=='Gold'){ ?> selected = "selected" <?php } ?> >Gold</option>
          <option value="Silver" <?php if($metal=='Silver'){ ?> selected = "selected" <?php } ?>>Silver</option>
          <option value="Other" <?php if($metal=='Other'){ ?> selected = "selected" <?php } ?>>Other</option>
          <option value="I don't know" <?php if($metal=="I don't know"){ ?> selected = "selected" <?php } ?>>I don't know</option>


          </select></td>
    </tr>
   <tr style="height: 90px;">
      <td class="col1 trojan" style="text-align:left;">
                              Notes:
                          </td>
      <td colspan="3" class="col2" ><textarea name="notes" tabindex="4" class="form-txtarea01" cols="50" rows="4"><?php echo $notes; ?></textarea></td>
    </tr>
   <tr >
      <td class="col1 trojan">
                              Upload your design image:
                          </td>
      <td colspan="3" class="col2" ><input type="file" tabindex="11" name="customImage1" class="form-fileupload01"  id="customImage1"><br><input type="file" tabindex="12" name="customImage2" class="form-fileupload01"  id="customImage2"></td>
    </tr>
    <?php if (Mage::helper('studioforty9_recaptcha')->isAllowed("quotes_index_post6")):?>
    <tr><td></td>
		<td colspan="3" style="width:auto;">
                                <?php echo $this->getLayout()
                                                        ->createBlock('studioforty9_recaptcha/explicit')
                                                        ->setTemplate('studioforty9/recaptcha/explicit.phtml')
                                                        ->setAllow(true)
                                                        ->toHtml();
                                                ?>
		</td>
    </tr>
    <?php endif;?>

    <tr><td></td><td colspan="3"><button value="Apply Coupon" class="button" title="Submit" type="submit"  tabindex="13" style="margin:10px 0 0 0px;"><span><span>Submit</span></span></button><input type="hidden" name="title" value="Custom Bracelets Request"><input type="hidden" name="url" value="Chains_Customization"></td></tr>
  </tbody></table></form><br><br>
				  </div>

</div>

                          <!--COMPUNIX-->
                          <div style="display: block;" class="recentitems-blk"></div>
                        </div>
                  </div>
                  </div>
	       <div class="bt-c"></div>
<script type="text/javascript">
//<![CDATA[
    var customizeJewelryForm = new VarienForm('customizeJewelryForm', true);
//]]>
</script>