<style>
  .messages {
    margin-top: 20px;
  }
  .block-compare {
    display: none;
  }
</style>
<script type="text/javascript" src="<?php echo $this->getUrl()?>js/formValidate.js"></script>
<?php
$message = explode('=',$_SERVER["REQUEST_URI"]);
?>

<?php
$name = "";
$minpricerange = "";
$maxpricerange = "";
$phone = "";
$width = "";
$height = "";
$email = "";
$metal = "";
$notes = "";
$title = "";
$stones = "";

$postData = isset($_SESSION["custom-chains"]) ? $_SESSION["custom-chains"] : array();
if(count($postData)>0)
{
	$name =  trim($postData["name"]);
	$minpricerange = trim($postData["minpricerange"]);
	$maxpricerange = trim($postData["maxpricerange"]);
	$phone = trim($postData["phone"]);
	$width = trim($postData["width"]);
	$height = trim($postData["height"]);
	$email = trim($postData["email"]);
	$metal = trim($postData["metal"]);
	$notes = trim($postData["notes"]);
	$title = trim($postData["title"]);
	$stones = trim($postData["stones"]);
	unset($_SESSION["custom-chains"]);
}
?>
<div class="cat-cnt">
	<div class="content-ctrpanel-nsyd">
		<div class="maincontainer">

			<!-- READ FROM DB -->
            <div class="maincontent-blk-designs">
				<div class="blks-flt chains">
				  <center class="center"><h2 class="h2-lo-01">Get the Unique Handcrafted <br />Custom Chains at ItsHot.com</h2></center>


				  <p class="p-lo-01 trojan">Uniqueness is something that we believe the most and try to keep a touch of it in all our diamond jewelry. At ItsHot.com, we have gained fame for coming up with the best custom diamond chains and necklaces. Our diamonds are known to be the best in quality and so are our unique jewelry designs. We are using the best materials to create the best products. Thus, if you wish to get a chain that looks unique and stunning, you can get it designed and developed at our store. In addition to chain necklaces we can craft  a pendant or unique bracelets, earrings and rings that will fit your style perfectly.  At ItsHot.com, we give an opportunity for our customers to get custom chains that they wish are as per their desire, the items they will not be able to find in our collection. You can prepare the sketch of the chain and send the same to us which is then given a form by our expert jewelry designers.</p>
 <center><img src="<?php echo $this->getSkinUrl('images/custom-made/custom-diamond-chains.png') ?>" alt="Custom Diamond Chains"></center>
				  <center><h2 class="h2-lo-01" style="text-align:left;">Your Design, Our Expertise for Diamond Chain</h2></center>
				  <p class="p-lo-02 trojan" style="text-align:left;">We take a general idea of your sketch and proceed accordingly. However, you are required to make few facts clear to us so that we can deliver the result that you want. For instance, you need to provide information regarding your budget, metal, and diamond which are going to be used for designing and developing your diamond chain. Once you have confirmed the design, we start our work and send your jewelry item at your door step; the entire process takes 1-3 weeks. ItsHot is shipping to clients worldwide and shipping terms may vary. We strive to manufacture even the toughest design and make it look the way you’ll love it. Our team of highly efficient and experienced professionals is expert in manufacturing custom chains & necklaces that fit your requirement and budget.

</p>
 <center><img src="<?php echo $this->getSkinUrl('images/custom-made/custom-yellow-gold-diamond-chain.png') ?>" alt="Custom Yellow Gold Diamond Chain"></center>
			  </div>

  <div class="blks-flt"><br>
  <p class="p-lo-01 trojan">
						  It would be best if you already have a sketch of what you would like us to make in this case please attach it to your email. Also please include the following information about your custom chain: Your budget, Metal, Stones
    </p><br></div>
  <div class="blks-flt">
					  <form id="customizeJewelryForm" name="customizeJewelryForm" enctype="multipart/form-data" action="<?php echo $this->getUrl()?>quotes/index/post1/" method="post">
                   <span class="trojan"> Please email the above information to <strong><a class="lnk-email01" href="mailto:sales@ItsHot.com">sales@ItsHot.com</a></strong> or just fill the form:</span>
                    <br><table cellspacing="0" cellpadding="0" class="tbl-formmemail">
    <tbody>
	<tr><td colspan="4"><span class="required trojan">Required Fields</span></td></tr>
	<tr>
      <td class="col1 trojan"> Name<span class="required"></span> :</td>
      <td class="col2 trojan"><input type="text" id="" name="name"  value = "<?php echo $name ;?>" tabindex="1" class="form-txtbox01 input-text required-entry"></td>
      <td class="col3 trojan"> Price Range<span class="required"></span> :</td>
      <td class="col4 trojan">
          <ul class="range-container">
              <li><input type="text" name="minpricerange" value = "<?php echo $minpricerange; ?>" tabindex="5" class="input-text required-entry" placeholder="Min"></li>
              <li><input type="text" name="maxpricerange" value ="<?php echo $maxpricerange; ?>"  tabindex="6" class="input-text required-entry" placeholder="Max"></li>
          </ul>
      </td>
    </tr>
    <tr>
      <td class="col1 trojan">
                              Tel:
                          </td>
      <td class="col2 trojan"><input type="text" name="phone" value = "<?php echo $phone ;?>" tabindex="2" class="form-txtbox01"></td>
      <td class="col3 trojan">
                                      Metal:
                                  </td>
      <td class="col4 trojan"><select name="metal" tabindex="9" class="form-ddl01"><option selected="" value="0">-select metal-</option>

          <option value="Gold" <?php if($metal=='Gold'){ ?> selected = "selected" <?php } ?> >Gold</option>
          <option value="Silver" <?php if($metal=='Silver'){ ?> selected = "selected" <?php } ?>>Silver</option>
          <option value="Other" <?php if($metal=='Other'){ ?> selected = "selected" <?php } ?>>Other</option>
          <option value="I don't know" <?php if($metal=="I don't know"){ ?> selected = "selected" <?php } ?>>I don't know</option>

          </select></td>
    </tr>
    <tr>
      <td class="col1 trojan"> Email<span class="required"></span> :</td>
      <td class="col2 trojan"><input type="text" name="email" value = "<?php echo $email ;?>" tabindex="3" class="form-txtbox01 input-text required-entry"></td>
      <td class="col3 trojan">
                                      Stones:
                                  </td>
      <td class="col4 trojan"><select name="stones" tabindex="10" class="form-ddl01"><option selected="" value="None">-select stone-</option>
          <option value="Diamonds" <?php if($stones=='Diamonds') { ?> selected = "selected" <?php } ?> >Diamonds</option>
          <option value="Gemstones" <?php if($stones=='Gemstones') { ?> selected = "selected" <?php } ?>>Gemstones</option>
          <option value="CZ's" <?php if($stones=="CZ's") { ?> selected = "selected" <?php } ?>>CZ's</option>
          <option value="Other" <?php if($stones=='Other') { ?> selected = "selected" <?php } ?>>Other</option>
          <option value="I don't know" <?php if($stones=="I don't know") { ?> selected = "selected" <?php } ?>>I don't know</option>

          </select></td>
    </tr>
    <tr style="height: 90px;">
      <td class="col1 trojan" style="text-align:left;">
                              Notes:
                          </td>
      <td colspan="3" class="col2" ><textarea name="notes" tabindex="4" class="form-txtarea01" cols="50" rows="4"><?php echo $notes; ?></textarea></td>
    </tr>
   <tr >
      <td class="col1 trojan">
                              Upload your design image:
                          </td>
      <td colspan="3" class="col2" ><input type="file" tabindex="11" name="customImage1" class="form-fileupload01"  id="customImage1"><br><input type="file" tabindex="12" name="customImage2" class="form-fileupload01"  id="customImage2"></td>
    </tr>
<?php if (Mage::helper('studioforty9_recaptcha')->isAllowed("quotes_index_post1")):?>
     <tr><td></td>
		<td colspan="4" style="width:auto;">
                     <?php echo $this->getLayout()
                                                        ->createBlock('studioforty9_recaptcha/explicit')
                                                        ->setTemplate('studioforty9/recaptcha/explicit.phtml')
                                                        ->setAllow(true)
                                                        ->toHtml();
                                                ?>
		</td>
    </tr>
    <?php endif?>

    <tr><td></td><td colspan="3"><button value="Apply Coupon" class="button" title="Submit" type="submit"  tabindex="13" style="margin:10px 0 0 0px;"><span><span>Submit</span></span></button><input type="hidden" name="title" value="Custom Chains Request"><input type="hidden" name="url" value="Chains_Customization"></td></tr>
  </tbody></table></form><br><br>
			    </div>

</div><!-- END OF DB -->


                        <!--COMPUNIX-->
                        <div style="display: block;" class="recentitems-blk"></div>
                        <!--COMPUNIX-->
                    </div>
                </div>
            </div>
<script type="text/javascript">
//<![CDATA[
    var customizeJewelryForm = new VarienForm('customizeJewelryForm', true);
//]]>
</script>
