<?php $entries = $this->getHomeEntries(); ?>

<?php if($entries->getSize()): ?>
<div class="qstanswer">
	<div class="test-heading"><label for="qstanswer">Questions and Answers</label></div>
	<div class="qstanswer-comments">
		<ul id="scrollerqstanswer">
			<?php $count = 0; ?>
			<?php $model = new PWS_ProductQA_Block_List();?>
			<?php foreach($entries as $entry): ?>
			<?php
			$productId = $entry->getProductId();
			$_product = Mage::getModel('catalog/product')->load($productId);
			$productUrl = Mage::helper('core')->getCustomizeProductUrl($productId);
			
			?>
			<li>
				<div class="left-faq-thumb"><a href="<?php echo $productUrl; ?>" ><img src="<?php echo $this->helper('catalog/image')->init($_product,'small_image')->resize(135); ?>" alt="" width="135" height="135" /></a></div>
                <div class="left-faq-container">					
					<div class="entry-comment"><span class="question"><?php echo $this->__('Q'); ?></span>: <?php echo $this->htmlEscape($entry->getQuestion()); ?></div>
					<!-- <div id="qst<?php //echo $entry->getId();?>" style="display:none"> -->
					<div id="qst<?php echo $entry->getId();?>">
					<div class="entry-answer"><span class="answer"><?php echo $this->__('A'); ?></span>: <?php echo $model->processString($entry->getAnswer()); ?></div>
					</div>
					<!-- <a href="javascript:;" id="a_qst<?php //echo $entry->getId();?>" onclick="showdiv('qst<?php //echo $entry->getId();?>');" class="more">Read More..</a> -->
					<a href="<?php echo $productUrl; ?>" id="a_qst<?php echo $entry->getId();?>" class="more">Read More..</a>
					</div>
			</li>
			<?php endforeach; ?>
		</ul>
	</div>
</div>

<?php endif; ?>
<script type="text/javascript">
(function(jQuery) {
	jQuery(function() { //on DOM ready
		jQuery("#scrollerqstanswer").simplyScroll({
			customClass: 'vert',
			orientation: 'vertical',
            auto: false,
            manualMode: 'loop',
			frameRate: 20,
			speed: 10

		});
	});
})(jQuery);

function showdiv(divid)
{
	if (jQuery("#"+divid).css('display') === 'none') 
	{
		jQuery("#"+divid).show();
		jQuery('a#a_'+divid).text('Read Less..');
	}
	else
	{
		jQuery("#"+divid).hide();
		jQuery('a#a_'+divid).text('Read More..');
	}
	
	//document.getElementById(divid).
}
</script>
