<div class="cat_search">
    <div class="left-nav-bg-main" id="vertNavHomeTop" onmouseover="addRemoveClassTop(1)" onmouseout="addRemoveClassTop(0)">
        <div class="left-nav-bg">
            <a href="<?php echo Mage::getBaseUrl();?>ladies-mens-diamond-jewelry-watches-sitemap.aspx">Shop All Categories</a>
            <?php
                echo $this->getChildHtml('topvertnavinner');
            ?>
        </div>
    </div>
