<?php
function activecategorytop($children1)
{
	foreach ($children1 as $child1)
	{
		$subcat		= Mage::getModel('catalog/category')->load($child1->getId());
		if($subcat->getIsActive())
		{
			$subcatarray[]=$child1->getId();
		}
	}
	return count($subcatarray);
}
$array_category_value=array(757,758,759,760,761,762,763);

$obj = new Mage_Catalog_Block_Navigation();
$store_cats	= $obj->getStoreCategories();
$current_cat 	= $obj->getCurrentCategory();
$catArray=$current_cat->getPathids();
$currentcategorylevel=$current_cat->getLevel();
$current_cat	= (is_object($current_cat) ? $current_cat->getName() : '');
$j = 1;
$group_id = 1;
$fistLevelCategory = array();
$i=1;
$controller_name=Mage::app()->getRequest()->getControllerName();

$cacheKey = "ItsHotCategorytop";
$cache = Mage::app()->getCacheInstance();
if($cache->load($cacheKey)=="")
{
	$ItsHotCategorytop = Mage::helper('core')->getNavCache($cacheKey);
	if($ItsHotCategorytop!="")
	{
		$cache->save($ItsHotCategorytop, $cacheKey);
		echo $ItsHotCategorytop;
	}
	else
	{
		ob_start();
		?>
		<div class="arw-cnt">
			<a href="javascript://" class="arw"></a>
			<div class="vert_nav">
			<ul class="vertical-nav">
			<?php	
			foreach ($store_cats as $cat)
			{
				$category1 = Mage::getModel('catalog/category')->load((int)$cat->getId()); 

				if($category1->getCategoryGroup()!="")
				{
					$fistLevelCategory[$j]['group'] = $category1->getCategoryGroup();
					$fistLevelCategory[$j]['id'] = $cat->getId();
					$fistLevelCategory[$j]['url'] = $this->getCategoryUrl($cat);
					$fistLevelCategory[$j]['color'] = $category1->getCategorynamecolor(); 
					$fistLevelCategory[$j]['name'] = $cat->getName();
				}
				$j++;				
			}//end foreach
		
			$storeCats = $obj->aasortCategoryGroup($fistLevelCategory,"group");
			foreach ($storeCats as $cats)
			{	
				$category1 = Mage::getModel('catalog/category')->load((int)$cats['id']);			
				$mainCatUrl = $this->getredirecturl($cats['id']);
				
				if($group_id!= $cats['group'])
				{
					$style = "style='border-top:1px solid #000;'";
				}
				else
				{
					$style="";
				}
				$childrenIdArray = explode(',',$category1->getChildren());
				if ($key = array_search($cats['id'],$childrenIdArray))
				{
					unset($childrenIdArray[$key]);
				}
				$sortOrderField = "position";
				$level2CatSortNameArr = array(231, 59);
				if(in_array($cats['id'], $level2CatSortNameArr))
				{
					$sortOrderField = "name";
				}
				
				$collectionlevel1 = Mage::getModel('catalog/category')->getCollection()->addAttributeToFilter('entity_id', array('in' => $childrenIdArray))->addAttributeToSelect('*');
				$children1 = $collectionlevel1->addOrderField("category_group", "DESC")->addOrderField($sortOrderField, 'ASC');
						
				$total = Mage::getModel('catalog/layer')->setCurrentCategory( $category1 )->getProductCollection()->getSize() ;
				if(activecategorytop($children1)>0 and $total>0)
				{
					$mainclass = "level0 nav-".$i." parent";
				}
				else
				{
					$mainclass = "bgnone";
				}
				?>
				<li class="<?php echo $mainclass;?>" <?php echo $style;?>><a href="<?php echo $mainCatUrl;?>" style="color:<?php echo $category1->getCategorynamecolor();?>" onclick="setrefrenceurl(<?php echo $cats['id'];?>);" title="<?php echo $cats['name'];?>"><?php echo $cats['name'];?></a>
				<?php
				if(activecategorytop($children1)>0 and $total>0)
				{
				?>
					<ul>
						<?php
						$countGroupH = 0;
						foreach ($children1 as $child1)
						{
							$subcat = Mage::getModel('catalog/category')->load($child1->getId());
							$children = $subcat->getChildren();
							$children = explode(",",$children);
							$prodCollection = Mage::getResourceModel('catalog/product_collection')->addCategoryFilter($subcat);
							Mage::getSingleton('catalog/product_status')->addVisibleFilterToCollection($prodCollection);
							Mage::getSingleton('catalog/product_visibility')->addVisibleInCatalogFilterToCollection($prodCollection);
							Mage::getSingleton('cataloginventory/stock')->addInStockFilterToCollection($prodCollection);
							$count = $prodCollection->count();
							
							if($count>0 or strlen($children[0])>0 or $subcat->getUrlcategory()!='' or in_array($subcat->getId(),$array_category_value))
							{ 
								$url = $this->getredirecturl($subcat->getId());
								$style = "";
								if($subCatGroupH != $subcat->getCategoryGroup() && $countGroupH>0)
								{
									$style = "style='border-top:1px solid #000;'";
								}
								$subCatGroupH = $subcat->getCategoryGroup();
								?>
								<li <?php echo $style;?>><a href="<?php echo $url;?>" onclick="setrefrenceurl(<?php echo $subcat->getId();?>,'<?php echo $subcat->getData('urlcategory');?>');" title="<?php echo $subcat->getName();?>"><?php echo $subcat->getName();?></a></li>
								<?php
								$countGroupH++;
							}
						}//end foreach
						?>
					</ul>
				<?php
				}//end if
				?>
				</li>
				<?php 
				$i++;
				$group_id = $category1->getCategoryGroup();
			}//end foreach
			?>
			</ul>
			</div>
		</div>
		<?php
		$ItsHotCategoryTop = ob_get_contents();
		$cache->save($ItsHotCategoryTop, $cacheKey);
	}
}//end caching
else
{
	echo $cache->load($cacheKey);
}	
?>             
