<script type="text/javascript">
var timeout	= 500;
var closetimer = 0;
var ddmenuitem = 0;

//open hidden layer
function mopen(id) {
	//cancel close timer
	mcancelclosetime();
	
	//close old layer
	if(ddmenuitem) {
		ddmenuitem.style.visibility = 'hidden';
	}
	
	//get new layer and show it
	ddmenuitem = document.getElementById(id);
	ddmenuitem.style.visibility = 'visible';
}

//close showed layer
function mclose() {
	if(ddmenuitem) {
		ddmenuitem.style.visibility = 'hidden';
	}
}

//go close timer
function mclosetime() {
	closetimer = window.setTimeout(mclose,timeout);
}

//cancel close timer
function mcancelclosetime() {
	if(closetimer) {
		window.clearTimeout(closetimer);
		closetimer = null;
	}
}

//close layer when click-out
document.onclick = mclose;

//change div class on mouseover
function addRemoveClassHome(intPos) {
	if(intPos==1) {
		$j("#vertNavHomeLeft").addClass("nav-new-zindex");
	}
	else {
		$j("#vertNavHomeLeft").removeClass("nav-new-zindex");
	}
}
</script>
<?php
$refrencecat_id = "";
$refrencecat_id = $_COOKIE["ItsHotCustomUrl"];
$array_category_value = array(757,758,759,760,761,762,763, 837,838,839,840,841,842, 854,855,856,857,858,859,860,861,862,863,866,867,869,884,885,886);

$obj = new Mage_Catalog_Block_Navigation();
$current_cat = $obj->getCurrentCategory();
$newcatobj = Mage::getModel('catalog/category')->load($refrencecat_id);
if($newcatobj->getData('urlcategory')==$current_cat->getId()) {
	$current_cat = $newcatobj;
}
$level = $current_cat->getLevel();
/*
// get device name here (Ankush(AK)) on 22 August 
$mobileDevice = $obj->mobile_user_agent_switch();

if($mobileDevice == 'ipad' || $mobileDevice == 'iphone' || $mobileDevice == 'blackberry' || $mobileDevice == 'android')
{
 //echo "Responsive: ".$mobileDevice;
  */
?>

<div class="leftnavigationmobile" id="vertNavHomeLeftmobile" onmouseover="addRemoveClassHome(1)" onmouseout="addRemoveClassHome(0)">

<div id="firstpaneCat" class="menu_list_cat">
	<?php
	if($level==1) {
		$cacheKey = "ItsHotCategoryHome";
		$cache = Mage::app()->getCacheInstance();
		if($cache->load($cacheKey)=="") {
			$ItsHotCategoryHome = Mage::helper('core')->getNavCache($cacheKey);
			if($ItsHotCategoryHome!="") {
				$cache->save($ItsHotCategoryHome,$cacheKey);
				echo $ItsHotCategoryHome;
			}
	
		}
		else {
			
			// category coming from database table "itshot_navigation_cache" Mage_Core_Helper_Data
			echo $cache->load($cacheKey);
		}
	}
	else {
		$currentCatId = (is_object($current_cat) ? $current_cat->getId() : "");
		if($currentCatId!="") {
			$catArray = $current_cat->getPathids();
			echo '<ul id="nav_vert1">';
			$categorylevel1 = Mage::getModel('catalog/category')->load((int)$catArray[2]);
			$childrenlevel1IdArray = explode(',',$categorylevel1->getChildren());
			echo '<li class="bgnone"><a href="'.$this->getCategoryUrl($categorylevel1).'" title="'.$categorylevel1->getName().'" onclick="setrefrenceurl('.$categorylevel1->getId().');">'.$categorylevel1->getName().'</a><ul>';
			$j=1;
			if($key = array_search($catArray[2],$childrenlevel1IdArray)) {
				unset($childrenlevel1IdArray[$key]);
			}
			$sortOrderField = "position";
			$level2CatSortNameArr = array(231,59);
			if(in_array($categorylevel1->getId(),$level2CatSortNameArr)) {
				$sortOrderField = "name";
			}
			$collectionlevel1 = Mage::getModel('catalog/category')->getCollection()->addAttributeToFilter('entity_id',array('in'=>$childrenlevel1IdArray))->addAttributeToSelect('*');
			$newchildrenlevel1 = $collectionlevel1->addOrderField("category_group","DESC")->addOrderField($sortOrderField,'ASC');
			$countGroup1 = 0;
			foreach ($newchildrenlevel1 as $child1) {
				$subcat = Mage::getModel('catalog/category')->load($child1->getId());
				$childrenIdArray = explode(',',$subcat->getChildren());
				if($key = array_search($subcat,$childrenIdArray)) {
					unset($childrenIdArray[$key]);
				}
				$collection = Mage::getModel('catalog/category')->getCollection()->addAttributeToFilter('entity_id',array('in'=>$childrenIdArray))->addAttributeToSelect('*');
				$sortOrderField2 = "position";
				$level3CatSortNameArr = array(62);
				if(in_array($child1->getId(),$level3CatSortNameArr)) {
					$collection = $collection->addOrderField("category_group","DESC");
					$sortOrderField2 = "name";
				}
				$newchildren2 = $collection->addOrderField($sortOrderField2,"ASC");
				$countSubCat = 0;
				$countSubCat = $child1->getActiveProductCount();//added by Ravinesh(MS) on 14-Jul-2014
				if($countSubCat>0 or $subcat->getUrlcategory()!='' or $subcat->getShowallchild()==12 or in_array($child1->getId(),$array_category_value)):
				$url = $this->getredirecturl($subcat->getId());
				if(activecategory($newchildren2) > 0 && $countSubCat>0) {
					if(in_array($subcat->getId(),$catArray)) {
						$classlevel="class='activechild scurrent menu_head_cat'";
					}
					else {
						$classlevel="class='scurrent menu_head_cat'";
					}
				}
				elseif(in_array($subcat->getId(),$catArray)) {
					$classlevel="class='activechild menu_head_cat'";
				}
				else {
					$classlevel="";
				}
				//added by Ravinesh(MS) on 12-Sep-2011
				$style = "";
				if($subCatGroup != $subcat->getCategoryGroup() && $countGroup1>0) {
					$style = "style='border-top:1px solid #b43938;'";
				}
				$subCatGroup = $subcat->getCategoryGroup();
				$countGroup1++;
				?>
				<li <?php echo $classlevel; ?> <?php echo $style; ?> ><a href="<?php echo $url; ?>" title="<?php echo $subcat->getName(); ?>" ><?php echo $subcat->getName(); ?></a><span id="span<?php echo $subcat->getId(); ?>" class="accord">+</span>
				
					<?php if(activecategory($newchildren2) > 0 && $countSubCat>0): ?>					
						<ul class="menu_body_cat">
							<?php
							$k=1;
							$countGroup2 = 0;
							foreach($newchildren2 as $child):
							$count1 = 0;
							$_child = Mage::getModel('catalog/category')->load($child->getId());
							$count1 = $_child->getActiveProductCount();//added by Ravinesh(MS) on 14-Jul-2014
							if($count1>0 or $_child->getUrlcategory()!='' or $_child->getShowallchild()==12 or in_array($child->getId(),$array_category_value)):
							//added by Ravinesh(MS) on 12-Sep-2011
							$style = "";
							if($subCatGroup2 != $_child->getCategoryGroup() && $countGroup2>0) {
								$style = "style='border-top:1px solid #b43938;'";
							}
							$subCatGroup2 = $_child->getCategoryGroup();
							$countGroup2++;
							$url = $this->getredirecturl($_child->getId());
							if(in_array($child->getId(),$catArray)):
							$url = $this->getredirecturl($_child->getId());
							?>
							<li><a class='activechild2 level2CategoryChild' <?php //echo $style; ?> href='<?php echo $url; ?>' title="<?php echo $_child->getName(); ?>" onclick="return setrefrenceurl(<?php echo $_child->getId(); ?>,'<?php echo $_child->getData('urlcategory'); ?>');"><?php echo $_child->getName(); ?></a></li>
							<?php else: ?>
							<li <?php //echo $style; ?>><a href='<?php echo $url; ?>' title="<?php echo $_child->getName(); ?>" onclick="return setrefrenceurl(<?php echo $_child->getId(); ?>,'<?php echo $_child->getData('urlcategory');?>');"><?php echo $_child->getName(); ?></a></li>
							<?php endif; ?>
							<?php endif; ?>
							<?php endforeach; ?>
						</ul>
					
					<?php endif; ?>
				</li>
				<?php endif; ?>
				<?php
				$j++;
			}
			echo "</ul></li></ul>";
		}
	}
	?>
</div> <!-- accordian div close -->

</div>
<?php
  /*
  }
  else
  {  //echo "Web: ".$mobileDevice;
  
  */
?>
<div class="leftnavigation" id="vertNavHomeLeft" onmouseover="addRemoveClassHome(1)" onmouseout="addRemoveClassHome(0)">
	<?php
	if($level==1) {
		$cacheKey = "ItsHotCategoryHome";
		$cache = Mage::app()->getCacheInstance();
		
		if($cache->load($cacheKey)=="") {
			$ItsHotCategoryHome = Mage::helper('core')->getNavCache($cacheKey);
			if($ItsHotCategoryHome!="") {
				$cache->save($ItsHotCategoryHome,$cacheKey);
				echo $ItsHotCategoryHome;
			}		
		}
		else {  
			  // category coming from database table "itshot_navigation_cache" Mage_Core_Helper_Data
			echo $cache->load($cacheKey);
		}
	}
	else {
		$currentCatId = (is_object($current_cat) ? $current_cat->getId() : "");
		if($currentCatId!="") {
			$catArray = $current_cat->getPathids();
			echo '<ul id="nav_vert1">';
			$categorylevel1 = Mage::getModel('catalog/category')->load((int)$catArray[2]);
			$childrenlevel1IdArray = explode(',',$categorylevel1->getChildren());
			echo '<li class="bgnone"><a href="'.$this->getCategoryUrl($categorylevel1).'" title="'.$categorylevel1->getName().'" onclick="setrefrenceurl('.$categorylevel1->getId().');">'.$categorylevel1->getName().'</a><ul>';
			$j=1;
			if($key = array_search($catArray[2],$childrenlevel1IdArray)) {
				unset($childrenlevel1IdArray[$key]);
			}
			$sortOrderField = "position";
			$level2CatSortNameArr = array(231,59);
			if(in_array($categorylevel1->getId(),$level2CatSortNameArr)) {
				$sortOrderField = "name";
			}
			$collectionlevel1 = Mage::getModel('catalog/category')->getCollection()->addAttributeToFilter('entity_id',array('in'=>$childrenlevel1IdArray))->addAttributeToSelect('*');
			$newchildrenlevel1 = $collectionlevel1->addOrderField("category_group","DESC")->addOrderField($sortOrderField,'ASC');
			$countGroup1 = 0;
			foreach ($newchildrenlevel1 as $child1) {
				$subcat = Mage::getModel('catalog/category')->load($child1->getId());
				$childrenIdArray = explode(',',$subcat->getChildren());
				if($key = array_search($subcat,$childrenIdArray)) {
					unset($childrenIdArray[$key]);
				}
				$collection = Mage::getModel('catalog/category')->getCollection()->addAttributeToFilter('entity_id',array('in'=>$childrenIdArray))->addAttributeToSelect('*');
				$sortOrderField2 = "position";
				$level3CatSortNameArr = array(62);
				if(in_array($child1->getId(),$level3CatSortNameArr)) {
					$collection = $collection->addOrderField("category_group","DESC");
					$sortOrderField2 = "name";
				}
				$newchildren2 = $collection->addOrderField($sortOrderField2,"ASC");
				$countSubCat = 0;
				$countSubCat = $child1->getActiveProductCount();//added by Ravinesh(MS) on 14-Jul-2014
				if($countSubCat>0 or $subcat->getUrlcategory()!='' or $subcat->getShowallchild()==12 or in_array($child1->getId(),$array_category_value)):
				$url = $this->getredirecturl($subcat->getId());
				if(activecategory($newchildren2) > 0 && $countSubCat>0) {
					if(in_array($subcat->getId(),$catArray)) {
						$classlevel="class='activechild scurrent'";
					}
					else {
						$classlevel="class='scurrent'";
					}
				}
				elseif(in_array($subcat->getId(),$catArray)) {
					$classlevel="class='activechild'";
				}
				else {
					$classlevel="";
				}
				//added by Ravinesh(MS) on 12-Sep-2011
				$style = "";
				if($subCatGroup != $subcat->getCategoryGroup() && $countGroup1>0) {
					$style = "style='border-top:1px solid #b43938;'";
				}
				$subCatGroup = $subcat->getCategoryGroup();
				$countGroup1++;
				?>
				<li <?php echo $classlevel; ?> <?php echo $style; ?>><a href="<?php echo $url; ?>" <?php if($classlevel!='') { ?>onmouseout="mclosetime()" onmouseover="mopen('smoothmenu<?php echo $j; ?>');" <?php } ?> onclick="return setrefrenceurl(<?php echo $subcat->getId(); ?>,'<?php echo $subcat->getData('urlcategory'); ?>');" title="<?php echo $subcat->getName(); ?>"><?php echo $subcat->getName(); ?></a>
					<?php if(activecategory($newchildren2) > 0 && $countSubCat>0): ?>
					<div id='smoothmenu<?php echo $j; ?>' onmouseout="mclosetime()" onmouseover="mcancelclosetime()" class="show-submenu"  style="visibility:hidden;">
						<ul>
							<?php
							$k=1;
							$countGroup2 = 0;
							foreach($newchildren2 as $child):
							$count1 = 0;
							$_child = Mage::getModel('catalog/category')->load($child->getId());
							$count1 = $_child->getActiveProductCount();//added by Ravinesh(MS) on 14-Jul-2014
							if($count1>0 or $_child->getUrlcategory()!='' or $_child->getShowallchild()==12 or in_array($child->getId(),$array_category_value)):
							//added by Ravinesh(MS) on 12-Sep-2011
							$style = "";
							if($subCatGroup2 != $_child->getCategoryGroup() && $countGroup2>0) {
								$style = "style='border-top:1px solid #b43938;'";
							}
							$subCatGroup2 = $_child->getCategoryGroup();
							$countGroup2++;
							$url = $this->getredirecturl($_child->getId());
							if(in_array($child->getId(),$catArray)):
							$url = $this->getredirecturl($_child->getId());
							?>
							<li><a class='activechild2 level2CategoryChild' <?php echo $style; ?> href='<?php echo $url; ?>' title="<?php echo $_child->getName(); ?>" onclick="return setrefrenceurl(<?php echo $_child->getId(); ?>,'<?php echo $_child->getData('urlcategory'); ?>');"><?php echo $_child->getName(); ?></a></li>
							<?php else: ?>
							<li <?php echo $style; ?>><a href='<?php echo $url; ?>' title="<?php echo $_child->getName(); ?>" onclick="return setrefrenceurl(<?php echo $_child->getId(); ?>,'<?php echo $_child->getData('urlcategory');?>');"><?php echo $_child->getName(); ?></a></li>
							<?php endif; ?>
							<?php endif; ?>
							<?php endforeach; ?>
						</ul>
					</div>
					<?php endif; ?>
				</li>
				<?php endif; ?>
				<?php
				$j++;
			}
			echo "</ul></li></ul>";
		}
	}
	?>
</div>

<?php
//}
?>
<?php
function activecategory($children1) {
	foreach($children1 as $child1) {
		$subcat = Mage::getModel('catalog/category')->load($child1->getId());
		if($subcat->getIsActive()) {
			$subcatarray[] = $child1->getId();
		}
	}
	return count($subcatarray);
}
?>

<script type="text/javascript">


jQuery(document).ready(function()
{     
	 jQuery("#firstpaneCat .menu_head_cat span").click(function()
      {  
		  var checkId = this.id; 
		  var text = jQuery('#'+checkId).html();		    
		  if(text == '+')		 
		  {
			   jQuery('#'+checkId).html('-');
		  }
		  else
		  {
		      jQuery('#'+checkId).html('+');
		  }
		  jQuery(this).next("ul.menu_body_cat").slideToggle(300).siblings("ul.menu_body_cat").slideUp("slow");
          jQuery(this).siblings();	        	
	   });
	 
});
</script>

