<?php
/**
 * @var \Medialounge_Checkout_Block_Success $this
 */
$orderId = Mage::getModel('checkout/session')->getLastRealOrderId();
$order = Mage::getModel('sales/order')->loadByIncrementId($orderId);
$affiliateTotal = $order->getSubtotal() + $order->getDiscountAmount();
?>
<div class="page-title">
    <h1><?php echo $this->__('Thank you for your purchase!') ?></h1>
</div>
<div class="order-success-number">
    <h2><?php echo $this->__('Your order number: %s', $this->escapeHtml($orderId)) ?></h2>
</div>

<?php if ($orderId):?>
<div class="top-success-page">
    <div class="main-checkout-content">
        <div class="checkout-success-header">
            <div class="order-message std">
                <?php if ($order->getPayment()->getMethod() === 'banktransfer') : ?>
                    <p><?php echo $this->__('We will email you instructions for the bank wire and Western Union transfer shortly.') ?></p>
                <?php endif; ?>

                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('order_success_message')->toHtml(); ?>
                <p>
                    <?php echo $this->__('Click <a href="javascript:window.print();">here to print</a> a copy of your order confirmation.'); ?>
                </p>
                <p>
                    <?php echo $this->__('You will receive an order confirmation email with details of your order and a link to track its progress.'); ?>
                </p>
            </div>
            <div class="share-this-order">
                <p class="share-this-order-title"><?php echo $this->__('Share your order here!'); ?></p>
                <div class="order-success-share-icons">
                    <a href="#0" onclick="popWin('https://twitter.com/intent/tweet?text=<?php echo urlencode($this->__('I\'ve just ordered from ItsHot!')); ?>&url=<?php echo urlencode(Mage::getBaseUrl()); ?>','compare','top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes')">
                        <img class="social-logo" src="<?php echo $this->getSkinUrl('images/email/twitter_colour.png'); ?>" alt="twitter"/>
                    </a>
                    <a href="#0" onclick="popWin('https://www.facebook.com/sharer.php?u=<?php echo urlencode(Mage::getBaseUrl()); ?>&p[title]=<?php echo urlencode($this->__('I\'ve just ordered from ItsHot!')); ?>','compare','top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes')">
                        <img class="social-logo" src="<?php echo $this->getSkinUrl('images/email/fb_colour.png'); ?>" alt="facebook"/>
                    </a>
                    <a href="#0" onclick="popWin('http://pinterest.com/pin/create/button/?url=<?php echo urlencode(Mage::getBaseUrl()); ?>&description=<?php echo urlencode($this->__('I\'ve just ordered from ItsHot!')); ?>','compare','top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes')">
                        <img class="social-logo" src="<?php echo $this->getSkinUrl('images/email/pinterest_colour.png'); ?>" alt="pinterest" />
                    </a>
                    <a href="#0" onclick="popWin('mailto:?subject=<?php echo urlencode($this->__('I\'ve just ordered from ItsHot!')); ?>&body=<?php echo urlencode(Mage::getBaseUrl()); ?>','compare','top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes')">
                        <img class="social-logo" src="<?php echo $this->getSkinUrl('images/email/email_colour.png'); ?>" alt="email"/>
                    </a>
                </div>
            </div>
        </div>

        <?php echo $this->getChildHtml('order_summary'); ?>
    </div>
</div>
<?php endif; ?>

<?php echo $this->getChildHtml('orderRelatedProduct'); ?>
<img border="0"
     src="https://affiliates.itshot.com/aw.aspx?Task=AddSale&Order_Number=<?php echo $this->escapeHtml($orderId); ?>&Total_Amount=<?php echo $this->getGrandTotal(); ?>&Country=<?php echo $this->getCountry()->getName(); ?>&Optional1=&Optional2=&Optional3=" width="1" height="1">

<!-- begin ShareASale.com affiliate tracking -->
<!-- THIS CODE HAS BEEN MOVED TO GTM -->
<?php /*
$merchantid = "79785";
$sscidmode = 6;
$sscid = ! empty( $_COOKIE['shareasaleMagentoSSCID'] ) ? $_COOKIE['shareasaleMagentoSSCID'] : '';
$orderId = $this->getOrderId();
$order = Mage::getModel('sales/order')->loadByIncrementId($orderId);
$total = $order->getGrandTotal(); //not used
$subtotal = $order->getSubtotal();
$discount = $order->getDiscountAmount();
$affiliateTotal = ($subtotal + $discount);
$ordered_items = $order->getAllVisibleItems();
$skulist = ''; //setup empty skulist param
$pricelist = ''; //setup empty pricelist param
$quantitylist = ''; //setup empty quantitylist param
$last_index = array_search(end($ordered_items), $ordered_items, true);
foreach($ordered_items as $index => $item){
    $delimiter = $index === $last_index ? '' : ',';
    $skulist .= $item->getSku() . $delimiter;
    $quantitylist .= ceil($item->getQtyOrdered()) . $delimiter;
    //append correct item base price, before any kind of cart or product discount
    $pricelist .= ($item->getProduct()->getFinalPrice() - ($item->getDiscountAmount() / $item->getQtyOrdered())) . $delimiter;
}
//Magento has only one customer coupon code allowed, so no comma-separated list to make...
$couponcodes = $order->getCouponCode();
$newcustomer = ''; //setup newcustomer param
$customer = $order->getCustomerId();
if($customer){
    $_orders = Mage::getModel('sales/order')->getCollection()->addFieldToFilter('customer_id', $customer);                       
    $_orderCnt = $_orders->count(); //orders count
    //if customer has more than an order, they're not new. Some developers will use another method, like matching an email address or credit card number.
    $newcustomer = ($_orderCnt > 1 ? 0 : 1);
}
//setup currency code
$currency = $order->getOrderCurrencyCode();
//render pixel below
?>
<img id="_SHRSL_img_1" src="https://shareasale.com/sale.cfm?tracking=<?php echo $orderId ?>&amp;amount=<?php echo $affiliateTotal ?>&amp;transtype=sale&amp;merchantID=<?php echo $merchantid ?>&amp;couponcode=<?php echo $couponcodes ?>&amp;skulist=<?php echo $skulist ?>&amp;quantitylist=<?php echo $quantitylist ?>&amp;pricelist=<?php echo $pricelist ?>&amp;newcustomer=<?php echo $newcustomer ?>&amp;currency=<?php echo $currency ?>&amp;sscid=<?php echo $sscid ?>&amp;sscidmode=<?php echo $sscidmode ?>&amp;v=1.9" width="1" height="1">
<script defer async type="text/javascript" src="https://shareasale-analytics.com/j.js"></script>
<!-- end ShareASale.com affiliate tracking -->
<?php */ ?>