<?php 
$items = $this->getListSaveItem();
$currency_code = Mage::app()->getStore()->getCurrentCurrencyCode();
$currency_symbol = Mage::app()->getLocale()->currency( $currency_code )->getSymbol();
?>
<?php if (count($items)): ?>
<form class="wishlist-form">
        <h2><?php echo $this->__("Saved For Later");?></h2>
        <table  class="cart-table data-table">
            <colgroup>
                <col width="130" />
                <col />
                <col />
                <col />
                <col width="210"/>
            
            </colgroup>
            <thead>
                <tr class="first last">
                    <th rowspan="1"><?php echo $this->__("Product");?></th>
                    <th><span class="nobr"><?php echo $this->__("Details");?></span></th>
                    <th class="cart-price-head" colspan="1">
                        <span class="nobr"><?php echo $this->__("Unit Price");?> </span>
                    </th>
                    <th rowspan="1">
                        <?php echo $this->__("Quantity");?>
                    </th>
                    <th class="cart-total-head" colspan="1"></th>
                </tr>
            </thead>
            <tbody>
                 <?php foreach ($items as $item): $id = $item->getId();?>
                    <tr class="first last odd product-save-item">
                            <td class="product-cart-image">
                                <a href="<?php echo $this->getProductItemUrl($item) ?>">
                                    <img src="<?php echo $this->getProductItemImage($item)  ?>"
                                         alt="<?php echo $this->htmlEscape($item->getProduct()->getName()) ?>" width="113" />
                                </a>
                            </td>
                            <td class="product-info">
                                <h3 class="product-name">
                                    <a href="<?php echo $this->getProductItemUrl($item) ?>"
                                       title="<?php echo $this->htmlEscape($item->getProduct()->getName()) ?>">
                                        <?php echo $this->htmlEscape($item->getProduct()->getName()) ?>
                                    </a>
                                    <?php echo $item->getOptionsHtml() ?>
                                </h3>
                            </td>
                            <td class="product-price">
                                   <?php echo $currency_symbol ?><?php $price = $this->getItemPrice($item);echo $price; ?>
                            </td>
                            <td class="product-qty"><b><?php echo $this->__("Qty");?>: </b><?php echo $item->getQty();?></td>
                            <td class="product-action">
                                <a href="<?php echo $this->getUrl('saveitemforlater/index/removeItem', array('id'=>$id))?>" onclick="return confirm('<?php echo $this->__('Are you sure?') ?>')" class="link-remove" ><?php echo $this->__('Remove') ?></a> | 
                                <a href="<?php echo $this->helper('opentechiz_wishlist')->getAddToCartUrl($id) ?>" class="link-add-to-cart" ><?php echo $this->__('Add to cart') ?></a>
                            </td>
                        </tr>
                <?php endforeach;?>
                
            </tbody>
        </table>
    </form>
<?php endif ?>