<?php 
$partial_payment_id = Mage::app()->getRequest()->getParam('id');
$partial_payment = Mage::getModel('partialpayment/partialpayment')->load($partial_payment_id);
$currency_code = Mage::app()->getStore()->getBaseCurrencyCode();
$ccode=Mage::app()->getLocale()->currency($currency_code )->getSymbol();
 ?>
<?php if($partial_payment->getId()): ?>
 <div class="infomation">
     <table cellspacing="0" class="form-list">
        <tbody>
            <tr>
                <td class="label"><label for="part_number"><?php echo $this->__('# of partial payment') ?><span class="required">*</span></label></td>
                <td class="value">
                    <input id="part_number" name="part_number" value="" class="required-entry validate-number input-text required-entry" type="number">
                </td>
            </tr>
            <tr>
                <td class="label"><label for="start_date"><?php echo $this->__('Start Date') ?><span class="required">*</span></label></td>
                <td class="value">
                    <input id="start_date" name="start_date" value="" class="required-entry input-text required-entry" type="text"> 
                    <img src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>" alt="" class="v-middle" id="start_date_trig" title="Select Date">
                </td>
            </tr>
            <tr>
                <td class="label"><label><?php echo $this->__('The remaining amount') ?></label></td>
                <td class="value"><?php echo $ccode. number_format((float)$partial_payment->getRemainingAmount(), 2, '.', '');?></td>
            </tr>

            <tr>
                <td class="label"> </td>
                <td class="value">
                    <button type='button' onclick="loadDataSplitPayment(this)"><?php echo $this->__('Update') ?></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="grid" id="grid_partialpayment"></div>
<div id="error_partialpayment"></div>

<style type="text/css">
    #grid_partialpayment table{
        width: 27%;
        border: 1px solid #cbd3d4;
    }

    .form-list td.value input.input-text, .form-list td.value textarea{
        width: 150px;
    }
    .infomation{
        padding-bottom: 30px;
    }

</style>
<script type="text/javascript">
    //<![CDATA[

    var editForm = new varienForm('edit_form', '');
    var now = new Date();
    now.setHours(0,0,0,0);
    
    Calendar.setup({
        inputField: 'start_date',
        ifFormat: '%m/%d/%Y',
        button: 'start_date_trig',
        align: 'Bl',
        singleClick: true,
        disableFunc: disabledOldDate,
    });

    function disabledOldDate(date) {
        var now= new Date();
        if(date.getFullYear()   <   now.getFullYear())  { return true; }
        if(date.getFullYear()   ==  now.getFullYear())  { if(date.getMonth()    <   now.getMonth()) { return true; } }
        if(date.getMonth()      ==  now.getMonth())     { if(date.getDate()     <   now.getDate())  { return true; } }
    };
    
    function loadDataSplitPayment(element) {
        var part_number = jQuery('#part_number').val();
        var start_date = jQuery('#start_date').val();
        var date_input = new Date(start_date);
        if (now > date_input || date_input == "Invalid Date") {
            alert('Please enter Satrt date value smallest is the present with format m/d/Y.');
            return false;
        }

        if (part_number > 0 && start_date) {
            jQuery('#popup-window-mask').show();
            jQuery.ajax({
                type: "POST",
                url: "<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/splitpayment/loadDataSplitPayment'); ?>",
                data: {
                    part_number:part_number,
                    start_date:start_date,
                    partial_payment_id: <?php echo $partial_payment_id ?>
                },
                success:function(transport){
                    jQuery('#popup-window-mask').hide();
                    var response = jQuery.parseJSON(transport);
                    if (response.html) {
                        jQuery('#grid_partialpayment').html(response.html);
                        jQuery('#error_partialpayment').html('');
                    }

                    if (response.error) {
                        jQuery('#error_partialpayment').html(response.error);
                        jQuery('#grid_partialpayment').html('');
                    }
                    
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    jQuery('#popup-window-mask').hide();
                }
            });
        }else{
            alert('Please enter Part number (Part Number is an integer greater than 0) and Start date.');
        }
    }

    function submitFormEvent(ele,url)
    {
        var is_allow_submit = true;
        if (jQuery('input.installment_due_date').length) {
            jQuery('input.installment_due_date').each(function(){
                var value = jQuery(this).val();
                var date_input = new Date(value);
                if (now > date_input || date_input == "Invalid Date") {
                    alert('Please enter Due date value smallest is the present '+ value +'.');
                    is_allow_submit = false;
                    return false;
                }
            });

            if (is_allow_submit) {
                editForm.submit(url);
            }
        }else{
            alert('Please enter Part number (Part Number is an integer greater than 0) and Start date. Click button Update.');
        }
        
        return false;
    }

    //]]>
</script>
<?php endif; ?>