<?php
$fields = array();
$session = Mage::getSingleton('customer/session');
$symbol = Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();
$product = $this->getCurrentProduct();

if ($session->isLoggedIn()) {
    $customer = $session->getCustomer();
    $fields['first_name'] = $customer->getFirstname();
    $fields['last_name'] = $customer->getLastname();
    $fields['email'] = $customer->getEmail();
    $fields['phone'] = $customer
//        ->getPrimaryBillingAddress()
        ->getTelephone();
} else {
    $fields['first_name'] = '';
    $fields['last_name'] = '';
    $fields['email'] = '';
    $fields['phone'] = '';
}
?>
<!-- fpc_quotation_form_begin -->
<div class="quotation_form">
    <fieldset>
        <form id="quotationForm" action="<?php echo $this->getUrl('quotation/index/saveQuotation', array()) ?>"
              method="POST" enctype="multipart/form-data">
            <table class="quote-table-form">
                <tr>
                    <td>
                        <label for="first_name" class="required"><?php echo $this->__('First name') ?></label>
                    </td>
                    <td>
                        <input type="text" name="first_name" title="First Name" class="input-text required-entry"
                               style="width: 100%" value="<?php echo $fields['first_name']; ?>">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="last_name" class="required"><?php echo $this->__('Last name') ?></label>
                    </td>
                    <td>
                        <input type="text" name="last_name" title="Last Name" class="input-text required-entry"
                               style="width: 100%" value="<?php echo $fields['last_name']; ?>">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="email" class="required"><?php echo $this->__('Email') ?></label>
                    </td>
                    <td>
                        <input type="text" name="email" title="Email" class="input-text required-entry validate-email"
                               style="width: 100%" value="<?php echo $fields['email']; ?>">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="phone" class="required"><?php echo $this->__('Telephone') ?></label>
                    </td>
                    <td>
                        <input type="text" name="phone" title="Telephone" class="input-text required-entry" style="width: 100%"
                               value="<?php echo $fields['phone']; ?>">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><?php echo $this->__('Price Range') ?></label>
                    </td>
                    <td>
                        <span><?php echo $this->__('From:')?></span>
                        <input type="number" name="price_range_from" class="input-text" style="width: 20%"
                               value="">
                        <?php echo $symbol.'     ' ?>
                        <span style=" margin-left:20%"><?php echo $this->__('To:')?></span>
                        <input type="number" name="price_range_to" class="input-text" style="width: 20%;"
                               value="" >
                        <?php echo $symbol.'     ' ?>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="size"><?php echo $this->__('Size') ?></label>
                    </td>
                    <td>
                        <input type="number" name="size" title="Size" class="input-text" style="width: 100%"
                               value="">
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                        <label for="metal"><?php echo $this->__('Metal') ?></label>
                    </td>
                    <td>
                        <select name="metal" title="Metal" class="input-text" style="width: auto">
                            <option value=""><?php echo $this->__('-- Please Select --') ?></option>
                            <option value="Sterling Silver"><?php echo $this->__('Sterling Silver') ?></option>
                            <option value="10k Gold"><?php echo $this->__('10k Gold') ?></option>
                            <option value="14k Gold"><?php echo $this->__('14k Gold') ?></option>
                            <option value="18k Gold"><?php echo $this->__('18k Gold') ?></option>
                            <option value="Platinum"><?php echo $this->__('Platinum') ?></option>
                            <option value="I don't know"><?php echo $this->__('I don\'t know') ?></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                        <label for="stone"><?php echo $this->__('Stones') ?></label>
                    </td>
                    <td>
                        <select type="text" name="stone" title="Stone" class="input-text" style="width: auto">
                            <option value=""><?php echo $this->__('-- Please Select --') ?></option>
                            <option value="Diamonds"><?php echo $this->__('Diamonds') ?></option>
                            <option value="CZ"><?php echo $this->__('CZ') ?></option>
                            <option value="Gemstones"><?php echo $this->__('Gemstones') ?></option>
                            <option value="Other"><?php echo $this->__('Other') ?></option>
                            <option value="No Stones"><?php echo $this->__('No Stones') ?></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                        <label for="description"><?php echo $this->__('Description') ?></label><br/>
                    </td>
                    <td>
                            <textarea name="description" class="input-text textarea" title="Description"
                                      style="min-width: 100%; min-height: 100%"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="image"><?php echo $this->__('Upload images') ?></label><br/>
                    </td>
                </tr>
                <tr class="wrapper-tr">
                    <td class="value">
                        <input class="quote-images" type="file" name="images">
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <span class="remove button" style="cursor: pointer; margin-top: 10px">&#215; Remove</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="hidden" name="product_id" value="<?php if($product && $product->getId()) echo $product->getId() ?>">
                    </td>
                    <td>
                        <?php echo $this->getChildHtml('studioforty9.recaptcha.explicit'); ?>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="button form-button" type="submit" name="submit" style="width: 100%; margin-top: 10px"><?php echo $this->__('SEND') ?></button>
                    </td>
                </tr>
            </table>
        </form>
    </fieldset>
</div>

<style>
    .quote-table-form {
        width: 100%;
    }

    .quote-table-form tr {
        display: flex;
        flex-direction: column;
    }

    .quote-table-form tr td {
        width: 100%;
    }

    .recaptcha {
        margin-top: 10px;
    }
</style>
<!-- fpc_quotation_form_end -->
<script type="text/javascript">
    //< ![CDATA[
    var quotationForm = new VarienForm('quotationForm');

    jQuery(document).ready(function ($) {
        $('.remove').on('click', function (e) {
            var element = jQuery('.quote-images');
            element.wrap('<form>').closest('form').get(0).reset();
            element.unwrap();
        });
    });
    //]]>
</script>
