<div class="tab-quotation-content">
    <div class="description-quotation">
        <p>Please fill in the information necessary for the process of your request.</p>
        <p><strong>How Does It Work?</strong></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequuntur deleniti dolor id laudantium
            repellendus totam! Alias architecto at consequatur delectus dolorem doloremque, impedit iure porro qui
            similique, unde veritatis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus alias
            aperiam
            assumenda commodi culpa cum ducimus ea eaque earum maiores minima, nam nobis quia sint tenetur voluptatem?
            Hic,
            sapiente.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab blanditiis debitis deserunt dignissimos iusto
            laudantium necessitatibus nesciunt nobis saepe soluta. Cupiditate dolor expedita sapiente temporibus vitae!
            Consequatur esse sequi voluptatem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur,
            dolores dolorum facilis ipsum laboriosam magnam maxime nesciunt pariatur voluptate voluptatum? Ab alias eos
            eum
            facere itaque molestias quam. Inventore, officia!</p>
    </div>
    <?php echo $this->getChildHtml('quotation.form')?>
</div>