<?php
$quoteId = $this->getRequest()->getParam('id');
$allStatus = Mage::helper('opentechiz_quotation')->getAllStatusQuotation();
$quoteModel = Mage::getModel('opentechiz_quotation/quotations');
$quote = $quoteModel->load($quoteId);
$productId = $quote->getProductId();
$commentModel = Mage::getModel('opentechiz_quotation/comments');
$comments = $commentModel->getCollection()->addFieldToFilter('quotation_id', array('eq' => $quoteId))->setOrder('id', 'DESC');;
$allQuoteIds = $quoteModel->getCollection()->getAllIds();
$customer = Mage::getSingleton('customer/session')->getCustomer();
$customerData = Mage::getModel('customer/customer')->load($customer->getId())->getData();
$optionModel = Mage::getModel('opentechiz_quotation/productOption');
$quoteProduct = Mage::getModel('opentechiz_quotation/product')->getCollection()->addFieldToFilter('quote_id', $quote->getId())->getData();
$optionCollection = $optionModel->getCollection()->addFieldToFilter('quote_product_id', $quoteProduct[0]['quote_product_id']);
$image = $this->_getQuoteProductImage($quoteProduct[0]['quote_product_id']);
?>
<div class="my-account">
    <div class="cmt dashboard">
        <div class="page-title">
            <h1>Quotation Detail</h1>
        </div>
        <div class="page-content">
            <div class="main-info">
                <h3><?php echo $this->_getProductName($productId); ?></h3>
            </div>
            <table>
                <tr>
                    <td>
                        <img src='<?php echo $image ?>' width="180" height="180" style="margin: 20px 0">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="label-quote"><strong>Status:</strong></label>
                    </td>
                    <td>
                        <label class="status"><?php echo $allStatus[$quote->getStatus()]; ?></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="label-quote"><strong>Created: </strong></label>
                    </td>
                    <td>
                        <label class="created"><?php echo Mage::helper('core')->formatDate($quote->getRequestTime(), Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM, true); ?></label>
                    </td>
                </tr>
            </table>
            <?php if ($optionCollection->count() > 0) { ?>
                <table id="options-table">
                    <thead>
                    <tr>
                        <th class="option-type">Option Type</th>
                        <th class="option-name">Option Name</th>
                        <th class="option-value">Value</th>
                        <th class="option-quantity">Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php
                    if ($quote->getId()) {
                        foreach ($optionCollection as $op) {
                            echo '<tr>';
                            echo '<td class="option-type">' . ucwords($op->getOptionType()) . '</td>';
                            echo '<td class="option-name">' . $op->getOptionName() . '</td>';
                            $this->_getOptionValue($op->getOptionValue(), $op);
                            echo '<td class="option-quantity">' . $op->getQty() . '</td>';
                            echo '</tr>';
                        }
                    }
                    ?>
                    </tbody>
                </table>
            <?php } ?>
        </div>
        <div class="quote-detail-tabs">
            <ul class="detail-tabs">
                <li class="tab-link current" data-tab="tab-1">Comments</li>
            </ul>

            <div id="tab-1" class="tab-content current">
                <?php if ($comments->count() != 0) {
                    echo '';
                    foreach ($comments->getData() as $item) {
                        echo '<div class="message">';
                        echo '<label><strong>' . Mage::helper('core')->formatDate($item['created_at'], Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM, true) . ' (' . $item['user'] . ')</strong></label><br />';
                        echo '<label>' . $item['message'] . '</label>';
                        echo '</div>';
                    }
                    echo '';
                } else {
                    echo "<label>There are no comments</label>";
                } ?>
                <div class="comment-form">
                    <form method="post" action="<?php echo $this->getUrl('*/*/saveComment'); ?>">
                        <textarea placeholder="Enter comments..." name="message"></textarea><br/>
                        <input class="quote-id" name="quotation_id" value="<?php echo $quoteId; ?>">
                        <input class="quote-user" name="user" value="<?php echo $this->_getCustomerEmail(); ?>">
                        <button type="submit" class="button" title="Send your comments">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>