<?php
$session = Mage::getSingleton('customer/session');
if ($session->isLoggedIn()) {
    $customer = $session->getCustomer();
    $customerId = $customer->getId();
}
$allQuotes = $this->_getAllQuotation($customerId);
$allStatus = Mage::helper('opentechiz_quotation')->getAllStatusQuotation();
?>
<div class="my-account">
    <div class="cmt dashboard">
        <div class="page-title">
            <h1>My Quotations</h1>
        </div>
        <div class="comment-history">
            <div class="container">
                <table id="quote-table-head">
                    <thead>
                    <tr>
                        <td class="title-id" style="text-align: center">ID #</td>
                        <td class="title-name" style="text-align: left">Quote Name</td>
                        <td class="title-created" style="text-align: left">Request Time</td>
                        <td class="title-status" style="text-align: left">Status</td>
                        <td class="title-action" style="text-align: left">Action</td>
                    </tr>
                    </thead>
                </table>
                <div class="quote-table-body-wrap">
                    <table id="quote-table-body">
                        <tbody>
                        <?php foreach ($allQuotes as $item) {
                            echo "<tr>";
                            echo '<td class="id">' . $item['quote_id'] . '</td>';
                            echo '<td class="name">' . $this->_getProductName($item['product_id']) . '</td>';
                            echo '<td class="created">' . Mage::helper('core')->formatDate($item['request_time'], Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM, true) . '</td>';
                            echo '<td class="status">' . $allStatus[$item['status']] . '</td>';
                            echo '<td class="action"><a href="'. Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) .'quotation/view/detail?id='. $item['quote_id'] .'">View</a></td>';
                            echo "</tr>";
                        } ?>
                        </tbody>
                    </table>
                </div>
                <table id="quote-table-total">
                    <tr class="total">
                        <td>
                            <?php echo $allQuotes->count() ?> Item(s)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>