<?php
$_product = $this->getItem();
$_helper = $this->helper('catalog/output');
?>
<li data-url="<?php echo $_product->getUrl() ?>">
    <a class="name highlight" href="<?php echo $_product->getUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
        <?php echo strtolower($_product->getName()) ?></a>
</li>