<?php $product = $this->getCurrentProduct();?>
<?php if(!is_null($product)):?>
    <?php $getPrice =  $product->getPrice();?>
    <?php $final_price = $product->getFinalPrice();

    ?>
    <?php if($getPrice >$final_price):?>
        <?php if((float)$final_price  < 17000):?>
        <div class="op-affirm-block">
             <li>Starting at $<span class="op-mar-price">00</span>/mo with</li> 
             <div class="op-img">
                <img src="<?php echo  $this->getSkinUrl("images/affirm/affirm-icon.png");?>">
            </div> 
            <li>.</li>
             <li><a class="op-now"><?php echo $this->__("PREQUALIFY NOW");?> </a></li> 
        </div>
        <?php elseif ((float)$final_price  >= 17000 && (float)$final_price <= 30000):?>
        <div class="op-affirm-block-gt"> 
            <li><?php echo $this->__("Buy with");?></li> 
            <div class="op-img"><img src="<?php echo  $this->getSkinUrl("images/affirm/affirm-icon.png");?>"></div> 
            <li>.</li> 
        </div>
        <?php endif;?>   
    <?php elseif($getPrice <= $final_price):?>   
        <?php if((float)$getPrice  < 17000):?>
        <div class="op-affirm-block">
             <li>Starting at $<span class="op-mar-price">00</span>/mo with</li> 
             <div class="op-img">
                <img src="<?php echo  $this->getSkinUrl("images/affirm/affirm-icon.png");?>">
            </div> 
            <li>.</li>
             <li><a class="op-now"><?php echo $this->__("PREQUALIFY NOW");?> </a></li> 
        </div>
        <?php elseif ((float)$getPrice  >= 17000 && (float)$getPrice <= 30000):?>
        <div class="op-affirm-block-gt"> 
            <li><?php echo $this->__("Buy with");?></li> 
            <div class="op-img"><img src="<?php echo  $this->getSkinUrl("images/affirm/affirm-icon.png");?>"></div> 
            <li>.</li> 
        </div>
        <?php endif;?>   
    <?php endif;?>  
<?php endif;?>                                

