<?php $_order = $this->getOrder();

 ?>
<?php
$customerId = $_order->getCustomerId();
$_note = Mage::getModel('opentechiz_customernotes/note')
    ->getCollection()
    ->setOrder('note_id', 'DESC')
    ->addFieldToFilter('customer_id', array('eq' => $customerId))
    ->getData();
$userModel = Mage::getModel('admin/user');
?>
<?php if($_note):?>
<div class="box-left">
<div class="entry-edit">
    <div class="entry-edit-head"><h4
                class="icon-head head-customer-view"><?php echo Mage::helper('customer')->__('Notes from Customer Page as of Today() - For Reference purposes only') ?></h4></div>
    <fieldset class="box-customer-note">
        <div class="box-note">
            <input name="op_customer_note" type="checkbox" id="op_customer_note" value="1" checked><label class="normal" for="op_customer_note">User Comments</label>
            <input name="op_system_note" type="checkbox" id="op_system_note" value="1" checked><label class="normal" for="op_system_note"> System Comments</label>                                    
        </div>
        <div class="box-note-content">
            <?php
            foreach ($_note as $comment) { ?>
                <table width="100%" style="border-bottom: 1px solid #d6d6d6" <?php if(isset($comment['user_id']) && $comment['user_id'] != 0):?> class="customer-note" <?php else:?>class="system-note"<?php endif;?> >
                    <tr>
                        <td  style="display: flex; justify-content: space-between">
                            <td>
                                <?php $comment['note_content'] = str_replace("\n","<br/>",$comment['note_content']);?>
                                
                                <p><strong><?php echo $comment['created_at'];?></strong></p>
                                <p><strong><?php echo $this->__("Comment:");?> </strong></p>
                                
                                <?php if(isset($comment['user_id']) && $comment['user_id'] != 0):?>
                                    <p><?php echo $comment['note_content'];?> </p>
                                    <p><?php echo $this->__("Created by");?> <strong><?php echo $userModel->load($comment['user_id'])->getUsername();?></strong></p>
                                <?php else:?>
                                    <p><?php echo $comment['note_content'];?> </p>
                                    <p><?php echo $this->__("Created by");?> <strong><?php echo $this->__("System");?></strong></p>
                               <?php endif;?>
                            </td>

                        </td>
                    </tr>
                </table>
            <?php }
            ?>
        </div>
        
    </fieldset>
</div>
</div>
<?php endif;?>