<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Giftregistry
 */
?>
<?php /* @var $this Amasty_Giftregistry_Block_Password */?>
<?php /* @var $_event Amasty_Giftregistry_Model_Event */?>

<?php $_event = $this->getEvent(); ?>
	<div class="page-head button-level">
		<h3>
			<?php echo $_event->getEventTitle() ?>
		</h3>
	</div>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<?php
$form2 = new Varien_Data_Form(array(
	'id'=> 'form-validate',
	'action' => $this->getUrl('*/*/*', array('id'=>$_event->getId())),
	'method' => 'post',
));
$form2->setUseContainer(true);


$form = new Amasty_Giftregistry_Block_Form_Element_Fieldset(array(
	//'legend' => $this->__('Create Registry'),
	'class' =>  'fieldset',
));

$renderer = new Amasty_Giftregistry_Block_Renderer_Field();
//$form->setElementRenderer($renderer);
Varien_Data_Form::setFieldsetElementRenderer($renderer);


$form->addField('password', 'text',
	array(
		'label' => $this->__('Please, enter password'),
		'required'=>false,
		'value' => '',
		'name' => 'password',
	)
);
$form->addField('submit', 'submit',
	array(
		'label' => ' ',
		'value' => $this->__('Go'),
		'class' => 'button',
	)
);

$form2->addElement($form);

echo $form2->toHtml();

?>
<script type="text/javascript">
	//<![CDATA[
	var dataForm = new VarienForm('form-validate', true);
	//]]>
</script>