<?php
$_helper = $this->helper('catalog/output');
echo $this->getLayout()->createBlock('core/messages')->toHtml();
$list_order = $this->getListOrder();
?>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml(); ?></div>
<div class="testimonials">
    <div class="page-title">
        <h1><?php echo $this->__('ItsHot CUSTOMER REVIEWS'); ?></h1>
        <?php if(!empty($list_order)):?>
        <div class="add-review">
            <a href="#review-popup" class="button-review btn-short js-review" rel="nofollow"><?php echo $this->__("Write a review");?></a>
        </div>
    <?php endif;?>
    </div>
    <div class="testimonial-list">
        <?php
        /* @var $this OpenTechiz_Review_Block_Testimonials */
        $_collections = $this->getTestimonials();
        $_productCollection = $this->getCollection($_collections);
        foreach ($_collections as $_product):
            $arry = explode(' ', $_product->getName());
            $firstname = $arry[0];
            ?>
            <div class="client">
                <div class="review-meta">
                    <strong>Review by:</strong> <span><?php echo $firstname?></span>
                    <strong style="padding-left:10px">Created on:</strong> <?php echo date('jS M, Y', strtotime($_product->getData('created_time'))) ?>
                </div>
                <div class="ratings">
                    <?php echo $this->helper('opentechiz_review')->getStarRatingHtml($_product->getRating() * 20, 24) ?>
                </div>
                <div class="content">
                    <p><?php echo '&ldquo;' . $_product->getContent() . '&rdquo;'; ?></p>
                </div>
                <?php if ($_product->getOrderId() && $items = $this->getAllItems($_product->getOrderId())): ?>
                    <ul class="testimonial-items">
                        <?php
                        foreach ($items as $_p):
                            ?>
                            <li class="testimonial-item">
                                <a href="<?php echo $_p->getProductUrl() ?>" title="<?php echo $this->stripTags($_p->getName()) ?>" class="product-image">
                                    <img 
                                        class="lazy"
                                        data-src="<?php echo $this->helper('catalog/image')->init($_p, 'small_image')->resize(120); ?>"
                                        src="<?php echo $this->getSkinUrl('images/mgt_lazy_image_loader/loader.gif'); ?>"
                                        alt="<?php echo $this->stripTags($_p->getName()) ?>" />
                                </a>
                                <div class="product-info" style="margin-top: 10px">
                                    <h3 class="product-name"><a href="<?php echo $_p->getProductUrl() ?>" title="<?php echo $_p->getName() ?>"><?php echo $_helper->productAttribute($_p, $_p->getName(), 'name') ?></a></h3>
                                </div>
                            </li>
                            <?php
                        endforeach;
                        ?>
                    <?php endif ?>
                </ul>
            </div>
        <?php endforeach; ?>
    </div>
    <?php if ($this->getPagerHtml($this->getTestimonials())): ?>
        <div class="toolbar">
            <?php echo $this->getPagerHtml($this->getTestimonials()); ?>
        </div>
    <?php endif; ?>
</div>
<script type="text/javascript">
    jQuery("#customer-review").click(function () {
        jQuery("#div-customer-review-content").toggle('slow');
    });
</script>
<div id="review-popup" class="review-popup mfp-hide">

<form action="<?php echo $this->getFormAction(); ?>" id="testimonialForm" method="post">
    <div class="fieldset">
        <h2 class="legend"><?php echo Mage::helper('testimonials')->__('Testimonial Information'); ?><span style="margin-left:5px; font:12px Arial,Helvetica,sans-serif;" id="pspoint">(Earn <b>500 Reward Points</b> for writing a review!)</span></h2>
        <ul class="form-list">
            <li class="fields">
                <div class="field">
                    <label for="name" class="required"><em>*</em><?php echo Mage::helper('testimonials')->__('Name'); ?></label>
                    <div class="input-box">
                        <input name="name" id="name" title="<?php echo Mage::helper('testimonials')->__('Name'); ?>" class="input-text required-entry" type="text" value="<?php echo Mage::getSingleton('customer/session')->getCustomer()->getName(); ?>" />
                    </div>
                </div>
                <div class="field">
                    <label for="email" class="required"><em>*</em><?php echo Mage::helper('testimonials')->__('Email'); ?></label>
                    <div class="input-box">
                        <input name="email" id="email" title="<?php echo Mage::helper('testimonials')->__('Email'); ?>" class="input-text required-entry validate-email" type="text" value="<?php echo Mage::getSingleton('customer/session')->getCustomer()->getEmail(); ?>" />
                    </div>
                </div>
                <div class="field">
                    <label for="rating" class="required"><em>*</em><?php echo Mage::helper('testimonials')->__('Rating'); ?></label>
                    <div class="input-box">
                        <select name="rating" id="rating" title="<?php echo Mage::helper('testimonials')->__('Rating'); ?>" class="input-text required-entry">
                            <option value=''>Select Rating</option>
                            <option value='1'>1</option>
                            <option value='2'>2</option>
                            <option value='3'>3</option>
                            <option value='4'>4</option>
                            <option value='5'>5</option>
                        </select>
                    </div>
                </div>
                <?php if(!empty($list_order)):?>
                <div class="field">
                    <label for="order_id" class="required"><em>*</em><?php echo Mage::helper('testimonials')->__('Order Number'); ?></label>
                    <div class="input-box">
                        <select name="order_id" id="order_id" title="<?php echo Mage::helper('testimonials')->__('Order Number'); ?>" class="input-text required-entry">
                            <option value=''><?php echo $this->__("Select Order Number");?></option>
                            <?php foreach($list_order as $k =>$order):?>
                                    <option value='<?php echo $k;?>'><?php echo $order;?></option>
                            <?php endforeach;?>
                        </select>
                    </div>
                </div>
                <?php endif;?>
            </li>
            <li class="wide">
                <label for="content" class="required"><em>*</em><?php echo Mage::helper('testimonials')->__('Your Testimonial'); ?></label>
                <div class="input-box">
                    <textarea name="content" id="content" title="<?php echo Mage::helper('testimonials')->__('Your Testimonial'); ?>" class="required-entry input-text" cols="5" rows="3"></textarea>
                </div>
            </li>

        </ul>
    </div>
    <div id="testi-button" style="clear:both;">
        <!--<p class="required"><?php echo Mage::helper('testimonials')->__('* Required Fields'); ?></p>-->
        <button type="submit" title="<?php echo Mage::helper('testimonials')->__('Submit'); ?>" class="button" <?php if(!Mage::helper('customer')->isLoggedIn()) { ?>onclick="socialLogin.open(); return false;"<?php } ?>><span><span><?php echo Mage::helper('testimonials')->__('Submit'); ?></span></span></button>
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var testimonialForm = new VarienForm('testimonialForm', true);
//]]>
</script>

</div>