<?php $isLogin = $this->helper('customer')->isLoggedIn()?>

<?php if(!$isLogin){?>
<button id="bt-loginfq" class="bt-login-social" title="<?php echo $this->__('Login by FoursQuare') ?>" onclick="fqLogin()">
	<span><span><?php echo $this->__('FoursQuare Sign in') ?></span></span>
</button>
<script type="text/javascript">
    var newwindow;
    var intId;
    function fqLogin(){
        var  screenX    = typeof window.screenX != 'undefined' ? window.screenX : window.screenLeft;
        var	 screenY    = typeof window.screenY != 'undefined' ? window.screenY : window.screenTop;
        var	 outerWidth = typeof window.outerWidth != 'undefined' ? window.outerWidth : document.body.clientWidth;
        var	 outerHeight = typeof window.outerHeight != 'undefined' ? window.outerHeight : (document.body.clientHeight - 22);
        var	 width    = 960;
        var	 height   = 520;
        var	 left     = parseInt(screenX + ((outerWidth - width) / 3), 10);
        var	 top      = parseInt(screenY + ((outerHeight - height) / 2.5), 10);
        var	 features = (
                'width=' + width +
                ',height=' + height +
                ',left=' + left +
                ',top=' + top
              );
    
        newwindow=window.open('<?php echo $this->getFqLoginUrl() ?>','Login_by_foursquare',features);
    
        if (window.focus) {
            newwindow.focus()
        }
        $('magestore-login-social').style.display = "none";
        $('sociallogin-other-a-popup').style.display = "none";
        $('magestore-popup').style.width="auto";



        return false;
    }
	function opensocialLogin(){
		javascript:socialLogin.open();
	}
    </script>
<?php }?>