<?php $isLogin = $this->helper('customer')->isLoggedIn()?>
<?php if(!$isLogin){?>
<button id="bt-logingo" class="bt-login-social" title="<?php echo $this->__('Login by Google') ?>" onclick="goLogin()">
	<span><span><?php echo $this->__('Google Sign in') ?></span></span>
</button>
<script type="text/javascript">
var newwindow;
var intId;
function goLogin(){
	var  screenX    = typeof window.screenX != 'undefined' ? window.screenX : window.screenLeft;
	var	 screenY    = typeof window.screenY != 'undefined' ? window.screenY : window.screenTop;
	var	 outerWidth = typeof window.outerWidth != 'undefined' ? window.outerWidth : document.body.clientWidth;
	var	 outerHeight = typeof window.outerHeight != 'undefined' ? window.outerHeight : (document.body.clientHeight - 22);
	var	 widthgg    = 500;
	var	 heightgg   = 600;
	var	 leftgg     = parseInt(screenX + ((outerWidth - widthgg) / 2), 10);
	var	 topgg      = parseInt(screenY + ((outerHeight - heightgg) / 2.5), 10);
	var	 features = (
			'width=' + widthgg +
			',height=' + heightgg +
			',left=' + leftgg +
			',top=' + topgg
		  );

	newwindow=window.open('<?php echo $this->getLoginUrl() ?>','Login_by_google',features);

	if (window.focus) {
		newwindow.focus()
	}
	return false;
}
</script>
<?php }?>