<?php $isLogin = $this->helper('customer')->isLoggedIn();?>

<?php if(!$isLogin){?>
	<button id="bt-loginins" class="bt-login-social" title="<?php echo $this->__('Login by Instagram') ?>" onclick="instagram()">
	<span><span><?php echo $this->__('Instagram Sign in') ?></span></span>
</button>
    <script type="text/javascript">
    var newwindow;
    var intId;
    function instagram(){
        var  screenXins    = typeof window.screenX != 'undefined' ? window.screenX : window.screenLeft;
        var	 screenYins    = typeof window.screenY != 'undefined' ? window.screenY : window.screenTop;
        var	 outerWidthins = typeof window.outerWidth != 'undefined' ? window.outerWidth : document.body.clientWidth;
        var	 outerHeightins = typeof window.outerHeight != 'undefined' ? window.outerHeight : (document.body.clientHeight - 22);
        var	 widthins    = 500;
        var	 heightins   = 510;
        var	 leftins     = parseInt(screenXins + ((outerWidthins - widthins) / 2), 10);
        var	 topins      = parseInt(screenYins + ((outerHeightins - heightins) / 2.), 10);
        var	 featuresins = (
                'width=' + widthins +
                ',height=' + heightins +
                ',left=' + leftins +
                ',top=' + topins
              );
    
        newwindow=window.open('<?php echo $this->getInstagramLoginUrl() ?>','Login_by_instagram',featuresins);
    
        if (window.focus) {
            newwindow.focus()
        }
        return false;
    }
    </script>
   
<?php }?>