<?php $isLogin = $this->helper('customer')->isLoggedIn()?>
<?php if(!$isLogin){?>
<button id="bt-loginper" class="bt-login-social" title="<?php echo $this->__('Login by Persona') ?>" onclick="perLogin()">
	<span><span><?php echo $this->__('Persona Sign in') ?></span></span>
</button>
<script src="https://login.persona.org/include.js">/*thu vien js cua persona*/</script>
<script type="text/javascript">
    var newwindow;
    var intId;
    function perLogin(){
        /*
		var  screenX    = typeof window.screenX != 'undefined' ? window.screenX : window.screenLeft;
        var	 screenY    = typeof window.screenY != 'undefined' ? window.screenY : window.screenTop;
        var	 outerWidth = typeof window.outerWidth != 'undefined' ? window.outerWidth : document.body.clientWidth;
        var	 outerHeight = typeof window.outerHeight != 'undefined' ? window.outerHeight : (document.body.clientHeight - 22);
        var	 width    = 500;
        var	 height   = 520;
        var	 left     = parseInt(screenX + ((outerWidth - width) / 2), 10);
        var	 top      = parseInt(screenY + ((outerHeight - height) / 2.5), 10);
        var	 features = (
                'width=' + width +
                ',height=' + height +
                ',left=' + left +
                ',top=' + top
              );
		
        newwindow=window.open('<?php echo $this->getPerLoginUrl() ?>','Login_by_persona',features);
        if (window.focus) {
            newwindow.focus()
        }
		*/
		navigator.id.logout();
		navigator.id.watch({
		loggedInUser: '',
		// sau khi login
		onlogin: function(assertion) {
			window.location = "<?php echo $this->getPerLoginUrl()?>"+"?assertion="+assertion+"";
		},
		onlogout: function() {
			
		}
	});
		navigator.id.request();
	
        return false;
    }
	
    </script>
<?php }?>