<?php
$quoteId = $this->getRequest()->getParam('id');
$commentModel = Mage::getModel('opentechiz_quotation/comments');
$comments = $commentModel->getCollection()->addFieldToFilter('quotation_id', array('eq' => $quoteId))->setOrder('id', 'DESC');;
$user = Mage::getSingleton('admin/session');
$userName = $user->getUser()->getUsername();
?>
<div class="entry-edit">
    <div class="entry-edit-head"><h4
                class="icon-head head-customer-view"><?php echo Mage::helper('customer')->__('Write Comments') ?></h4>
    </div>
    <fieldset>
        <div style="width: 50%">
            <form method="post" action="<?php echo $this->getUrl('*/*/saveComments'); ?>">
                <table cellspacing="2" class="box-comment">
                    <tr>
                        <label for="custom_field">Comments</label>
                    </tr>
                    <tr>
                <textarea id="comment-editor" name="message"
                          style="width: 100%; resize: none; height: 100px"></textarea>
                    </tr>
                    <tr>
                        <input value="<?php echo $userName; ?>" style="display: none" name="user">
                    </tr>
                    <tr>
                        <input value="<?php echo $quoteId; ?>" style="display: none" name="quotation_id">
                    </tr>
                    <tr>
                        <button id="comment-button" type="submit" style="float: right">Submit Comment
                        </button>
                    </tr>
                </table>
            </form>
        </div>
    </fieldset>
</div>
<div class="entry-edit">
    <div class="entry-edit-head"><h4
                class="icon-head head-customer-view"><?php echo Mage::helper('customer')->__('List Comments') ?></h4>
    </div>
    <fieldset>
        <?php
        foreach ($comments as $item) { ?>
            <table width="100%" style="border-bottom: 1px solid #d6d6d6">
                <tr>
                    <td>
                        <?php echo '<p><strong>' . Mage::helper('core')->formatDate($item['created_at'], Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM, true) . '</strong></p>';
                        echo '<p><strong>Comment: </strong>' . $item['message'] . '</p>';
                        echo '<p>Created by <strong>' . $item['user'] . '</strong></p>' ?>
                    </td>
                </tr>
            </table>
        <?php }
        ?>
    </fieldset>
</div>