<?php $products = $this->getProducts(); ?>
<div class="content-header">
    <table cellspacing="0">
        <tbody>
        <tr>
            <td style="width:50%;"><h3 class="icon-head head-report-sold-refunded">Custom Out of Stock set to No Product list</h3></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="grid">
    <div class="hor-scroll">
        <table class="data" cellspacing="0" border="1">
            <thead>
                <tr class="headings">
                    <th><b>Product Id</b></th>
                    <th><b>SKU</b></th>
                </tr>
            </thead>

            <tbody>
            <?php foreach ($products as $product): ?>
                <tr>
                    <td>
                        <?php echo $product->getId() ?>
                    </td>
                    <td>
                        <?php echo $product->getSku() ?>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>
