<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
    <?php
    $attributeSetModel = Mage::getModel("eav/entity_attribute_set");
    $attributeSetCollection = $attributeSetModel->getCollection();
    $personalizedAttributeSetId = 0;
    $_imgSize = 210;
    foreach ($attributeSetCollection as $set){
        $attributeSetName  = $set->getAttributeSetName();
        if(str_replace(' ', '', strtolower($attributeSetName)) == 'personalizedproduct' ){
            $personalizedAttributeSetId = $set->getAttributeSetId();
            break;
        }
    }
    ?>
    <?php $categoryName = Mage::registry('current_category') ? 'in ' . Mage::registry('current_category')->getName() : ''; ?>
    <div class="category-new-products">
        <?php echo $this->getChildHtml('catalog.compare.sidebar.right') ?>
        <div class="category-new-wrapper">
            <h2 class="h2 bordered-title bordered-title-center"><?php echo $this->__('Newest') ?> <?php echo $categoryName; ?></h2>
            <?php $_columnCount = $this->getColumnCount(); ?>
            <?php $i=0; foreach ($_products->getItems() as $_product): ?>
                <?php $isPersonalized = false; ?>
                <?php if($_product->getAttributeSetId() == $personalizedAttributeSetId){
                    $isPersonalized = true;
                    $_product = Mage::getModel('catalog/product')->load($_product->getId());
                } ?>
            <?php if($_product->getSku() == 'quotation' || $_product->getSku() == 'mw_virtual_surcharge') continue; ?>
            <?php if ($i++%$_columnCount==0): ?>
                <ul class="products-grid">
            <?php endif ?>
            <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>" class="product-image"><img class="lazy" data-src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_imgSize); ?>" src="<?php echo $this->getSkinUrl('images/mgt_lazy_image_loader/px.gif'); ?>" width="210" height="210" alt="<?php echo $this->escapeHtml($_product->getName()) ?>" /></a>
                <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>"><?php echo $this->escapeHtml($_product->getName()) ?></a></h3>
                <?php if ($_product->getData('c2c_call_for_price') !== '1') : ?>
                    <?php echo $this->getPriceHtml($_product, false, '-new', $isPersonalized) ?>
                <?php else: ?>
                    <p class="price-contact-notice"><?php echo $this->__('Please contact us for price and availability') ?></p>
                <?php endif; ?>
                <div class="actions">
                    <?php if($_product->isSaleable()): ?>
                        <a title="<?php echo $this->quoteEscape($this->__('View Details')) ?>" class="button btn-short" href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__('View Now') ?></a>
                        <?php if($_product->getAttributeSetId() != $personalizedAttributeSetId): ?>
                            <button type="button" title="<?php echo $this->quoteEscape($this->__('Quick Buy')) ?>" class="button btn-cart btn-short" onclick="setLocation('<?php echo Mage::helper('medialounge_checkout/cart')->getAddToCartUrl($_product); ?>//')"><span><span><?php echo $this->__('Quick Buy') ?></span></span></button>
                        <?php endif; ?>
                    <?php else: ?>
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                </div>
            </li>
            <?php if ($i%$_columnCount==0 || $i==count($_products)): ?>
                </ul>
            <?php endif ?>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>