<?php
    $product = Mage::registry('product');
        $options = $product->getOptions();
        $engravingTextId = 0;
        $fontId = 0;
        $engravingTextOptionId = 0;
        $maxChar = 30;
        foreach ($options as $option){
            if($option->getTitle() == 'Engraving Text'){
                $engravingTextId = $option->getId();
                $maxChar = $option->getMaxCharacters();
            }
            if($option->getTitle() == 'Engraving'){
                $fontId = $option->getId();
            }
        }
        ?>
        <!DOCTYPE html>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
        <head>
            <script src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) ?>frontend/base/default/js/amasty/plugins/jquery.elevatezoom.js"></script>
            <script src="<?php echo Mage::getBaseUrl() ?>js/opentechiz/circletype.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        </head>
        <div id="product-options-dropdown">
            <div id="htmlOutput">
                <?php
                foreach ($options as $option){
                    if($option->getType() == 'stone'){
                        ?>
                        <div class="dropbtn-<?php echo $option->getSortOrder() ?> ot-dropdown" id="app-<?php echo $option->getSortOrder() ?>">
                            <div class="ot-dropdown-left">
                                <div class="label-items">
                                    <div class="select-stone-btn">
                                        <?php echo $option->getTitle(); ?>
                                    </div>
                                    <small id="stoneNameOnBtn-<?php echo $option->getSortOrder() ?>" style="float: left;"></small>
                                    <small id="quality-<?php echo $option->getSortOrder() ?>" style="float: left;"></small>
                                </div>
                            </div>
                            <div class="ot-dropdown-right">
                                <div class="image-items">
                                    <img id="<?php echo $option->getSortOrder() ?>" src="" class="btn-image-item" />
                                </div>
                                <div class="icon-items">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </div>
                            <div class="ot-dropdown-content" id="ot-dropdown-content-<?php echo $option->getSortOrder() ?>">
                                <div class="ot-dropdown-content-wrap">
                                    <div class="stone-cat">DIAMONDS</div>
                                    <?php if($this->hasDiamond($option->getValues())){ ?>
                                        <div class="diamond-dropdown">
                                            <?php $stoneNameFromSku = 'diamond' ?>
                                            <div class="item-row" onmouseover="changeStoneInfo('<?php echo OpenTechiz_Material_Helper_Data::OPPENTECHIZ_MATERIAL_STONE_TYPE[$stoneNameFromSku] ?>', '<?php echo OpenTechiz_PersonalizedProduct_Helper_Data::BIRTH_STONE[$stoneNameFromSku] ?>', '<?php echo OpenTechiz_PersonalizedProduct_Helper_Data::STONE_ANNIVERSARY[$stoneNameFromSku] ?>','<?php echo $option->getSortOrder() ?>')">
                                                <div class="image-stone">
                                                    <img src="<?php echo $this->getMediaUrl() . 'image/personalizedproduct/stone/diamond' ?>.png"
                                                         class="stone-image material-image" alt="<?php echo 'diamond' ?>"/>
                                                </div>
                                                <div class="label-stone">
                                                    <span class="stone-label" style="text-transform: capitalize"><?php echo 'Diamond' . '<br>' ?></span>
                                                </div>
                                                <div class="diamond-dropdown-content">

                                                    <?php foreach ($this->getStoneSkus($option->getValues()) as $stoneName): ?>
                                                        <?php if ($this->isDiamond($stoneName)) { ?>
                                                            <div onclick="chooseStone('<?php echo $option->getSortOrder()?>', '<?php echo $this->getDataSku($stoneName)[0] ?>', '<?php echo $this->getDataSku($stoneName)[1] ?>')" class="ot-stone-anchor-<?php echo $option->getSortOrder() ?> div-hover " v-on:click="clickStone('<?php echo $option->getSortOrder()?>', '<?php echo $this->getDataSku($stoneName)[0] ?>', '<?php echo $this->getDataSku($stoneName)[1] ?>')">
                                                                <div id="background-<?php echo $option->getSortOrder() .'-'. $this->getDataSku($stoneName)[0]?>" class="ot-stone-background-<?php echo $option->getSortOrder() ?>">
                                                                    <span style="text-transform: uppercase; font-size: 10px"><?php echo $this->getDataSku($stoneName)[1] ?></span>
                                                                </div>
                                                            </div>
                                                        <?php } else { ?>
                                                            <?php continue; ?>
                                                        <?php } ?>
                                                    <?php endforeach; ?>

                                                </div>
                                            </div>
                                        </div>
                                    <?php } ?>

                                    <?php foreach ($this->getStoneSkus($option->getValues()) as $stoneName): ?>
                                        <?php if ($this->isDiamond($stoneName)) { ?>
                                            <?php continue; ?>
                                        <?php } else { ?>
                                            <?php if(strpos($stoneName, 'diamond') !== false){ ?>
                                                <div onclick="chooseStone('<?php echo $option->getSortOrder() ?>', '<?php echo $stoneName ?>', '')"
                                                     class="ot-stone-anchor-<?php echo $option->getSortOrder() ?> div-hover"
                                                     v-on:click="clickStone('<?php echo $option->getSortOrder() ?>', '<?php echo $stoneName ?>')">
                                                    <div class="item-row" onmouseover="changeStoneInfo('<?php echo OpenTechiz_Material_Helper_Data::OPPENTECHIZ_MATERIAL_STONE_TYPE[$stoneName] ?>', '<?php echo OpenTechiz_PersonalizedProduct_Helper_Data::BIRTH_STONE[$stoneName] ?>', '<?php echo OpenTechiz_PersonalizedProduct_Helper_Data::STONE_ANNIVERSARY[$stoneName] ?>', '<?php echo $option->getSortOrder() ?>')">
                                                        <div class="image-stone material-image">
                                                            <img src="<?php echo $this->getMediaUrl() . 'image/personalizedproduct/stone/' . $stoneName ?>.png"
                                                                 class="stone-image" alt="<?php echo $stoneName ?>"/>
                                                        </div>
                                                        <div class="label-stone">
                                                            <span class="stone-label" style="text-transform: capitalize"><?php echo $this->getDisplayName($stoneName) . '<br>' ?></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            <?php }else{ ?>
                                                <?php continue; ?>
                                            <?php } ?>
                                        <?php } ?>
                                    <?php endforeach; ?>
                                    <div class="stone-cat">GEMSTONES</div>

                                    <?php foreach ($this->getStoneSkus($option->getValues()) as $stoneName): ?>
                                        <?php if ($this->isDiamond($stoneName) || strpos($stoneName, 'diamond') !== false) { ?>
                                            <?php continue; ?>
                                        <?php } else { ?>
                                            <div onclick="chooseStone('<?php echo $option->getSortOrder() ?>', '<?php echo $stoneName ?>', '')"
                                                 class="ot-stone-anchor-<?php echo $option->getSortOrder() ?> div-hover"
                                                 v-on:click="clickStone('<?php echo $option->getSortOrder() ?>', '<?php echo $stoneName ?>')">
                                                <div class="item-row" onmouseover="changeStoneInfo('<?php echo OpenTechiz_Material_Helper_Data::OPPENTECHIZ_MATERIAL_STONE_TYPE[$stoneName] ?>', '<?php echo OpenTechiz_PersonalizedProduct_Helper_Data::BIRTH_STONE[$stoneName] ?>', '<?php echo OpenTechiz_PersonalizedProduct_Helper_Data::STONE_ANNIVERSARY[$stoneName] ?>', '<?php echo $option->getSortOrder() ?>')">
                                                    <div class="image-stone material-image">
                                                        <img src="<?php echo $this->getMediaUrl() . 'image/personalizedproduct/stone/' . $stoneName ?>.png"
                                                             class="stone-image" alt="<?php echo $stoneName ?>"/>
                                                    </div>
                                                    <div class="label-stone">
                                                        <span class="stone-label" style="text-transform: capitalize"><?php echo $this->getDisplayName($stoneName) . '<br>' ?></span>
                                                    </div>
                                                </div>
                                            </div>
                                        <?php } ?>
                                    <?php endforeach; ?>

                                    <div id="stoneInfo">
                                        <span class="stoneInfoName" id="stoneInfoName-<?php echo $option->getSortOrder() ?>"></span>
                                        <div id="stoneInfo-birthRow-<?php echo $option->getSortOrder() ?>"><span class="stoneInfo-title"><?php echo Mage::helper('personalizedproduct')->__('Birthstone: ') ?></span><span class="birthstone" id="birthstone-<?php echo $option->getSortOrder() ?>"></span></div>
                                        <div id="stoneInfo-anniRow-<?php echo $option->getSortOrder() ?>"><span class="stoneInfo-title"><?php echo Mage::helper('personalizedproduct')->__('Anniversary: ') ?></span><span class="stoneAnniversary" id="stoneAnniversary-<?php echo $option->getSortOrder() ?>"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <?php
                    }
                    if($option->getType() == 'gold'){
                        ?>
                        <div class="ot-dropdown alloy" id="app-<?php echo $option->getSortOrder() ?>">
                            <div class="ot-dropdown-left">
                                <div class="label-items">
                                    <div class="select-gold-btn">
                                        <?php echo Mage::helper('personalizedproduct')->__('Metal') ?>
                                    </div>
                                    <small id="goldNameOnBtn-<?php echo $option->getSortOrder() ?>" style="float: left;"></small>
                                </div>
                            </div>
                            <div class="ot-dropdown-right">
                                <div class="image-items">
                                    <img id="<?php echo $option->getSortOrder() ?>" src="" class=""/>
                                </div>
                                <div class="icon-items">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </div>

                            <div class="ot-dropdown-content" id="ot-dropdown-content-<?php echo $option->getSortOrder() ?>">
                                <div class="ot-dropdown-content-wrap">
                                    <?php $i = 0; ?>
                                    <?php foreach ($this->getGoldNames($option->getValues()) as $goldType): ?>
                                        <?php $i++ ?>
                                        <div onclick="chooseGold('<?php echo $option->getSortOrder()?>', '<?php echo $goldType ?>')"
                                             class="ot-gold-anchor-<?php echo $option->getSortOrder() ?> div-hover"
                                             v-on:click="clickGold('<?php echo $option->getSortOrder()?>', '<?php echo $goldType ?>')" >
                                            <div class="item-row">
                                                <div class="image-gold">
                                                    <img src="<?php echo $this->getMediaUrl().'image/personalizedproduct/alloy/'.$goldType?>.png" class="gold-image"/>
                                                </div>
                                                <div class="label-gold">
                                                    <span class="gold-label" style="text-transform: capitalize"><?php echo OpenTechiz_PersonalizedProduct_Helper_Data::ALLOY_OPTION[$goldType]. '<br>' ?></span>
                                                </div>
                                            </div>
                                        </div>
                                    <?php endforeach; ?>
                                </div>
                            </div>
                        </div>
                        <?php
                    }
                    if(str_replace(' ', '', strtolower($option->getTitle())) == 'engravingtext'){
                        $engravingTextOptionId = $option->getId();
                    }
                }
                ?>
            </div>
            <?php if(Mage::helper('personalizedproduct')->hasEngravingOption($product->getId())){ ?>
            <!--        onclick="toggleDiv('engrave-div')"-->
            <div class="ot-dropdown" >
                <div class="ot-dropdown-left">
                    <div class="label-items">
                        <div class="select-gold-btn">
                            Engraving
                        </div>
                    </div>
                </div>
                <div class="ot-dropdown-right">
                    <div class="icon-items">
                        <dd class="engraving" id="select_6">
                            <div class="input-box">
                                <select  id="engraving-font-mirror" class=" required-entry product-custom-option" title="">
                                </select>
                            </div>
                        </dd>
                    </div>
                </div>
            </div>
            <div style="">
                <div id="engrave-div" class="engrave-div" style="display: none;">

                    <dt data-title="Engraving Text" class="js-engraving-text input-engraving-text"></dt>
                    <dd class="last" style="margin-top: 10px">
                        <div class="input-box" style="">
                            <div style="display: flex;">
                                <input type="text" onfocus="keepFocus()" oninput="changeEngraveText(true)" maxlength = "<?php echo $maxChar ?>" id="engraving_text_mirror" class="input-text  validate-length maximum-length-30 product-custom-option required-entry"
                                       value="" placeholder="Engraving Text" style="">
                            </div>
                            <div class="validation-advice" id="advice-required-entry-options_<?php echo $engravingTextOptionId ?>_text" style="display: none; width: 100%;">This is a required field.</div>
                            <p class="note">Maximum number of characters: <strong><?php echo $maxChar ?></strong></p>
                        </div>
                    </dd>
                </div>
                <div class="engraving-preview-wp engraving-inside-preview preview-on-desktop" id="engraving-preview" data-side="engraving-inside" style="left: 337px; top: -86px; display: none;">
                    <div class="engraving-preview">
                        <p class="title">
                            Engraving Preview
                        </p>
                        <div class="engraving-bg inside engraving-white">
                            <div class="engravings engraving-text" id="engrave-text-span">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="engrave-border">

            </div>
            <?php } ?>
        </div>


        <script>
            var mediaUrl = '<?php echo $this->getMediaUrl() ?>';
            jQuery.noConflict();
            <?php if(Mage::helper('personalizedproduct')->hasEngravingOption($product->getId())){ ?>
            if(typeof(engravingOptionHtml) !== 'undefined') {
                document.getElementById('engraving-font-mirror').innerHTML += engravingOptionHtml;
            }
            jQuery("#engraving-font-mirror").children().first().remove();
            var notEngraveValue = jQuery("#engraving-font-mirror").children().first().val();

            var engraveOption = document.getElementById('engraving-font-mirror').innerHTML;
            document.getElementById('engraving-font-mirror').innerHTML = '<option value=""><?php echo Mage::helper("personalizedproduct")->__("Select Engraving"); ?></option>' + engraveOption;

            var valueToSelect = notEngraveValue;
            var id = fontInputId;
            var element = document.getElementById(id);
            element.value = valueToSelect;
            document.getElementById('engraving_text_mirror').disabled = true;
            //var engravingTextRequire = document.getElementById('advice-required-entry-options_<?php //echo $engravingTextOptionId ?>//_text');
            //engravingTextRequire.id = 'not-required';
            var engrave = false;

            //custom select box
            jQuery('#engraving-font-mirror').each(function () {

                // Cache the number of options
                var $this = jQuery(this),
                    numberOfOptions = jQuery(this).children('option').length;

                // Hides the select element
                $this.addClass('s-hidden');

                // Wrap the select element in a div
                $this.wrap('<div class="select"></div>');

                // Insert a styled div to sit over the top of the hidden select element
                $this.after('<div class="styledSelect" id="current-font"></div>');

                // Cache the styled div
                var $styledSelect = $this.next('div.styledSelect');

                // Show the first select option in the styled div
                $styledSelect.text($this.children('option').eq(0).text());

                // Insert an unordered list after the styled div and also cache the list
                var $list = jQuery('<ul />', {
                    'class': 'options'
                }).insertAfter($styledSelect);

                // Insert a list item into the unordered list for each select option
                for (var i = 1; i < numberOfOptions; i++) {
                    jQuery('<li />', {
                        text: $this.children('option').eq(i).text(),
                        rel: $this.children('option').eq(i).val(),
                        style: 'font-family: ' + $this.children('option').eq(i).text().toLowerCase().replace('font','').trim(),
                        onclick: 'changeFont("'+$this.children('option').eq(i).val()+'", "'+$this.children("option").eq(i).text()+'")'
                    }).appendTo($list);
                }

                // Cache the list items
                var $listItems = $list.children('li');

                // Show the unordered list when the styled div is clicked (also hides it if the div is clicked again)
                $styledSelect.click(function (e) {
                    e.stopPropagation();
                    jQuery('div.styledSelect.active').each(function () {
                        jQuery(this).removeClass('active').next('ul.options').hide();
                    });
                    jQuery(this).toggleClass('active').next('ul.options').toggle();
                });

                // Hides the unordered list when a list item is clicked and updates the styled div to show the selected list item
                // Updates the select element to have the value of the equivalent option
                $listItems.click(function (e) {
                    e.stopPropagation();
                    $styledSelect.text(jQuery(this).text()).removeClass('active');
                    $this.val(jQuery(this).attr('rel'));
                    $list.hide();
                    /* alert($this.val()); Uncomment this for demonstration! */
                });

                // Hides the unordered list when clicking outside of it
                document.onclick = function () {
                    $styledSelect.removeClass('active');
                    $list.hide();
                };

            });
            //end custom select box
            <?php } ?>
            var focused = false;
            function keepFocus() {
                // if(focused === false)
                //     setTimeout(function () { jQuery("#engraving_text_mirror").focus(); }, 200);
                // focused = true;
                //
                // setTimeout(function () { focused = false}, 1000);
            }

            jQuery('#engraving_text_mirror').on('click',function(){
                if(!jQuery('#engraving_text_mirror').is(':focus')){
                    jQuery('#qty').focus();
                    setTimeout(function () { jQuery("#engraving_text_mirror").focus(); }, 370);
                }
            });


            // function changeFont(option)
            function changeFont(value, text)
            {
                var fontInput = document.getElementById('engraving-font-mirror');
                var textInput = document.getElementById('engraving_text_mirror');
                var engraveTextInput = document.getElementById('options_<?php echo $engravingTextId ?>_text');
                // var required = document.getElementById('required-entry-engraving');

                // var fontName = option.options[option.selectedIndex].text;
                var fontName = text.replace('Font','').trim();
                fontInput.value = value;

                var id = fontInputId;
                var element = document.getElementById(id);
                element.value = fontInput.value;

                if(fontName == "Don't Engrave" || fontName == "Engraving"){
                    closeDiv('engrave-div');
                    engrave = false;
                    textInput.value = '';
                    textInput.disabled = true;
                    textInput.required = false;
                    // engravingTextRequire.style.display = 'none';
                    // required.style.display = 'none';
                    // jQuery(".add-to-cart-buttons .btn-cart").prop('disabled', false);
                    engraveTextInput.classList.remove("required-entry");
                    document.getElementById('current-font').style.fontFamily = 'Arial, sans-serif';
                } else{
                    openDiv('engrave-div');
                    engrave = true;
                    textInput.disabled = false;
                    textInput.required = true;
                    //engravingTextRequire.id = 'advice-required-entry-options_<?php //echo $engravingTextOptionId ?>//_text';
                    // engravingTextRequire.style.display = 'block';
                    // required.style.display = 'block';
                    // if(document.getElementById('engraving_text_mirror').value === ''){
                    //     jQuery(".add-to-cart-buttons .btn-cart").prop('disabled', true);
                    // }
                    engraveTextInput.classList.add("required-entry");
                    document.getElementById('current-font').style.fontFamily = fontName.toLowerCase();
                }

                changePreviewTextFont(fontName);
                changeEngraveText(engrave);
            }

            function changePreviewTextFont(fontName) {
                var previewTextDiv = document.getElementById('engrave-text-span');
                fontName = fontName.toLowerCase();
                var fontFamily = fontName.replace('font','');
                fontFamily = fontFamily.replace(' ','');
                previewTextDiv.style.fontFamily = fontFamily;
                if(fontFamily == 'script') previewTextDiv.style.fontSize = '26px';
                else if(fontFamily == 'futura') previewTextDiv.style.fontSize = '22px';
                else previewTextDiv.style.fontSize = '18px';
            }

            function changeEngraveText(engrave) {
                var engraveTextInput = document.getElementById('options_<?php echo $engravingTextId ?>_text');
                var engraveMirror = document.getElementById('engraving_text_mirror');
                engraveTextInput.value = engraveMirror.value;
                // if(document.getElementById('engraving_text_mirror').value === ''){
                //     jQuery(".add-to-cart-buttons .btn-cart").prop('disabled', true);
                // if(engrave === false){
                //     if(engraveTextInput.hasClass("required-entry")
                // } else{
                //     engraveTextInput
                // }

                addTextToPreview();
            }

            function addTextToPreview() {
                var engraveMirror = document.getElementById('engraving_text_mirror');

                document.getElementById('engrave-text-span').innerHTML = engraveMirror.value;
                new CircleType(document.getElementById('engrave-text-span')).radius(850);
            }

            function closeBox() {
                var pre = document.getElementById('engraving-preview');
                pre.style.display = "none";
            }

            function openPreview() {
                var pre = document.getElementById('engraving-preview');

                // if(pre.style.display === "none"){
                pre.style.display = "block";
                changeEngraveText(engrave);
                // } else{
                //     pre.style.display = 'none';
                // }
            }

            function toggleDiv(id) {
                var div = document.getElementById(id);
                var pre = document.getElementById('engraving-preview');

                if(div.style.display === "none"){
                    div.style.display = "block";
                    changeEngraveText(engrave);
                } else{
                    div.style.display = "none";
                    pre.style.display = 'none';
                }
            }

            function openDiv(id){
                var div = document.getElementById(id);
                var pre = document.getElementById('engraving-preview');

                div.style.display = "block";
                changeEngraveText(engrave);
                openPreview();
            }

            function closeDiv(id) {
                var div = document.getElementById(id);
                var pre = document.getElementById('engraving-preview');

                div.style.display = "none";
                pre.style.display = 'none';
            }

            function changeStoneImageOnButton(optionId, stoneName) {
                document.getElementById(optionId).src = "<?php echo $this->getMediaUrl() . 'image/personalizedproduct/stone/' ?>" + stoneName + ".png";
                document.getElementById(optionId).alt = stoneName;
            }

            function changeStoneInfo(stoneName, birthStone, anniversary, sortOrder) {
                var nameSpan = document.getElementById('stoneInfoName-'+sortOrder);
                var stoneBirthDiv = document.getElementById('stoneInfo-birthRow-'+sortOrder);
                var stoneBirthSpan = document.getElementById('birthstone-'+sortOrder);
                var stoneAnniDiv = document.getElementById('stoneInfo-anniRow-'+sortOrder);
                var stoneAnniSpan = document.getElementById('stoneAnniversary-'+sortOrder);

                nameSpan.innerText = stoneName;
                if(birthStone === ''){
                    stoneBirthDiv.style.display = 'none';
                }else{
                    stoneBirthDiv.style.display = 'block';
                    stoneBirthSpan.innerText = birthStone;
                }

                if(anniversary === ''){
                    stoneAnniDiv.style.display = 'none';
                }else{
                    stoneAnniDiv.style.display = 'block';
                    stoneAnniSpan.innerText = anniversary;
                }
            }

            var defaultQuality = 'si';
            var baseUrl = '<?php echo Mage::getBaseUrl(); ?>';
            var sku =  '<?php echo Mage::registry('product')->getSku(); ?>';
            var numOfView = '<?php echo Mage::registry('product')->getData("num_of_view"); ?>';
            var productType ='<?php echo $this->getProductType() ?>';
            var url = window.location.href;
            var hasOptionOnUrl = false;
            var productSku = '<?php echo Mage::registry('product')->getSku() ?>';
            var smallImage = [], largeImage=[];
            var productId = '<?php echo $product->getId() ?>';
            var flag = false;

            renderOptions();

            <?php if($this->isJewelry()): ?>
            addVue('#htmlOutput');
            flag = true;
            <?php endif; ?>

            function renderOptions(){
                url = url.replace('#/','');
                if(url.match(".*[/]$")) url = url.slice(0, -1);
                var string = /[^/]*$/.exec(url)[0];

                <?php if($this->getHasOptionParam()){ ?>
                var parts = string.split('-');

                goldType = parts[0];
                productType = productType;
                stones = {};

                var i = 0;
                for (var j = 3; j < parts.length; j += 2) {
                    stones[i] = parts[j];
                    i++;
                }
                if(checkStringHasValidStoneOptions(stones, '<?php echo $this->getProductOptionStoneData() ?>')) {
                    i = 0;
                    for (var k in stoneData) {
                        if (stoneData.hasOwnProperty(k)) {
                            if (stones[i])
                                stoneData[k] = stones[i];
                            i++;
                        }
                    }
                }

                hasOptionOnUrl = true;
                <?php } ?>
            }

            function checkStringHasValidStoneOptions(stoneArray, data){
                var valid = true;
                data = JSON.parse(data);
                for(var i = 0; i< data.length; i++){
                    var hasData = (data[i].indexOf(stoneArray[i]) > -1);
                    if(hasData === false) return hasData;
                }
                return valid;
            }

            function hasQuality(stoneName){
                return '<?php echo $this->hasQuality(); ?>';
            }

            //change price on sticky when sticky show up
            var intervalID = window.setInterval(stickyCallback, 1000);

            function stickyCallback() {
                var stickyPrice = document.getElementById('ccStickyPrice');
                if(stickyPrice) {
                    stickyPrice.innerHTML = document.getElementById('product-price-<?php echo $product->getId() ?>').innerHTML;
                    clearInterval(intervalID);
                }
            }
        </script>
        <style>
            @font-face { font-family: block; src: url('<?php echo Mage::getBaseUrl() ?>js/opentechiz/fonts/block.otf'); }
            @font-face { font-family: script; src: url('<?php echo Mage::getBaseUrl() ?>js/opentechiz/fonts/script.ttf'); }
            @font-face { font-family: helvetica; src: url('<?php echo Mage::getBaseUrl() ?>js/opentechiz/fonts/helvetica.ttf'); }
            @font-face { font-family: futura; src: url('<?php echo Mage::getBaseUrl() ?>js/opentechiz/fonts/futura.ttf'); }
            @font-face { font-family: roman; src: url('<?php echo Mage::getBaseUrl() ?>js/opentechiz/fonts/roman.ttf'); }
            @font-face { font-family: contemp; src: url('<?php echo Mage::getBaseUrl() ?>js/opentechiz/fonts/contemp.otf'); }


            .engrave-border{
                border-top: none;
                border-bottom-color: rgb(215, 215, 215);
                border-bottom-style: solid;
                border-bottom-width: 1px;
            }
            .engrave-div{
                padding-left: 5px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .a-preview-btn{
                height: 38px;
                width: 30px;
                margin-left: 10px;
                margin-right: 5px;
                border-radius: 5px;
            }
            .preview-btn-icon{
                font-size: 25px;
                margin-top: 5px;
                color: grey;
            }
            .preview-btn-icon:hover{
                opacity: .7;
            }
            .engraving-bg{
                background-image: url("<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'image/personalizedproduct/engraving_preview/engraving_white.jpg' ?>");
                background-position-y: 33%;
                background-position-x: 65%;
                width: 306px;
                height: 190px;
            }
            .engraving-text{
                position: relative;
                text-align: center;
                line-height: 190px;
                text-shadow: rgba(255, 255, 255, 0.4) 0px 1px 0px, rgba(0, 0, 0, 0.8) 0px -1px 0px;
                color: transparent;
                font-size: 18px;
            }
            .title{
                height: 40px;
                background-color: #efefef;
                padding: 8px 10px;
            }
        </style>