<?php
/**
 * My Widget template description
 *
 * @category    design
 * @package     ml_itshot
 * @author      Javier Villanueva <javier@medialounge.co.uk>
 */
?>
<div class="widget widget-tabs">
    <?php $_helper = $this->helper('catalog/output'); ?>
    <?php $popularProducts = $this->getBestsellingProducts(); ?>
    <?php $featuredProducts = $this->getFeaturedProducts(); ?>
    <?php $saleProducts = $this->getSaleProducts(); ?>

    <div class="js-tabs">
        <ul>
            <?php if (sizeof($popularProducts) > 0) : ?>
            <li><a href="#tabs-1"><span><?php echo $this->__('Popular') ?></span></a></li><!--
            --><?php endif; ?><!--
            --><li><a href="#tabs-2"><span><?php echo $this->__('Featured') ?></span></a></li><!--
            --><li><a href="#tabs-3"><span><?php echo $this->__('Sale') ?></span></a></li>
        </ul>

        <?php if (sizeof($popularProducts) > 0) : ?>
            <div id="tabs-1">
                <ul class="products-grid products-grid-fullwidth <?php if (sizeof($popularProducts) < 5) : ?> products-grid-empty <?php endif; ?> js-slider-vertical">
                    <?php foreach ($popularProducts as $_product) : ?>
                        <li class="item">
                            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo htmlentities($this->stripTags($_product->getName())) ?>" class="product-image">
                                <?php $_imgSize = 145; ?>
                                <?php
                                $sku = $_product->getSKu();
                                if($_product->getDefaultStone() && $_product->getDefaultAlloy()){
                                    $defaultStone = strtolower(str_replace(' ', '', $_product->getAttributeText('default_stone')));
                                    $defaultAlloy = strtolower(str_replace(' ', '', $_product->getAttributeText('default_alloy')));
                                    $sku = $_product->getSku().OpenTechiz_SalesExtend_Helper_Sku::SKU_SEPARATOR.$defaultStone;
                                    $countStoneOption = 0;
                                    foreach ($_product->getOptions() as $o) {
                                        $optionType = $o->getType();
                                        if ($optionType == 'stone') {
                                            $countStoneOption++;
                                        }
                                    }

                                    for($i = 0; $i < $countStoneOption-1; $i++){
                                        $sku.='-diamond';
                                    }

                                    $sku.=OpenTechiz_SalesExtend_Helper_Sku::SKU_SEPARATOR.$defaultAlloy.OpenTechiz_SalesExtend_Helper_Sku::SKU_SEPARATOR.'0';
                                }
                                $_product->setSku($sku);
                                ?>
                                <img id="product-collection-image-<?php echo $_product->getId(); ?>"
                                     data-src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_imgSize); ?>"
                                     src="<?php echo $this->getSkinUrl('images/mgt_lazy_image_loader/px.gif'); ?>"
                                     alt="<?php echo htmlentities($this->stripTags($_product->getName())) ?>"
                                     class="lazy"
                                />
                            </a>
                            <div class="product-info">
                                <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo htmlentities($this->stripTags($_product->getName(), null, true)) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h3>
                                <?php
                                // Provides extra blocks on which to hang some features for products in the list
                                // Features providing UI elements targeting this block will display directly below the product name
                                if ($this->getChild('name.after')) {
                                    $_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
                                    foreach ($_nameAfterChildren as $_nameAfterChildName) {
                                        $_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
                                        $_nameAfterChild->setProduct($_product);
                                        echo $_nameAfterChild->toHtml();
                                    }
                                }
                                ?>
                                <?php if ($_product->getData('c2c_call_for_price') !== '1') : ?>
                                    <?php echo $this->getPriceHtml($_product, true, '_cloned') ?>
                                    <div class="actions-secondary">
                                        <?php if($_product->isSaleable() && !Mage::helper('personalizedproduct')->isPersonalizedProduct($_product)): ?>
                                            <button type="button" title="<?php echo $this->quoteEscape($this->__('Buy Now')) ?>" class="button btn-cart btn-short" onclick="setLocation('<?php echo Mage::helper('medialounge_checkout/cart')->getAddToCartUrl($_product); ?>')"><span><span><?php echo $this->__('Buy Now') ?></span></span></button>
                                        <?php else: ?>
                                            <a title="<?php echo $this->quoteEscape($this->__('View Details')) ?>" class="button btn-short" href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__('View Now') ?></a>
                                        <?php endif; ?>
                                    </div>
                                <?php else: ?>
                                    <p class="price-contact-notice"><?php echo $this->__('Please contact us for price and availability') ?></p>
                                <?php endif; ?>
                            </div>
                        </li>
                    <?php endforeach; ?>
                </ul>
            </div>
        <?php endif; ?>

        <?php if ($featuredProducts->getSize() > 0) : ?>
            <div id="tabs-2">
                <ul class="products-grid products-grid-fullwidth <?php if ($featuredProducts->getSize() < 5) : ?> products-grid-empty <?php endif; ?> js-slider-vertical">
                    <?php foreach ($featuredProducts as $_product) : ?>
                        <li class="item">
                            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName()) ?>" class="product-image">
                                <?php $_imgSize = 145; ?>
                                <img id="product-collection-image-<?php echo $_product->getId(); ?>"
                                     data-src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_imgSize); ?>"
                                     src="<?php echo $this->getSkinUrl('images/mgt_lazy_image_loader/px.gif'); ?>"
                                     alt="<?php echo $this->stripTags($_product->getName()) ?>" class="lazy"/>
                            </a>
                            <div class="product-info">
                                <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h3>
                                <?php
                                // Provides extra blocks on which to hang some features for products in the list
                                // Features providing UI elements targeting this block will display directly below the product name
                                if ($this->getChild('name.after')) {
                                    $_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
                                    foreach ($_nameAfterChildren as $_nameAfterChildName) {
                                        $_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
                                        $_nameAfterChild->setProduct($_product);
                                        echo $_nameAfterChild->toHtml();
                                    }
                                }
                                ?>
                                <?php if ($_product->getData('c2c_call_for_price') !== '1') : ?>
                                    <?php echo $this->getPriceHtml($_product, true) ?>
                                    <div class="actions-secondary">
                                        <?php if($_product->isSaleable() && !Mage::helper('personalizedproduct')->isPersonalizedProduct($_product->getId(), $_product)): ?>
                                            <button type="button" title="<?php echo $this->quoteEscape($this->__('Buy Now')) ?>" class="button btn-cart btn-short" onclick="setLocation('<?php echo Mage::helper('medialounge_checkout/cart')->getAddToCartUrl($_product); ?>')"><span><span><?php echo $this->__('Buy Now') ?></span></span></button>
                                        <?php else: ?>
                                            <a title="<?php echo $this->quoteEscape($this->__('View Details')) ?>" class="button btn-short" href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__('View Now') ?></a>
                                        <?php endif; ?>
                                    </div>
                                <?php else: ?>
                                    <p class="price-contact-notice"><?php echo $this->__('Please contact us for price and availability') ?></p>
                                <?php endif; ?>
                            </div>
                        </li>
                    <?php endforeach; ?>
                </ul>
            </div>
        <?php endif; ?>

        <?php if ($saleProducts->getSize() > 0) : ?>
            <div id="tabs-3">
                <ul class="products-grid products-grid-fullwidth <?php if ($saleProducts->getSize() < 5) : ?> products-grid-empty <?php endif; ?> js-slider-vertical">
                    <?php foreach ($saleProducts as $_product) : ?>
                        <li class="item">
                            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName()) ?>" class="product-image">
                                <?php $_imgSize = 145; ?>
                                <img id="product-collection-image-<?php echo $_product->getId(); ?>"
                                     data-src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_imgSize); ?>"
                                     src="<?php echo $this->getSkinUrl('images/mgt_lazy_image_loader/px.gif'); ?>"
                                     alt="<?php echo $this->stripTags($_product->getName()) ?>" class="lazy"/>
                            </a>
                            <div class="product-info">
                                <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h3>
                                <?php
                                // Provides extra blocks on which to hang some features for products in the list
                                // Features providing UI elements targeting this block will display directly below the product name
                                if ($this->getChild('name.after')) {
                                    $_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
                                    foreach ($_nameAfterChildren as $_nameAfterChildName) {
                                        $_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
                                        $_nameAfterChild->setProduct($_product);
                                        echo $_nameAfterChild->toHtml();
                                    }
                                }
                                ?>
                                <?php if ($_product->getData('c2c_call_for_price') !== '1') : ?>
                                    <?php echo $this->getPriceHtml($_product, true) ?>
                                    <div class="actions-secondary">
                                        <?php if($_product->isSaleable() && !Mage::helper('personalizedproduct')->isPersonalizedProduct($_product->getId(), $_product)): ?>
                                            <button type="button" title="<?php echo $this->quoteEscape($this->__('Buy Now')) ?>" class="button btn-cart btn-short" onclick="setLocation('<?php echo Mage::helper('medialounge_checkout/cart')->getAddToCartUrl($_product); ?>')"><span><span><?php echo $this->__('Buy Now') ?></span></span></button>
                                        <?php else: ?>
                                            <a title="<?php echo $this->quoteEscape($this->__('View Details')) ?>" class="button btn-short" href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__('View Now') ?></a>
                                        <?php endif; ?>
                                    </div>
                                <?php else: ?>
                                    <p class="price-contact-notice"><?php echo $this->__('Please contact us for price and availability') ?></p>
                                <?php endif; ?>
                            </div>
                        </li>
                    <?php endforeach; ?>
                </ul>
            </div>
        <?php endif; ?>
    </div>
</div>
