
<div class="wishlist-block">
    <p class="bordered-title bordered-title-center skip-title h3"><?php echo $this->getTitle(); ?></p>
    <div class="block-content">
        <?php if ($this->hasWishlistItems()): ?>
            <?php $_helper = $this->helper('catalog/output'); ?>
            <ol class="products-grid wishlist-products-grid js-wishlist" id="wishlist-sidebar">
                <?php foreach ($this->getWishlistItems() as $product): ?>
                    <?php
                        $productUrl = $product->getProductUrl();
                        $sku = $product->getSku();
                        $isQuotation = false;
                        if(strpos($sku, 'quotation') !== false){
                            $quotationProductId = explode(OpenTechiz_SalesExtend_Helper_Sku::SKU_SEPARATOR, $sku)[1];
                            $quotationProduct = Mage::getModel('opentechiz_quotation/product')->load($quotationProductId);
                            $productUrl.= '/'.$quotationProduct->getQpName();
                            $product->setPrice($quotationProduct->getQpPrice());
                            $isQuotation = true;
                        }

                    ?>
                    <li class="item">
                        <?php // Product Image ?>
                        <a href="<?php echo $productUrl ?>" title="<?php echo $this->stripTags($product->getName()) ?>" class="product-image">
                            <img id="product-collection-image-<?php echo $product->getId(); ?>"
                                 src="<?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize(290, 160); ?>"
                                 alt="<?php echo $this->stripTags($product->getName()) ?>" />
                        </a>
                        <h3 class="product-name">
                            <a href="<?php echo $productUrl ?>"
                               title="<?php echo $this->stripTags($product->getName(), null, true) ?>">
                                <?php echo $_helper->productAttribute($product, $product->getName(), 'name') ?>
                            </a>
                        </h3>
                        <?php
                        if ($this->getChild('name.after')) {
                            $_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
                            foreach ($_nameAfterChildren as $_nameAfterChildName) {
                                $_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
                                $_nameAfterChild->setProduct($product);
                                echo $_nameAfterChild->toHtml();
                            }
                        }
                        ?>
                        <?php if ($product->getData('c2c_call_for_price') !== '1') : ?>
                        <?php if($isQuotation){ ?>
                                <div class="price-box"><p class="old-price">
                                        </p><p class="special-price">
                                        <span class="price-label">Special Price</span>
                                        <span class="price" id="product-price-26099-wishlist">
                                            $<?php echo number_format((float)$quotationProduct->getQpPrice(), 2, '.', ',') ?>
                                        </span></p></div>
                        <?php }else{ ?>
                            <?php  echo $this->getPriceHtml($product, false, '-wishlist') ?>
                        <?php } ?>
                        <?php else: ?>
                            <p class="price-contact-notice"><?php echo $this->__('Please contact us for price and availability') ?></p>
                        <?php endif; ?>
                    </li>
                <?php endforeach; ?>
            </ol>
            <script type="text/javascript">decorateList('wishlist-sidebar');</script>
            <div class="wishlist-actions">
                <a href="<?php echo $this->getUrl('amlist/list/edit', array('id' => $this->helper('medialounge_theme')->getLastListId())) ?>" class="button" rel="nofollow"><?php echo $this->__('View all items') ?></a>
            </div>
        <?php else: ?>
            <p class="empty"><?php echo $this->__('You have no items in your wishlist.') ?></p>
        <?php endif ?>
    </div>
</div>